<div class="row section-content">
  <div class="small-12 column">
    <h3 id="design_phase" data-magellan-target="design_phase">
      <%= t("pages.more_info.design_phase.title") %>
    </h3>
    <p><%= t("pages.more_info.design_phase.description") %></p>
    <ul class="features">
      <li>
        <%= t("pages.more_info.design_phase.feature_1") %>
      </li>
      <li><%= t("pages.more_info.design_phase.feature_2") %></li>
      <li><%= t("pages.more_info.design_phase.feature_3") %></li>

    </ul>
  </div>
</div>
