<div class="row section-content">
  <div class="small-12 column">
    <h3 id="polls" data-magellan-target="polls"><%= t("pages.more_info.polls.title") %></h3>
    <p>
      <%= link_to t("pages.more_info.polls.detail"), more_info_polls_path, class: "small" %>
    </p>
    <p><%= t("pages.more_info.polls.description") %></p>
    <ul class="features">
      <li>
        <%= t("pages.more_info.polls.feature_1",
              link: link_to(t("pages.more_info.polls.feature_1_link", org_name: setting['org_name']),
                               new_user_registration_path)).html_safe %>
      </li>
      <li><%= t("pages.more_info.polls.feature_2") %></li>
      <li><%= t("pages.more_info.polls.feature_3") %></li>
    </ul>

    <figure>
      <%= image_tag "more_info/vota.jpg", alt: t("pages.more_info.polls.image_alt") %>
      <figcaption><%= t("pages.more_info.polls.figcaption") %></figcaption>
    </figure>
  </div>
</div>
