<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      <%= t("pages.more_info.proposals.title") %>
    </h3>
    <p><%= t("pages.more_info.proposals.description") %></p>
    <ul class="features">
      <li><%= t("pages.more_info.proposals.feature_1") %></li>
      <li><%= t("pages.more_info.proposals.feature_2") %></li>
      <li><%= t("pages.more_info.proposals.feature_3") %></li>
    </ul>
  </div>
</div>
