<div class="row section-content">
  <div class="small-12 column">
    <h3 id="questions" data-magellan-target="proposals">
      <%= t("pages.more_info.questions.title") %>
    </h3>
    <p><%= t("pages.more_info.questions.description") %></p>
    <ul class="features">
      <li>
        <%= t("pages.more_info.proposals.feature_1",
              link: link_to(t("pages.more_info.questions.feature_1_link", org_name: setting['org_name']),
                               new_user_registration_path)).html_safe %>
      </li>
      <li><%= t("pages.more_info.questions.feature_2_html") %></li>
      <li><%= t("pages.more_info.questions.feature_3_html") %></li>
    </ul>
  </div>
</div>
