<div class="row account">
  <div class="small-12 column">

    <h1 class="inline-block"><%= t('verification.verified_user.show.title') %></h1>

    <% if @verified_users.map(&:email).any? %>
      <div><strong><%= t('verification.verified_user.show.email_title') %></strong></div>
      <ul>
        <% @verified_users.each do |verified_user| %>
          <% if verified_user.email.present? %>
            <li id="<%= dom_id(verified_user) %>_email" style="float:left">
              <span style="float:left">
                <%= verified_user.email %>
              </span>
              <span style="float:left;padding-left:30px">
                <%= render '/verification/email/form', verified_user: verified_user %>
              </span>
            </li>
            <br/><br/><br/>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% if @verified_users.map(&:phone).any? %>
      <div><strong><%= t('verification.verified_user.show.phone_title') %></strong></div>
      <ul style="padding-top:40px">
        <% @verified_users.each do |verified_user| %>
          <% if verified_user.phone.present? %>
            <li id="<%= dom_id(verified_user) %>_phone" style="float:left">
              <span style="float:left">
                <%= verified_user.phone %>
              </span>
              <span style="float:left;padding-left:30px">
                <%= render '/verification/sms/form', sms: Sms.new(phone: verified_user.phone) %>
              </span>
            </li>
            <br/><br/><br/>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <div style="margin-top: 30px">
      <%= link_to t('verification.verified_user.show.use_another_phone'), new_sms_path %>
    </div>

  </div>
</div>