<h2><%= t('omniauth.finish_signup.title') %></h2>

<%= form_for current_user, as: :user, url: do_finish_signup_path, html: { role: 'form'} do |f| %>
  <%= render 'shared/errors', resource: current_user %>

  <div class='callout primary'>
    <%= t("omniauth.finish_signup.username_warning") %>
  </div>

  <%= render 'custom/users/registrations/new_form', f: f %>


  <div class="text-center">
    <%= link_to t("devise_views.users.registrations.new.cancel"), destroy_user_session_path, class: 'delete', method: :delete %>
  </div>
<% end %>
