<section class="section py-3 py-md-6">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4 justify-content-center">
      <div class="float-left">
      <div class="h2 fw-bold text-center"><%= t("omniauth.finish_signup.title") %></div>

      <%= form_for current_user, as: :user, url: do_finish_signup_path, html: { role: "form" } do |f| %>
        <%= render "shared/errors", resource: current_user %>

        <div class="callout primary">
          <%= t("omniauth.finish_signup.username_warning") %>
        </div>

        <% if current_user.errors.include? :username %>
          <%= f.text_field :username, class:"form-control"%>
        <% else %>
          <%= f.hidden_field :username %>
        <% end %>

        <% if current_user.errors.include? :email %>
          <%= f.email_field :email, class:"form-control" %>
        <% else %>
          <%= f.hidden_field :email, class:"form-control" %>
        <% end %>

        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "bw-100 btn btn-lg btn-primary" %>

        <%= link_to t("devise_views.users.registrations.new.cancel"), destroy_user_session_path, class: "delete", method: :delete %>

      <% end %>

    </div>
  </div>
</div>

</div>
</section>
