<h1><%= t('admin.areas.areas_title') %></h1>

<%= link_to t('admin.areas.create_area'),
              new_admin_area_path(), class: 'button float-right' %>
<% if @areas.any? %>
  <table>
    <thead>
      <th class="large-9 small-5"><%= t("admin.areas.name") %></th>
      <th><%= t("admin.sub_areas.sub_areas_title") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @areas.each do |area| %>
        <tr>
          <td><%= link_to area.name, edit_admin_area_path(area) %></td>
          <td><%= area.sub_areas.count %></td>
          <td>
            <%= link_to t('admin.actions.delete'),
                        admin_area_path(area), method: :delete,
                        data: { confirm: t('admin.actions.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='callout primary'>
    <%= t('admin.areas.no_areas') %>
  </div>
<% end %>
