<% provide :title, "Plan de Derechos Humanos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_human_rights"),
          social_title: t("pages.processes.index.process_5_title"),
          social_description: t("pages.processes.index.process_5_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_5_title") %></h1>
      <h2>Selecciona aquellos derechos que te interesan/preocupan más y propón medidas concretas de actuación municipal para la defensa de los mismos.</h2>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">

    <ul class="process-collection row">
      <li class="small-12 medium-4 column">
        <div class="panel active">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel active">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho a la participación ciudadana en el diseño de las políticas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Derecho al acceso a la información de las administraciones públicas", "" %>
        </div>
      </li>
      <li class="small-12 medium-4 column">
        <div class="panel">
          <%= link_to "Libertad de expresión, reunión, manifestación", "" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row margin">
  <div class="small-12 medium-4 small-centered column">
    <%= link_to "Crear propuesta", "#", class: "button expanded" %>
  </div>
</div>
