<% provide :title, t("meta_tags.processes.title") %>
<% provide :meta_description, t("meta_tags.processes.description") %>
<% provide :tracking_page_number, "32" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: processes_url %>
<% end %>

<div class="expanded processes no-margin-top <%= css_for_human_rights_phase("accepting") %>">
  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        <%= t("pages.processes.index.title") %>
      </h1>
      <h2 class="label"><%= t("pages.processes.index.featured") %></h2>
      <!-- PROCESO DESTACADO (Registro de lobbies) -->
      <h3><%= t("processes.lobbies.title") %></h3>
      <p><%= t("processes.lobbies.description") %></p>
      <%# link_to t("processes.shared.more_info"), lobbies_path, class: "button" %>
    </div>
  </div>
</div>

<div class="processes-list padding">

  <div class="row">
    <div class="small-12 medium-3 column">
      <ul class="tabs vertical" id="processes-tab" data-tabs role="tablist">
        <li class="tabs-title is-active">
          <a href="#panel1v" role="tab">
            <%= t("pages.processes.menu.open") %>
          </a>
        </li>
        <li class="tabs-title">
          <a href="#panel2v" role="tab">
            <%= t("pages.processes.menu.coming_soon") %>
          </a>
        </li>
        <li class="tabs-title">
          <a href="#panel3v" aria-selected="true" role="tab">
            <%= t("pages.processes.menu.finished") %>
          </a>
        </li>
      </ul>
    </div>

    <div class="small-12 medium-9 column">
      <div class="tabs-content vertical" data-tabs-content="processes-tab">

        <!-- Procesos abiertos -->
        <div class="tabs-panel is-active" id="panel1v">
          <h2 class="sr-only"><%= t("pages.processes.menu.open") %></h2>

          <!-- Registro de lobbies -->
          <div class="panel">
            <h3><%= t("processes.lobbies.title") %></h3>
            <p><%= t("processes.lobbies.description") %></p>
            <%# link_to t("processes.shared.more_info"), lobbies_path, class: "button hollow" %>
          </div>
        </div>

        <!-- Procesos próximamente -->
        <div class="tabs-panel" id="panel2v">
          <h2 class="sr-only"><%= t("pages.processes.menu.coming_soon") %></h2>

          <div class="callout primary">
            <small>No hay procesos próximamente.</small>
          </div>
        </div>

        <!-- Procesos terminados -->
        <div class="tabs-panel" id="panel3v">
          <h2 class="sr-only"><%= t("pages.processes.menu.finished") %></h2>

          <!-- Publicidad exterior -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_17_title") %></h3>
            <p><%= t("pages.processes.index.process_17_description") %></p>
            <%= link_to t("pages.processes.index.process_17_button"), publicity_path, class: "button hollow" %>
          </div>

          <!-- Villaverde -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_19_title") %></h3>
            <p><%= t("pages.processes.index.process_19_description") %></p>
            <%= link_to t("pages.processes.index.process_19_button"), villaverde_path, class: "button hollow" %>
          </div>

          <!-- Vicálvaro -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_18_title") %></h3>
            <p><%= t("pages.processes.index.process_18_description") %></p>
            <%= link_to t("pages.processes.index.process_18_button"), vicalvaro_path, class: "button hollow" %>
          </div>

          <!-- Rehabilitación edificios -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_16_title") %></h3>
            <p><%= t("pages.processes.index.process_16_description") %></p>
            <%= link_to t("pages.processes.index.process_16_button"), buildings_path, class: "button hollow" %>
          </div>

          <!-- Nueva Ordenanza Movilidad -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_15_title") %></h3>
            <p><%= t("pages.processes.index.process_15_description") %></p>
            <%= link_to t("pages.processes.index.process_15_button"), movilidad_path, class: "button hollow" %>
          </div>

          <!-- Línea Madrid -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_14_title") %></h3>
            <p><%= t("pages.processes.index.process_14_description") %></p>
            <%= link_to t("pages.processes.index.process_14_button"), linea_madrid_path, class: "button hollow" %>
          </div>

          <!-- Remodelación de Plaza España -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_2_title") %></h3>
            <p><%= t("pages.processes.index.process_2_description_close") %></p>
            <%= link_to t("pages.processes.index.process_2_button"), plaza_path, class: "button hollow" %>
          </div>

          <!-- Borrador de Plan de Calidad de Aire y Cambio Climático -->
          <div id="air_quality_plan" class="panel">
            <h3><%= t("pages.processes.index.process_11_title") %></h3>
            <p><%= t("pages.processes.index.process_11_description") %></p>
            <%= link_to t("pages.processes.index.process_11_button"), air_quality_plan_path, class: "button hollow" %>
          </div>

          <!-- Nuevo barrio distrito Villa de Vallecas -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_13_title") %></h3>
            <p><%= t("pages.processes.index.process_13_description") %></p>
            <%= link_to t("pages.processes.index.process_13_button"), vallecas_path, class: "button hollow" %>
          </div>

          <!-- Rotulación de vías -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_12_title") %></h3>
            <p><%= t("pages.processes.index.process_12_description") %></p>
            <%= link_to t("pages.processes.index.process_12_button"), label_streets_path, class: "button hollow" %>
          </div>

          <!-- Licencias urbanísticas -->
          <div class="panel">
            <h3><%= t("pages.processes.index.process_8_title") %></h3>
            <p><%= t("pages.processes.index.process_8_description") %></p>
            <%= link_to t("pages.processes.index.process_8_button"), urbanistic_licenses_path, class: "button hollow" %>
          </div>

          <!-- Ordenanza subvenciones -->
          <div id="subvention-ordinance" class="panel">
            <h3><%= t("pages.processes.index.process_10_title") %></h3>
            <p><%= t("pages.processes.index.process_10_description") %></p>
            <%= link_to t("pages.processes.index.process_10_button"), subvention_ordinance_path, class: "button hollow" %>
          </div>

          <!-- Alianza para el Gobierno abierto -->
          <div id="open-government" class="panel">
            <h3><%= t("pages.processes.index.process_9_title") %></h3>
            <p><%= t("pages.processes.index.process_9_description") %></p>
            <%= link_to t("pages.processes.index.process_9_button"), open_government_path, class: "button hollow" %>
          </div>

          <!-- Plan Derechos humanos -->
          <div id="dd-hh" class="panel">
            <h3><%= t("pages.processes.index.process_5_title_voting") %></h3>
            <p><%= t("pages.processes.index.process_5_description_voting_html") %></p>
            <%= link_to t("pages.processes.index.process_5_button_voting"), human_rights_page_path, class: "button hollow" %>
          </div>

          <!-- Cartas de servicios -->
          <div id="service-letters" class="panel">
            <h3><%= t("pages.processes.index.process_6_title") %></h3>
            <p><%= t("pages.processes.index.process_6_description") %></p>
            <%= link_to t("pages.processes.index.process_6_button"), service_letters_path, class: "button hollow" %>
          </div>

          <!-- Urbanismo bancos -->
          <div id="town-planning" class="panel">
            <h3><%= t("pages.processes.index.process_7_title") %></h3>
            <p><%= t("pages.processes.index.process_7_description") %></p>
            <%= link_to t("pages.processes.index.process_7_button"), town_planning_path, class: "button hollow" %>
          </div>

          <!-- Pleno abierto -->
          <div id="open-plenary" class="panel">
            <h3><%= t("pages.processes.index.process_3_title") %></h3>
            <p><%= t("pages.processes.index.process_3_description") %></p>
            <%= link_to t("pages.processes.index.process_3_button"), open_plenary_path, class: "button hollow" %>
          </div>

          <!-- Ordenanza de transparencia -->
          <div id="transparency-law" class="panel">
            <h3><%= t("pages.processes.index.process_1_title") %></h3>
            <p><%= t("pages.processes.index.process_1_description") %></p>
            <%= link_to t("pages.processes.index.process_1_button"), transparency_ordinance_path, class: "button hollow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>