<% provide :title, "Plan de Urbanismo: nuevos bancos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_town_planning"),
          social_title: t("pages.processes.index.process_7_title"),
          social_description: t("pages.processes.index.process_7_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_7_title") %></h1>
      <h2>Participa hasta el 20 de agosto. Selecciona el diseño de banco que más te guste.</h2>
    </div>
  </div>
</div>

<div class="row margin-top" data-equalizer>
  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/003_balle_malle_hupe_und_artur.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/003_balle_malle_hupe_und_artur_thumb.jpg", alt: "Balle Malle Hupe und Artur" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Balle Malle Hupe und Artur</h4>
        <%= link_to "Ver detalle","/docs/town_planning/003_balle_malle_hupe_und_artur.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 13Kb)</small>".html_safe,
                    "/docs/town_planning/003_dossier_balle_malle_hupe_und_artur.pdf",
                    title: "Dossier Balle Malle Hupe und Artur (PDF | 13Kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/022_delta.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/022_delta_thumb.jpg", alt: "Delta" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Delta</h4>
        <%= link_to "Ver detalle","/docs/town_planning/022_delta.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 216Kb)</small>".html_safe,
                    "/docs/town_planning/022_dossier_delta.pdf",
                    title: "Dossier Delta (PDF | 216Kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/025_mas_madrid.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/025_mas_madrid_thumb.jpg", alt: "Mas madrid" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Mas Madrid</h4>
        <%= link_to "Ver detalle","/docs/town_planning/025_mas_madrid.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 350Kb)</small>".html_safe,
                    "/docs/town_planning/025_dossier_mas_madrid.pdf",
                    title: "Dossier Mas Madrid (PDF | 350Kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/033_madbench.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/033_madbench_thumb.jpg", alt: "MADBENCH" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>MADBENCH</h4>
        <%= link_to "Ver detalle","/docs/town_planning/033_madbench.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 1,1Mb)</small>".html_safe,
                    "/docs/town_planning/033_dossier_madbench.pdf",
                    title: "Dossier MADBENCH (PDF | 1,1Mb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/036_yo_tenia_tres_sillas_en_mi_casa.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/036_yo_tenia_tres_sillas_en_mi_casa_thumb.jpg", alt: "Yo tenía tres sillas en mi casa..." %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Yo tenía tres sillas en mi casa...</h4>
        <%= link_to "Ver detalle","/docs/town_planning/036_yo_tenia_tres_sillas_en_mi_casa.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 1,1Mb)</small>".html_safe,
                    "/docs/town_planning/036_dossier_yo_tenia_tres_sillas_en_mi_casa.pdf",
                    title: "Dossier Yo tenía tres sillas en mi casa... (PDF | 1,1Mb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/040_sedere.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/040_sedere_thumb.jpg", alt: "Sedere" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Sedere</h4>
        <%= link_to "Ver detalle","/docs/town_planning/040_sedere.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 707kb)</small>".html_safe,
                    "/docs/town_planning/040_dossier_sedere.pdf",
                    title: "Dossier Sedere (PDF | 707kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/048_takete.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/048_takete_thumb.jpg", alt: "TAKETE" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>TAKETE</h4>
        <%= link_to "Ver detalle","/docs/town_planning/048_takete.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 381kb)</small>".html_safe,
                    "/docs/town_planning/048_dossier_takete.pdf",
                    title: "Dossier TAKETE (PDF | 381kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/054_mucho_gusto_madrid.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/054_mucho_gusto_madrid_thumb.jpg", alt: "Mucho gusto Madrid" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Mucho gusto Madrid</h4>
        <%= link_to "Ver detalle","/docs/town_planning/054_mucho_gusto_madrid.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 676kb)</small>".html_safe,
                    "/docs/town_planning/054_dossier_mucho_gusto_madrid.pdf",
                    title: "Dossier Mucho gusto Madrid (PDF | 676kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/084_sientamadrid.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/084_sientamadrid_thumb.jpg", alt: "SIENTAMADRID!" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>SIENTAMADRID!</h4>
        <%= link_to "Ver detalle","/docs/town_planning/084_sientamadrid.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 663kb)</small>".html_safe,
                    "/docs/town_planning/084_dossier_sientamadrid.pdf",
                    title: "Dossier SIENTAMADRID! (PDF | 663kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/130_arco.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/130_arco_thumb.jpg", alt: "ARCO" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>ARCO</h4>
        <%= link_to "Ver detalle","/docs/town_planning/130_arco.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 663kb)</small>".html_safe,
                    "/docs/town_planning/130_dossier_arco.pdf",
                    title: "Dossier ARCO (PDF | 663kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/149_a_park_ando.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/149_a_park_ando_thumb.jpg", alt: "a_park_ando" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>a_park_ando</h4>
        <%= link_to "Ver detalle","/docs/town_planning/149_a_park_ando.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 547kb)</small>".html_safe,
                    "/docs/town_planning/149_dossier_a_park_ando.pdf",
                    title: "Dossier a_park_ando (PDF | 547kb)", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 column padding" data-equalizer-watch>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <%= link_to "/docs/town_planning/174_benditas_costumbres.jpg", target: '_blank' do %>
            <%= image_tag "town_planning/174_benditas_costumbres_thumb.jpg", alt: "Benditas costumbres" %>
          <% end %>
        </div>
      </div>
      <div class="media-object-section">
        <h4>Benditas costumbres</h4>
        <%= link_to "Ver detalle","/docs/town_planning/174_benditas_costumbres.jpg",
                    title: t("shared.target_blank_html"), target: "_blank",
                    class: "button hollow" %>
        <br>
        <%= link_to "Descargar dossier <small>(PDF | 1,1Mb)</small>".html_safe,
                    "/docs/town_planning/174_dossier_benditas_costumbres.pdf",
                    title: "Dossier Benditas costumbres (PDF | 1,1Mb)", target: "_blank" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="margin-bottom">Selecciona el proyecto que quieres votar</h3>
    <form>
      <div class="small-12 medium-4 column">
        <label>
          <input type="radio" name="bench" value="1">
          <span>Balle Malle Hupe und Artur</span>
        </label>
        <label>
          <input type="radio" name="bench" value="2">
          <span>Delta</span>
        </label>
        <label>
          <input type="radio" name="bench" value="3">
          <span>Mas Madrid</span>
        </label>
        <label>
          <input type="radio" name="bench" value="4">
          <span>MADBENCH</span>
        </label>
      </div>
      <div class="small-12 medium-4 column">
        <label>
          <input type="radio" name="bench" value="5">
          <span>Yo tenía tres sillas en mi casa...</span>
        </label>
        <label>
          <input type="radio" name="bench" value="6">
          <span>Sedere</span>
        </label>
        <label>
          <input type="radio" name="bench" value="7">
          <span>TAKETE</span>
        </label>
        <label>
          <input type="radio" name="bench" value="8">
          <span>Mucho gusto Madrid</span>
        </label>
      </div>

      <div class="small-12 medium-4 column">
        <label>
          <input type="radio" name="bench" value="9">
          <span>SIENTAMADRID!</span>
        </label>
        <label>
          <input type="radio" name="bench" value="10">
          <span>ARCO</span>
        </label>
        <label>
          <input type="radio" name="bench" value="11">
          <span>a_park_ando</span>
        </label>
        <label>
          <input type="radio" name="bench" value="12">
          <span>Benditas costumbres</span>
        </label>
      </div>

      <div class="small-12 medium-4 column end text-center">
        <%= link_to '/processes/town_planning_success' do %>
          <input type="submit" value="Enviar voto" class="button expanded margin-top">
        <% end %>
      </div>
    </form>
  </div>
</div>
