<% provide :title do %><%= t("devise_views.sessions.new.title") %>
<% end %>
<section class="section pb-6 pb-md-5 pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="h1 text-center">
          <%= t("devise_views.sessions.new.title") %>
        </div>
        <div class="px-3 inline-block">
          <%= sanitize(t("devise_views.shared.links.signup", signup_link: link_to(t("devise_views.shared.links.signup_link"), new_user_registration_path, class:"btn btn-sm btn-white"))) %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-flex align-items-center section">
  <div class="container">
    <div class="row justify-content-center mt-n7 mt-sm-n9 mt-md-n8">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
          <div class="text-center text-md-center mb-4 mt-md-0">
            <%= render "devise/omniauth_form", action: "sign_in" %>
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.text_field :login, autofocus: true, class: "form-control" %>

          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <% if devise_mapping.rememberable? -%>

              <%= f.check_box :remember_me, label: t("devise_views.sessions.new.remember_me") %>
            <% end -%>

            <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "small text-right" %>
          </div>
          <%= f.submit(t("devise_views.sessions.new.submit"), class: "w-100 btn btn-lg btn-primary") %>

        <% end %>

        <div class="d-flex justify-content-center align-items-center mt-4">
          <span class="fw-normal">
            <%= render "devise/shared/links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
