<div class="tabs-panel machine-learning-help" id="help">
  <h3><%= t("admin.machine_learning.help.title_1") %></h3>
  <p><%= t("admin.machine_learning.help.description_1") %></p>

  <h3><%= t("admin.machine_learning.help.title_2") %></h3>
  <p><%= t("admin.machine_learning.help.description_2") %></p>

  <h3><%= t("admin.machine_learning.help.title_3") %></h3>
  <p><%= t("admin.machine_learning.help.description_3") %></p>

  <h3><%= t("admin.machine_learning.help.title_4") %></h3>
  <ul>
    <li><%= t("admin.machine_learning.help.description_4") %></li>
    <li><%= sanitize(t("admin.machine_learning.help.description_4b")) %></li>
    <li><%= sanitize(t("admin.machine_learning.help.description_4c")) %></li>
    <li><%= sanitize(t("admin.machine_learning.help.description_4d")) %></li>
    <li><%= sanitize(t("admin.machine_learning.help.description_4e")) %></li>
    <li><%= t("admin.machine_learning.help.description_4f") %></li>
    <li><%= sanitize(t("admin.machine_learning.help.description_4g")) %></li>
  </ul>

  <h3><%= t("admin.machine_learning.help.title_5") %></h3>
  <p><%= t("admin.machine_learning.help.description_5") %></p>
  <code><%= instructions %></code>
</div>
