<div class="tabs-panel is-active machine-learning-scripts" id="scripts">
  <% if machine_learning_job.errored? %>
    <div class="callout alert">
      <p><strong><%= t("admin.machine_learning.notice.error") %></strong></p>
      <dl>
        <dt><%= t("admin.machine_learning.executed_by") %></dt>
        <dd><%= machine_learning_job.user.name %></dd>
        <dt><%= t("admin.machine_learning.error") %></dt>
        <dd><%= sanitize(machine_learning_job.error) %></dd>
      </dl>
    </div>

  <% elsif machine_learning_job.active? %>
    <div class="callout warning">
      <p><strong><%= t("admin.machine_learning.notice.working", email: machine_learning_job.user.email) %></strong></p>
      <dl>
        <dt><%= t("admin.machine_learning.script_name") %></dt>
        <dd><%= t("admin.machine_learning.scripts.#{machine_learning_job.script}.label", default: machine_learning_job.script) %></dd>
        <dt><%= t("admin.machine_learning.started_at") %></dt>
        <dd><%= l machine_learning_job.started_at, format: :short %></dd>
      </dl>

      <%= button_to t("admin.machine_learning.cancel"),
                    cancel_admin_machine_learning_path,
                    method: :delete,
                    class: "button hollow alert margin-top",
                    data: { confirm: t("admin.machine_learning.cancel_alert") } %>
    </div>

  <% elsif machine_learning_job.finished? %>
    <div class="callout success ml-job-summary">
      <p>
        <strong>
          <%= t("admin.machine_learning.scripts.#{machine_learning_job.script}.label", default: machine_learning_job.script) %>
          :
          <%= t("admin.machine_learning.notice.success") %>
        </strong>
      </p>
      <hr>
      <div class="row">
        <div class="small-3 columns">
          <strong><%= processed_label %>:</strong>
          <%= machine_learning_job.records_processed %>
          <div class="help-text" style="margin-top: 0;"><%= processed_resource_name %></div>
        </div>
        <div class="small-3 columns">
          <strong><%= t("admin.machine_learning.stats.tokens") %>:</strong>
          <%= number_with_delimiter(machine_learning_job.total_tokens) %>
        </div>
        <div class="small-3 columns">
          <strong><%= t("admin.machine_learning.stats.duration") %>:</strong>
          <%= machine_learning_job.duration %>s
        </div>
        <div class="small-3 columns">
          <strong><%= t("admin.machine_learning.stats.finished_at") %>:</strong>
          <%= l machine_learning_job.finished_at, format: :short %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless machine_learning_job.active? %>
    <%= form_tag execute_admin_machine_learning_path, method: :post do %>
      <label for="script"><%= t("admin.machine_learning.select_script") %></label>
      <%= select_tag "script", options_for_select(script_select_options) %>

      <div id="script_descriptions" class="margin-bottom">
        <% MachineLearning::AVAILABLE_SCRIPTS.keys.each do |key| %>
          <p id="<%= key %>" class="help-text hide">
            <em><%= t("admin.machine_learning.scripts.#{key}.description", default: "") %></em>
          </p>
        <% end %>
      </div>
      <div class="callout secondary">
        <div class="row">
          <div class="small-12 medium-6 columns">
            <label>
              <%= check_box_tag :force_update, "1", false %>
              <strong><%= t("admin.machine_learning.execution_options.force_update_label") %></strong>
              <p class="help-text"><%= t("admin.machine_learning.execution_options.force_update_help") %></p>
            </label>
          </div>
          <div class="small-12 medium-6 columns">
            <label>
              <%= check_box_tag :dry_run, "true", false %>
              <strong><%= t("admin.machine_learning.execution_options.dry_run_label") %></strong>
              <p class="help-text"><%= t("admin.machine_learning.execution_options.dry_run_help") %></p>
            </label>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= submit_tag t("admin.machine_learning.execute_script"), class: "button success large" %>
      </div>
    <% end %>
  <% end %>
</div>
