<div class="sensemaker">
  <% if breadcrumb_segments.any? %>
    <div class="target-header row small-collapse">
      <div class="target-header-title">
        <p class="target-header-label"><%= t("sensemaker.job_index.target_header.title") %></p>
        <div class="target-header-links">
          <% breadcrumb_segments.each_with_index do |segment, index| %>
            <% if index > 0 %>
              <span class="target-header-separator"><%= breadcrumb_separator %></span>
            <% end %>
            <strong><%= link_to segment[:text], segment[:path] %></strong>
          <% end %>
        </div>
        <p class="target-header-description"><%= contextual_info_resource_intro %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-9 column">
      <section class="hero-section">
        <h1><%= hero_title %></h1>
        <p class="lead intro-text"><%= introductory_text %></p>
      </section>

      <section class="reports-section">
        <% if has_jobs? %>
          <% jobs_by_type.each_with_index do |type_group, type_index| %>
            <div class="target-type-group margin-bottom">
              <% type_key = type_group[0]; target_groups = type_group[1] %>
              <%= content_tag :h3, segmented_by_heading(type_key), class: "margin-bottom" if (type_key != @resource.class.name.underscore) %>

              <% target_groups.each do |target_group| %>
                <div class="target-group">
                  <%= content_tag :h4, target_group[:target_title], class: "margin-bottom" if (target_groups.size > 1) || (type_index > 0) %>
                  <div class="row small-up-1 medium-up-2 large-up-3">
                    <% target_group[:jobs].each do |job| %>
                      <%= render Sensemaker::JobCardComponent.new(job) %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="callout primary">
            <p><%= empty_message %></p>
          </div>
        <% end %>
      </section>
    </div>

    <%= render Sensemaker::AboutComponent.new %>
  </div>
</div>
