<div class="sensemaker">
  <div class="row">
    <div class="small-12 column">
      <section>
        <h1><%= page_title %></h1>
        <%= introductory_text %>
      </section>

      <section>
        <% if has_jobs? %>
          <% jobs.each do |job| %>
            <h3 class="flex-row"><%= target_resource_link_for(job) %> <span class="job-type-label"><%= t("activerecord.models.#{job.analysable_type.underscore}.one") %></span></h3>
            <%= render Sensemaker::ReportJobMetaComponent.new(job) %>
          <% end %>
        <% else %>
          <div class="callout primary">
            <p><%= empty_message %></p>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
