<ul class="menu simple clear" id="assigned-resources-tabs">
  <% if action_name == "show" %>
    <li class="is-active">
      <h2>
        <%= t("admin.polls.show.questions_tab") %>
        (<%= poll.questions.count %>)
      </h2>
    </li>
  <% else %>
    <li>
      <%= link_to proposal_dashboard_poll_path(proposal, poll) do %>
        <%= t("admin.polls.show.questions_tab") %>
        (<%= poll.questions.count %>)
      <% end %>
    </li>
  <% end %>

  <% if action_name == "results" %>
    <li class="is-active">
      <h2>
        <%= t("admin.polls.show.results_tab") %>
      </h2>
    </li>
  <% else %>
    <li>
      <%= link_to t("admin.polls.show.results_tab"), results_proposal_dashboard_poll_path(proposal, poll) %>
    </li>
  <% end %>
</ul>

