<% content_for :action_title, t("admin.polls.index.title") %>


<% if @polls.any? %>
  <%= link_to t("admin.polls.index.create"),
              new_proposal_dashboard_poll_path(proposal),
              class: "button success float-right" %>

  <table>
    <thead>
      <th class="medium-6"><%= t("admin.polls.index.name") %></th>
      <th><%= t("admin.polls.index.dates") %></th>
      <th class="text-right"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <%= render @polls %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary">
    <%= t("admin.polls.index.no_polls") %>
  </div>

  <%= link_to t("admin.polls.index.create"),
              new_proposal_dashboard_poll_path(proposal),
              class: "button success float-right" %>
<% end %>
