<% content_for :action_title, t("dashboard.polls.index.title") %>
<div class="row expanded">
  <div class="small-12 medium-9 column">
    <%= Setting["proposals.poll_description"] %>

    <% if @polls.any? %>
      <div class="row expanded margin-top" data-equalizer="poll-cards" data-equalize-on="medium">
        <%= render @polls %>
      </div>
    <% end %>
  </div>

  <div class="small-12 medium-3 column">
    <% if Setting["proposals.poll_link"].present? %>
      <h4><%= t("dashboard.polls.index.links") %></h4>
      <%= link_to t("dashboard.polls.index.additiontal_information"),
                  Setting["proposals.poll_link"], target: "_blank" %>
    <% end %>

    <p><strong><%= t("dashboard.polls.index.count", count: @polls.count) %></strong></p>
    <%= link_to t("dashboard.polls.index.create"),
                new_proposal_dashboard_poll_path(proposal),
                class: "button expanded" %>
  </div>
</div>
