<% if user_signed_in? %>
  <li class="hide-for-small-only">
    <%= layout_menu_link_to t("layouts.header.my_activity_link"),
                            user_path(current_user),
                            controller_name == 'users',
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                                   t("layouts.header.my_activity_link") %>
  </li>
  <li class="hide-for-small-only">
    <%= layout_menu_link_to t("layouts.header.my_account_link"),
                              account_path,
                              controller_name == 'account',
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_account_link") %>
  </li>
  <li class="hide-for-small-only">
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete %>
  </li>
  <div class="show-for-small-only">
    <li class="has-submenu">
      <%= link_to t("layouts.header.user_menu"), "#", rel: "nofollow" %>
      <ul class="submenu menu vertical" data-submenu>
        <li>
          <%= layout_menu_link_to t("layouts.header.my_activity_link"),
                                  user_path(current_user),
                                  controller_name == 'users',
                                  rel: "nofollow",
                                  title: t("shared.go_to_page") +
                                         t("layouts.header.my_activity_link") %>
        </li>
        <li class="show-for-small-only">
          <%= layout_menu_link_to t("layouts.header.my_account_link"),
                                    account_path,
                                    controller_name == 'account',
                                    rel: "nofollow",
                                    title: t("shared.go_to_page") +
                                           t("layouts.header.my_account_link") %>
        </li>
        <li class="show-for-small-only">
          <%= link_to t("devise_views.menu.login_items.logout"),
                      destroy_user_session_path, rel: "nofollow", method: :delete %>
        </li>
      </ul>
    </li>
  </div>
<% else %>
  <li class="hide-for-small-only">
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow" %>
  </li>
  <li class="hide-for-small-only">
    <%= link_to t("devise_views.menu.login_items.signup"),
                new_user_registration_path, rel: "nofollow", class: "button" %>
  </li>
  <div class="show-for-small-only">
    <li class="has-submenu">
      <%= link_to t("layouts.header.user_menu"), "#", rel: "nofollow" %>
      <ul class="submenu menu vertical" data-submenu>
        <li>
          <%= link_to t("devise_views.menu.login_items.login"),
                      new_user_session_path, rel: "nofollow" %>
        </li>
        <li>
          <%= link_to t("devise_views.menu.login_items.signup"),
                      new_user_registration_path, rel: "nofollow", class: "button" %>
        </li>
      </ul>
    </li>
  </div>
<% end %>
