<%= link_to t('admin.menu.activity'), admin_activity_path, class: "button hollow float-right" %>

<h2 class="inline-block"><%= t("admin.moderators.index.title") %></h2>

<div class="small-12 medium-6">
  <%= form_tag search_admin_moderators_path, method: :get, remote: true  do %>
    <div class="input-group">
      <%= text_field_tag :email, '', placeholder: t('admin.moderators.search.email_placeholder') %>
      <div class="input-group-button">
        <%= submit_tag t('admin.moderators.search.search'), class: 'button' %>
      </div>
    </div>
  <% end %>
</div>

<div id="search-result"></div>

<div id="moderators">
  <% if @moderators.any? %>

    <h3><%= page_entries_info @moderators %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.moderators.index.name") %></th>
        <th scope="col" class="small-6"><%= t("admin.moderators.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @moderators.each do |moderator| %>
          <tr>
            <td>
              <%= moderator.name %>
            </td>
            <td>
              <%= moderator.email %>
            </td>
            <td>
              <% if moderator.persisted? %>
                <%= link_to t('admin.moderators.moderator.delete'),
                            admin_moderator_path(moderator),
                            method: :delete,
                            class: "button hollow alert expanded"
                %>
              <% else %>
                <%= link_to t('admin.moderators.moderator.add'),
                            { controller: "admin/moderators", action: :create,
                              user_id: moderator.user_id },
                            method: :post,
                            class: "button success expanded" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @moderators %>
  <% else %>
    <div class="callout primary">
      <%= t("admin.moderators.index.no_moderators") %>
    </div>
  <% end %>
</div>
