<h2><%= t("admin.moderators.index.title") %></h2>
<div class="row">
  <div class="column">
    <%= form_tag search_admin_moderators_path, method: :get, remote: true  do %>
      <div class="small-12 medium-6 column">
        <%= text_field_tag :email, '', placeholder: t('admin.moderators.search.email_placeholder') %>
      </div>
      <div class="small-12 medium-6 column">
        <%= submit_tag t('admin.moderators.search.search'), class: 'button radius' %>
      </div>
    <% end %>
  </div>
</div>
<div id="search-result" class="row small"></div>
<h3><%= page_entries_info @moderators %></h3>
<ul id="moderators" class="admin-list">
  <% @moderators.each do |moderator| %>
    <li>
      <%= render 'moderator', moderator: moderator %>
    </li>
  <% end %>
</ul>

<%= paginate @moderators %>
