<div id="cookies_consent_banner" class="cookies-consent-banner" data-version-name="<%= version_name %>">
  <h2><%= t("cookies_consent.title") %></h2>
  <p><%= t("cookies_consent.message") %></p>
  <% if more_info_link.present? %>
    <p><%= link_to t("cookies_consent.more_info_link"), more_info_link %></p>
  <% end%>

  <button type="button" class="accept-cookies"><%= t("cookies_consent.accept") %></button>

  <% if feature?("cookies_consent.setup_page") %>
    <button type="button" class="reject-cookies"><%= t("cookies_consent.reject") %></button>
    <button type="button" data-open="cookies_consent_setup" class="setup"><%= t("cookies_consent.setup") %></button>
  <% end %>
</div>
