<section id="cookies_consent_management" class="cookies-consent-management reveal" data-reveal aria-labelledby="modal_heading">
  <header>
    <h2 id="modal_heading"><%= t("cookies_management.title") %></h2>
    <button class="close-button" aria-label="<%= t("admin.shared.close_modal") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <p><%= t("cookies_management.description") %><p>

  <h3><%= t("cookies_management.essentials.title") %></h3>
  <p><%= t("cookies_management.essentials.description") %></p>

  <div class="buttons">
    <button type="button" class="accept-essential-cookies"><%= t("cookies_consent.accept_essential_cookies") %></button>
  </div>
</section>
