<section id="cookies_consent_setup" class="cookies-consent-setup small reveal" data-reveal aria-labelledby="modal-heading">
  <div class="header">
    <h2 id="modal-heading"><%= t("cookies_setup.title") %></h2>
    <button class="close-button" aria-label="<%= t("admin.shared.close_modal") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t("cookies_setup.description") %><p>

  <h3><%= t("cookies_setup.essentials.title") %></h3>
  <p><%= t("cookies_setup.essentials.description") %></p>
</section>
