<h3><%= t("cookies_management.third_party.title") %></h3>
<p><%= t("cookies_management.third_party.description") %></p>

<div class="cookies-vendors">
  <ul>
    <% vendors.each do |vendor| %>
      <li id="<%= dom_id(vendor) %>">
        <%= render Layout::CookiesConsent::SwitchComponent.new(vendor.cookie,
                                                               label: vendor.name,
                                                               description: vendor.description,
                                                               checked: enabled?(vendor),
                                                               disabled: false) %>
      </li>
    <% end %>
  </ul>

  <div class="save-preferences">
    <button type="button" class="save-cookies-preferences"><%= t("cookies_management.save_preferences") %></button>
  </div>
</div>
