<h2><%= t("admin.comments.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.comments.index" %>

<h3><%= page_entries_info @comments %></h3>

<ul class="admin-list">
  <% @comments.each do |comment| %>
    <li id="<%= dom_id(comment) %>">
      <div class="row">
        <div class="small-12 medium-8 column">
          <%= comment.body %>
          <%= link_to comment.commentable.title, comment.commentable %>
        </div>
        <div class="small-6 medium-4 column text-right">
          <%= link_to t("admin.actions.restore"),
                restore_admin_comment_path(comment, request.query_parameters),
                method: :put,
                data: { confirm: t("admin.actions.confirm") },
                class: "button radius tiny success right" %>
          <% unless comment.confirmed_hide? %>
            <%= link_to t("admin.actions.confirm_hide"),
                  confirm_hide_admin_comment_path(comment, request.query_parameters),
                  method: :put,
                  class: "button radius tiny warning right" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @comments %>
