<h2><%= t("admin.comments.index.title") %></h2>

<h3><%= page_entries_info @comments %></h3>

<ul class="admin-list">
  <% @comments.each do |comment| %>
    <li id="<%= dom_id(comment) %>">
      <div class="row">
        <div class="small-12 medium-10 column">
          <%= comment.body %>
        </div>
        <div class="small-12 medium-2 column">
          <%= link_to t("admin.actions.restore"), restore_admin_comment_path(comment),
                      method: :put, data: { confirm: t("admin.actions.confirm") },
                      class: "button radius small success right" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @comments %>
