<%= link_to admin_poll_officer_assignments_path(@poll) do %>
  <span class="icon-angle-left"></span>
  <%= @poll.name %>
<% end %>

<h2><%= @officer.name %> - <%= @officer.email %></h2>

<% if @officer_assignments.empty? %>
  <div class="callout primary margin-top">
    <%= t("admin.poll_officer_assignments.by_officer.no_assignments") %>
  </div>
<% else %>
  <h3><%= t("admin.poll_officer_assignments.by_officer.assignments") %></h3>
  <table class="fixed">
    <thead>
      <tr>
        <th><%= t("admin.poll_officer_assignments.by_officer.date") %></th>
        <th><%= t("admin.poll_officer_assignments.by_officer.booth") %></th>
      </tr>
    </thead>
    <tbody>
      <% @officer_assignments.each do |officer_assignment| %>
        <tr id="<%= dom_id officer_assignment %>">
          <td><%= officer_assignment.final? ? t('polls.final_date') : l(officer_assignment.date.to_date) %></td>
          <td><%= booth_name_with_location(officer_assignment.booth_assignment.booth) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3><%= t("admin.poll_officer_assignments.by_officer.total_recounts") %></h3>
  <table id="total_recount_list" class="fixed">
    <thead>
      <tr>
        <th><%= t("admin.poll_officer_assignments.by_officer.date") %></th>
        <th><%= t("admin.poll_officer_assignments.by_officer.booth") %></th>
        <th class="text-right"><%= t("admin.poll_officer_assignments.by_officer.total_recount") %></th>
      </tr>
    </thead>
    <tbody>
      <% @officer_assignments.each do |officer_assignment| %>
          <tr id="total_recount_<%= officer_assignment.date.to_date.strftime('%Y%m%d') %>">
            <td><%= l(officer_assignment.date.to_date) %></td>
            <td><%= booth_name_with_location(officer_assignment.booth_assignment.booth) %></td>
            <td class="text-right">
              <% if officer_assignment.recounts.any? %>
                <%= officer_assignment.recounts.to_a.sum(&:total_amount) %>
              <% else %>
                <span>-</span>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
