<ul class="related-content-list" id="related-content-list">
  <% @related_contents.each do |related| %>
    <li>
      <% if current_user %>
        <span id="<%= dom_id(related.relate_content(relationable)) %>" class="js-score-actions float-right">
          <%= render 'relationable/score', related: related.relate_content(relationable) %>
        </span>
      <% end %>

      <span><%= t("related_content.content_title.#{related.class.name.downcase}") %></span><br>
      <h3 class="inline-block">
        <%= link_to related.title, eval("#{related.class.name.downcase}_path(related)") %>
      </h3>
    </li>
  <% end %>
</ul>

<%= paginate @related_contents %>
