<h2><%= t("admin.subcategories.index.title") %></h2>
<h3><%= page_entries_info @subcategories %></h3>
<ul id="subcategories" class="admin-list">
  <% SubcategoryDecorator.decorate_collection(@subcategories).each do |subcategory| %>
    <li>
      <span><%= subcategory.name_with_code %></span>
      <%= link_to t('admin.subcategories.index.edit'), edit_admin_category_subcategory_path(@category, subcategory), class: "button tiny radius alert right" %>
    </li>
  <% end %>
</ul>

<%= paginate @subcategories %>

<div class="right">
  <%= link_to t('admin.subcategories.index.new'), new_admin_category_subcategory_path(@category), class: "button radius alert right" %>
</div>
