<h2><%= t("officing.residence.new.title") %></h2>

<div class="row">
  <div class="small-12 medium-6 column">
    <%= form_for @residence, as: "residence", url: officing_residence_path do |f| %>
      <%= render "errors" %>

      <%= f.label t("officing.residence.new.document_type_label") %>
      <%= f.select :document_type, document_types, prompt: "", label: false %>


      <%= f.text_field :document_number,
                       placeholder: t("officing.residence.new.document_number") %>

      <div class="date-of-birth small-12 medium-6 clear">
      <%= f.label t("verification.residence.new.date_of_birth") %>
      <%= f.date_select :date_of_birth,
                        prompt: true,
                        start_year: 1900, end_year: 16.years.ago.year,
                        label: false %>
      </div>

      <input type="submit" value="<%= t("officing.residence.new.submit") %>" class="button">
    <% end %>
  </div>
</div>
