<%= render 'management/account_info.html', verification: @email_verification %>

<div class="alert-box success radius">
  <%= t("management.users.census_success") %>
</div>

<ul>
  <li>
    <strong><%= t("management.users.has_account") %></strong>

    <p><%= t("management.users.has_account_note") %></p>

    <%= form_for @email_verification,
        as: :email_verification,
        url: management_email_verifications_path do |f| %>
      <%= f.hidden_field :document_type %>
      <%= f.hidden_field :document_number %>
      <%= f.text_field :email, label: false, placeholder: t('management.users.has_account_placeholder') %>

      <%= f.submit t("management.users.has_account_send_email"), class: "button success radius" %>
    <% end %>
  </li>

  <li>
    <strong><%= t("management.users.has_not_account") %></strong>

    <p class="margin-top">
      <a href="javascript:window.print();" class="button warning radius"><%= t("management.print_info") %></a>
    </p>
  </li>
</ul>
