<fieldset>
  <legend><%= label %></legend>
  <p class="help-text" id="tag-list-help-text"><%= help %></p>

  <%= form.fields_for :map_location, map_location do |fields| %>
    <%= render_map(map_location, form: fields) %>

    <%= fields.hidden_field :latitude %>
    <%= fields.hidden_field :longitude %>
    <%= fields.hidden_field :zoom %>
  <% end %>
</fieldset>
