<% if next_goal.present? %>
  <div id='goals-section'>
    <br><br>
    <div class="action-title">
      <h5><%= t("dashboard.next_goal.title") %></h5>
      <hr>
    </div>

    <div id="next-goal" data-toggler=".hide">
      <%= render 'goal', goal: next_goal %>

      <div class="column small-12">
        <a data-toggle="complete-course next-goal" id='see-complete-course-link'>
          <%= t("dashboard.next_goal.see_complete_course") %>
        </a>
      </div>
    </div>

    <% if course.count > 1 %>
      <div class="hide" id="complete-course" data-toggler=".hide">
        <%= render partial: 'goal', collection: course %>  

        <div class="column small-12">
          <a data-toggle="complete-course next-goal"><%= t("dashboard.next_goal.hide_course") %></a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
