<div id="<%= dom_id(proposed_action) %>">
  <div class="action">
    <% if proposed_action.proposals.where(id: proposal.id).any? %>
      <span class="icon-check"></span>
    <% else %>
      <%= link_to execute_proposal_dashboard_action_path(proposal, proposed_action),
                  id: "#{dom_id(proposed_action)}_execute",
                  method: :post,
                  class: "unchecked-link" do %>
        <span class="unchecked"></span>
      <% end %>
    <% end %>

    <div class="action-content">
      <h4><%= proposed_action.title %></h4>

      <% if proposed_action.proposals.where(id: proposal.id).any? %>
        <p><%= l(proposed_action.executed_actions.find_by(proposal: proposal).executed_at.to_date) %></p>
      <% else %>
        <% if proposed_action.short_description.present? %>
          <p><%= proposed_action.short_description %></p>
        <% end %>

        <% proposed_action.links.each do |link| %>
          <p><%= link_to link.label, link.url, target: "_blank" %></p>
        <% end %>

        <%= render partial: 'document', collection: proposed_action.documents %>
      <% end %>
    </div>
  </div>
</div>
