<div id='available-resources-section'>
  <br><br>
  <div class="action-title">
    <h5><%= t("dashboard.resources.available_resources") %></h5>
    <hr>
  </div>

  <div class="row small-up-2 medium-up-3 large-up-4">
    <%= render 'poll_resource' %>
    <%= render 'mailing_resource' %>
    <%= render 'poster_resource' %>
    <%= render partial: 'resource', collection: active_resources %>
  </div>
</div>
