<div class="votes">
  <% if proposal.process.proposals_phase.open? %>
    <%= render Shared::InFavorAgainstComponent.new(proposal) %>
  <% end %>

  <span class="total-votes">
    <%= t("proposals.proposal.votes", count: proposal.votes_score) %>
  </span>

  <% if !current_user %>
    <div tabindex="0">
      <%= render "shared/login_to_vote" %>
    </div>
  <% elsif organization? %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= t("votes.organizations") %>
      </p>
    </div>
  <% elsif !can_vote? %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= sanitize(t("legislation.proposals.not_verified",
            verify_account: link_to_verify_account)) %>
      </p>
    </div>
  <% end %>

  <% if current_user&.voted_as_when_voted_for(proposal) && setting["twitter_handle"] %>
    <div class="share-supported">
      <%= render "shared/social_share",
          title: proposal.title,
          url: proposal_url(proposal),
          description: proposal.summary,
          mobile: proposal.title %>
    </div>
  <% end %>
</div>
