<div class="document-divider no-margin-top margin-bottom padding">
  <div class="row">
    <div class="small-12 medium-9 column">
      <div class="document-link">
        <p>
          <span class="icon-document"></span>&nbsp;
          <strong><%= t('proposals.show.title_external_url') %></strong>
        </p>
        <ul>
          <li><%= link_to "Memoria propuesta para la consulta pública <small>(PDF | 32Kb)</small>".html_safe,
                      "/system/legislations/processes/29/memoria_propuesta_consulta_publica.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Trámite de consulta pública <small>(PDF | 30Kb)</small>".html_safe,
                      "/system/legislations/processes/29/tramite_consulta_publica.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "BOAM núm. 8.026 <small>(PDF | 71Kb)</small>".html_safe,
                      "/system/legislations/processes/29/boam8026_2378.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Comunicación consulta pública <small>(PDF | 115Kb)</small>".html_safe,
                      "/system/legislations/processes/29/comunicacion_consulta_publica.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
