<div class="document-divider no-margin-top margin-bottom padding">
  <div class="row">
    <div class="small-12 medium-9 column">
      <div class="document-link">
        <p>
          <span class="icon-document"></span>&nbsp;
          <strong><%= t('proposals.show.title_external_url') %></strong>
        </p>
        <ul>
          <li><%= link_to "Medidas estructurales Estrategia ESS <small>(PDF | 34Kb)</small>".html_safe,
                      "/system/legislations/processes/26/medidas_estructurales_estrategia_ess.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Medidas Estrategia ESS <small>(PDF | 39Kb)</small>".html_safe,
                      "/system/legislations/processes/26/medidas_estrategia_ess.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Estrategia Municipal ESS del Ayuntamiento de Madrid 2018-2025 <small>(PDF | 2Mb)</small>".html_safe,
                      "/system/legislations/processes/26/presentacion_estrategia.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Resumen del diagnoÌstico sobre la ESS en la ciudad de Madrid <small>(PDF | 1,1Mb)</small>".html_safe,
                      "/system/legislations/processes/26/resumen_diagnostico_ess_en_madrid.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>

          <li><%= link_to "Borrador Estrategia Municipal ESS <small>(PDF | 3,5Mb)</small>".html_safe,
                      "/system/legislations/processes/26/OOO.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
