<% if @process.description.present? %>
  <p class="title"><%= t("legislation.processes.header.description") %></p>
  <%= markdown @process.description %>
<% end %>

<% if @process.additional_info.present? %>
  <div id="additional_info" class="hide" data-toggler="hide">
    <hr>
    <p class="title"><%= t("legislation.processes.header.additional_info") %></p>
    <%= markdown @process.additional_info if @process.additional_info %>
  </div>

  <a id="read_more" class="button" data-toggler="hide"
     data-toggle="legislation_info read_more read_less"
     <% if banner_color? %>
     style="background:<%= process.font_color %>; color:<%= process.background_color %>;"
     <% end %>>
    <%= t("legislation.processes.header.additional_info") %>
  </a>

  <a id="read_less" class="button hide" data-toggler="hide"
     data-toggle="legislation_info read_more read_less"
     <% if banner_color? %>
      style="background:<%= process.font_color %>; color:<%= process.background_color %>;"
     <% end %>>
    <%= t("legislation.processes.header.less_info") %>
  </a>
<% end %>
