<div class="legislation-hero no-margin-top grey-heading" style="display:<%= hidden ? 'none' : 'block' %>" data-target="legislation-header-full">
  <div class="row headline">
    <div class="small-12 medium-8 column">
      <p><%= t('.title') %></p>
      <h2>
        <%= process.title %>
      </h2>
    </div>
  </div>

  <div class="row description">
    <div class="small-12 column">
      <% if process.description.present? %>
        <h4><%= t('.description') %></h4>
        <%= markdown process.description %>
      <% end %>
    </div>
    <% if process.additional_info.present? %>
      <div id="debate-show" class="small-12 column debate-add-info">
        <div class="debate-info-wrapper">
          <%= markdown process.additional_info if process.additional_info %>
        </div>
      </div>
    <% end %>
  </div>

  <% if process.additional_info.present? %>
    <div class="text-center half-gradient">
      <a id="js-toggle-debate" class="button big text-center" title="<%= t('.more_info') %>">
        <strong><%= t('.more_info') %></strong>
      </a>
    </div>
  <% end %>
</div>
