<div class="legislation-hero jumbo grey-heading" style="display:<%= hidden ? 'none' : 'block' %>" data-target="legislation-header-full">
  <div class="row headline">
    <div class="small-12 medium-8 column">
      <%= back_link_to legislation_processes_path %>
      <h2>
        <%= process.title %>
      </h2>
    </div>
  </div>

  <div class="row description">
    <div class="small-12 column">
      <% if process.description.present? %>
        <p class="title"><%= t('.description') %></p>
        <%= markdown process.description %>
      <% end %>
    </div>
    <% if process.additional_info.present? %>
      <div id="debate-show" class="small-12 column debate-add-info legislation-debate-show">
        <%= markdown process.additional_info if process.additional_info %>
      </div>
    <% end %>
  </div>

  <% if process.additional_info.present? %>
    <div class="text-center">
      <a id="js-toggle-debate" class="button big text-center" title="<%= t('.more_info') %>">
        <strong><%= t('.more_info') %></strong>
      </a>
    </div>
  <% end %>
</div>
