<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="legislation-people-proposals">
          <%= render "shared/filter_subnav", i18n_namespace: "legislation.processes.people_proposals" %>
          <% if people_proposals.empty? %>
            <div class="callout primary">
              <p><%= t("legislation.processes.people_proposals.empty_proposals") %></p>
            </div>
          <% else %>
            <%= render people_proposals %>
            <%= paginate people_proposals %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <% if process.people_proposals_phase.open? %>
          <p><%= link_to new_legislation_proposal_link_text(process), new_legislation_process_people_proposal_path(process),
                         class: "button expanded",
                         id: "create-new-proposal" %></p>
        <% end %>
        <%= render "legislation/people_proposals/categories", taggable: process %>
      </div>
    </div>
  </div>
</div>
