<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header', process: @process, header: :full %>

<% if @process.id == 25 %>
  <div class="document-divider no-margin-top margin-bottom padding">
    <div class="row">
      <div class="small-12 medium-6 column">
        <div class="document-link">
          <p>
            <span class="icon-document"></span>&nbsp;
            <strong><%= t('proposals.show.title_external_url') %></strong>
          </p>
          <%= link_to "Resumen Plan Estratégico de zonas verde, arbolado y biodiversidad de la ciudad de Madrid <small>(PDF | 468Kb)</small>".html_safe,
                      "/system/legislations/processes/25/resumen_plan_estrategico_zonas_verdes.pdf",
                      target: "_blank", title: t("shared.target_blank_html") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'key_dates', process: @process, phase: :debate %>

<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="debate-list">
          <% if @process.questions.empty? %>
            <div class="callout primary">
              <p><%= t('.empty_questions') %></p>
            </div>
          <% else %>
            <%= render @process.questions %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <div class="callout success">
          <p><%= t('.participate') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
