<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header', process: @process, header: :full %>

<%= render 'documents/additional_documents', documents: @process.documents %>

<%= render 'key_dates', process: @process, phase: :debate %>

<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="debate-list">
          <% if @process.questions.empty? %>
            <div class="callout primary">
              <p><%= t('.empty_questions') %></p>
            </div>
          <% else %>
            <%= render @process.questions %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <div class="callout success">
          <p><%= t('.participate') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
