<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header', process: @process, header: :full %>

<%= render 'key_dates', process: @process, phase: :proposals %>

<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="legislation-proposals">
          <% if @process.proposals.empty? %>
            <div class="callout primary">
              <p><%= t('.empty_proposals') %></p>
            </div>
          <% else %>
            <%= render @process.proposals %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <% if @process.proposals_phase.open? %>
          <p><%= link_to t("proposals.index.start_proposal"), new_legislation_process_proposal_path(@process), class: 'button expanded' %></p>
        <% end %>
        <%= render 'legislation/proposals/categories', taggable: @process %>
      </div>
    </div>
  </div>
</div>
