<% if user_signed_in? %>
  <li>
    <%= link_to notifications_path, rel: "nofollow", class: "notifications" do %>
      <span class="show-for-sr"><%= t("layouts.header.notifications") %></span>
      <% if current_user.notifications_count > 0 %>
        <span class="icon-circle" aria-hidden="true"></span>
        <span class="icon-notification" aria-hidden="true" title="<%= t('layouts.header.new_notifications', count: current_user.notifications_count).html_safe %>">
        </span>
        <small class="show-for-small-only">
          <%= t('layouts.header.new_notifications', count: current_user.notifications_count).html_safe %>
        </small>
      <% else %>
        <span class="icon-no-notification" aria-hidden="true" title="<%= t('layouts.header.no_notifications') %>"></span>
        <small class="show-for-small-only">
          <%= t('layouts.header.no_notifications') %>
        </small>
      <% end %>
    <% end %>
  </li>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_activity_link"),
                              user_path(current_user),
                              controller_name == 'users',
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_activity_link") %>
  </li>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_account_link"),
                              account_path,
                              controller_name == 'account',
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_account_link") %>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow" %>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.signup"),
                new_user_registration_path, rel: "nofollow", class: "button" %>
  </li>
<% end %>
