<div class="row">
  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1>
      <%= t("users.direct_messages.new.title", receiver: @receiver.name) %>
    </h1>

    <% if not current_user %>
      <div class="callout primary">
        <p>
          <%= t("users.direct_messages.new.authenticate",
            signin: link_to(t("users.direct_messages.new.signin"), new_user_session_path),
            signup: link_to(t("users.direct_messages.new.signup"), new_user_registration_path)).html_safe %>
        </p>
      </div>
    <% elsif not @receiver.email_on_direct_message? %>
      <div class="callout primary">
        <p>
          <%= t("users.direct_messages.new.direct_messages_bloqued") %>
        </p>
      </div>
    <% elsif can? :create, @direct_message %>
      <%= form_for [@receiver, @direct_message] do |f| %>
        <%= render "shared/errors", resource: @direct_message %>

        <%= f.label :title, t("users.direct_messages.new.title_label") %>
        <%= f.text_field :title, label: false %>

        <%= f.label :body, t("users.direct_messages.new.body_label") %>
        <%= f.text_area :body, label: false, rows: "3" %>

        <div class="small-12 medium-4">
          <%= f.submit t("users.direct_messages.new.submit_button"), class: "button expanded" %>
        </div>
      <% end %>
    <% else %>
      <div class="callout warning">
        <p>
          <%= t("users.direct_messages.new.verified_only",
          verify_account: link_to( t("users.direct_messages.new.verify_account"),
                                    verification_path )).html_safe %>
        </p>
      </div>
    <% end %>
  </div>
</div>
