<div class="row">
  <div class="small-12 medium-9 column">
    <h1><%= t("representatives.title") %></h1>
    <p>Delega tu decisión sobre los apoyos y la votación final en lo que se decida en cualquiera de los espacios presenciales de debate.</p>

    <div id="forums" class="row collapse">
      <% @forums.each_slice(7) do |slice| %>
      <div class="small-12 medium-4 column">
        <% slice.each do |forum| %>
          <p id="<%= dom_id(forum) %>" class="forum <%= css_for_representative(forum) %>">
            <%= link_to forum.name, forum %>
          </p>
        <% end %>
      </div>
      <% end %>
    </div>

    Estás delegando tus votos en <strong>distrito</strong> <%= link_to "Desactivar", "#", class: "delete" %>
  </div>

  <div class="small-12 medium-3 column">
    <h2>¿Cómo funciona la delegación?</h2>
    <p>Si activas la delegación en cualquiera de los <a href="https://decide.madrid.es/participatory_budget_meetings">espacios presenciales de debate</a> señalados, tus apoyos y votos se realizarán automáticamente sobre las propuestas que haya decidido el espacio correspondiente. Mientras dure la fase de apoyos o de votación puedes activar o desactivar la delegación de votos cuando quieras.</p>
  </div>
</div>
