<div class="row">
  <div class="small-12 column">

    <%= link_to forums_path, class: "back" do %>
      <span class="icon-angle-left"></span>
      Volver
    <% end %>

    <h2><%= @forum.name %></h2>

    <div class="row collapse">
      <div id="city" class="small-12 medium-6 column">
        <h3>Toda la ciudad</h3>
        <%= render 'votes', votes: @forum.votes_for(:city) %>
      </div>

      <div id="district" class="small-12 medium-6 column">
        <h3>Distrito de <%= @forum.name.gsub("Presupuestos participativos", "") %></h3>
        <%= render 'votes', votes: @forum.votes_for(:district) %>
      </div>
    </div>

    <%= form_for(@forum, url: representatives_url, method: :post) do |f| %>
      <%= f.hidden_field :id %>

      <div class="small-12 medium-4">
        <%= f.submit class: "button expanded", value: "Delegar en #{@forum.name}" %>
      </div>
    <% end %>
  </div>
</div>
