<% provide :title do %><%= t("devise_views.confirmations.show.title") %><% end %>
<h1 class="text-center"><%= t("devise_views.confirmations.show.title") %></h1>

<p><%= t('devise_views.confirmations.show.instructions_html', email: resource.email) %></p>

<%= form_for(resource,
             as: resource_name,
             url: update_user_confirmation_path,
             html: { method: :patch }) do |f| %>

  <p><%= t('devise_views.confirmations.show.please_set_password') %></p>

  <%= render 'shared/errors', resource: resource %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.password_field :password,
        autofocus: true,
        label: t('devise_views.confirmations.show.new_password_label') %>
    </div>
    <div class="small-12 columns">
      <%= f.password_field :password_confirmation,
        label: t('devise_views.confirmations.show.new_password_confirmation_label') %>
    </div>
  </div>

  <%= hidden_field_tag :confirmation_token, params[:confirmation_token] %>

  <div class="small-12 columns">
    <%= f.submit(t("devise_views.confirmations.show.submit"), class: "button expanded") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
