<% provide :title do %><%= t('spending_proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: spending_proposals_path(page: 1),
             i18n_namespace: "spending_proposals.index.search_form" %>
<% end %>

<main id="investment-projects-main">

  <%= render 'header' %>

  <div class="wrap row">
    <div id="investment-projects" class="investment-projects-list small-12 medium-9 column">

      <div class="small-12 search-results margin-bottom">

        <% if params[:unfeasible].present? %>
          <h2><%= t("spending_proposals.index.unfeasible") %></h2>
          <p>
              <%= t("spending_proposals.index.unfeasible_text",
              definitions: link_to(t("spending_proposals.index.unfeasible_text_definitions"), "https://decide.madrid.es/participatory_budget_info#20")).html_safe %>
          </p>
        <% end %>

        <%= content_tag(:h2, t("spending_proposals.index.by_geozone", geozone: @filter_geozone_name)) if @filter_geozone_name.present? %>
        <% if params[:search].present? %>
          <h2>
            <%= page_entries_info @spending_proposals %>
            <%= t("spending_proposals.index.search_results", count: @spending_proposals.size, search_term: params[:search]) %>
          </h2>
        <% end %>
      </div>

      <%= render('shared/order_links', i18n_namespace: "spending_proposals.index") unless params[:unfeasible].present? %>

      <%= render partial: 'spending_proposals/spending_proposal', collection: @spending_proposals %>
      <%= paginate @spending_proposals %>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <% if @filter_geozone.present? && !@ballot.has_city_wide_votes? %>
          <div class="callout success">
            <p>
              <small>
                <%= t("spending_proposals.index.sidebar.remember_city",
                    city: link_to(t("spending_proposals.index.sidebar.remember_city_link_html"),
                          spending_proposals_path(geozone: 'all'),
                          data: { no_turbolink: true })).html_safe %>
              </small>
            </p>
          </div>
        <% elsif @filter_geozone.blank? && !@ballot.has_district_wide_votes? %>
          <div class="callout success">
            <p>
              <small>
                <%= t("spending_proposals.index.sidebar.remember_district",
                    district: link_to(t("spending_proposals.index.sidebar.remember_district_link_html"),
                          select_district_path)).html_safe %>
              </small>
            </p>
          </div>
        <% end %>
        <div id="sidebar">
          <%= render 'sidebar' %>
        </div>
      </aside>
    </div>

  </div>
</main>
