<% provide :title do %><%= t('spending_proposals.index.title') %><% end %>
<div class="row-full spending-proposals">
  <div class="row">
    <div class="small-12 column text-center">
      <h1><%= t('spending_proposals.index.title') %></h1>
    </div>

    <div class="small-12 column spending-proposal-timeline text-center">
      <ul class="no-bullet">
        <li>
          <i class="icon-calendar"></i>
          <h3><%= t('spending_proposals.index.date_1_info') %></h3>
          <p><%= t('spending_proposals.index.date_1') %></p>
        </li>

        <li>
          <i class="icon-calendar"></i>
          <h3><%= t('spending_proposals.index.date_2_info') %></h3>
          <p><%= t('spending_proposals.index.date_2') %></p>
        </li>

        <li>
          <i class="icon-calendar"></i>
          <h3><%= t('spending_proposals.index.date_3_info') %></h3>
          <p><%= t('spending_proposals.index.date_3') %></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column margin-top">
    <blockquote>
      <h3>Decide cómo mejorar tu ciudad</h3>
      <p><%= t('spending_proposals.index.text') %></p>
    </blockquote>
  </div>

  <div class="small-12 medium-3 column margin-top">
    <% if user_signed_in? %>
      <% if can? :create, SpendingProposal %>
        <%= link_to t('spending_proposals.index.create_link'), new_spending_proposal_path, class: 'button radius' %>
      <% else %>
        <div class="alert-box info radius">
          <%= t('spending_proposals.index.verified_only', verify_account: link_to(t('spending_proposals.index.verify_account'), verification_path)).html_safe %>
        </div>
      <% end %>
    <% else %>
      <div class="alert-box info radius">
          <%= t('spending_proposals.index.signin_only', signin: link_to(t('spending_proposals.index.signin'), new_user_session_path)).html_safe %>
        </div>
    <% end %>
  </div>
</div>
