<div class="spending-proposal-form row margin-top">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><%= t("spending_proposals.new.start_new") %></h1>
    <div data-alert class="callout primary">
      <%= link_to "/spending_proposals_info", title: t('shared.target_blank_html'), target: "_blank" do %>
        <%= t("spending_proposals.new.more_info")%>
      <% end %>
    </div>
    <%= render "spending_proposals/form", form_url: spending_proposals_url %>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-budget float-right"></span>
    <h2><%= t("spending_proposals.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("spending_proposals.new.recommendation_one") %></li>
      <li><%= t("spending_proposals.new.recommendation_two") %></li>
      <li><%= t("spending_proposals.new.recommendation_three") %></li>
    </ul>
  </div>

</div>