<% provide :title, t("spending_proposals.results.page_title") %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_participatory_budget" %>
<% end %>

<% cache [locale_and_user_status(nil), @geozone] do %>
  <div class="expanded spending-proposals results no-margin-top">
    <div class="row">
      <div class="small-12 column padding text-center">
        <%= link_to budgets_welcome_path, class: "left back" do %>
          <i class="icon-angle-left"></i>
          <%= t("shared.back") %>
        <% end %>

        <h1 class="title"><%= t("spending_proposals.results.heading") %></h1>
      </div>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 column">
      <ul class="tabs">
        <li class="tabs-title is-active">
          <span class="show-for-sr"><%= t("shared.you_are_in") %></span>
          <%= link_to t("spending_proposals.results.results_link"), participatory_budget_results_path, class: "is-active" %>
        </li>
        <li class="tabs-title">
          <%= link_to t("spending_proposals.results.stats_link"), participatory_budget_stats_path %>
        </li>
        <li class="tabs-title">
          <%= link_to t("spending_proposals.results.executions_link"), participatory_budget_executions_path %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 column">
      <strong><%= t("spending_proposals.results.geozone_selection_title") %></strong>
      <ul class="menu vertical no-padding">
        <li><%= link_to content_tag(:strong, t("geozones.none")), participatory_budget_results_path %></li>

        <% geozone_select_options.each do |geozone| %>
          <li><%= link_to content_tag(:strong, geozone[0]), participatory_budget_results_path(geozone_id: geozone[1]) %></li>
        <% end %>
      </ul>
    </div>

    <%= render 'results_table' %>

  </div>
<% end %>

