<div class="expanded jumbo-investment-project-votes no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 medium-7 column padding content">
      <h1><%= t("spending_proposals.welcome.title") %></h1>
      <p><%= t("spending_proposals.welcome.text_first_html") %></p>
      <p><%= t("spending_proposals.welcome.text_second_html") %></p>

      <div class="row">
        <div class="small-12 medium-5 column">
          <%= link_to t("spending_proposals.welcome.city_link"),
                      spending_proposals_path(geozone: 'all'),
                      data: { no_turbolink: true }, class: "button budget expanded" %>
        </div>

        <div class="small-12 medium-5 column end">
          <%= link_to t("spending_proposals.welcome.districts_link"), '#select-district', class: "button budget expanded" %>
        </div>
      </div>

      <%= link_to t("spending_proposals.welcome.in_two_minutes"), '/participatory_budget/in_two_minutes' %>
    </div>
  </div>
</div>

<div class="row investment-projects-scope margin-bottom">
  <div id="select-district" class="small-12 medium-7 column">
    <h2><%= t("spending_proposals.welcome.districts") %></h2>

    <div class="row">
      <% @geozones.each_slice(7) do |slice| %>
        <div class="small-12 medium-4 column">
          <% slice.each do |geozone| %>
            <%= link_to geozone.name, spending_proposals_path(geozone: geozone.id),
                        data: { no_turbolink: true } %><br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="medium-5 column show-for-medium text-center">
    <%= image_tag "map.jpg" %>
  </div>
</div>

<div class="row expanded jumbo-delegation padding">
  <div class="row">
    <div class="small-12 column margin-top">
      <h2><%= t("spending_proposals.welcome.delegation_title") %></h2>

      <h3>
        <%= t("spending_proposals.welcome.delegation_text",
            meetings: link_to(t("spending_proposals.welcome.delegation_meetings"),
            page_path('participatory_budget_meetings'))).html_safe %>
      </h3>

      <p><%= t("spending_proposals.welcome.delegation_info_html") %></p>

      <div class="small-12 medium-4">
        <p><%= link_to t("spending_proposals.welcome.delegation"), '/delegacion', class: "button expanded" %></p>
      </div>
    </div>
  </div>
</div>
