<%= form_for [:admin_proposal_dashboard, administrator_task] do |f| %>

  <div class="callout">
    <h5><%=t '.proposal', title: administrator_task.source.proposal.title %></h5>
    <p><%=t '.request', title: administrator_task.source.proposal_dashboard_action.title %></p>
    <%== administrator_task.source.comments unless administrator_task.source.comments.blank? %>
    <%= link_to t('.check_details'), proposal_path(administrator_task.source.proposal), target: '_blank' %>
  </div>

  <div class="row">
    <div class="actions small-12 large-3 medium-3 column">
      <%= f.submit(class: 'button expanded', value: t('.solve')) %>
    </div>
  </div>
<% end %>
