<table>
  <thead>
    <tr>
      <th><%= t("admin.homepage.cards.title") %></th>
      <th class="small-4"><%= t("admin.homepage.cards.description") %></th>
      <th><%= t("admin.homepage.cards.link_text") %> / <%= t("admin.homepage.cards.link_url") %></th>
      <th><%= t("admin.shared.image") %></th>
      <th class="small-3"><%= t("admin.shared.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% cards.each do |card| %>
      <%= render "card", card: card %>
    <% end %>
  </tbody>
</table>
