<table>
  <thead>
    <tr>
      <th><%= Widget::Card.human_attribute_name(:title) %></th>
      <th class="small-4"><%= Widget::Card.human_attribute_name(:description) %></th>
      <th><%= Widget::Card.human_attribute_name(:link_text) %> / <%= Widget::Card.human_attribute_name(:link_url) %></th>
      <th><%= t("admin.shared.image") %></th>
      <th class="small-3"><%= t("admin.shared.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% cards.each do |card| %>
      <%= render "card", card: card %>
    <% end %>
  </tbody>
</table>
