<div id="<%= dom_id(feed) %>" class="small-12 medium-6 large-4 column end">
  <div class="callout">

    <h3 <%= "id='#{dom_id(feed.setting, :title)}'".html_safe if feed.setting %>>
      <%= t("admin.homepage.feeds.#{feed.kind}") %>
    </h3>

    <% if feed.setting.present? %>
      <%= render "setting", setting: feed.setting %>
    <% end %>

    <%= form_for [:admin, feed], remote: true do |f| %>
      <%= f.select :limit, (1..10), {}, class: "js-submit-on-change" %>
    <% end %>

  </div>
</div>
