<div class="row">
  <div class="small-12 column">
    <% if milestoneable.milestones.blank? %>
      <div class="callout primary text-center">
        <%= t("milestones.index.no_milestones") %>
      </div>
    <% end %>

    <% if milestoneable.primary_progress_bar %>
      <section class="progress-bars">
        <h5><%= t("milestones.index.progress") %></h5>

        <%= progress_tag_for(milestoneable.primary_progress_bar) %>

        <% if milestoneable.secondary_progress_bars.any? %>
          <ul class="milestone-progress">
            <% milestoneable.secondary_progress_bars.each do |progress_bar| %>
              <li>
                <%= progress_bar.title %>
                <%= progress_tag_for(progress_bar) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>

    <section class="timeline">
      <ul class="no-bullet">
        <% milestoneable.milestones.order_by_publication_date.each do |milestone| %>
          <%= render "milestones/milestone", milestone: milestone %>
        <% end %>
      </ul>
    </section>
  </div>
</div>
