<%= render "shared/globalize_locales", resource: @page %>

<%= translatable_form_for [:admin, @page], html: { class: "edit_page" } do |f| %>
  <%= render "shared/errors", resource: @page %>

  <div class="row">
    <div class="small-12 column">
      <hr>
    </div>

    <div class="small-12 medium-4 column">
      <h3><%= t("admin.site_customization.pages.form.options") %></h3>
      <%= f.label :status %>
      <% ::SiteCustomization::Page::VALID_STATUSES.each do |status| %>
        <%= f.radio_button :status, status %>
        <br>
      <% end %>

      <%= f.check_box :more_info_flag, class: "small" %>
      <%= f.check_box :print_content_flag %>

      <%= f.check_box :public, class: "small" %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.text_field :slug, size: 80, maxlength: 80,
        hint: sanitize(t("admin.site_customization.pages.new.slug_help")) %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <hr>
        <div>
          <%= f.file_field :imagen %>
          <p> <%= t("custom.imagen.title") %></p>
        </div>
      <%= f.translatable_fields do |translations_form| %>
        <div class="small-12 column end">
          <%= translations_form.text_field :title %>
        </div>
        <div class="small-12 column">
          <%= translations_form.text_field :subtitle %>
        </div>
        <div class="column">
          <%= translations_form.text_area :content, class: "html-area admin" %>
        </div>
      <% end %>

      <%-# ----------------------JHH: Este código añade el formulario para los añadir los users---------------------- -%>
      <div class="small-12 column">
        <div class="project-form-field">
          <%= f.label 'Participantes con acceso a la página' %>
          <% if @people.empty? %>
            <p><%= t("debates.form.empty_participants") %></p>
          <% else %>
            <div id="participant_tags" class="tags">
                <% @people.each do |actual| %>
                  <a class="select-participants"><%= actual.id%>: <%=actual.email%></a>
                <% end %>
            </div>
          <% end %>

          <%= f.label 'Participantes disponibles para añadir' %>
          <div id="participant_tags" class="tags">
              <% @participants.each do |participant| %>
                <a class="select-participants"><%= participant.id%>: <%=participant.email%></a>
              <% end %>
          </div>

          <br/>
          <%= f.text_field :page_users_id, :label => t("debates.form.add_participants"), placeholder: t("proposals.form.participant_placeholder")%>
        
          <br/>
          <% if !@people.empty?%>
            <%= f.text_field :delete_users_id, :label => t("debates.form.delete_participants"), placeholder: t("proposals.form.participant_placeholder")%>
          <% end %>
        </div>
      </div>
      <%-# ---------------------- Fin ---------------------- -%>

    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 large-3 margin-top column">
      <%= f.submit class: "button success expanded" %>
    </div>
  </div>
<% end %>
