<% provide :title do %>
  Admin - <%= t("admin.menu.site_customization.pages") %>
<% end %>

<div class="legislation-admin legislation-process-index">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h2 class="inline-block"><%= t("admin.site_customization.pages.index.title") %></h2>
    </div>
    <div class="small-12 medium-3 column legislation-process-new">
      <%= link_to t("admin.site_customization.pages.index.create"), new_admin_site_customization_page_path, class: "button" %>
    </div>
  </div>

  <h3><%= page_entries_info @pages %></h3>

  <table class="stack">
    <thead>
      <tr>
        <th><%= t("admin.site_customization.pages.page.title") %></th>
        <th><%= t("admin.site_customization.pages.page.created_at") %></th>
        <th><%= t("admin.site_customization.pages.page.updated_at") %></th>
        <th><%= t("admin.site_customization.pages.page.status") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @pages.each do |page| %>
      <tr id="<%= dom_id(page) %>">
        <td>
          <%= link_to page.title, edit_admin_site_customization_page_path(page) %>
        </td>
        <td><%= I18n.l page.created_at, format: :short %></td>
        <td><%= I18n.l page.created_at, format: :short %></td>
        <td><%= t("admin.legislation.processes.process.status_#{page.status}") %></td>
        <td class="small">
          <span class="icon-eye"></span>
          <%= link_to t("admin.site_customization.pages.index.see_page"), page.url %>
        </td>
        <td class="small">
          <span class="icon-x"></span>
          <%= link_to t("admin.site_customization.pages.index.delete"), admin_site_customization_page_path(page), method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @pages %>

</div>
