<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.pages") %>
<% end %>

<%= link_to t("admin.site_customization.pages.index.create"), new_admin_site_customization_page_path, class: "button float-right" %>
<h2 class="inline-block"><%= t("admin.site_customization.pages.index.title") %></h2>

<% if @pages.any? %>
  <h3><%= page_entries_info @pages %></h3>

  <table class="cms-page-list">
    <thead>
      <tr>
        <th><%= t("admin.site_customization.pages.page.title") %></th>
        <th><%= t("admin.site_customization.pages.page.created_at") %></th>
        <th><%= t("admin.site_customization.pages.page.updated_at") %></th>
        <th><%= t("admin.site_customization.pages.page.status") %></th>
        <th><%= t("admin.site_customization.pages.page.locale") %></th>
        <th class="small-4"><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
    <% @pages.each do |page| %>
      <tr id="<%= dom_id(page) %>">
        <td>
          <%= link_to page.title, edit_admin_site_customization_page_path(page) %>
        </td>
        <td><%= I18n.l page.created_at, format: :short %></td>
        <td><%= I18n.l page.created_at, format: :short %></td>
        <td><%= t("admin.site_customization.pages.page.status_#{page.status}") %></td>
        <td><%= name_for_locale(page.locale) %></td>
        <td>
          <div class="small-6 column">
            <% if page.status == "published" %>
              <%= link_to t("admin.site_customization.pages.index.see_page"),
                          page.url,
                          target: "_blank",
                          class: "button hollow expanded" %>
            <% end %>
          </div>
          <div class="small-6 column end">
            <%= link_to t("admin.site_customization.pages.index.delete"),
                        admin_site_customization_page_path(page),
                        method: :delete,
                        class: "button hollow alert expanded" %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @pages %>
<% else %>
  <div class="callout primary">
    <%= page_entries_info @pages %>
  </div>
<% end %>
