<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.pages") %> - <%= t("admin.site_customization.pages.new.title") %>
<% end %>

<%= back_link_to admin_site_customization_pages_path %>

<div class="small-12 column">
  <h2><%= t("admin.site_customization.pages.new.title") %></h2>
</div>

<%= render 'form' %>
