<div class="poll with-image">
  <%= render Polls::AccessStatusComponent.new(poll) %>

  <div class="image-container">
    <% if poll.image.present? %>
      <%= image_tag poll.image.variant(:large), alt: poll.image.title.unicode_normalize %>
    <% end %>
  </div>

  <div class="poll-info">
    <h4><%= link_to header_text, path %></h4>
    <div class="dates"><%= dates %></div>
    <% if poll.questions.many? %>
      <ul class="margin-top">
        <% poll.questions.sort_for_list.each do |question| %>
          <li><%= question.title %></li>
        <% end %>
      </ul>
    <% end %>
    <%= render Polls::GeozonesComponent.new(poll) %>
    <%= render SDG::TagListComponent.new(poll, limit: 5, linkable: false) %>
  </div>

  <%= link_to link_text, path, class: "button hollow expanded" %>
</div>
