<h3 id="7">¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?</h3>

<table class="polls-stats-district">
  <% question = @poll_7.questions.first %>
  <caption>
    <%= question.title %>
  </caption>
  <% answers_votes = {} %>
  <% max_i = 0 %>
  <% question.valid_answers.each_with_index do |answer, i| %>
    <% answers_votes[answer] = total_votes_for_answer(question, answer) %>
    <% max_i = i if answers_votes.values.max == answers_votes[answer] %>
  <% end %>

  <thead>
    <tr>
      <% answers_votes.keys.each_with_index do |answer, i| %>
        <th class="<%= 'win' if max_i == i %>"><%= answer %></th>
      <% end %>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% answers_votes.values.each_with_index do |votes, i| %>
        <td  class="<%= 'win' if max_i == i %>"><%= votes %> (<%= percent_stat(votes, total_votes_for_poll(@poll_7)) %>%)</td>
      <% end %>
      <% whites = total_votes_for_poll(@poll_7) - answers_votes.values.sum %>
        <td><%= whites %> (<%= percent_stat(whites, total_votes_for_poll(@poll_7)) %>%)</td>
    </tr>
  </tbody>
</table>