<h3 id="5">Nombre de distrito y Parque Felipe VI en Hortaleza</h3>

<% @poll_5.questions.order(id: :asc).each do |question| %>
  <table>
    <caption>
      <%= question.title %>
    </caption>
    <% answers_votes = {} %>
    <% max_i = 0 %>
    <% question.valid_answers.each_with_index do |answer, i| %>
      <% answers_votes[answer] = total_votes_for_answer(question, answer) %>
      <% max_i = i if answers_votes.values.max == answers_votes[answer] %>
    <% end %>

    <thead>
      <tr>
        <% answers_votes.keys.each_with_index do |answer, i| %>
          <th class="<%= 'win' if max_i == i %>"><%= answer %></th>
        <% end %>
        <th>EN BLANCO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% answers_votes.values.each_with_index do |votes, i| %>
          <td  class="<%= 'win' if max_i == i %>"><%= votes %> (<%= percent_stat(votes, total_votes_for_poll(@poll_5)) %>%)</td>
        <% end %>
        <% whites = total_votes_for_poll(@poll_5) - answers_votes.values.sum %>
        <td><%= whites %> (<%= percent_stat(whites, total_votes_for_poll(@poll_5)) %>%)</td>
      </tr>
    </tbody>
  </table>
<% end %>