<h3 id="8">¿Cómo quieres que se llame el Espacio de Igualdad del Distrito de Vicálvaro?</h3>


<%
  question = @poll_8.questions.first
  answers_votes = {}
  question.valid_answers.each_with_index do |answer, i|
    answers_votes[answer] = total_votes_for_answer(question, answer)
  end
  results_ordered = answers_votes.keys.sort { |x, y| answers_votes[y] <=> answers_votes[x] }
  winner = results_ordered.shift
%>
<table class="polls-stats-district">
  <caption>
    <%= question.title %>
  </caption>
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= winner %></td>
      <td><%= answers_votes[winner] %> (<%= percent_stat(answers_votes[winner], total_votes_for_poll(@poll_8)) %>%)</td>
    </tr>
  </tbody>
</table>

<table class="poll-8-discarded" style="display:none">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <% results_ordered.each do |result| %>
      <tr>
        <td><%= result %></td>
        <td><%= answers_votes[result] %> (<%= percent_stat(answers_votes[result], total_votes_for_poll(@poll_8)) %>%)</td>
      </tr>
    <% end %>
    <tr>
      <td>En BLANCO</td>
      <% whites = total_white_votes_for_poll(@poll_8) %>
      <td><%= whites %> (<%= percent_stat(whites, total_votes_for_poll(@poll_8)) %>%)</td>
    </tr>
  </tbody>
</table>

<div class="margin text-right">
<%= link_to "Ver resultados de todas las respuestas", "#",
            class: "js-toggle-link",
            data: {'toggle-selector' => ".poll-8-discarded", 'toggle-text' => "Ver solo respuestas ganadoras"} %>
</div>
