<% provide :title, t("meta_tags.help_processes.title") %>
<% provide :meta_description, t("meta_tags.help_processes.description") %>
<% provide :meta_keywords, t("meta_tags.help_processes.keywords") %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_debates_url %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= back_link_to help_path %>

    <ul class="vertical menu margin-top">
      <li><a href="#que-es-proceso"><strong>¿Qué son los procesos de Decide Madrid?</strong></a></li>
      <li><a href="#ejemplos-procesos"><strong>¿En qué tipo de procesos puedo participar?</strong></a></li>
      <li><a href="#quien-procesos"><strong>¿Quién puede participar en los procesos?</strong></a></li>
      <li><a href="#informacion-procesos"><strong>¿Se facilita información suficiente para permitir la participación en los procesos?</strong></a></li>
      <li><a href="#aportaciones-procesos"><strong>¿Cómo puedo aportar en un proceso?</strong></a></li>
      <li><a href="#resultados-procesos"><strong>¿Qué ocurre con las aportaciones una vez ha finalizado el proceso?</strong></a></li>
      <li><a href="#incorporacion-aportaciones-procesos"><strong>¿Qué hace el Ayuntamiento de Madrid con las aportaciones ciudadanas?</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>Preguntas frecuentes sobre Procesos</h1>

    <h2 id="que-es-proceso">¿Qué son los procesos de Decide Madrid?</h2>
    <p>Los procesos participativos son un mecanismo de la plataforma Decide Madrid para que la ciudadanía se implique en la elaboración y modificación de normativa que afecta a la ciudad de Madrid. También para que dé su opinión sobre ciertas actuaciones que tiene previsto llevar a cabo.</p>

    <h2 id="ejemplos-procesos">¿En qué tipo de procesos puedo participar?</h2>
    <p>Desde 2015, en la plataforma de participación Decide Madrid se han debatido ordenanzas municipales como la de <%= link_to "Movilidad", movilidad_path %>, <%= link_to "Subvenciones", subvention_ordinance_path %> o <%= link_to "Publicidad Exterior", publicity_path %>, entre otras.</p>

    <p>También se han debatido planes, reglamentos y directrices, como el <%= link_to "Plan de Calidad de Aire y Cambio Climático", air_quality_plan_path %>, que recibió la cifra récord de más de 6.000 comentarios; la <a href="https://decide.madrid.es/legislation/processes/26/proposals">Estrategia de Economía Social y Solidaria de la ciudad</a> o el <a href="https://decide.madrid.es/legislation/processes/19/debate">Reglamento de adjudicación de viviendas públicas de la EMVS</a>.</p>

    <p>El Ayuntamiento también abre procesos para recibir aportaciones y opiniones sobre actuaciones municipales. Son ejemplo de procesos pasados el cambio de denominación del barrio "San Andrés", la conveniencia de crear nuevos barrios en el Distrito de Vicálvaro o las preguntas sobre el Parque Lineal del Manzanares.</p>

    <p>El conjunto de procesos ha recibido cientos de comentarios y aportaciones que se han tenido en cuenta a la hora de aprobar estas normativas y de desarrollar las actuaciones.</p>

    <h2 id="quien-procesos">¿Quién puede participar en los procesos?</h2>
    <p>Las personas registradas en Decide Madrid pueden realizar aportaciones en la consulta pública de nuevas ordenanzas, reglamentos y directrices, entre otros. Sus comentarios y propuestas son analizados por el área correspondiente y tenidos en cuenta de cara a la redacción final de las normas.</p>

    <h2 id="informacion-procesos">¿Se facilita información suficiente para permitir la participación en los procesos?</h2>
    <p>Sí, en cada proceso se incluye la información necesaria: una introducción y contexto; resúmenes, medidas y borradores relacionados con la normativa o estrategia; la memoria propuesta para la consulta pública, el trámite y la comunicación de la consulta; las publicaciones relacionadas en boletines oficiales o acuerdos de Junta de Gobierno; actas, entre otros.</p>

    <h2 id="aportaciones-procesos">¿Cómo puedo aportar en un proceso?</h2>
    <p>Hay procesos en los que se hacen preguntas directas a las que se puede responder de manera abierta y votar las respuestas de otros usuarios. En otros, como la <a href="https://decide.madrid.es/legislation/processes/26/proposals">Estrategia de Economía Social y Solidaria de la ciudad</a>, se pueden realizar propuestas, y priorizar entre las propuestas ciudadanas y las realizadas por el Ayuntamiento. También existe la posibilidad, como en la <a href="https://decide.madrid.es/legislation/processes/2/draft_versions/2">Carta de Servicios de la Empresa Municipal de la Vivienda y Suelo de Madrid</a>, de seleccionar una parte del texto para comentarlo directamente sobre el borrador.</p>

    <h2 id="resultados-procesos">¿Qué ocurre con las aportaciones una vez ha finalizado el proceso?</h2>
    <p>Los votos, las respuestas y aportaciones de los usuarios pueden consultarse en todos y cada uno de los procesos, que se encuentran en la pestaña de <%= link_to "Terminados", processes_path(filter: "past") %> de la página de procesos.</p>

    <h2 id="incorporacion-aportaciones-procesos">¿Qué hace el Ayuntamiento de Madrid con las aportaciones ciudadanas?</h2>
    <p>El Consistorio madrileño tiene en cuenta todas las opiniones y aportaciones que hace la ciudadanía y las incorpora a la normativa o actuaciones que finalmente se aprueban o lleva a cabo.</p>
  </div>
</div>