<% provide(:title) do %>
  <%= t("admin.header.title") %> - <%= t("admin.proposals.index.title") %>
<% end %>

<h2><%= t("admin.proposals.index.title") %></h2>

<% if @proposals.any? %>
  <%= render Admin::SearchComponent.new(label: t("admin.shared.search.label.proposals")) %>

  <h3><%= page_entries_info @proposals %></h3>

  <table>
    <thead>
      <tr>
        <th class="text-center"><%= t("admin.proposals.index.id") %></th>
        <th><%= t("admin.proposals.index.title") %></th>
        <th><%= t("admin.proposals.index.author") %></th>
        <th><%= t("admin.proposals.index.milestones") %></th>
        <th><%= t("admin.proposals.index.selected") %></th>
      </tr>
    </thead>

    <tbody>
      <% @proposals.each do |proposal| %>
        <tr id="<%= dom_id(proposal) %>" class="proposal">
          <td class="text-center"><%= proposal.id %></td>
          <td><%= link_to proposal.title, admin_proposal_path(proposal) %></td>
          <td><%= proposal.author.username %></td>
          <td><%= proposal.milestones.count %></td>
          <td class="js-select"><%= render "select_proposal", proposal: proposal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @proposals %>
<% else %>
  <div class="callout primary">
    <%= t("admin.proposals.index.no_proposals") %>
  </div>
<% end %>
