<h2><%= t("admin.proposals.search.title") %></h2>

<!-- Search proposals -->
<%= form_for(Comment.new, url: search_admin_proposals_path, method: :get) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :term, "", placeholder: t("admin.proposals.index.search_placeholder") %>
    </div>
    <div class="form-inline small-12 medium-6 column">
      <%= f.submit t("admin.proposals.index.search"), class: "button radius success" %>
    </div>
  </div>
<% end %>
<!-- /. Search proposals -->

<h3><%= page_entries_info @proposals %></h3>

<table>
  <% @proposals.each do |proposal| %>
    <tr id="<%= dom_id(proposal) %>">
      <td>
        <strong><%= proposal.title %></strong>
        <br>
        <div class="moderation-description">
          <p><%= proposal.summary %></p>
          <%= proposal.description %>
          <% if proposal.external_url.present? %>
            <p><%= text_with_links proposal.external_url %></p>
          <% end %>
          <% if proposal.video_url.present? %>
            <p><%= text_with_links proposal.video_url %></p>
          <% end %>
          <p><%= proposal.question %></p>
        </div>
      </td>
      <td>
        <%= link_to t("admin.actions.restore"),
              restore_admin_proposal_path(proposal, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button radius tiny success no-margin" %>
      </td>
      <td>
        <% unless proposal.confirmed_hide? %>
          <%= link_to t("admin.actions.confirm_hide"),
                confirm_hide_admin_proposal_path(proposal, request.query_parameters),
                method: :put,
                class: "button radius tiny warning right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @proposals %>