<h2><%= t("admin.spending_proposals.show.dossier") %></h2>

<p><strong><%= t("admin.spending_proposals.show.price") %> (<%= t("admin.spending_proposals.show.currency") %>):</strong>
  <%= @spending_proposal.price.present? ? @spending_proposal.price : t("admin.spending_proposals.show.undefined") %>
</p>
<p><strong><%= t("admin.spending_proposals.show.price_first_year") %> (<%= t("admin.spending_proposals.show.currency") %>):</strong>
  <%= @spending_proposal.price_first_year.present? ? @spending_proposal.price_first_year : t("admin.spending_proposals.show.undefined") %>
</p>
<%= simple_format(safe_html_with_links(@spending_proposal.price_explanation.html_safe), {}, sanitize: false) if @spending_proposal.price_explanation.present? %>

<p><strong><%= t("admin.spending_proposals.show.feasibility") %>:</strong>
  <%= t("admin.spending_proposals.show.#{@spending_proposal.feasibility}") %>
</p>
<%= simple_format(safe_html_with_links(@spending_proposal.feasible_explanation.html_safe), {}, sanitize: false) if @spending_proposal.feasible_explanation.present? %>

<% if @spending_proposal.valuation_finished %>
  <p><strong><%= t("admin.spending_proposals.show.valuation_finished") %></strong>
<% end %>

<% if @spending_proposal.internal_comments.present? %>
  <h2><%= t("admin.spending_proposals.show.internal_comments") %></h2>
  <%= simple_format(safe_html_with_links(@spending_proposal.internal_comments.html_safe), {}, sanitize: false) %>
<% end %>
