<div class="callout primary float-right">
  <%= t "admin.spending_proposals.show.heading", id: @spending_proposal.id %>
</div>

<br>
<h1 class="inline-block"><%= @spending_proposal.title %></h1>

<div class="row small-collapse spending-proposal-info">
  <div class="small-12 medium-4 column">
    <p>
      <strong><%= t("admin.spending_proposals.show.geozone") %>:</strong>
      <%= geozone_name(@spending_proposal) %>
    </p>
  </div>

  <div class="small-12 medium-4 column">
    <p>
      <strong><%= t("admin.spending_proposals.show.by") %>:</strong>
      <%= link_to @spending_proposal.author.name, admin_hidden_user_path(@spending_proposal.author) %>
    </p>
  </div>

  <div class="small-12 medium-4 column">
    <p>
      <strong><%= t("admin.spending_proposals.show.sent") %>:</strong>
      <%= l @spending_proposal.created_at, format: :datetime %>
    </p>
  </div>

</div>

<% if @spending_proposal.association_name.present? %>
  <p><strong><%= t("admin.spending_proposals.show.association_name") %>:</strong>
    <%= @spending_proposal.association_name %>
  </p>
<% end %>

<% if @spending_proposal.external_url.present? %>
  <p><%= text_with_links @spending_proposal.external_url %>&nbsp;<span class="icon-external small"></span></p>
<% end %>

<%= safe_html_with_links @spending_proposal.description %>
