<%= link_to admin_spending_proposals_path(@spending_proposal), class: 'back' do %>
  <i class="icon-angle-left"></i> <%= t("admin.spending_proposals.show.back") %>
<% end %>

<%= render 'written_by_author' %>

<h2 id="form"><%= t("admin.spending_proposals.edit.classification") %></h2>

<%= form_for @spending_proposal, url: admin_spending_proposal_path(@spending_proposal) do |f| %>

  <%= f.select(:administrator_id,
               @admins.collect{ |a| [a.name_and_email, a.id ] },
               { include_blank: t("admin.spending_proposals.edit.undefined") },
               class: "small-12 medium-6") %>

  <%= f.label :tag_list, t("admin.spending_proposals.edit.tags") %>
  <div class="tags">
    <% @tags.each do |tag| %>
      <a class="js-add-tag-link"><%= tag.name %></a>
    <% end %>
  </div>
  <%= f.text_field :tag_list, value: @spending_proposal.tag_list.to_s,
                    label: false,
                    placeholder: t("admin.spending_proposals.edit.tags_placeholder"),
                    class: 'js-tag-list' %>

  <div class="row collapse">
    <%= f.label :valuator_ids, t("admin.spending_proposals.edit.assigned_valuators") %>

    <%= f.collection_check_boxes :valuator_ids, @valuators, :id, :email do |b| %>
      <div class="small-12 medium-4 column end">
        <%= b.label(title: b.object.name) { b.check_box + b.text } %>
      </div>
    <% end %>
  </div>

  <p class="clear">
    <%= f.submit(class: "button", value: t("admin.spending_proposals.edit.submit_button")) %>
  </p>

<% end %>

<hr>
<%= render 'valuation/spending_proposals/written_by_valuators' %>