<h2><%= t("admin.spending_proposals.index.title") %></h2>


  <%= form_tag admin_spending_proposals_path, method: :get, enforce_utf8: false do %>
    <div class="row"> 
      <div class="small-12 medium-6 column">  
        <%= label_tag :name, t("admin.spending_proposals.index.geozone_label") %>
        <%= select_tag :geozone_id, options_for_select(geozone_select_options.unshift([t("geozones.none"), "all"]), params[:geozone_id]),
                  { prompt: t("admin.spending_proposals.index.geozone_filter_all"),
                    label: false,
                    class: "js-submit-on-change"} %>
      </div>
    </div>  
    <div class="row"> 
      <div class="small-12 medium-6 column">  
        <%= text_field_tag "search", params[:search], 
                         placeholder: t("admin.spending_proposals.index.search_placeholder") %> 
      </div> 
      <div class="form-inline small-12 medium-6 column"> 
        <%= submit_tag t("admin.spending_proposals.index.search"), class: 'button radius success' %> 
      </div>
    </div>
  <% end %>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.spending_proposals.index" %>

<h3><%= page_entries_info @spending_proposals %></h3>

<table>
  <% @spending_proposals.each do |spending_proposal| %>
    <tr id="<%= dom_id(spending_proposal) %>">
      <td>
        <strong><%= spending_proposal.id %> -
                <%= link_to spending_proposal.title, admin_spending_proposal_path(spending_proposal) %></strong>
      </td>
      <td>
        <% if spending_proposal.administrator.present? %>
          <span title="<%= t('admin.spending_proposals.index.admin_assigned') %>"><%= spending_proposal.administrator.name %></span>
        <% else %>
          <%= t("admin.spending_proposals.index.no_admin_assigned") %>
        <% end %>
      </td>
      <td>
        <% case spending_proposal.valuators.size %>
        <% when 0 %>
          <%= t("admin.spending_proposals.index.no_valuators_assigned") %>
        <% when 1 %>
          <span title="<%= t('admin.spending_proposals.index.valuators_assigned', count: 1) %>">
            <%= spending_proposal.valuators.first.name %>
          </span>
        <% else %>
          <span title="<%= spending_proposal.valuators.map(&:name).join(', ') %>">
            <%= t('admin.spending_proposals.index.valuators_assigned', count: spending_proposal.valuators.size) %>
          </span>
        <% end %>
      </td>
      <td>
        <%= geozone_name(spending_proposal) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposals %>
