<h2><%= t("admin.spending_proposals.index.title") %></h2>

<h3><%= page_entries_info @spending_proposals %></h3>

<table>
  <% @spending_proposals.each do |spending_proposal| %>
    <tr id="<%= dom_id(spending_proposal) %>">
      <td>
        <strong><%= spending_proposal.id %> -
                <%= link_to spending_proposal.title, admin_spending_proposal_path(spending_proposal) %></strong>
      </td>
      <td>
        <%= geozone_name(spending_proposal) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposals %>
