<h2><%= t("admin.spending_proposals.search.title") %></h2>

<!-- Search spending_proposals -->
<%= form_tag(search_admin_spending_proposals_path, method: :get) do %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :term, params[:term], placeholder: t("admin.spending_proposals.index.search_placeholder") %>
    </div>
    <div class="form-inline small-12 medium-6 column">
      <%= submit_tag t("admin.spending_proposals.index.search"), class: "button radius success" %>
    </div>
  </div>
<% end %>
<!-- /. Search spending_proposals -->

<h3><%= page_entries_info @spending_proposal_search %></h3>

<table>
  <% @spending_proposal_search.each do |spending_proposal| %>
    <tr id="<%= dom_id(spending_proposal) %>">
      <td>
        <strong><%= link_to spending_proposal.title, search_admin_spending_proposals_path(spending_proposal) %>
        </strong>
      </td>
      <td>
        <%= geozone_name(spending_proposal) %>
      </td>
      <td>
        <% unless spending_proposal.accepted? %>
          <%= link_to t("admin.spending_proposals.actions.accept"),
              accept_admin_spending_proposal_path(spending_proposal, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button radius tiny success no-margin" %>
        <% end %>
        <% unless spending_proposal.rejected? %>
          <%= link_to t("admin.spending_proposals.actions.reject"),
                reject_admin_spending_proposal_path(spending_proposal, request.query_parameters),
                method: :put,
                data: { confirm: t("admin.actions.confirm") },
                class: "button radius tiny warning right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposal_search %>