<h2><%= @spending_proposal.title %></h2>

<%= safe_html_with_links @spending_proposal.description.html_safe %>

<% if @spending_proposal.external_url.present? %>
  <p><%= text_with_links @spending_proposal.external_url %></p>
<% end %>

<p><%= t("admin.spending_proposals.show.by") %>:
  <%= link_to @spending_proposal.author.name, admin_user_path(@spending_proposal.author) %>
</p>
<p><%= t("admin.spending_proposals.show.association_name") %>:
  <%= @spending_proposal.association_name %>
</p>
<p><%= t("admin.spending_proposals.show.geozone") %>:
  <%= geozone_name(@spending_proposal) %>
</p>
</p>


<h2><%= t("admin.spending_proposals.show.dossier") %>:</h2>

<p><strong><%= t("admin.spending_proposals.show.price") %>:</strong> <%= @spending_proposal.price %></p>
<p><strong><%= t("admin.spending_proposals.show.feasibility") %>:</strong> <%= t("admin.spending_proposals.show.#{@spending_proposal.feasibility}") %></p>

