<h2><%= t("admin.spending_proposals.summary.title") %></h2>

<table id="spending_proposals">
  <th><%= t("admin.spending_proposals.summary.geozone_name") %></th>
  <th><%= t("admin.spending_proposals.summary.count_for_geozone") %></th>
  <th><%= t("admin.spending_proposals.summary.cost_for_geozone") %></th>

  <% @spending_proposals.each do |geozone, price| %>
    <tr id="<%= geozone.present? ? dom_id(geozone) : 'geozone_all_city' %>">
      <td class="name"><%= geozone.present? ? geozone.name : t("geozones.none") %></td>
      <td class="proposals-count"><%= spending_proposal_count_for_geozone(geozone) %></td>
      <td class="total-price"><%= number_to_currency(price) %></td>
    </tr>
  <% end %>
</table>