<%= form_with model: [:admin, @event], builder: ConsulFormBuilder, local: true do |f| %>

  <%= render "shared/errors", resource: @event %>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.datetime_field :starts_at, class: "input-group-field" %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.datetime_field :ends_at, class: "input-group-field" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_area :description, rows: 8, class: "html-area" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%# Select Dropdown for Type %>
      <%= f.select :event_type,
                   Event::TYPES.map { |t| [t("events.types.#{t}", default: t.humanize), t] },
                   include_blank: "Select an Event Type" %>
    </div>

    <div class="small-12 medium-6 column">
      <%# Text field for Location %>
      <%= f.text_field :location %>
    </div>
  </div>

  <% if feature?(:allow_attached_documents) %>
    <%= render Documents::NestedComponent.new(f) %>
  <% end %>



  <%# SUBMIT BUTTON ROW %>
  <div class="row">
    <div class="small-12 medium-6 column end">
      <%= f.submit t("events.#{action_name}.submit_button", default: "Save Event"),
                   class: "button success" %>
    </div>
  </div>

<% end %>
