<div class="expanded processes no-margin-top margin-bottom">
  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        <%= t("pages.processes.index.title") %>
      </h1>
      <h2 class="label"><%= t("pages.processes.index.featured") %></h2>
      <!-- PROCESO DESTACADO (Parque Manzanares) -->
      <h3><%= link_to t("processes.manzanares.title"), manzanares_path %></h3>
      <p><%= t("processes.manzanares.description") %></p>
      <%= link_to t("processes.shared.more_info"), manzanares_path, class: "button" %>
    </div>
  </div>
</div>
