<!-- Remodelación de Plaza España -->
<div class="panel margin-bottom">
  <h3><%= link_to t("pages.processes.index.process_2_title"), plaza_path %></h3>
  <p><%= t("pages.processes.index.process_2_description_close") %></p>
  <%= link_to t("pages.processes.index.process_2_button"), plaza_path, class: "button hollow",
              title: t("pages.processes.index.more_info_title") + t("pages.processes.index.process_2_title") %>
</div>

<!-- Urbanismo bancos -->
<div id="town-planning" class="panel margin-bottom">
  <h3><%= link_to t("pages.processes.index.process_7_title"), town_planning_path %></h3>
  <p><%= t("pages.processes.index.process_7_description") %></p>
  <%= link_to t("pages.processes.index.process_7_button"), town_planning_path, class: "button hollow",
              title: t("pages.processes.index.more_info_title") + t("pages.processes.index.process_7_title") %>
</div>

<!-- Pleno abierto -->
<div id="open-plenary" class="panel margin-bottom">
  <h3><%= link_to t("pages.processes.index.process_3_title"), open_plenary_path %></h3>
  <p><%= t("pages.processes.index.process_3_description") %></p>
  <%= link_to t("pages.processes.index.process_3_button"), open_plenary_path, class: "button hollow",
              title: t("pages.processes.index.more_info_title") + t("pages.processes.index.process_3_title") %>
</div>
