<% provide(:title) { goal.title } %>

<main class="aue-goal-show">
  <%= back_link_to aue_goals_path %>

  <article class="aue-goal aue-goal-<%= code %>">
    <header>
      <h1><%= heading %></h1>
    </header>
    <div class="goal-description-content">
      <div id="description_goal_<%= goal.code %>" class="goal-description short" data-toggler="short">
        <%= long_description %>
      </div>
      <div class="read-more">
        <button type="button" id="read_more_goal_<%= goal.code %>"
           data-toggle="description_goal_<%= goal.code %> read_more_goal_<%= goal.code %> read_less_goal_<%= goal.code %>"
           data-toggler="hide">
          <%= t("aue.goals.show.read_more", goal: goal.title) %>
        </button>
        <button type="button" id="read_less_goal_<%= goal.code %>"
           data-toggle="description_goal_<%= goal.code %> read_more_goal_<%= goal.code %> read_less_goal_<%= goal.code %>"
           data-toggler="hide"
           class="hide">
          <%= t("aue.goals.show.read_less", goal: goal.title) %>
        </button>
      </div>
    </div>
  </article>
</main>
