<td>
  <%= link_to booth.name, admin_booth_path(booth) %>
</td>
<td>
  <%= booth.location || t("admin.booths.index.no_location") %>
</td>
<% if booth_assignment.present? %>
  <td>
    <span class="verified"><%= t("admin.booth_assignments.manage.status.assigned") %></span>
  </td>
  <td class="text-right">
    <%= link_to t("admin.booth_assignments.manage.actions.unassign"),
                admin_poll_booth_assignment_path(@poll, booth_assignment, booth_id: booth.id),
                method: :delete,
                remote: true,
                title: t("admin.booth_assignments.manage.actions.unassign"),
                class: "button hollow alert" %>
  </td>
<% else %>
  <td>
    <span class="delete"><%= t("admin.booth_assignments.manage.status.unassigned") %></span>
  </td>
  <td class="text-right">
    <%= link_to t("admin.booth_assignments.manage.actions.assign"),
                admin_poll_booth_assignments_path(@poll, booth_id: booth.id),
                method: :post,
                remote: true,
                title: t("admin.booth_assignments.manage.actions.assign"),
                class: "button" %>
  </td>
<% end %>
