<td>
  <%= link_to booth.name, admin_booth_path(booth) %>
</td>
<td>
  <%= booth.location || t("admin.booths.index.no_location") %>
</td>
<% if booth_assignment.present? %>
  <td>
    <span class="enabled">
      <strong><%= t("admin.booth_assignments.manage.status.assigned") %></strong>
    </span>
  </td>
  <td>
    <%= link_to t("admin.booth_assignments.manage.actions.unassign"),
                admin_poll_booth_assignment_path(@poll, booth_assignment, booth_id: booth.id),
                method: :delete,
                remote: true,
                title: t("admin.booth_assignments.manage.actions.unassign"),
                class: "button hollow alert expanded",
                data: (booth_assignment.shifts? ? {confirm: "#{t("admin.poll_booth_assignments.alert.shifts")}"} : nil) if !@poll.expired? %>
  </td>
<% else %>
  <td>
    <span class="disabled"><%= t("admin.booth_assignments.manage.status.unassigned") %></span>
  </td>
  <td>
    <%= link_to t("admin.booth_assignments.manage.actions.assign"),
                admin_poll_booth_assignments_path(@poll, booth_id: booth.id),
                method: :post,
                remote: true,
                title: t("admin.booth_assignments.manage.actions.assign"),
                class: "button hollow expanded" if !@poll.expired? %>
  </td>
<% end %>
