<div class="orbit margin-bottom" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <li><button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button></li>
    <li><button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button></li>
    <li class="is-active orbit-slide">
      <%= image_tag "plaza/project_x_1.jpg", alt: "Imagen 1 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (1/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_2.jpg", alt: "Imagen 2 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (2/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_3.jpg", alt: "Imagen 3 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (3/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_4.jpg", alt: "Imagen 4 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (4/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_5.jpg", alt: "Imagen 5 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (5/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_6.jpg", alt: "Imagen 6 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (6/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_7.jpg", alt: "Imagen 7 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (7/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_8.jpg", alt: "Imagen 8 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (8/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_9.jpg", alt: "Imagen 9 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (9/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_10.jpg", alt: "Imagen 10 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (10/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_11.jpg", alt: "Imagen 11 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (11/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_12.jpg", alt: "Imagen 12 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (12/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_13.jpg", alt: "Imagen 13 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (13/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_14.jpg", alt: "Imagen 14 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (14/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_15.jpg", alt: "Imagen 15 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (15/16)</span>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/project_x_16.jpg", alt: "Imagen 16 del proyecto X: Welcome mother Nature", class: "orbit-image" %>
      <span class="orbit-caption">Proyecto X: Welcome mother Nature (16/16)</span>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (1/16)</span><span class="show-for-sr">Estás viendo</span>
    </button>
    <button data-slide="1">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (2/16)</span>
    </button>
    <button data-slide="2">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (3/16)</span>
    </button>
    <button data-slide="3">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (4/16)</span>
    </button>
    <button data-slide="4">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (5/16)</span>
    </button>
    <button data-slide="5">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (6/16)</span>
    </button>
    <button data-slide="6">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (7/16)</span>
    </button>
    <button data-slide="7">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (8/16)</span>
    </button>
    <button data-slide="8">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (9/16)</span>
    </button>
    <button data-slide="9">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (10/16)</span>
    </button>
    <button data-slide="10">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (11/16)</span>
    </button>
    <button data-slide="11">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (12/16)</span>
    </button>
    <button data-slide="12">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (13/16)</span>
    </button>
    <button data-slide="13">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (14/16)</span>
    </button>
    <button data-slide="14">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (15/16)</span>
    </button>
    <button data-slide="15">
      <span class="show-for-sr">Proyecto X: Welcome mother Nature (16/16)</span>
    </button>
  </nav>
</div>
