<% comment_flags ||= @comment_flags %>
<% cache [locale_and_user_status(comment), comment, commentable_cache_key(comment.commentable), comment.author, (comment_flags[comment.id] if comment_flags)] do %>
  <ul id="<%= dom_id(comment) %>" class="comment no-bullet small-12">
    <li class="comment-body">
      <% if comment.hidden? || comment.user.hidden? %>
        <% if comment.children.size > 0 %>
          <div class="callout secondary">
            <p><%= t("comments.comment.deleted") %></p>
          </div>
        <% end %>
      <% else %>
        <% if comment.as_administrator? %>
          <%= image_tag("avatar_admin.png", size: 32, class: "admin-avatar float-left") %>
        <% elsif comment.as_moderator? %>
          <%= image_tag("avatar_moderator.png", size: 32, class: "moderator-avatar float-left") %>
        <% else %>
        <% if comment.user.hidden? || comment.user.erased? %>
            <span class="icon-deleted user-deleted"></span>
          <% elsif comment.user.organization? %>
            <%= image_tag("avatar_collective.png", size: 32, class: "avatar float-left") %>
          <% else %>
            <%= avatar_image(comment.user, seed: comment.user_id, size: 32, class: "float-left") %>
          <% end %>
        <% end %>

        <div class="comment-info">

          <% if comment.as_administrator? %>
            <span class="user-name"><%= t("comments.comment.admin") %> #<%= comment.administrator_id %></span>
          <% elsif comment.as_moderator? %>
            <span class="user-name"><%= t("comments.comment.moderator") %> #<%= comment.moderator_id %></span>
          <% else %>

            <% if comment.user.hidden? || comment.user.erased? %>
              <span class="user-name"><%= t("comments.comment.user_deleted") %></span>
            <% else %>
              <span class="user-name"><%= link_to comment.user.name, user_path(comment.user) %></span>
              <% if comment.user.display_official_position_badge? %>
                &nbsp;&bull;&nbsp;
                <span class="label round level-<%= comment.user.official_level %>">
                  <%= comment.user.official_position %>
                </span>
              <% end %>
            <% end %>
            <% if comment.user.verified_organization? %>
              &nbsp;&bull;&nbsp;
              <span class="label round is-association">
                <%= t("shared.collective") %>
              </span>
            <% end %>
            <% if comment.user_id == comment.commentable.author_id %>
              &nbsp;&bull;&nbsp;
              <span class="label round is-author">
                <%= t("comments.comment.author") %>
              </span>
            <% end %>

          <% end %>

          &nbsp;&bull;&nbsp;<span><%= l comment.created_at.to_datetime, format: :datetime %></span>
        </div>

        <div class="comment-user
                  <%= user_level_class comment %>
                  <%= comment_author_class comment, comment.commentable.author_id %>">
          <%= simple_format text_with_links(comment.body), {}, sanitize: false %>
        </div>

        <div id="<%= dom_id(comment) %>_reply" class="reply">
          <div id="<%= dom_id(comment) %>_votes" class="comment-votes float-right">
            <%= render 'comments/votes', comment: comment %>
          </div>

          <% if comment.children.size > 0 %>
            <%= link_to "", class: "js-toggle-children relative", data: {'id': "#{dom_id(comment)}"} do %>
              <span class="show-for-sr js-child-toggle" style="display: none;"><%= t("shared.show") %></span>
              <span class="show-for-sr js-child-toggle"><%= t("shared.hide") %></span>
              <span id="<%= dom_id(comment) %>_children_arrow" class="icon-arrow-down"></span> <%= t("comments.comment.responses", count: comment.children.size) %>
            <% end %>
          <% else %>
            <%= t("comments.comment.responses", count: 0) %>
          <% end %>

          <% if user_signed_in? && !comments_closed_for_commentable?(comment.commentable) && !require_verified_resident_for_commentable?(comment.commentable, current_user) %>
            <span class="divider">&nbsp;|&nbsp;</span>
            <%= link_to(comment_link_text(comment), "",
                        class: "js-add-comment-link", data: {'id': dom_id(comment)}) %>

            <%= render 'comments/actions', comment: comment %>

            <%= render 'comments/form', {commentable: comment.commentable, parent_id: comment.id, toggeable: true} %>
          <% end %>
        </div>
      <% end %>
    </li>
    <% unless child_comments_of(comment).empty? %>
    <li>
      <ul id="<%= dom_id(comment) %>_children" class="no-bullet comment-children">
        <% child_comments_of(comment).each do |child| %>
          <li>
            <%= render 'comments/comment', comment: child %>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>
