<div class="row">
	<div id="<%= dom_id(comment) %>" class="comment small-12 column">

    <% if comment.hidden? %>
      <%= t("debates.comment.deleted") %>
    <% else %>

      <%= avatar_image(comment.user, size: 32, class: 'left') %>

      <div class="comment-body">
        <div class="comment-info">
          <span class="user-name"><%= comment.user.name %></span>
          &nbsp;&bullet;&nbsp;<%= time_ago_in_words(comment.created_at) %>
          <!-- if user is official (change level-X CSS class) -->
            &nbsp;&bullet;&nbsp;
            <span class="label round level-1">
              Cargo oficial
            </span>
          <!-- if user is debate's author -->
            &nbsp;&bullet;&nbsp;
            <span class="label round author-debate">
              <%= t("debates.comment.author") %>
            </span>
          <!-- end -->
        </div>

        <!-- if user is official -->
          <p class="comment-user official"><%= comment.body %></p>
        <!-- elsif user is author -->
          <p class="comment-user author"><%= comment.body %></p>
        <!-- else -->
          <p class="comment-user"><%= comment.body %></p>
        <!-- end -->
        <span id="<%= dom_id(comment) %>_votes" class="comment-votes right">
          <%= render 'comments/votes', comment: comment %>
        </span>

        <p class="reply">
          <%= t("debates.comment.responses", count: comment.children_count) %>

          <% if user_signed_in? %>
            &nbsp;|&nbsp;
            <%= link_to(comment_link_text(comment), "",
                        class: "js-add-comment-link", data: {'id': dom_id(comment)}) %>

            <% if moderator? %>
               <%= render 'comments/actions', comment: comment %>
            <% end %>

            <%= render 'comments/form', {parent: comment, toggeable: true} %>
          <% end %>
        </p>
      </div>

    <% end %>

      <div class="comment-children">
        <%= render comment.children.with_deleted.reorder('id DESC, lft') %>
      </div>

  </div>
</div>