<%= link_to comment_link_text(parent), "", class: "js-add-comment-link", data: {'id': dom_id(parent)} %>

<div id="js-comment-form-<%= dom_id(parent) %>" style="display:none">
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.hidden_field :commentable_type, value: parent.class %>
    <%= f.hidden_field :commentable_id, value: parent.id %>
    
    <%= f.submit comment_button_text(parent) %>
  <% end %>
</div>