<div id="js-comment-form-<%= dom_id(parent) %>" <%= "style='display:none'".html_safe if toggeable %>>
  <%= form_for [@debate, Comment.new], remote: true do |f| %>
    <%= label_tag "comment-body-#{dom_id(parent)}", t("comments.form.leave_comment") %>
    <%= f.text_area :body, id: "comment-body-#{dom_id(parent)}", label: false %>
    <%= f.hidden_field :commentable_type, value: parent.class %>
    <%= f.hidden_field :commentable_id, value: parent.id %>

    <%= f.submit comment_button_text(parent), class: "button radius small inline-block" %>

    <% if can? :comment_as_moderator, @debate %>
      <div class="right">
        <%= f.check_box :as_moderator, id: "comment-as-moderator-#{dom_id(parent)}", label: false %>
        <%= label_tag "comment-as-moderator-#{dom_id(parent)}", t("comments.form.comment_as_moderator"), class: "checkbox" %>
      </div>
    <% end %>
    <% if can? :comment_as_administrator, @debate %>
      <div class="right">
        <%= f.check_box :as_administrator, id: "comment-as-administrator-#{dom_id(parent)}",label: false %>
        <%= label_tag "comment-as-administrator-#{dom_id(parent)}", t("comments.form.comment_as_admin"), class: "checkbox" %>
      </div>
    <% end %>
  <% end %>
</div>
