<div id="js-comment-form-<%= dom_id(parent) %>" <%= "style='display:none'".html_safe if toggeable %>>
  <%= form_for [@debate, Comment.new], remote: true do |f| %>
    <%= f.text_area :body %>
    <%= f.hidden_field :commentable_type, value: parent.class %>
    <%= f.hidden_field :commentable_id, value: parent.id %>

    <%= f.submit comment_button_text(parent), class: "button radius small" %>
  <% end %>
</div>
