<%= link_to "Comentar", "", class: "js-add-comment-link", data: {'id': parent.id} %>

<div id="js-comment-form-<%= parent.id %>" style="display:none">
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.hidden_field :commentable_type, value: parent.class %>
    <%= f.hidden_field :commentable_id, value: parent.id %>
    
    <%= f.submit 'Publicar comentario' %>
  <% end %>
</div>