<div id="js-comment-form-<%= dom_id(parent) %>" <%= "style='display:none'".html_safe if toggeable %>>
  <%= form_for [@debate, Comment.new], remote: true do |f| %>
    <%= f.text_area :body, label: t("comments.form.leave_comment") %>
    <%= f.hidden_field :commentable_type, value: parent.class %>
    <%= f.hidden_field :commentable_id, value: parent.id %>

    <%= f.submit comment_button_text(parent), class: "button radius small inline-block" %>

    <!-- if user is moderator
    <div class="right">
      <%#= f.check_box :, label: false %>
      <%#= f.label :, t("comments.form.comment_as_moderator"), class: "checkbox" %>
    </div>
    end -->
    <!-- if user is admin
    <div class="right">
      <%#= f.check_box :, label: false %>
      <%#= f.label :, t("comments.form.comment_as_admin"), class: "checkbox" %>
    </div>
    end -->
  <% end %>
</div>
