<span>
  (<%= t('comments.form.alignment.positive') %>: <span class="js-comments-count positive"><%= commentable.comments.positive.count %></span>,
  <%= t('comments.form.alignment.negative') %>: <span class="js-comments-count negative"><%= commentable.comments.negative.count %></span>,
  <%= t('comments.form.alignment.neutral') %>: <span class="js-comments-count neutral"><%= commentable.comments.neutral.count %></span>)
</span>
