<span>
  <!-- <%= t('debates.comment.votes_weighted_score', score: comment.weighted_score) %> -->
  <%= t('debates.comment.votes', count: comment.total_votes) %>
</span>
&nbsp;|&nbsp;
<span class="in_favor">
  <%= link_to vote_comment_path(comment, value: 'yes'),
      method: "post", remote: true do %>
      <i class="icon-angle-up"></i>
  <% end %>
  <%= comment.likes %>
</span>

<span class="against">
  <%= link_to vote_comment_path(comment, value: 'no'),
      method: "post", remote: true do %>
      <i class="icon-angle-down"></i>
  <% end %>
  <%= comment.dislikes %>
</span>
