<span>
  <%= t('debates.comment.votes', count: comment.total_votes) %>
</span>
&nbsp;|&nbsp;
<span class="in_favor">
  <%= link_to vote_comment_path(comment, value: 'yes'),
      method: "post", remote: true do %>
      <i class="icon-angle-up"></i>
  <% end %>
  <%= comment.total_likes %>
</span>

<span class="against">
  <%= link_to vote_comment_path(comment, value: 'no'),
      method: "post", remote: true do %>
      <i class="icon-angle-down"></i>
  <% end %>
  <%= comment.total_dislikes %>
</span>
