<div class="votes">
  <% if user_signed_in? %>
    <span class="total"><%= t("comments.comment.votes", count: comment.total_votes) %></span>

    <span class="in-favor in_favor">
      <% if can?(:vote, comment) %>
        <%= link_to vote_comment_path(comment, value: "yes"),
            method: "post", remote: true, title: t("votes.agree") do %>
            <%= comment.total_likes %>
            <span class="icon-like">
              <span class="show-for-sr"><%= t("votes.agree") %></span>
            </span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= comment.total_likes %>
          <span class="icon-like">
            <span class="show-for-sr"><%= t("votes.agree") %></span>
          </span>
        <% end %>
      <% end %>
    </span>

    <span class="against">
      <% if can?(:vote, comment) %>
        <%= link_to vote_comment_path(comment, value: "no"),
            method: "post", remote: true, title: t("votes.disagree") do %>
            <%= comment.total_dislikes %>
            <span class="icon-unlike">
              <span class="show-for-sr"><%= t("votes.disagree") %></span>
            </span>
        <% end %>
      <% else %>
        <%= comment.total_dislikes %>
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
        </span>
      <% end %>
    </span>

  <% elsif !user_signed_in? %>

    <div class="participation-allowed">
      <span class="total"><%= t("comments.comment.votes", count: comment.total_votes) %></span>

      <span class="in-favor in_favor">
        <% if can?(:vote, comment) %>
          <%= link_to vote_comment_path(comment, value: "yes"),
              method: "post", remote: true, title: t("votes.agree") do %>
              <%= comment.total_likes %>
              <span class="icon-like">
                <span class="show-for-sr"><%= t("votes.agree") %></span>
              </span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= comment.total_likes %>
            <span class="icon-like">
              <span class="show-for-sr"><%= t("votes.agree") %></span>
            </span>
          <% end %>
        <% end %>
      </span>

      <span class="against">
        <% if can?(:vote, comment) %>
          <%= link_to vote_comment_path(comment, value: "no"),
              method: "post", remote: true, title: t("votes.disagree") do %>
              <%= comment.total_dislikes %>
              <span class="icon-unlike">
                <span class="show-for-sr"><%= t("votes.disagree") %></span>
              </span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= comment.total_dislikes %>
            <span class="icon-unlike">
              <span class="show-for-sr"><%= t("votes.disagree") %></span>
            </span>
          <% end %>
        <% end %>
      </span>
    </div>

    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <%= sanitize(t("votes.comment_unauthenticated", signin: link_to_signin, signup: link_to_signup)) %>
    </div>
  <% end %>
</div>
