<span>
  <%= t('comments.comment.votes', count: comment.total_votes) %>
</span>
&nbsp;|&nbsp;
<span class="in_favor">
  <% if can?(:vote, comment) %>
    <%= link_to vote_comment_path(comment, value: 'yes'),
        method: "post", remote: true do %>
        <i class="icon-angle-up"></i>
    <% end %>
  <% else %>
    <i class="icon-angle-up"></i>
  <% end %>
  <%= comment.total_likes %>
</span>

<span class="against">
  <% if can?(:vote, comment) %>
    <%= link_to vote_comment_path(comment, value: 'no'),
        method: "post", remote: true do %>
        <i class="icon-angle-down"></i>
    <% end %>
  <% else %>
    <i class="icon-angle-down"></i>
  <% end %>
  <%= comment.total_dislikes %>
</span>
