<div class="detailed-info">
  <%= render Shared::DetailedAuthorInfoComponent.new(record.author) %>
  <%= date %>
  <%= render Shared::CommentsCountComponent.new(record.comments_count, url: comments_path) %>

  <%= content %>

  <% if can?(:flag, record) && !preview? %>
    <span class="js-flag-actions">
      <%= render Shared::FlagActionsComponent.new(record) %>
    </span>
  <% end %>
</div>
