<div class="row globalize-languages column padding-top <%= highlight_translation_html_class %>">
  <div class="small-6 large-3 column">
    <span class="small">
      <strong class="js-languages-description"
        data-texts="<%= t("shared.translations.languages_in_use").to_json %>">
        <%= selected_languages_description %>
      </strong>
    </span>
    <%= label_tag :select_language, t("shared.translations.current_language") %>
    <%= select_tag :select_language,
                   options_for_select_language,
                   class: "js-select-language" %>
    <%= select_language_error %>
    <div class="margin-bottom">
      <% if manage_languages %>
        <% Setting.enabled_locales.each do |locale| %>
          <%= link_to t("shared.translations.remove_language"), "#",
                      style: display_destroy_locale_style(locale),
                      class: "delete js-delete-language js-delete-#{locale}",
                      data: { locale: locale } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="small-6 large-3 column margin-top end">
    <% if manage_languages %>
      <%= label_tag :add_language, t("shared.translations.add_language") %>
      <%= select_tag :add_language,
                     options_for_add_language,
                     prompt: "",
                     class: "js-add-language" %>
    <% end %>
  </div>
</div>
