<div class="in-favor-against">
  <div class="in-favor">
    <%= button_to vote_in_favor_against_path("yes"),
                  title: t("votes.agree"),
                  "aria-label": agree_aria_label,
                  "aria-pressed": pressed?("yes"),
                  method: user_already_voted_with("yes") ? "delete" : "post",
                  remote: true do %>
      <span class="show-for-sr"><%= t("votes.agree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("likes", votable) %></span>
  </div>

  <div class="against">
    <%= button_to vote_in_favor_against_path("no"),
                  title: t("votes.disagree"),
                  "aria-label": disagree_aria_label,
                  "aria-pressed": pressed?("no"),
                  method: user_already_voted_with("no") ? "delete" : "post",
                  remote: true do %>
      <span class="show-for-sr"><%= t("votes.disagree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("dislikes", votable) %></span>
  </div>
</div>
