<div class="in-favor-against">
  <div class="in-favor inline-block">
    <%= button_to polymorphic_path(votable, action: :vote, value: "yes"),
        class: "like #{voted_classes[:in_favor]}",
        title: t("votes.agree"),
        "aria-label": agree_aria_label,
        method: "post",
        remote: true,
        disabled: !current_user do %>
      <span class="icon-like">
        <span class="show-for-sr"><%= t("votes.agree") %></span>
      </span>
      <span class="percentage"><%= votes_percentage("likes", votable) %></span>
    <% end %>
  </div>

  <span class="divider"></span>

  <div class="against inline-block">
    <%= button_to polymorphic_path(votable, action: :vote, value: "no"),
        class: "unlike #{voted_classes[:against]}",
        title: t("votes.disagree"),
        "aria-label": disagree_aria_label,
        method: "post",
        remote: true,
        disabled: !current_user do %>
      <span class="icon-unlike">
        <span class="show-for-sr"><%= t("votes.disagree") %></span>
      </span>
      <span class="percentage"><%= votes_percentage("dislikes", votable) %></span>
    <% end %>
  </div>
</div>
