<div class="in-favor-against">
  <div class="in-favor">
    <%= button_to polymorphic_path(votable, action: :vote, value: "yes"),
                  title: t("votes.agree"),
                  "aria-label": agree_aria_label,
                  "aria-pressed": pressed?("yes"),
                  method: "post",
                  remote: true do %>
      <span class="show-for-sr"><%= t("votes.agree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("likes", votable) %></span>
  </div>

  <div class="against">
    <%= button_to polymorphic_path(votable, action: :vote, value: "no"),
                  title: t("votes.disagree"),
                  "aria-label": disagree_aria_label,
                  "aria-pressed": pressed?("no"),
                  method: "post",
                  remote: true do %>
      <span class="show-for-sr"><%= t("votes.disagree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("dislikes", votable) %></span>
  </div>
</div>
