<%# app/components/shared/in_favor_neutral_against_component.html.erb %>

<div class="in-favor-neutral-against">
  
  <%# "In Favor" Button (Weight: 1) %>
  <div class="in-favor">
    <%= render Shared::VoteButtonComponent.new(votable,
                                               weight: 1,
                                               "aria-label": agree_aria_label,
                                               title: t("votes.agree")) %>
    <span class="percentage"><%= vote_percentage_for_weight(votable, 1) %></span>
  </div>

  <%# "Don't Know" Button (Weight: 0) %>
  <div class="neutral">
    <%= render Shared::VoteButtonComponent.new(votable,
                                               weight: 0,
                                               "aria-label": neutral_aria_label,
                                               title: t("votes.dont_know", default: "Don't Know")) %>
    <span class="percentage"><%= vote_percentage_for_weight(votable, 0) %></span>
  </div>

  <%# "Against" Button (Weight: -1) %>
  <div class="against">
    <%= render Shared::VoteButtonComponent.new(votable,
                                               weight: -1,
                                               "aria-label": disagree_aria_label,
                                               title: t("votes.disagree")) %>
    <span class="percentage"><%= vote_percentage_for_weight(votable, -1) %></span>
  </div>
</div>