<div class="row ballot">

  <%= link_to welcome_spending_proposals_path, class: "back" do %>
    <span class="icon-angle-left"></span>
    <%= t("shared.back") %>
  <% end %>

  <h1><%= t("ballots.show.title") %></h1>

  <h2>
    <%= t("ballots.show.voted_html",
        count: @ballot.spending_proposals.count,
        amount_spent: format_price(@ballot.total_amount_spent)) %>
  </h2>

  <div class="callout primary">
    <%= t("ballots.show.info_html") %>
  </div>

  <div class="row">
    <div id="city_wide" class="small-12 medium-6 column">
      <table>
        <thead>
          <tr>
            <th colspan="3"><%= t("ballots.show.city_wide") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spending_proposal',
                     collection: @ballot.spending_proposals.city_wide %>
          <tr class="amount-spent">
            <td>
              <%= t("ballots.show.amount_spent") %>
            </td>
            <td colspan="2">
              <span><%= format_price(@ballot.city_wide_amount_spent) %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="district_wide" class="small-12 medium-6 column">
      <table>
        <thead>
          <tr>
            <th colspan="3"><%= t("ballots.show.district_wide") %> (District name)</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spending_proposal',
                     collection: @ballot.spending_proposals.district_wide %>
          <tr class="amount-spent">
            <td>
              <%= t("ballots.show.amount_spent") %>
            </td>
            <td colspan="2">
              <span><%= format_price(@ballot.district_wide_amount_spent) %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
