<div class="row ballot">

  <%= link_to :back, class: "back" do %>
    <span class="icon-angle-left"></span>
    Volver
  <% end %>

  <h1>Confirm your ballot</h1>

  <div class="row">
    <div id="city_wide" class="small-12 medium-6 column">
      <table>
        <thead>
          <tr>
            <th colspan="3">City Wide</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spending_proposal',
                     collection: @ballot.spending_proposals.city_wide %>
          <tr class="total-cost">
            <td>
              Coste total
            </td>
            <td colspan="2">
              <span>23.980.000€</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="district_wide" class="small-12 medium-6 column">
      <table>
        <thead>
          <tr>
            <th colspan="3">District Wide (District name)</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spending_proposal',
                     collection: @ballot.spending_proposals.district_wide %>
          <tr class="total-cost">
            <td>
              Coste total
            </td>
            <td colspan="2">
              <span>1.125.000€</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= form_for @ballot, url: ballot_path do |f| %>
        <%= f.submit "Confirmar mi votación", class: "button expanded" %>
      <% end %>
    </div>
  </div>
</div>
