<% provide :title do %><%= t("debates.index.title") %>
<% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form", search_path: debates_path(page: 1), i18n_namespace: "debates.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>

<%= render "shared/section_header", i18n_namespace: "debates.index.section_header", image: "debates" %>
<div class="container-xxl">
  <div class="row mt-n10">
    <div id="debates" class="col-12 col-md-8 order-2 order-md-1">
      <% if @search_terms || @advanced_search_terms %>
        <div class="alert alert-success" role="alert">
          <%= back_link_to %>
          <% if @search_terms || @advanced_search_terms %>
            <div class="h2"><%= t("shared.search_results") %></div>
            <%= page_entries_info @debates %>
            <% if !@advanced_search_terms %>
              <%= sanitize( t("debates.index.search_results", count: @debates.size, search_term: @search_terms) ) %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <nav class="navbar bg-primary text-white">

        <%= render "shared/order_links", i18n_namespace: "debates.index" %>
        <%= render Shared::AdvancedSearchComponent.new %>

      </nav>

      <% if @debates.any? || current_user.blank? %>
        <% if debates_default_view? %>
          <%= render @debates %>
        <% else %>
          <% @debates.each do |debate| %>
            <%= render "debates/debate_minimal", debate: debate %>
          <% end %>
        <% end %>
      <% else %>
        <%= empty_recommended_debates_message_text(current_user) %>
      <% end %>
      <%= paginate @debates %>

    </div>

    <div class="col-12 col-md-4 order-1 order-md-2 ">

      <aside class="margin-bottom">

        <%= link_to t("debates.index.start_debate"), new_debate_path, class: "btn btn-lg btn-white my-2 mx-2 w-100" %>
        <%= render "shared/tag_cloud", taggable: "Debate" %>
      </aside>
    </div>

  </div>

</div>
