<h2><%= t("moderation.users.index.title") %></h2>

<%= render Admin::SearchComponent.new(label: t("moderation.users.index.search_placeholder")) %>

<% if @users.present? %>
  <h3><%= page_entries_info @users %></h3>
<% end %>

<table id="moderation_users">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td class="text-right">
          <% if user.hidden? %>
            <%= t("moderation.users.index.hidden") %>
          <% else %>
            <%= render Admin::ActionComponent.new(
              :hide_in_moderation_screen,
              user,
              text: t("moderation.users.index.hide"),
              method: :put,
              "aria-label": true,
              class: "button hollow alert"
            ) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
