<h2><%= t("moderation.users.index.title") %></h2>

<%= render Admin::SearchComponent.new(label: t("moderation.users.index.search_placeholder")) %>

<% if @users.present? %>
  <h3><%= page_entries_info @users %></h3>
<% end %>

<table id="moderation_users">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td class="text-right">
          <% if user.hidden? %>
            <%= t("moderation.users.index.hidden") %>
          <% else %>
          <%= link_to t("moderation.users.index.hide"), hide_in_moderation_screen_moderation_user_path(user, request.query_parameters),
                      method: :put, class: "button hollow alert" %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
