<div class="callout proposal-totals">
  <div class="row">
    <div class="column large-4">
      <div class="counter">
        <div class="counter-value"><%= proposal.votes_for.size %></div>
        <div class="counter-label"><%= t('.supports') %></div>
      </div>

      <div class="counter">
        <div class="counter-value">
          <%= ProposalDashboardAction.active.resources.active_for(proposal).count %>
          /
          <%= ProposalDashboardAction.active.resources.count %>
        </div>
        <div class="counter-label"><%= t('.active_resources') %></div>
      </div>

      <div class="counter">
        <div class="counter-value">0</div>
        <div class="counter-label"><%= t('.community') %></div>
      </div> 
    </div>
    <div class="column large-8">
      <div class="current-goal">
        <div class="counter-value">
          <%= t('.support_count', count: next_goal_supports) %>
        </div>

        <div class="counter-label"><%= t('.current_goal') %></div>
      </div>

      <div class="support-indicator">
        <div class="text-right">
          <%= next_goal_progress %>%
        </div>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" 
             aria-valuetext="<%= "#{next_goal_progress}%" %>" aria-valuemax="100">
           <div class="progress-meter" style="width: <%= next_goal_progress %>%"></div>
        </div>
      </div>

      <div class="proposal-link">
        <%= link_to t('.show_proposal'), proposal_path(proposal), class: 'button success expanded' %>
      </div>
    </div>
  </div>
</div>
