<p><%= t("management.users.create_user_info") %></p>

<% render 'management/user_permissions',
      message: t("management.document_verifications.in_census_has_following_permissions"),
      permissions: [:debates, :create_proposals, :support_proposals, :vote_proposals] %>

<div class="row">
  <div class="small-12 medium-8 column">
    <%= form_for @user, url: management_users_path do |f| %>
      <div class="row">
        <div class="small-4 large-4 columns">
          <%= f.label t("verification.residence.new.document_type_label") %>
          <%= f.select :document_type, document_types, prompt: "", label: false %>
        </div>
        <div class="small-8 large-8 columns">
          <%= f.text_field :document_number %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 large-6 columns">
          <%= f.text_field :username,
              label: t('management.username_label'),
              placeholder: t('management.username_label') %>
        </div>
        <div class="small-6 large-6 columns">
          <%= f.text_field :email,
              label: t('management.email_label'),
              placeholder: t('management.email_label') %>
        </div>
      </div>
      <div class="row">
        <div class="date-of-birth small-12 medium-12 clear">
          <%= f.label t("verification.residence.new.date_of_birth") %>
          <%= f.date_select :date_of_birth,
                            prompt: true,
                            start_year: 1900, end_year: 16.years.ago.year,
                            label: false %>
        </div>
      </div>
      <%#= f.text_field :postal_code, label: false %>
      <%= f.submit t("management.users.create_user_submit"), class: "button success" %>
    <% end %>
  </div>
</div>
