<%= header %>

<%# TODO: replace links with tabs %>
<%= link_to SDG::Goal.model_name.human(count: 2).titleize, sdg_management_goals_path %>
<%= link_to SDG::Target.model_name.human(count: 2).titleize, sdg_management_targets_path %>

<table>
  <thead>
    <tr>
      <th><%= attribute_name(:code) %></th>
      <th><%= attribute_name(:title) %></th>
      <th><%= attribute_name(:description) %></th>
    </tr>
  </thead>

  <tbody>
    <% goals.each do |goal| %>
      <tr id="<%= dom_id(goal) %>" class="goal">
        <td><%= goal.code %></td>
        <td><%= goal.title %></td>
        <td><%= goal.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
