<%= header %>

<%= render SDGManagement::SubnavigationComponent.new(current: :goals) do %>
  <table>
    <thead>
      <tr>
        <th><%= attribute_name(:code) %></th>
        <th><%= attribute_name(:title) %></th>
        <th><%= attribute_name(:description) %></th>
      </tr>
    </thead>

    <tbody>
      <% goals.each do |goal| %>
        <tr id="<%= dom_id(goal) %>" class="goal">
          <td><%= goal.code %></td>
          <td><%= goal.title %></td>
          <td><%= goal.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
