<div class="verification account row">
  <div class="small-12 column">
    <div class="text-center">

      <div class="small-4 column verification-step completed">
        <%= t("verification.step_1") %>
      </div>
      <div class="small-4 column verification-step active">
        <%= t("verification.step_2") %>
      </div>
      <div class="small-4 column verification-step">
        <%= t("verification.step_3") %>
      </div>
    </div>

    <div class="progress small-12 success round">
      <span class="meter" style="width: 66%"></span>
    </div>

    <%= link_to account_path, class: "left back clear" do %>
      <i class="icon-angle-left left"></i>
      <%= t("verification.back") %>
    <% end %>

    <h1><%= t("verification.sms.new.title") %></h1>

    <%= form_for @sms, as: "sms", url: sms_path do |f| %>
      <%= render "shared/errors", resource: @sms %>

      <div class="small-12 medium-6">
        <%= f.label t("verification.sms.new.phone") %>
        <%= f.text_field :phone, label: false %>
      </div>

      <%= f.submit t("verification.sms.new.submit_button") %>
    <% end %>
  </div>
</div>
