<%= link_to "< Volver", admin_budget_physical_final_votes_path %>

<h2><%= @physical_final_vote.name %></h2>

<div class="callout secondary float-right">
  <%= t("admin.physical_final_votes.show.created_at") %>
  <strong><%= l(@physical_final_vote.created_at, format: :short) %></strong>
</div>

<h3 id="booth" class="block">
  <%= t("admin.physical_final_votes.booth") %>:
  <%= @physical_final_vote.booth %>
</h3>

<h3 id="total_votes" class="block">
  <%= t("admin.physical_final_votes.show.total_votes") %>
  <%= @physical_final_vote.total_votes || 0 %>
</h3>
