<h1>Signatures</h1>

<div>
  <%= link_to 'Nueva hoja de firmas', new_admin_signature_sheet_path %>
</div>

<table>
  <tr>
    <th><%= t("admin.signature_sheet.name") %></th>
    <th><%= t("admin.signature_sheet.author") %></th>
    <th><%= t("admin.signature_sheet.created_at") %></th>
  </tr>
  <% @signature_sheets.each do |signature_sheet| %>
    <tr id="<%= dom_id(signature_sheet) %>">
      <td>
        <%= link_to signature_sheet.name, [:admin, signature_sheet] %>
      </td>
      <td>
        <%= signature_sheet.author.name %>
      </td>
      <td>
        <%= l(signature_sheet.created_at, format: :short) %>
      </td>
    </tr>
  <% end %>
</table>