<h2 class="inline-block"><%= @signature_sheet.name %></h2>

<div class="callout secondary float-right">
  <%= t("admin.signature_sheets.show.created_at") %>
  <strong><%= l(@signature_sheet.created_at, format: :short) %></strong>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= t("admin.signature_sheets.show.author") %>
  <strong><%= @signature_sheet.author.name %></strong>
</div>

<div class="callout margin-top">
  <p><strong><%= t("admin.signature_sheets.show.documents") %></strong></p>
  <%= @signature_sheet.document_numbers %>
</div>

<% if @signature_sheet.signatures.invalid.any? %>
  <div class="callout success">
    <strong>
      <%= t("admin.signature_sheets.show.valid",
          count: @signature_sheet.signatures.valid.count ) %>
    </strong>
  </div>
  <% @invalid_signatures.each do |error, signatures| %>
    <div class="callout alert">
      <p>
        <strong>
          <%= t("admin.signature_sheets.show.invalid",
              count: @signature_sheet.signatures.invalid.count ) %>
          (<%= error %>)
        </strong>
      </p>
      <%= signatures.map(&:document_number).join(",") %>
    </div>
  <% end %>
<% else %>
  <div class="callout success">
    <strong>
      <%= t("admin.signature_sheets.show.all_valid",
          count: @signature_sheet.signatures.valid.count ) %>
    </strong>
  </div>
<% end %>

<% unless @signature_sheet.processed? %>
  <div class="callout primary margin-top">
    <%= t("admin.signature_sheets.show.loading") %>
  </div>
<% end %>