<h1><%= @signature_sheet.name %></h1>

<div>Documentos: <%= @signature_sheet.document_numbers %></div>
<div>Creado: <%= l(@signature_sheet.created_at, format: :short) %></div>
<div>Autor: <%= @signature_sheet.author.name %></div>
<br/>

<div>
  Hay <%= @signature_sheet.signatures.verified.count %> firmas válidas
</div>

<div>
  Hay <%= @signature_sheet.signatures.unverified.count %> firmas inválidas
</div>
<br/>

<% if @signature_sheet.signatures.verified.any? %>
    <div>
      EL PADRÓN NO PUDO VERIFICAR LA INFORMACIÓN
    </div>
    <div>
        <%= @signature_sheet.signatures.unverified.map(&:document_number).join(",") %>
    </div>
<% end %>

<% unless @signature_sheet.processed? %>
  Aún hay firmas que se están verificando por el Padrón, por favor refresca la página en unos instantes.
<% end %>