<h2 class="inline-block"><%= @signature_sheet.name %></h2>

<div class="callout secondary float-right">
  <%= t("admin.signature_sheets.show.created_at") %>
  <strong><%= l(@signature_sheet.created_at, format: :short) %></strong>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= t("admin.signature_sheets.show.author") %>
  <strong><%= @signature_sheet.author.name %></strong>
</div>

<div class="callout margin-top">
  <p><strong><%= t("admin.signature_sheets.show.documents") %></strong></p>
  <%= @signature_sheet.document_numbers %>
</div>

<% if @signature_sheet.signatures.unverified.any? %>
  <div id="verified_signatures" class="callout success">
    <strong>
      <%= t("admin.signature_sheets.show.verified",
          count: @signature_sheet.signatures.verified.count ) %>
    </strong>
  </div>

  <div id="unverified_signatures" class="callout alert">
    <p>
      <strong>
        <%= t("admin.signature_sheets.show.unverified",
            count: @signature_sheet.signatures.unverified.count ) %>
        (No verificadas por el Padrón)
      </strong>
    </p>
    <%= @signature_sheet.signatures.unverified.map(&:document_number).join(",") %>
  </div>
<% else %>
  <div class="callout success">
    <strong>
      <%= t("admin.signature_sheets.show.all_verified",
          count: @signature_sheet.signatures.verified.count ) %>
    </strong>
  </div>
<% end %>

<% unless @signature_sheet.processed? %>
  <div class="callout primary margin-top">
    <%= t("admin.signature_sheets.show.loading") %>
  </div>
<% end %>