<h2>note</h2>
<p>214501H0004-172335 - qq5couNCm8BtmqvEI8RmvqaLmxPY4VbysOzKl0ub6c4%3D</p>

<p>params : <%= params[:string] %></p>
<p>@encrypt : <%= @encrypt %></p>
<p>@decrypt : <%= @decrypt %></p>

<p>@esi : <%= @esi %></p>
<p>@apartment_number : <%= @apartment_number %></p>
<p>@contract : <%= @contract %></p>
<!-- <p>@site : <%= @site %></p> -->

<p>coucou : <%= @coucou %></p>


<form action="/users" method="PATCH">
  <input name="username" type="text" placeholder="<%= @apartment_number %>">
  <input name="email" type="email">
  <input type="submit">
</form>
