<%= link_to t("admin.postcodes.index.create"),
              new_admin_postcode_path, class: "button float-right" %>
              
<%= link_to t("admin.postcodes.index.csv_button"),
            ncsv_admin_postcodes_path(format: :html), class: "button float-right hollow" %>

<h2 class="inline-block"><%= t("admin.postcodes.index.title") %></h2>

<% if @postcodes.any? %>
  <h3><%= page_entries_info @postcodes %></h3>
  <table>
  <thead>
    <tr>
      <th><%= t("admin.postcodes.postcode.postcode") %></th>
      <th><%= t("admin.postcodes.postcode.ward") %></th>
      <th><%= t("admin.postcodes.postcode.geozone_id") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @postcodes.each do |postcode| %>
      <tr id="<%= dom_id(postcode) %>">
        <td><%= postcode.postcode %></td>
        <td><%= postcode.ward %></td>
        <td><!-- <%= postcode.geozone_id %> -->
        <%= postcode.geozone.name if postcode.geozone %>
        </td>
        <td>
          <%= render Admin::TableActionsComponent.new(postcode) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3><%= paginate @postcodes %></h3>
<% else %>
  <div class="callout primary">
    <%= t("admin.postcodes.index.no_record") %>
  </div>
<% end %>