<%= back_link_to admin_postcodes_path, t("admin.postcodes.new.back") %>
<br><br>
<h2 class="inline-block"><%= t("admin.postcodes.index.title") %></h2>

<%= link_to t("admin.postcodes.index.csv_import"),
            ncsv_admin_postcodes_path,
            class: "button float-right hollow" %>

<h3>Import process results</h3>
<h4>Errored rows (<%= @rejected_entries.length %>)</h4>
<br>
<table>
  <thead>
    <tr>
      <th><%= t("admin.postcodes.postcode.postcode") %></th>
      <th><%= t("admin.postcodes.postcode.ward") %></th>
      <th><%= t("admin.postcodes.postcode.geozone_id") %></th>
    </tr>
  </thead>

  <tbody>
    <% if @rejected_entries.length == 0 %>
      <tr>
        <td><%= t("admin.postcodes.index.no_record") %></td>
      </tr>
    <% else %>
      <% @rejected_entries.each do |rejected_entry| %>
        <tr>
          <% rejected_entry.each do |key, value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h4>Created records (<%= @accepted_entries.length %>)</h4>

<table>
  <thead>
    <tr>
      <th><%= t("admin.postcodes.postcode.postcode") %></th>
      <th><%= t("admin.postcodes.postcode.ward") %></th>
      <th><%= t("admin.postcodes.postcode.geozone_id") %></th>
    </tr>
  </thead>

  <tbody>
  <% if @accepted_entries.length == 0 %>
    <tr>
      <td><%= t("admin.postcodes.index.no_record") %></td>
    </tr>
  <% else %>
    <% @accepted_entries.each do |accepted_entry| %>
      <tr>
        <% accepted_entry.each do |key, value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>