<div class="locale-switcher <%= number_of_locales_class %>">
  <p id="<%= label_id %>"><%= label %></p>

  <% if many_locales? %>
    <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
      <li class="has-submenu">
        <a href="#" id="<%= dropdown_id %>" aria-labelledby="<%= "#{label_id} #{dropdown_id}" %>">
          <%= name_for_locale(I18n.locale) %>
        </a>
        <%= link_list(*language_links, "aria-labelledby": label_id, class: "menu", "data-submenu": true) %>
      </li>
    </ul>
  <% else %>
    <p id="<%= label_id %>"><%= label %></p>

    <%= link_list(*language_links, "aria-labelledby": label_id) %>
  <% end %>
</div>
