<div class="remote-translations-button">
  <% if translations_in_progress? %>
    <%= t("remote_translations.all_remote_translations_enqueued_text") %>
  <% else %>
    <%= form_tag remote_translations_path do %>
      <%= hidden_field_tag :remote_translations, remote_translations.to_json %>
      <%= t("remote_translations.text") %>
      <%= submit_tag t("remote_translations.button") %>
    <% end %>
  <% end %>
</div>
