<%= form_for [:admin, @local_census_record] do |f| %>
  <%= render "shared/errors", resource: @local_census_record %>

  <div class="row">
    <div class="small-12">
      <%= f.select :document_type, document_types, prompt: "" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12">
      <%= f.text_field :document_number %>
    </div>
  </div>

  <div class="row">
    <div class="date-of-birth small-12">
      <%= render Shared::DateOfBirthFieldComponent.new(f) %>
    </div>
  </div>

  <div class="clear row">
    <div class="small-12">
      <%= f.text_field :postal_code %>
    </div>
  </div>

  <div class="small-12 medium-4 large-2 margin-top">
    <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
  </div>
<% end %>
