<h2 class="inline-block"><%= t("admin.local_census_records.index.title") %></h2>

<%= link_to t("admin.local_census_records.index.create"),
            new_admin_local_census_record_path,
            class: "button float-right" %>

<%= link_to t("admin.local_census_records.index.import"),
            new_admin_local_census_records_import_path,
            class: "button float-right hollow" %>

<div class="small-12 medium-6">
  <%= form_tag admin_local_census_records_path, method: :get, remote: true  do %>
    <div class="input-group">
      <%= text_field_tag :search, "", placeholder: t("admin.local_census_records.index.search.placeholder") %>
      <div class="input-group-button">
        <%= submit_tag t("admin.local_census_records.index.search.search"), class: "button" %>
      </div>
    </div>
  <% end %>
</div>

<div id="local_census_records">
  <%= render "local_census_records" %>
</div>
