<ul id="proposal_dashboard_menu" data-multi-open="false">
  <li class="section-title">
    <a href="#">
      <span class="icon-checkmark-circle"></span>
      <strong><%= t('.general') %></strong>
    </a>

    <ul id="general-menu">
      <% if current_editable?(proposal) %>
        <li>
          <%= link_to edit_proposal_path(proposal), target: '_blank' do %>
            <span><%= t('.edit_proposal_link') %></span>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to new_proposal_notification_path(proposal_id: proposal.id),
                    target: '_blank' do %>
          <span><%= t('.send_notification') %></span>
        <% end %>
      </li>
      
      <% if can_destroy_image?(proposal) %>
        <li>
          <%= link_to image_path(proposal.image, from: request.url),
                      method: :delete,
                      data: { confirm: t('images.actions.destroy.confirm') } do %>
            <span><%= t('images.remove_image') %></span>
          <% end %>
        </li>
      <% end %>

      <% unless proposal.retired? %>
        <li>
          <%= link_to retire_form_proposal_path(proposal),
                      target: '_blank' do %>
            <span><%= t('.retire') %></span>
          <% end %>
        </li>
      <% end %>

      <% if can?(:publish, proposal) %>
        <li>
          <%= link_to publish_proposal_dashboard_index_path(proposal), method: :patch do %>
            <span><%= t('.publish') %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>

  <li class="section-title">
    <a href="#" <%= 'class=is-active' if progress_menu_active? %>>
      <span class="icon-bars"></span>
      <strong><%= t('.progress') %></strong>
    </a>

    <%= progress_menu do %>
      <%= stats_menu do %>
        <%= link_to stats_proposal_dashboard_index_path(proposal.to_param) do %>
          <span><%= t('.graphic') %></span>
        <% end %>
      <% end %>

      <%= actions_menu do %>
        <%= link_to proposal_dashboard_index_path(proposal.to_param) do %>
          <span><%= t('.actions') %></span>
        <% end %>
      <% end %>
    <% end %>
  </li>

  <% if resources_menu_visible?(proposal, resources) %>
    <li class="section-title">
      <a href="#" <%= 'class=is-active' if resources_menu_active? %>>
        <span class="icon-file-text-o"></span>
        <strong><%= t('.resources') %></strong>
      </a>

      <%= resources_menu do %>
        <% if can?(:manage_polls, proposal) %>
          <%= polls_menu do %>
            <%= link_to proposal_dashboard_polls_path(proposal.to_param) do %>
              <span><%= t('.polls') %></span>
            <% end %>
          <% end %>
        <% end %>

        <% resources.each do |resource| %>
          <li <%= 'class=is-active' if is_request_active(resource.id) %>>
            <% if resource.request_to_administrators? %>
              <%= link_to new_request_proposal_dashboard_path(proposal, resource) do %>
                <span><%= resource.title %></span>
              <% end %>
            <% else %>
              <%= link_to resource.title, resource.link, target: '_blank' %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
