<% if next_goal.present? %>
  <br><br>
  <div class="action-title">
    <h5><%= t('.title') %></h5>
    <hr>
  </div>

  <div id="next-goal" data-toggler=".hide">
    <%= render 'goal', goal: next_goal %>

    <div class="column small-12">
      <a data-toggle="complete-course next-goal"><%= t('.see_complete_course') %></a>
    </div>
  </div>

  <% if course.count > 1 %>
    <div class="hide" id="complete-course" data-toggler=".hide">
      <%= render partial: 'goal', collection: course %>,  

      <div class="column small-12">
        <a data-toggle="complete-course next-goal"><%= t('.hide_course') %></a>
      </div>
    </div>
  <% end %>
<% end %>
