<tr>
  <td>
    <%= link_to new_request_proposal_dashboard_path(proposal, action) do %>
      <span data-tooltip title="<%= action.short_description || action.title %>">
        <%= action.title %>
      </span>
    <% end %>
  </td>
  <td>
    <% if action.proposals.where(id: proposal.id).any? %>
      <%=l action.proposal_executed_dashboard_actions.find_by(proposal: proposal).executed_at, format: :short %>
    <% else %>
      <%= link_to t('.execute'), 
                  execute_proposal_dashboard_path(proposal, action),
                  method: 'post' %>
    <% end %>
  </td>
</tr>
