<div class="row" id="<%= dom_id(proposed_action) %>">
  <div class="proposed-action">
    <div class="exec-indicator">
      <% if proposed_action.proposals.where(id: proposal.id).any? %>
        <i class="fi-check success"></i>
      <% else %>
        <%= link_to execute_proposal_dashboard_path(proposal, proposed_action), method: :post, id: "#{dom_id(proposed_action)}_execute" do %>
          <div class="checkbox-unchecked">
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <h4><%= proposed_action.title %></h4>
      <% if proposed_action.proposals.where(id: proposal.id).any? %>
        <p><%=l(proposed_action.proposal_executed_dashboard_actions.find_by(proposal: proposal).executed_at.to_date) %></p>
      <% else %>
        <% unless proposed_action.short_description.blank? %>
          <p><%= proposed_action.short_description %></p>
        <% end %>

        <% proposed_action.links.each do |link| %>
          <p><%= link_to link.label, link.url, target: '_blank' %></p>
        <% end %>

        <%= render partial: 'document', collection: proposed_action.documents %>
      <% end %>
    </div>
  </div>
</div>
