<div class="proposals-dashboard">
  <div class="column-wrapper">
    <div class="left-column">
      <div class="state-box">
        <div class="logo"></div>
        <% if proposal.published? %>
          <div class="status published"><%= t '.published' %></div>
        <% end %>

        <% if proposal.draft? %>
          <div class="status draft"><%= t '.draft' %></div>
        <% end %>
      </div>
      <div class="dashboard-menu">
        <% if current_editable?(proposal) || can?(:publish, proposal) %>
          <div class="menu-title"><span class="icon-user"></span><%= t '.general' %></div>
          <% if current_editable?(proposal) %>
            <%= link_to t('.edit_proposal_link'), edit_proposal_path(proposal), class: 'menu-entry', target: '_blank' %>
          <% end %>
          
          <%= link_to t('.send_notification'),
                      new_proposal_notification_path(proposal_id: proposal.id),
                      class: 'menu-entry',
                      target: '_blank' %>

          <% if can_destroy_image?(proposal) %>
            <%= link_to t('images.remove_image'),
                        image_path(proposal.image, from: request.url),
                        method: :delete,
                        class: 'menu-entry',
                        data: { confirm: t('images.actions.destroy.confirm') } %>
          <% end %>
        
          <% unless proposal.retired? %>
            <%= link_to t('.retire'),
                        retire_form_proposal_path(proposal),
                        class: 'menu-entry',
                        target: '_blank' %>
          <% end %>

          <%= link_to t('.publish'), publish_proposal_dashboard_index_path(proposal), method: :patch, class: 'menu-entry' if can?(:publish, proposal) %>
        <% end %>

        <!-- 
        <div class="menu-title"><span class="icon-user"></span> Progreso</div>
        <a href='#' class="menu-entry">Meta actual</a>
        <a href='#' class="menu-entry">Acciones</a>
        <a href='#' class="menu-entry">Feed</a>
        <a href='#' class="menu-entry">Ruta</a>

        <div class="menu-title selected"><span class="icon-user"></span> Recursos</div>
        <a href='#' class="menu-entry selected">Kit de difusión</a>
        <a href='#' class="menu-entry">Encuestas</a>
        <a href='#' class="menu-entry">Testimonios</a>
        <a href='#' class="menu-entry">Widget</a>

        <div class="menu-title"><span class="icon-user"></span> Comunidad</div>
        <a href='#' class="menu-entry">Equipo impulsor</a>
        <a href='#' class="menu-entry">Mensajes</a>
        <a href='#' class="menu-entry">Temas</a>
        -->
      </div>
    </div>

    <div class="right-column">
      <!--
      <div class="progress-info">
        <div class="cell-data">
          <div class="caption">Apoyos</div> 
          <div class="value">5.300</div>
        </div>
        <div class="cell-data">
          <div class="caption">Acciones realizadas</div> 
          <div class="value">3/4</div>
        </div>
        <div class="cell-data">
          <div class="caption">Seguidores</div>
          <div class="value">3.403</div>
        </div>
        <div class="cell-data">
          <div class="caption">Meta actual</div>
          <div class="value">10.000</div>
        </div>
        <div class="cell-data">
          <div class="caption">Recursos activos</div>
          <div class="value">5/10</div>
        </div>
        <div class="cell-data">
          <div class="caption">Notificaciones</div>
          <div class="value">3</div>
        </div>
      </div>
      <div class="body">body</div>
      -->
    </div>
  </div>
</div>
