<% content_for :action_title, proposal_dashboard_action.title %>

<div class="row">
  <div class="small-12 medium-8 column">
    <%== proposal_dashboard_action.description %>
    <%= render 'proposals_dashboard/form' %>
  </div>

  <div class="small-12 medium-4 column">
    <% if proposal_dashboard_action.links.any? %>
      <div class="proposal-dashboard-action-links">
        <h3><%= t("proposals_dashboard.new_request.links") %></h3>
        <% proposal_dashboard_action.links.each do |link| %>
          <% if link.open_in_new_tab %>
            <%= link_to link.label, link.url, target: '_blank' %>
          <% else %>
            <%= link_to link.label, link.url %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= render 'documents/documents', documents: proposal_dashboard_action.documents %>
  </div>
</div>

