<%= link_to admin_settings_path, class: "button float-right" do %>
  <span class="icon-settings"></span>
  <%= t("admin.menu.settings") %>
<% end %>

<%= link_to admin_stats_path, class: "button float-right" do %>
  <span class="icon-stats"></span>
  <%= t("admin.menu.stats") %>
<% end %>

<h2 class="inline-block"><%= t("admin.dashboard.index.title") %></h2>

