<% provide :title do %>
  Admin - <%= t(".assembly_types") %> - <%= t(".edit_assembly_type") %>
<% end %>

<%= back_link_to admin_assembly_types_path %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t(".title_h2") %></h2>
    <%= render 'form' %>
  </div>
</div>
