<h2><%= t("admin.settings.index.cookies_consent_banner.title") %></h2>

<%= render Admin::Settings::TableComponent.new(setting_name: "feature") do %>
  <%= render Admin::Settings::RowComponent.new("feature.cookies_consent", type: :feature, tab: tab) %>
  <%= render Admin::Settings::RowComponent.new("cookies_consent.more_info_link", type: :text, tab: tab) %>
  <%= render Admin::Settings::RowComponent.new("cookies_consent.version_name", type: :text, tab: tab) %>
<% end %>

<%= render Admin::Cookies::Vendors::TableComponent.new %>
