<div class="row">
  <div class="small-12 column">
    <%= form_for map_location, url: admin_update_map_path, method: :put, html: { id: "map-form" } do |f| %>
      <%= render_map(map_location, form: f) %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :zoom %>
      <%= hidden_field_tag :tab, tab if tab %>

      <div class="small-12 medium-6 large-4 margin-top">
        <%= submit_tag t("admin.settings.index.map.form.submit"),
                       class: "button hollow expanded" %>
      </div>

    <% end %>
  </div>
</div>
