<fieldset <%= fieldset_attributes %>>
  <legend><%= question.title %></legend>

  <% if multiple_choice? %>
    <%= multiple_choice_help_text %>

    <% question.question_options.each do |option| %>
      <%= multiple_choice_field(option) %>
    <% end %>
  <% else %>
    <% question.question_options.each do |option| %>
      <%= single_choice_field(option) %>
    <% end %>
  <% end %>

  <% if question.options_with_read_more? %>
    <div>
      <p><%= t("poll_questions.read_more_about") %></p>
      <p><%= options_read_more_links %></p>
    </div>
  <% end %>
</fieldset>
