<fieldset id="<%= dom_id(question) %>" class="poll-question <%= question.max_votes > 1 ? 'multiple-choice' : 'single-choice' %>" data-max_votes="<%=question.max_votes%>" <%= "disabled='disabled'" unless can?(:answer, question.poll) %>>
  <h3>
    <%= question.title %>
  </h3>

  <% if question.max_votes > 1 %>
    <span class="help-text">
      <%= t("poll_questions.description.#{question.vote_type}", maximum: question.max_votes) %>
    </span>

    <% question.question_options.each do |option| %>
      <%= label_tag "web_vote_option_#{option.id}" do %>
        <%= check_box_tag "web_vote[#{question.id}][option_id][]",
                          option.id,
                          checked?(question, option),
                          id: "web_vote_option_#{option.id}" %>
        <%= option.title %>
      <% end %>
    <% end %>
  <% else %>
    <% question.question_options.each do |option| %>
      <%= label_tag "web_vote_option_#{option.id}" do %>
        <%= radio_button_tag "web_vote[#{question.id}][option_id]",
                             option.id,
                             checked?(question, option),
                             id: "web_vote_option_#{option.id}" %>
        <%= option.title %>
      <% end %>
    <% end %>
  <% end %>

  <% if question.options_with_read_more? %>
    <div>
      <p><%= t("poll_questions.read_more_about") %></p>
      <p><%= options_read_more_links %></p>
    </div>
  <% end %>
</fieldset>
