<%= form_for([@community, @topic]) do |f| %>

  <%= render 'shared/errors', resource: @topic %>

  <div class="row">

    <div class="small-12 column">
      <%= f.label :title, t("community.topic.form.topic_title") %>
      <%= f.text_field :title, label: false %>
    </div>
    <div class="small-12 column">
      <%= f.label :description, t("community.topic.form.topic_description") %>
      <%= f.text_area :description, label: false %>
    </div>
    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("community.topic.form.#{action_name}.submit_button")) %>
    </div>

  </div>

<% end %>
