<% if topics.any? %>
  <div class="row column">
    <div class="order">
      <%= render 'shared/wide_order_selector', i18n_namespace: "comments" %>
    </div>
  </div>

  <% topics.each do |topic| %>
    <div id="<%= dom_id(topic) %>" class="panel">
      <div class="small-12 medium-11 column">
        <h3><%= link_to topic.title, community_topic_path(@community, topic) %></h3>
        <p class="topic-info">
          <span class="icon-comments"></span>&nbsp;
          <%= link_to t("proposals.proposal.comments", count: topic.comments_count), community_topic_path(@community, topic, anchor: "comments") %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= I18n.l topic.created_at.to_date %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= topic.author.name %>
        </p>
      </div>
      <div class="small-12 medium-1 column text-center nopadding">
        <% if topic.author == current_user %>
          <%= link_to t("community.topic.edit_button"), edit_community_topic_path(@community.id, topic), class: 'button small hollow' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <h4><%= t("community.create_first_community_theme") %></h4>
<% end %>
