<div class="order">
  Ordenar por:
</div>
<br>
<% if topics.any? %>
  <% topics.each do |topic| %>
    <div id="<%= dom_id(topic) %>">
      <%= link_to topic.title, community_topic_path(@community, topic) %>
      <br>
      <%= topic.author.name %>
      <br>
      <%= I18n.l topic.created_at %>
      <% if topic.author == current_user %>
        <%= link_to t("topic.edit"), edit_community_topic_path(@community.id, topic), class: 'button expanded' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  Crea el primer tema de la comunidad!!!
<% end %>
