<div id="<%= dom_id(topic) %>" class="panel column">

  <div class="small-12 medium-9 column">

    <h3><%= link_to topic.title, community_topic_path(@community, topic) %></h3>

    <p class="topic-info">
      <%= render Shared::CommentsCountComponent.new(
        topic.comments_count,
        url: community_topic_path(@community, topic, anchor: "comments")
      ) %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <%= I18n.l topic.created_at.to_date %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <%= topic.author.name %>
    </p>

  </div>
</div>
