<main class="topic-new">
  <%= back_link_to community_path(@community) %>

  <h1><%= t("community.topic.create") %></h1>

  <aside>
    <h2><%= t("community.topic.sidebar.recommendations_title") %></h2>

    <ul class="recommendations">
      <li><%= t("community.topic.sidebar.recommendation_one") %></li>
      <li><%= t("community.topic.sidebar.recommendation_two") %></li>
      <li><%= t("community.topic.sidebar.recommendation_three") %></li>
    </ul>
  </aside>

  <%= render "form" %>
</main>
