<%= render "shared/back_link" %>
<br>
Comunidad: <%= @community.proposal.title %>
<br>
<%= @topic.title %>

<div class="tabs-content" data-tabs-content="proposals-tabs" role="tablist">
  <%= render "topics/filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "topics/comments" %>
  </div>
</div>
