<nav class="admin-sidebar">
  <ul id="admin_menu">

    <li <%= "class=active" if controller_name == "tags" %>>
      <%= link_to admin_tags_path do %>
        <span class="icon-tag"></span><%= t("admin.menu.debate_topics") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" %>>
      <%= link_to admin_proposals_path do %>
        <span class="icon-proposals"></span><%= t("admin.menu.hidden_proposals") %>
      <% end %>
    </li>

    <% if feature?(:debates) %>
      <li <%= "class=active" if controller_name == "debates" %>>
        <%= link_to admin_debates_path do %>
          <span class="icon-debates"></span><%= t("admin.menu.hidden_debates") %>
        <% end %>
      </li>
    <% end %>

    <li <%= "class=active" if controller_name == "comments" %>>
      <%= link_to admin_comments_path do %>
        <span class="icon-comments"></span><%= t("admin.menu.hidden_comments") %>
      <% end %>
    </li>

    <% if feature?(:spending_proposals) %>
      <li <%= "class=active" if controller_name == "spending_proposals" %>>
        <%= link_to admin_spending_proposals_path do %>
          <span class="icon-budget"></span><%= t("admin.menu.spending_proposals") %>
        <% end %>
      </li>
    <% end %>

    <% if feature?(:budgets) %>
      <li <%= "class=active" if controller_name == "budgets" %>>
        <%= link_to admin_budgets_path do %>
          <span class="icon-budget"></span><%= t("admin.menu.budgets") %>
        <% end %>
      </li>
    <% end %>

    <% if feature?(:signature_sheets) %>
      <li <%= "class=active" if controller_name == "signature_sheets" %>>
        <%= link_to admin_signature_sheets_path do %>
          <span class="icon-budget"></span><%= t("admin.menu.signature_sheets") %>
        <% end %>
      </li>
    <% end %>

    <li <%= "class=active" if controller_name == "banners" %>>
      <%= link_to admin_banners_path do %>
        <span class="icon-eye"></span><%= t("admin.menu.banner") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "users" %>>
      <%= link_to admin_users_path do %>
        <span class="icon-eye"></span><%= t("admin.menu.hidden_users") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "verifications" %>>
      <%= link_to admin_verifications_path do %>
        <span class="icon-eye"></span><%= t("admin.menu.incomplete_verifications") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "organizations" %>>
      <%= link_to admin_organizations_path do %>
        <span class="icon-organizations"></span><%= t("admin.menu.organizations") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "officials" %>>
      <%= link_to admin_officials_path do %>
        <span class="icon-user"></span><%= t("admin.menu.officials") %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'moderators' %>>
      <%= link_to admin_moderators_path do %>
        <span class="icon-user"></span><%= t('admin.menu.moderators') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'valuators' %>>
      <%= link_to admin_valuators_path do %>
        <span class="icon-user"></span><%= t('admin.menu.valuators') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'managers' %>>
      <%= link_to admin_managers_path do %>
        <span class="icon-user"></span><%= t('admin.menu.managers') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'geozones' %>>
      <%= link_to admin_geozones_path do %>
        <span class="icon-settings"></span><%= t('admin.menu.geozones') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'activity' %>>
      <%= link_to admin_activity_path do %>
        <span class="icon-eye"></span><%= t('admin.menu.activity') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'settings' %>>
      <%= link_to admin_settings_path do %>
        <span class="icon-settings"></span><%= t("admin.menu.settings") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "stats" %>>
      <%= link_to admin_stats_path do %>
        <span class="icon-stats"></span><%= t("admin.menu.stats") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "pages" %>>
      <%= link_to admin_site_customization_pages_path do %>
        <span class="icon-settings"></span><%= t("admin.menu.site_customization.pages") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "images" %>>
      <%= link_to admin_site_customization_images_path do %>
        <span class="icon-settings"></span><%= t("admin.menu.site_customization.images") %>
      <% end %>
    </li>
  </ul>
</nav>
