<nav class="admin-sidebar">
  <ul id="admin_menu">
    <li>
      <%= t("admin.dashboard.index.title") %>
    </li>

    <li class="active">
      <%= link_to admin_tags_path do %>
        <i class="icon-comment-quotes"></i>
        <%= t('admin.menu.debate_topics') %>
      <% end %>
    </li>

    <li>
      <%= link_to admin_debates_path do %>
        <i class="icon-eye"></i>
        <%= t('admin.menu.hidden_debates') %>
      <% end %>
    </li>

    <li>
      <%= link_to admin_comments_path do %>
        <i class="icon-chat-bubble-two"></i>
        <%= t('admin.menu.hidden_comments') %>
      <% end %>
    </li>

    <li>
      <%= link_to admin_officials_path do %>
        <i class="icon-chat-bubble-two"></i>
        <%= t('admin.menu.officials') %>
      <% end %>
    </li>

    <li>
      <%= link_to admin_settings_path do %>
        <i class="icon-chat-bubble-two"></i>
        <%= t('admin.menu.settings') %>
      <% end %>
    </li>

    <li>
      <%= link_to stats_path do %>
        <i class="icon-chat-bubble-two"></i>
        <%= t('admin.menu.stats') %>
      <% end %>
    </li>
  </ul>
</nav>
