<nav class="admin-sidebar">
  <ul id="admin_menu">
    <li>
      <%= link_to t("admin.dashboard.index.title"), admin_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "tags" %>>
      <%= link_to admin_tags_path do %>
        <i class="icon-tag"></i>
        <%= t("admin.menu.debate_topics") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" %>>
      <%= link_to admin_proposals_path do %>
        <i class="icon-proposals"></i>
        <%= t("admin.menu.hidden_proposals") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "debates" %>>
      <%= link_to admin_debates_path do %>
        <i class="icon-debates"></i>
        <%= t("admin.menu.hidden_debates") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "medidas" %>>
      <%= link_to admin_medidas_path do %>
        <i class="icon-medidas"></i>
      <%= t("admin.menu.hidden_medidas") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "comments" %>>
      <%= link_to admin_comments_path do %>
        <i class="icon-comments"></i>
        <%= t("admin.menu.hidden_comments") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "users" %>>
      <%= link_to admin_users_path do %>
        <i class="icon-eye"></i>
        <%= t("admin.menu.hidden_users") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "verifications" %>>
      <%= link_to admin_verifications_path do %>
        <i class="icon-eye"></i>
        <%= t("admin.menu.incomplete_verifications") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "organizations" %>>
      <%= link_to admin_organizations_path do %>
        <i class="icon-organizations"></i>
        <%= t("admin.menu.organizations") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "officials" %>>
      <%= link_to admin_officials_path do %>
        <i class="icon-user"></i>
        <%= t("admin.menu.officials") %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'moderators' %>>
      <%= link_to admin_moderators_path do %>
        <i class="icon-user"></i>
        <%= t('admin.menu.moderators') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'activity' %>>
      <%= link_to admin_activity_path do %>
        <i class="icon-eye"></i>
        <%= t('admin.menu.activity') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'settings' %>>
      <%= link_to admin_settings_path do %>
        <i class="icon-settings"></i>
        <%= t("admin.menu.settings") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "stats" %>>
      <%= link_to admin_stats_path do %>
        <i class="icon-stats"></i>
        <%= t("admin.menu.stats") %>
      <% end %>
    </li>
  </ul>
</nav>
