<li id="<%= dom_id(investment) %>_sidebar">
  <span class="ballot-list-title"><%= investment.title %></span>
  <span class="ballot-list-price"><%= investment.formatted_price %></span>

  <% if @budget.balloting? %>
    <%= link_to budget_ballot_line_path(id: investment.id,
                                        investments_ids: investment_ids),
                title: t("budgets.ballots.show.remove"),
                class: "remove-investment-project",
                method: :delete,
                remote: true do %>
      <span class="show-for-sr"><%= t("budgets.ballots.show.remove") %></span>
      <span class="fas fa-times" title="<%= t("budgets.ballots.show.remove") %>"></span>
    <% end %>
  <% end %>
</li>
