<p id="total_amount" class="total-amount">
  <%= sanitize(ballot.amount_progress(heading)) %>
</p>

<div class="progress" role="progressbar" tabindex="0"
     aria-valuenow="<%= ballot.percentage_spent(heading) %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter"
       style="width: <%= ballot.percentage_spent(heading) %>%">
  </div>
</div>

<p id="amount_available" class="amount-available" style="width: <%= ballot.percentage_spent(heading) %>%">
  <%= sanitize(ballot.amount_available_info(heading)) %>
</p>
