<span class="total-amount">
  <%= sanitize(ballot.amount_limit_info(heading)) %>
</span>

<div class="progress" role="progressbar" tabindex="0"
     aria-valuenow="<%= ballot.percentage_spent(heading) %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter"
       style="width: <%= ballot.percentage_spent(heading) %>%">
  </div>
</div>

<p id="amount-spent" class="spent-amount-text" style="width: <%= ballot.percentage_spent(heading) %>%">
  <small><%= t("budgets.progress_bar.assigned") %></small><%= ballot.formatted_amount_spent(heading) %>
  <span id="amount-available" class="amount-available">
    <small><%= t("budgets.progress_bar.available") %></small>
    <span><%= ballot.formatted_amount_available(heading) %></span>
  </span>
</p>
