<span class="total-amount">
  <%= sanitize(ballot.amount_limit_info(heading)) %>
</span>

<div class="progress" role="progressbar" tabindex="0"
     aria-valuenow="<%= ballot.percentage_spent(heading) %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter"
       style="width: <%= ballot.percentage_spent(heading) %>%">
  </div>
</div>

<p id="amount-spent" class="spent-amount-text" style="width: <%= ballot.percentage_spent(heading) %>%">
  <%= render "budgets/ballot/progress_bar/#{ballot.budget.voting_style}", ballot: ballot, heading: heading %>
</p>
