<span class="total-amount">
  <%= t("budgets.progress_bar.assigned") %>
  <span id="amount_spent"><%= @ballot.formatted_amount_spent(@heading) %></span> /
  <%= t("budgets.investments.header.price") %> <%= @budget.formatted_heading_price(@heading) %>
</span>

<div class="progress progress-bar-indicator" role="progressbar" tabindex="0"
     id="progress"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter"
       style="width:
       <%= progress_bar_width(@budget.heading_price(@heading),
                              @ballot.amount_spent(@heading)) %>">
  </div>
</div>

<div class="progress spent-amount-progress" role="progressbar" tabindex="0"
     aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
  <span class="progress-meter spent-amount-meter"
        style="width:
        <%= progress_bar_width(@budget.heading_price(@heading),
                               @ballot.amount_spent(@heading)) %>">
    <p class="progress-meter-text spent-amount-text">
      <span id="amount_available" class="amount-available">
        <small><%= t("budgets.progress_bar.available") %></small><br>
        <span><%= @ballot.formatted_amount_available(@heading) %></span>
      </span>
    </p>
  </span>
</div>
