<% provide :title do %>
  <%= "#{@draft_version.title} - #{t("legislation.draft_versions.changes.title")} - #{@process.title}" %>
<% end %>

<%= render "legislation/processes/header", process: @process, header: :small %>

<%= render "documents/additional_documents", documents: @process.documents %>

<%= render "legislation/processes/key_dates", process: @process, phase: :allegations_phase %>

<div class="column row">
  <div class="draft-panels small-12 column row">
    <div class="row draft-chooser">
      <div class="small-12 medium-9 column">
        <h3><%= t("legislation.draft_versions.changes.seeing_changelog_version") %></h3>
        <div class="select-box">
          <%= form_tag go_to_version_legislation_process_draft_versions_path(@process), method: :get, id: "draft_version_go_to_version" do %>
            <%= select_tag "draft_version_id", options_from_collection_for_select(@draft_versions_list, "id", "display_title", @draft_version.id), "aria-label": t("legislation.draft_versions.show.select_draft_version") %>
            <%= hidden_field_tag "redirect_action", "changes" %>
            <%= submit_tag t("legislation.draft_versions.show.select_version_submit"), class: "button" %>
          <% end %>
        </div>
        <span><%= t("legislation.draft_versions.show.updated_at", date: format_date(@draft_version.updated_at)) %></span>
      </div>
      <div class="small-12 medium-3 column">
        <%= link_to legislation_process_draft_version_path(@process, @draft_version),
                    title: t("legislation.draft_versions.changes.see_text"), class: "button" do %>
          <strong><%= t("legislation.draft_versions.changes.see_text") %></strong>
        <% end %>
      </div>
    </div>

    <%= render "legislation/processes/help_gif" %>

    <div class="row">
      <div class="small-12 medium-8 column legislation-changes">
        <%= markdown @draft_version.changelog %>
      </div>
    </div>
  </div>
</div>
