<div class="row-full jumbo-survey">
  <div class="row">
    <div class="small-12 column">
      <%= link_to "/processes_plaza_espana", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>

      <h1><%= t("pages.processes.process_2.title") %></h1>
      <h3>Contesta las preguntas que quieras (no tienen por qué ser todas) y pulsa "Enviar respuesta"</h3>
      <p>Puedes <a href="/processes_plaza_espana">ver toda la información relacionada con el proceso</a>, y mucha información útil para responder lo mejor posible a las siguientes preguntas</p>
    </div>
  </div>
</div>

<div class="survey row margin">

  <div id="login_required" class="alert-box radius info absolute" style="display:none">
    Solo los usuarios verificados pueden responder a la encuesta,
  <% if user_signed_in? %>
    <%= link_to "verifica tu cuenta", verification_path %>
  <% else %>
    necesitas <%= link_to "iniciar sesión", new_user_session_path %>
    o <%= link_to "registrarte", new_user_registration_path %>
    para continuar.
  <% end %>
  </div>

  <div id="survey" data-verified-id="<%= current_user.id if can?(:create, SurveyAnswer) %>" class="survey-questions small-12 medium-9 column">
    <%= form_tag encuesta_plaza_espana_gracias_path %>
      <article>
        <h3>1a. ¿Crees necesario reformar la Plaza de España?</h3>
        <label>
          <%= radio_button_tag "questions[1a]", "a" %>
          a) Sí
        </label>
        <label>
          <%= radio_button_tag "questions[1a]", "b" %>
          b) No
        </label>
        <label>
          <%= radio_button_tag "questions[1a]", "c" %>
          c) No sabe
        </label>

        <div>
          <h3>1b. ¿Crees necesario que la intervención en la Plaza de España afecte también a otras zonas colindantes y las calles a través de las cuales se conecta?</h3>
          <p><em>Puedes marcar más de una opción</em></p>
          <label>
            <%= check_box_tag "questions[1b]", "a" %>
            a) Plaza de los Cubos
          </label>
          <label>
            <%= check_box_tag "questions[1b]", "b" %>
            b) Enlace de las calles Reyes y Maestro Guerrero, con la Plaza de Conde de Toreno
          </label>
          <label>
            <%= check_box_tag "questions[1b]", "c" %>
            c) Plaza de Emilio Jimenez Millás
          </label>
          <label>
            <%= check_box_tag "questions[1b]", "d" %>
            d) Acceso a Conde Duque a través de la Plaza de Cristino Marcos
          </label>
          <label>
            <%= check_box_tag "questions[1b]", "e" %>
            e) Ninguna
          </label>
        </div>
      </article>

      <article>
        <h3>2. ¿Crees que se deberían mejorar las conexiones peatonales de la Plaza de España con alguno de los siguientes espacios?</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[2]", "a" %>
          <span class="checkbox">a) Plaza de Oriente</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "b" %>
          <span class="checkbox">b) Barrio de Conde Duque</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "c" %>
          <span class="checkbox">c) Templo de Debod</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "d" %>
          <span class="checkbox">d) Parque del Oeste</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "e" %>
          <span class="checkbox">e) Cuesta de San Vicente</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "f" %>
          <span class="checkbox">f) Madrid Río</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "g" %>
          <span class="checkbox">g) Casa de Campo</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "h" %>
          <span class="checkbox">h) Gran Vía</span>
        </label>
        <label>
          <%= check_box_tag "questions[2]", "i" %>
          <span class="checkbox">i) Ninguna</span>
        </label>
      </article>

      <article>
        <h3>3. ¿Crees que es necesario limitar alguno de los siguientes usos?</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[3]", "a" %>
          <span class="checkbox">a) Comercial</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "b" %>
          <span class="checkbox">b) Hoteles</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "c" %>
          <span class="checkbox">c) Restaurantes</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "d" %>
          <span class="checkbox">d) Terrazas</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "e" %>
          <span class="checkbox">e) Mercadillos</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "f" %>
          <span class="checkbox">f) Todos los anteriores</span>
        </label>
        <label>
          <%= check_box_tag "questions[3]", "g" %>
          <span class="checkbox">g) Otros: especificar</span>
        </label>
        <%= text_field_tag "questions[3g]" %>
      </article>

      <article>
        <h3>4. ¿Qué usos o funciones te gustaría que se realizaran en la Plaza de España?</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[4]", "a" %>
          <span class="checkbox">a) Transporte Público</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "b" %>
          <span class="checkbox">b) Autobuses turísticos</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "c" %>
          <span class="checkbox">c) Aparcamientos</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "d" %>
          <span class="checkbox">d) Comercial</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "e" %>
          <span class="checkbox">e) Mercadillos</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "f" %>
          <span class="checkbox">f) Verde</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "g" %>
          <span class="checkbox">g) Permanencia y ocio</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "h" %>
          <span class="checkbox">h) Cultural</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "i" %>
          <span class="checkbox">i) Terrazas</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "j" %>
          <span class="checkbox">j) Infantil</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "k" %>
          <span class="checkbox">k) Libre</span>
        </label>
        <label>
          <%= check_box_tag "questions[4]", "l" %>
          <span class="checkbox">l) Otros, especificar</span>
        </label>
        <%= text_field_tag "questions[4l]" %>
      </article>

      <article>
        <h3>5. En términos generales, ¿cómo te gustaría que fuese la Plaza de España?</h3>
        <p><em>Elige una opción para cada bloque</em></p>

        <h4>a)</h4>
        <label>
          <%= radio_button_tag "questions[5a]", "1" %>
          Puntos de acceso limitado
        </label>
        <label>
          <%= radio_button_tag "questions[5a]", "2" %>
          Acceso abierto
        </label>
        <label>
          <%= radio_button_tag "questions[5a]", "3" %>
          No sabe
        </label>

        <h4>b)</h4>
        <label>
          <%= radio_button_tag "questions[5b]", "1" %>
          Principalmente pavimentada
        </label>
        <label>
          <%= radio_button_tag "questions[5b]", "2" %>
          Principalmente verde
        </label>
        <label>
          <%= radio_button_tag "questions[5b]", "3" %>
          No sabe
        </label>

        <h4>c)</h4>
        <label>
          <%= radio_button_tag "questions[5c]", "1" %>
          De paso
        </label>
        <label>
          <%= radio_button_tag "questions[5c]", "2" %>
          De permanencia y ocio
        </label>
        <label>
          <%= radio_button_tag "questions[5c]", "3" %>
          No sabe
        </label>

        <h4>d)</h4>
        <label>
          <%= radio_button_tag "questions[5d]", "1" %>
          Diáfana
        </label>
        <label>
          <%= radio_button_tag "questions[5d]", "2" %>
          Con zonas diferenciadas
        </label>
        <label>
          <%= radio_button_tag "questions[5d]", "3" %>
          No sabe
        </label>

        <h4>e)</h4>
        <label>
          <%= radio_button_tag "questions[5e]", "1" %>
          Principalmente soleada
        </label>
        <label>
          <%= radio_button_tag "questions[5e]", "2" %>
          Principalmente con sombra
        </label>
        <label>
          <%= radio_button_tag "questions[5e]", "3" %>
          No sabe
        </label>
      </article>

      <article>
        <h3>6. La Plaza cuenta, entre sus elementos monumentales, con el Monumento a Cervantes, ¿Cuál crees que sería la mejor opción?</h3>
        <label>
          <%= radio_button_tag "questions[6]", "a" %>
          a) Mantener el conjunto
        </label>
        <label>
          <%= radio_button_tag "questions[6]", "b" %>
          b) Cambiarlo de ubicación dentro de la Plaza
        </label>
        <label>
          <%= radio_button_tag "questions[6]", "c" %>
          c) Trasladarlo a otro lugar fuera de la Plaza
        </label>
        <label>
          <%= radio_button_tag "questions[6]", "d" %>
          d) No sabe
        </label>
      </article>

      <article>
        <h3>7. Actualmente en el subsuelo existen locales comerciales ¿Qué uso priorizarías para esta zona?</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[7]", "a" %>
          <span class="checkbox">a) Usos actuales</span>
        </label>
        <label>
          <%= check_box_tag "questions[7]", "b" %>
          <span class="checkbox">b) Usos recreativos</span>
        </label>
        <label>
          <%= check_box_tag "questions[7]", "c" %>
          <span class="checkbox">c) Usos culturales</span>
        </label>
        <label>
          <%= check_box_tag "questions[7]", "d" %>
          <span class="checkbox">d) Otros, especificar: </span>
        </label>
        <%= text_field_tag "questions[7d]" %>
        <label>
          <%= check_box_tag "questions[7]", "e" %>
          <span class="checkbox">e) No sabe</span>
        </label>
      </article>



      <article>
        <h3>8a. ¿Crees que la plaza debería ser parte de una red verde que llegara desde la Casa de Campo y el Parque del Oeste al centro de la ciudad?</h3>
        <label>
          <%= radio_button_tag "questions[8a]", "a" %>
          a) Si
        </label>
        <label>
          <%= radio_button_tag "questions[8a]", "b" %>
          b) No
        </label>
        <label>
          <%= radio_button_tag "questions[8a]", "c" %>
          c) No sabe
        </label>

        <h3>8b. ¿Qué crees que hay que hacer con los árboles que hay actualmente en la plaza? </h3>
        <label>
          <%= radio_button_tag "questions[8b]", "a" %>
          a) Mantenerlos
        </label>
        <label>
          <%= radio_button_tag "questions[8b]", "b" %>
          b) Trasladarlos a otras zonas
        </label>
        <label>
          <%= radio_button_tag "questions[8b]", "c" %>
          c) Ampliar su número
        </label>
        <label>
          <%= radio_button_tag "questions[8b]", "d" %>
          d) No sabe
        </label>
      </article>

      <article>
        <h3>9. ¿Crees que el diseño de la plaza debe favorecer sobre todo las necesidades de...?</h3>
        <label>
          <%= radio_button_tag "questions[9]", "a" %>
          a) Los vecinos de la zona
        </label>
        <label>
          <%= radio_button_tag "questions[9]", "b" %>
          b) Los vecinos de toda la ciudad
        </label>
        <label>
          <%= radio_button_tag "questions[9]", "c" %>
          c) Los turistas y visitantes
        </label>
        <label>
          <%= radio_button_tag "questions[9]", "d" %>
          d) Todos los anteriores
        </label>
        <label>
          <%= radio_button_tag "questions[9]", "e" %>
          e) Otros: especificar
        </label>
        <%= text_field_tag "questions[9e]" %>
        <label>
          <%= radio_button_tag "questions[9]", "f" %>
          f) No sabe
        </label>
      </article>

      <article>
        <h3>10. ¿Qué actuaciones crees que son necesarias respecto al tráfico en el entorno de la Plaza de España?</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[10]", "a" %>
          <span class="checkbox">a) Reducir el tráfico para ampliar las aceras y el arbolado</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "b" %>
          <span class="checkbox">b) Soterrar el tráfico en el eje Gran Vía y Princesa, teniendo en cuenta el elevado coste</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "c" %>
          <span class="checkbox">c) Soterrar toda la circulación y hacer peatonal la Plaza de España, teniendo en cuenta el elevado coste</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "d" %>
          <span class="checkbox">d) Reordenar y ampliar las paradas de autobús y taxis</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "e" %>
          <span class="checkbox">e) Crear un carril bici</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "f" %>
          <span class="checkbox">f) Reducir el tráfico de conexión con la M-30</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "g" %>
          <span class="checkbox">g) Ninguna actuación respecto al tráfico</span>
        </label>
        <label>
          <%= check_box_tag "questions[10]", "h" %>
          <span class="checkbox">h) Otros, especificar:</span>
        </label>
        <%= text_field_tag "questions[10h]" %>
        <label>
          <%= check_box_tag "questions[10]", "i" %>
          <span class="checkbox">i) No sabe</span>
        </label>
      </article>

      <article>
        <h3>11. ¿Qué crees que hay que hacer con el paso elevado de Bailén?</h3>
        <label>
          <%= radio_button_tag "questions[11]", "a" %>
          a) Dejarlo como está (vehículos con aceras peatonales)
        </label>
        <label>
          <%= radio_button_tag "questions[11]", "b" %>
          b) Reducir el paso de vehículos y ampliar aceras
        </label>
        <label>
          <%= radio_button_tag "questions[11]", "c" %>
          c) Hacerlo peatonal y unirlo con el parque del Oeste y los Jardines de Sabatini
        </label>
        <label>
          <%= radio_button_tag "questions[11]", "d" %>
          d) Desmontarlo y mantener el desnivel original, teniendo en cuenta el coste
        </label>
        <label>
          <%= radio_button_tag "questions[11]", "e" %>
          e) Otras: especificar:
        </label>
        <%= text_field_tag "questions[11e]" %>
        <label>
          <%= radio_button_tag "questions[11]", "f" %>
          f) No sabe
        </label>
      </article>

      <article>
        <h3>12. Respecto a las plazas de aparcamiento...</h3>
        <p><em>Elige una opción para cada bloque</em></p>

        <h4>PLAZAS DE PARKING SUBTERRANEO</h4>
        <label>
          <%= radio_button_tag "questions[12a]", "a" %>
          a) Mantener su número
        </label>
        <label>
          <%= radio_button_tag "questions[12a]", "b" %>
          b) Reducir su número
        </label>
        <label>
          <%= radio_button_tag "questions[12a]", "c" %>
          c) Ampliar su número
        </label>
        <label>
          <%= radio_button_tag "questions[12a]", "d" %>
          d) No sabe
        </label>

        <h4>USO DEL PARKING SUBTERRANEO</h4>
        <label>
          <%= radio_button_tag "questions[12b]", "a" %>
          a) Uso exclusivo de residentes del aparcamiento subterráneo
        </label>
        <label>
          <%= radio_button_tag "questions[12b]", "b" %>
          b) Uso exclusivo de rotación del aparcamiento subterráneo
        </label>
        <label>
          <%= radio_button_tag "questions[12b]", "c" %>
          c) Posibilitar uso mixto (residentes y rotación) en el aparcamiento subterráneo
        </label>
        <label>
          <%= radio_button_tag "questions[12b]", "d" %>
          d) No sabe
        </label>

        <h4>APARCAMIENTO EN SUPERFICIE</h4>
        <label>
          <%= radio_button_tag "questions[12c]", "a" %>
          a) Mantener el aparcamiento actual en superficie
        </label>
        <label>
          <%= radio_button_tag "questions[12c]", "b" %>
          b) Reducir el aparcamiento en superficie y sustituirlo por zonas peatonales y áreas verdes
        </label>
        <label>
          <%= radio_button_tag "questions[12c]", "c" %>
          c) No sabe
        </label>
      </article>

      <article>
        <h3>13. ¿Consideras que las obras de la Plaza de España deberían realizarse reduciendo al máximo el impacto ambiental, aunque ello suponga un incremento de los costes?</h3>
        <label>
          <%= radio_button_tag "questions[13]", "a" %>
          a) Sí
        </label>
        <label>
          <%= radio_button_tag "questions[13]", "b" %>
          b) No
        </label>
        <label>
          <%= radio_button_tag "questions[13]", "c" %>
          c) No sabe
        </label>
      </article>

      <article>
        <h3>14. ¿Qué medidas de sostenibilidad ambiental te gustaría que se tuvieran en cuenta en el diseño de la Plaza de España.</h3>
        <p><em>Puedes marcar más de una opción</em></p>
        <label>
          <%= check_box_tag "questions[14]", "a" %>
          <span class="checkbox">a) Reciclado de mobiliario urbano (bancos, papeleras, farolas...)</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "b" %>
          <span class="checkbox">b) Reutilización de los materiales existentes</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "c" %>
          <span class="checkbox">c) Medidas de amortiguación del ruido</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "d" %>
          <span class="checkbox">d) Empleo de materiales reciclados</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "e" %>
          <span class="checkbox">e) Empleo de materiales de “circuito corto” que procedan del entorno cercano</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "f" %>
          <span class="checkbox">f) Recuperación del agua</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "g" %>
          <span class="checkbox">g) Control y reciclaje de los residuos de la plaza</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "h" %>
          <span class="checkbox">h) Consumo energético de fuentes renovables</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "i" %>
          <span class="checkbox">i) Todas las posibles</span>
        </label>
        <label>
          <%= check_box_tag "questions[14]", "j" %>
          <span class="checkbox">j) Otros, especificar</span>
        </label>
        <%= text_field_tag "questions[14j]" %>
      </article>



      <article>
        <h3>15a. ¿Qué usos haces de la zona?</h3>
        <label>
          <%= radio_button_tag "questions[15a]", "a" %>
          a) Soy vecino de la Plaza
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "b" %>
          b) Visito la Plaza a menudo (3 o más veces por semana)
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "c" %>
          c) Visito la Plaza 1-2 veces por semana
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "d" %>
          d) Visito la Plaza 1-2 veces por mes
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "e" %>
          e) En ocasiones (más de 3 veces por año)
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "f" %>
          f) Rara vez (1 o 2 veces por año o menos)
        </label>
        <label>
          <%= radio_button_tag "questions[15a]", "g" %>
          g) Otros
        </label>

        <h3>15b. ¿Cómo te mueves por la Plaza de España?</h3>

        <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th class="text-center">Habitualmente</th>
              <th class="text-center">Ocasionalmente</th>
              <th class="text-center">Nunca</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Caminando</strong></td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bCaminando]", "1" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bCaminando]", "2" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bCaminando]", "3" %>
              </td>
            </tr>
            <tr>
              <td><strong>En bicicleta</strong></td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnBicicleta]", "1" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnBicicleta]", "2" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnBicicleta]", "3" %>
              </td>
            </tr>
            <tr>
              <td><strong>En coche</strong></td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnCoche]", "1" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnCoche]", "2" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnCoche]", "3" %>
              </td>
            </tr>
            <tr>
              <td><strong>En transporte público</strong></td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnTransportePublico]", "1" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnTransportePublico]", "2" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bEnTransportePublico]", "3" %>
              </td>
            </tr>
            <tr>
              <td><strong>Otros, especificar</strong>
                <%= text_field_tag "questions[15bOtrosEspecificar]" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bOtros]", "1" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bOtros]", "2" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "questions[15bOtros]", "3" %>
              </td>
            </tr>
          </tbody>
        </table>
      </article>

      <article>
        <h3>16. ¿Qué nuevos usos o enfoques de la Plaza te expulsarían de la zona?</h3>
        <%= text_area_tag "questions[16]", nil, rows: 4 %>
      </article>

      <article>
        <h3>17. ¿Qué servicios, actividades o usos crees que faltan o piensas que sobran?</h3>
        <%= text_area_tag "questions[17]", nil, rows: 4 %>
      </article>

      <article>
        <h3>18. Finalmente, si se realizara la reforma de la Plaza de España, ¿De qué tipo consideras que debería ser?</h3>
        <p><em>Elige una sola respuesta</em></p>
        <label>
          <%= radio_button_tag "questions[18]", "a" %>
          a) Una rehabilitación de los elementos existentes
        </label>
        <label>
          <%= radio_button_tag "questions[18]", "b" %>
          b) Reordenar determinados usos dentro de la propia plaza
        </label>
        <label>
          <%= radio_button_tag "questions[18]", "c" %>
          c) Una reforma profunda que permita reordenar completamente los usos de la plaza y de su entorno (tráfico, accesos, equipamientos)
        </label>
        <label>
          <%= radio_button_tag "questions[18]", "d" %>
          d) No sabe
        </label>
      </article>
      <input type="submit" value="Enviar respuesta" class="button radius margin-top">
    </form>
  </div>

  <%= render 'processes_spain_timeline' %>

</div>
