<table>
  <thead>
    <th scope="col"><%= t("admin.managers.index.name") %></th>
    <th scope="col"><%= t("admin.managers.index.email") %></th>
    <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
  </thead>
  <tr>
    <td>
      <%= manager.name %>
    </td>
    <td>
      <%= manager.email %>
    </td>
    <td>
      <% if manager.persisted? %>
        <%= link_to t('admin.managers.manager.delete'),
          admin_manager_path(manager),
          method: :delete,
          class: "button hollow alert expanded"
        %>
      <% else %>
        <%= link_to t('admin.managers.manager.add'),{ controller: "admin/managers", action: :create, user_id: manager.user_id },
          method: :post, class: "button success expanded" %>
      <% end %>
    </td>
  </tr>
</table>
