<h2><%= t("admin.managers.index.title") %></h2>
<div class="row">
  <div class="column">
    <%= form_tag search_admin_managers_path, method: :get, remote: true  do %>
      <div class="small-12 medium-6 column">
        <%= text_field_tag :email, '', placeholder: t('admin.managers.search.email_placeholder') %>
      </div>
      <div class="small-12 medium-6 column">
        <%= submit_tag t('admin.managers.search.search'), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
<div id="search-result" class="row small"></div>
<h3><%= page_entries_info @managers %></h3>
<ul id="managers" class="admin-list">
  <% @managers.each do |manager| %>
    <li>
      <%= render 'manager', manager: manager %>
    </li>
  <% end %>
</ul>

<%= paginate @managers %>
