<h2><%= t("admin.managers.search.title") %></h2>

<%= render 'admin/shared/user_search', url: search_admin_managers_path %>

<h3><%= page_entries_info @users %></h3>

<table id="managers">
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td class="text-right">
        <% if user.manager? && user.manager.persisted? %>
          <%= link_to t('admin.managers.manager.delete'),
                      admin_manager_path(user),
                      method: :delete,
                      class: "button hollow alert" %>
        <% else %>
          <%= link_to t('admin.managers.manager.add'),
                      { controller: "admin/managers",
                        action: :create,
                        user_id: user },
                      method: :post,
                      class: "button success" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
