<% provide :title do %><%= @problem.title %><% end %>

<div class="proposal-form row">
  <div class="small-12 medium-12 column">
    <%= render "shared/back_link" %>
  </div>
</div>

<div class="text-width">
    <div class="small gray">DESAFÍO </div>
    <h2 class="page-title"><%= @problem.title %> </h2>
    <h5> <%= @problem.summary%> </5>
</div>

<div class="row collapse">
    <div class="small-12 medium-10 large-10 column">
      <div class="summary padding">
        <h5 class="white"><%= @problem.call_to_action%> </h5>
        <p class="white"> <%= @problem.description %> </p>
        <p class="white">
          <% if @problem.budget? %>
            <i class="fa fa-usd" aria-hidden="true"></i> <%= t("proposals.form.problem.budget") %> <%= @problem.budget%> </br>
          <% end %>
          <i class="fa fa-map-marker" aria-hidden="true"></i> <%= t("proposals.form.problem.community") %> <%= @problem.geozones_name %>
        </p>
      </div>
    </div>
</div>
<div class="row collapse">
  <div class="small-12 medium-5 medium-offset-7 large-5 large-offset-7">
    <div class="deadline-problem bg-gray padding white">
      <h4 class="white text-center">Quedan <span class="counter num">
      <%=distance_of_time_in_days(@problem.ends_at, Date.today)%></span> días para crear propuestas</h4>
    </div>
  </div>
</div>

<div class="text-width">
  <div class="small-12 column column-with-margin">
    <% if @problem.problem_title? %>
      <h4> ¿Por qué surge este desafío? </h1>
      <p> <%= @problem.summary%> </p>
    <% end %>
    <% if @problem.cause? %>
      <h4> Causas </h1>
      <p> <%= @problem.cause%> </p>
    <% end %>
    <% if @problem.consequence? %>
      <h4> Consecuencias </h1>
      <p> <%= @problem.consequence%> </p>
    <% end %>
    <% if @problem.restriction? %>
      <h4> Restricciones </h1>
      <p> <%= @problem.restriction%> </p>
    <% end %>
  </div>
</div>
