<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.legislation") %> - <%= @process.title %>
<% end %>

<div class="legislation-process-edit">
  <%= back_link_to admin_legislation_processes_path, t("admin.legislation.processes.edit.back") %>

  <h2><%= @process.title %></h2>

  <%= render 'subnav', process: @process, active: 'info' %>

  <%= render 'form' %>
</div>
