<%= form_for [:admin, @problem] do |f| %>

<div class="small-12 column">

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.label :title %>
      <p class="note"><%= t("admin.problems.form.note_title") %></p>
      <%= f.text_field :title, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :problem_title %>
      <p class="note"><%= t("admin.problems.form.note_problem") %></p>
      <%= f.text_area :problem_title, label: false%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :cause %>
      <p class="note"><%= t("admin.problems.form.note_cause") %></p>
      <%= f.text_area :cause, label: false%>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :consequence %>
      <p class="note"><%= t("admin.problems.form.note_consequence") %></p>
      <%= f.text_area :consequence, label: false%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :summary %>
      <p class="note"><%= t("admin.problems.form.note_summary") %></p>
      <%= f.text_area :summary, label: false%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :description %>
      <p class="note"><%= t("admin.problems.form.note_description") %></p>
      <%= f.text_area :description, label: false%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 column">
      <%= f.label :restriction %>
      <p class="note"><%= t("admin.problems.form.note_restriction") %></p>
      <%= f.text_area :restriction, label: false%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.label :budget %>
      <%= f.text_field :budget, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :starts_at,
                        value: @problem.starts_at.present? ? l(@problem.starts_at.to_date) : nil,
                        class: "js-calendar-full" %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.text_field :ends_at,
                        value: @problem.ends_at.present? ? l(@problem.ends_at.to_date) : nil,
                        class: "js-calendar-full" %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 medium-6 column">
      <%= f.check_box :geozone_restricted, data: { checkbox_toggle: "#geozones" } %>
    </div>
  </div>

  <div id="geozones" style="<%= @problem.geozone_restricted? ? '' : 'display:none' %>">
    <div class="row">
      <%= f.collection_check_boxes(:geozone_ids, @geozones, :id, :name) do |b| %>
        <div class="small-6 medium-3 column">
          <%= b.label do %>
            <%= b.check_box + b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => @current_user.id %>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= f.submit t("admin.problems.#{admin_submit_action(@problem)}.submit_button"),
                   class: "button success expanded" %>
    </div>
  </div>

<% end %>
