<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <h2><%= t("budgets.index.finished_budgets") %></h2>

    <div id="finished_budgets">
      <% budgets.each do |budget| %>
        <div class="budget-investment clear">
          <div class="panel past-budgets">
            <div class="row" data-equalizer data-equalizer-on="medium">
              <div class="small-12 medium-6 column table" data-equalizer-watch>
                <div class="table-cell align-middle">
                  <h3><%= budget.name %></h3>
                </div>
              </div>

              <div class="small-12 medium-6 column table" data-equalizer-watch>
                <div id="budget_<%= budget.id %>_results" class="table-cell align-middle">
                  <% if can?(:read_results, budget) %>
                    <%= link_to t("budgets.index.see_results"),
                                budget_results_path(budget),
                                class: "button" %>
                  <% end %>

                  <%= link_to t("budgets.index.milestones"),
                              budget_executions_path(budget),
                              class: "button" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
