<ul class="no-bullet budget-timeline">
  <% current_budget.published_phases.each do |phase| %>
    <li class="phase <%= 'is-active' if phase == current_budget.current_phase %>">
      <h3><%= t("budgets.phase.#{phase.kind}") %></h3>
      <span>
        <%= l(phase.starts_at.to_date, format: :long) if phase.starts_at.present? %>
        -
        <%= l(phase.ends_at.to_date - 1.day, format: :long) if phase.ends_at.present? %>
      </span>
      <p><%= safe_html_with_links(phase.summary) %></p>
    </li>
  <% end %>
</ul>
