<% if budget.selecting? %>
  <div class="supports-info text-center">
    <div class="callout">
      <h2><%= sanitize(t("budgets.index.supports_info.title")) %></h2>

      <%= image_tag("budgets/budgets_support.png", alt: "", class: "margin") %>

      <p><%= t("budgets.index.supports_info.next") %></p>
      <p><%= sanitize(t("budgets.index.supports_info.remember")) %></p>
      <p><%= t("budgets.index.supports_info.different") %></p>
    </div>

    <div class="callout">
      <h3>
        <% if current_user %>
          <% if budget_investments_total_supports(current_user) == 1 %>
            <%= sanitize(t("budgets.index.supports_info.supported_one")) %>
          <% else %>
            <%= sanitize(t("budgets.index.supports_info.supported",
                            count: budget_investments_total_supports(current_user))) %>
          <% end %>
        <% else %>
          <%= sanitize(t("budgets.index.supports_info.supported_not_logged_in")) %>
        <% end %>
      </h3>

      <div class="small-12 medium-6 small-centered">
        <p><%= t("budgets.index.supports_info.time",
                  phase_end_date: l(budget.current_phase.ends_at.to_date, format: :long)) %></p>

        <p class="margin-top"><%= t("budgets.index.supports_info.share") %></p>

        <p class="margin-top">
          <a href="#budget_investment_index_list" class="keep-scrolling" data-smooth-scroll>
            <%= t("budgets.index.supports_info.scrolling") %><br>
            <span class="fas fa-angle-double-down"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
<% end %>
