<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<%= render "title", budget: @budget %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<% if @budget.present? %>
  <%= render "budget", budget: @budget %>

  <% if @finished_budgets.present? %>
    <%= render "finished", budgets: @finished_budgets %>
  <% end %>
<% else %>
  <div class="expanded budget no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 medium-9 column padding">
          <h1><%= t("budgets.index.title") %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="callout primary">
        <%= t("budgets.index.empty_budgets") %>
      </div>
    </div>
  </div>
<% end %>

<%= render "footer" %>
