<% provide :title do %><%= t('budgets.index.title') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<div id="budget_heading" class="expanded budget no-margin-top">
  <div class="row" data-equalizer data-equalizer-on="medium">
    <div class="small-12 medium-9 column padding" data-equalizer-watch>

        <h1><%= @budget.name %></h1>

        <%= safe_html_with_links @budget.description %>
        <%= link_to t("budgets.index.section_header.help"), "#section_help" %>
      </div>
      <div class="small-12 medium-3 column info padding" data-equalizer-watch>
        <p>
          <% published_phases = @budget.phases.published %>
          <% current_phase_number = published_phases.index(@budget.current_phase) + 1 || 0 %>
          <% phases_progress_numbers = "(#{current_phase_number}/#{published_phases.count})" %>
          <strong><%= t('budgets.show.phase') %> <%= phases_progress_numbers %></strong>
        </p>
        <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>

        <%= link_to t("budgets.index.section_header.all_phases"), "#all_phases" %>

        <% if @budget.accepting? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>
              <%= link_to t("budgets.investments.index.sidebar.create"),
                          new_budget_investment_path(@budget),
                          class: "button margin-top expanded" %>
            <% else %>
              <div class="callout warning margin-top">
                <%= t("budgets.investments.index.sidebar.verified_only",
                    verify: link_to(t("budgets.investments.index.sidebar.verify_account"),
                                    verification_path)).html_safe %>
              </div>
            <% end %>
          <% else %>
            <div class="callout primary margin-top">
              <%= t("budgets.investments.index.sidebar.not_logged_in",
                    sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"),
                    new_user_session_path),
                    sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"),
                    new_user_registration_path)).html_safe %>
            </div>
        <% end %>
      <% end %>


      <% if @budget.finished? || (@budget.balloting? && can?(:read_results, @budget)) %>
        <%= link_to t("budgets.show.see_results"),
                    budget_results_path(@budget, heading_id: @budget.headings.first),
                    class: "button margin-top expanded" %>
      <% end %>
    </div>
  </div>
</div>

<div id="budget_info" class="row margin-top">
  <div class="small-12 medium-9 column">

    <div id="groups_and_headings">
      <% @budget.groups.each do |group| %>
        <h2><%= group.name %></h2>
        <div class="row">
          <% group.headings.each do |heading| %>
            <div class="small-12 medium-6 column">
              <%= link_to heading.name,
                          budget_investments_path(@budget.id, heading_id: heading.id) %>
              <%= @budget.formatted_heading_price(heading) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map">
      <h3><%= t("budgets.index.map") %></h3>
    </div>

    <div>
      <%= link_to t("budgets.index.investment_proyects"),
                  budget_investments_path(@budget.id) %><br>
      <%= link_to t("budgets.index.unfeasible_investment_proyects"),
                  budget_investments_path(budget_id: @budget.id, filter: 'unfeasible') %><br>
      <%= link_to t("budgets.index.not_selected_investment_proyects"),
                  budget_investments_path(budget_id: @budget.id, filter: 'unselected') %>
    </div>

    <div id="all_phases">
      <h2><%= t("budgets.index.all_phases") %></h2>
      <% @budget.phases.published.pluck(:kind) do |phase_kind| %>
        <div class="row">
          <div class="small-12 column <%= @budget.phase == phase_kind ? 'active' : '' %>">
            <h4><%= t("budgets.phase.#{phase_kind}") %></h4>
            <%= @budget.description_for_phase(phase_kind) %>
          </div>
        </div>
      <% end %>
    </div>


    <div class="tabs-content" data-tabs-content="other_budgets" role="tablist">
      <div class="row margin-top">
        <div class="small-12 column">
          <ul class="tabs" data-tabs id="budget_tabs">
            <li class="tabs-title is-active">
              <%= link_to "#other_budgets" do %>
                <h3>
                  <%= t("budgets.index.finished_budgets") %>
                </h3>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="tabs-panel is-active" id="other_budgets">
        <% @budgets.each do |b| %>
          <% if budget_published?(b) %>
            <div class="row">
              <div class="small-9 column">
                <%= b.name %>
                <%= b.description %>
              </div>
              <div class="small-3 column">
                <%= link_to t("budgets.index.see_results"), budget_results_path(b.id) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="section_help" class="margin" data-magellan-target="section_help">
      <p class="lead">
        <strong><%= t("budgets.index.section_footer.title") %></strong>
      </p>
      <p><%= t("budgets.index.section_footer.description") %></p>
      <p><%= t("budgets.index.section_footer.help_text_1") %></p>
      <p><%= t("budgets.index.section_footer.help_text_2") %></p>
      <p><%= t("budgets.index.section_footer.help_text_3",
                org: link_to(setting['org_name'], new_user_registration_path)).html_safe %></p>
      <p><%= t("budgets.index.section_footer.help_text_4") %></p>
    </div>
  </div>
</div>
