<h1><%= t("budgets.select_headings.title") %></h1>

<p><%= t("budgets.select_headings.proposal_name") %>: <%= @proposal.title %></p>
<p><%= t("budgets.select_headings.budget_name") %>: <%= @budget.name %></p>

<%= form_with url: new_budget_investment_path(@budget.id, proposal_id: @proposal.id), method: :get, local: true do |form| %>
  <div  class="small-12 medium-6 column">
    <%= form.label :group_id, t("budgets.select_headings.select_group") %>
    <%= form.collection_select :group_id, @groups, :id, :name, { prompt: t("budgets.select_headings.choose_group") }, { id: "group-select" } %>

    <%= form.label :heading_id, t("budgets.select_headings.select_heading") %>
    <%= form.collection_select :heading_id, [], :id, :name, { prompt: t("budgets.select_headings.choose_heading") }, { id: "heading-select" } %>
  </div>

  <%= form.hidden_field :proposal_id, value: @proposal.id %>
  <%= form.hidden_field :budget_id, value: @budget.id %>
  <div class="small-12 column">
  <div class="button success">
    <%= form.submit t("budgets.select_headings.submit") %>
  </div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const groupSelect = document.getElementById("group-select");
    const headingSelect = document.getElementById("heading-select");

    if (!groupSelect) {
      console.error("groupSelect element not found");
      return;
    }

    groupSelect.addEventListener("change", function() {
      const groupId = this.value;

      if (groupId) {
        fetch(`/budgets/budget_headings?group_id=${groupId}`)
          .then(response => response.json())
          .then(data => {
            headingSelect.innerHTML = '<option value="">' + "<%= t('budgets.select_headings.choose_heading') %>" + '</option>';
            data.forEach(heading => {
              const option = document.createElement("option");
              option.value = heading.id;
              option.text = heading.name;
              headingSelect.appendChild(option);
            });
          });
      } else {
        headingSelect.innerHTML = '<option value="">' + "<%= t('budgets.select_headings.choose_heading') %>" + '</option>';
      }
    });
  });
</script>
