<div id="<%= dom_id(proposal) %>" class="<%= ("successful" if proposal.total_votes > Proposal.votes_needed_for_success) %>" data-type="proposal">

  <div class="row">
    <div class="card shadow p-2 p-md-4">
      <div class="card-header border-0 bg-white p-0">
        <div class="post-meta">
          <div class="media d-flex align-items-center justify-content-between flex-wrap">
            <div class="post-group">
              <i class="fas fa-user-edit"></i>
              <% if proposal.author.hidden? || proposal.author.erased? %>
                <span class="author">
                  <%= t("proposals.show.author_deleted") %>
                </span>
              <% else %>
                <span class="author">
                  <%= proposal.author.name %>
                </span>
                <% if proposal.author.display_official_position_badge? %>
                  <span class="label round level-<%= proposal.author.official_level %>">
                    <%= proposal.author.official_position %>
                  </span>
                <% end %>
              <% end %>

              <% if proposal.author.verified_organization? %>
                <span class="label round is-association">
                  <%= t("shared.collective") %>
                </span>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <span class="small">
                <span class="far fa-calendar-alt me-2"></span>
                <%= l proposal.created_at.to_date %>

              </span>

            </div>
            <div class="d-flex align-items-center">
              <span class="far fa-comments me-2"></span>
              <% cache [locale_and_user_status(proposal), "index", proposal, proposal.author] do %>

                <%= link_to t("proposals.proposal.comments", count: proposal.comments_count), namespaced_proposal_path(proposal, anchor: "comments") %>

              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body py-4 px-0">


          <h3 class="h3">
            <%= link_to proposal.title, namespaced_proposal_path(proposal) %>
          </h3>

          <div class="card-text">
            <%= proposal.summary %>
          </div>


        <%= render "shared/tags", taggable: proposal, limit: 5 %>

      </div>
      <div class="card-footer bg-white pb-0 px-0">
        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
          <div class="col-12 post-details mb-3 mb-lg-0">
            <% if show_proposal_votes? %>
              <div id="<%= dom_id(proposal) %>_votes">
                <% if proposal.successful? %>
                  <div class="padding">
                    <div class="supports text-center">
                      <%= render "proposals/supports", proposal: proposal %>
                    </div>
                  </div>
                  <% elsif proposal.archived? %>
                    <div class="padding text-center">
                      <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
                      <p><%= t("proposals.proposal.archived") %></p>
                    </div>
                  <% else %>
                    <%= render "votes", { proposal: proposal, vote_url: vote_proposal_path(proposal, value: "yes") } %>
                  <% end %>
                </div>
              <% end %>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
