<div class="progress-wrapper">
  <div class="progress-info info-xl">
    <div class="progress-label">
      <span class="text-primary">
        <%= t("proposals.proposal.supports_necessary", number: number_with_delimiter(Proposal.votes_needed_for_success)) %>
      </span>
    </div>
    <div class="progress-percentage">
      <span><%= supports_percentage(proposal) %></span>
    </div>
  </div>
  <div class="progress progress-xl">
    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= progress_bar_percentage(proposal) %>%;" aria-valuenow="<%= progress_bar_percentage(proposal) %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<span class="h3 w-bold">
  <%= t("proposals.proposal.supports", count: proposal.total_votes) %>
  <span></span>
</span>
