<% provide :title, t("meta_tags.proposals.title") %>
<% provide :meta_description, t("meta_tags.proposals.description") %>
<% provide :tracking_page_number, "29" %>

<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: current_path_with_query_params(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <% if @search_terms || @advanced_search_terms || @tag_filter || params[:retired].present? %>
    <div class="highlight no-margin-top padding margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <% if @search_terms || @advanced_search_terms %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @proposals %>
              <% if !@advanced_search_terms %>
                <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_terms) %>
              <% end %>
            <p>
          <% elsif @tag_filter %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @proposals %>
              <%= t("proposals.index.filter_topic", count: @proposals.size, topic: @tag_filter) %>
            </p>
          <% elsif params[:retired].present? %>
            <h2><%= t("proposals.index.retired_proposals") %></h2>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
  <% end %>

  <% if feature?('user.recommendations') && @recommended_proposals.present? %>
    <%= render "shared/recommended_index", recommended: @recommended_proposals,
                                           disable_recommendations_path: recommendations_disable_proposals_path,
                                           namespace: "proposals" %>
  <% end %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <% if Budget.balloting.any? %>
        <%= render "budgets/banner" %>
      <% end %>

      <% if @featured_proposals.present? %>
        <div id="featured-proposals" class="row featured-proposals margin-bottom">
          <div class="small-12 column">
            <h2>
              <%= t("proposals.index.featured_proposals") %>
            </h2>
          </div>
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      <% unless human_rights? %>
        <div class="row">
          <div class="small-12 column">
            <%= render "view_mode" %>
          </div>
        </div>
      <% end %>

      <% unless params[:retired].present? %>
        <%= render "shared/advanced_search",
                   search_path: path_to_search_proposals  %>
      <% end %>
      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>

      <% if @proposals.any? %>
        <% if request.path != human_rights_proposals_path %>
          <div class="show-for-small-only">
            <%= link_to t("proposals.index.start_proposal"),
                        new_proposal_guide,
                        class: 'button expanded' %>
          </div>
        <% end %>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <% if request.path == human_rights_proposals_path || proposals_default_view? %>
            <%= render partial: 'proposals/proposal', collection: @proposals %>
          <% else %>
            <% @proposals.each do |proposal| %>
              <%= render partial: '/proposals/proposal_minimal', locals: { proposal: proposal } %>
            <% end %>
          <% end %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>

        <% unless @search_terms || @advanced_search_terms || @tag_filter %>

          <% if @current_order == "recommendations" %>
            <p class="margin">
              *<%= t("welcome.recommended.help") %>
            </p>
          <% end %>

          <div id="section_help" class="margin" data-magellan-target="section_help">
            <p class="lead">
              <strong><%= t("proposals.index.section_footer.title") %></strong>
            </p>
            <p><%= t("proposals.index.section_footer.description") %></p>
            <p><%= t("proposals.index.section_footer.help_text_1") %></p>
            <p><%= t("proposals.index.section_footer.help_text_1b",
                      blog: link_to(t("proposals.index.section_footer.help_text_1b_blog"), "https://diario.madrid.es/decidemadrid/2017/09/07/diez-claves-para-crear-una-propuesta-ciudadana-en-decide-madrid/", target: "_blank")).html_safe %></p>
            <p><%= t("proposals.index.section_footer.help_text_2",
                      org: link_to(setting['org_name'], new_user_registration_path),
                      supports: setting["votes_for_proposal_success"]).html_safe %></p>
            <p><%= t("proposals.index.section_footer.help_text_3") %></p>
            <p><%= t("proposals.index.section_footer.help_text_4") %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <% if request.path != human_rights_proposals_path %>
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_guide,
                      class: 'button expanded' %>
        <% end %>
        <% if params[:retired].blank? %>
          <%= render 'categories' %>
          <% if request.path != human_rights_proposals_path %>
            <%= render "shared/tag_cloud", taggable: 'proposal' %>
          <% end %>
          <%= render 'geozones' %>
          <%= render 'popular' %>
        <% end %>
        <%= render 'retired' %>
      </aside>
    </div>

  </div>
</main>
