<h3 id="11">Participaci칩n por grupos de edad</h4>

<table class="polls-participation-age margin-top">
  <thead>
    <tr>
      <th class="border-right">EDAD</th>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>

    <% ::Poll::AGE_STEPS.each_with_index do |age, i| %>
      <tr>
        <% next_age = ::Poll::AGE_STEPS[i+1] %>

        <td class="border-right">
          <% if next_age.present? %>
            <%= "De #{age} a #{next_age - 1} a침os" %>
          <% else %>
            <%= "De #{age} y m치s a침os" %>
          <% end %>
        </td>

        <% ::Poll::Voter::VALID_ORIGINS.each do |origin| %>
          <td>
            <div class="progress" role="progressbar" tabindex="0"
                 aria-valuenow="<%= percent_stat(@age_stats[age][origin], @age_stats['total']) %>"
                 aria-valuetext="<%= percent_stat(@age_stats[age][origin], @age_stats['total']) %>%"
                 aria-valuemin="0" aria-valuemax="100">
              <span class="progress-meter <%= origin %>" style="width: <%= percent_stat(@age_stats[age][origin], @age_stats['total']) %>%">
                <p class="progress-meter-text">
                  <%= @age_stats[age][origin] %>
                  (<%=  percent_stat(@age_stats[age][origin], @age_stats['total']) %>%)
                </p>
              </span>
            </div>
          </td>
        <% end %>

        <td class="border-left">
          <strong>
            <%= @age_stats[age]['total'] %>
            (<%= percent_stat(@age_stats[age]['total'], @age_stats['total']) %>%)
          </strong>
          <div class="progress" role="progressbar" tabindex="0"
               aria-valuenow="<%= percent_stat(@age_stats[age]['total'], @age_stats['total']) %>"
               aria-valuetext="<%= percent_stat(@age_stats[age]['total'], @age_stats['total']) %>%"
               aria-valuemin="0" aria-valuemax="100">
            <span class="progress-meter" style="width: <%= percent_stat(@age_stats[age]['total'], @age_stats['total']) %>%"></span>
          </div>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
