<h3 id="10">Participación por sexo</h3>

<div class="row">
  <div class="small-12 column text-center margin-top">
    <%= image_tag ("polls/stats_man.png") %>
    <%= image_tag ("polls/stats_man.png") %>
    <%= image_tag ("polls/stats_man.png") %>
    <%= image_tag ("polls/stats_man.png") %>
    <%= image_tag ("polls/stats_man.png") %>
    <%= image_tag ("polls/stats_woman.png") %>
    <%= image_tag ("polls/stats_woman.png") %>
    <%= image_tag ("polls/stats_woman.png") %>
    <%= image_tag ("polls/stats_woman.png") %>
    <%= image_tag ("polls/stats_woman.png") %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 column text-right">
    <p class="stat-number margin-top">
      Hombres (50,00%)<br>
      <span>5000</span>
    </p>
  </div>
  <div class="small-12 medium-6 column">

    <p class="stat-number margin-top">
      Mujeres (50,00%)<br>
      <span>5000</span>
    </p>
  </div>
</div>

<table class="polls-participation">
  <thead>
    <tr>
      <th class="border-right">SEXO</th>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-left border-right">Hombres</th>
      <td>2000 <small><em>(40,00%)</em></small></td>
      <td>1000 <small><em>(20,00%)</em></small></td>
      <td>2000 <small><em>(40,00%)</em></small></td>
      <td class="border-left"><strong>5000</strong></td>
    </tr>
    <tr>
      <th class="text-left border-right">Mujeres</th>
      <td>1500 <small><em>(30,00%)</em></small></td>
      <td>2000 <small><em>(40,00%)</em></small></td>
      <td>1500 <small><em>(30,00%)</em></small></td>
      <td class="border-left"><strong>5000</strong></td>
    </tr>
  </tbody>
</table>