<h3 id="10">Participación por sexo</h3>

<div class="row">
  <div class="small-12 column text-center margin-top">
      <%= image_tag ("polls/stats_man.png") %>
      <%= image_tag ("polls/stats_man.png") %>
      <%= image_tag ("polls/stats_man.png") %>
      <%= image_tag ("polls/stats_man.png") %>
      <%= image_tag ("polls/stats_man.png") %>
      <%= image_tag ("polls/stats_woman.png") %>
      <%= image_tag ("polls/stats_woman.png") %>
      <%= image_tag ("polls/stats_woman.png") %>
      <%= image_tag ("polls/stats_woman.png") %>
      <%= image_tag ("polls/stats_woman.png") %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 column text-right">
    <p class="stat-number margin-top">
      Hombres (49,23%)<br>
      <span>105298</span>
    </p>
  </div>
  <div class="small-12 medium-6 column">

    <p class="stat-number margin-top">
      Mujeres (50,77%)<br>
      <span>108591</span>
    </p>
  </div>
</div>

<table class="polls-total-stats">
  <thead>
    <tr>
      <th scope="col" class="border-right">SEXO</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Hombres</th>
      <td>41142 <small><em>(38,41%)</em></small></td>
      <td>10849 <small><em>(10,13%)</em></small></td>
      <td>55122 <small><em>(51,46%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Mujeres</th>
      <td>35192 <small><em>(31,93%)</em></small></td>
      <td>12792 <small><em>(11,61%)</em></small></td>
      <td>62233 <small><em>(56,46%)</em></small></td>
    </tr>
  </tbody>
</table>
