<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.legislation") %> - <%= @process.title %> - <%= t("admin.legislation.questions.index.title") %> - <%= @question.title %>
<% end %>

<div class="legislation-questions-edit legislation-questions-form">
  <div class="small-12 column">
    <%= back_link_to admin_legislation_process_questions_path(@process), t("admin.legislation.questions.edit.back") %>

    <h2><%= @process.title %></h2>

    <%= render 'admin/legislation/processes/subnav', process: @process, active: 'questions' %>

    <div class="small-12 column">
      <h3 class="inline-block"><%= t("admin.legislation.questions.edit.title", question_title: @question.title) %></h3>

      <div class="float-right">
        <%= link_to t("admin.legislation.questions.index.delete"), admin_legislation_process_question_path(@process, @question),
                    method: :delete,
                    class: 'button hollow alert' %>
      </div>
    </div>

    <%= render 'form', url: admin_legislation_process_question_path(@process, @question) %>
  </div>
</div>
