<%= form_for(@proposal, url: form_url) do |f| %>
  <%= render "shared/errors", resource: @proposal %>

  <%= f.hidden_field(:legislation_process_id, :value => params[:process_id]) %>

  <div class="row">
    <div class="small-12 column">
      <%= f.label :title, @process.title_label %>
      <%= f.text_field :title, maxlength: Legislation::Proposal.title_max_length, placeholder: @process.title_label, label: false %>
    </div>

    <%= f.invisible_captcha :subtitle %>

    <div class="small-12 column">
      <%= f.label :summary, @process.summary_label %>
      <p class="help-text" id="summary-help-text"><%= t("proposals.form.proposal_summary_note") %></p>
      <%= f.text_area :summary, rows: 4, maxlength: 200, label: false,
                      placeholder: @process.summary_label,
                      aria: {describedby: "summary-help-text"} %>
    </div>

    <% if @process.description_enabled %>
      <div class="ckeditor small-12 column">
        <%= f.label :description, @process.description_label %>
        <%= f.cktext_area :description, placeholder: @process.description_label, maxlength: Legislation::Proposal.description_max_length, ckeditor: { language: I18n.locale }, label: false %>
      </div>
    <% end %>

    <% if @process.video_url_enabled %>
      <div class="small-12 column">
        <%= f.label :video_url, @process.video_url_label %>
        <p class="help-text" id="video-url-help-text"><%= t("proposals.form.proposal_video_url_note") %></p>
        <%= f.text_field :video_url, placeholder: @process.video_url_label, label: false,
                                     aria: {describedby: "video-url-help-text"} %>
      </div>
    <% end %>

    <% if feature?(:allow_images) && @process.image_enabled %>
      <div class="images small-12 column">
        <%= render 'images/nested_image', imageable: @proposal, f: f, image_label: @process.image_label %>
      </div>
    <% end %>

    <% if @process.documents_enabled %>
      <div class="documents small-12 column" data-max-documents="<%= Legislation::Proposal.max_documents_allowed %>">
        <%= render 'documents/nested_documents', documentable: @proposal, f: f, documents_label: @process.documents_label %>
      </div>
    <% end %>

    <% if @process.geozone_enabled %>
      <div class="small-12 medium-6 column">
        <%= f.label :geozone_id, @process.geozone_label %>
        <%= f.select :geozone_id, geozone_select_options, {include_blank: t("geozones.none"), label: false} %>
      </div>
    <% end %>

    <% if @process.tags_enabled %>
      <div class="small-12 column">
        <%= f.label :tag_list, @process.tags_label %>
        <p class="help-text" id="tag-list-help-text"><%= t("proposals.form.tags_instructions") %></p>

        <div id="category_tags" class="tags">
          <% @process.tag_list_on(:customs).each do |tag| %>
            <a class="js-add-tag-link"><%= tag %></a>
          <% end %>
        </div>

        <br>
        <%= f.text_field :tag_list, value: @proposal.tag_list.to_s,
                          label: false,
                          placeholder: @process.tags_label,
                          class: 'js-tag-list',
                          aria: {describedby: "tag-list-help-text"} %>
      </div>
    <% end %>

    <div class="small-12 column">
      <% if @proposal.new_record? %>
        <%= f.label :terms_of_service do %>
          <%= f.check_box :terms_of_service, title: t("form.accept_terms_title"), label: false %>
          <span class="checkbox">
            <%= t("form.accept_terms",
                policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                conditions: link_to(t("form.conditions"), "/conditions", target: "blank")).html_safe %>
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("proposals.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>
