<div class="row">
  <div class="small-12 column">
    <div id="section_zona" class="margin" data-magellan-target="section_zona">
        <p class="lead">
          <strong><%= t("budgets.index.section_footer.help_text_6") %></strong>
        </p>
        <p><%= t("budgets.index.section_footer.help_text_7") %></p>
       <p><%= t("budgets.index.section_footer.help_text_8") %></p>
       <p><%= t("budgets.index.section_footer.help_text_10")%></p>
       <p><%= t("budgets.index.section_footer.help_text_11")%></p>
		<p>
		    <%=  link_to 'Más Información: Reglamento de los Presupuestos Participativos.', asset_path('https://www.diputaciondevalladolid.es/documents/10181/2918792/Texto+Consolidado+Reglamento+Presupuestos+Participativos+%28Junio+2021%29/a0962221-db6d-45f9-9754-2fb8bc43dd81')  %>
		</p>
        <p><a href="https://participa.diputaciondevalladolid.es/users/sign_up"><%= t("budgets.index.section_footer.help_text_9")%></a></p>
      <p><strong><%= t("budgets.index.section_footer.help_text_12")%><strong></p>
        <div id="mapa">
          <select id="selectZonas" onchange="myFunction()" style="display:inline-block">
            <option selected> Elige un municipio</option>
            <option value="este">AMUSQUILLO</option>
            <option value="este">BAHABON DE VALCORBA
            </option>
            <option value="este">BOCOS
            </option>
            <option value="este">CABEZON DE PISUERGA
            </option>
            <option value="este">CAMPASPERO
            </option>
            <option value="este">CANALEJAS DE PEÑAFIEL
            </option>
            <option value="este">CANILLAS DE ESGUEVA
            </option>
            <option value="este">CASTRILLO DE DUERO
            </option>
            <option value="este">CASTRILLO TEJERIEGO
            </option>
            <option value="este">CASTRONUEVO DE ESGUEVA
            </option>
            <option value="este">CASTROVERDE DE CERRATO
            </option>
            <option value="este">CISTERNIGA, LA</option>
            <option value="este">COGECES DEL MONTE
            </option>
            <option value="este">CORRALES DE DUERO
            </option>
            <option value="este">CURIEL DE DUERO
            </option>
            <option value="este">ENCINAS DE ESGUEVA
            </option>
            <option value="este">ESGUEVILLAS DE ESGUEVA
            </option>
            <option value="este">FOMBELLIDA
            </option>
            <option value="este">FOMPEDRAZA
            </option>
            <option value="este">LANGAYO
            </option>
            <option value="este">MANZANILLO
            </option>
            <option value="este">MONTEMAYOR DE PILILLA
            </option>
            <option value="este">OLIVARES DE DUERO
            </option>
            <option value="este">OLMOS DE ESGUEVA
            </option>
            <option value="este">OLMOS DE PEÑAFIEL
            </option>
            <option value="este">PARRILLA, LA
            </option>
            <option value="este">PEÑAFIEL
            </option>
            <option value="este">PESQUERA DE DUERO
            </option>
            <option value="este">PIÑA DE ESGUEVA
            </option>
            <option value="este">PIÑEL DE ABAJO
            </option>
            <option value="este">PIÑEL DE ARRIBA
            </option>
            <option value="este">QUINTANILLA DE ARRIBA
            </option>
            <option value="este">QUINTANILLA DE ONESIMO
            </option>
            <option value="este">RABANO
            </option>
            <option value="este">RENEDO DE ESGUEVA
            </option>
            <option value="este">ROTURAS
            </option>
            <option value="este">SAN LLORENTE
            </option>
            <option value="este">SAN MARTIN DE VALVENI
            </option>
            <option value="este">SANTIBAÑEZ DE VALCORBA
            </option>
            <option value="este">SANTOVENIA DE PISUERGA
            </option>
            <option value="este">SARDON DE DUERO
            </option>
            <option value="este">TORRE DE ESGUEVA
            </option>
            <option value="este">TORRE DE PEÑAFIEL
            </option>
            <option value="este">TORRESCARCELA
            </option>
            <option value="este">TRASPINEDO
            </option>
            <option value="este">TUDELA DE DUERO
            </option>
            <option value="este">VALBUENA DE DUERO
            </option>
            <option value="este">VALDEARCOS DE LA VEGA
            </option>
            <option value="este">VALORIA LA BUENA
            </option>
            <option value="este">VILLABAÑEZ
            </option>
            <option value="este">VILLACO
            </option>
            <option value="este">VILLAFUERTE DE ESGUEVA
            </option>
            <option value="este">VILLANUEVA DE LOS INFANTES
            </option>
            <option value="este">VILLARMENTERO DE ESGUEVA
            </option>
            <option value="este">VILLAVAQUERIN
            </option>
            <option value="este">VILORIA</option>
            <option value="norte">ADALIA </option>
            <option value="norte">AGUILAR DE CAMPOS
         </option>
            <option value="norte">BARCIAL DE LA LOMA
         </option>
            <option value="norte">BARRUELO DEL VALLE
         </option>
            <option value="norte">BECILLA DE VALDERADUEY
         </option>
            <option value="norte">BENAFARCES
         </option>
            <option value="norte">BERCERO
         </option>
            <option value="norte">BERCERUELO
         </option>
            <option value="norte">BERRUECES
         </option>
            <option value="norte">BOLAÑOS DE CAMPOS
         </option>
            <option value="norte">BUSTILLO DE CHAVES
         </option>
            <option value="norte">CABEZON DE VALDERADUEY
         </option>
            <option value="norte">CABREROS DEL MONTE
         </option>
            <option value="norte">CASASOLA DE ARION
         </option>
            <option value="norte">CASTROBOL
         </option>
            <option value="norte">CASTRODEZA
         </option>
            <option value="norte">CASTROMEMBIBRE
         </option>
            <option value="norte">CASTROMONTE
         </option>
            <option value="norte">CASTROPONCE DE VALDERADUEY
         </option>
            <option value="norte">CEINOS
         </option>
            <option value="norte">CIGALES
         </option>
            <option value="norte">CIGUÑUELA
         </option>
            <option value="norte">CORCOS
         </option>
            <option value="norte">CUBILLAS DE STA MARTA
         </option>
            <option value="norte">CUENCA DE CAMPOS
         </option>
            <option value="norte">FONTIHOYUELO
         </option>
            <option value="norte">FUENSALDAÑA
         </option>
            <option value="norte">GALLEGOS DE HORNIJA
         </option>
            <option value="norte">GATON DE CAMPOS
         </option>
            <option value="norte">GERIA
         </option>
            <option value="norte">HERRIN DE CAMPOS
         </option>
            <option value="norte">MARZALES
         </option>
            <option value="norte">MATILLA DE LOS CAÑOS
         </option>
            <option value="norte">MAYORGA
         </option>
            <option value="norte">MEDINA DE RIOSECO
         </option>
            <option value="norte">MELGAR DE ABAJO
         </option>
            <option value="norte">MELGAR DE ARRIBA
         </option>
            <option value="norte">MONASTERIO DE VEGA
         </option>
            <option value="norte">MONTEALEGRE DE CAMPOS
         </option>
            <option value="norte">MORAL DE LA REINA
         </option>
            <option value="norte">MORALES DE CAMPOS
         </option>
            <option value="norte">MOTA DEL MARQUES
         </option>
            <option value="norte">MUCIENTES
         </option>
            <option value="norte">MUDARRA, LA
         </option>
            <option value="norte">PALAZUELO DE VEDIJA
         </option>
            <option value="norte">PEDROSA DEL REY
         </option>
            <option value="norte">PEÑAFLOR DE HORNIJA
         </option>
            <option value="norte">POZUELO DE LA ORDEN
         </option>
            <option value="norte">QUINTANILLA DE TRIGUEROS
         </option>
            <option value="norte">QUINTANILLA DEL MOLAR
         </option>
            <option value="norte">ROALES DE CAMPOS
         </option>
            <option value="norte">ROBLADILLO
         </option>
            <option value="norte">SAELICES DE MAYORGA
         </option>
            <option value="norte">SAN CEBRIAN DE MAZOTE
         </option>
            <option value="norte">SAN MIGUEL DEL PINO
         </option>
            <option value="norte">SAN PEDRO DE LATARCE
         </option>
            <option value="norte">SAN PELAYO DEL VALLE
         </option>
            <option value="norte">SAN ROMAN DE LA HORNIJA
         </option>
            <option value="norte">SAN SALVADOR DE HORNIJA
         </option>
            <option value="norte">SANTA EUFEMIA DEL ARROYO
         </option>
            <option value="norte">SANTERVAS DE CAMPOS
         </option>
            <option value="norte">SIMANCAS
         </option>
            <option value="norte">TAMARIZ DE CAMPOS
         </option>
            <option value="norte">TIEDRA
         </option>
            <option value="norte">TORDEHUMOS
         </option>
            <option value="norte">TORDESILLAS
         </option>
            <option value="norte">TORRECILLA DE LA ABADESA
         </option>
            <option value="norte">TORRECILLA DE LA TORRE
         </option>
            <option value="norte">TORRELOBATON
         </option>
            <option value="norte">TRIGUEROS DEL VALLE
         </option>
            <option value="norte">UNION DE CAMPOS, LA
         </option>
            <option value="norte">URONES DE CASTROPONCE
         </option>
            <option value="norte">URUEÑA
         </option>
            <option value="norte">VALDENEDRO DE LOS VALLES
         </option>
            <option value="norte">VALDUNQUILLO
         </option>
            <option value="norte">VALVERDE DE CAMPOS
         </option>
            <option value="norte">VEGA DE RUIPONCE
         </option>
            <option value="norte">VEGA DE VALDETRONCO
         </option>
            <option value="norte">VELILLA
         </option>
            <option value="norte">VELLIZA
         </option>
            <option value="norte">VILLABARUZ DE CAMPOS
         </option>
            <option value="norte">VILLABRAGIMA
         </option>
            <option value="norte">VILLACARRALON
         </option>
            <option value="norte">VILLACID DE CAMPOS
         </option>
            <option value="norte">VILLAFRADES DE CAMPOS
         </option>
            <option value="norte">VILLAFRECHOS
         </option>
            <option value="norte">VILLAGARCIA DE CAMPOS
         </option>
            <option value="norte">VILLAGOMEZ LA NUEVA
         </option>
            <option value="norte">VILLALAN DE CAMPOS
         </option>
            <option value="norte">VILLALAR DE LOS COMUNEROS
         </option>
            <option value="norte">VILLALBA DE LA LOMA
         </option>
            <option value="norte">VILLALBA DE LOS ALCORES
         </option>
            <option value="norte">VILLALBARBA
         </option>
            <option value="norte">VILLALON DE CAMPOS
         </option>
            <option value="norte">VILLAMURIEL DE CAMPOS
         </option>
            <option value="norte">VILLAN DE TORDESILLAS
         </option>
            <option value="norte">VILLANUBLA
         </option>
            <option value="norte">VILLANUEVA DE LA CONDESA
         </option>
            <option value="norte">VILLANUEVA DE LOS CABALLEROS
         </option>
            <option value="norte">VILLANUEVA DE SAN MANCIO
         </option>
            <option value="norte">VILLARDEFRADES
         </option>
            <option value="norte">VILLASEXMIR
         </option>
            <option value="norte">VILLAVELLID
         </option>
            <option value="norte">VILLAVICENCIO DE LOS CABALLEROS
         </option>
            <option value="norte">WAMBA
         </option>
            <option value="norte">ZARATAN
         </option>
            <option value="sur">AGUASAL</option>
            <option value="sur">ALAEJOS
        </option>
            <option value="sur">ALCAZAREN
        </option>
            <option value="sur">ALDEA DE SAN MIGUEL
        </option>
            <option value="sur">ALDEAMAYOR DE SAN MARTIN
        </option>
            <option value="sur">ALMENARA DE ADAJA
        </option>
            <option value="sur">ATAQUINES
        </option>
            <option value="sur">BOBADILLA DEL CAMPO
        </option>
            <option value="sur">BOCIGAS
        </option>
            <option value="sur">BOECILLO
        </option>
            <option value="sur">BRAHOJOS DE MEDINA
        </option>
            <option value="sur">CAMPILLO, EL
        </option>
            <option value="sur">CAMPORREDONDO
        </option>
            <option value="sur">CARPIO
        </option>
            <option value="sur">CASTREJON DE TRABANCOS
        </option>
            <option value="sur">CASTRONUÑO
        </option>
            <option value="sur">CERVILLEGO DE LA CRUZ
        </option>
            <option value="sur">COGECES DE ISCAR
        </option>
            <option value="sur">FRESNO EL VIEJO
        </option>
            <option value="sur">FUENTE EL SOL
        </option>
            <option value="sur">FUENTE OLMEDO
        </option>
            <option value="sur">HORNILLOS DE ERESMA
        </option>
            <option value="sur">ISCAR
        </option>
            <option value="sur">LLANO DE OLMEDO
        </option>
            <option value="sur">LOMOVIEJO
        </option>
            <option value="sur">MATAPOZUELOS
        </option>
            <option value="sur">MEGECES DE ISCAR
        </option>
            <option value="sur">MOJADOS
        </option>
            <option value="sur">MORALEJA DE LAS PANADERA
        </option>
            <option value="sur">MURIEL DE ZAPARDIEL
        </option>
            <option value="sur">NAVA DEL REY
        </option>
            <option value="sur">NUEVA VILLA DE LAS TORRES
        </option>
            <option value="sur">OLMEDO
        </option>
            <option value="sur">PEDRAJA DE PORTILLO, LA
        </option>
            <option value="sur">PEDRAJAS DE SAN ESTEBAN
        </option>
            <option value="sur">POLLOS
        </option>
            <option value="sur">PORTILLO
        </option>
            <option value="sur">POZAL DE GALLINAS
        </option>
            <option value="sur">POZALDEZ
        </option>
            <option value="sur">PURAS
        </option>
            <option value="sur">RAMIRO
        </option>
            <option value="sur">RUBI DE BRACAMONTE
        </option>
            <option value="sur">RUEDA
        </option>
            <option value="sur">SALVADOR DE ZAPARDIEL
        </option>
            <option value="sur">SAN MIGUEL DEL ARROYO
        </option>
            <option value="sur">SAN PABLO DE LA MORALEJA
        </option>
            <option value="sur">SAN VICENTE DEL PALACIO
        </option>
            <option value="sur">SECA, LA
        </option>
            <option value="sur">SERRADA
        </option>
            <option value="sur">SIETE IGLESIAS DE TRABANCOS
        </option>
            <option value="sur">TORRECILLA DE LA ORDEN
        </option>
            <option value="sur">VALDESTILLAS
        </option>
            <option value="sur">VELASCALVARO
        </option>
            <option value="sur">VENTOSA DE LA CUESTA
        </option>
            <option value="sur">VIANA DE CEGA
        </option>
            <option value="sur">VILLAFRANCA DE DUERO
        </option>
            <option value="sur">VILLANUEVA DE DUERO
        </option>
            <option value="sur">VILLAVERDE DE MEDINA
        </option>
            <option value="sur">ZARZA, LA
        </option>
          </select>
            <div style="display:inline-block">
            <p class="zonas" id="conoce">Conoce en que zona votar</p>
            <p class="zonas" id="este" style="display:none">Pertenece a la ZONA ESTE</p>
            <p class="zonas" id="norte" style="display:none">Pertenece a la ZONA NORTE</p>
            <p class="zonas"id="sur" style="display:none">Pertenece a la ZONA SUR</p>
          </div>

        </div>
        <img src="/mapa_zonas2.PNG" style="width:900px"/>

        <script>
          function myFunction(){
            document.getElementById("norte").style.display = "none";
            document.getElementById("este").style.display = "none";
            document.getElementById("sur").style.display = "none";
            document.getElementById("conoce").style.display = "none";
              var estado = document.getElementById('selectZonas').value;
            if(document.getElementById('selectZonas').value=="este" || document.getElementById('selectZonas').value=="norte" || document.getElementById('selectZonas').value=="sur"){
            document.getElementById(document.getElementById('selectZonas').value).style.display = "block";
            }else{
            document.getElementById("conoce").style.display = "block";
            }
          }

        
            function ordenarSelect(id_componente)
            {
              var selectToSort = jQuery('#' + id_componente);
              var optionActual = selectToSort.val();
              selectToSort.html(selectToSort.children('option').sort(function (a, b) {
                return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
              })).val(optionActual);
            }
            $(document).ready(function () {
              ordenarSelect('selectZonas');
            });
          </script>
    </div>
  </div>
</div>
