<div class="expanded budget no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('budgets.index.title') %></h1>
    </div>
  </div>
</div>

<div class="row margin">
  <div class="large-6 small-12 column">
      <% if current_budget.present? %>
        <%= markdown t('budgets.header_body_principal_1', amount: number_to_currency(current_budget.total_amount)) %>
        <% if budget_published?(current_budget) %>
          <%= link_to t('budgets.button_text'), custom_budget_path(current_budget), class: "button" %>
        <% else %>
          <%= link_to t('budgets.button_text_current', year: Poll.current_cartell.next_year), "#", class: "button" %>
        <% end %>
      <% elsif @last_budget.present? %>
        <%= link_to "#{t('results.button_title')} #{@last_budget.name}", budget_results_path(@last_budget), class: "button" %>
      <% end %>

  </div>
  <div class="large-6 small-12 column">
    <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src=<%=t('budgets.index.url_video')%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="budgets-calendar">
  <div class="row">
    <div class="columns large-2 large-offset-1 text-center">
      <p><strong><%= t('budgets.fases.fase_1')%></strong></p>
      <p><%= t('budgets.fases.fase_1_subtitle')%></p>
    </div>
    <div class="columns large-2 text-center">
      <p><strong><%= t('budgets.fases.fase_2')%></strong></p>
      <p><%= t('budgets.fases.fase_2_subtitle')%></p>
    </div>
    <div class="columns large-2 text-center">
      <p><strong><%= t('budgets.fases.fase_3')%></strong></p>
      <p><%= t('budgets.fases.fase_3_subtitle')%></p>
    </div>
    <div class="columns large-2 text-center">
      <p><strong><%= t('budgets.fases.fase_4')%></strong></p>
      <p><%= t('budgets.fases.fase_4_subtitle')%></p>
    </div>
    <div class="columns large-2 end text-center">
      <p><strong><%= t('budgets.fases.fase_5')%></strong></p>
      <p><%= t('budgets.fases.fase_5_subtitle')%></p>
    </div>
  </div>
</div>

<div class="row margin">
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="small-12 large-5 columns">
    <h3><%= t('budgets.fases.fase_1_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_1_timeline_body') %></p>
  </div>
</div>
<div class="row margin">
  <div class="small-12 large-5 columns text-right">
    <h3><%= t('budgets.fases.fase_2_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_2_timeline_body') %></p>
  </div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
</div>

<div class="row margin">
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="small-12 large-5 columns">
    <h3><%= t('budgets.fases.fase_3_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_3_timeline_body') %></p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 large-5 columns text-right">
    <h3><%= t('budgets.fases.fase_4_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_4_timeline_body') %></p>
  </div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
</div>

<div class="row margin">
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="small-12 large-5 columns">
    <h3><%= t('budgets.fases.fase_5_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_5_timeline_body') %></p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 large-5 columns text-right">
    <h3><%= t('budgets.fases.fase_6_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_6_timeline_body') %></p>
  </div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
</div>

<div class="row margin-top">
    <div class="small-12 medium-9 column">
      <ul class="no-bullet submenu">
        <li class="inline-block">
          <%= link_to "#other_budgets", class: "active" do %>
            <h2>
              <%= t("budgets.index.finished_budgets") %>
            </h2>
          <% end %>
        </li>
      </ul>

      <div class="budget-investments-list">
        <% @finished_budgets.each do |budget| %>
          <% if budget_published?(budget) %>
            <div class="budget-investment clear">
              <div class="panel past-budgets">
                <div class="row" data-equalizer data-equalizer-on="medium">
                  <div class="small-12 medium-8 column table" data-equalizer-watch>
                    <div class="table-cell align-middle">
                      <h3><%= budget.name %></h3>
                    </div>
                  </div>
                  <div class="small-12 medium-4 column table" data-equalizer-watch>
                    <div id="budget_<%= budget.id %>_results" class="table-cell align-middle">
                      <%= link_to t("budgets.index.see_results"),
                                  budget_results_path(budget.id),
                                  class: "button" %>
                      <%= link_to t("budgets.index.milestones"),
                                  budget_executions_path(budget.id),
                                  class: "button" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
