<div class="expanded budget no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('budgets.index.title') %></h1>
    </div>
  </div>
</div>

<div class="row margin">
  <div class="large-8 small-12 column">
      <% if @budget.present? %>
        <%= markdown t('budgets.header_body_principal_1', amount: @budget.total_amount) %>

        <%= link_to t('budgets.button_text'), budget_path(@budget), class: "button" %>
      <% elsif @last_budget.present? %>
        <%= link_to "#{t('results.button_title')} #{@last_budget.name}", budget_results_path(@last_budget), class: "button" %>
      <% end %>

      <%= markdown t('budgets.header_body_principal_2') %>
  </div>

  <div class="large-4 small-12 column">
      <%= markdown t('budgets.header_body_secondary') %>
  </div>

</div>

<div class="budgets-calendar">
  <div class="row">
    <div class="small-6 large-3 column text-center">
      <p><strong><%= t('budgets.fases.fase_1')%></strong></p>
      <p><%= t('budgets.fases.fase_1_subtitle')%></p>
    </div>
    <div class="small-6 large-3 column text-center">
      <p><strong><%= t('budgets.fases.fase_2')%></strong></p>
      <p><%= t('budgets.fases.fase_2_subtitle')%></p>
    </div>
    <div class="small-6 large-3 column text-center">
      <p><strong><%= t('budgets.fases.fase_3')%></strong></p>
      <p><%= t('budgets.fases.fase_3_subtitle')%></p>
    </div>
    <div class="small-6 large-3 column text-center">
      <p><strong><%= t('budgets.fases.fase_4')%></strong></p>
      <p><%= t('budgets.fases.fase_4_subtitle')%></p>
    </div>
  </div>
</div>

<div class="row margin">
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="small-12 large-5 columns">
    <h3><%= t('budgets.fases.fase_1_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_1_timeline_body') %></p>
  </div>
</div>
<div class="row margin">
  <div class="small-12 large-5 columns text-right">
    <h3><%= t('budgets.fases.fase_2_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_2_timeline_body') %></p>
  </div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
</div>
<div class="row margin">
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="small-12 large-5 columns">
    <h3><%= t('budgets.fases.fase_3_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_3_timeline_body') %></p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 large-5 columns text-right">
    <h3><%= t('budgets.fases.fase_4_timeline_title') %></h3>
    <p><%= markdown t('budgets.fases.fase_4_timeline_body') %></p>
  </div>
  <div class="hide-for-small-only large-2 columns text-center"><div class="circulo"></div></div>
  <div class="hide-for-small-only large-5 columns text-right">&nbsp;</div>
</div>

<div class="row margin-top">
    <div class="small-12 medium-9 column">
      <ul class="no-bullet submenu">
        <li class="inline-block">
          <%= link_to "#other_budgets", class: "active" do %>
            <h2>
              <%= t("budgets.index.finished_budgets") %>
            </h2>
          <% end %>
        </li>
      </ul>

      <div class="budget-investments-list">
        <% @budgets.each do |budget| %>
          <% if budget_published?(budget) %>
            <div class="budget-investment clear">
              <div class="panel past-budgets">
                <div class="row" data-equalizer data-equalizer-on="medium">
                  <div class="small-12 medium-9 column table" data-equalizer-watch>
                    <div class="table-cell align-middle">
                      <h3><%= budget.name %></h3>
                    </div>
                  </div>
                  <div class="small-12 medium-3 column table" data-equalizer-watch>
                    <div class="table-cell align-middle">
                      <%= link_to t("budgets.index.see_results"),
                                  budget_results_path(budget.id),
                                  class: "button expanded" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
