<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :title do %><%= t('budgets.index.title') %><% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<% if current_budget.present? %>
  <div id="budget_heading" class="expanded budget no-margin-top">
    <div class="row" data-equalizer data-equalizer-on="medium">
      <div class="small-12 medium-9 column padding" data-equalizer-watch>

          <h1><%= current_budget.name %></h1>
          <div class="description">
            <p><a href="https://participa.diputaciondevalladolid.es/users/sign_up"><strong style="font-size: 34px;">¡REGÍSTRATE!</strong></a> Para poder votar las propuestas en septiembre</p>
           <%= auto_link_already_sanitized_html wysiwyg(current_budget.description) %>
            
          </div>
          <!-- p>
            <%=  link_to 'Presupuestos Provinciales 2019 (documento descargable)', asset_path('/docs/Folleto_Presupuestos_Participativos_2019.pdf')  %>
          </p -->

          <!--<p>
            <%= link_to t("budgets.index.section_header.help"), "#section_help" %>
          </p>-->
        </div>
        <div class="small-12 medium-3 column info padding" data-equalizer-watch>
          <p>
            <strong><%= t("budgets.show.phase") %></strong>
          </p>
          <h2><%= t("budgets.phase.#{current_budget.phase}") %></h2>

          <%= link_to t("budgets.index.section_header.all_phases"), "#all_phases" %>

          <% if current_budget.accepting? %>
            <% if current_user %>
              <% if current_user.level_two_or_three_verified? %>
                <%= link_to t("budgets.investments.index.sidebar.create"),
                            new_budget_investment_path(current_budget),
                            class: "button margin-top expanded" %>
              <% else %>
                <div class="callout warning margin-top">
                  <%= sanitize(t("budgets.investments.index.sidebar.verified_only",
                                verify: link_to_verify_account)) %>
                </div>
              <% end %>
            <% else %>
              <div class="callout primary margin-top">
                <%= sanitize(t("budgets.investments.index.sidebar.not_logged_in",
                               sign_in: link_to_signin, sign_up: link_to_signup)) %>
              </div>
            <% end %>
          <% end %>

        <% if current_budget.finished? %>
          <%= link_to t("budgets.show.see_results"),
                      budget_results_path(current_budget, heading_id: current_budget.headings.first),
                      class: "button margin-top expanded" %>
        <% end %>
      </div>
    </div>
  </div>

<!--Buscador autofill-->
<iframe src="https://player.vimeo.com/video/521820196?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" max-width="426" height="240" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen title="V&amp;iacute;deo presentaci&amp;oacute;n Presupuestos Participativos ‐ Made with Clipchamp (1).mp4"></iframe>  <div id="budget_info" class="budget-info">
    <div class="row margin-top">
      <!--BUSCADOR-->
 	<style>
		.datos{
			display:block;
			margin-left:auto;
			margin-right:auto;
			width: 900px;
		}
		.datos table{
			width:100%;
			text-align:center
		}
		#textoInformativo{
			background-color:#97BF0D;
			color:black;
			display:inline-block;
			text-align:Center;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		#textoInformativo2{
			background-color:#97BF0D;
			color:black;
			display:none;
			text-align:Center;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		.datos tr{
			display:none;
		}
		.datos tr:nth-child(1){
			display:table-row;
		}
		.datos td,.datos th{
			border-bottom:solid 1px #000;
			padding: 15px;
			  padding: 20px;
			width: 20%;
			font-weight:bolder
		}
		#textoBusqueda{
			font-size:16px;
			font-weight:bolder;
			text-align:center
		}
		#entradaDatos[type=text] {
		  background-color: lightgrey;
		  color: black!important;
		  box-shadow:0px 0px 5px black;
		  -moz-box-shadow:0px 0px 5px black;
		  -o-box-shadow:0px 0px 5px black;
		  -webkit-box-shadow:0px 0px 5px black;
		  border-radius:15px;
		  -moz-border-radius:15px;
		  -o-border-radius:15px;
		  -webkit-border-radius:15px;
		  padding:10px;
		  text-align:center;
		  width:300px;
		  min-width:250px;
		  max-width:350px;
		      display: block;
    margin-left: auto;
    margin-right: auto;
		  
		}
		#entradaDatos:placeholder { color: black; }
	</style>
	 

<div class="row">
	<p style="text-align:center;font-size:20px;margin-top:20px;font-weight:bolder">
		CONOCE YA DÓNDE PODRÁS VOTAR LOS PRESUPUESTOS PARTICIPATIVOS
	</p>
	<p style="text-align:center">
		Del 1 al 15 de septiembre podrás votar por los proyectos que más te gusten. Podrás hacerlo a través de esta web, pero también presencialmente si lo prefieres, habrá urnas en 227 localidades. ¡Consulta aquí los horarios y lugares de votación!

		Puedes consultar aquí el listado completo de puntos de votación (PDF, Excel).

		Introduce en el recuadro el nombre del municipio o localidad que te interesa.
	</p>
		
	<p  id="textoBusqueda"><span>Para consultar el día, el horario y la localización para ejercer su derecho al voto introduzca el nombre de su municipio en el recuadro que encontrarás a continuación</span></p>
	 <p style="text-align:center"><input placeholder="Introduzca el municipio.." id="entradaDatos" type="text" onkeyup="myFunction"></p>
	<div class="datos">
		<table>
			<tr><th>MUNICIPIO</th><th>ZONA</th><th>DIA</th><th>HORARIO</th><th>LUGAR DE VOTACIÓN</th></tr>
			<tr><td>Aguasal</td><td>SUR</td><td>02/09/2021</td><td>12:45 - 13:45</td><td>C/ Olmedo, 15</td></tr>
			<tr><td>Alaejos	</td><td>SUR</td><td>	09/09/2021</td><td>	10:30 - 13:30</td><td>Pza. Mayor</td></tr>
			<tr><td>Alcazarén	</td><td>SUR</td><td>	14/09/2021</td><td>	11:30 - 13:30</td><td>Pza. Mayor</td></tr>
			<tr><td>Aldea de San Miguel	</td><td>SUR</td><td>	09/09/2021</td><td>	14:00 - 15:00</td><td>Pza. Mayor</td></tr>
			<tr><td>Aldeamayor de San Martín	</td><td>SUR</td><td>	03/09/ y 04/09/2021</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. Mayor y Avda. Valladolid, 13-15 (espacio joven/centro de día)</td></tr>
			<tr><td> Almenara de Adaja</td><td>	SUR</td><td>	01/09/2021</td><td>	11:30 - 12:30</td><td>Pza. Mayor</td></tr>
			<tr><td> Ataquines</td><td>	SUR</td><td>	06/09/2021</td><td>	10:00 - 12:00</td><td>Pza. Mayor</td></tr>
			<tr><td> Bobadilla del Campo</td><td>	SUR</td><td>	07/09/2021</td><td>	14:00 - 15:00</td><td>Pza. Mayor</td></tr>
			<tr><td> Bocigas</td><td>	SUR</td><td>	01/09/2021</td><td>	12:45 - 13:45</td><td>Pza. Mayor</td></tr>
			<tr><td> Boecillo</td><td>	SUR</td><td>	05/09/2021</td><td>	10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. Condes de Gamazo y C/ Germán Gamazo y Calvo (Centro cívico)</td></tr>
			<tr><td> Brahojos de Medina</td><td>	SUR</td><td>	13/09/2021</td><td>	11:15 - 12:15</td><td>Pza. Mayor</td></tr>
			<tr><td> Campillo, El</td><td>	SUR</td><td>	13/09/2021</td><td>	12:30 - 13:30</td><td>Pza. España</td></tr>
			<tr><td> Carpio</td><td>	SUR</td><td>	13/09/2021</td><td>	16:30 - 18:30</td><td>C/ Ayuntamiento, 1</td></tr>
			<tr><td> Castrejón de Trabancos</td><td>	SUR</td><td>	15/09/2021</td><td>	11:45 - 12:45</td><td>Pza. Mayor</td></tr>
			<tr><td> Castronuño</td><td>	SUR</td><td>	01/09/2021</td><td>	10:30 - 12:30</td><td>C/ Real, 80</td></tr>
			<tr><td> Cervillego de la Cruz</td><td>	SUR</td><td>	07/09/2021	</td><td>12:45 - 13:45</td><td>C/ Toribio Fraile</td></tr>
			<tr><td> Cogeces de Íscar</td><td>	SUR</td><td>	09/09/2021	</td><td>12:45 - 13:45</td><td>Pza. Mayor</td></tr>
			<tr><td> Fresno el Viejo</td><td>	SUR</td><td>	09/09/2021	</td><td>16:30 - 18:30</td><td>Pza. España</td></tr>
			<tr><td> Fuente el Sol</td><td>	SUR</td><td>	07/09/2021	</td><td>11:30 - 12:30</td><td>Pza. principal del municipio</td></tr>
			<tr><td> Fuente-Olmedo</td><td>	SUR</td><td>	02/09/2021	</td><td>10:15 - 11:15</td><td>Pza. Mayor</td></tr>
			<tr><td> Hornillos de Eresma</td><td>	SUR</td><td>	14/09/2021	</td><td>13:45 - 14:45</td><td>Pza. Mayor</td></tr>
			<tr><td> Íscar	</td><td>SUR</td><td>	08/09 Y 12/09/2021	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. Mayor y Pza del Mayo (sólo día 8, mercadillo) o C/ Real (sólo día 12, Iglesia Santa María)</td></tr>
			<tr><td> Llano de Olmedo	</td><td>SUR</td><td>	02/09/2021	</td><td>11:30 - 12:30</td><td>Pza. Mayor</td></tr>
			<tr><td> Lomoviejo	</td><td>SUR</td><td>	10/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Mayor</td></tr>
			<tr><td> Matapozuelos	</td><td>SUR</td><td>	10/09/2021	</td><td>12:00 - 15:00</td><td>Pza. Mayor</td></tr>
			<tr><td> Megeces	</td><td>SUR</td><td>	14/09/2021	</td><td>10:00 - 11:00</td><td>Pza. Mayor</td></tr>
			<tr><td> Mojados	</td><td>SUR</td><td>	02/09/2021	</td><td>10:30 - 14:30</td><td>Pza. de Santa María</td></tr>
			<tr><td> Moraleja de las Panaderas	</td><td>SUR</td><td>	03/09/2021	</td><td>10:00 - 11:00</td><td>C/ de la Iglesia
</td></tr>
			<tr><td> Muriel de Zapardiel	</td><td>SUR</td><td>	10/09/2021	</td><td>12:15 - 13:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Nava del Rey	</td><td>SUR</td><td>	13/09/2021	</td><td>10:30 - 13:30</td><td>Pza. España
</td></tr>
			<tr><td> Nueva Villa de las Torres</td><td>	SUR</td><td>		13/09/2021</td><td>	13:45 - 14:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Olmedo	</td><td>SUR</td><td>		11/09/2021</td><td>	10:30 - 14:30</td><td>Pza. Santa María
</td></tr>
			<tr><td> Pedraja de Portillo, La</td><td>	SUR</td><td>		15/09/2021</td><td>	10:30 - 13:30</td><td>Pza. Castilla
</td></tr>
			<tr><td> Pedrajas de San Esteban</td><td>	SUR</td><td>		07/09/2021</td><td>	10:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Pollos	</td><td>SUR</td><td>		01/09/2021</td><td>	13:00 - 15:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Portillo</td><td>	SUR</td><td>		14/09/2021</td><td>	10:30 - 14:30</td><td>Pza. San Juan Evangelista
</td></tr>
			<tr><td> Pozal de Gallinas</td><td>	SUR</td><td>		03/09/2021</td><td>	11:30 - 13:30</td><td>C/ Real
</td></tr>
			<tr><td> Pozaldez</td><td>	SUR</td><td>		03/09/2021</td><td>	14:00 - 15:00</td><td>C/ González Iscar
</td></tr>
			<tr><td> Puras	</td><td>SUR</td><td>		01/09/2021</td><td>	10:15 - 11:15</td><td>C/ El Olmo, s/n
</td></tr>
			<tr><td> Ramiro</td><td>	SUR</td><td>		06/09/2021</td><td>	12:15 - 13:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Rubí de Bracamonte</td><td>	SUR</td><td>		07/09/2021</td><td>	10:15 - 11:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Rueda	</td><td>SUR</td><td>		10/09/2021</td><td>	10:30 - 13:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Rueda (FONCASTÍN)</td><td>	SUR</td><td>		01/09/2021</td><td>	14:00 - 15:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Rueda (TORRECILLA DEL VALLE)</td><td>	SUR	</td><td>01/09/2021</td><td>	13:15 - 13:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Salvador de Zapardiel</td><td>	SUR	</td><td>10/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> San Miguel del Arroyo</td><td>	SUR	</td><td>09/09/2021	</td><td>11:00 - 12:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> San Miguel del Arroyo (SANTIAGO DEL ARROYO)	</td><td>SUR	</td><td>09/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> San Pablo de la Moraleja</td><td>	SUR</td><td>	10/09/2021	</td><td>13:45 - 14:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Seca, La	</td><td>SUR	</td><td>10/09/2021	</td><td>16:30 - 19:30</td><td>Pza. España
</td></tr>
			<tr><td> Serrada	</td><td>SUR	</td><td>02/09/2021	</td><td>16:30 - 19:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Siete Iglesias de Trabancos	</td><td>SUR	</td><td>01/09/2021	</td><td>11:45 - 12:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Torrecilla de la Orden	</td><td>SUR	</td><td>15/09/2021	</td><td>10:15 - 11:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Valdestillas	</td><td>SUR	</td><td>10/09/2021	</td><td>16:30 - 19:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Velascálvaro	</td><td>SUR</td><td>	13/09/2021	</td><td>10:00 - 11:00</td><td>Pza. Castilla
</td></tr>
			<tr><td> Ventosa de la Cuesta	</td><td>SUR	</td><td>10/09/2021	</td><td>10:30 - 11:30</td><td>Pza. Gamazo
</td></tr>
			<tr><td> Viana de Cega	</td><td>SUR	</td><td>02/09/2021	</td><td>16:30 - 19:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villafranca de Duero	</td><td>SUR	</td><td>01/09/2021	</td><td>10:15 - 11:15</td><td>Pza. de Castilla y León
</td></tr>
			<tr><td> Villanueva de Duero	</td><td>SUR	</td><td>02/09/2021	</td><td>10:30 - 13:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villaverde de Medina	</td><td>SUR	</td><td>15/09/2021	</td><td>13:15 - 14:45</td><td>Pza. de la Concordia, 1
</td></tr>
			<tr><td> Zarza, La	</td><td>SUR	</td><td>06/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Adalia	</td><td>NORTE	</td><td>09/09/2021	</td><td>09:45 - 10:15</td><td>Pza. Antonio Rodríguez Calvo, 1
</td></tr>
			<tr><td> Aguilar de Campos	</td><td>NORTE	</td><td>13/09/2021	</td><td>12:15 - 13:15</td><td>C/ Derecha, 13
</td></tr>
			<tr><td> Barcial de la Loma	</td><td>NORTE	</td><td>10/09/2021	</td><td>09:30 - 10:30</td><td>Pza. Doctor Lebrero
</td></tr>
			<tr><td> Barruelo del Valle	</td><td>NORTE	</td><td>09/09/2021	</td><td>13:45 - 14:15</td><td>Pza. de la Constitución
</td></tr>
			<tr><td> Becilla de Valderaduey	</td><td>NORTE	</td><td>09/09/2021	</td><td>12:15 - 13:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Benafarces	</td><td>NORTE	</td><td>13/09/2021	</td><td>14:00 - 15:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Bercero	</td><td>NORTE	</td><td>03/09/2021	</td><td>09:45 - 10:45</td><td>C/ Real de Santa María, 9
</td></tr>
			<tr><td> Berceruelo	</td><td>NORTE	</td><td>03/09/2021	</td><td>11:15 - 11:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Berrueces	</td><td>NORTE	</td><td>14/09/2021	</td><td>09:30 - 10:30</td><td>Pza. Capitán Pérez Revuelta
</td></tr>
			<tr><td> Bolaños de Campos	</td><td>NORTE	</td><td>10/09/2021	</td><td>10:45 - 11:45</td><td>Pza. del Ayuntamiento
</td></tr>
			<tr><td> Bustillo de Chaves	</td><td>NORTE	</td><td>06/09/2021	</td><td>11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Bustillo de Chaves (GORDALIZA DE LA LOMA)</td><td>	NORTE</td><td>	06/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Cabezón de Valderaduey	</td><td>NORTE</td><td>	03/09/2021	</td><td>10:45 - 11:45</td><td>C/ Tejar, 1
</td></tr>
			<tr><td> Cabreros del Monte	</td><td>NORTE</td><td>	04/09/2021	</td><td>10:30 - 11:30</td><td>C/ Concejo, 1
</td></tr>
			<tr><td> Casasola de Arión</td><td>	NORTE</td><td>	07/09/2021	</td><td>11:15 - 12:15</td><td>Pza. España
</td></tr>
			<tr><td> Castrobol</td><td>	NORTE	</td><td>03/09/2021	</td><td>13:15 - 14:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Castrodeza	</td><td>NORTE	</td><td>01/09/2021	</td><td>12:45 - 13:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Castromembibre	</td><td>NORTE	</td><td>13/09/2021	</td><td>11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Castromonte	</td><td>NORTE	</td><td>09/09/2021	</td><td>12:00 - 13:00</td><td>Pza. Constitución
</td></tr>
			<tr><td> Castromonte LA SANTA ESPINA	</td><td>NORTE</td><td>	09/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Castroponce	</td><td>NORTE	</td><td>09/09/2021</td><td>	10:45 - 11:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Ceinos de Campos	</td><td>NORTE</td><td>	13/09/2021</td><td>	13:30 - 14:30</td><td>C/ Real, 13
</td></tr>
			<tr><td> Cigales	</td><td>NORTE	</td><td>08/09 Y 14/09/2021	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza Ayuntamiento y C/ Lagunajo (Iglesia de Santiago)
</td></tr>
			<tr><td> Ciguñuela	</td><td>NORTE	</td><td>06/09/2021</td><td>	09:45 - 10:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Corcos	</td><td>NORTE	</td><td>02/09/2021	</td><td>09:45 - 10:45</td><td>Pza. del Cristo
</td></tr>
			<tr><td> Cubillas de Santa Marta	</td><td>NORTE	</td><td>02/09/2021	</td><td>12:45 - 13:45</td><td>Pza Villa del Prado
</td></tr>
			<tr><td> Cuenca de Campos	</td><td>NORTE	</td><td>14/09/2021	</td><td>13:45 - 14:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Fontihoyuelo	</td><td>NORTE	</td><td>02/09/2021	</td><td>09:30 - 10:30</td><td>C/ Real de Villalón, 16
</td></tr>
			<tr><td> Fuensaldaña	</td><td>NORTE</td><td>	04/09/2021</td><td>	10:30 - 13:30</td><td>C/ del Agua, 20
</td></tr>
			<tr><td> Gallegos de Hornija	</td><td>NORTE</td><td>	15/09/2021</td><td>	13:45 - 14:45</td><td>Pza. Mayor, 2
</td></tr>
			<tr><td> Gatón de Campos	</td><td>NORTE	</td><td>15/09/2021	</td><td>12:00 - 13:00</td><td>Pza. de Ruiz Ocaña
</td></tr>
			<tr><td> Geria	</td><td>NORTE</td><td>	09/09/2021</td><td>	16:30 - 18:30</td><td>C/ González de la Mata, 4
</td></tr>
			<tr><td> Herrín de Campos</td><td>	NORTE	</td><td>06/09/2021</td><td>	09:30 - 10:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Marzales	</td><td>NORTE</td><td>	15/09/2021	</td><td>11:15 - 11:45</td><td>C/ Principal
</td></tr>
			<tr><td> Matilla de los Caños</td><td>	NORTE	</td><td>03/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Mayorga	</td><td>NORTE	</td><td>10/09/2021</td><td>	10:30 - 13:30</td><td>Pza. España
</td></tr>
			<tr><td> Medina de Rioseco</td><td>	NORTE	</td><td>01/09 Y 15/09/2021	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>C/ Fuera Villa (cerca chiringuito Parque Duque de Osuna) y Pza. Santo Domingo (del lado de la C/ Lázaro Alonso)
</td></tr>
			<tr><td> Melgar de Abajo</td><td>	NORTE	</td><td>01/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Melgar de Arriba	</td><td>NORTE	</td><td>01/09/2021	</td><td>09:30 - 10:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Monasterio de Vega	</td><td>NORTE	</td><td>01/09/2021	</td><td>12:30 - 13:30</td><td>C/ Mayor, 4
</td></tr>
			<tr><td> Montealegre de Campos</td><td>	NORTE</td><td>	03/09/2021</td><td>	16:30 - 17:30</td><td>C/ Nicolás Rodríguez
</td></tr>
			<tr><td> Moral de la Reina	</td><td>NORTE	</td><td>14/09/2021	</td><td>12:30 - 13:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Morales de Campos</td><td>	NORTE</td><td>	10/09/2021	</td><td>19:30 - 20:30</td><td>Pza. de la Concordia, 1
</td></tr>
			<tr><td> Mota del Marqués</td><td>	NORTE	</td><td>07/09/2021</td><td>	14:00 - 15:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Mucientes</td><td>	NORTE</td><td>	04/09/2021</td><td>	16:30 - 18:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Mudarra, La	</td><td>NORTE	</td><td>03/09/2021	</td><td>12:00 - 13:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Palazuelo de Vedija	</td><td>NORTE</td><td>	13/09/2021</td><td>	09:30 - 10:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Pedrosa del Rey	</td><td>NORTE	</td><td>07/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Juan Carlos I
</td></tr>
			<tr><td> Peñaflor de Hornija	</td><td>NORTE</td><td>	01/09/2021</td><td>	11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Pozuelo de la Orden</td><td>	NORTE	</td><td>04/09/2021</td><td>	12:00 - 13:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Quintanilla de Trigueros</td><td>	NORTE	</td><td>02/09/2021	</td><td>14:00 - 15:00</td><td>C/ Carnicerías, 4
</td></tr>
			<tr><td> Quintanilla del Molar</td><td>	NORTE</td><td>	07/09/2021</td><td>	11:00 - 12:00</td><td>Crta. Palencia, 3
</td></tr>
			<tr><td> Roales de Campos</td><td>	NORTE	</td><td>07/09/2021	</td><td>09:30 - 10:30</td><td>Pza. del Ayuntamiento
</td></tr>
			<tr><td> Robladillo	</td><td>NORTE	</td><td>06/09/2021</td><td>	11:00 - 11:30</td><td>C/ Los Arcos, 7
</td></tr>
			<tr><td> San Cebrián de Mazote</td><td>	NORTE	</td><td>09/09/2021</td><td>	14:15 - 15:15</td><td>Pza. Concejo
</td></tr>
			<tr><td> San Miguel del Pino</td><td>	NORTE	</td><td>10/09/2021	</td><td>13:00 - 14:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> San Pedro de Latarce</td><td>	NORTE</td><td>	03/09/2021	</td><td>16:30 - 17:30</td><td>Pza. Santiago Alba
</td></tr>
			<tr><td> San Pelayo</td><td>	NORTE	</td><td>09/09/2021	</td><td>12:15 - 12:45</td><td>Pza. Constitución
</td></tr>
			<tr><td> San Román de Hornija	</td><td>NORTE</td><td>	10/09/2021</td><td>	09:45 - 10:45</td><td>Pza. Constitución
</td></tr>
			<tr><td> San Salvador	</td><td>NORTE	</td><td>14/09/2021	</td><td>11:15 - 12:15</td><td>Pza. del Castillo, s/n
</td></tr>
			<tr><td> Santa Eufemia del Arroyo</td><td>	NORTE	</td><td>10/09/2021	</td><td>16:30 - 17:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Santervás de Campos	</td><td>NORTE	</td><td>02/09/2021	</td><td>12:00 - 13:00</td><td>Pza. Ponce de León
</td></tr>
			<tr><td> Simancas	</td><td>NORTE</td><td>	06/09/ Y 13/09/2021	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. del Ayuntamiento y C/ Miravete (explanada del archivo junto a oficina de turismo)
</td></tr>
			<tr><td> Tamariz de Campos	</td><td>NORTE	</td><td>15/09/2021	</td><td>09:30 - 10:30</td><td>Pza. de San Pedro
</td></tr>
			<tr><td> Tiedra	</td><td>NORTE	</td><td>13/09/2021	</td><td>12:30 - 13:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Tordehumos	</td><td>NORTE	</td><td>04/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Tordesillas	</td><td>NORTE	</td><td>07/09 Y 12/09/2021</td><td>	10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. Mayor (horario a partir de 12:00 horas, antes están en pedanías) y Pza. Pepe Zorita (Foraño)
</td></tr>
			<tr><td> Tordesillas VILLAMARCIEL	</td><td>NORTE</td><td>	07/09/2021	</td><td>10:30 - 11:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Torrecilla de la Abadesa	</td><td>NORTE</td><td>	10/09/2021	</td><td>11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Torrecilla de la Torre	</td><td>NORTE</td><td>	09/09/2021	</td><td>10:45 - 11:15</td><td>C/ La Iglesia, 4
</td></tr>
			<tr><td> Torrelobatón	</td><td>NORTE	</td><td>14/09/2021	</td><td>12:45 - 13:45</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Trigueros del Valle</td><td>	NORTE	</td><td>02/09/2021	</td><td>11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Unión de Campos, La	</td><td>NORTE</td><td>	07/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Urones de Castroponce</td><td>	NORTE	</td><td>09/09/2021	</td><td>13:30 - 14:30</td><td>Pza. del Consistorio
</td></tr>
			<tr><td> Tordesillas VILLAVIEJA DEL CERRO</td><td>	NORTE	</td><td>12/09/2021</td><td>	10:30 - 11:30</td><td>C/ Corro Iglesia (parada autobús)
</td></tr>
			<tr><td> Urueña</td><td>	NORTE</td><td>	11/09/2021</td><td>	19:30 - 20:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Valdenebro de los Valles	</td><td>NORTE	</td><td>03/09/2021	</td><td>10:30 - 11:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Valdunquillo</td><td>	NORTE</td><td>	07/09/2021	</td><td>12:15 - 13:15</td><td>Pza. del Doctor Bárcena
</td></tr>
			<tr><td> Vega de Ruiponce	</td><td>NORTE	</td><td>02/09/2021	</td><td>13:15 - 14:15</td><td>C/ Mayor, 31
</td></tr>
			<tr><td> Vega de Valdetronco	</td><td>NORTE</td><td>	15/09/2021	</td><td>12:15 - 13:15</td><td>Pza. Cruz de Hierro, 1
</td></tr>
			<tr><td> Velilla</td><td>	NORTE	</td><td>03/09/2021	</td><td>12:15 - 13:15</td><td>C/ La Iglesia, 3
</td></tr>
			<tr><td> Velliza	</td><td>NORTE	</td><td>06/09/2021	</td><td>14:00 - 15:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villabaruz de Campos</td><td>	NORTE	</td><td>15/09/2021	</td><td>10:45 - 11:45</td><td>Pza. Marqués de Estella
</td></tr>
			<tr><td> Villabrágima	</td><td>NORTE</td><td>	03/09/2021	</td><td>10:30 - 13:30</td><td>C/ Nueva del Palacio, 5
</td></tr>
			<tr><td> Villacarralón	</td><td>NORTE</td><td>	02/09/2021</td><td>	10:45 - 11:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villacid de Campos	</td><td>NORTE</td><td>	09/09/2021	</td><td>09:30 - 10:30</td><td>Pza. V Centenario
</td></tr>
			<tr><td> Villafrades de Campos	</td><td>NORTE	</td><td>15/09/2021	</td><td>13:15 - 14:15</td><td>C/ Las Escuelas, 6
</td></tr>
			<tr><td> Villafrechós	</td><td>NORTE	</td><td>10/09/2021	</td><td>18:00 - 19:00</td><td>C/ Alejandro Nájera, 26
</td></tr>
			<tr><td> Villagarcía de Campos</td><td>	NORTE	</td><td>11/09/2021	</td><td>18:00 - 19:00</td><td>C/ Juan de Austria, 21
</td></tr>
			<tr><td> Villagómez la Nueva	</td><td>NORTE</td><td>	03/09/2021</td><td>	09:30 - 10:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villalán de Campos	</td><td>NORTE	</td><td>10/09/2021	</td><td>12:15 - 13:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villalar de los Comuneros	</td><td>NORTE	</td><td>15/09/2021	</td><td>09:45 - 10:45</td><td>Pza. España, 1
</td></tr>
			<tr><td> Villalba de la Loma</td><td>	NORTE	</td><td>03/09/2021	</td><td>12:00 - 13:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villalba de los Alcores</td><td>	NORTE</td><td>	03/09/2021	</td><td>18:00 - 19:00</td><td>C/ Mayor, 4
</td></tr>
			<tr><td> Villalbarba	</td><td>NORTE	</td><td>07/09/2021	</td><td>12:45 - 13:45</td><td>Pza. Pérez Andújar
</td></tr>
			<tr><td> Villalón de Campos	</td><td>NORTE	</td><td>11/09/2021	</td><td>10:30 - 13:30</td><td>Pza. Rollo
</td></tr>
			<tr><td> Villamuriel de Campos</td><td>	NORTE</td><td>	13/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villán de Tordesillas	</td><td>NORTE	</td><td>06/09/2021	</td><td>12:15 - 13:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villanubla</td><td>	NORTE</td><td>	09/09/2021	</td><td>10:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villanueva de la Condesa	</td><td>NORTE	</td><td>06/09/2021	</td><td>12:30 - 13:30</td><td>LugarPza. Hipólito Cabreros
DeVotacion</td></tr>
			<tr><td> Villanueva de los Caballeros	</td><td>NORTE	</td><td>11/09/2021</td><td>	16:30 - 17:30</td><td>Pza. Consistorial
</td></tr>
			<tr><td> Villanueva de San Mancio	</td><td>NORTE	</td><td>14/09/2021	</td><td>11:15 - 12:15</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villardefrades	</td><td>NORTE</td><td>	03/09/2021	</td><td>18:00 - 19:00</td><td>C/ Portugalete, s/n
</td></tr>
			<tr><td> Villasexmir	</td><td>NORTE	</td><td>14/09/2021</td><td>	09:45 - 10:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villavellid	</td><td>NORTE	</td><td>13/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Mayor
</td></tr>
			<tr><td> Villavicencio de los Caballeros	</td><td>NORTE	</td><td>10/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Wamba	</td><td>NORTE	</td><td>01/09/2021	</td><td>09:30 - 10:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Zaratán	</td><td>NORTE</td><td>	02/09 Y 05/09/2021	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza  Ayuntamiento (Pza. de las Herrerías) y Pza. Mayor
</td></tr>
			<tr><td> Amusquillo	</td><td>ESTE	</td><td>09/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Bahabón	</td><td>ESTE	</td><td>15/09/2021</td><td>	09:45 - 10:45</td><td>C/ Eulogio Varela, s/n
</td></tr>
			<tr><td> Bocos de Duero</td><td>	ESTE	</td><td>01/09/2021</td><td>	13:30 - 14:30</td><td>C/ La Plaza, 26
</td></tr>
			<tr><td> Cabezón de Pisuerga	</td><td>ESTE	</td><td>05/09/2021</td><td>	10:30 - 14:30</td><td>Pza. de la Concordia, 1
</td></tr>
			<tr><td> Campaspero	</td><td>ESTE	</td><td>04/09/2021	</td><td>10:30 - 13:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Canalejas de Peñafiel</td><td>	ESTE</td><td>	13/09/2021</td><td>	12:15 - 13:15</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Canillas de Esgueva</td><td>	ESTE	</td><td>03/09/2021</td><td>	11:00 - 12:00</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Castrillo de Duero	</td><td>ESTE	</td><td>14/09/2021	</td><td>09:45 - 10:45</td><td>Pza. de la Constitución, 1
</td></tr>
			<tr><td> Castrillo-Tejeriego	</td><td>ESTE	</td><td>07/09/2021</td><td>	11:00 - 12:00</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Castronuevo de Esgueva	</td><td>ESTE</td><td>	10/09/2021</td><td>	13:30 - 14:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Castroverde de Cerrato</td><td>ESTE	</td><td>06/09/2021</td><td>12:15 - 13:15</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Cistérniga	</td><td>ESTE	</td><td>3/09 y 10/09</td><td>	10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. Mayor y Pza. de la Cruz
</td></tr>
			<tr><td> Cogeces del Monte</td><td>	ESTE</td><td>	07/09/2021</td><td>	18:00 - 20:00</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Corrales de Duero	</td><td>ESTE	</td><td>01/09/2021	</td><td>11:00 - 12:00</td><td>C/ La Iglesia, 1
</td></tr>
			<tr><td> Curiel de Duero	</td><td>ESTE</td><td>	02/09/2021</td><td>	09:45 - 10:45</td><td>Pza. de la Constitución, 1
</td></tr>
			<tr><td> Encinas de Esgueva	</td><td>ESTE	</td><td>03/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Esguevillas de Esgueva</td><td>	ESTE</td><td>	09/09/2021</td><td>	09:45 - 10:45</td><td>C/ Ramón y Cajal, 4
</td></tr>
			<tr><td> Fombellida	</td><td>ESTE	</td><td>06/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Fompedraza</td><td>	ESTE</td><td>	13/09/2021</td><td>	13:30 - 14:30</td><td>C/ Rosario, 23
</td></tr>
			<tr><td> Langayo	</td><td>ESTE	</td><td>14/09/2021	</td><td>13:30 - 14:30</td><td>C/ Consistorio, 16
</td></tr>
			<tr><td> Manzanillo	</td><td>ESTE</td><td>	14/09/2021</td><td>	12:15 - 13:15</td><td>C/ Real, s/n
</td></tr>
			<tr><td> Montemayor de Pililla	</td><td>ESTE	</td><td>04/09/2021	</td><td>16:30 - 18:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Olivares de Duero</td><td>	ESTE</td><td>	02/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Olmos de Esgueva	</td><td>ESTE	</td><td>10/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Olmos de Peñafiel	</td><td>ESTE</td><td>	14/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Parrilla, La	</td><td>ESTE	</td><td>04/09/2021	</td><td>19:00 - 20:00</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Peñafiel	</td><td>ESTE</td><td>	01/09 y 09/09	</td><td>10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. España y Pza. Comuneros
</td></tr>
			<tr><td> Pesquera de Duero</td><td>	ESTE	</td><td>02/09/2021</td><td>	12:15 - 13:15</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Piña de Esgueva</td><td>	ESTE</td><td>	09/09/2021</td><td>	12:15 - 13:15</td><td>C/ Oscura, 1
</td></tr>
			<tr><td> Piñel de Abajo	</td><td>ESTE	</td><td>03/09/2021	</td><td>13:30 - 14:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Piñel de Arriba	</td><td>ESTE</td><td>	03/09/2021</td><td>	12:15 - 13:15</td><td>C/ Real, 6
</td></tr>
			<tr><td> Quintanilla de Arriba	</td><td>ESTE	</td><td>02/09/2021	</td><td>13:45 - 14:45</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Quintanilla de Onésimo	</td><td>ESTE	</td><td>02/09/2021	</td><td>10:30 - 13:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Rábano</td><td>	ESTE	</td><td>13/09/2021</td><td>	09:45 - 10:45</td><td>Pza. del Pardillo, 1
</td></tr>
			<tr><td> Renedo de Esgueva	</td><td>ESTE	</td><td>06/09/2021	</td><td>10:30 - 14:30</td><td>Pza. del Guindo, 1
</td></tr>
			<tr><td> Roturas	</td><td>ESTE</td><td>	02/09/2021</td><td>	11:00 - 12:00</td><td>C/ Mediodía, 1
</td></tr>
			<tr><td> San Llorente	</td><td>ESTE	</td><td>01/09/2021	</td><td>09:45 - 10:45</td><td>Pza. Socarrena, 6
</td></tr>
			<tr><td> San Martín de Valvení</td><td>	ESTE	</td><td>10/09/2021</td><td>	09:45 - 10:45</td><td>Pza. Mayor, s/n
</td></tr>
			<tr><td> Santibáñez de Valcorba	</td><td>ESTE	</td><td>07/09/2021	</td><td>16:30 - 17:30</td><td>C/ Real, 31
</td></tr>
			<tr><td> Santovenia de Pisuerga	</td><td>ESTE</td><td>	04/09/2021</td><td>	10:30 - 14:30</td><td>Pza. España, 1
</td></tr>
			<tr><td> Sardón de Duero	</td><td>ESTE</td><td>	06/09/2021	</td><td>17:00 - 19:00</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Torre de Esgueva	</td><td>ESTE</td><td>	06/09/2021	</td><td>11:00 - 12:00</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Torre de Peñafiel	</td><td>ESTE	</td><td>13/09/2021	</td><td>11:00 - 12:00</td><td>C/ Real, 1
</td></tr>
			<tr><td> Torrescárcela	</td><td>ESTE</td><td>	15/09/2021	</td><td>11:00 - 12:00</td><td>Pza. España, s/n
</td></tr>
			<tr><td> Torrescárcela (ALDEALBAR)</td><td>	ESTE</td><td>	15/09/2021</td><td>	12:15 - 13:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Traspinedo	</td><td>ESTE	</td><td>07/09/2021	</td><td>10:30 - 13:30</td><td>Pza. Mayor, 1
</td></tr>
			<tr><td> Tudela de Duero	</td><td>ESTE</td><td>	11/09 y 12/09</td><td>	10:30 - 15:00 y 16:30 - 20:00</td><td>Pza. España y Pza. Alcalde Pablo Arranz (Pza. Goya)
</td></tr>
			<tr><td> Tudela de Duero (HERRERA DE DUERO)</td><td>	ESTE</td><td>	12/09/2021</td><td>	10:30 - 12:30</td><td>Avda. de la Constitución, 1
</td></tr>
			<tr><td> Valbuena de Duero	</td><td>ESTE</td><td>	02/09/2021</td><td>	12:00 - 13:00</td><td>Pza. Mayor
</td></tr>
			<tr><td> Valbuena de Duero (SAN BERNARDO)	</td><td>ESTE	</td><td>02/09/2021	</td><td>10:30 - 11:30</td><td>Pza. Mayor
</td></tr>
			<tr><td> Valdearcos de la Vega	</td><td>ESTE</td><td>	01/09/2021</td><td>	12:15 - 13:15</td><td>Pza. de la Virgen de la Zarzuela, 1
</td></tr>
			<tr><td> Valoria la Buena	</td><td>ESTE	</td><td>04/09/2021	</td><td>17:00 - 19:00</td><td>Pza. de la Constitución, 1
</td></tr>
			<tr><td> Villabáñez	</td><td>ESTE</td><td>	07/09/2021</td><td>	13:30 - 14:30</td><td>C/ Hilario Vidarte, s/n
</td></tr>
			<tr><td> Villaco	</td><td>ESTE	</td><td>06/09/2021	</td><td>13:30 - 14:30</td><td>C/ Huertos, s/n
</td></tr>
			<tr><td> Villafuerte	</td><td>ESTE</td><td>	07/09/2021</td><td>	09:45 - 10:45</td><td>Pza. de la Torre, s/n
</td></tr>
			<tr><td> Villanueva de los Infantes	</td><td>ESTE	</td><td>09/09/2021</td><td>	13:30 - 14:30</td><td>Pza. Mayor, 3
</td></tr>
			<tr><td> Villarmentero de Esgueva</td><td>	ESTE	</td><td>10/09/2021</td><td>	12:15 - 13:15</td><td>C/ Consistorio, s/n
</td></tr>
			<tr><td> Villavaquerín	</td><td>ESTE	</td><td>07/09/2021	</td><td>12:15 - 13:15</td><td>Pza. de los Héroes, 1
</td></tr>
			<tr><td> Viloria	</td><td>ESTE	</td><td>15/09/2021	</td><td>13:00 - 14:00</td><td>C/ La Torre, 5
</td></tr>
		</table>
		<p id="textoInformativo">Escribe en el buscador el nombre tu municipio</p>
		<p id="textoInformativo2">No hay resultados para ese municipio <span id="textoEntradaDatos"></span></p>
	</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  


	for (let step = 2; step <= document.querySelectorAll(".datos tr").length; step++) {
	 if(document.querySelector(".datos tr:nth-child("+step+") td:nth-child(2)").innerText.trim()== "NORTE"){
		document.querySelector(".datos tr:nth-child("+step+"").style.backgroundColor="#80CEF4";
	 }else if(document.querySelector(".datos tr:nth-child("+step+") td:nth-child(2)").innerText.trim()== "SUR"){
		document.querySelector(".datos tr:nth-child("+step+"").style.backgroundColor="#95EF85";
	 }else if(document.querySelector(".datos tr:nth-child("+step+") td:nth-child(2)").innerText.trim()== "ESTE"){
		document.querySelector(".datos tr:nth-child("+step+"").style.backgroundColor="#DEB5D5";
	 }	 
	}
	
	document.getElementById("entradaDatos").onkeyup = function() {myFunction()};
	
function myFunction() {
	var name;
	var count=0;
		
		for (let step = 2; step <= document.querySelectorAll(".datos tr").length; step++) {		
			name= document.querySelector(".datos tr:nth-child("+step+") td:nth-child(1)").innerText.toLowerCase();		
						
			if(document.getElementById("entradaDatos").value.toLowerCase()==""){			
				//document.querySelectorAll(".datos tr").style.display="none";
				document.querySelectorAll(".datos tr").forEach(el => el.style.display="none");
				
				document.querySelector(".datos tr:nth-child(1)").style.display="table-row";
				document.getElementById("textoInformativo").style.display="block";
				document.getElementById("textoInformativo2").style.display="none";			
			}else{
			  document.getElementById("textoInformativo").style.display="none";
			  if(name.indexOf(document.getElementById("entradaDatos").value.toLowerCase())!= "-1"){				
				document.querySelector(".datos tr:nth-child("+step+")").style.display="table-row";
				count++;
			  }else{
				document.querySelector(".datos tr:nth-child("+step+")").style.display="none";			
			  }
			}	
		}
		if(count==0 && document.getElementById("entradaDatos").value.toLowerCase()!=""){
			document.getElementById("textoInformativo2").style.display="block";
		}else{
			document.getElementById("textoInformativo2").style.display="none";
		}	
	}
});
</script>	



      <!--BUSCADOR-->
        <div id="groups_and_headings" class="groups-and-headings">
          <% current_budget.groups.each do |group| %>
            <h2 id="<%= group.name.parameterize %>"><%= group.name %></h2>
            <ul class="no-bullet" data-equalizer data-equalizer-on="medium">
              <% group.headings.sort_by_name.each do |heading| %>
                <li class="heading small-12 medium-4 large-2" data-equalizer-watch>
                  <% unless current_budget.informing? || current_budget.finished? %>
                    <%= link_to budget_investments_path(current_budget.id,
                                                        heading_id: heading.id) do %>
                      <%= heading_name_and_price_html(heading, current_budget) %>
                    <% end %>
                  <% else %>
                    <div class="heading-name">
                      <%= heading_name_and_price_html(heading, current_budget) %>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <% unless current_budget.informing? %>
          <% if Setting["feature.map"] %>
            <div class="map inline">
              <h3><%= t("budgets.index.map") %></h3>
              <%= render_map(nil, "budgets", false, nil, @budgets_coordinates) %>
            </div>
          <% end %>

          <ul class="no-bullet margin-top">
            <li>
              <small><%= link_to t("budgets.index.section_footer.help_text_10"), "#section_zona" %></small>
            </li>

            <% show_links = show_links_to_budget_investments(current_budget) %>
            <% if show_links %>
              <li>
                <%= link_to budget_url(current_budget) do %>
                  <small><%= t("budgets.index.investment_proyects") %></small>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to budget_url(current_budget, filter: "unfeasible") do %>
                <small><%= t("budgets.index.unfeasible_investment_proyects") %></small>
              <% end %>
            </li>
            <% if show_links %>
              <li>
                <%= link_to budget_url(current_budget, filter: "unselected") do %>
                  <small><%= t("budgets.index.not_selected_investment_proyects") %></small>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div id="all_phases">
          <h2><%= t("budgets.index.all_phases") %></h2>
          <%= render "phases", budget: current_budget %>
        </div>
      </div>
    </div>

    <%= render "help" %>

    <%= render "districts_map" %>

    <% if @finished_budgets.present? %>
      <div class="row margin-top">
        <div class="small-12 medium-9 column">
          <ul class="no-bullet submenu">
            <li class="inline-block">
              <%= link_to "#other_budgets", class: "is-active" do %>
                <h2>
                  <%= t("budgets.index.finished_budgets") %>
                </h2>
              <% end %>
            </li>
          </ul>

          <div id="finished_budgets" class="budget-investments-list">
            <% @finished_budgets.each do |budget| %>
              <div class="budget-investment clear">
                <div class="panel past-budgets">
                  <div class="row" data-equalizer data-equalizer-on="medium">
                    <div class="small-12 medium-6 column table" data-equalizer-watch>
                      <div class="table-cell align-middle">
                        <h3><%= budget.name %></h3>
                      </div>
                    </div>

                    <div class="small-12 medium-6 column table" data-equalizer-watch>
                      <div id="budget_<%= budget.id %>_results" class="table-cell align-middle">
                        <%= link_to t("budgets.index.see_results"),
                                    budget_results_path(budget.id),
                                    class: "button" %>
                        <%= link_to t("budgets.index.milestones"),
                                    budget_executions_path(budget.id),
                                    class: "button" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="expanded budget no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 medium-9 column padding">
          <h1><%= t("budgets.index.title") %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="callout primary">
        <%= t("budgets.index.empty_budgets") %>
      </div>
    </div>
  </div>
<% end %>

