<div class="expanded no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('results.title_html') + @budget.name %></h1>
    </div>
  </div>
</div>

  <div class="row margin-top">
    <div class="small-12 column">
      <ul class="tabs">
        <li class="tabs-title is-active">
          <span class="show-for-sr"><%= t("shared.you_are_in") %></span>
          <%= link_to t("results.results_link"), budget_results_path(@budget) %>
        </li>
        <li class="tabs-title">
          <%= link_to t("tracking.title_tracking"), budget_executions_path(@budget) %>
        </li>
        <li class="tabs-title">
          <%= link_to t("stats.stats_link"), budget_stats_path(@budget) %>
        </li>
        <%# A eliminar, sacar documentos de estado por campaña de presupuestos. %>
        <% if @budget.finished? %>
          <li class="tabs-title">
            <%= link_to t("progress.progress_link"), budget_progress_path(@budget), class: "is-active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% if @budget.finished? %>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag "estat_pressupostos_#{@budget.id}_#{I18n.locale}.png" %>
    </div>
  </div>
<% end %>
