<div class="expanded no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('budgets.index.title') %></h1>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">
    <ul class="tabs">
      <li class="tabs-title is-active">
        <span class="show-for-sr"><%= t("shared.you_are_in") %></span>
        <%= link_to t("results.results_link"), results_budget_path(@budget), class: "is-active" %>
      </li>
      <li class="tabs-title">
        <%= link_to t("stats.stats_link"), stats_budget_path(@budget) %>
      </li>
      <li class="tabs-title">
        <%= link_to t("progress.progress_link"), progress_budget_path(@budget) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
      <div class="small-12 medium-2 column">
        <ul class="menu vertical no-padding">
          <li><strong><%= t("results.heading_selection_title") %></strong></li>

          <% @budget.headings.each do |heading| %>
            <li><%= link_to heading.name, results_budget_path(@budget, heading_id: heading.id) %></li>
          <% end %>

          <!-- <% geozone_select_options.each do |geozone| %>
            <li><%= link_to content_tag(:strong, geozone[0]), participatory_budget_results_path(geozone_id: geozone[1]) %></li>
          <% end %> -->
        </ul>
      </div>

  <div class="small-12 medium-10 column">

    <h2 class="inline-block"><%= @heading.nil? ? t('geozones.none') : @heading.name %></h2>

    <span class="float-right">
      <%= link_to t("results.show_all_link"), "#", class: "js-toggle-link button hollow margin-bottom", data: {'toggle-selector' => '.js-discarded', 'toggle-text' => t("results.hide_discarded_link")} %>
    </span>


    <table class="hover">
      <thead>
        <tr>
          <th></th>
          <th><%= t("budgets.investments.investment.title") %></th>
          <th class="text-right"><%= t("results.investment.ballots") %></th>
          <th class="text-right nowrap"><%= t("results.investment.price") %></th>
          <th class="text-right nowrap"><%= number_to_currency(@initial_budget) %></th>
        </tr>
      </thead>
      <tbody>
        <% available_budget = @initial_budget.to_i %>
        <% @investments_selected.each do |investment_selected| %>
          <% initial_budget = available_budget
              budget = available_budget - investment_selected.price
              available_budget = budget if budget >= 0 %>
          <% if budget >= 0 %>
            <tr id="<%= dom_id(investment_selected) %>" class="spending_proposal success">
          <% else %>
            <tr id="<%= dom_id(investment_selected) %>" class="spending_proposal js-discarded" style="display:none">
          <% end %>
            <td>
              <% if budget >= 0 %>
                <span class="icon-check">
                  <span class="show-for-sr"><%= t("spending_proposals.results.accepted") %></span>
                </span>
              <% else %>
                <span class="icon-x">
                  <span class="show-for-sr"><%= t("spending_proposals.results.discarded") %></span>
                </span>
              <% end %>
            </td>
            <td><%= link_to investment_selected.title, budget_investment_path(@budget, investment_selected) %></td>
            <td class="text-right"><%= investment_selected.cached_ballots_up %></td>
            <td class="text-right nowrap"><%= number_to_currency(investment_selected.price) %></td>
            <td class="text-right nowrap">
              <%= number_to_currency(budget) %>
            </td>

          </tr>


        <% end %>
      </tbody>

    </table>

  </div>

</div>
