<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_url(@budget, filter: @current_filter) %>
<% end %>

<div class="expanded budget no-margin-top">
  <div class="row" data-equalizer data-equalizer-on="medium">
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <%= back_link_to budgets_path %>

      <h1><%= @budget.name %></h1>

      <%= safe_html_with_links(@budget.description) %>
    </div>
    <div class="small-12 medium-3 column info padding" data-equalizer-watch>
      <p>
        <strong><%= t('budgets.show.phase') %></strong>
      </p>
      <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>

      <% if @budget.balloting_or_later? && can?(:read_results, @budget) %>
        <%= link_to t("budgets.show.see_results"),
                    budget_results_path(@budget, heading_id: @budget.headings.first),
                    class: "button margin-top expanded" %>
      <% end %>
    </div>
  </div>
</div>

<% if @budget.areas %>
  <div class="row margin">
    <div class="small-12 medium-12 large-12 column">
      <h2><%= t("budgets.show.view_by_areas") %></h2>
      <% Area.all.in_groups_of(3, false).each do |grupo_area| %>
        <div class="row">
          <% grupo_area.each do |area| %>
            <div class="small-12 medium-6 large-4 column end margin-bottom">
              <div class="budget-execution">
                <a data-toggle="lista_subareas_<%= area.id %>">
                  <%= render 'image', area: area %>
                  <div class="budget-execution-info">
                    <h5><%= area.name %></h5>
                  </div>
                </a>
                <div id="lista_subareas_<%= area.id %>" class="lista-subareas is-hidden" data-toggler="is-hidden">
                  <ul class="no-bullet">
                    <% area.sub_areas.each do |sub_area|%>
                      <li>
                        <%= link_to budget_investments_path(@budget, area_id: area.id, sub_area_id: sub_area.id, order: 'random') do %>
                          <%= sub_area.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row margin">
  <div class="small-12 medium-12 large-12 column">
    <% if @current_filter == "unfeasible" %>
      <h3 class="margin-bottom"><%= t("budgets.show.unfeasible_title") %></h3>
    <% elsif @current_filter == "unselected" %>
      <h3 class="margin-bottom"><%= t("budgets.show.unselected_title") %></h3>
    <% end %>

    <div class="groups-and-headings">

      <% if ["unfeasible", "unselected"].include?(@current_filter) %>
        <% filter = @current_filter %>
      <% else %>
        <% filter = nil %>
      <% end %>

      <h2><%= t("budgets.show.view_all") %></h2>
      <% if @budget.balloting_or_later? %>
        <% filter ||= "selected" %>
      <% end %>


      <ul class="no-bullet">
        <li class="heading small-12 medium-4 large-3">
          <%= link_to budget_investments_path(@budget, filter: filter, order: 'random') do %>
              <%= t("budgets.show.all_headings") %>
              <span><%= number_to_currency(@budget.total_amount) %></span>
          <% end %>
        </li>
      </ul>

      <% if !@budget.only_heading %>
        <% @budget.groups.each do |group| %>
          <h2><%= group.name %></h2>
            <ul class="no-bullet">
              <% group.headings.each do |heading| %>
                <li class="heading small-12 medium-4 large-3">
                  <%= link_to budget_investments_path(@budget, heading_id: heading.id, filter: filter, order: 'random') do %>
                    <%= heading.name %>
                    <span><%= number_to_currency(heading.price) %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @budget.reviewing_or_later? %>
  <% unless @current_filter == "unfeasible" %>
    <div class="row">
      <div class="small-12 column">
        <small>
          <%= link_to t("budgets.show.unfeasible"),
                      budget_investments_path(@budget, filter: "unfeasible") %>
        </small>
      </div>
    </div>
  <% end %>
<% end %>

<% if @budget.balloting_or_later? %>
  <% unless @current_filter == "unselected" %>
    <div class="row">
      <div class="small-12 column">
        <small>
          <%= link_to t("budgets.show.unselected"), budget_path(@budget, filter: "unselected") %>
        </small>
      </div>
    </div>
  <% end %>
<% end %>

<hr />

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <%= image_tag  "distritos_image_#{I18n.locale}.png", usemap: 'distritos-map' %>
    <map id="distritos-map" name="distritos-map">
        <area target="" alt="Oest" title="Oest" href="<%= budget_investments_path(@budget, geozone_id: 5) %>" coords="589,828,576,979,1,979,5,9,543,3,556,363,762,574,699,665,649,738" shape="poly">
        <area target="" alt="Nord" title="Nord" href="<%= budget_investments_path(@budget, geozone_id: 4) %>" coords="552,0,563,359,760,565,806,614,982,548,923,463,930,385,1094,302,1271,296,1269,6,546,2" shape="poly">
        <area target="" alt="Centre" title="Centre" href="<%= budget_investments_path(@budget, geozone_id: 1) %>" coords="754,598,718,648,762,664,759,685,777,694,802,668,810,618" shape="poly">
        <area target="" alt="Sud" title="Sud" href="<%= budget_investments_path(@budget, geozone_id: 6) %>" coords="715,651,597,826,581,974,711,979,707,873,746,769,812,733,789,726,776,699,758,695,752,668" shape="poly">
        <area target="" alt="Est" title="Est" href="<%= budget_investments_path(@budget, geozone_id: 2) %>" coords="718,979,716,872,747,774,822,734,786,701,806,672,820,617,988,557,990,597,988,700,975,722,987,728,959,782,949,817,782,904,787,978" shape="poly">
        <area target="" alt="Grau" title="Grau" href="<%= budget_investments_path(@budget, geozone_id: 3) %>" coords="1273,307,1095,311,937,384,943,406,929,459,949,462,954,497,984,536,997,551,1000,600,997,698,989,718,993,728,971,788,954,817,787,906,795,972,1264,969" shape="poly">
    </map>
    <p class="text-right">
      <%= link_to "www.castello.es/geoportal", "https://www.castello.es/geoportal", target: '_blank' %>
    </p>
  </div>
</div>
