<%= translatable_form_for(@investment, url: form_url, method: :put, html: { multipart: true, class: "budget-investment-form" }) do |f| %>
  <%= render "shared/errors", resource: @investment %>

  <fieldset class="required-fields">

    <% if @budget.headings.count > 1 %>
      <div>
        <%= f.select :heading_id, budget_heading_select_options(@budget), { include_blank: true }, class: "on-form" %>
      </div>
    <% elsif @budget.headings.count == 1 %>
      <div class="small-12 medium-8 column hide">
        <%= f.text_field :heading_id, value: @budget.headings.first.id %>
      </div>
    <% end %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Budget::Investment.title_max_length,
              data: suggest_data(@investment) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.hidden_field :description,
              value: "Description replaced by questions",
              maxlength: Budget::Investment.description_max_length,
              class: "html-area" %>
      </div>
    <% end %>

  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>

    <% if @budget.questions.any? %>
      <%= f.fields_for :answers, f.object.answers.order(:id) do |builder| %>
        <p>
          <%= builder.text_area :text, label: @budget.questions.order(:id)[builder.index].text, rows: 5 %>
        </p>
      <% end %>
    <% end %>

    <% if feature?(:allow_images) %>
      <div class="images">
        <%= render "images/nested_image", f: f, version: "large" %>
      </div>
    <% end %>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents">
        <%= render "documents/nested_documents", documentable: @investment, f: f %>
      </div>
    <% end %>

    <% if feature?(:map) %>
      <div>
        <%= render "map_locations/form_fields",
                    form: f,
                    map_location: @investment.map_location || MapLocation.new,
                    label: t("budgets.investments.form.map_location"),
                    help: t("budgets.investments.form.map_location_instructions"),
                    remove_marker_label: t("budgets.investments.form.map_remove_marker"),
                    parent_class: "budget_investment",
                    i18n_namespace: "budgets.investments" %>
      </div>
    <% end %>

    <div class="small-12 column hide">
      <%= f.label :location, t("budgets.investments.form.location") %>
      <%= f.text_field :location, label: false %>
    </div>

    <div class="small-12 column hide">
      <%= f.text_field :organization_name %>
    </div>

    <% if @categories.count > 0 %>
      <div>
        <%= f.label :tag_list, t("budgets.investments.form.tags_label") %>
        <p class="help-text" id="tags-list-help-text"><%= t("budgets.investments.form.tags_instructions") %></p>

        <div id="category_tags" class="tags">
          <% @categories.each do |tag| %>
            <a class="js-add-tag-link"><%= tag.name %></a>
          <% end %>
        </div>

        <br>
        <%= f.text_field :tag_list, value: @investment.tag_list.to_s,
                          label: false,
                          placeholder: t("budgets.investments.form.tags_placeholder"),
                          aria: { describedby: "tags-list-help-text" },
                          class: "js-tag-list tag-autocomplete",
                          data: { js_url: suggest_tags_path },
                          disabled: true %>
      </div>
    <% end %>

  </fieldset>

  <% unless current_user.manager? %>
    <div class="small-12 column hide">
      <%= f.label :terms_of_service do %>
        <%= f.check_box :terms_of_service, title: t("custom.form.accept_terms_title"), label: false, checked: true %>
        <span class="checkbox">
          <%= t("custom.form.accept_terms",
                conditions: link_to(t("form.conditions"), "/conditions", target: "blank")) %>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="actions small-12 end column hide">
    <%= button_tag(type: "submit", class: "action-button large w485") do %>
      <%= t("management.budgets.create_new_investment") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
    <% end %>
  </div>

  <%= f.submit t("budgets.investments.edit.submit"), class: "action-button" %>

<% end %>
