<!--
if comments are hidden:
  <ul> should only show up when milestones show up, that is when budgeting is finished and only for winning investments
  if @investment.budget.phase == 'finished' && @investment.winner 
else:
  <ul> should always be there
-->
<ul class="tabs"
    id="investments_tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>
    
  <!-- if comments are hidden, this <li> should be commented out -->
  <li class="tabs-title is-active">
    <%= link_to "#tab-comments" do %>
      <h3>
        <%= t("budgets.investments.show.comments_tab") %>
        <span class="js-comments-count">(<%= @investment.comments_count %>)</span>
      </h3>
    <% end %>
  </li>
  
  <!-- milestones should only be shown in finished phase on winning investments -->
  <% if @investment.budget.phase == 'finished' && @investment.winner %>
    <li class="tabs-title">
        <%= link_to "#tab-milestones" do %>
        <h3>
            <%= t("budgets.investments.show.milestones_tab") %>
            (<%= @investment.milestones.count %>)
        </h3>
        <% end %>
    </li>
  <% end %>
</ul>
