
<section class="no-margin-top margin-bottom">
  <div class="expanded budget jumbo-budget budget-heading">
    <div class="row">
      <div id="columna_1" class="small-12 large-9 column padding">
        <%# if @heading.group.headings.count == 1 %>
          <%= back_link_to budget_path(@budget, unfeasible: params[:unfeasible]) %>
        <%# else %>
          <%# back_link_to budget_group_path(@budget, @heading.group, unfeasible: params[:unfeasible]) %>
        <%# end %>

        <% if can? :show, @ballot %>
          <%= link_to t("budgets.investments.header.check_ballot"),
                      budget_ballot_path(@budget),
                      class: "button small float-right" %>
        <% end %>
        <h1><%= @budget.name %></h1>
        <%= safe_html_with_links @budget.description %>

        <% if cannot? :show, @ballot %>
          <% if @heading.present? %>
            <h2><%= @heading.name %> <%= @budget.formatted_heading_price(@heading) %></h2>
          <% else %>
            <h2><%= t("budgets.investments.all_proposals") %> <%= number_to_currency(@budget.total_amount) %></h2>
          <% end %>
        <% end %>

        <% if @heading && !@budget.balloting_or_later? && @heading.group.name == 'Districtes' %>
          <%= link_to t('budgets.investments.index.link_lista_seleccionadas'), "/system/documentos/2018/Acta_districte_#{@heading.name.upcase}.pdf", target: '_blank' %>
        <% end %>
      </div>
      <div id="columna_2" class="small-12 large-3 info padding column">
        <p>
          <strong><%= t('budgets.show.phase') %></strong>
        </p>
        <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>
        <% if @budget.accepting? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>

              <% if can?(:new, Budget::Investment) && current_user.can_create_investments(@budget) %>
                <% if current_user.phone_number? %>
                  <% if @area.present? && @sub_area.present? %>
                    <%= link_to t("budgets.investments.index.sidebar.create"), new_budget_investment_path(@budget, area_id: @area.id, sub_area_id: @sub_area.id), class: "button margin-top expanded" %>
                  <% else %>
                    <% if @area.present? && !@sub_area.present? %>
                    <div class="callout warning margin-top">
                      <%= t("budgets.investments.index.sidebar.required_sub_area",
                          link: link_to(t("budgets.investments.index.sidebar.budget"), budget_path(@budget))).html_safe %>
                    </div>
                    <% else %>
                      <div class="callout warning margin-top">
                        <%= t("budgets.investments.index.sidebar.required_area",
                            link: link_to(t("budgets.investments.index.sidebar.budget"), budget_path(@budget))).html_safe %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% session[:area_id] = @area&.id %>
                  <% session[:sub_area_id] = @sub_area&.id %>
                  <%= link_to account_path, class: "button margin-top expanded" do %>
                      <%= t("budgets.investments.index.sidebar.create") %>
                      <small class="float-center"><%= t("budgets.investments.index.sidebar.required_phone_instructions") %></small>
                  <% end %>
                <% end %>
              <% else %>
                <div class="callout warning margin-top">
                  <%= t("budgets.investments.index.sidebar.quota_exceeded") %>
                </div>
              <% end %>
            <% else %>
              <div class="callout warning margin-top">
                <%= t("budgets.investments.index.sidebar.verified_only",
                    verify: link_to(t("budgets.investments.index.sidebar.verify_account"), verification_path)).html_safe %>
              </div>
            <% end %>
          <% else %>
            <div class="callout warning margin-top">
              <%= t("budgets.investments.index.sidebar.not_logged_in",
                    sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"), new_user_session_path),
                    sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"), new_user_registration_path)).html_safe %>
            </div>
          <% end %>
        <% end %>
        <% if @budget.balloting_or_later? && can?(:read_results, @budget) %>
          <%= link_to t("budgets.show.see_results"), budget_results_path(@budget, heading_id: (@heading || @budget.headings.first)), class: "button margin-top expanded" %>
        <% end %>
      </div>
    </div>
    <div class="row progress-votes">
      <div class="small-12 column">
        <% if can? :show, @ballot %>
          <div id="check-ballot" style="display: none;">
            <%= link_to t("budgets.investments.header.check_ballot"),
                        budget_ballot_path(@budget) %>
          </div>
          <% if @heading %>
            <% if @ballot.valid_heading?(@heading) %>
              <div class="progress-bar-nav" data-fixed-bar>
                <h2><%= @heading.name %></h2>
                <div id="progress_bar" class="no-margin-top">
                  <%= render 'budgets/ballot/progress_bar' %>
                </div>
              </div>
            <% else %>
              <h2><%= @heading.name %></h2>
              <div class="small-12 medium-9">
                <div class="callout warning">
                  <%= t("budgets.investments.header.different_heading_assigned_html",
                        heading_link: link_to(@assigned_heading.name,
                                              budget_investments_path(@budget, heading: @assigned_heading))
                      ) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
