<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
             social_url: budget_investments_path(investment),
             social_title: investment.title,
             #social_description: investment.description,
             twitter_image_url: (investment.image.present? ? polymorphic_path(investment.image.variant(:thumb)) : nil),
             og_image_url: (investment.image.present? ? polymorphic_path(investment.image.variant(:thumb)) : nil) %>
<% end %>

<% cache [locale_and_user_status(investment),
          investment,
          investment.author,
          Flag.flagged?(current_user, investment),
          @investment_votes] do %>

<%# Začetek strani %>

<div class="row">
  <div class="column">
    <section class="budget-investment-show" id="<%= dom_id(investment) %>">
      <%# Back button %>
      <div>
        <%= link_to budget_investments_path(@budget), class: "back" do %>
          <i class="custom-icon arrow-small-left"></i>
          <span class="text"><%= t("custom.headings.back_to_all_proposals") %></span>
        <% end %>
      </div>

      <%# "Voting is closed" message %>
      <%# shows for all feasible projects in phases: reviewing_ballots %>
      <% if @budget.phase == "reviewing_ballots" and not investment.unfeasible? %>
        <div class="callout warning margin-top">
          <%= t("custom.messages.finished_voting") %>
        </div>
        <hr />
      <% end %>

      <%# "Project unfeasible" message %>
      <%# shows for unfeasible projects in phases: publishing_prices, balloting, reviewing_ballots, finished %>
      <% if @budget.publishing_prices_or_later? and investment.unfeasible? %>
        <div class="callout warning margin-top">
          <%= t("budgets.investments.show.project_unfeasible").html_safe %>
        </div>
        <% if investment.should_show_unfeasibility_explanation? %>
          <div class="callout primary">
            <%= investment.unfeasibility_explanation %>
          </div>
        <% end %>
        <hr />
      <% end %>

      <%# "Project not winner" message %>
      <%# show for losers in phases: finished %>
      <% if @budget.finished? and not investment.unfeasible? and not investment.winner? %>
        <div class="callout warning margin-top">
          <%= t("custom.messages.loser") %>
        </div>
        <hr />
      <% end %>

      <%# Project title %>
      <h1><%= investment.title %></h1>

      <%# Information row %>
      <div class="budget-investment-info">
        <div class="info-row">
          <div class="info">
            <%# author  %>
            <%= render "/shared/author_info", resource: investment %>
            <span class="bullet">&nbsp;&ndash;&nbsp;</span>
            <%# date  %>
            <%= l investment.created_at.to_date %>
            <span class="bullet">&nbsp;&ndash;&nbsp;</span>
            <%# heading  %>
            <%= investment.heading.name %>
          </div>
          <%# tags  %>
          <%= render "shared/tags", taggable: investment %>
        </div>

        <%# Edit project button  %>
        <%# shows for all projects in phases: accepting %>
        <% if @budget.phase == "accepting" %>
          <% if current_user == investment.author %>
            <%= link_to t("custom.titles.edit"), budget_investments_path(@budget) + "/" + @investment.id.to_s + "/edit", class: "default-button" %>
          <% end %>
        <% end %>

      </div>

      <%# Image  %>
      <%= new_tab_render_image(investment.image, :large, true, true) if investment.image.present? %>

      <%# Texts  %>
      <div class="bggray">
        <div class="small-12 medium-10 medium-centered">
          <% @budget.questions.order(:id).each do |question| %>
            <h4><%= question.text.html_safe %></h4>
            <p>
              <% investment.answers.where(budget_question_id: question.id).each do |answer| %>
                <%= auto_link_already_sanitized_html wysiwyg(answer.text) %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>

      <hr />

      <%# Map  %>
      <% if feature?(:map) && map_location_available?(@investment.map_location) %>
        <div class="margin">
          <%= render_map(@investment.map_location, "budget_investment", false, nil) %>
        </div>

         <hr />
      <% end %>

      <%# Documents  %>
      <% if feature?(:allow_attached_documents) and investment.documents.count > 0 %>
        <%= render "documents/documents",
                  documents: investment.documents,
                  max_documents_allowed: Budget::Investment.max_documents_allowed %>
        <hr />
      <% end %>

      <%# Price  %>
      <%# shows for selected projects in phases: balloting, reviewing_ballots, finished %>
      <% if investment.should_show_price? %>
        <div class="investment-price">
          <h4><%= t("budgets.investments.show.price") %>: <span><%= investment.price %> €</span></h4>
          <% if investment.should_show_price_explanation? %>
            <p class="investment-price-explanation"><%= investment.price_explanation %></p>
          <% end %>
        </div>
        <% if @budget.phase == "publishing_prices" or @budget.phase == "reviewing_ballots" or @budget.phase == "finished" %>
          <hr />
        <% end %>
      <% end %>

      <%# Vote button  %>
      <%# show for all selected projects in phases: balloting  %>
      <% if investment.should_show_ballots? %>
      <div class="bggray margin-top margin-bottom">
        <div class="investment-ballots">
          <h2>
              <%= t("budgets.investments.show.votes") %>
          </h2>
          <div class="">
            <div id="<%= dom_id(investment) %>_ballot">
              <%= render partial: "ballot", locals: {
                investment: investment,
                investment_ids: investment_ids,
                ballot: ballot
              } %>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <% end %>

      <%# Socials  %>
      <div class="row social-box" data-equalizer>
        <div class="small-12 column medium-centered text-center">
          <h2><%= t("budgets.investments.show.share_title") %></h2>
          <div class="social-box-row">
            <div>
              <h5><%= t("budgets.investments.show.share") %></h5>
              <div data-equalizer-watch class="qs">
                <%= render "shared/social_share",
                          title: investment.title,
                          image_url: image_absolute_url(investment.image, :thumb),
                          url: budget_investment_url(investment.budget, investment),
                          description: t("budgets.investments.share.message",
                                          title: investment.title,
                                          org: setting["org_name"],
                                          handle: setting["twitter_handle"]),
                          mobile: t("budgets.investments.share.message",
                                    title: investment.title,
                                    handle: setting["twitter_handle"]) %>
              </div>
            </div>
            <div>
              <h5 class="copylink"><%= t("budgets.investments.show.copy") %></h5>
              <input type="text" class="shortner" id="shareLink" onclick="copyShareLink()">
            </div>
          </div>
        </div>
      </div>
      <hr />
    </section>
  </div>
</div>
<% end %>

<script>
function copyShareLink() {
  /* Get the text field */
  var copyText = document.getElementById("shareLink");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);
}

$( document ).ready(function() {
  document.getElementById("shareLink").value = window.location.href;
});
</script>
