<div id="<%= dom_id(investment) %>" class="budget-investment clear">
  <div class="panel <%= ("with-image" if feature?(:allow_images) && investment.image.present?) %>">
    <div class="row" data-equalizer>
      <div class="column small-12 medium-12 large-12 investment-content-wrapper">
        <%= link_to namespaced_budget_investment_path(investment), class: "" do %>
          <div class="image-holder">
              <% if investment.image.present? %>
                <%= image_tag investment.image.variant(:large), alt: investment.image.title.unicode_normalize %>
              <% else %>
                <div class="investment-default-image">
                  <%= image_tag "default-investment.svg" %>
                </div>
              <% end %>
          </div>

          <div class="budget-investment-content">
            <% cache [locale_and_user_status(investment), "index", investment, investment.author] do %>
              <div class="investment-project-text">
                <h3 title="<%= investment.title %>">
                  <%= strip_tags(investment&.title&.gsub("><", "> <"))&.truncate(50, separator: " ", omission: "...") %>
                </h3>
                <p class="investment-project-info">
                  <%= investment.created_at.to_date.strftime("%d.%m.%Y") %>
                  <span class="bullet">&nbsp;&bull;&nbsp;</span>
                  <%= investment.heading.name %>
                </p>
                <div class="investment-project-description">
                  <%= strip_tags(investment.answers.first().text.gsub("><", "> <"))&.truncate(220, separator: " ", omission: "...") %>
                </div>
              </div>

              <% if investment.should_show_price? %>
                <div id="<%= dom_id(investment) %>_price"
                    class="supports"
                    <%= "data-equalizer-watch" if feature?(:allow_images) && investment.image.present? %>>
                  <span class="total-supports no-button">
                    <%= investment.price %> €
                    <!-- <%= investment.formatted_price %> -->
                  </span>
                  <% if investment.budget.phase == 'finished' && investment.winner %>
                    <div class="finvestment">
                      <% if investment.milestones.count > 0 %><%= investment.milestones.order_by_publication_date.last.status.name %><% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% unless investment.unfeasible? %>
                <% if @heading and investment.should_show_ballots? %>
                  <div id="<%= dom_id(investment) %>_ballot"
                      class="small-12 medium-12 text-right"
                      <%= "data-equalizer-watch" if feature?(:allow_images) && investment.image.present? %>>
                    <%= render partial: "/budgets/investments/ballot", locals: {
                      investment: investment,
                      investment_ids: investment_ids,
                      ballot: ballot
                    } %>
                  </div>
                <% elsif investment.should_show_ballots? %>
                  <div class="small-12 medium-12 callout warning margin-top">
                    <strong><%= t("custom.headings.select_heading_to_vote") %></strong>
                  </div>
                  <div <%= "data-equalizer-watch" if feature?(:allow_images) && investment.image.present? %>></div>
                <% else %>
                  <div <%= "data-equalizer-watch" if feature?(:allow_images) && investment.image.present? %>></div>
                <% end %>

              <% end %>

            <% end %>
          </div>
        <% end %>
      </div>

      
    </div>
  </div>
</div>
