<div class="districts-container">
  <select onchange="if (this.value) location = this.value;" class="on-view">
    <option value="<%= budget_investments_url(@budget, request.query_parameters.except(:tag_name)) %>"><%= t("custom.headings.select_tag").mb_chars.upcase %></option>
    <% @budget.categories.order("id ASC").each do |tag| %>
    <%= selected = " selected" if params[:tag_name] == tag.name %>
    <option value="<%= budget_investments_url(@budget, { heading_id: params[:heading_id], status_id: params[:status_id], tag_name: tag.name, unfeasible: params[:unfeasible], chosen: params[:chosen] }) %>" <%= selected %>><%= tag.name %></option>
    <% end %>
  </select>
</div>

<style>
.districts-container {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}
</style>
