<% provide :title do %><%= t("budgets.investments.index.title") %>
<% end %>
<main id="budget-investments-main" data-tabs-content="custom_phases_tabs">
  <div class="custom-phases-nav">
    <div class="main-indented-content">
      <div class="row">
        <div class="column">
          <ul class="tabs" id="custom_phases_tabs"
              data-deep-link="true"
              data-update-history="true"
              data-deep-link-smudge="true"
              data-deep-link-smudge-delay="500"
              data-tabs>
            <% @budget.custom_phases(current_user, create_url = method(:budget_investments_url)).each do |_, phase| %>
              <% if phase.enabled %>
                <li class="tabs-title <%= "is-active active-phase" if phase.active %>">
                  <%= link_to "#tab-#{phase.kind}" do %>
                    <h3 class="<%= "default-button" if phase.active %>"><i></i><%= t("custom.headings.#{phase.kind}") %></h3>
                    <span><%= phase.starts_at.to_date.strftime("%d.%m.%Y") %>–<%= phase.ends_at.to_date.strftime("%d.%m.%Y") %></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% @budget.custom_phases(current_user, create_url = method(:budget_investments_url)).each do |_, phase| %>
    <% if phase.enabled %>
      <div class="tabs-panel <%= "is-active" if phase.active %>" id="tab-<%= phase.kind %>">
        <% if phase.active %>
          <%= render "/budgets/investments/header" %>
          <div class="main-indented-content">
            <% if @filtered_investments_count > 0 %> <%#  || @heading.present? %>
              <div class="row budget-investments">
                <div class="column">
                  <%= render "budgets/investments/map" %>
                  <h2 class="phase-title bold">
                      <%= t("custom.titles.proposals") %> (<%= @filtered_investments_count %>)
                  </h2>
                  <div class="filters">
                    <% if @budget.headings.count > 1 %>
                      <%= render "budgets/investments/districts" %>
                    <% end %>
                    <% if @budget.categories.count > 1 %>
                      <%= render "budgets/investments/tags" %>
                    <% end %>
                    <%# filter accepted / denied investments in balloting and reviewing_ballots phases %>
                    <% if @budget.phase == 'balloting' or @budget.phase == 'reviewing_ballots' %>
                      <%= render "budgets/investments/chosen_for_voting" %>
                    <% end %>
                    <%# filter winners or losers in finished phase %>
                    <% if @budget.phase == 'finished' %>
                      <%= render "budgets/investments/statuses" %>
                      <%= render "budgets/investments/feasibility" %>
                    <% end %>
                  </div>
                  <div class="row small-up-1 medium-up-1 large-up-3 investments-list">
                    <% @investments.each_with_index do |investment, index| %>
                      <% investment_class = "column column-block budget-investment-holder" %>
                      <% investment_class = investment_class %>
                      <div class="<%= investment_class %>">
                        <%= render partial: "/budgets/investments/investment",
                                  locals: {
                                    investment: investment,
                                    investment_ids: @investment_ids,
                                    investment_votes: @investment_votes,
                                    ballot: @ballot
                                  } %>
                      </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <%= paginate @investments %>
                  </div>
                </div>
              </div>
              <%
                if false && ( # disabled by muki for maribor
                    (
                      phase.kind != :accepting
                    ) || (
                      @budget.phase == "publishing_prices"
                    )
                ) && (
                  phase.kind != :selecting
                ) && (
                   @denied_investments_count > 0
                )
              %>
                <div class="row budget-investments">
                  <div class="column">
                    <h2 class="phase-title bold"><%= t("custom.titles.denied_proposals") %> (<%= @denied_investments_count %>)</h2>

                    <div class="row small-up-1 medium-up-1 large-up-3 investments-list">
                      <% @denied_investments.each_with_index do |investment, index| %>
                        <% investment_class = "column column-block budget-investment-holder" %>
                        <% investment_class = investment_class %>
                        <div class="<%= investment_class %>">
                          <%= render partial: "/budgets/investments/investment",
                                    locals: {
                                      investment: investment,
                                      investment_ids: @investment_ids,
                                      investment_votes: @investment_votes,
                                      ballot: @ballot
                                    } %>
                        </div>
                      <% end %>
                    </div>
                    <div class="row">
                      <%= paginate @denied_investments %>
                    </div>
                  </div>
                </div>
                
              <% end %>

            <% else %>
              <div class="row budget-investments">
                <div class="column">
                  <%= render "budgets/investments/map" %>
                  <h2 class="phase-title bold">
                      <%= t("custom.titles.proposals") %> (<%= @filtered_investments_count %>)
                  </h2>
                  <div class="filters">
                    <% if @budget.headings.count > 1 %>
                      <%= render "budgets/investments/districts" %>
                    <% end %>
                    <% if @budget.categories.count > 1 %>
                      <%= render "budgets/investments/tags" %>
                    <% end %>
                    <%# filter accepted / denied investments in balloting and reviewing_ballots phases %>
                    <% if @budget.phase == 'balloting' or @budget.phase == 'reviewing_ballots' %>
                      <%= render "budgets/investments/chosen_for_voting" %>
                    <% end %>
                    <%# filter winners or losers in finished phase %>
                    <% if @budget.phase == 'finished' %>
                      <%= render "budgets/investments/statuses" %>
                      <%= render "budgets/investments/feasibility" %>
                    <% end %>
                  </div>
                </div>
                <div class="row small-up-1 medium-up-1 large-up-3 no-budget-investment text-center medium-centered">
                  <p class="show-mobile">
                    <%= t("custom.messages.no_investments") %><br>
                    <%= link_to new_budget_investment_path(budget_id: @budget.id), class: "" do %>
                      <%= t("custom.messages.add_first_investment") %>
                    <% end %>
                  </p>
                  <div class="medium-centered">
                    <%= image_tag(image_path_for("phases/ni-predlogov.png")) %>
                  </div>
                  <p class="show-pc">
                    <%= t("custom.messages.no_investments") %><br>
                    <%= link_to new_budget_investment_path(budget_id: @budget.id), class: "" do %>
                      <%= t("custom.messages.add_first_investment") %>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
            </div>
            <% else %>

            <!-- TABS -->
            <% if phase.kind == 'accepting' %>
              <div class="landings">
                <div class="bggray">
                  <div class="main-indented-content">
                    <div class="row">
                      <div class="small-12 medium-9 medium-centered text-center">
                        <h1><%= t("custom.headings.#{phase.kind}") %>!</h1>
                        <%= raw(phase.summary) %>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h2><%= t("custom.presentation.accepting.title_1") %></h2>
                          <%= raw(phase.presentation_summary_accepting) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/proracun.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bggray">
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column hide-for-small-only">
                        <div class=" medium-centered">
                          <%= image_tag(image_path_for("phases/predlog.png")) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h2><%= t("custom.presentation.accepting.title_2") %></h2>
                          <%= raw(phase.presentation_summary_balloting) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h2><%= t("custom.presentation.accepting.title_3") %></h2>
                          <%= raw(phase.presentation_summary_finished) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/ilustracije-sprite-notranje-glasuj.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>

            <% if phase.kind == 'balloting' %>

              <div class="landings">
                <div class="bggray">
                  <div class="main-indented-content">
                    <div class="row">
                      <div class="small-12 medium-9 medium-centered text-center">
                        <h1><%= t("custom.headings.#{phase.kind}") %>!</h1>
                        <%= raw(phase.summary) %>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.balloting.title_1") %></h1>
                          <%= raw(phase.presentation_summary_accepting) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/kaj.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bggray">
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column hide-for-small-only">
                        <div class=" medium-centered">
                          <%= image_tag(image_path_for("phases/kdo.png")) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.balloting.title_2") %></h1>
                          <%= raw(phase.presentation_summary_balloting) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column show-for-small-only">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/kdo.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.balloting.title_3") %></h1>
                          <%= raw(phase.presentation_summary_finished) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/kako.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>

            <% if phase.kind == 'finished' %>
              <div class="landings">
                <div class="bggray">
                  <div class="main-indented-content">
                    <div class="row">
                      <div class="small-12 medium-9 medium-centered text-center">
                        <h1><%= t("custom.headings.#{phase.kind}") %>!</h1>
                        <%= raw(phase.summary) %>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.finished.title_1") %></h1>
                          <%= raw(phase.presentation_summary_accepting) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/kajpazdaj.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bggray">
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column hide-for-small-only">
                        <div class=" medium-centered">
                          <%= image_tag(image_path_for("phases/participacija.png")) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.finished.title_2") %></h1>
                          <%= raw(phase.presentation_summary_balloting) %>
                        </div>
                      </div>
                      <div class="small-12 show-for-small-only">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/participacija.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="main-indented-content ">
                    <div class="row qs">
                      <div class="small-12 medium-6 column ">
                        <div class="medium-8 medium-centered js-padt">
                          <h1><%= t("custom.presentation.finished.title_3") %></h1>
                          <%= raw(phase.presentation_summary_finished) %>
                        </div>
                      </div>
                      <div class="small-12 medium-6 column">
                        <div class="medium-centered">
                          <%= image_tag(image_path_for("phases/potem.png")) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          <% end %>
        </div>
    <% end %>
  <% end %>
  </div>
</main>
