<h2><%= t("management.document_verifications.title") %></h2>

<div class="small-12 medium-8">
  <%= form_for(@document_verification,
               as: :document_verification,
               url: check_management_document_verifications_path) do |f| %>

    <div class="small-12 medium-5">
      <%= f.select(:document_type,
                   [[humanize_document_type("1"), 1],
                    [humanize_document_type("2"), 2],
                    [humanize_document_type("3"), 3]]) %>
    </div>
    <div class="small-12 medium-5">
      <%= f.text_field :document_number %>
    </div>

    <% if Setting.force_presence_date_of_birth? %>
      <div class="date-of-birth small-12 medium-5">
        <%= f.date_select :date_of_birth,
                          prompt: true,
                          start_year: 1900, end_year: minimum_required_age.years.ago.year %>
      </div>
    <% end %>

    <% if Setting.force_presence_postal_code? %>
      <div class="small-12 medium-5">
        <%= f.text_field :postal_code, aria: { describedby: "postal-code-help-text" } %>
      </div>
    <% end %>

    <%= f.submit t("management.check"), class: "button" %>
  <% end %>
</div>
