<%= render 'management/account_info.html', verification: @document_verification %>

<div class="alert-box success radius">
  <%= t("management.users.census_success_account") %>
</div>

<%= render 'management/user_permissions',
      message: t("management.users.census_success_info"),
      permissions: [:debates, :proposal, :support_proposal] %>

<%= form_for @document_verification, url: management_on_site_verifications_path do |f| %>
  <%= f.hidden_field :document_type %>
  <%= f.hidden_field :document_number %>
  <%= f.submit t("management.users.verify"), class: "button success radius" %>
<% end %>
