<%= form_for [:admin, @process], html: {data: {watch_changes: true}} do |f| %>

  <% if @process.errors.any? %>

  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <strong>
      <%= @process.errors.count %>
      <%= t("admin.legislation.processes.errors.form.error", count: @process.errors.count) %>
    </strong>
  </div>

  <% end %>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= label_tag t('admin.legislation.proposals.form.header_information') %>
      <small><%= t('admin.legislation.proposals.form.header_information_description') %></small>
    </div>
    <div class="small-12 medium-8 column">
      <%= f.text_area :proposals_description,
                       label: false,
                       rows: 5,
                       placeholder: t('admin.legislation.proposals.form.header_information_placeholder') %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= label_tag t('admin.legislation.proposals.form.custom_categories') %>
      <small><%= t('admin.legislation.proposals.form.custom_categories_description') %></small>
    </div>
    <div class="small-12 medium-8 column">
      <%= f.text_field :custom_list, value: @process.tag_list_on(:customs).to_s,
                        label: false,
                        placeholder: t("proposals.form.tags_placeholder"),
                        class: 'js-tag-list',
                        aria: {describedby: "tag-list-help-text"} %>
    </div>
  </div>

  <div class="row">
    <div class="actions small-12 medium-3 column legislation-process-save">
      <%= f.submit(class: "button expanded", value: t("admin.legislation.processes.#{admin_submit_action(@process)}.submit_button")) %>
    </div>
  </div>
<% end %>
