<% if @ballot.confirmed? %>
    <div data-alert class="ballot-alert ballot-success text-center">
      <span class="icon-check lead"></span><br>
      <%= t('budgets.ballots.show.ballot_confirmed', confirmed_at: l(@ballot.confirmation.created_at, format: :short)) %>
    </div>
    <small><%= link_to t('budgets.ballots.show.discard_ballot_user'), discard_management_budget_ballot_url(), method: :delete, data: { confirm: t('budgets.ballots.show.confirm_discard_ballot') }%></small>
    <br>
    <br>
<% else %>

  <div class="ballot-alert-status">
    <div class="text-center"><span class="lead" style="color: red;">Aún no has votado</span><br/>por favor, completa
      estos pasos:
    </div>

    <br>
    <ol class="small">

      <% headings_with_status(@ballot, @group, @heading).each_with_index do |heading_link_status, index| %>
        <% if heading_link_status[:pending] %>
          <li>

            Seleccionar <%= heading_link_status[:remaining_count] %> <%= heading_link_status[:name] %>
          </li>
        <% end %>
      <% end %>
      <li>
        Haz click en "VOTAR" para enviar la votación
      </li>
    </ol>
  </div>
  <br>

    <% if @ballot.completed? %>
        <%= link_to confirm_management_budget_ballot_url(), method: 'post', class: 'button expanded success' do %>
            <%= t('budgets.ballots.show.confirm_ballot') %>
        <% end %>
    <% else %>
        <%= link_to '#ballot', class: 'button expanded secondary', disabled: 'disabled' do %>
            <%= t('budgets.ballots.show.complete_ballot_to_vote') %>
        <% end %>
    <% end %>
<% end %>


