<h2><%= t("officing.polls.index.title") %></h2>

<% if @polls.any? %>
  <table>
    <thead>
      <th><%= t("officing.polls.index.select_poll") %></th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <% @polls.each do |poll| %>
        <tr id="<%= dom_id(poll) %>" class="poll">
          <td>
            <strong>
              <%= link_to poll.name, new_officing_poll_recount_path(poll) %>
            </strong>
          </td>
          <td class="text-right">
            <%= link_to t("officing.polls.index.add_recount"),
                        new_officing_poll_recount_path(poll),
                        class: "button hollow" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary">
    <%= t("officing.polls.index.no_polls") %>
  </div>
<% end %>