<h2 class="inline-block">
  <%= AdministratorTask.model_name.human(count: 2) %>
</h2>

<table>
  <thead>
    <tr>
      <th><%= AdministratorTask.human_attribute_name(:source) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @administrator_tasks.empty? %>
      <tr>
        <td colspan="100%"><%= t '.no_records' %></td>
      </tr>
    <% end %>

    <% @administrator_tasks.each do |task| %>
      <tr id="<%= dom_id(task) %>">
        <td>
          <%= task.source.proposal.title %>:
          <%= task.source.proposal_dashboard_action.title %>
        </td>
        <td style="text-align: right">
          <%= link_to t('.solve'), 
                      edit_moderation_administrator_task_path(task), 
                      class: 'edit-banner button hollow' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
