<%= header %>

<div class="sensemaker">
  <%= form_tag new_admin_sensemaker_job_path, method: :get do %>
    <div class="target-search-group">
      <div class="select-wrapper">
        <% options = @query_types.map { |type| [I18n.t("activerecord.models.#{type.underscore}.other"), type] } %>
        <%= select_tag :query_type, options_for_select(options, params[:query_type] || "Legislation::Process" ) %>
      </div>

      <%= text_field_tag :query, params[:query], placeholder: "Search for a target..." %>

      <%= submit_tag "Search", class: "success button" %>
    </div>

    <% if @search_results.any? %>
      <ul class="target-search-results">
        <% @search_results.each do |result_group| %>
          <li class="result-group">
            <%= content_tag :span, result_group[:group_title] %>
            <ul>
              <% result_group[:results].each do |result| %>
                <li class="flex-row-between">
                  <%= content_tag :span, result.title %>
                  <%= link_to "Select â†’", new_admin_sensemaker_job_path(query_type: params[:query_type], query: params[:query], target_type: result.class.name, target_id: result.id) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= form_for @sensemaker_job, url: admin_sensemaker_jobs_path, method: :post do |f| %>
    <%= f.label :commentable_type, "Target" %>
    <%= f.select :commentable_type, Sensemaker::Job::TARGET_TYPES, include_blank: "Select a target...", label: false, required: true %>

    <%= f.label :commentable_id, "Target ID" %>
    <%= f.text_field :commentable_id, label: false, placeholder: "Enter a target ID...", required: true %>

    <%= f.select :script, Sensemaker::JobRunner::SCRIPTS, include_blank: "Select a script...", required: true %>

    <div class="flex-between">
      <%= link_to "â† Cancel", admin_sensemaker_jobs_path, class: "" %>

      <div>
        <%= f.submit "Preview input",
                     formaction: preview_admin_sensemaker_jobs_path,
                     type: "submit",
                     data: { remote: true, temp_disable: true, disable_with: false },
                     class: "button" %>
        <%= f.submit "Download input CSV",
                     type: "submit",
                     formaction: preview_admin_sensemaker_jobs_path(format: :csv),
                     class: "button", data: { temp_disable: true, disable_with: false } %>
        <%= f.submit "Run", data: { temp_disable: true, disable_with: false } %>
      </div>
    </div>
  <% end %>

  <%= content_tag "pre", id: "input-preview", class: "input-preview" do %>
    <em>input preview</em>
    <%# content of the preview result goes here %>
  <% end %>
</div>
