<%= header %>

<div class="sensemaker">
  <%= form_for @sensemaker_job, url: admin_sensemaker_jobs_path, method: :post do |f| %>
    <%= f.label :commentable_type, "Target" %>
    <%= f.select :commentable_type, Comment::COMMENTABLE_TYPES, label: false, include_blank: "Select a target...", required: true %>
    <%= f.label :commentable_id, "Target ID" %>
    <%= f.text_field :commentable_id, label: false, placeholder: "Enter a target ID...", required: true %>

    <%= f.select :script, Sensemaker::JobRunner::SCRIPTS, include_blank: "Select a script...", required: true %>

    <%= f.submit "Preview input",
        formaction: preview_admin_sensemaker_jobs_path,
        type: "submit",
        data: { remote: true, temp_disable: true, disable_with: false },
        class: "button" %>
    <%= f.submit "Download input CSV",
        type: "submit",
        formaction: preview_admin_sensemaker_jobs_path(format: :csv),
        class: "button", data: { temp_disable: true, disable_with: false } %>
    <%= f.submit "Run", data: { temp_disable: true, disable_with: false } %>
  <% end %>

  <%= content_tag "pre", id: "input-preview" do %>
    <%# content of the preview result goes here %>
  <% end %>
</div>