<% unless @mode.present? %>
  <%= back_link_to admin_budget_groups_path(@budget), t("admin.budget_headings.index.back") %>
<% end %>

<div class="clear"></div>

<h2 class="inline-block"><%= "#{@budget.name} / #{@group.name}" %></h2>

<%= render "help_block" %>

<%= render "/admin/budgets/creation_timeline", step: "headings" %>

<% unless @mode == "single" %>
  <div class="small-12 medium-6">
    <%= render "group_switcher" %>
  </div>
  <%= render "headings" %>
<% end %>

<div id="headings_form" class="<%= class_for_form(@heading) %>" data-toggler=".hide">
  <%= render "form", path: admin_budget_group_headings_path(@budget, @group), action: "create" %>
</div>

<% unless @mode == "single" || @heading.errors.any? %>
  <button id="new_button" class="button add" data-toggler=".hide"
          data-toggle="headings_form new_button cancel_button">
    <strong><%= t("admin.budget_headings.index.new_button") %></strong>
  </button>
<% end %>

<p id="cancel_button" class="hide" data-toggler=".hide"
   data-toggle="headings_form new_button cancel_button">
  <button class="delete"><%= t("links.form.cancel_button") %></button>
</p>

<% if @mode.present? && @budget.headings.any? %>
  <%= link_to t("admin.budget_headings.create.button.continue"),
              admin_budget_budget_phases_path(@budget, mode: @mode),
              class: "button success" %>
<% end %>

<% if @budget.headings.empty? && @mode == "multiple" %>
  <p class="button secondary disabled">
    <%= t("admin.budget_headings.create.button.continue") %>
  </p>
<% end %>
