<li id="<%= dom_id(notification) %>" class="notification">
  <%= link_to notification do %>
    <p>
      <strong><%= notification.username %></strong>
      <em><%= t("notifications.index.#{notification_action(notification)}") %></em>
      <strong><%= notification.notifiable.commentable.title %></strong>
    </p>
    <p class="time"><%= l notification.timestamp, format: :datetime %></p>
  <% end %>
</li>