<li id="<%= dom_id(notification) %>" class="notification">
  <%= link_to notification do %>
    <time><%= l notification.timestamp, format: :datetime %></time>&nbsp;&bull;&nbsp;
    <span><%= notification.username %> </span>
    <span><%= t("notifications.index.#{notification_action(notification)}") %></span>
    <span><%= notification.notifiable.commentable.title %></span>
  <% end %>
</li>