<li>
  <div class="milestone-content">

    <% if milestone.publication_date.present? %>
      <span class="milestone-date">
        <strong>
          <%= t("budgets.investments.show.milestone_publication_date",
                publication_date: l(milestone.publication_date.to_date)) %>
        </strong>
      </span>
    <% end %>

    <% if milestone.status.present? %>
      <p>
        <strong>
          <%= t("budgets.investments.show.milestone_status_changed") %>
        </strong>
        <br>
        <span class="milestone-status">
          <%= milestone.status.name %>
        </span>
      </p>
    <% end %>

    <%= image_tag(milestone.image_url(:large), { id: "image_#{milestone.id}", alt: milestone.image.title, class: "margin" }) if milestone.image.present? %>

    <p>
      <%= text_with_links milestone.description %>
    </p>

    <% if milestone.documents.present? %>
      <div class="document-link text-center">
        <p>
          <span class="icon-document"></span>&nbsp;
          <strong><%= t("shared.documentation") %></strong>
        </p>
        <% milestone.documents.each do |document| %>
          <%= link_to document.title,
                  document.attachment.url,
                  target: "_blank",
                  rel: "nofollow" %><br>
        <% end %>
      </div>
    <% end %>

  </div>
</li>
