<main class="subscriptions-edit">
  <%= form_for user, url: subscriptions_path(token: user.subscriptions_token) do |f| %>
    <h2><%= t("account.show.notifications") %></h2>

    <div><%= f.check_box :email_on_comment %></div>
    <div><%= f.check_box :email_on_comment_reply %></div>
    <div><%= f.check_box :newsletter %></div>
    <div><%= f.check_box :email_digest %></div>
    <div><%= f.check_box :email_on_direct_message %></div>

    <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
  <% end %>
</main>
