<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_group_url(filter: @current_filter) %>
<% end %>

<div class="expanded budget no-margin-top">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <%= back_link_to budget_path(@budget) %>
      <h2 id="<%= @group.name.parameterize %>"><%= @group.name %></h2>
    </div>
  </div>
</div>

<% if @current_filter == "unfeasible" %>
  <div class="row margin-top">
    <div class="small-12 column">
      <h3><%= t("budgets.groups.show.unfeasible_title") %></h3>
    </div>
  </div>
<% elsif @current_filter == "unselected" %>
  <div class="row margin-top">
    <div class="small-12 column">
      <h3><%= t("budgets.groups.show.unselected_title") %></h3>
    </div>
  </div>
<% end %>

<div class="row margin">
  <div class="medium-6 column show-for-medium">
    <table class="table-fixed table-areas">
      <thead>
        <tr>
          <th><%= t("budgets.shared.select_area") %></th>
        </tr>
      </thead>
      <tbody>
        <% @group.headings.sort_by(&:id).each do |heading| %>
          <tr>
            <td>
                <%= link_to((heading.long_name || heading.name), budget_investments_path(@budget, heading_id: heading.id, filter: @current_filter), data: { no_turbolink: true }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="medium-6 column show-for-medium text-center">
    <%= link_to asset_url('map_big.png'), target: "_blank" do %>
      <%= image_tag "map.png" %>
    <% end %>
  </div>
</div>

<% if @budget.balloting_or_later? %>
  <% unless @current_filter == "unfeasible" %>
    <div class="row">
      <div class="small-12 column">
        <small>
          <%= link_to t("budgets.groups.show.unfeasible"),
                      budget_path(@budget, filter: "unfeasible") %>
        </small>
      </div>
    </div>
  <% end %>

  <% unless @current_filter == "unselected" %>
    <div class="row">
      <div class="small-12 column">
        <small>
          <%= link_to t("budgets.groups.show.unselected"),
                      budget_path(@budget, filter: "unselected") %>
        </small>
      </div>
    </div>
  <% end %>
<% end %>
