<%= render "admin/shared/globalize_locales", resource: @admin_notification  %>

<%= translatable_form_for [:admin, @admin_notification] do |f| %>
  <%= render 'shared/errors', resource: @admin_notification %>

  <%= f.select :segment_recipient, options_for_select(user_segments_options,
                                                      @admin_notification[:segment_recipient]) %>

  <%= f.translatable_text_field :title %>

  <%= f.text_field :link %>

  <%= f.translatable_text_area :body %>

  <div class="margin-top">
    <%= f.submit t("admin.admin_notifications.#{admin_submit_action(@admin_notification)}.submit_button"),
                 class: "button success" %>
  </div>
<% end %>
