<%= form_for [:admin, budget, group, heading], remote: true do |f| %>
  <%= render 'shared/errors', resource: heading %>
  <%= f.text_field :name,
                    label: t("admin.budgets.form.heading"),
                    maxlength: 50,
                    placeholder: t("admin.budgets.form.heading") %>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :price,
                        label: t("admin.budgets.form.amount"),
                        maxlength: 8,
                        placeholder: t("admin.budgets.form.amount") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 column">
      <p class="help-text" id="budgets-population-help-text">
        <%= t("admin.budgets.form.population_help_text") %>
      </p>
      <%= f.text_field :population,
                        label: t("admin.budgets.form.population"),
                        maxlength: 8,
                        placeholder: t("admin.budgets.form.population"),
                        data: {toggle_focus: "population-info"},
                        aria: {describedby: "budgets-population-help-text"} %>
    </div>
    <div class="small-12 medium-6 column " >
      <div id="population-info" class="is-hidden" data-toggler="is-hidden">
        <%= t("admin.budgets.form.population_info") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :latitude,
                        label: t("admin.budgets.form.latitude"),
                        maxlength: 22,
                        placeholder: "latitude" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :longitude,
                        label: t("admin.budgets.form.longitude"),
                        maxlength: 22,
                        placeholder: "longitude" %>
    </div>
  </div>

  <%= f.submit t("admin.budgets.form.save_heading"), class: "button success" %>
<% end %>
