<tr id="heading-<%=heading.id%>">
  <td>
    <%= heading.name %>
  </td>
  <td class="text-right">
    <%= heading.budget.formatted_heading_price(heading) %>
  </td>
  <td class="text-right">
    <%= heading.population %>
  </td>
  <td>
    <%= link_to t("admin.actions.edit"),
            edit_admin_budget_budget_group_budget_heading_path(budget_id: group.budget.id, budget_group_id: group.id, id: heading.id),
            class: "button hollow",
            remote: true %>
    <% if heading.can_be_deleted? %>
      <%= link_to t('admin.administrators.administrator.delete'),
          #admin_budget_budget_group_budget_headings_path(group.budget.id, group.id),
          [:admin, group.budget, group, heading],
          method: :delete,
          class: "button hollow alert" %>
    <% end %>
  </td>
</tr>
