<div class="small-12 medium-12 column" id="results-container">

  <% @group.headings.each do |heading| %>
      <h4 class="inline-block">
        <%= heading.name %>
      </h4>


      <table id="budget-investments-results" class="table-for-mobile">
        <thead>
        <tr>
          <th>
            ID
          </th>
          <th scope="col">
            <%= t("admin.budgets.results.spending_proposal") %>
          </th>
          <th scope="col" class="text-right">
            <%= t("admin.budgets.results.ballot_lines_sum") %>
          </th>
          <th scope="col" class="text-right">
            Fase
          </th>
          <th scope="col" class="text-right">
            <%= t("admin.budgets.results.price") %>
          </th>
        </tr>
        </thead>

        <tbody>
        <% heading.investments.sort_by_confirmed_ballots.selected.each do |investment| %>
            <tr id="<%= dom_id(investment) %>"
                class="spending_proposal success">
            <td>
              <%= investment.id %>
            </td>
            <td>
              <%= link_to investment.title,
                          budget_investment_path(@budget, investment) %>
            </td>
            <td class="text-right ballot-points">
              <%= investment.confirmed_budget_ballot_lines_sum %>
            </td>
            <td class="center">
              -
            </td>
            <td class="text-right">
              <%= format_price investment.price %>
            </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <br>
      <br>
  <% end %>
</div>