<h2 class="inline-block"><%= t("admin.budgets.index.title") %></h2>

<%= link_to t("admin.budgets.index.new_link"),
            new_admin_budget_path,
            class: "button float-right" %>

<%= render "shared/filter_subnav", i18n_namespace: "admin.budgets.index" %>

<% if @budgets.any? %>
  <h3><%= page_entries_info @budgets %></h3>

  <table>
    <thead>
      <tr>
        <th><%= t("admin.budgets.index.table_name") %></th>
        <th><%= t("admin.budgets.index.table_phase") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
        <tr id="<%= dom_id(budget) %>" class="budget">
          <td>
            <%= budget.name %>
          </td>
          <td class="small">
            <%= t("budgets.phase.#{budget.phase}") %>
          </td>
          <td>
            <%= render Admin::Budgets::TableActionsComponent.new(budget) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @budgets %>
<% else %>
  <div class="callout primary">
    <%= t("admin.budgets.index.no_budgets") %>
  </div>
<% end %>
