<h2 class="inline-block"><%= t("admin.budgets.index.title") %></h2>

<%= render "new_budget_reveal" %>

<button class="button float-right" data-open="new_budget_reveal">
  <strong><%= t("admin.budgets.index.new_button") %></strong>
</button>

<%= render "admin/shared/help_block", i18n_namespace: "admin.budgets.index", learn_more_link: admin_budgets_path %>

<%= render "shared/filter_subnav", i18n_namespace: "admin.budgets.index" %>

<% if @budgets.any? %>
  <h3><%= page_entries_info @budgets %></h3>

  <table>
    <thead>
      <tr class="budget">
        <th><%= t("admin.budgets.index.table_name") %></th>
        <th><%= t("admin.budgets.index.table_phase") %></th>
        <th><%= t("admin.budgets.index.table_budget_type") %></th>
        <th><%= t("admin.budgets.index.table_edit_groups") %></th>
        <th><%= t("admin.budgets.index.table_duration") %></th>
        <th><%= t("admin.shared.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
        <tr id="<%= dom_id(budget) %>" class="budget">
          <td class="<%= "budget-completed" if budget.finished? %>">
            <% if budget.finished? %>
              <span>
                <%= t("admin.budgets.index.table_budget_completed") %>
              </span>
            <% end %>
            <strong><%= budget.name %></strong>
          </td>
          <td>
            <%= t("budgets.phase.#{budget.phase}") %>
            <br>
            <small>(<%= budget.current_enabled_phase_number %>/<%= budget.enabled_phases_amount %>)</small>
          </td>
          <td>
            <% if budget.single_heading? %>
              <%= t("admin.budgets.index.type_single") %>
            <% else %>
              <%= t("admin.budgets.index.type_multiple") %>
            <% end %>
          </td>
          <td>
            <% if budget.single_heading? %>
              <%= budget.headings.first.name %>
            <% else %>
              <%= link_to t("admin.budgets.index.edit_groups"), admin_budget_groups_path(budget) %>
            <% end %>
          </td>
          <td class="small">
            <%= phase_begin_date(budget.phases.first) %>
            -
            <%= phase_end_date(budget.phases.last) %>
            <br>
            <%= distance_of_time_in_words(phase_begin_date(budget.phases.first),
                                          phase_end_date(budget.phases.last)) %>
          </td>
          <td>
            <%= render "table_actions", budget: budget %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @budgets %>
<% else %>
  <div class="callout primary">
    <%= t("admin.budgets.index.no_budgets") %>
  </div>
<% end %>
