<div class="row">
  <div class="small-12 medium-9 column">
    <h2><%= @budget.name %> <small><%= link_to(t('shared.edit'), edit_admin_budget_path(@budget)) %></small></h2>

    <%= @budget.description %>

    <p>
      <strong><%= t('admin.budgets.show.phase') %>:</strong> <%= t("budget.phase.#{@budget.phase}") %> |
      <strong><%= t('admin.budgets.show.currency') %>:</strong> <%= @budget.currency_symbol %>
    </p>
  </div>
</div>

<div id="<%= dom_id @budget %>_groups" class="row">
  <%= render "groups", groups: @budget.groups %>
</div>
