<div class="row">
  <div class="small-12 medium-9 column">
    <h2><%= @budget.name %></h2>

    <%= simple_format(text_with_links(@budget.description), {}, sanitize: false) %>

    <p>
      <strong><%= t('admin.budgets.show.phase') %>:</strong> <%= t("budget.phase.#{@budget.phase}") %> |
      <strong><%= t('admin.budgets.show.currency') %>:</strong> <%= @budget.currency_symbol %>
    </p>
  </div>
</div>