<table class="clear activity-comments">
  <% @comments.each do |comment| %>
    <tr id="comment_<%= comment.id %>">
      <td>
        <%= comment_commentable_title(comment) %>
        <br>
        <%= comment.body %>
      </td>
      <td>
        <div id="<%= dom_id(comment) %>_reply" class="reply">
            <span id="<%= dom_id(comment) %>_votes" class="comment-votes right">
              <%= render 'comments/votes', comment: comment %>
            </span>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @comments %>
