<tr id="proposal_<%= proposal.id %>">
  <td>
    <%= link_to proposal.title, proposal, proposal.retired? ? { class: 'retired' } : {} %>
    <br>
    <%= proposal.summary %>
  </td>

  <% if proposal.retired? %>

    <td class="text-center">
      <span class="label alert"><%= t('users.proposals.retired') %></span>
    </td>

  <% elsif author?(proposal) %>

    <td class="text-center">
      <%= link_to t("users.proposals.send_notification"),
                  new_proposal_notification_path(proposal_id: proposal.id),
                  class: 'button hollow' %>
    </td>

    <td class="text-center">
      <% if proposal.retired? %>
        <span class="label alert"><%= t('users.proposals.retired') %></span>
      <% else %>
        <%= link_to t('users.proposals.retire'),
                    retire_form_proposal_path(proposal),
                    class: 'button hollow alert' %>
      <% end %>
    </td>

  <% end %>

</tr>
