<table class="clear activity-proposals">
  <% @proposals.each do |proposal| %>
    <tr id="proposal_<%= proposal.id %>">
      <td>
        <%= link_to proposal.title, proposal, proposal.retired? ? {class: 'retired'} : {} %>
        <br>
        <%= proposal.summary %>
      </td>

      <% if author_or_admin? %>
        <td class="text-center">
          <% if proposal.retired? %>
            <span class="label alert"><%= t('users.show.retired') %></span>
          <% else %>
            <%= link_to t('users.show.retire'),
                        retire_form_proposal_path(proposal),
                        class: 'delete' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @proposals %>