<tr id="proposal_<%= proposal.id %>">
  <td class="small-9">
    <strong><%= link_to proposal.title, proposal, proposal.retired? ? { class: 'retired' } : {} %></strong>
    <br>
    <%= proposal.summary %>
  </td>

  <% if proposal.retired? %>

    <td class="text-center" colspan="2">
      <span class="label alert"><%= t('users.proposals.retired') %></span>
    </td>

  <% elsif can?(:dashboard, proposal) %>
    <td>
      <% if proposal.retired? %>
        <span class="label alert"><%= t('users.proposals.retired') %></span>
      <% else %>
        <%= link_to t('proposals.show.dashboard_proposal_link'), 
                    proposal_dashboard_index_path(proposal), class: 'button hollow expanded' %>
      <% end %>
    </td>
  <% else %>

    <td class="text-center" colspan="2">
      <%= link_to t('users.proposals.see'), proposal, class: 'button hollow' %>
    </td>

  <% end %>

</tr>
