<main>
  <div class="activity row margin-top">
    <div class="small-12 column">
      <!-- Change link to delegation page -->
      <%= link_to "#", class: "button hollow float-right delegation" do %>
        <small><%= t("users.show.delegation") %></small>
      <% end %>
      <!-- Change link to delegation page -->

      <% if @user != current_user %>
        <% if @user.email_on_direct_message? %>
          <%= link_to t("users.show.send_private_message"),
                      new_user_direct_message_path(@user),
                      class: "button hollow float-right" %>
        <% else %>
          <div class="callout primary float-right">
            <%= t("users.show.no_private_messages") %>
          </div>
        <% end %>
      <% end %>

      <h2 class="inline-block">
        <%= avatar_image(@user, seed: @user.id, size: 60) %>
        <%= @user.name %>
        <% if current_administrator? %>
          <small><%= @user.email %></small>
        <% end %>
      </h2>

      <% if @user.public_activity || @authorized_current_user %>
        <ul class="menu simple margin-top">
          <% @valid_filters.each do |filter| %>
            <% if @activity_counts[filter] > 0 %>
              <% if @current_filter == filter %>
                <li class="active">
                  <%= t("users.show.filters.#{filter}", count: @activity_counts[filter]) %>
                </li>
              <% else %>
                <li>
                  <%= link_to t("users.show.filters.#{filter}", count: @activity_counts[filter]),
                              current_path_with_query_params(filter: filter, page: 1) %>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <%= t("users.show.no_activity") if @activity_counts.values.inject(&:+) == 0 %>
        </ul>

        <%= render "activity_page" %>
      <% else %>
        <p><%= t('users.show.private_activity') %></p>
      <% end %>

    </div>
  </div>
</main>

<!-- Move to delegation page -->
<div class="row">
  <div class="small-12 column">
    <h1><%= t("delegation.title") %></h1>
    <p>
      <%= t("delegation.text") %><br>
      <%= t("delegation.help_html") %>
    </p>
  </div>

  <div class="small-12 medium-6 column">
    <form>
      <label>ID de proyecto de gasto</label>
      <span class="note"><%= t("delegation.form_label_note") %></span>
      <textarea></textarea>
      <input type="submit" value="<%= t('delegation.form_submit') %>" class="button">
    </form>
  </div>
  <div class="small-12 column">
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <%= t("delegation.table_head") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- each investment project do -->
        <tr>
          <td>
            <%= link_to "Título de la propuesta", "#" %>
          </td>
          <td class="text-right">
            <%= link_to "Eliminar de mi lista", "#", class: "delete" %>
          </td>
        </tr>
        <!-- /. each investment project do -->
      </tbody>
    </table>
  </div>
</div>
<!-- /. Move to delegation page -->
