<main>
  <div class="activity row margin-top">
    <div class="small-12 column">

      <% if @user != current_user %>
        <% if @user.email_on_direct_message? %>
          <%= link_to t("users.show.send_private_message"),
                      new_user_direct_message_path(@user),
                      class: "button hollow float-right" %>
        <% else %>
          <div class="callout primary float-right">
            <%= t("users.show.no_private_messages") %>
          </div>
        <% end %>
      <% end %>

      <h2 class="inline-block">
        <%= avatar_image(@user, seed: @user.id, size: 60) %>
        <%= @user.name %>
        <% if current_administrator? %>
          <small><%= @user.email %></small>
        <% end %>
      </h2>

      <%= render Users::PublicActivityComponent.new(@user) %>
    </div>
  </div>
</main>
