<h1 class="text-center"><%= t("devise_views.passwords.edit.title") %></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "off",
                         label: t("devise_views.passwords.edit.password_label") %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",
                         label: t("devise_views.passwords.edit.password_confirmation_label") %>
  </div>

  <div class="actions">
    <%= f.submit t("devise_views.passwords.edit.change_submit") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
