<footer>
<!-- main-indented-content ??? -->
  <div class="bgblack">
    <div class="main-indented-content">
      <div class="footer-links-wrapper">
        <ul class="no-bullet inline-block footer-links">
          <li><%= link_to t("custom.titles.about"), page_path("o-participativnem-proracunu") %><span>|<span></li>
          <li><%= link_to t("layouts.footer.conditions"), page_path(t("custom.meta.tos")) %><span>|</span></li>
          <li>
            <%= layout_menu_link_to t("layouts.header.help"),
                                    help_path,
                                    current_page?(help_path),
                                    accesskey: "6",
                                    title: t("shared.go_to_page") + t("layouts.header.help") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-indented-content">
    <div class="footer-logos">
      <%= image_tag(image_path_for("municipalities/default.png")) %>
      <div class="logo-right">
        <span>Za platformo skrbi</span>
        <%= image_tag(image_path_for("logo-djnd.png")) %>
        <!--<h1 class="logo-djnd <%= t("custom.classes.footer_logo") %>">logo djnd</h1>-->
      </div>
    </div>
  </div>
  <!-- analytics -->
  <!-- TODO -->
  <!-- end of analytics -->
</footer>
