<div class="main-indented-content">
  <div class="footer-logos">
    <div>
      <a href="/" target="_blank">
        <%= image_tag(image_path_for("municipalities/mestna_obcina_maribor_logo-3.svg")) %>
      </a>
      <a href="/" target="_blank">
        <%= image_tag(image_path_for("municipalities/pip.png")) %>
      </a>
      <a href="/" target="_blank">
        <%= image_tag(image_path_for("municipalities/prizma.png")) %>
      </a>
    </div>
    <div class="logo-right">
      <span>Za platformo skrbi</span>
      <%= image_tag(image_path_for("logo-djnd.png")) %>
      <!--<h1 class="logo-djnd <%= t("custom.classes.footer_logo") %>">logo djnd</h1>-->
    </div>
  </div>
</div>