<header>
  <div class="row">
    <div class="top-bar">
      <div class="columns small-6 medium-4 large-3">
        <%= render "shared/locale_switcher" %>
      </div>
      <div class="columns small-1">
        <div class="show-for-small-only">
          <%= render "layouts/notification_item" %>
        </div>
      </div>
      <div class="columns small-2">
        <div class="show-for-small-only">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "shared/admin_login_items" %>
          </ul>
        </div>
      </div>
      <div class="columns small-3 medium-8 large-9">
        <div class="show-for-small-only">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>
        <div class="hide-for-small-only">
          <div class="top-bar-right">
            <ul class="menu float-right" data-responsive-menu="medium-dropdown">
              <%= render "shared/admin_login_items" %>
              <%= render "layouts/notification_item" %>
              <%= render "devise/menu/login_items" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-bar">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu")%>
      </span>
      <%= link_to root_path, class: "hide-for-small-only", accesskey: "/" do %>
        <%= image_tag('logo.svg') %>
      <% end %>
      <div class="top-bar-title float-right">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for('logo_header.png'), class: 'float-right', alt: t("layouts.header.logo")) %>
        <% end %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <div class="show-for-small-only">
            <ul class="menu" data-responsive-menu="medium-dropdown">
              <%= render "shared/subnavigation" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>
