<header class="header-global">
  <div class="alert alert-warning py-1 my-0 text-center" role="alert">This open source project is currently in development.<a href="https://github.com/galouli/consul" target="_blank" class="alert-link">Visit the Github repository.</a>
    Contributions are welcome
  </div>
<nav class="navbar navbar-expand bg-primary text-white py-0 pb-2">
  <div class="container-xxl d-flex flex-wrap justify-content-center py-0">
    <%= link_to root_path, accesskey: "0" do %>
    <%= image_tag(image_path_for("logo_header.png"), class:"navbar-brand py-0", alt: setting["org_name"]) %>
  <% end %>
  <div class="collapse navbar-collapse justify-content-sm-end justify-content-center gap-3" id="navbarsExample02">
    <div class="navbar-nav">
      <%= render "devise/menu/login_buttons" %>
      <%= render "shared/admin_login_items" %>
      <%= render "layouts/notification_item" %>
      <%= render "devise/menu/login_items" %>
    </div>
  </div>
</div>
</nav>
<nav class="navbar navbar-dark navbar-expand-lg bg-primary text-white py-0">
  <div class="container-xxl d-flex flex-wrap justify-content-center py-0">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartohide" aria-controls="navbartohide" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav ms-auto order-lg-2">
    <%= render "shared/locale_switcher" %>
  </div>
  <div class="collapse navbar-collapse order-lg-1" id="navbartohide">
    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
      <%= render "shared/subnavigation" %>
    </ul>
  </div>
</div>

</nav>
</header>
