<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>" data-current-user-id="<%= current_user&.id %>">
  <head>

    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= content_for :canonical %>
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= raw setting["html.per_page_code_head"] %>
    <% unless Rails.env.development? %>
      <%= render "/layouts/inclusite_header" %>
    <% end %>
  </head>
  <body>
    <% unless Rails.env.development? %>
      <ul id="__inclusite__tab__" class="tabinclusite" style="left: -57px;">
        <li id="__inclusite__tab__li">
          <a title="Web accesible." href="#">
            <img alt="Web accesible." class="logo_inclusite" src="https://decidim--castello--es.accesible.inclusite.com/inclusite/ca-ES/images/logo_inclusite.png">
          </a>
          <a id="inclu_arrow" class="inclu_arrow_right" style="cursor: pointer;">
          </a>
        </li>
      </ul>
    <% end %>


    <!-- <h1 class="show-for-sr"><%= setting['org_name'] %></h1> -->

    <div class="wrapper <%= yield (:wrapper_class) %>">
      <%= render 'layouts/header' %>

      <% if request.headers["User-Agent"] =~ /MSIE/ && cookies["ie_alert_closed"] != "true" %>
      <!--[if lt IE 9]>
        <div data-alert class="callout primary ie-callout" data-closable>
          <button class="close-button ie-callout-close-js"
                  aria-label="<%= t("application.close") %>" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <h2><%= t("layouts.application.ie_title") %></h2>
          <p>
            <%= sanitize(t("layouts.application.ie",
            chrome: link_to(
                    t("layouts.application.chrome"), "https://www.google.com/chrome/browser/desktop/", title: t("shared.target_blank"), target: "_blank"),
            firefox: link_to(
                     t("layouts.application.firefox"), "https://www.mozilla.org/firefox", title: t("shared.target_blank"), target: "_blank")
            )) %>
          </p>
        </div>
      <![endif]-->
      <% end %>


      <%= render 'layouts/flash' %>
      <%= yield %>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <!--[if lt IE 9]>
    <%# javascript_include_tag "ie_lt9" %>
  <![endif]-->
</html>
