<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <title><%= content_for?(:title) ? yield(:title) : t('layouts.application.title') %></title>
    <%= stylesheet_link_tag    "application" %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "apple-touch-icon-200.png",
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= setting['per_page_code'].try(:html_safe) %>

    <% unless Rails.env.development? %>
      <%= render "/layouts/inclusite_header" %>
    <% end %>
  </head>
  <body>
    <% unless Rails.env.development? %>
      <ul id="__inclusite__tab__" class="tabinclusite" style="left: -57px;">
        <li id="__inclusite__tab__li">
          <a title="Web accesible." href="#">
            <img alt="Web accesible." class="logo_inclusite" src="https://decidim--castello--es.accesible.inclusite.com/inclusite/ca-ES/images/logo_inclusite.png">
          </a>
          <a id="inclu_arrow" class="inclu_arrow_right" style="cursor: pointer;">
          </a>
        </li>
      </ul>
    <% end %>
    <!-- <h1 class="show-for-sr"><%= setting['org_name'] %></h1> -->

    <div class="wrapper <%= yield (:wrapper_class) %>">
      <%= render 'layouts/header' %>


      <%= render 'layouts/flash' %>
      <hr>
      <%= yield %>
      <hr>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie_lt9" %>
  <![endif]-->
</html>
