<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body class="auth-page">
    <%= raw setting["html.per_page_code_body"] %>
    <div class="wrapper">

      <%= render "layouts/header", with_subnavigation: false %>

      <main class="bggray">
        <div class="main-indented-content">
          <div class="row">
            <div class="small-12 medium-8 small-centered column">
              <div class="auth-form margin">
                <%= render "layouts/flash" %>

                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
