<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= content_for?(:title) ? yield(:title) : "Más democracia en Europa" %></title>
    <%= render "layouts/meta_tags" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body class="auth-page">
    <div class="wrapper" data-equalizer>
      <div class="auth-image small-12 medium-3 column" data-equalizer-watch>
        <h1 class="logo margin">
          <%= link_to root_path, accesskey: "0" do %>
            <%= image_tag(image_path_for("white_logo_mas_democracia_eu.png"),
                          class: "float-left",
                          alt: t("layouts.header.logo")) %>
            <span><%= setting["org_name"] %></span>
          <% end %>
        </h1>
      </div>
      <div class="small-12 medium-9 column" data-equalizer-watch>
        <div class="row">
          <div class="small-12 medium-9 large-7 small-centered column">
            <div class="auth-form margin">
              <%= render 'layouts/flash' %>

              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <div class="footer">
      <% if setting['org_name'] != 'MASDEMOCRACIAEUROPA' %>
        <%= render 'layouts/footer' %>
      <% else %>
        <%= render 'layouts/footer_democracy_eu' %>
      <% end %>
    </div>

  </body>
</html>
