<div id="<%= dom_id(proposal) %>" class="proposal-sucessfull">
  <h3><%= link_to proposal.title, proposal %></h3>
  <div class="info">
    <% if proposal.author.hidden? || proposal.author.erased? %>
      <%= t("proposals.show.author_deleted") %>
    <% else %>
      <%= proposal.author.name %>
    <% end %>

    <span class="bullet">&nbsp;&bull;&nbsp;</span>
    <%= l proposal.created_at.to_date %>
  </div>
</div>
