<div class="expanded no-margin-top margin-bottom padding successfull-heading">
  <div class="row" data-equalizer>
    <div class="small-12 medium-8 column" data-equalizer-watch>
      <h2>
        <%= t("proposal_ballots.title") %>
      </h2>
      <p>
        <%= t("proposal_ballots.description_html",
            supports: Setting['votes_for_proposal_success'].to_i).html_safe %>
      </p>
    </div>

    <div class="small-12 medium-4 column info" data-equalizer-watch>
      <p><span class="icon-calendar"></span>&nbsp;<%= t("proposal_ballots.date_title") %></p>
      <h3><%= t("proposal_ballots.date") %></h3>
    </div>
  </div>
</div>

<main>
  <div class="row">
    <div class="small-12 column">
      <% if @proposal_ballots.present? %>
        <div class="proposals-ballot-list">
          <% @proposal_ballots.each do |proposal_for_vote| %>
            <%= render "successfull_proposal", proposal: proposal_for_vote %>
          <% end %>
        </div>
      <% else %>
        <p>
          <%= t("proposal_ballots.nothing_to_vote") %>
        </p>
      <% end %>
    </div>
  </div>
</main>
