<% provide :title do %><%= t("proposal_ballots.title") %><% end %>
<div class="expanded no-margin-top margin-bottom dark-heading">
  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column padding" data-equalizer-watch>
      <h2>
        <%= t("proposal_ballots.title") %>
      </h2>
      <p>
        <%= t("proposal_ballots.description_html").html_safe %>
      </p>
    </div>

    <div class="small-12 medium-4 column info" data-equalizer-watch>
      <p class="title"><strong><%= t("proposal_ballots.date_title") %></strong></p>
      <p class="title-date"><%= t("proposal_ballots.date") %></p>
    </div>
  </div>
</div>

<main>
  <div class="row">
    <div class="small-12 column">
      <% if @proposal_ballots.present? %>
        <div class="proposals-ballot-list">
          <% @proposal_ballots.each do |proposal_for_vote| %>
            <%= render "successfull_proposal", proposal: proposal_for_vote %>
          <% end %>
        </div>
      <% else %>
        <p>
          <%= t("proposal_ballots.nothing_to_vote") %>
        </p>
      <% end %>
    </div>
  </div>
</main>
