
<% question_answer = question.answers.where(author_id: current_user.try(:id)).first %>
<% answers_by_question_id = {question.id => question_answer.try(:answer)} %>

<div class="poll-question-answers">
  <% if can? :answer, question %>
    <% question.valid_answers.sort { |a, b| Random.rand <=> Random.rand }.each do |answer| %>
      <div class="row">
        <div class="small-6 large-6 columns">
          <%= link_to image_tag("concurs_cartell_magdalena_2018/cartel_#{answer}_p.jpg"), asset_path("concurs_cartell_magdalena_2018/cartel_#{answer}.jpg"), target: "_blank" %>
        </div>
        <div class="small-6 large-6 columns">
          <h2><%= t("pages.cartel_magdalena_2018.cartel_#{answer}.lema") %></h2>
          <% if answers_by_question_id[question.id] == answer %>
            <span class="button answered" title="<%= t("poll_questions.show.voted", answer: answer)%>">
              <!-- <%# answer %> -->
              <%= t("pages.cartel_magdalena_2018.cartel_#{answer}.title") %>
            </span>
          <% else %>
            <% if question_answer.nil? %>
              <%= link_to "#{t('poll_questions.show.vote_answer', answer: t("pages.cartel_magdalena_2018.cartel_#{answer}.title"))}",
                answer_question_path(question, answer: answer),
                method: :post,
                data: { confirm: t('pages.cartel_magdalena_2018.confirm_votacion') },
                remote: true,
                title: t("poll_questions.show.vote_answer", answer: t("pages.cartel_magdalena_2018.cartel_#{answer}.lema")),
                class: "button secondary hollow" %>
            <% else %>
              <span class="button secondary hollow disabled">
                <%= "#{t('poll_questions.show.vote_answer', answer: t("pages.cartel_magdalena_2018.cartel_#{answer}.title"))}" %>
              </span>
            <% end %>
          <% end %>
        </div>
        <hr>
      </div>
    <% end %>
  <% else %>
    <% question.valid_answers.sort { |a, b| Random.rand <=> Random.rand }.each do |answer| %>
      <div class="row">
        <div class="small-6 large-6 columns">
          <%= link_to image_tag("concurs_cartell_magdalena_2018/cartel_#{answer}_p.jpg"), asset_path("concurs_cartell_magdalena_2018/cartel_#{answer}.jpg"), target: "_blank" %>
        </div>
        <div class="small-6 large-6 columns">
          <h2><%= t("pages.cartel_magdalena_2018.cartel_#{answer}.lema") %></h2>
          <span class="button secondary hollow disabled">
            <%= "#{t('poll_questions.show.vote_answer', answer: t("pages.cartel_magdalena_2018.cartel_#{answer}.title"))}" %>
          </span>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
