
<% question_answer = question.answers.where(author_id: current_user.try(:id)).first %>
<% answers_by_question_id = {question.id => question_answer.try(:answer)} %>
<div class="poll-question-answers">
  <% if can? :answer, question %>
    <% question.valid_answers.sort { |a, b| Random.rand <=> Random.rand }.each do |answer| %>
      <div class="row">
        <div class="small-10 large-10 columns">
          <% if answers_by_question_id[question.id] == answer %>
            <span class="button answered" title="<%= t("poll_questions.show.voted", answer: answer)%>">
              <%= answer %>
            </span>
          <% else %>
            <%= link_to answer,
              answer_question_path(question, answer: answer),
              method: :post,
              remote: true,
              title: t("poll_questions.show.vote_answer", answer: answer),
              class: "button secondary hollow" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% question.valid_answers.sort { |a, b| Random.rand <=> Random.rand }.each do |answer| %>
      <div class="row">
        <div class="small-8 large-8 columns">
          <%= image_tag 'custom/concurs_cartell_magdalena_2018/cartel_2017.jpg' %>
        </div>
        <div class="small-4 large-4 columns">
          <span class="button secondary hollow disabled"><%= answer %></span>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
