<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.proposal_created.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.proposal_created.hi") %> <strong><%= @official.username %></strong>,
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.proposal_created.new_proposal_by", creator: @proposal.author.name)) %>: 
    <%= link_to @proposal.title, proposal_url(@proposal), style: "color: #2895F1; text-decoration:none;" %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 12px;font-weight: normal;line-height: 20px;">
    <%= t("mailers.proposal_created.why") %>
  </p>
</td>
