<div class="small-12 medium-12 columns">
  <%= link_to t("shared.advanced_search.title"), "#", id: 'js-advanced-search-title' %>
</div>

<%= form_tag search_path, method: :get do %>
  <div id='js-advanced-search'
      data-advanced-search-terms=<%= @advanced_search_terms.present? %>
      style="display: none">

    <div class="small-12 medium-12 advanced-search columns">
      <h5 class='search-option inline-block'><%= t("shared.advanced_search.general") %></h5>
      <%= text_field_tag "search", params[:search],
                         placeholder: t("shared.advanced_search.general_placeholder") %>
    </div>

    <div class="small-12 medium-6 advanced-search columns">
      <h5 class='search-option'><%= t("shared.advanced_search.author_type") %></h5>
      <%= select_tag('advanced_search[official_level]', official_level_search_options,
                    include_blank: t("shared.advanced_search.author_type_blank")) %>
    </div>

    <div class="small-12 advanced-search columns">
      <h5 class='search-option'><%= t("shared.advanced_search.date") %></h5>
      <%= select_tag('advanced_search[date_min]', date_range_options,
                    include_blank: t("shared.advanced_search.date_range_blank"),
                    id: 'js-advanced-search-date-min') %>

      <div id='js-customized-date' class='inline-block' style="display: none">
        &nbsp;&nbsp;
        <%= t("shared.advanced_search.from") %>:
        <div class='inline-block'>
          <%= date_field 'advanced_search', 'date_min', max: Date.today,
                         value: params[:advanced_search].try(:[], :date_min) %>
        </div>
        &nbsp;&nbsp;
        <%= t("shared.advanced_search.to") %>:
        <div class='inline-block'>
          <%= date_field 'advanced_search', 'date_max', max: Date.today,
                         value: params[:advanced_search].try(:[], :date_max) %>
        </div>
      </div>
    </div>

    <div class="small-6 medium-3 offset advanced-search columns">
      <%= submit_tag t("shared.advanced_search.search"), class: 'button postfix' %>
    </div>

  </div>

<% end %>

<hr>