<% if resource.author.hidden? || resource.author.erased? %>
  <i class="icon-deleted author-deleted"></i>
  <span class="author deleted">
      <%= t("shared.author_info.author_deleted") %>
  </span>
<% else %>
  <%= avatar_image(resource.author, seed: resource.author_id, size: 32, class: 'author-photo') %>
  <span class="author">
      <%= link_to resource.author.name, user_path(resource.author) %>
  </span>
  <% if resource.author.official? %>
    &nbsp;&bull;&nbsp;
    <span class="label round level-<%= resource.author.official_level %>">
      <%= resource.author.official_position %>
    </span>
  <% end %>
<% end %>

<% if resource.author.verified_organization? %>
  &nbsp;&bull;&nbsp;
  <span class="label round is-association">
    <%= t("shared.collective") %>
  </span>
<% end %>
