<% banner = @banners.sample %>
<div class="<%= banner.style %>">
  <div class="<%= banner.image %>">
    <%= link_to banner.target_url do %>
      <h2><%=banner.title %></h2>
      <h3><%=banner.description %></h3>
    <% end %>
  </div>
</div>
