<div class="countdown" data-countdown="<%= 1.week.from_now %>" >
  <div class="number">
    <span class="value" data-days></span>
    <div class="counter-text"><%= t("shared.counter.days") %></div>
  </div>
  <div class="number">
    <span class="value" data-hours></span>
    <div class="counter-text"><%= t("shared.counter.hours") %></div>
  </div>
  <div class="number">
    <span class="value" data-minutes></span>
    <div class="counter-text"><%= t("shared.counter.minutes") %></div>
  </div>
  <div class="number">
    <span class="value" data-seconds></span>
    <div class="counter-text"><%= t("shared.counter.seconds") %></div>
  </div>
</div>
