<div class="related-content padding">

  <div class="margin-bottom">
    <h2 class="inline-block">
      <%= t("related_content.title") %>&nbsp;<span>(6)</span> <!-- Change number to related_content.count -->
    </h2>

    <a data-toggle="related_content" class="add-related-content">
      <%= t("related_content.add") %>
    </a>
  </div>

  <form id="related_content" class="hide" data-toggler=".hide"> <!-- Change to rails form, maintaining all Id/Classes -->

    <label><%= t("related_content.label") %></label>

    <p class="help-text" id="related_content_help_text">
      <%= t("related_content.help", org: setting['org_name']) %>
    </p>

    <div class="input-group">
      <div class="input-group-field">
        <input type="text" name="related-content"
                           aria-describedby="related_content_help_text"
                           placeholder="<%= t("related_content.placeholder", url: setting['url']) %>">
      </div>
      <div class="input-group-button">
        <input type="submit" class="button" value="<%= t("related_content.submit") %>">
      </div>
    </div>
  </form>

  <!-- Flash error -->
  <div class="callout alert">
    <%= t("related_content.error", url: setting['url']) %>
  </div>
  <!-- /. Flash error -->

  <ul class="related-content-list">
    <!-- Each related item do -->
    <li>
      <a href="#" class="float-right flag">
        <span class="icon-flag"></span> <!-- This should be similar to comments/flag_actions -->
      </a>
      <span>DEBATE</span><br> <!-- This name has to change depending of item type -->
      <h3 class="inline-block">
        <%= link_to "Título del contenido relacionado", "#" %>
      </h3>
    </li>
    <!-- /.Each related item do -->
  </ul>

  <!-- Add pagination here -->

</div>
