<% # Params:
   #
   #   i18n_namespace: for example "debates.index.search_form"
   #   search_path: for example debates_path
%>

<div class="search-form">
  <div class="row">

    <%= form_tag search_path, method: :get do %>
    <div class="small-12 column">
      <div class="row collapse">
        <div class="small-10 column">
          <label for="search-form-header" class="sr-only"><%= t("#{i18n_namespace}.title") %>-header</label>
          <input type="text" id="search-form-header" name="search" placeholder="<%= t("#{i18n_namespace}.placeholder") %>" class="search-form">
        </div>
        <div class="small-2 column">
          <button type="submit" class="button postfix" title="<%= t("#{i18n_namespace}.button") %>-header">
            <span class="sr-only"><%= t("#{i18n_namespace}.button") %>-header</span>
            <i class="icon-search"></i>
          </button>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
