<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "1" %>
      </li>
    <% end %>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller_name == 'proposals',
                                accesskey: "2" %>
    </li>

    <% if feature?(:polls) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  first_voting_path,
                                  controller_name == 'pages' &&
                                  params[:id] == 'landings/first_voting',
                                  accesskey: "3" %>
    <% end %>

    <% if feature?(:legislation) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "l" %>
      </li>
    <% end %>

    <li>
      <%= link_to t("layouts.header.processes"),
                    processes_path,
                    class: ("active" if current_page?(processes_path)),
                    accesskey: "4"  %>
    </li>

    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  participatory_budget_path,
                                  controller_name == 'spending_proposals',
                                  accesskey: "s" %>
      </li>
    <% end %>

    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_welcome_path,
                                  controller_name == "budgets" || controller_name == "investments" || current_page?(budgets_welcome_path),
                                  accesskey: "5" %>
      </li>
    <% end %>

    <li>
      <%= link_to t("layouts.header.more_info"),
                    more_info_path,
                    accesskey: "6",
                    class: ("active" if current_page?(more_info_path)) %>
    </li>
  </ul>
</div>
