<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "1" %>
      </li>
    <% end %>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller_name == 'proposals',
                                accesskey: "2" %>
    </li>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposal_ballot"),
                                proposal_ballots_path,
                                controller_name == 'proposal_ballots',
                                accesskey: "3" %>
    </li>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  spending_proposals_path,
                                  controller_name == 'spending_proposals',
                                  accesskey: "s" %>
      </li>
    <% end %>
    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_path,
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "4" %>
      </li>
    <% end %>
  </ul>
</div>
