<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "d" %>
      </li>
    <% end %>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller_name == 'proposals',
                                accesskey: "p" %>
    </li>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposal_ballot"),
                                first_voting_path,
                                current_page?(first_voting_path),
                                accesskey: "v" %>
    </li>
    <li>
      <%= link_to t("layouts.header.processes"), processes_path, class: ("active" if current_page?(processes_path)), accesskey: "o"  %>
    </li>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  participatory_budget_path,
                                  controller_name == 'spending_proposals',
                                  accesskey: "s" %>
      </li>
    <% end %>
  </ul>
</div>
