<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= link_to t("layouts.header.debates"), debates_path, class: ("active" if controller_name == "debates"), accesskey: "d" %>
      </li>
    <% end %>
    <li>
      <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if  controller_name == "proposals"), accesskey: "p" %>
    </li>
    <li>
      <%= link_to t("layouts.header.processes"), "/processes",
              class: ("active" if current_page?("/processes") || current_page?("/processes_ordinance")), accesskey: "o"  %>
    </li>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= link_to t("layouts.header.spending_proposals"), participatory_budget_path, class: ("active" if controller_name == "spending_proposals"), accesskey: "s" %>
      </li>
    <% end %>
    <li>
      <%= link_to t("layouts.header.more_information"), page_path('more_information'), class: ("active" if current_page?("/more_information")), accesskey: "i"  %>
    </li>
  </ul>
</div>
