<section class="top-links hide-for-small-only">
  <div class="row">
    <%= render "shared/locale_switcher" %>
    <div class="external-links">
      <%= link_to t("layouts.header.more_information"), page_path('more_information'), class: ("selected" if current_page?("/more_information")), accesskey: "i"  %>&nbsp;|
      <%= link_to t("layouts.header.external_link_transparency"), t("layouts.header.external_link_transparency_url") %>&nbsp;|
      <%= link_to t("layouts.header.external_link_opendata"), "/opendata", class: ("selected" if current_page?("/opendata")) %>
      <% if setting['blog_url'] %>
        &nbsp;|
        <%= link_to setting['blog_url'], title: t('shared.target_blank_html'), target: "_blank" do %>
          <%= t("layouts.header.external_link_blog") %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
