<% # Params:
   #
   #   i18n_namespace: for example "moderation.debates.index"
%>

<% if @valid_orders.present? && @valid_orders.count > 1 %>
  <div class="wide-order-selector small-12">
    <form>
      <div class="small-12 medium-6 large-4">
        <label for="order-selector-participation">
          <%= t("#{i18n_namespace}.select_order") %>
        </label>
        <select class="js-location-changer js-order-selector select-order"
                data-order="<%= @current_order %>" name="order-selector"
                id="order-selector-participation">
          <% @valid_orders.each do |order| %>
            <% value = current_path_with_query_params(order: order, page: 1) %>
            <option value="<%= value %>" <%= "selected" if order == @current_order %>>
              <%= t("#{i18n_namespace}.orders.#{order}") %>
            </option>
          <% end %>
        </select>
      </div>
    </form>
  </div>
<% end %>
