<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_meetings_2016_url %>
<% end %>

<div class="row">
  <div class="text small-12 column">

    <%= back_link_to :back, t("spending_proposals.new.back_link") %>

    <h1><%= t('pages.more_info.titles.meetings') %></h1>

    <p>Puedes participar presentando tus propuestas o apoyándolas y votándolas cuando se abran esas fases tanto directamente en esta web, como en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" title="(se abre en ventana nueva)" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes en todos los distritos.</p>

    <p>Además ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatorias por distrito</h2>

    <table class="table-fixed">
      <thead>
        <tr>
          <th scope="col">Distrito</th>
          <th scope="col" class="text-center">Día</th>
          <th scope="col" class="text-center">Hora</th>
          <th scope="col">Lugar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Arganzuela</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Barajas</td>
          <td class="text-center">15/06/2016</td>
          <td class="text-center">18:00h</td>
          <td>Junta de Distrito de Barajas</td>
        </tr>
        <tr>
          <td>Carabanchel</td>
          <td class="text-center">14/6/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural de Oporto (Avda. de Oporto, 78)</td>
        </tr>
        <tr>
          <td>Centro</td>
          <td class="text-center">11/6/2016</td>
          <td class="text-center">11:30</td>
          <td>Plaza de la Cebada</td>
        </tr>
        <tr>
          <td>Chamartín</td>
          <td class="text-center">13/6/2016</td>
          <td class="text-center">18:30</td>
          <td>Junta Municipal Distrito de Chamartín (C/ Príncipe de Vergara, 142)</td>
        </tr>
        <tr>
          <td>Chamberí</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Ciudad Lineal</td>
          <td class="text-center">15/6/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural Principe de Asturias (C/ Hermanos García Noblejas, 14)</td>
        </tr>
        <tr>
          <td>Fuencarral – El Pardo</td>
          <td class="text-center">20/6/2016</td>
          <td class="text-center">19:00</td>
          <td>Centro Cultural La Vaguada (Avda. de Monforte de Lemos, 36-38)</td>
        </tr>
        <tr>
          <td>Hortaleza</td>
          <td class="text-center">18/6/2016</td>
          <td class="text-center">11:00</td>
          <td>Centro Cultural Hortaleza (C/ Santa Virgilia, 15)</td>
        </tr>
        <tr>
          <td>Latina</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Moncloa - Aravaca</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Moratalaz</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Puente de Vallecas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Retiro</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Salamanca</td>
          <td class="text-center">14/6/2016</td>
          <td class="text-center">18:00</td>
          <td>Centro Cultural Buenavista (Avda. Los Toreros, 5)</td>
        </tr>
        <tr>
          <td>San Blas - Canillejas</td>
          <td class="text-center">21/6/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural Buero Vallejo</td>
        </tr>
        <tr>
          <td>Tetuán</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Usera</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Vicálvaro</td>
          <td class="text-center">16/6/2016</td>
          <td class="text-center">18:00</td>
          <td>Centro Social Polivalente de Vicálvaro (Avda. Real, 4)</td>
        </tr>
        <tr>
          <td>Villa de Vallecas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Villaverde</td>
          <td class="text-center">16/6/2016</td>
          <td class="text-center">18:00</td>
          <td>Centro Cultural Santa Petronila (C/ María Martínez Oviol, 12)</td>
        </tr>
      </tbody>
    </table>

    <h2>Caravana de presupuestos participativos</h2>

    <table class="table-fixed">
      <thead>
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Horario</th>
          <th scope="col">Turno</th>
          <th scope="col">Distrito</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Dirección Exacta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lunes 6</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Moncloa-Aravaca</td>
          <td>Intercambiador de Moncloa</td>
          <td>Estacionamiento entre Princesa y el Paseo del Pintor Rosales</td>
        </tr>
        <tr>
          <td>Lunes 6</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Ciudad Lineal </td>
          <td>Biblioteca pública Ciudad Lineal</td>
          <td>Entrada principal. Calle Hermanos García Noblejas, 14</td>
        </tr>
        <tr>
          <td>Martes 7 </td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Chamberí</td>
          <td>Calle Fuencarral</td>
          <td>Entre el número 123 y la Glorieta de Quevedo</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Fuencarral-El Pardo</td>
          <td>Centro Comercial La Vaguada</td>
          <td>Esquina Monforte de Lemos con Ginzo de Limia</td>
        </tr>
        <tr>
          <td>Jueves 9</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Villaverde</td>
          <td>Mercadillo</td>
          <td>Paseo Gigantes y Cabezudos</td>
        </tr>
        <tr>
          <td>Jueves 9</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Villa de Vallecas</td>
          <td>Paseo Federico García Lorca (Feria de Empleo)</td>
          <td>Salida metro Villa de Vallecas</td>
        </tr>
        <tr>
          <td>Viernes 10</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Hortaleza</td>
          <td>Centro Comercial Palacio de Hielo</td>
          <td>Calle Silvano con la Avenida de Machupichu</td>
        </tr>
        <tr>
          <td>Lunes 13</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Salamanca</td>
          <td>Plaza Salvador Dalí, avenida Felipe II</td>
          <td>Frente a El Corte Inglés</td>
        </tr>
        <tr>
          <td>Martes 14</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Carabanchel</td>
          <td>Glorieta Valle de Oro</td>
          <td>Junto a la boca de metro de Oporto</td>
        </tr>
        <tr>
          <td>Miércoles 15</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Chamartín</td>
          <td>Mercado de Chamartín</td>
          <td>Calle Potosí, 9</td>
        </tr>
        <tr>
          <td>Jueves 16</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Tetuán</td>
          <td>Plaza Canal de Isabel II</td>
          <td>Calle Bravo Murillo, frente al 224</td>
        </tr>
        <tr>
          <td>Viernes 17</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Moratalaz</td>
          <td>Plaza del Encuentro</td>
          <td>Plaza del Encuentro, espacio peatonal frente al Carrefour</td>
        </tr>
        <tr>
          <td>Martes 21</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Barajas</td>
          <td>Plaza de Cristina Arce y Rocio Oña</td>
          <td>Calle de la Carabela con Calle Corbeta</td>
        </tr>
        <tr>
          <td>Miércoles 22</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>San Blas - Canillejas</td>
          <td>Intercambiador de Canillejas</td>
          <td>Zona peatonal</td>
        </tr>
        <tr>
          <td>Jueves 23</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Vicálvaro</td>
          <td>Mercadillo</td>
          <td>Calle Villablanca (recinto ferial)</td>
        </tr>
        <tr>
          <td>Viernes 24</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Puente de Vallecas</td>
          <td>Esquina Av. Albufera con Payaso Fofó</td>
          <td>La esquina del Estadio del Rayo</td>
        </tr>
        <tr>
          <td>Lunes 27</td>
          <td> De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Retiro</td>
          <td>Cuartel de Daoiz y Velarde</td>
          <td>Zona peatonal Avenida Ciudad de Barcelona</td>
        </tr>
        <tr>
          <td>Martes 28</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Latina</td>
          <td>Recinto ferial del Parque Aluche</td>
          <td>A lo largo de la calle Valmojado y a la altura del Auditorio</td>
        </tr>
        <tr>
          <td>Martes 28</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td>Usera</td>
          <td>Metro Plaza Elíptica</td>
          <td>Salida del Metro Plaza Elíptica por la calle Marcelo de Usera</td>
        </tr>
        <tr>
          <td>Miércoles 29</td>
          <td>De 18 a 20 h.</td>
          <td>Tarde</td>
          <td> Arganzuela</td>
          <td>Estación de Renfe Delicias</td>
          <td>Explanada frente a la estación de Renfe Delicias entre la calle Ferrocarril y el Pº Delicias</td>
        </tr>
        <tr>
          <td>Jueves 30</td>
          <td>De 11:30 a 13:30 h.</td>
          <td>Mañana</td>
          <td>Centro</td>
          <td>Plaza de Callao</td>
          <td>Plaza de Callao</td>
        </tr>
      </tbody>
    </table>

    <h2>Documentos</h2>

    <p>Los espacios presenciales de debate y propuesta de cada distrito se autorreglamentarán.</p>
    <p>A continuación añadimos autorreglamentos realizados en proyectos de presupuestos participativos de diferentes distritos por si sirvieran de inspiración para otros espacios:</p>

    <ul>
      <li>
        <%= link_to "Autorreglamento Arganzuela <small>(PDF | 163Kb)</small>".html_safe,
                  "/docs/autorreglamento_arganzuela.pdf",
                  title: "Autorreglamento Arganzuela (PDF | 163Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Latina <small>(DOCX | 20Kb)</small>".html_safe,
                  "/docs/autorreglamento_latina.docx",
                  title: "Autorreglamento Latina (DOCX | 20Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Tetuán <small>(PDF | 246Kb)</small>".html_safe,
                  "/docs/autorreglamento_tetuan.pdf",
                  title: "Autorreglamento Tetuán (PDF | 246Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Usera <small>(PDF | 42Kb)</small>".html_safe,
                  "/docs/autorreglamento_usera.pdf",
                  title: "Autorreglamento Usera (PDF | 42Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>

    <h2>Difusión</h2>

    <ul>
      <li>
        <%= link_to "Presupuestos participativos guía <small>(PDF | 1,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_guia.pdf",
                  title: "Presupuestos participativos guía (PDF | 1,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(PDF | 211Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.pdf",
                  title: "Presupuestos participativos cartel (PDF | 211Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(JPEG | 86Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.jpg",
                  title: "Presupuestos participativos cartel (JPEG | 86Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos infografía <small>(JPEG | 3,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_infografia.jpg",
                  title: "Presupuestos participativos infografía (JPEG | 3,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Otra forma de difundir y contar los presupuestos participativos <small>(JPEG | 61Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_enrique_flores.jpg",
                  title: "Otra forma de difundir y contar los presupuestos participativos (JPEG | 61Kb) (se abre en ventana nueva)", target: "_blank" %>
        (por <%= link_to "Enrique Flores - 4ojos", "http://www.4ojos.com/blog/", title: "(se abre en ventana nueva)", target: "_blank" %>)
      </li>
    </ul>

    <h3>Cartel de convocatoria de distrito Moratalaz</h3>
    <ul>
      <li>
        <%= link_to "Cartel de convocatoria <small>(AI | 1,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.ai",
                  title: "Cartel de convocatoria (AI | 1,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Cartel de convocatoria <small>(PDF | 241Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.pdf",
                  title: "Cartel de convocatoria (PDF | 241Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Cartel de convocatoria <small>(JPEG | 113Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.jpg",
                  title: "Cartel de convocatoria (JPEG | 113Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>
    <h3>Cartel de convocatoria de distrito Vicálvaro</h3>
    <ul>
      <li>
        <%= link_to "Cartel de convocatoria <small>(JPEG | 81Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_vicalvaro.jpg",
                  title: "Cartel de convocatoria (JPEG | 81Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>
  </div>
</div>
