<div class="expanded jumbo-brand no-margin-top">
  <div class="row">
    <div class="small-12 medium-8 column padding">
      <h1>Ganadores del Pleno Abierto</h1>
      <p>Estas son las cinco propuestas y las cinco preguntas más votadas que serán formuladas en persona​ en el Pleno del día 24 de abril a todos los grupos políticos.</p>
    </div>
    <div class="show-for-medium medium-4 column">
      <%= image_tag "featured_open_plenary.jpg" %>
    </div>
  </div>
</div>

<div class="row margin-top plenaries">
  <div class="small-12 column">
    <h2>Propuestas más votadas</h2>
    <p>
      <% open_plenary_debate = Debate.where(comment_kind: 'question').first %>
      <%= link_to t("pages.processes.process_3.view_proposals"),
                    proposals_path(search: 'plenoabierto',
                                   order: :confidence_score,
                                   custom_search: true,
                                   advanced_search: {date_min: "18-04-2016", date_max: "21-04-2016"}) %>
    </p>
    <ul class="no-bullet">
      <% @proposals.each do |proposal| %>
        <li class="margin-bottom">
          <h3><%= link_to proposal.title, namespaced_proposal_path(proposal) %></h3>
          <p><strong><%= proposal.cached_votes_up %> Apoyos</strong></p>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="small-12 column">
    <h2>Preguntas más votadas</h2>
    <p>
      <%= link_to t("pages.processes.process_3.view_questions"),
                    debate_path(open_plenary_debate) %>
    </p>
    <ul class="no-bullet">
      <% @questions.each do |question| %>
      <li class="margin-bottom">
        <span><%= question.body %></span>
        <div>
          <strong><%= question.cached_votes_total %> Votos</strong>
          (<span class="icon-like"></span>&nbsp;<%= question.cached_votes_up %>&nbsp;|&nbsp;
          <span class="icon-unlike"></span>&nbsp;<%= question.cached_votes_down %>)
          <small><span>Puntuación: <%= question.confidence_score %></small>
        </div>
      </li>
      <% end %>
    </ul>

  </div>

</div>
