<nav class="admin-sidebar">
  <ul id="moderation_menu">
    <li>
      <%= link_to t("moderation.dashboard.index.title"), moderation_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" %>>
      <%= link_to moderation_proposals_path do %>
        <i class="icon-proposals"></i>
        <%= t("moderation.menu.proposals") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "debates" %>>
      <%= link_to moderation_debates_path do %>
        <i class="icon-debates"></i>
        <%= t('moderation.menu.flagged_debates') %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "medidas" %>>
      <%= link_to moderation_medidas_path do %>
        <i class="icon-medidas"></i>
      <%= t('moderation.menu.flagged_medidas') %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "comments" %>>
      <%= link_to moderation_comments_path do %>
        <i class="icon-comments"></i>
        <%= t("moderation.menu.flagged_comments") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "users" %>>
      <%= link_to moderation_users_path do %>
        <i class="icon-user"></i>
        <%= t("moderation.menu.users") %>
      <% end %>
    </li>
  </ul>
</nav>
