<nav class="admin-sidebar">
  <ul id="moderation_menu">
    <li>
      <%= link_to t("moderation.dashboard.index.title"), moderation_root_path %>
    </li>

    <% if feature?(:proposals) %>
      <li <%= "class=is-active" if controller_name == "proposals" %>>
        <%= link_to moderation_proposals_path do %>
          <span class="icon-proposals"></span>
          <%= t("moderation.menu.proposals") %>
        <% end %>
      </li>

      <li <%= "class=is-active" if controller_name == "proposal_notifications" %>>
        <%= link_to moderation_proposal_notifications_path do %>
          <span class="icon-proposals"></span>
          <%= t("moderation.menu.proposal_notifications") %>
        <% end %>
      </li>
    <% end %>

    <% if feature?(:debates) %>
      <li <%= "class=is-active" if controller_name == "debates" %>>
        <%= link_to moderation_debates_path do %>
          <span class="icon-debates"></span>
          <%= t('moderation.menu.flagged_debates') %>
        <% end %>
      </li>
    <% end %>

    <% if feature?(:budgets) %>
      <li <%= "class=is-active" if controller_name == "investments" %>>
        <%= link_to moderation_budget_investments_path do %>
          <span class="icon-budget"></span>
          <%= t("moderation.menu.flagged_investments") %>
        <% end %>
      </li>
    <% end %>

    <li <%= "class=is-active" if controller_name == "comments" %>>
      <%= link_to moderation_comments_path do %>
        <span class="icon-comments"></span>
        <%= t("moderation.menu.flagged_comments") %>
      <% end %>
    </li>

    <li <%= "class=is-active" if controller_name == "users" %>>
      <%= link_to moderation_users_path do %>
        <span class="icon-user"></span>
        <%= t("moderation.menu.users") %>
      <% end %>
    </li>
  </ul>
</nav>
