<nav class="admin-sidebar">
  <ul id="moderation_menu">
    <li>
      <%= t("moderation.dashboard.index.title") %>
    </li>

    <li <%= 'class=active' if controller_name == 'debates' %>>
      <%= link_to moderation_debates_path do %>
        <i class="icon-eye"></i>
        <%= t('moderation.menu.flagged_debates') %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'comments' %>>
      <%= link_to moderation_comments_path do %>
        <i class="icon-comment-quotes"></i>
        <%= t('moderation.menu.flagged_comments') %>
      <% end %>
    </li>
  </ul>
</nav>
