<ul id="moderation_menu">
  <li>
    <%= link_to t("moderation.dashboard.index.title"), moderation_root_path %>
  </li>

  <% if feature?(:proposals) %>
    <li <%= "class=is-active" if controller_name == "proposals" %>>
      <%= link_to t("moderation.menu.proposals"), moderation_proposals_path, class: "proposals-link" %>
    </li>

    <li <%= "class=is-active" if controller_name == "proposal_notifications" %>>
      <%= link_to t("moderation.menu.proposal_notifications"), moderation_proposal_notifications_path, class: "proposal-notifications-link" %>
    </li>
  <% end %>

  <% if feature?(:debates) %>
    <li <%= "class=is-active" if controller_name == "debates" %>>
      <%= link_to t("moderation.menu.flagged_debates"), moderation_debates_path, class: "debates-link" %>
    </li>
  <% end %>

  <% if feature?(:budgets) %>
    <li <%= "class=is-active" if controller_name == "investments" %>>
      <%= link_to t("moderation.menu.flagged_investments"), moderation_budget_investments_path, class: "investments-link" %>
    </li>
  <% end %>

  <li <%= "class=is-active" if controller_name == "comments" %>>
    <%= link_to t("moderation.menu.flagged_comments"), moderation_comments_path, class: "comments-link" %>
  </li>

  <li <%= "class=is-active" if controller_name == "users" %>>
    <%= link_to t("moderation.menu.users"), moderation_users_path, class: "users-link" %>
  </li>
</ul>
