<div class="poll-question-answers">
  <% if can?(:answer, question) && question.user_can_vote(current_user) %>
    <div class="small-12 medium-12 text-center">
      <% @last_pair_question_answers.dig(question.id)&.answers&.each do |answer| %>
        <div class="small-12 medium-5 inline-block">
          <%= link_to answer.title,
            answer_question_path(question, answer: answer.title, token: token),
            method: :post,
            remote: true,
            title: t("poll_questions.show.vote_answer", answer: answer.title),
            class: "button secondary hollow js-question-answer" %>
        </div>
      <% end %>
    </div>
    <div class="small-12 medium-12 text-center">
      <%= link_to "I can't decide",
        answer_question_path(question, answer: "I can't decided", token: token),
        method: :post,
        remote: true,
        title: "I can't decide",
        class: "button secondary hollow js-question-answer" %>
    </div>

    <% if answers_open %>
      <%= render "/polls/questions/new_answer", question: question, token: token %>
    <% end %>

  <% elsif !user_signed_in? %>
    <% question.question_answers.visibles.order(id: :desc).each do |answer| %>
      <%= link_to answer.title, new_user_session_path, class: "button secondary hollow" %>
    <% end %>
  <% elsif !current_user.level_two_or_three_verified? %>
    <% question.question_answers.visibles.order(id: :desc).each do |answer| %>
      <%= link_to answer.title, verification_path, class: "button secondary hollow" %>
    <% end %>
  <% else %>
    <%= t('polls.index.max_votes_reached') %>
  <% end %>
</div>
