<div class="row">
  <div class="columns">
        <div class="orbit" role="region" aria-label="Explain page function" data-orbit data-orbit data-use-m-u-i="false">
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <%# Figura uno %>
                <li class="is-active orbit-slide text-center">
                      <div class="docs-example-orbit-slide">
                          <h2>
                              <i class="far fa-comment" style="color:rgb(255, 197, 28);"></i>
                          </h2>
                          <h3 style="color:black;">
                              <%= t("cards.card1.title") %>
                          </h3>
                          <p class="hide-for-small-only" style="color:black;">
                              <%= t("cards.card1.content") %>
                          </p>
                          <p>
                              <span class="contact-form-button" style="display:inline-block">
                                  <%= link_to 'Contacto', send_path %>
                                  <i class="fa fa-envelope-open fa-1x" style="color: #585858;"></i>
                              </span>
                          </p>
                      </div>
                </li>
                <%# Figura dos %>
                <li class="is-active orbit-slide text-center">
                      <div class="docs-example-orbit-slide">
                          <h2>
                              <i class="far fa-comment-alt" style="color:rgb(255, 197, 28);"></i>
                          </h2>
                          <h3 style="color:black;">
                              <%= t("cards.card2.title") %>
                          </h3>
                          <p class="hide-for-small-only" style="color:black;">
                              <%= t("cards.card2.content") %>
                          </p>
                          <p>
                              <span class="contact-form-button" style="display:inline-block">
                                  <%= link_to 'Contacto', send_path %>
                                  <i class="fa fa-envelope-open fa-1x" style="color: #585858;"></i>
                              </span>
                          </p>
                      </div>
                </li>
                <%# Figura tres %>
                <li class="is-active orbit-slide text-center">
                      <div class="docs-example-orbit-slide">
                          <h2>
                              <i class="far fa-thumbs-up" style="color:rgb(255, 197, 28);"></i>
                          </h2>
                          <h3 style="color:black;">
                              <%= t("cards.card3.title") %>
                          </h3>
                          <p class="hide-for-small-only" style="color:black;">
                              <%= t("cards.card3.content") %>
                          </p>
                          <p>
                              <span class="contact-form-button" style="display:inline-block">
                                  <%= link_to 'Contacto', send_path %>
                                  <i class="fa fa-envelope-open fa-1x" style="color: #585858;"></i>
                              </span>
                          </p>
                      </div>
                </li>
                <%# Figura cuatro %>
                <li class="is-active orbit-slide text-center">
                      <div class="docs-example-orbit-slide">
                          <h2>
                              <i class="fas fa-poll" style="color:rgb(255, 197, 28);"></i>
                          </h2>
                          <h3 style="color:black;">
                              <%= t("cards.card4.title") %>
                          </h3>
                          <p class="hide-for-small-only" style="color:black;">
                              <%= t("cards.card4.content") %>
                          </p>
                          <p>
                              <span class="contact-form-button" style="display:inline-block">
                                  <%= link_to 'Contacto', send_path %>
                                  <i class="fa fa-envelope-open fa-1x" style="color: #585858;"></i>
                              </span>
                          </p>
                      </div>
                </li>
              </ul>
            </div>
            <nav class="orbit-bullets">
              <button class="is-active" data-slide="0">
                <span class="show-for-sr">First slide details.</span>
                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
              </button>
              <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
        </div>
    </div>
</div>