<div class="small-12 column text-center margin">
    <div class="row small-12">
        <div class="small-12 medium-3 margin column padding" id = "figura_uno">
            <h2>
                <i class="far fa-comment" style="color:rgb(255, 98, 0);"></i>
            </h2>
            <h3 class="float-center">
                <%= t("cards.card1.title") %>
            </h3>
            <p class="small-6 small-offset-3 medium-12 medium-offset-0">
                <%= t("cards.card1.content") %>
            </p>
        </div>
        <div class="small-12 medium-3 margin column padding">
            <h2>
                <i class="far fa-comment-alt" style="color:rgb(255, 98, 0);"></i>
            </h2>
            <h3 class="float-center">
                <%= t("cards.card2.title") %>
            </h3>
            <p class="small-6 small-offset-3 medium-12 medium-offset-0">
                <%= t("cards.card2.content") %>
            </p>
        </div>
        <div class="small-12 medium-3 margin column padding">
            <h2>
                <i class="far fa-thumbs-up" style="color:rgb(255, 98, 0);"></i>
            </h2>
            <h3 class="float-center">
                <%= t("cards.card3.title") %>
            </h3>
            <p class="small-6 small-offset-3 medium-12 medium-offset-0">
                <%= t("cards.card3.content") %>
            </p>
        </div>
        <div class="small-12 medium-3 margin column padding">
            <h2>
                <i class="fas fa-poll" style="color:rgb(255, 98, 0);"></i>
            </h2>
            <h3 class="float-center">
                <%= t("cards.card4.title") %>
            </h3>
            <p class="small-6 small-offset-3 medium-12 medium-offset-0">
                <%= t("cards.card4.content") %>
            </p>
        </div>
    </div>
</div>