<div class="expanded padding budgets-module">
  <div class="row">
    <div class="small-12 medium-9 column small-centered text-center">
      <span class="budgets-date">
        <strong><%= t("welcome.budgets.date") %></strong>
      </span>
      <div class="typewriter inline-block">
        <p class="lead-title"><%= t("welcome.budgets.title") %></p>
      </div>

      <div class="small-12 medium-9 small-centered text-center">
        <p><%= t("welcome.budgets.text_html") %></p>
      </div>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("welcome.budgets.button"), "https://decide.madrid.es/presupuestos/presupuestos-participativos-2017", class: "button expanded large" %>
      </div>
      <%= link_to budgets_welcome_path do %>
        <small><%= t("welcome.budgets.more_info") %></small>
      <% end %>
    </div>
  </div>
</div>
