<div class="budgets-extra-module">
  <div class="row margin padding">
    <div class="small-12 medium-6 column">
      <figure>
        <%= image_tag "welcome_plazas_abiertas.jpg", alt: "" %>
        <figcaption>
          <span><%= t("welcome.budgets.plazas_abiertas.label") %></span><br>
          <%= t("welcome.budgets.plazas_abiertas.title") %>
        </figcaption>
      </figure>
      <p><%= t("welcome.budgets.plazas_abiertas.text") %></p>
      <div class="small-12 large-8">
        <%= link_to t("welcome.budgets.plazas_abiertas.link"), plazas_abiertas_path, class: "button hollow expanded" %>
      </div>
    </div>
    <div class="small-12 medium-6 column">
      <figure>
        <%= image_tag "welcome_budgets_videos.jpg", alt: "" %>
        <figcaption>
          <span><%= t("welcome.budgets.videos.label") %></span><br>
          <%= t("welcome.budgets.videos.title") %>
        </figcaption>
      </figure>
      <p><%= t("welcome.budgets.videos.text") %></p>
      <div class="small-12 large-8">
        <%= link_to t("welcome.budgets.videos.link"), budgets_videos_2017_path, class: "button hollow expanded" %>
      </div>
    </div>
  </div>
</div>
