<div class="row margin">
  <div class="small-12 medium-4 column">
    <figure class="figure-card">
      <%= link_to geocraft_path, title: t("welcome.budgets.geocraft.link") do %>
        <%= image_tag "welcome_geocraft.jpg", alt: "" %>
      <% end %>
      <figcaption>
        <%= link_to geocraft_path, title: t("welcome.budgets.geocraft.link") do %>
          <span><%= t("welcome.budgets.geocraft.label") %></span><br>
          <p class="title"><%= t("welcome.budgets.geocraft.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.geocraft.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.geocraft.link"), geocraft_path %>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <figure class="figure-card">
      <%= link_to budgets_videos_2017_path, title: t("welcome.budgets.videos.link") do %>
        <%= image_tag "welcome_budgets_videos.jpg", alt: "" %>
      <% end %>
      <figcaption>
        <%= link_to budgets_videos_2017_path, title: t("welcome.budgets.videos.link") do %>
          <span><%= t("welcome.budgets.videos.label") %></span><br>
          <p class="title"><%= t("welcome.budgets.videos.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.videos.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.videos.link"), budgets_videos_2017_path %>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <figure class="figure-card">
      <%= link_to once_plazas_path, title: t("welcome.budgets.once_plazas.link") do %>
        <%= image_tag "welcome_once_plazas.jpg", alt: "" %>
      <% end %>
      <figcaption>
        <%= link_to once_plazas_path, title: t("welcome.budgets.once_plazas.link") do %>
          <span><%= t("welcome.budgets.once_plazas.label") %></span><br>
          <p class="title"><%= t("welcome.budgets.once_plazas.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.once_plazas.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.once_plazas.link"), once_plazas_path %>
    </p>
  </div>
</div>
