<div class="row margin">
  <div class="small-12 medium-6 column">
    <figure class="figure-card">
      <%= image_tag "welcome_once_plazas.jpg", alt: "" %>
      <figcaption>
        <span><%= t("welcome.budgets.once_plazas.label") %></span><br>
        <%= t("welcome.budgets.once_plazas.title") %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.once_plazas.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.once_plazas.link"), once_plazas_path %>
    </p>
  </div>
  <div class="small-12 medium-6 column">
    <figure class="figure-card">
      <%= image_tag "welcome_budgets_videos.jpg", alt: "" %>
      <figcaption>
        <span><%= t("welcome.budgets.videos.label") %></span><br>
        <%= t("welcome.budgets.videos.title") %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.videos.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.videos.link"), budgets_videos_2017_path %>
    </p>
  </div>
</div>
