<div class="row">
  <div class="small-12 medium-6 column margin-bottom">
    <%= link_to "https://diario.madrid.es/decidemadrid/2018/03/21/asi-se-evaluan-y-tasan-los-presupuestos-participativos-2018/",
                title: t("welcome.budgets.link") do %>
      <figure class="figure-card">
        <%= image_tag "welcome/budgets.jpg", alt: t("welcome.budgets.alt") %>
        <figcaption>
          <span><%= t("welcome.budgets.label") %></span><br>
          <h3><%= t("welcome.budgets.title") %></h3>
        </figcaption>
      </figure>
      <p class="description"><%= t("welcome.budgets.text") %></p>
      <p><%= t("welcome.budgets.link") %></p>
    <% end %>
  </div>

  <div class="small-12 medium-6 column margin-bottom">
    <%= link_to legislation_process_path(id: "43"), title: t("welcome.observatory.link") do %>
      <figure class="figure-card">
        <%= image_tag "welcome/observatory.jpg", alt: t("welcome.observatory.alt") %>
        <figcaption>
          <span><%= t("welcome.observatory.label") %></span><br>
          <h3><%= t("welcome.observatory.title") %></h3>
        </figcaption>
      </figure>
      <p class="description"><%= t("welcome.observatory.text") %></p>
      <p><%= t("welcome.observatory.link") %></p>
    <% end %>
  </div>
</div>
