<div class="row">
  <div class="small-12 medium-6 column margin-bottom">
    <figure class="figure-card">
      <%= link_to "#{request.url}legislation/processes/26/proposals", title: t("welcome.ess.link") do %>
        <%= image_tag "welcome/ess.jpg", alt: t("welcome.ess.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "#{request.url}legislation/processes/26/proposals", title: t("welcome.ess.link") do %>
          <span><%= t("welcome.ess.label") %></span><br>
          <p class="title"><%= t("welcome.ess.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.ess.text") %></p>
    <p>
      <%= link_to t("welcome.ess.link"), "#{request.url}legislation/processes/26/proposals" %>
    </p>
  </div>

  <div class="small-12 medium-6 column margin-bottom">
    <figure class="figure-card">
      <%= link_to "#{request.url}legislation/processes/24/proposals", title: t("welcome.open_plenary.link") do %>
        <%= image_tag "welcome/open_plenary.jpg", alt: t("welcome.open_plenary.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "#{request.url}legislation/processes/24/proposals", title: t("welcome.open_plenary.link") do %>
          <span><%= t("welcome.open_plenary.label") %></span><br>
          <p class="title"><%= t("welcome.open_plenary.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.open_plenary.text") %></p>
    <p>
      <%= link_to t("welcome.open_plenary.link"), "#{request.url}legislation/processes/24/proposals" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to "http://ciudades-democraticas.cc/consulcon/", target: "_blank", title: t("welcome.consulcon.link") do %>
        <%= image_tag "welcome/consulcon.jpg", alt: t("welcome.consulcon.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "http://ciudades-democraticas.cc/consulcon/", target: "_blank", title: t("welcome.consulcon.link") do %>
          <span><%= t("welcome.consulcon.label") %></span><br>
          <p class="title"><%= t("welcome.consulcon.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.consulcon.text") %></p>
    <p>
      <%= link_to t("welcome.consulcon.link"), "http://ciudades-democraticas.cc/consulcon/", target: "_blank" %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to "#{request.url}legislation/processes/25/debate", title: t("welcome.green_areas.link") do %>
        <%= image_tag "welcome/zonas_verdes.jpg", alt: t("welcome.green_areas.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "#{request.url}legislation/processes/25/debate", title: t("welcome.green_areas.link") do %>
          <span><%= t("welcome.green_areas.label") %></span><br>
          <p class="title"><%= t("welcome.green_areas.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.green_areas.text") %></p>
    <p>
      <%= link_to t("welcome.green_areas.link"), "#{request.url}legislation/processes/25/debate" %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to "#{request.url}presupuestos/presupuestos-participativos-2017/resultados", title: t("welcome.budgets_results.link") do %>
        <%= image_tag "welcome/budgets_results.jpg", alt: t("welcome.budgets_results.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "#{request.url}presupuestos/presupuestos-participativos-2017/resultados", title: t("welcome.budgets_results.link") do %>
          <span><%= t("welcome.budgets_results.label") %></span><br>
          <p class="title"><%= t("welcome.budgets_results.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets_results.text") %></p>
    <p>
      <%= link_to t("welcome.budgets_results.link"), "#{request.url}presupuestos/presupuestos-participativos-2017/resultados" %>
    </p>
  </div>

</div>
