<div class="row">
  <div class="small-12 medium-6 column margin-bottom">
    <%= link_to "https://diario.madrid.es/decidemadrid/2018/03/21/asi-se-evaluan-y-tasan-los-presupuestos-participativos-2018/",
                title: t("welcome.budgets.link") do %>
      <figure class="figure-card">
        <%= image_tag "welcome/budgets.jpg", alt: t("welcome.budgets.alt") %>
        <figcaption>
          <span><%= t("welcome.budgets.label") %></span><br>
          <h3><%= t("welcome.budgets.title") %></h3>
        </figcaption>
      </figure>
      <p class="description"><%= t("welcome.budgets.text") %></p>
      <p><%= t("welcome.budgets.link") %></p>
    <% end %>
  </div>

  <div class="small-12 medium-6 column margin-bottom">
    <%= link_to new_user_registration_path, title: t("welcome.decide.link") do %>
      <figure class="figure-card">
        <%= image_tag "welcome/decide.jpg", alt: t("welcome.decide.alt") %>
        <figcaption>
          <span><%= t("welcome.decide.label") %></span><br>
          <h3><%= t("welcome.decide.title") %></h3>
        </figcaption>
      </figure>
      <p class="description"><%= t("welcome.decide.text") %></p>
      <p><%= t("welcome.decide.link") %></p>
    <% end %>
  </div>
</div>
