<div id="<%= dom_id(card) %>" class="card small-12 large-4 column margin-bottom end">
  <%= link_to card.link_url do %>
    <figure class="figure-card">
      <% if card.image.present? %>
        <%= image_tag(card.image_url(:large), alt: card.image.title) %>
      <% end %>
      <figcaption>
        <span>LABEL</span><br>
        <h3><%= card.title %></h3>
      </figcaption>
    </figure>
    <p class="description"><%= card.description %></p>
    <p><%= card.link_text %></p>
  <% end %>
</div>
