<div class="expanded padding cards">

  <div class="row">
    <div class="small-12 column">
      <h2 class="title inline-block">
        <%= t("welcome.featured.title") %>
      </h2>
      <small>
        <%= link_to t("welcome.featured.see_all"),
                    processes_path, class: "float-right margin-top" %>
      </small>
    </div>
  </div>

  <div class="row" data-equalizer>
    <!-- Rehabilitación edificios -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.buildings.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.buildings.date_html") %></p>
        <p class="info">
          <%= t("cards.buildings.text") %>
        </p>
        <%= link_to t("cards.buildings.button"), buildings_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Nueva ordenanza movilidad -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.movilidad.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.movilidad.date_html") %></p>
        <p class="info">
          <%= t("cards.movilidad.text") %>
        </p>
        <%= link_to t("cards.movilidad.button"), movilidad_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Línea Madrid -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.linea_madrid.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.linea_madrid.date_html") %></p>
        <p class="info">
          <%= t("cards.linea_madrid.text") %>
        </p>
        <%= link_to t("cards.linea_madrid.button"), linea_madrid_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Remodelación Plaza España -->
    <div class="small-12 medium-4 column margin-top end">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.plaza.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.plaza.date_html") %></p>
        <p class="info">
          <%= t("cards.plaza.text") %>
        </p>
        <%= link_to t("cards.plaza.button"), plaza_path, class: "button expanded margin-top" %>
      </div>
    </div>
  </div>
</div>
