<div class="row margin">
  <div class="small-12 medium-4 medium-offset-2 column margin-bottom">
    <figure class="figure-card">
      <%= link_to custom_budget_stats_path(id: Budget.last.to_param), title: t("welcome.stats.link") do %>
        <%= image_tag "welcome_budgets_videos.jpg", alt: t("welcome.stats.alt") %>
      <% end %>
      <figcaption>
        <%= link_to custom_budget_stats_path(id: Budget.last.to_param), title: t("welcome.stats.link") do %>
          <span><%= t("welcome.stats.label") %></span><br>
          <p class="title"><%= t("welcome.stats.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.stats.text") %></p>
    <p>
      <%= link_to t("welcome.stats.link"), custom_budget_stats_path(id: Budget.last.to_param) %>
    </p>
  </div>
  <div class="small-12 medium-4 column margin-bottom end">
    <figure class="figure-card">
      <%= link_to "https://diario.madrid.es/blog/notas-de-prensa/el-ayuntamiento-lanza-el-concurso-de-periodismo-de-datos-y-el-dataton-ciudad-de-madrid-2017/", title: t("welcome.journalism.link"), target: "_blank", rel: "nofollow" do %>
        <%= image_tag "welcome_journalism.jpg", alt: t("welcome.journalism.alt") %>
      <% end %>
      <figcaption>
        <%= link_to "https://diario.madrid.es/blog/notas-de-prensa/el-ayuntamiento-lanza-el-concurso-de-periodismo-de-datos-y-el-dataton-ciudad-de-madrid-2017/", title: t("welcome.journalism.link"), target: "_blank", rel: "nofollow" do %>
          <span><%= t("welcome.journalism.label") %></span><br>
          <p class="title"><%= t("welcome.journalism.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.journalism.text") %></p>
    <p>
      <%= link_to t("welcome.journalism.link"), "https://diario.madrid.es/blog/notas-de-prensa/el-ayuntamiento-lanza-el-concurso-de-periodismo-de-datos-y-el-dataton-ciudad-de-madrid-2017/", target: "_blank", rel: "nofollow" %>
    </p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 medium-4 medium-offset-2 column margin-bottom">
    <figure class="figure-card pdf">
      <%= link_to "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' do %>
        <%= image_tag "landings/first_voting_sustainable_report_big.jpg", alt: t("polls_reports.img_alt_1") %>
      <% end %>
      <figcaption>
        <%= link_to "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                    title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' do %>
          <span><%= t("polls_reports.label") %></span><br>
          <p class="title"><%= t("polls_reports.title_1") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("polls_reports.description_1_html") %></p>
    <p>
      <%= link_to t("polls_reports.button"), "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' %>
    </p>
  </div>
  <div class="small-12 medium-4 column margin-bottom end">
    <figure class="figure-card pdf">
      <%= link_to "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' do %>
        <%= image_tag "landings/first_voting_transport_report_big.jpg", alt: t("polls_reports.img_alt_2") %>
      <% end %>
      <figcaption>
        <%= link_to "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                    title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' do %>
          <span><%= t("polls_reports.label") %></span><br>
          <p class="title"><%= t("polls_reports.title_2") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("polls_reports.description_2_html") %></p>
    <p>
      <%= link_to t("polls_reports.button"), "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' %>
    </p>
  </div>
</div>
