<div class="row">
  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to page_path("como-crear-proyecto-presupuestos-participativos"), title: t("welcome.budgets_guide.link") do %>
        <%= image_tag "welcome/budgets_guide.jpg", alt: t("welcome.budgets_guide.alt") %>
      <% end %>
      <figcaption>
        <%= link_to page_path("como-crear-proyecto-presupuestos-participativos"), title: t("welcome.budgets_guide.link") do %>
          <span><%= t("welcome.budgets_guide.label") %></span><br>
          <p class="title"><%= t("welcome.budgets_guide.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets_guide.text") %></p>
    <p>
      <%= link_to t("welcome.budgets_guide.link"), page_path("como-crear-proyecto-presupuestos-participativos") %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to legislation_process_path(id: "38"), title: t("welcome.terrazas.link") do %>
        <%= image_tag "welcome/terrazas.jpg", alt: t("welcome.terrazas.alt") %>
      <% end %>
      <figcaption>
        <%= link_to legislation_process_path(id: "38"), title: t("welcome.terrazas.link") do %>
          <span><%= t("welcome.terrazas.label") %></span><br>
          <p class="title"><%= t("welcome.terrazas.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.terrazas.text") %></p>
    <p>
      <%= link_to t("welcome.terrazas.link"), legislation_process_path(id: "38") %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to legislation_process_path(id: "40"), title: t("welcome.movilidad.link") do %>
        <%= image_tag "welcome/movilidad.jpg", alt: t("welcome.movilidad.alt") %>
      <% end %>
      <figcaption>
        <%= link_to legislation_process_path(id: "40"), title: t("welcome.movilidad.link") do %>
          <span><%= t("welcome.movilidad.label") %></span><br>
          <p class="title"><%= t("welcome.movilidad.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.movilidad.text") %></p>
    <p>
      <%= link_to t("welcome.movilidad.link"), legislation_process_path(id: "40") %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to debate_legislation_process_path(id: "36"), title: t("welcome.arroyofresno.link") do %>
        <%= image_tag "welcome/arroyofresno.jpg", alt: t("welcome.arroyofresno.alt") %>
      <% end %>
      <figcaption>
        <%= link_to debate_legislation_process_path(id: "36"), title: t("welcome.arroyofresno.link") do %>
          <span><%= t("welcome.arroyofresno.label") %></span><br>
          <p class="title"><%= t("welcome.arroyofresno.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.arroyofresno.text") %></p>
    <p>
      <%= link_to t("welcome.arroyofresno.link"), debate_legislation_process_path(id: "36") %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to once_plazas_results_path, title: t("welcome.once_plazas.link") do %>
        <%= image_tag "welcome/once_plazas.jpg", alt: t("welcome.once_plazas.alt") %>
      <% end %>
      <figcaption>
        <%= link_to once_plazas_results_path, title: t("welcome.once_plazas.link") do %>
          <span><%= t("welcome.once_plazas.label") %></span><br>
          <p class="title"><%= t("welcome.once_plazas.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.once_plazas.text") %></p>
    <p>
      <%= link_to t("welcome.once_plazas.link"), once_plazas_results_path %>
    </p>
  </div>

  <div class="small-12 medium-4 column margin-bottom">
    <figure class="figure-card">
      <%= link_to root_url + "/system/budgets/2016/estado_propuestas_2016_b.xlsx", title: t("welcome.budgets.link") do %>
        <%= image_tag "welcome/budgets.jpg", alt: t("welcome.budgets.alt") %>
      <% end %>
      <figcaption>
        <%= link_to root_url + "/system/budgets/2016/estado_propuestas_2016_b.xlsx", title: t("welcome.budgets.link") do %>
          <span><%= t("welcome.budgets.label") %></span><br>
          <p class="title"><%= t("welcome.budgets.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.budgets.text") %></p>
    <p>
      <%= link_to t("welcome.budgets.link"), root_url + "/system/budgets/2016/estado_propuestas_2016_b.xlsx", class: "external-link" %>
    </p>
  </div>
</div>