<div class="expanded padding cards">

  <div class="row">
    <div class="small-12 column">
      <h2 class="title inline-block">
        <%= t("welcome.featured.title") %>
      </h2>
      <%= link_to processes_path, class: "float-right margin-top" do %>
        <small><%= t("welcome.featured.see_all") %></small>
      <% end %>
    </div>
  </div>

  <div class="row" data-equalizer>
    <!-- Vicálvaro -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.vicalvaro.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.vicalvaro.date_html") %></p>
        <p class="info">
          <%= t("cards.vicalvaro.text") %>
        </p>
        <%= link_to t("cards.button"), vicalvaro_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Villaverde -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.villaverde.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.villaverde.date_html") %></p>
        <p class="info">
          <%= t("cards.villaverde.text") %>
        </p>
        <%= link_to t("cards.button"), villaverde_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Publicidad exterior -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("cards.publicity.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("cards.publicity.date_html") %></p>
        <p class="info">
          <%= t("cards.publicity.text") %>
        </p>
        <%= link_to t("cards.button"), publicity_path, class: "button expanded margin-top" %>
      </div>
    </div>
  </div>
</div>
