<div class="expanded padding cards">

  <div class="row">
    <div class="small-12 column">
      <h2 class="title inline-block">
        <%= t("welcome.featured.title") %>
      </h2>
      <%= link_to processes_path, class: "float-right margin-top" do %>
        <small><%= t("welcome.featured.see_all") %></small>
      <% end %>
    </div>
  </div>

  <div class="row" data-equalizer>

    <!-- Registro de lobbies -->
    <div class="small-12 medium-4 column margin-top">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("processes.lobbies.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("processes.lobbies.date_html") %></p>
        <p class="info">
          <%= t("processes.lobbies.description") %>
        </p>
        <%= link_to t("cards.button"), lobbies_path, class: "button expanded margin-top" %>
      </div>
    </div>

    <!-- Parque Manzanares -->
    <div class="small-12 medium-4 column margin-top end">
      <div class="panel" data-equalizer-watch>
        <h3><%= t("processes.manzanares.title") %></h3>
        <p class="info-date"><span class="icon-document"></span>&nbsp;<%= t("processes.manzanares.date_html") %></p>
        <p class="info">
          <%= t("processes.manzanares.description") %>
        </p>
        <%= link_to t("cards.button"), manzanares_path, class: "button expanded margin-top" %>
      </div>
    </div>
  </div>
</div>
