<div class="expanded featured-welcome">

  <div class="row">
    <div class="small-12 column margin">
      <h2 class="featured"><%= t('welcome.featured.page_title') %></h2>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <div class="panel budget">
        <h3><%= t('welcome.featured.spending_proposals.title') %></h3>
        <p><%= t('welcome.featured.spending_proposals.text') %></p>
        <div class="small-12 medium-6">
          <% if setting["feature.spending_proposal_features.final_voting_allowed"].present? %>
            <%= link_to t('welcome.featured.spending_proposals.link'), participatory_budget_path, class: "button expanded" %>
          <% elsif setting["feature.spending_proposal_features.open_results_page"].present? %>
            <%= link_to t('welcome.featured.spending_proposals.see_results'), participatory_budget_path, class: "button expanded" %>
          <% else %>
            <%= link_to t('welcome.featured.spending_proposals.link_close'), participatory_budget_path, class: "button expanded" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 column" data-equalizer-watch>
      <div class="panel proposals">
        <h3><%= t('welcome.featured.proposals.title') %></h3>
        <p><%= t('welcome.featured.proposals.text') %></p>
        <div class="small-12 medium-6">
          <%= link_to t('welcome.featured.proposals.link'), proposals_path, class: "button expanded" %>
        </div>
      </div>
    </div>
  </div>
</div>
