<div class="row home-page-featured margin-top" data-equalizer>

  <div class="small-12 column">
    <blockquote class="featured">
      <strong><%= t('welcome.featured.page_title') %></strong>
    </blockquote>
  </div>

  <div class="small-12 medium-8 column" data-equalizer-watch>
    <%= link_to spending_proposals_path do %>
      <div class="small-12">
        <div class="panel featured-three">
          <h2><%= t('welcome.featured.spending_proposals.title') %></h2>
          <p><%= t('welcome.featured.spending_proposals.text') %></p>
          <div class="small-12 medium-6">
            <span class="button expanded"><%= t('welcome.featured.spending_proposals.link') %></span>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "/processes_plaza_espana" do %>
      <div class="small-12">
        <div class="panel featured-two margin-top">
          <h2><%= t('welcome.featured.process.title') %></h2>
          <p><%= t('welcome.featured.process.text') %></p>
          <div class="small-12 medium-6">
            <span class="button expanded"><%= t('welcome.featured.process.link') %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="small-12 medium-4 column">
    <%= link_to proposals_path do %>
      <div class="panel featured-one" data-equalizer-watch>
        <h2><%= t('welcome.featured.proposals.title') %></h2>
        <p><%= t('welcome.featured.proposals.text') %></p>
        <span class="button expanded"><%= t('welcome.featured.proposals.link') %></span>
        <i class="icon-proposals show-for-large-up"></i>
      </div>
    <% end %>
  </div>
</div>
