<div class="expanded features">

  <div class="row">
    <div class="small-12 column">
      <h2>
        <%= t('welcome.featured.features',
               org_name: setting['org_name']) %>
      </h2>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-6 column">
      <figure class="figure-card">
        <%= link_to proposals_path, title: t("welcome.featured.proposals.link") do %>
          <%= image_tag "welcome/featured_proposals.png", alt: t("welcome.featured.proposals.alt_image") %>
        <% end %>
        <figcaption>
          <%= link_to proposals_path, title: t("welcome.featured.proposals.link") do %>
            <span><%= t("welcome.featured.label") %></span><br>
            <h3><%= t('welcome.featured.proposals.title') %></h3>
          <% end %>
        </figcaption>
      </figure>
      <p><%= t('welcome.featured.proposals.text') %></p>
      <%= link_to t("welcome.featured.proposals.link"), proposals_path %>
    </div>

    <div class="small-12 medium-6 column">
      <figure class="figure-card">
        <%= link_to budgets_welcome_path, title: t("welcome.featured.budgets.link") do %>
          <%= image_tag "welcome/featured_budgets.png", alt: t("welcome.featured.budgets.alt_image") %>
        <% end %>
        <figcaption>
          <%= link_to budgets_welcome_path, title: t("welcome.featured.budgets.link") do %>
            <span><%= t("welcome.featured.label") %></span><br>
            <h3><%= t('welcome.featured.budgets.title') %></h3>
          <% end %>
        </figcaption>
      </figure>
      <p><%= t('welcome.featured.budgets.text') %></p>
      <%= link_to t("welcome.featured.budgets.link"), budgets_welcome_path %>
    </div>
  </div>
</div>
