<% cache [locale_and_user_status, featured_debate, 'featured'] do %>
  <div class="small-12 medium-4 column end">
    <div id="<%= dom_id featured_debate %>" class="debate-featured">
      <div class="panel">

        <div class="debate-content">
          <span class="label left"><%= t("debates.debate.debate") %></span>
          <i class="icon-debates right"></i>
          <h3><%= link_to featured_debate.title, featured_debate %></h3>
          <p class="debate-info">
            <i class="icon-comments"></i>&nbsp;
            <%= link_to t("debates.show.comments", count: featured_debate.comments_count), debate_path(featured_debate, anchor: "comments") %>
          </p>
          <div class="debate-description">
            <%= link_to featured_debate.description, featured_debate %>
            <div class="truncate"></div>
          </div>
          <%= render "shared/tags", debate: featured_debate, limit: 5 %>
        </div>

        <div class="row">
          <div id="<%= dom_id(featured_debate) %>_votes" class="small-12 column">
            <%= render 'debates/votes', debate: featured_debate %>
          </div>
        </div>

      </div>
    </div>
</div>
<% end %>
