<div class="row margin-bottom feeds-list">
  <% @feeds.each do |feed| %>

    <% if feed_proposals?(feed) %>
      <div class="small-12 medium-8 column margin-top">
        <div class="feed-content">
          <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

          <% feed.items.each do |item| %>
            <div class="<%= item.class.to_s.parameterize('_') %> row">
              <div class="small-12 large-3 column">
                <div class="feed-image">
                  <% if feature?(:allow_images) && item.image.present? %>
                    <%= image_tag item.image_url(:thumb),
                                  alt: item.image.title.unicode_normalize %>
                  <% end %>
                </div>
              </div>
              <div class="feed-description small-12 large-9 column">
                <strong><%= link_to item.title, url_for(item) %></strong><br>
                <p><%= item.summary %></p>
              </div>
            </div>
          <% end %>

          <%= link_to t("welcome.feed.see_all_proposals"), proposals_path, class: "float-right see-all" %>
        </div>
      </div>
    <% end %>

    <% if feed_debates?(feed) %>
      <div class="small-12 medium-4 column margin-top">
        <div class="feed-content">
          <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

          <% feed.items.each do |item| %>
            <div class="<%= item.class.to_s.parameterize('_') %>">
              <strong><%= link_to item.title, url_for(item) %></strong>
            </div>
          <% end %>

          <%= link_to t("welcome.feed.see_all_debates"), debates_path, class: "float-right see-all" %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
