<% if header.present? %>
  <div class="jumbo highlight header-style-photo" style = "background-image: url(<%= asset_path 'surface.jpg' %>);height:550px" >
    <div class= "row header-style-content" style = "width:100%;padding-top:2%">
      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <h2 class="p_header lead" style="margin-bottom:0px !important;"><%= header.label %> <%= header.title %>: <%= header.description %></h2>
        <%= render "box" %>
        <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present?%>">
          <%= link_to header.link_text, header.link_url, class: "button expanded large", style: "border-radius:50px;" %>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="background-header" ></div> %>
<% end %>


