<div class="row margin">
  <div class="small-12 medium-4 column">
    <figure class="figure-card pdf">
      <%= link_to "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' do %>
        <%= image_tag "landings/first_voting_sustainable_report_big.jpg", alt: t("polls_reports.img_alt_1") %>
      <% end %>
      <figcaption>
        <%= link_to "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                    title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' do %>
          <span><%= t("polls_reports.label") %></span><br>
          <p class="title"><%= t("polls_reports.title_1") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("polls_reports.description_1_html") %></p>
    <p>
      <%= link_to t("polls_reports.button"), "/docs/informe_tecnico_100_sostenible.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_1") + ' - ' + 'PDF 712kb' %>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <figure class="figure-card pdf">
      <%= link_to "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' do %>
        <%= image_tag "landings/first_voting_transport_report_big.jpg", alt: t("polls_reports.img_alt_2") %>
      <% end %>
      <figcaption>
        <%= link_to "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                    title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' do %>
          <span><%= t("polls_reports.label") %></span><br>
          <p class="title"><%= t("polls_reports.title_2") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("polls_reports.description_2_html") %></p>
    <p>
      <%= link_to t("polls_reports.button"), "/docs/informe_tecnico_billete_unico.pdf", target: "_blank",
                  title: t("polls_reports.label") + ' - ' + t("polls_reports.title_2") + ' - ' + 'PDF 514kb' %>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <figure class="figure-card">
      <%= link_to manzanares_path, title: t("welcome.manzanares.link") do %>
        <%= image_tag "welcome_parque_manzanares.jpg", alt: "" %>
      <% end %>
      <figcaption>
        <%= link_to manzanares_path, title: t("welcome.manzanares.link") do %>
          <span><%= t("welcome.manzanares.label") %></span><br>
          <p class="title"><%= t("welcome.manzanares.title") %></p>
        <% end %>
      </figcaption>
    </figure>
    <p><%= t("welcome.manzanares.description") %></p>
    <p>
      <%= link_to t("welcome.manzanares.link"), manzanares_path %>
    </p>
  </div>
</div>
