  <h4 class="<%= proposal_class %> "> __<%= proposal_type %>  </h4>
  <h4><%= link_to proposal.title, namespaced_proposal_path(proposal), class: "home-proposal-color" %></h4>
  <p class="proposal-info">
    <span class="icon-calendar"></span>&nbsp; <span class="home-proposal-color home-proposal-subtitle"><%= l proposal.created_at.to_date %></span>
    <% if proposal.author.hidden? || proposal.author.erased? %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <span class="author">
        <%= t("proposals.show.author_deleted") %>
      </span>
    <% else %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <span class="author home-proposal-color home-proposal-subtitle">
        <%= proposal.author.name %>
      </span>
    <% end %>
  </p>
  <div class="proposal-description home-proposal-color">
    <p><%= proposal.summary %></p>
    <div class="truncate"></div>
  </div>
<%= render "shared/tags", taggable: proposal, limit: 5 %>
