<div class="small-12 column section-recommended padding">
  <div class="row">

    <h2 class="text-center"><%= t("welcome.recommended.title") %></h2>
    <div class="small-12 column carousel-image">
      <% if recommended_debates.any? %>
        <% carousel_size = calculate_carousel_size(recommended_debates, recommended_proposals, true) %>
        <%= render "recommended_carousel", recommendeds: recommended_debates,
                                           key: "debates",
                                           image_field: nil,
                                           image_version: nil,
                                           image_default: "https://dummyimage.com/600x400/000/fff",
                                           carousel_size: carousel_size %>
        <%= link_to "todos los debates recomendados", debates_path(order: "recommended") %>
      <% end %>

      <% if recommended_proposals.any? %>
        <% carousel_size = calculate_carousel_size(recommended_debates, recommended_proposals, false) %>
        <%= render "recommended_carousel", recommendeds: recommended_proposals,
                                           key: "proposals",
                                           image_field: nil,
                                           image_version: nil,
                                           image_default: "https://dummyimage.com/600x400/000/fff",
                                           carousel_size: carousel_size %>
        <%= link_to "todos las propuestas recomendados", proposals_path(order: "recommended") %>
      <% end %>
    </div>
  </div>
</div>
