<div class="no-margin-top">
  <div class="row all-screen">


    <div class="small-12 medium-7 large-7 column hero">
      <h1 class="home-quote-font"> <%= t("welcome.welcome.quote") %> </h1>
      <h5 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      <%= link_to "Quiero saber m치s", more_info_path, class: "hollow button secondary float-right" %>
    </div>

    <div class="small-12 medium-5 large-5 column home-column2">
      <div class="home-info">
        <p class="home-info-dates label float-right"> <%= t("welcome.welcome.info.date") %> </p>
        <h4 class="home-info-epigraph small blue"> <%= t("welcome.welcome.info.epigraph") %> </h4>
        <h3 class="home-info-title"> <%= t("welcome.welcome.info.title") %> </h3>
        <%= link_to t("welcome.welcome.info.go_to"), new_proposal_path, class: "home-info-link" %>
      </div>

      <div class="home-img">
        <%= image_tag(image_path_for('foto1.jpg')) %>
      </div>
    </div>


  </div>
</div>

  <main>

    <h2 class="text-center home-title">
      <%= t("welcome.how_work") %>
    </h2>
    <div class="row text-center margin">
      <div class="small-12 medium-3 column">
        <div class="como01"></div>
        <!-- <%= image_tag("icon_home_proposal.png", size: "168x168", alt: "", title: t("welcome.proposal.title"))  %> -->
        <div class="row text-left">
          <div class="small-1 medium-2 column enumerate">
            1
          </div>
          <div class="small-11 medium-10 column">
            <p><%= t("welcome.project.description") %></p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-3 column">
        <div class="como02"></div>
        <!-- <%= image_tag("icon_home_proposal.png", size: "168x168", alt: "", title: t("welcome.design.title"))  %> -->
        <div class="row text-left">
          <div class="small-1 medium-2 column enumerate">
            2
          </div>
          <div class="small-11 medium-10 column">
            <p><%= t("welcome.design.description") %></p>
          </div>
        </div>

      </div>

      <div class="small-12 medium-3 column">
        <div class="como03"></div>
        <!-- <%= image_tag("icon_home_decide.png", size: "168x168", alt: "", title: t("welcome.do.title")) %> -->
        <div class="row text-left">
          <div class="small-1 medium-2 column enumerate">
            3
          </div>
          <div class="small-11 medium-10 column">
            <p><%= t("welcome.do.description") %></p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-3 column">
        <div class="como04"></div>
        <!-- <%= image_tag("icon_home_do.png", size: "168x168", alt: "", title: t("welcome.project.title")) %> -->
        <div class="row text-left">
          <div class="small-1 medium-2 column enumerate">
            4
          </div>
          <div class="small-11 medium-10 column">
            <p><%= t("welcome.project.description") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="home-proposals">
      <% if Proposal.all.nil? %>
      <h1 class="text-center home-title"> <%= t("welcome.proposals.title") %> </h1>
      <%= link_to t("welcome.proposals.link_to"), proposals_path, class: 'button button-home-proposals text-center' %>
      <div class="row">
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: most_voted_proposals.first, proposal_type: "M치s votadas", proposal_class: "proposal-type most-voted" %>
        </div>
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: Proposal.sort_by_created_at.first, proposal_type: "M치s activas", proposal_class: "proposal-type most-activated" %>
        </div>
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: Proposal.sort_by_most_commented.first, proposal_type: "M치s nuevas", proposal_class: "proposal-type newest" %>
        </div>
      </div>
      <% end %>
    </div>

</main>
