<% cache ["welcome_index_20161004", display_budget_countdown?] do %>
  <div class="expanded home-page padding no-margin-top">
    <div class="row">
      <div class="small-12 medium-8 column small-centered text-center">
        <h1><%= t("layouts.header.open_city_title") %></h1>
        <p><%= t("layouts.header.open_city_slogan_short") %></p>
      </div>
    </div>
  </div>

  <% if display_budget_countdown? %>
    <div class="expanded jumbo-counter padding">
      <div class="row">
        <div class="small-12 medium-6 column">
          <h2><%= t("shared.counter.budget_text_html") %></h2>
          <h3><%= t("shared.counter.budget_title") %></h3>
          <div class="small-12 medium-6 small-centered">
            <%= link_to t("shared.counter.budget_button"), participatory_budget_path, class: "button expanded" %>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <%= render "shared/budget_counter" %>
        </div>
      </div>
    </div>
  <% end %>

  <% if feature?("probe.plaza") %>
    <div class="expanded jumbo-brand padding">
      <div class="row">
        <div class="small-12 medium-6 column">
          <h2><%= t("probes.plaza_banner.title") %></h2>
          <h3><%= t("probes.plaza_banner.date_html") %></h3>
          <div class="small-12 medium-6 small-centered">
            <%= link_to t("probes.plaza_banner.button"), plaza_path, class: "button expanded" %>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <%= image_tag ("plaza_banner.jpg") %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="expanded jumbo-brand padding">
      <div class="row">
        <div class="small-12 medium-6 column">
          <h2><%= t("banner.urbanistic_licenses.title") %></h2>
          <h3><%= t("banner.urbanistic_licenses.date_html") %></h3>
          <div class="small-12 medium-6 large-4 small-centered">
            <%= link_to t("banner.urbanistic_licenses.button"), urbanistic_licenses_path, class: "button expanded margin-top" %>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <h2><%= t("human_rights.banner.title") %></h2>
          <h3><%= t("human_rights.banner.text_html") %></h3>
          <div class="small-12 medium-6 large-8 small-centered">
            <%= link_to t("human_rights.banner.button"), human_rights_page_path, class: "button expanded margin-top" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @proposal_successfull_exists %>
    <div class="expanded jumbo-proposal-ballots">
      <div class="row">
        <div class="small-12 medium-6 column padding">
          <h2><%= t("proposal_ballots.featured_title") %></h2>
          <h3><%= t("proposal_ballots.info") %></h3>
          <div class="small-12 medium-6 small-centered">
            <%= link_to t("proposal_ballots.button"), proposal_ballots_index_path, class: "button expanded" %>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <%= image_tag ("ballot_big.gif") %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "featured_welcome" %>

  <div class="expanded padding featured-welcome features">
    <div class="row" data-equalizer>
      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_debate.png", size: "80x80", alt: "", title: t("welcome.debates.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.debates.title") %></h2>
            <p><%= t("welcome.debates.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_proposal.png", size: "80x80", alt: "", title: t("welcome.proposal.title"))  %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.proposal.title") %></h2>
            <p><%= t("welcome.proposal.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_decide.png", size: "80x80", alt: "", title: t("welcome.decide.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.decide.title") %></h2>
            <p><%= t("welcome.decide.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_do.png", size: "80x80", alt: "", title: t("welcome.do.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.do.title") %></h2>
            <p><%= t("welcome.do.description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding slogan">
    <div class="small-12 medium-8 column small-centered text-center">
      <p><%= t("layouts.header.open_city_slogan_html") %></p>
      <div class="small-12 medium-6 small-centered padding">
        <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                    page_path('more_information'), class: "button hollow expanded" %>
      </div>
    </div>
  </div>
<% end %>
