<% content_for(:header) do %>
  <div class="header wide parallax-window" data-parallax="scroll" data-image-src="<%= asset_url('home/banner-background.jpg') %>" data-speed="0.4" data-natural-height="435" data-natural-width="1900">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h1 class="title-expanded">
          <%= link_to root_path do %>
            <span class="pam">PAM</span>
            <span class="pla-barcelona">PlaBarcelona</span>
            <span class="decidim-barcelona">
              <span>Decidim</span>
              <span>Barcelona</span>
            </span>
          <% end %>
        </h1>
        <div class="header-motto">
          <span class="header-text">
            <%= t('welcome.header-motto.text').html_safe %>
          </span>

          <%= link_to proposals_path, class: 'header-link' do %>
            <%= t 'welcome.header-motto.link' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns home-content">
  </div>
</div>
