<% provide :title, t("meta_tags.welcome_index.title") %>
<% provide :meta_description, t("meta_tags.welcome_index.description") %>
<% provide :meta_keywords, t("meta_tags.welcome_index.keywords") %>

<% cache ["welcome_index_20170117", display_budget_countdown?] do %>
  <div class="welcome">
    <div class="expanded no-margin-top header">
      <div class="row">
        <div class="small-12 medium-8 small-centered text-center column">
          <h1>
            <%= link_to t("layouts.header.open_city_title"), first_voting_path, class: "decoration-none" %>
          </h1>
          <p class="lead"><%= t("layouts.header.open_city_slogan_short_html") %></p>
          <p><%= t("layouts.header.lead_text_html") %></p>

          <% unless user_signed_in? %>
            <div class="small-12 medium-6 large-4 small-centered">
              <%= link_to t("layouts.header.sign_up"), new_user_registration_path , class: "button expanded" %>
            </div>
            <p><%= t("layouts.header.sign_in",
                login: link_to(t("layouts.header.sign_in_link"), new_user_session_path)).html_safe %></p>
          <% end %>

        </div>
      </div>
    </div>

    <%= render "cards" %>

    <%= render "features" %>

    <div class="slogan">
      <div class="row padding">
        <div class="small-12 medium-8 column small-centered text-center">
          <p><%= t("layouts.header.open_city_slogan_html") %></p>
            <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                        page_path('more_information'), class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
