<div class="expanded highlight no-margin-top custom-getafe">
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 column">


      <div class="project-introduction">
        <h1 class="project-title"><%= t("layouts.header.open_city_title") %></h1>
        <%= t("layouts.header.open_city_introduction_html") %>&nbsp;
        <%= link_to t("layouts.header.more_info"), more_info_path %>
        <h2 class="project-slogan">
          <%= t("layouts.header.open_city_slogan_html") %>&nbsp;
        </h2>
      </div>
    </div>
  </div>
</div>

<%= render '/custom_banner' %>
<% cache [locale_and_user_status, @featured_debates, @featured_proposals, @pages_in_cover, 'featured'] do %>
  <main>

    <div class="row margin">
      <div class="medium-8 column">
        <h2 class="title open-processes inline-block">
          Procesos abiertos e información sobre asambleas
        </h2>
        <%= render 'welcome/active_procceses' %>
      </div>
      <div class="medium-4 column">
        <a class="twitter-timeline" data-dnt="true" data-height="900px" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/participagetafe?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </main>
<% end %>
