<% provide :title, t("meta_tags.welcome_index.title") %>
<% provide :meta_description, t("meta_tags.welcome_index.description") %>
<% provide :tracking_page_number, "23" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache ["welcome_index_20170925", user_signed_in?] do %>
  <div class="welcome">

    <h1 class="show-for-sr"><%= t("welcome.title") %></h1>

    <%= render "header" %>

    <%= render "cards" %>

    <%= render "features" %>

    <div class="row padding slogan">
      <div class="small-12 column text-center">
        <p><%= t("layouts.header.open_city_slogan_html") %></p>
          <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                      more_info_path, class: "button hollow large" %>
      </div>
    </div>
  </div>
<% end %>
