<% provide :title, t("meta_tags.welcome_index.title") %>
<% provide :meta_description, t("meta_tags.welcome_index.description") %>
<% provide :meta_keywords, t("meta_tags.welcome_index.keywords") %>
<% provide :tracking_page_number, "23" %>

<% cache ["welcome_index_20170325", user_signed_in?] do %>

  <div class="welcome">

    <div class="no-margin-top">
      <%= render "budgets_module" %>
    </div>

    <%= render "polls_results" %>

    <%= render "cards" %>

    <%= render "features" %>

    <div class="slogan">
      <div class="row padding">
        <div class="small-12 medium-8 column small-centered text-center">
          <p><%= t("layouts.header.open_city_slogan_html") %></p>
            <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                        page_path('more_information'), class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
