<% provide :title, t("meta_tags.welcome_index.title") %>
<% provide :meta_description, t("meta_tags.welcome_index.description") %>
<% provide :tracking_page_number, "23" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache ["welcome_index_20170524c", user_signed_in?] do %>
  <div class="welcome">

    <h1 class="sr-only"><%= t("welcome.title") %></h1>

    <div class="no-margin-top">
      <%= render "budgets_module" %>
    </div>

    <%= render "cards" %>

    <%= render "features" %>

    <div class="slogan">
      <div class="row padding">
        <div class="small-12 medium-8 column small-centered text-center">
          <p><%= t("layouts.header.open_city_slogan_html") %></p>
            <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                        more_info_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
