<div class="no-margin-top">

    <div class="hero">
      <div class="row all-screen collapse">
        <div class="small-10 medium-7 large-6 columns">
          <div class="home-info">
            <p class="home-info-dates label float-right"> <%= Setting["home.info-date"] %> </p>
            <h4 class="small blue"> <%= Setting["home.info-epigraph"] %> </h4>
            <h1 class="home-info-title"> <%= Setting["home.info-title"] %> </h1>
            <%= link_to Setting["home.info-go_to"], Setting["home.info-go_to_link"], class: "button primary" %>
          </div>
        </div>
        <div class="small-2 medium-5 large-6 columns home-img">
          <%= image_tag(image_path_for('foto1.jpg')) %>
        </div>
      </div>

      <div class="row all-screen collapse">
        <div class="small-12 medium-4 medium-offset-8 large-5 large-offset-7 columns">
          <div class="hero-quote">
            <h2> <%= Setting["home.main-title"] %> </h2>
            <div class="text-right">
              <%= link_to Setting["home.main-subtitle"], Setting["home.main-subtitle-link"], class: "hollow button secondary" %>
            </div>
        </div>
        </div>
      </div>
    </div>

</div>

  <main>

<div class="row all-screen collapse how-it-works">
  <div class="large-3 columns">
    <div class="padding bg-gray">
      <h2 class="white">
        <%= t("welcome.how_work") %>
      </h2>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="row bg-light-gray">
      <div class="large-3 columns">
        <div class="como01"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            1
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.project.description") %></p>
          </div>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="como02"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
          2
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.design.description") %></p>
          </div>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="como03"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            3
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.do.description") %></p>
          </div>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="como04"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            4
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.project.description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


    <div class="home-proposals">
      <% if Proposal.all.any? %>
      <h1 class="text-center home-title"> <%= t("welcome.proposals.title") %> </h1>
      <%= link_to t("welcome.proposals.link_to"), proposals_path, class: 'button button-home-proposals text-center' %>
      <div class="row">
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: most_voted_proposals.first, proposal_type: "Más votadas", proposal_class: "proposal-type most-voted" %>
        </div>
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: Proposal.sort_by_created_at.first, proposal_type: "Más activas", proposal_class: "proposal-type most-activated" %>
        </div>
        <div class="small-12 medium-4 column">
          <%= render "proposal", proposal: Proposal.sort_by_most_commented.first, proposal_type: "Más nuevas", proposal_class: "proposal-type newest" %>
        </div>
      </div>
      <% end %>
    </div>

</main>
