<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-9 small-centered column text-center">
      <h1><%= t("layouts.header.open_city_title") %></h1>
      <p class="lead">
        <%= t("layouts.header.open_city_slogan_html") %>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("layouts.header.more_info"), more_info_path, class: "button expanded large" %>
      </div>
    </div>
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row">
      <div class="small-12 medium-6 column">
        <p>
          <span class="lead"><strong><%= t("welcome.debates.title") %></strong></span><br>
          <%= t("welcome.debates.description") %>
        </p>

      </div>
      <div class="small-12 medium-6 column">
        <p>
          <span class="lead"><strong><%= t("welcome.proposal.title") %></strong></span><br>
          <%= t("welcome.proposal.description") %>
        </p>
      </div>
    </div>

    <div class="row margin-top">
      <div class="small-12 medium-6 column">
        <p>
          <span class="lead"><strong><%= t("welcome.decide.title") %></strong></span><br>
          <%= t("welcome.decide.description") %>
        </p>
      </div>
      <div class="small-12 medium-6 column">
        <p>
          <span class="lead"><strong><%= t("welcome.do.title") %></strong></span><br>
          <%= t("welcome.do.description") %>
        </p>
      </div>
    </div>
  </main>
<% end %>
