<% cache ["welcome_index_240617", display_budget_countdown?] do %>
  <div class="expanded home-page padding no-margin-top">
    <div class="row">
      <div class="small-12 medium-8 column small-centered text-center">
        <h1><%= t("layouts.header.open_city_title") %></h1>
        <p><%= t("layouts.header.open_city_slogan_short") %></p>
      </div>
    </div>
  </div>

  <% if display_budget_countdown? %>
    <div class="expanded jumbo-counter padding">
      <div class="row">
        <div class="small-12 medium-6 column">
          <h2><%= t("shared.counter.budget_text_html") %></h2>
          <h3><%= t("shared.counter.budget_title") %></h3>
          <div class="small-12 medium-6 small-centered">
            <%= link_to t("shared.counter.budget_button"), participatory_budget_path, class: "button expanded" %>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <%= render "shared/budget_counter" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "featured_welcome" %>

  <div class="expanded padding featured-welcome features">
    <div class="row" data-equalizer>
      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_debate.png", size: "80x80", alt: "", title: t("welcome.debates.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.debates.title") %></h2>
            <p><%= t("welcome.debates.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_proposal.png", size: "80x80", alt: "", title: t("welcome.proposal.title"))  %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.proposal.title") %></h2>
            <p><%= t("welcome.proposal.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_decide.png", size: "80x80", alt: "", title: t("welcome.decide.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.decide.title") %></h2>
            <p><%= t("welcome.decide.description") %></p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column">
        <div class="panel" data-equalizer-watch>
          <div class="small-12 medium-3 column text-left">
            <%= image_tag("icon_home_do.png", size: "80x80", alt: "", title: t("welcome.do.title")) %>
          </div>
          <div class="small-12 medium-9 column">
            <h2><%= t("welcome.do.title") %></h2>
            <p><%= t("welcome.do.description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding slogan">
    <div class="small-12 medium-8 column small-centered text-center">
      <p><%= t("layouts.header.open_city_slogan_html") %></p>
      <div class="small-12 medium-6 small-centered padding">
        <%= link_to t("welcome.more_information", org_name: setting['org_name']),
                    page_path('more_information'), class: "button hollow expanded" %>
      </div>
    </div>
  </div>
<% end %>
