<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <section role="main">
    <div class="row text-center">
      <div class="small-12 medium-3 column">
        <%= image_tag("icon_home_debate.svg", size: "168x168") %>
        <h3><%= t("welcome.debates.title") %></h3>
        <p><%= t("welcome.debates.description") %></p>

      </div>
      <div class="small-12 medium-3 column">
        <%= image_tag("icon_home_proposal.svg", size: "168x168") %>
        <h3><%= t("welcome.proposal.title") %></h3>
        <p><%= t("welcome.proposal.description") %></p>
      </div>

      <div class="small-12 medium-3 column">
        <%= image_tag("icon_home_decide.svg", size: "168x168") %>
        <h3><%= t("welcome.decide.title") %></h3>
        <p><%= t("welcome.decide.description") %></p>
      </div>
      <div class="small-12 medium-3 column">
        <%= image_tag("icon_home_done.svg", size: "168x168") %>
        <h3><%= t("welcome.do.title") %></h3>
        <p><%= t("welcome.do.description") %></p>
      </div>
    </div>
  </section>
<% end %>
