<button type="button" aria-expanded="<%= advanced_search.present? %>" id="js-advanced-search-title" class="text-white" hidden="hidden">
  <%= t("shared.advanced_search.title") %>
</button>
<%= form_tag request.path, id: "advanced_search_form", method: :get do %>
<div class="col-12 bg-primary text-white px-3 d-flex justify-content-center">
  <div class="col-8">
    <label for="search" class="text-white">
      <%= t("shared.advanced_search.general") %>
    </label>
    <%= text_field_tag "search", params[:search], class:"form-control" %>

  </div>
  <div class="col-6">

    <label for="js-advanced-search-date-min"><%= t("shared.advanced_search.date") %></label>
    <%= select_tag("advanced_search[date_min]", date_range_options, class:"form-select", include_blank: t("shared.advanced_search.date_range_blank"), id: "js-advanced-search-date-min") %>
  </div>
  <div class="col-6">

    <div id="js-custom-date" class="custom-date-filters" style="display: none">
      <label for="advanced_search_date_min" class="text-white">
        <%= t("shared.advanced_search.from") %>
        (<%= t("shared.advanced_search.date_placeholder") %>)
      </label>
      <%= text_field_tag "advanced_search[date_min]", advanced_search[:date_min], class: "js-calendar form-select" %>
    </div>
  </div>

  <div class="col-6">
    <label for="advanced_search_date_max">
      <%= t("shared.advanced_search.to") %>
      (<%= t("shared.advanced_search.date_placeholder") %>)
    </label>
    <%= text_field_tag "advanced_search[date_max]", advanced_search[:date_max], class: "js-calendar form-select" %>
  </div>
</div>
<% if sdg? %>
  <div class="filter">
    <label for="advanced_search_goal"><%= t("shared.advanced_search.goal") %></label>
    <%= select_tag("advanced_search[goal]", goal_options, class: "form-select", include_blank: t("shared.advanced_search.goal_blank")) %>
  </div>
  <div class="filter">
    <label for="advanced_search_target"><%= t("shared.advanced_search.target") %></label>
    <%= select_tag("advanced_search[target]", target_options, class: "form-select", include_blank: t("shared.advanced_search.target_blank")) %>
  </div>
<% end %>

<div class="submit">
  <%= submit_tag t("shared.advanced_search.search"), class: "btn btn-lg btn-white w-100" %>
</div>
</div>

</div>

<% end %>
