<% provide(:title) do %>
  <%= t("events.calendar.title", default: "Events Calendar") %>
<% end %>

<div class="calendar-container">

  <div class="clearfix mb-4">

    <% if current_user&.administrator? %>
      <div class="float-right">
        <%= link_to t("admin.events.index.view_list", default: "View List"),
                    admin_events_path,
                    class: "button secondary hollow",
                    style: "margin-right: 0.5rem;" %>

        <%= link_to t("admin.events.index.new_event"),
                    new_admin_event_path,
                    class: "button success" %>
      </div>
    <% end %>
    <h2 class="h3"><%= t("events.calendar.title", default: "Events Calendar") %></h2>
  </div>

  <%#= month_calendar(events: @calendar_items, attribute: :calendar_start, start_date: @start_date) do |date, items| %>
  <%= month_calendar(events: @calendar_items, attribute: :calendar_start, end_attribute: :calendar_end, start_date: @start_date) do |date, items| %>
    <div class="day-number"><%= date.day %></div>

    <% items.each do |item| %>
      <div class="event-bar <%= item.calendar_class %>">

        <%# Event Title Link %>
        <%= link_to item.calendar_title,
                    item.calendar_link_url,
                    class: "event-link text-white text-truncate",
                    title: item.calendar_title %>

      </div>
    <% end %>

  <% end %>
</div>
