<% content_for :action_title, t("dashboard.mailing.index.title") %>
<div class="row expanded">
  <div class="small-12 medium-9 large-7 column dashboard-mail-preview">
    <div class="mail-header">
      <h1><%= proposal.title %></h1>
      <h2><%= t("dashboard.mailer.forward.subtitle") %></h2>
    </div>

    <div class="margin-bottom">
      <% if proposal.image.present? %>
        <%= image_tag proposal.image.attachment.url(:large) %>
      <% else %>
        <%= image_tag "default_mailing.jpg" %>
      <% end %>
    </div>

    <div class="mail-body">
      <%== t("dashboard.mailer.forward.introduction") %>

      <div class="text-center">
        <%= link_to t("dashboard.mailer.forward.support_it"),
                    proposal_url(@proposal), class: "button large" %>
      </div>

      <%== t("dashboard.mailer.forward.share_info") %>

      <div class="text-center">
        <h3><%= t("dashboard.mailer.forward.share_in") %></h3>
        <%= render partial: 'shared/social_share', locals: {
                   title: @proposal.title,
                   url: proposal_url(@proposal),
                   description: @proposal.summary } %>
      </div>
    </div>
  </div>

  <%= render 'mailing_options' %>
</div>
