<p class="account-info">
  <%= t("management.document_type_label") %> <strong><%= humanize_document_type(@verification_on_site.document_type) %></strong>
  <%= t("management.document_number") %> <strong><%= @verification_on_site.document_number %></strong>
  <%= t("management.username_label") %> <strong><%= @verification_on_site.user.username %></strong>
  <%= t("management.email_label") %> <strong><%= @verification_on_site.user.email %></strong>
</p>

<div class="alert-box success radius">
  <%= t("management.users.census_success_account") %>
</div>

<div class="user-permissions">

  <p><%= t("management.users.census_success_info") %></p>

  <ul>
    <li><i class="icon-check"></i> <%= t("management.users.user_permission_debates") %></li>
    <li><i class="icon-check"></i> <%= t("management.users.user_permission_proposal") %></li>
    <li><i class="icon-check"></i> <%= t("management.users.user_permission_support_proposal") %></li>
    <li><i class="icon-x"></i> <%= t("management.users.user_permission_votes") %></li>
  </ul>

  <%= form_for @verification_on_site, url: management_on_site_verifications_path do |f| %>
    <%= f.hidden_field :document_type %>
    <%= f.hidden_field :document_number %>
    <%= f.submit t("management.users.verify"), class: "button success radius" %>
  <% end %>

</div>
