<div class="small-12 medium-9 column <%= results_type == :compatible ? 'success' : 'js-discarded' %>" id="<%= results_type %>-container">

  <h3 class="inline-block">
    <%= title %>
  </h3>

  <table id="budget-investments-<%= results_type %>" class="table-for-mobile">
    <thead>
      <tr>
        <th scope="col">
          <%= t("budgets.results.spending_proposal") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.results.ballot_lines_count") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.results.price") %>
        </th>
        <% if results_type == :compatible %>
          <th scope="col" class="text-right">
            <%= format_price(heading_price) %><br>
            <small><%= t("budgets.results.amount_available") %></small>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% amount_available = heading_price %>
      <% investments.each do |investment| %>
          <tr id="<%= dom_id(investment) %>" class="budget-investments <%= investment.winner? ? 'success' : 'js-discarded' %>">
            <td>
              <% if investment.winner? %>
                <span class="icon-check">
                  <span class="show-for-sr">
                    <%= t("budgets.results.accepted") %>
                  </span>
                </span>
              <% else %>
                <span class="icon-x delete">
                  <span class="show-for-sr">
                    <%= t("budgets.results.discarded") %>
                  </span>
                </span>
              <% end %>
              <%= link_to investment.title, budget_investment_path(@budget, investment) %>
            </td>
            <td class="text-center">
              <%= investment.ballot_lines_count %>
            </td>
            <td class="text-center">
              <%= format_price investment.price %>
            </td>
            <% if results_type == :compatible %>
              <td class="small text-right"
                  title="<%= format_price(amount_available) %> - <%= format_price(investment.price) %>">
                  <%= format_price amount_available - investment.price %>
                  <% amount_available -= investment.price if investment.winner? %>
              </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
