<% provide :title, t("budgets.results.page_title", budget: @budget.name) %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_results_url(@budget, heading_id: @heading) %>
<% end %>

<div class="expanded budget no-margin-top">
  <div class="row">
    <div class="small-12 column padding text-center">
      <%= back_link_to budget_path(@budget) %>

      <h2 class="title">
        <%= @budget.name %><br>
        <%= t("budgets.results.heading") %>
      </h2>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <ul class="menu vertical no-margin-top no-padding-top">
      <li>
        <strong>
          <%= t("budgets.results.geozone_selection_title") %>
        </strong>
      </li>

      <% @budget.headings.each do |heading| %>
        <li>
          <%= link_to heading.name,
                      budget_results_path(@budget, heading_id: heading.id) %>
        </li>
      <% end %>
    </ul>
  </div>

  <span class="float-right"><%= link_to t("budgets.results.hide_discarded_link"), "#", class: "js-toggle-link button hollow margin-bottom", data: {'toggle-selector' => '.js-discarded', 'toggle-text' => t("budgets.results.show_all_link")} %></span>


  <%= render 'results_table', results_type: :compatible,
                              title: @heading.name,
                              heading_price: @heading.price,
                              investments: @investments.compatible %>

  <%= render 'results_table', results_type: :incompatible,
                              title: t("budgets.results.incompatibles"),
                              heading_price: @heading.price,
                              investments: @investments.incompatible %>
</div>
