<h1><%= t('moderation.organizations.index.title') %></h1>

<table>
  <% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.email %></td>
    <td><%= organization.phone_number %></td>
    <% if organization.verified? %>
      <td><%= t('moderation.organizations.index.verified') %></td>
    <% end %>
    <% if can? :verify, organization %>
      <td><%= link_to t('moderation.organizations.index.verify'),
                verify_moderation_organization_path(organization),
                method: :put
          %>
      </td>
    <% end %>
    <% if organization.rejected? %>
      <td><%= t('moderation.organizations.index.rejected') %></td>
    <% end %>
    <% if can? :reject, organization %>
      <td><%= link_to t('moderation.organizations.index.reject'),
                reject_moderation_organization_path(organization),
                method: :put
          %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
