<table class="margin">
  <thead>
    <th><%= t("admin.results.result.table_whites") %></th>
    <th><%= t("admin.results.result.table_nulls") %></th>
    <th><%= t("admin.results.result.table_total") %></th>
  </thead>
  <tbody>
    <tr>
      <td id="white_results"><%= resource.recounts.sum(:white_amount) %></td>
      <td id="null_results"><%= resource.recounts.sum(:null_amount) %></td>
      <td id="total_results"><%= resource.recounts.sum(:total_amount) %></td>
    </tr>
  </tbody>
</table>