<h3><%= t("admin.results.results_by_booth.title") %></h3>
<table class="margin" id="booth_assignment_results">
  <thead>
    <tr>
      <th><%= t("admin.results.results_by_booth.booth") %></th>
      <th class="text-center"><%= t("admin.results.results_by_booth.results") %></th>
    </tr>
  </thead>
  <tbody>
    <% @poll.booth_assignments.sort_by {|ba| ba.booth.name }.each do |booth_assignment| %>
      <tr id="booth_assignment_<%= booth_assignment.id %>_result">
        <td><%= booth_assignment.booth.name %></td>
        <td class="text-center">
          <%= link_to t("admin.results.results_by_booth.see_results"),
                      admin_poll_booth_assignment_path(@poll, booth_assignment, anchor: "tab-results") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
