<%= form_for [:admin, @assembly], html: {class: "edit_assembly", data: {watch_changes: true}} do |f| %>

  <% if @assembly.errors.any? %>
    <div id="error_explanation" data-alert class="callout alert" data-closable>
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <strong>
        <%= @assembly.errors.count %>
        <%= t("admin.site_customization.assemblies.errors.form.error", count: @assembly.errors.count) %>
        <!-- <%= @assembly.errors.inspect %> -->
      </strong>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 column">
      <hr>
      <%= f.label :geozone_id, t(".geozone") %>
      <%= f.select :geozone_id, geozones_select_options(@geozones), label: false %>
      <%= f.label :assembly_type_id, t(".assembly_type") %>
      <%= f.select :assembly_type_id, assembly_types_select_options(@assembly_types), label: false %>
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name, label: false, size: 80, maxlength: 80 %>
      <%= f.label :about_venue, t('.about_venue') %>
      <%= f.text_field :about_venue, label: false, size: 80, maxlength: 80 %>
      <div class="ckeditor margin-top">
        <%= f.label :general_description, t('.general_description') %>
        <%= f.cktext_area :general_description, label: false, cols: 80, rows: 10, ckeditor: { language: I18n.locale } %>
      </div>
      <div class="ckeditor margin-top">
        <%= f.label :scope_description, t('.scope_description') %>
        <%= f.cktext_area :scope_description, label: false, cols: 80, rows: 10, ckeditor: { language: I18n.locale } %>
      </div>
      <div class="small-12 medium-6 large-4">
        <%= f.submit  t('.save'), class: "button success expanded"%>
      </div>
    </div>
  </div>


<% end %>
