<% cache [locale_and_user_status, debate, current_user&.voted_as_when_voted_for(debate)] do %>
  <div id="<%= dom_id(debate) %>" class="debate clear" data-type="debate">
    <div class="panel">
      <%= render Shared::BasicContentComponent.new(debate) do %>
        <%= render Shared::BasicInfoComponent.new(debate) %>
      <% end %>

      <div id="<%= dom_id(debate) %>_votes">
        <%= render Debates::VotesComponent.new(debate) %>
      </div>
    </div>
  </div>
<% end %>
