<div id="debate-<%= debate.id %>" class="small-12 medium-6 large-4 column debate end">
    <div class="panel">
        <i class="fi-comment-quotes left"></i>
        <span class="label radius right"><%= t("debates.debate.debate") %></span>

        <h3><%= link_to debate.title, debate %></h3>
        <p>Por <%= debate.author.name %> el <%= l debate.created_at.to_date %></p>
        <p><%= sanitize(debate.description.html_safe) %></p>

        <p><%= render 'shared/tags', debate: debate %></p>

		<div class="row votes">
        	<div class="small-8 column">

	    		<%= link_to debate_votes_path(debate, value: 'yes'), class: 'in-favor', method: "post" do %>
	    			<i class="fi-like"></i>
	    			<span><%= percentage('likes', debate) %></span>
	    		<% end %>

	    		<span class="divider"></span>

	    		<%= link_to debate_votes_path(debate, value: 'no'), class: 'against', method: "post" do %>
	    			<i class="fi-dislike"></i>
	    			<span><%= percentage('dislikes', debate) %></span>
	    		<% end %>
			</div>

			<div class="small-4 column">
    			<p class="total-votes right"><%= pluralize(debate.total_votes, t("debates.debate.vote"), t("debates.debate.votes")) %></p>
    		</div>
    	</div>
    </div>
</div>
