<div id="featured-debates" class="row featured-debates-container">
  <div class="small-12 medium-3 column">
    <h2>
      <%= t("debates.index.featured_debates_html") %>
    </h2>
    <span class="show-for-medium-up">
      <%= image_tag("featured_debates.jpg", size: "210x135") %>
    </span>
  </div>
  <div class="small-12 medium-9 column debates-list">

    <div class="debate-featured small-12 column">
      <div class="panel">
        <div class="content small-12 left">
          <h3>
          <%= link_to "#Túpreguntas: Javier Barbero, Concejal de Salud, Seguridad y Emergencias", "https://decide.madrid.es/debates/4337" %></h3>
          <div class="info">
            <span class="author">
              <%= link_to "Javier Barbero", "https://decide.madrid.es/users/18"%>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="debate-featured small-12 column">
      <div class="panel">
        <div class="content small-12 left">
          <h3>
          <%= link_to "#Túpreguntas: Manuela Carmena, Alcaldesa de Madrid.", "https://decide.madrid.es/debates/4320" %></h3>
          <div class="info">
            <span class="author">
              <%= link_to "Manuela Carmena ", "https://decide.madrid.es/users/21452"%>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
