<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Inés Sabanés, concejala de Medio Ambiente y Movilidad", "https://decide.madrid.es/debates/4553-tupreguntas-ines-sabanes-concejala-de-medio-ambiente-y-movilidad" %></h3>
    <%= link_to "Inés Sabanés", "https://decide.madrid.es/users/17" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Mauricio Valiente, concejal del distrito de Chamartín", "https://decide.madrid.es/debates/4503" %></h3>
    <%= link_to "Mauricio Valiente", "https://decide.madrid.es/users/22" %>
  </div>

</div>
