<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "Lanza tu pregunta para el Pleno Abierto",
                    "https://decide.madrid.es/debates/4588-lanza-tu-pregunta-para-el-pleno-abierto" %></h3>
    <%= link_to "Abriendo Madrid", "https://decide.madrid.es/users/67385" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "¿Debería movilizarse la sociedad civil para que lleguen los refugiados?",
                    "https://decide.madrid.es/debates/4581-deberia-movilizarse-la-sociedad-civil-para-que-lleguen-los-refugiados" %></h3>
    <%= link_to "Voluntarios por Madrid", "https://decide.madrid.es/users/120609" %>
  </div>

</div>
