<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "Madrid solidario. A ti, ¿en qué te gustaría colaborar?", "https://decide.madrid.es/debates/4571-madrid-solidario-a-ti-en-que-te-gustaria-colaborar" %></h3>
    <%= link_to "Voluntarios por Madrid", "https://decide.madrid.es/users/120609" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Rommy Arce, concejala de los distritos de Arganzuela y Usera", "https://decide.madrid.es/debates/4557-tupreguntas-rommy-arce-concejala-de-los-distritos-de-arganzuela-y-usera" %></h3>
    <%= link_to "Rommy Arce", "https://decide.madrid.es/users/109092" %>
  </div>

</div>
