<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#Túpreguntas: Manuela Carmena, Alcaldesa de Madrid.", "https://decide.madrid.es/debates/4320" %></h3>
    <%= link_to "Manuela Carmena ", "https://decide.madrid.es/users/21452"%>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "¿Y si pudieras entrevistar a Manuela Carmena o a los otros concejales?", "https://decide.madrid.es/debates/4299" %></h3>
    <%= link_to "ParticipaciónYTransparenciaAytoMadrid", "https://decide.madrid.es/users/52055"%>
  </div>

</div>
