<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "Madrid solidario. A ti, ¿en qué te gustaría colaborar?", "https://decide.madrid.es/debates/4571-madrid-solidario-a-ti-en-que-te-gustaria-colaborar" %></h3>
    <%= link_to "Voluntarios por Madrid", "https://decide.madrid.es/users/120609" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Francisco Pérez, concejal de Villa de Vallecas y Pte. de Vallecas", "https://decide.madrid.es/debates/4572-tupreguntas-francisco-perez-concejal-de-villa-de-vallecas-y-pte-de-vallecas" %></h3>
    <%= link_to "Francisco Perez", "https://decide.madrid.es/users/9459" %>
  </div>

</div>
