<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "La Plaza España como ágora. Vivir la plaza como parte del barrio y de la ciudad", "https://decide.madrid.es/debates/4494" %></h3>
    <%= link_to "Abriendo Madrid", "https://decide.madrid.es/users/67385" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Pablo Soto, concejal de Participación y Transparencia", "https://decide.madrid.es/debates/4490" %></h3>
    <%= link_to "PabloSoto", "https://decide.madrid.es/users/6" %>
  </div>

</div>
