<%= form_for(@debate) do |f| %>
  <% if @debate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debate.errors.count, t("debates.form.one_error"), t("debates.form.multiple_errors")) %> <%= t("debates.form.not_saved") %>:</h2>

      <ul>
      <% @debate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong><%= t("debates.form.debate_title") %></strong></p>
  <p><%= t("debates.form.title_instructions") %></p>
  <%= f.text_field :title %>

  <br/>
  <p><strong><%= t("debates.form.debate_text") %></strong></p>
  <p><%= t("debates.form.text_instructions") %></p>
  <%= f.cktext_area :description, ckeditor: { language: I18n.locale } %>
  <div>
    <%= f.label :tag_list, t("debates.form.tags_label") %><br />
    <%= f.text_field :tag_list, value: @debate.tag_list.to_s %>
  </div>

  <% if @debate.new_record? %>
    <%= f.check_box :terms_of_service %>
    <%= t("debates.form.accept_terms") %>
  <% end %>

  <%= render 'shared/captcha', resource: @debate %>

  <div class="actions">
    <%= f.submit(class: "button radius") %>
  </div>
  <br/>
<% end %>
