<% voted_classes = css_classes_for_vote(@debate_votes, debate) %>
<div class="votes">
  <div class="in-favor inline-block">
    <% if user_signed_in? %>
      <%= link_to vote_debate_path(debate, value: "yes"),
          class: "like #{voted_classes[:in_favor]}", title: t("votes.agree"), method: "post", remote: true do %>
        <span class="percentage"><%= votes_percentage("likes", debate) %></span>
        <span class="icon-like">
          <span class="show-for-sr"><%= t("votes.agree") %></span>
        </span>
      <% end %>
    <% else %>
      <div class="like">
        <span class="percentage"><%= votes_percentage("likes", debate) %></span>
        <span class="icon-like">
          <span class="show-for-sr"><%= t("votes.agree") %></span>
        </span>
      </div>
    <% end %>
  </div>

  <span class="divider"></span>

  <div class="against inline-block">
    <% if user_signed_in? %>
      <%= link_to vote_debate_path(debate, value: "no"), class: "unlike #{voted_classes[:against]}", title: t("votes.disagree"), method: "post", remote: true do %>
        <span class="percentage"><%= votes_percentage("dislikes", debate) %></span>
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
        </span>
      <% end %>
    <% else %>
      <div class="unlike">
        <span class="percentage"><%= votes_percentage("dislikes", debate) %></span>
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
        </span>
      </div>
    <% end %>
  </div>

  <span class="total-votes">
    <%= t("debates.debate.votes", count: debate.total_votes) %>
  </span>

  <% if user_signed_in? && current_user.organization? %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= t("votes.organizations") %>
      </p>
    </div>
  <% elsif user_signed_in? && !debate.votable_by?(current_user) %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= sanitize(t("votes.anonymous", verify_account: link_to_verify_account)) %>
      </p>
    </div>
  <% elsif !user_signed_in? %>
    <div tabindex="0">
      <%= render "shared/login_to_vote" %>
    </div>
  <% end %>
</div>
