<% voted_classes = css_classes_for_vote(@debate_votes, debate) %>
<div class="votes">
  <div class="in-favor inline-block">
    <%= link_to vote_debate_path(debate, value: 'yes'),
        class: "like #{voted_classes[:in_favor]}", title: t('votes.agree'), method: "post", remote: true do %>
      <i class="icon-like"></i>
      <span><%= votes_percentage('likes', debate) %></span>
    <% end %>
  </div>

  <span class="divider"></span>

  <div class="against inline-block">
    <%= link_to vote_debate_path(debate, value: 'no'), class: "unlike #{voted_classes[:against]}", title: t('votes.disagree'), method: "post", remote: true do %>
      <i class="icon-unlike"></i>
      <span><%= votes_percentage('dislikes', debate) %></span>
    <% end %>
  </div>

  <span class="total-votes">
    <%= t("debates.debate.votes", count: debate.total_votes) %>
  </span>

  <% if user_signed_in? && current_user.organization? %>
  <div class="organizations-votes" style='display:none'>
    <p>
      <%= t("votes.organizations") %>
    </p>
  </div>
  <% elsif user_signed_in? && !debate.votable_by?(current_user)%>
  <div class="anonymous-votes" style='display:none'>
    <p>
      <%= t("votes.anonymous",
          verify_account: link_to(t("votes.verify_account"), verification_path )).html_safe %>
    </p>
  </div>
  <% elsif !user_signed_in? %>
  <div class="not-logged" style='display:none'>
    <%= t("votes.unauthenticated",
      signin: link_to(t("votes.signin"), user_omniauth_authorize_path(:openid))).html_safe %>
  </div>
  <% end %>
</div>
