<% voted_classes = case @voted_values[debate.id]
    when true
      {in_favor: "voted", against: "no-voted"}
    when false
      {in_favor: "no-voted", against: "voted"}
    else
      {in_favor: "", against: ""}
  end %>

<div class="votes">
  <div class="in-favor inline-block">
    <%= link_to vote_debate_path(debate, value: 'yes'),
        class: "like #{voted_classes[:in_favor]}", title: t('votes.agree'), method: "post", remote: true do %>
      <i class="icon-like"></i>
      <span><%= percentage('likes', debate) %></span>
    <% end %>
  </div>

  <span class="divider"></span>

  <div class="against inline-block">
    <%= link_to vote_debate_path(debate, value: 'no'), class: "unlike #{voted_classes[:against]}", title: t('votes.disagree'), method: "post", remote: true do %>
      <i class="icon-unlike"></i>
      <span><%= percentage('dislikes', debate) %></span>
    <% end %>
  </div>

  <span class="total-votes">
    <%= pluralize(debate.total_votes, t("debates.debate.vote"), t("debates.debate.votes")) %>
  </span>
</div>