<div class="debate-edit row">

  <div class="small-12 column">
    <%= link_to debates_path, class: "left back clear" do %>
      <i class="icon-angle-left left"></i>
      <%= t("debates.edit.back_link") %>
    <% end %>

    <div class="right">
      <%= link_to t("debates.edit.show_link"), @debate %>
    </div>

    <h1><%= t("debates.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>
