<section role="main">

  <div class="filters row">
    <div class="small-9 column">

      <div class="inline-block" >
        <% if @tag_filter %>
          <h2>
            <%= t("debates.index.filter_topic",
                   number: @debates.size,
                   topic: @tag_filter).html_safe %>
          </h2>
        <% else %>
          <h2><%= t("debates.index.select_topic") %></h2>
          <form class="inline-block">
             <select class="js-tag-filter" name="tag-filter"> 
               <option value="all" selected="selected"><%= t("debates.index.all") %></option>
               <%= options_from_collection_for_select(ActsAsTaggableOn::Tag.all, :name, :name) %>
             </select>
          </form>
        <% end %>
      </div>

      <div class="inline-block right">
        <h6 class="inline-block"><%= t("debates.index.select_order") %></h6>
        <form class="inline-block">
           <select class="js-order-selector" name="order-selector"> 
             <%= available_options_for_order_selector(@valid_orders, @order) %>
           </select>
        </form>
      </div>

    </div>
  </div>

  <div class="row">
    <div id="debates" class="debates-list small-12 medium-9 column">
      <%= render @debates %>
      <%= paginate @debates %>
    </div>
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("debates.index.create_debate"), new_debate_path, class: 'button radius expand' %>
        <%= render "shared/tag_cloud" %>
      </aside>
    </div>
  </div>
</section>
