<section role="main">

  <!-- Filters -->
  <div class="filters row">
    <div class="small-12 column">
      <h2><%= t("debates.index.showing") %></h2>
      <form class="inline-block">
         <select class="js-order-selector" name="order-selector"> 
           <%= available_options_for_order_selector(@valid_orders, @order) %>
         </select>
      </form>
    </div>
  </div>
  <!-- /. Filters -->

  <!-- Filter topic results -->
  <div class="filters row">
    <div class="small-12 column">
      <% if @tag_filter %>
        <h2>
          <%= t("debates.index.filter_topic",
                 number: @debates.size,
                 # TODO translation
                 topic: @tag_filter).html_safe %>
        </h2>
      <% else %>
        <h2>Filtrar por tema:  </h2>
        <form class="inline-block">
           <select class="js-tag-filter" name="tag-filter"> 
             <%# select_tag 'tag-filter', nil, {prompt: 'Temas --', class: 'js-tag-filter'} do %>
             <option value="default" disabled="disabled" selected="selected">Temas --</option>
             <%= options_from_collection_for_select(ActsAsTaggableOn::Tag.all, :name, :name, prompt: 'Temas...') %>
           </select>
        </form>
      <% end %>
    </div>
  </div>
  <!-- /. Filter topic results -->

  <div class="row">
    <div id="debates" class="debates-list small-12 medium-9 column">
      <%= render @debates %>
      <%= paginate @debates %>
    </div>
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("debates.index.create_debate"), new_debate_path, class: 'button radius expand' %>
        <%= render "shared/tag_cloud" %>
      </aside>
    </div>
  </div>
</section>
