<section id="debates" role="main">
  <div class="row">
  <!-- HTML for debates featured (3) -->
    <% debate = @debates.first %>
    <div class="small-12 medium-4 column debates-list">
      <div class="row">
        <div class="debates-featured">
          <div id="debate-<%= debate.id %>" class="small-12 column end debate">
            <div class="panel">
              <div class="debate-content">
                <span class="label left"><%= t("debates.debate.debate") %></span>
                <i class="icon-quote-right right"></i>

                <h3><%= link_to debate.title, debate %></h3>
                <p class="debate-info">
                  <i class="icon-chat-bubble-two"></i>&nbsp;<%= pluralize(debate.comment_threads.count, t("debates.show.comment"), t("debates.show.comments")) %>
                </p>
                <p><%= sanitize(truncate(debate.description, length: 200).html_safe) %></p>
                <p><%= render "shared/tags", debate: debate %></p>
              </div>

              <div class="row votes">
                <div class="small-12 column">
                  <%= link_to debate_votes_path(debate, value: "yes"), class: "like", title: t('votes.agree'), method: "post" do %>
                    <i class="icon-like"></i>
                    <span><%= percentage('likes', debate) %></span>
                  <% end %>

                  <span class="divider"></span>

                  <%= link_to debate_votes_path(debate, value: "no"), class: "unlike", title: t('votes.disagree'), method: "post" do %>
                    <i class="icon-unlike"></i>
                    <span><%= percentage('dislikes', debate) %></span>
                  <% end %>

                  <span class="total-votes right">
                    <%= pluralize(debate.total_votes, t("debates.debate.vote"), t("debates.debate.votes")) %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- HTML for debates featured (3) -->
    <div class="small-12 medium-9 column debates-list">
      <%= render @debates %>
    </div>
    <div class="small-12 medium-3 column">
      <aside role="complementary">
        <%= link_to t("debates.index.create_debate"), new_debate_path, class: 'button radius' %>
        <%= render "shared/tag_cloud" %>
      </aside>
    </div>
  </div>
</section>