<section role="main">

  <!-- Filters -->
  <div class="filters row">
    <div class="small-12 column">
      <h2><%= t("debates.index.showing") %></h2>

      <select class="inline-block">
        <option value="filter_news">
          <%= t("debates.index.filter_news") %>
        </option>
        <option value="filter_votes">
          <%= t("debates.index.filter_votes") %>
        </option>
        <option value="filter_rated">
          <%= t("debates.index.filter_rated") %>
        </option>
      </select>
    </div>
  </div>
  <!-- /. Filters -->

  <!-- Filter topic results -->
  <div class="filters row">
    <div class="small-12 column">
      <h2>
        <%= t("debates.index.filter_topic",
        number: "N",
        topic: "topic").html_safe %>
      </h2>
    </div>
  </div>
  <!-- /. Filter topic results -->

  <div class="row">
    <div id="debates" class="debates-list small-12 medium-9 column">
      <%= render @debates %>
      <%= paginate @debates %>
    </div>
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("debates.index.create_debate"), new_debate_path, class: 'button radius expand' %>
        <%= render "shared/tag_cloud" %>
      </aside>
    </div>
  </div>
</section>
