<div class="debate-form">
  <div class="small-12 medium-9 column">
    <%= back_link_to debates_path %>

    <h1><%= t("debates.new.start_new") %></h1>
    <div data-alert class="callout primary">
      <%= t("debates.new.info", info_link: link_to(t("debates.new.info_link"), new_proposal_path )).html_safe %>
      <%= link_to help_path, title: t('shared.target_blank_html'), target: "_blank" do %>
        <strong><%= t("debates.new.more_info") %></strong>
      <% end %>
    </div>
  </div>

  <%= render "form" %>
</div>
