<div class="debate-new debate-form no-margin-top row">

  <div class="small-12 column light expand padding">
    <%= back_link_to debates_path, t("debates.index.section_header.title") %>

    <div class="header">
      <span class="far fa-comment-alt header-icon"></span>

      <h1 class="inline-block"><%= t("debates.new.start_new") %></h1>
    </div>

    <h2 class="margin-top"><%= t("debates.new.recommendations_title") %></h2>

    <ul class="recommendations">
      <li><%= t("debates.new.recommendation_one") %></li>
      <li><%= t("debates.new.recommendation_two") %></li>
      <li><%= t("debates.new.recommendation_three") %></li>
      <li><%= t("debates.new.recommendation_four") %></li>
    </ul>
  </div>

  <div class="small-12 column">
    <%= render "form" %>
  </div>
</div>
