<div class="debate-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><%= t("debates.new.start_new") %></h1>
    <div data-alert class="callout primary">
      <%= t("debates.new.info",
      info_link: link_to(t("debates.new.info_link"), new_proposal_path )).html_safe %>
      <%= link_to more_info_path, title: t('shared.target_blank_html'), target: "_blank" do %>
        <strong><%= t("debates.new.more_info") %></strong>
      <% end %>
    </div>
    <%= render "form" %>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-debates float-right"></span>
    <h2><%= t("debates.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("debates.new.recommendation_one") %></li>
      <li><%= t("debates.new.recommendation_two") %></li>
      <li><%= t("debates.new.recommendation_three") %></li>
      <li><%= t("debates.new.recommendation_four") %></li>
    </ul>
  </div>
</div>
