<section class="debate-show">

    <div id="debate-<%= @debate.id %>" class="row">

        <div class="small-12 medium-9 column">

            <%= link_to "&laquo;&nbsp;".html_safe + t("debates.show.back_link"), debates_path, class: 'left back' %>

            <h1><%= @debate.title %></h1>
            <div class="debate-info">

                <%= image_tag('user_default.jpg', class: 'author-photo', size: '32x32') %>

                <%= @debate.author.name %> <span>&nbsp;&bullet;&nbsp;</span> <%= l @debate.created_at.to_date %> <span>&nbsp;&bullet;&nbsp;</span> <%= pluralize(@debate.comment_threads.count, t("debates.show.comment"), t("debates.show.comments")) %>
            </div>
            <div class="debate-description">
              <%= @debate.description.html_safe %>
            </div>
            <p><%= render 'shared/tags', debate: @debate %></p>
        </div>

      <div id="votes" class="votes small-12 medium-3 column">
        <%= render 'votes/votes' %>
      </div>
    </div>
</section>

<section class="row-full comments">
    <div class="row">
        <div id="comments" class="small-12 column">
            <h2><%= t("debates.show.comments") %></h2>
                <div>
                    <%= t("debates.show.leave_comment") %>
                    <%= render 'comments/form', parent: @debate %>
                </div>
            <%= render @debate.root_comments %>
        </div>
        <% if current_user && @debate.editable_by?(current_user) %>
            <%= link_to t("debates.show.edit_debate_link"), edit_debate_path(@debate), :class => 'button radius right' %>
        <% end %>
    </div>
</section>
