<section class="debate-show">
  <div id="debate-<%= @debate.id %>" class="row">
    <div class="small-12 medium-9 column">
      <i class="icon-angle-left left"></i>&nbsp;<%= link_to t("debates.show.back_link"), debates_path, class: 'left back' %>

      <% if current_user && @debate.editable_by?(current_user) %>
        <%= link_to edit_debate_path(@debate), :class => 'right' do %>
          <i class="icon-edit"></i>
          <%= t("debates.show.edit_debate_link") %>
        <% end %>
      <% end %>


      <h1><%= @debate.title %></h1>

      <div class="debate-info">
        <%= avatar_image(@debate.author, style: :small) %>
        <span class="author">
            <%= @debate.author.name %>
        </span>
        <span class="bullet">&nbsp;&bullet;&nbsp;</span>
        <%= l @debate.created_at.to_date %>
        <span class="bullet">&nbsp;&bullet;&nbsp;</span>
        <i class="icon-chat-bubble-two"></i>&nbsp;<%= link_to t("debates.show.comments", count: @debate.comment_threads.count), "#comments" %>
      </div>

      <%= @debate.description %>

      <%= render 'shared/tags', debate: @debate %>
    </div>

    <aside class="small-12 medium-3 column">
      <div class="sidebar-divider"></div>
      <h3><%= t("votes.supports") %></h3>
      <div class="text-center">
        <div id="<%= dom_id(@debate) %>_votes">
         <%= render 'debates/votes', debate: @debate %>
        </div>
      </div>
      <div class="sidebar-divider"></div>
      <h3><%= t("debates.show.share") %></h3>
      <%= social_share_button_tag(@debate.title) %>
      <% if user_signed_in? %>
          <%= link_to t("debates.show.leave_comment"), "#comments", class: "leave-comment" %>
        <% else %>
          <%= link_to t("debates.show.login_to_comment"), new_user_session_path, class: "leave-comment" %>
        <% end %>
    </aside>
  </div>
</section>

<section class="row-full comments">
  <div class="row">
    <div id="comments" class="small-12 column">
      <h2><%= t("debates.show.comments_title") %></h2>
      <% if user_signed_in? %>
        <div>
          <%= t("debates.show.leave_comment") %>
          <%= render 'comments/form', {parent: @debate, toggeable: false} %>
        </div>
      <% end %>
      <%= render @debate.root_comments.recent %>
    </div>
  </div>
</section>
