<% provide :title do %><%= t('participatory_budget.in_two_minutes.title_page') %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_participatory_budget" %>
<% end %>
<div class="budgets-welcome">

  <div class="expanded header">
    <div class="row no-margin-top padding">
      <div class="small-12 medium-9 column">
        <h1>Tú decides cómo invertir 100 millones de euros para Madrid</h1>
        <p>Los habitantes de Madrid deciden a qué proyectos irán destinados 100 millones de euros del presupuesto del Ayuntamiento para 2018. Será entre el 12 de enero y el 30 de junio de 2017. La gente puede proponer proyectos de gasto, apoyar y votar. El Gobierno asume la decisión como vinculante y la ejecuta a partir del 1 de enero de 2018. Propones, decides, se hace.</p>
      </div>
    </div>

    <div class="budgets-welcome-timeline">
      <div class="row">
        <div class="small-12 column">
          <ul class="no-bullet">
            <li>
              <strong>Recogida de proyectos</strong>
              <br>12 enero - 5 marzo
            </li>

            <li>
              <strong>Apoyos</strong>
              <br>11 marzo - 25 marzo
            </li>

            <li>
              <strong>Evaluación</strong>
              <br>26 marzo - 14 mayo
            </li>

            <li>
              <strong>Votación final</strong>
              <br>15 mayo - 30 junio
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-9 column small-centered">

    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 column text-center">
      <h2>Los presupuestos participativos en 2 minutos</h2>
    </div>
  </div>

  <div class="spending-proposals-text">
    <div class="row margin-top">
      <div class="small-12 large-2 large-offset-5 column show-for-large">
        <%= image_tag "budget_welcome/step_1.gif", alt:"" %>
      </div>
      <div class="small-12 large-5 column block-border-left">
        <h3>Recogida de proyectos</h3>
        <p>Del <strong>12 de enero al 5 de marzo</strong>, cualquier persona empadronada en Madrid puede proponer un proyecto de gasto para toda la ciudad o para un distrito concreto. Los <strong>100 millones</strong> se repartirán en una bolsa para proyectos para toda la ciudad, y una para cada distrito.</p>

        <p>En cada distrito hay espacios donde debatir, pensar y trabajar juntos sobre los proyectos, que se dejan en la web de Decide Madrid o en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que están por todo Madrid.</p>
      </div>
    </div>

    <div class="row no-margin-top">
      <div class="small-12 large-5 column large-text-right block-border-right">
        <h3>Apoyos y evaluación de proyectos</h3>
        <p>Del <strong>11 al 25 de marzo</strong> los usuarios de Decide Madrid pueden apoyar diez proyectos de gasto para toda la ciudad y diez para el distrito elegido. Los proyectos más apoyados pasan a la votación final.</p>

        <p>El Ayuntamiento estudia hasta el 14 de mayo que cada uno de esos proyectos cumple los requisitos de que sean viables y legales. El Ayuntamiento dice si todo esto se cumple y tasa cuánto costaría llevar los proyectos a cabo.</p>
      </div>
      <div class="small-12 large-2 column end show-for-large">
        <%= image_tag "budget_welcome/step_2.gif", alt:"" %>
      </div>
    </div>

    <div class="row no-margin-top">
      <div class="small-12 large-2 large-offset-5 column show-for-large">
        <%= image_tag "budget_welcome/step_3.gif", alt:"" %>
      </div>
      <div class="small-12 large-5 column block-border-left">
        <h3>Votación final</h3>
        <p>Del <strong>15 de mayo al 30 de junio</strong> tú decides qué proyectos finalistas de toda la ciudad y los distritos recibirán <strong>100 millones de euros</strong>. Conviértete en alcalde o alcaldesa y elige todas las propuestas que quieras hasta gastar el presupuesto.</p>

        <p>Las propuestas más votadas que completen los 100 millones serán las seleccionadas y se incluirán en el Proyecto Inicial del Presupuesto General del Ayuntamiento de Madrid.</p>
      </div>
    </div>

    <div class="row margin">
      <div class="small-12 medium-9 column">
        <p><%= link_to "Consulta las preguntas frecuentes", "#" %> para entender todo el proceso.<br>
        Si te queda alguna duda puedes enviarnos un email a <a href="mailto:preparticipativos@madrid.es">preparticipativos@madrid.es</a></p>
      </div>
    </div>

    <div class="expanded highlight padding">
      <div class="row padding">
        <div class="small-12 medium-6 column">
          <h3>Espacios presenciales de debate y propuesta</h3>
          <p>Entérate de cuándo y dónde se organizan encuentros para debatir los proyectos de gasto para los presupuestos participativos.</p>
          <%= link_to "Ver espacios presenciales de debate y propuesta", "budgets_meetings_2017", target: "_blank" %>
        </div>

        <div class="small-12 medium-6 column">
          <h3>Si te sientes gato</h3>
          <p>Si eres docente o responsable de un grupo de jóvenes puedes implicar a los votantes de menor edad gracias a esta iniciativa didáctica sobre los presupuestos participativos.</p>
          <%= link_to "Visitar Si te sientes gato", "https://decide.madrid.es/sitesientesgato", target: "_blank" %>
        </div>
      </div>
    </div>

    <div class="row margin-top">
      <div class="small-12 column text-center">
        <h2>
          Distribución del presupuesto participativo y proyectos de gasto
        </h2>

        <p>Un proyecto de gasto es...</p>

        <%= link_to "Entérate de qué tipo de proyectos puedes presentar", "#" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 small-centered column margin">

        <table>
          <thead>
            <tr>
              <th>Propuestas para toda la ciudad</th>
              <th>Propuestas para distritos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">30.000.000&euro;</td>
              <td class="text-center">70.000.000&euro;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
