<%= simple_form_for (@project) do |f| %>

  <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="deeplinked-tabs">
    <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true"> <%= t("admin.projects.edit.menu.proposal") %> </a></li>
    <li class="tabs-title"><a href="#panel2d"><%= t("admin.projects.edit.menu.design") %></a></li>
    <li class="tabs-title"><a href="#panel3d"><%= t("admin.projects.edit.menu.implementation") %></a></li>
    <li class="tabs-title"><a href="#panel4d"><%= t("admin.projects.edit.menu.evaluation") %></a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.input :name %>
        </div>
      </div>

      <div id="select-proposal" class="row" >
        <div class="small-12 medium-6 column">
          <%= f.association :proposal, as: :select, collection: Proposal.all %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :description %>
        </div>
      </div>

      <!-- <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.input :starts_at, input_html: {value: @project.starts_at.present? ? l(@project.starts_at.to_date) : nil} %>
        </div>

        <div class="small-12 medium-6 column">
          <%= f.input :ends_at, input_html: {value: @project.ends_at.present? ? l(@project.ends_at.to_date) : nil} %>
        </div>
      </div> -->

      <div class="row">
        <div class="small-6 medium-6 column">
          <%= f.check_box :geozone_restricted, data: { checkbox_toggle: "#geozones" } %>
        </div>
      </div>

      <div id="geozones" style="<%= @project.geozone_restricted? ? '' : 'display:none' %>">
        <div class="row">
          <%= f.collection_check_boxes(:geozone_ids, @geozones, :id, :name) do |b| %>
            <div class="small-6 medium-3 column">
              <%= b.label do %>
                <%= b.check_box + b.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-panel" id="panel2d">
      <div class="form-input">
        <%= f.fields_for :design_events do |de| %>
          <%= render 'design_event_fields' %>
        <% end %>
          <%= link_to_add_association 'Agregar taller de diseño', f, :design_events %>
      </div>
    </div>

    <div class="tabs-panel" id="panel3d">

    </div>

    <div class="tabs-panel" id="panel4d">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>

  </div>


  <div class="row">
    <div class="small-12 medium-4 column">
      <%= f.submit t("admin.projects.#{admin_submit_action(@project)}.submit_button"),
                   class: "button success expanded" %>
    </div>
  </div>


<% end %>
