<div class='small-9 medium-7 small-centered column'>
<div class='padding'>
	<h2><%= t("pages.login.ldap.title") %></h2>
	<%= form_tag( ldap_index_path, method: :post) do %>
		<%= label_tag("username", t("pages.login.ldap.form.label_user_name")) %>
		<%= text_field_tag("username") %>
		<%= label_tag("password", t("pages.login.ldap.form.label_password")) %>
		<%= password_field_tag("password") %>
		<%= submit_tag nil, :class => 'button expanded' %>
	<% end %>
</div>
</div>
