<div class="verification account row">
  <div class="small-12 column">

    <div class="text-center">
      <div class="small-4 column verification-step completed">
        <%= t("verification.step_1") %>
      </div>
      <div class="small-4 column verification-step completed">
        <%= t("verification.step_2") %>
      </div>
      <div class="small-4 column verification-step active">
        <%= t("verification.step_3") %>
      </div>

      <div class="progress small-12 success round">
        <span class="meter" style="width: 100%"></span>
      </div>
    </div>

    <div class="small-12 medium-12 column">

      <%= link_to account_path, class: "left back clear" do %>
        <i class="icon-angle-left left"></i>
        <%= t("verification.back") %>
      <% end %>

      <h1><%= t("verification.letter.edit.title") %></h1>

      <div class="small-12 medium-6">
        <%= form_for @letter, as: "letter", url: letter_path, method: :put do |f| %>
          <% if @error %>
            <div data-alert class="alert-box alert radius">
              <a href="#" class="close">&times;</a>
              <%= @error %>
            </div>
          <% end %>

          <%= f.text_field :verification_code, label: t("verification.letter.edit.confirmation_code") %>
          <%= f.submit t("verification.letter.new.send_code"), class: "button radius success" %>
        <% end %>
      </div>

    </div>
  </div>
</div>