<div class="row verify">
  <div class="small-12 medium-8 small-centered column">
    <div class="text-center">
      <h1>
        <i class="icon-check"></i>
        <%= t("pages.verify.title") %>
      </h1>

      <p><%= t("pages.verify.info") %></p>
    </div>

    <div class="medium-6 small-centered column">
      <%= form_for @letter, url: edit_letter_path do |f| %>
        <%= f.text_field :email, label: t("pages.verify.email") %>
        <%= f.password_field :password, label: t("pages.verify.password") %>
        <%= f.text_field :verification_code, label: t("pages.verify.code") %>

        <%= f.submit(class: "button radius success expand", value: t("pages.verify.submit")) %>
      <% end %>
    </div>
  </div>
</div>