<div class="row account">
  <div class="small-12 column">

    <h1 class="inline-block"><%= t('verification.letter.new.title') %></h1>

    <div>
      <%= t('verification.letter.new.explanation') %>
    </div>

    <%= form_for @letter, url: letter_path do |f| %>
      <%= render 'shared/errors', resource: @letter %>
      <%= f.submit t('verification.letter.new.submit_button') %>
    <% end %>
  </div>
</div>