<div class="verification account row">
  <div class="small-12 column">

    <div class="text-center">
      <div class="small-4 column verification-step completed">
        <%= t("verification.step_1") %>
      </div>
      <div class="small-4 column verification-step completed">
        <%= t("verification.step_2") %>
      </div>
      <div class="small-4 column verification-step active">
        <%= t("verification.step_3") %>
      </div>

      <div class="progress small-12 success round">
        <span class="meter" style="width: 100%"></span>
      </div>
    </div>

    <div class="small-12 medium-12 column">

      <%= link_to account_path, class: "left back clear" do %>
        <i class="icon-angle-left left"></i>
        <%= t("verification.back") %>
      <% end %>

      <h1><%= t("verification.letter.new.title") %></h1>

      <%= t("verification.letter.new.explanation_html") %>

      <%= link_to t("verification.letter.new.offices"), t("verification.letter.new.offices_url"),
          target: "_blank", class: "button radius inline-block"
      %>

      <%= form_for @letter, as: "letter", url: letter_path do |f| %>
        <%= f.submit t("verification.letter.new.send_letter"), class: "button radius secondary inline-block" %>
      <% end %>

    </div>
  </div>
</div>
