<% provide :title do %><%= t('about_neighborhood_comissions.title_page') %><% end %>
<div class="expanded spending-proposal-bg page-background-row">
  <div class="row no-margin-top">
    <div class="small-12 column padding">
      <h1><%= t('about_neighborhood_comissions.title_html') %></h1>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="menu small-12 medium-3 column">

    <%= link_to :back, class: "back" do %>
        <i class="icon-angle-left"></i>
        <%= t("shared.back") %>
    <% end %>

    <ul class="vertical menu clear">
      <li>
        <p>
          <a href="#0"><strong>Comisiones de barrio</strong></a>
        <ul class="vertical menu clear">
          <li><a href="#0-1">Funciones de las comisiones de barrio</a></li>
          <li><a href="#0-2">¿Cómo puedo formar parte de la comisión de mi barrio?</a></li>
          <li><a href="#0-3">¿Quién puede formar parte de la comisión?</a></li>
          <li><a href="#0-4">¿Cómo puedo formar parte de la comisión de mi barrio?</a></li>
          <li><a href="#0-5">¿Cuándo me puedo inscribir en la comisión?</a></li>
          <li><a href="#0-6">¿Cuándo se reúnen las comisiones?</a></li>
          <li><a href="#0-7">¿Dónde se celebran las reuniones? Listado de asociaciones por barrio</a></li>
        </ul>
        </p>
      </li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h2 id="0">Información sobre las comisiones de barrio</h2>
    <p>
      Los Presupuestos Participativos no serían posibles sin la colaboración de vecinos y vecinas que, desinteresadamente,  desarrollan el proceso. Hay que tener en cuenta que la <strong>Comisión de Barrio es la herramienta presencial de participación del proceso</strong>. Si decides formar parte de la comisión de tu barrio, tendrás las siguientes funciones:
    </p>
    <h3 id="0-1">Funciones de las comisiones de barrio</h3>
    <br><br>
    <h4>Promover la participación</h4>
    <p>
      Como integrante de la Comisión de tu barrio asistirás a tus vecinos y vecinas para que participen en los Presupuestos Participativos.  No hay que olvidar que el boca a boca es uno de los métodos más efectivos de difusión, alentar a tus vecinos y vecinas para que participen aumentará los integrantes del proceso. De esta pluralidad emanaran propuestas diversificadas y del máximo interés.
    </p>
    <h4>Preparar la asamblea de barrio</h4>
    <p>Antes de votar las propuestas, es necesario que se defiendan en la Asamblea de Barrio. Como parte de la comisión ayudarás a organizar esta reunión apoyando a tus vecinos y vecinas para que puedan exponer sus propuestas de la mejor forma posible. </p>

    <h4>Unir o concretar propuestas</h4>
    <p>
      Aunque las propuestas deben de ser lo más concretas posibles, puede ocurrir que sean difusas o que varias propuestas sean muy parecidas. En este caso la comisión tendrá que ponerse en contacto con los proponentes para intentar desarrollarlas o unir aquellas propuestas que así lo precisen.
    </p>

    <h4>Defender propuestas</h4>
    <p>Aquel vecino o vecina que, por causas mayores,  no pueda defender su propuesta delegará en la comisión tal labor. Para ello, el proponente, deberá ponerse en contacto con la comisión y explicarles en que consiste la inversión o programa que plantea, para que pueda ser expuesta a los asistentes de la Asamblea.</p>

    <h4>Recibir formación</h4>
    <p>
      No todos los vecinos y vecinas  tienen un conocimiento profundo sobre el funcionamiento de la Administración Municipal. Es por ello que, los participantes de las Comisiones de Barrio pueden solicitar información sobre aspectos generales que tengan relación con el proceso: presupuestos municipales, áreas municipales implicadas, técnicas de dinamización y comunicación, resolución de conflictos, bases de contratación pública y sus plazos, etc.
    </p>

    <h4>Conocer los informes técnicos</h4>
    <p>
      Las inversiones y programas deben de ser viables, y por ello se elaboran informes técnicos de las propuestas. Como miembro de la comisión contarás con esta información para poder conocer los distintos aspectos de la propuesta: localización, materiales, presupuesto, complementos posibles, etc. En ocasiones, las propuestas tienen varias opciones que deben ser votadas, para ello podrás solicitar el apoyo de técnicos del ayuntamiento para que resuelvan las dudas que surjan y que ayuden a plantear las alternativas posibles.
    </p>

    <h4>Elegir un delegado o delagada</h4>
    <p>En determinadas ocasiones será necesario un representante de la comisión para que, como delegado o delegada, dé a conocer a la Asamblea  la información relativa a las propuestas del  barrio. Este representante será elegido por la comisión y tendrá un mandato puntual.</p>

    <h4>Seguimiento de las propuestas</h4>
    <p>Una vez elegidas las propuestas, no acaba el trabajo de las comisiones ya que participarás en el seguimiento de las inversiones y programas que se desarrollen en tu barrio. Esto es muy importante para que los vecinos y vecinas sientan que los Presupuestos Participativos tienen una utilidad real, y que lo que han propuesto y votado se lleva a cabo.</p>

    <h3 id="0-3">¿Cómo puedo formar parte de la comisión de mi barrio?</h3>
    <p>
      Puedes formar parte de una comisión de barrio directamente desde Participa Getafe, el procedimiento:

    </p>
    <ol>
      <li>Date de <%=link_to 'alta', new_user_registration_path %> en  Participa Getafe</li>
      <li>Valida tu cuenta con los datos de padrón</li>
      <li>Haz click en 'Inscribirme en una comisión de barrio'</li>
      <li>Selecciona una de las comisiones</li>
    </ol>
    <p>
      <strong>(*) Nota:</strong> Una vez que te registres en una de las comisiones, no podrás cambiar de comisión.
    </p>

    <h3 id="0-4">¿Quién puede formar parte de la comisión?</h3>
    <p>
      Todos aquellos vecinos del barrio al que pertenezca la comisión.
    </p>

    <h3 id="0-5">¿Cuándo me puedo inscribir en la comisión?</h3>
    <p>
      La inscripción puede solicitarse en cualquier momento. Hay que tener en cuenta que los Presupuestos Participativos tienen una periodicidad anual, por lo que, cuanto antes te apuntes, antes podrás apoyar el proceso de tu Barrio.
    </p>

    <h3 id="0-6">¿Cuándo se reúnen las comisiones?</h3>
    <p>
      Las convocatorias de las comisiones se harán desde el Ayuntamiento empleando los correos electrónicos que los vecinos y vecinas proporcionan en el momento de inscripción. Las veces que se reúne una comisión dependerán del funcionamiento de la misma y de las propuestas que se hayan hecho en el barrio. Un barrio en el que las propuestas sean claras y no presenten problemas necesitará menos reuniones que otro donde las propuestas sean ambiguas o presenten dificultades.
    </p>

    <h3 id="0-7">¿Dónde se celebran las reuniones?  </h3>
    <p>Cada uno de los once barrios tiene un centro cívico o social donde se celebraran las reuniones, en la tabla se detalla esta información. </p>


    <table>
      <thead>
      <th>Denominación Comisión</th>
      <th>¿Dónde nos reunimos?</th>
      <th>Dirección</th>
      </thead>
      <tbody>
        <tr>

          <td>Comisión Presupuestos Participativos Alhóndiga</td>
          <td>Centro Cívico Alhóndiga</td>
          <td><a href="https://www.google.es/maps/place/Centro+C%C3%ADvico+la+Alh%C3%B3ndiga/@40.3032256,-3.7376401,3a,75y,152h,90t/data=!3m7!1e1!3m5!1sfe82dmBwLAr-rlWt22YNpw!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3Dfe82dmBwLAr-rlWt22YNpw%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D152.61626%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656!4m5!3m4!1s0xd42209b8afab365:0x42a9307a08a184d3!8m2!3d40.3030432!4d-3.7375483!6m1!1e1" target="_blank">Plaza Rafael Pazos Pría, 1</a></td>
        </tr>
        <tr>

          <td>Comisión Presupuestos Participativos Bercial</td>
          <td>Centro Cívico Bercial
          </td>
          <td><a href="https://www.google.es/maps/place/Avenida+Buenos+Aires,+2+getafe/@40.3244552,-3.7373903,3a,75y,152.08h,90t/data=!3m6!1e1!3m4!1sdQxZKjmxozOeRIYndbAEhw!2e0!7i13312!8i6656!4m2!3m1!1s0x0:0x3476d072713042f1!6m1!1e1" target="_blank">Avenida Buenos Aires, 2</a></td>

        </tr>

        <tr>
          <td>
            Comisión Presupuestos Participativos Buenavista
          </td>
          <td>
            Centro Social Buenavista
          </td>
          <td>
            <a href="https://www.google.es/maps/place/Calle+Ignacio+Sanchez+Coy,+28905+Getafe,+Madrid/@40.2993508,-3.7511611,3a,75y,150h,90t/data=!3m6!1e1!3m4!1sKZXmQ03fDQv_8-JynGDc8Q!6s%2F%2Fgeo2.ggpht.com%2Fmaps%2Fphotothumb%2Ffd%2Fv1%3Fbpb%3DChAKDnNlYXJjaC5UQUNUSUxFEiAKEglRU9t_cIpBDREuvlBmIi6WuioKDQAAAAAVAAAAABoFCGoQiAM%26gl%3Des!7i13312!8i6656!4m5!3m4!1s0xd418a707fdb5351:0xba962e226650be2e!8m2!3d40.2984489!4d-3.7514448!6m1!1e1" target="_blank">Calle Ignacio Sánchez Coy, 2</a>
          </td>
        </tr>
        <tr>

          <td>
            Comisión Presupuestos Participativos Centro
          </td>
          <td>
            Fábrica de Harinas
          </td>
          <td>
            <a href="https://www.google.es/maps/place/Calle+Ramon+y+Cajal,+22,+28902+Getafe,+Madrid/@40.31022,-3.7351287,17z/data=!3m1!4b1!4m5!3m4!1s0xd4220bd56f4328b:0x159dcb073ceb7c1a!8m2!3d40.31022!4d-3.73294" target="_blank">Calle Ramón y Cajal, 22</a>
          </td>
        </tr>
        <tr>
          <td>
            Comisión Presupuestos Participativos Getafe Norte
          </td>
          <td>
            Centro Cívico Getafe Norte
          </td>
          <td>
            <a href="https://www.google.es/maps/place/Av.+Rigoberta+Mench%C3%BA,+2,+28903+Getafe,+Madrid/@40.3225012,-3.7178709,17z/data=!3m1!4b1!4m5!3m4!1s0xd4220cf09ba3987:0x7d10c8665faa43b6!8m2!3d40.3225012!4d-3.7156822" target="_blank">Avenida Rigoberta Menchú, 2</a>
          </td>
        </tr>
      <tr>
        <td>
          Comisión Presupuestos Participativos Juan de la Cierva
        </td>
        <td>
          Centro Cívico Juan de la Cierva
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Plaza+de+las+Provincias,+1,+28903+Getafe,+Madrid/@40.31238,-3.7211687,17z/data=!3m1!4b1!4m5!3m4!1s0xd4220c190999d23:0xc154a05ba114b175!8m2!3d40.31238!4d-3.71898" target="_blank">Plaza de Las Provincias, 1</a>
        </td>
      </tr>
      <tr>
        <td>
          Comisión Presupuestos Participativos Los Molinos
        </td>
        <td>
          Centro Social Los Molinos
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Av.+Rocinante,+2,+28906+Getafe,+Madrid/@40.3165,-3.7032087,17z/data=!3m1!4b1!4m5!3m4!1s0xd42212731f927c7:0x912c2bd725138189!8m2!3d40.3165!4d-3.70102" target="_blank">Avenida Rocinante,2</a>
        </td>
      </tr>
      <tr>
        <td>
          Comisión Centro Cívico Las Margaritas
        </td>
        <td>
          Centro Cívico Las Margaritas
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Av.+de+las+Ciudades,+11,+28903+Getafe,+Madrid/@40.3179688,-3.7251254,17z/data=!3m1!4b1!4m5!3m4!1s0xd4220c77f459eab:0xd844356dc33bc4de!8m2!3d40.3179688!4d-3.7229367" target="_blank">Avenida de las Ciudades, 11</a>
        </td>
      </tr>
      <tr>
        <td>
          Comisión Centro Cívico Perales del Río
        </td>
        <td>
          Centro Cultural Julián Marías
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Calle+Juan+de+Mairena,+28909,+Madrid/@40.3220666,-3.6598056,17z/data=!3m1!4b1!4m5!3m4!1s0xd4223e4af8eba25:0x5a5df567e0744d7e!8m2!3d40.3220666!4d-3.6576169" target="_blank">Calle Juan de Mairena, s/n</a>
        </td>
      </tr>
      <tr>
        <td>
          Comisión Centro Cívico San Isidro
        </td>
        <td>
          Centro Cívico San Isidro
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Calle+Leoncio+Rojas,+18,+28901+Getafe,+Madrid/@40.30184,-3.7328187,17z/data=!3m1!4b1!4m5!3m4!1s0xd422091ad876259:0xd172ae3f649a417b!8m2!3d40.30184!4d-3.73063 " target="_blank">Calle Leoncio Rojas, 18</a>
        </td>
      </tr>
      <tr>
        <td>
          Comisión Centro Cívico Sector III
        </td>
        <td>
          Centro Cívico Cerro Buenavista
        </td>
        <td>
          <a href="https://www.google.es/maps/place/Av.+de+las+Arcas+del+Agua,+28905+Getafe,+Madrid/@40.2952448,-3.7465366,17z/data=!3m1!4b1!4m5!3m4!1s0xd418a7ef6b7e9d1:0x4ae82244f5f09335!8m2!3d40.2952448!4d-3.7443479" target="_blank">Avenida de las Arcas del Agua s/n</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>