<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.subtitle') %></h2>
    <p><%= t('.description') %></p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
