<% provide :title, "Remodelación de Plaza España | Resultados" %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_plaza_espana" %>
<% end %>

<%= javascript_include_tag "chart", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "survey-charts", 'data-turbolinks-track' => true %>

<div class="expanded jumbo-survey">
  <div class="row padding no-margin-top">
    <div class="small-12 column">
      <%= link_to "/processes_plaza_espana", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>
      <div class="text-center">
        <%= image_tag "processes_plaza_espana_debates.png", size: "580x270", alt: "#decideplazaespaña"%>
      </div>
    </div>
  </div>
</div>

<div class="survey-results margin">

  <div class="row">

    <!-- Resultados generales -->
    <div class="small-12 medium-6 column">
      <h1 class="title">Remodelación de<br>Plaza España</h1>
    </div>

    <div class="small-12 medium-6 column text-right">
      <div class="panel green">
        <p>TOTAL ENCUESTAS RELLENADAS</p>
        <p class="big-number">26.962</p>
      </div>
    </div>

    <hr class="double">

    <!-- Canales de participación -->
    <div class="small-12 column">
      <h2 class="subtitle">Canales de<br>participación</h2>
    </div>

    <hr>

    <div class="show-for-medium" data-equalizer>
      <div class="small-12 medium-6 large-4 large-offset-4 column" data-equalizer-watch>
        <canvas id="chart-channels" width="300" height="300"></canvas>
      </div>

      <div class="small-12 medium-6 large-4 column relative" data-equalizer-watch>
        <ul class="chart-legend absolute">
          <li>
            <span class="label" style="background: #00ad51"></span>
            <strong>Web</strong>: 19.124 (70,93%)
          </li>
          <li>
            <span class="label" style="background: #007dc3"></span>
            <strong>010</strong>: 7.605 (28,21%)
          </li>
          <li>
            <span class="label" style="background: #ffdc08"></span>
            <strong>Papel</strong>: 233 (0,86%)
          </li>
        </ul>
      </div>
    </div>

    <hr class="double">

    <div class="clear"></div>

    <div class="small-12 medium-4 column">
      <div class="panel text-center">
        <%= image_tag ('survey_results/channel_web.png') %>
        <p>WEB (70,93%)</p>
        <p class="big-number">19.124</p>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="panel text-center">
        <%= image_tag ('survey_results/channel_phone.png') %>
        <p>010 (28,21%)</p>
        <p class="big-number">7.605</p>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="panel text-center">
        <%= image_tag ('survey_results/channel_paper.png') %>
        <p>PAPEL (0,86%)</p>
        <p class="big-number">233</p>
      </div>
    </div>
  </div>

  <hr class="double">

  <div class="row" data-equalizer>

    <!-- Participación por sexo -->
    <div class="small-12 column">
      <h2 class="subtitle">Participación<br>por sexo</h2>
    </div>

    <hr>

    <div class="small-12 medium-6 column show-for-medium">
      <div class="panel text-center" data-equalizer-watch>
        <%= image_tag ('survey_results/sex.png') %>
        <br>
        <div class="large-offset-3 large-5 padding">
          <canvas id="chart-sex" width="300" height="300"></canvas>
        </div>

        <div class="large-4 column relative">
          <ul class="chart-legend absolute">
            <li>
              <span class="label" style="background: #00dae0"></span>
              <strong>Hombres</strong>:<br> 16395 (61,04%)
            </li>
            <li>
              <span class="label" style="background: #e00094"></span>
              <strong>Mujeres</strong>:<br> 10466 (38,96%)
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="small-12 column show-for-small-only">
      <div class="panel text-center">
        <%= image_tag ('survey_results/sex.png') %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <div class="panel text-right" data-equalizer-watch>
        <p>HOMBRES (61,04%)</p>
        <p class="big-number">16.395</p>
        <br>
        <p><strong>WEB</strong> 11802 (62,02%) </p>
        <p><strong>010</strong> 4482 (58,99%)</p>
        <p><strong>PAPEL</strong> 111 (47,64%)</p>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <div class="panel text-left" data-equalizer-watch>
        <p>MUJERES (38,96%)</p>
        <p class="big-number">10.466</p>
        <br>
        <p><strong>WEB</strong> 7228 (37,98%)</p>
        <p><strong>010</strong> 3116 (41,01%)</p>
        <p><strong>PAPEL</strong> 122 (52,36%)</p>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Participación por grupos de edad -->
    <div class="small-12 column">
      <h2 class="subtitle">Participación por<br>grupos de edad</h2>
    </div>

    <hr class="double">

    <%= render 'processes_plaza_espana_results_age' %>
  </div>

  <hr class="double">

  <div class="row">

    <!-- Participación por distritos -->
    <div class="small-12 column">
      <h2 class="subtitle">Participación por<br>distritos</h2>
    </div>

    <hr class="double">

    <div class="show-for-medium medium-6 column small-centered">
      <%= image_tag("map.jpg", usemap: "#map") %>
    </div>

    <map name="map" id="html_map">
      <% Geozone.all.each do |geozone| %>
        <area shape="poly"
              coords="<%= geozone.html_map_coordinates %>"
              href="#<%= geozone.name.parameterize %>"
              title="<%= geozone.name %>"
              alt="<%= geozone.name %>">
      <% end %>
    </map>

    <div class="small-12 column">
      <table class="survey-districts">
        <thead>
          <tr>
            <th>DISTRITO</th>
            <th>Nº ENCUESTAS</th>
            <th>% PARTICIPACIÓN TOTAL ENCUESTAS</th>
            <th>% PARTICIPACIÓN POBLACIÓN DEL DISTRITO</th>
          </tr>
        </thead>
        <tbody>
        <tr id="arganzuela">
          <td>
            <span class="label large"><strong>Arganzuela</strong></span>
          </td>
          <td>2200</td>
          <td>8,19%</td>
          <td>1.447%</td>
        </tr>
        <tr id="barajas">
          <td>
            <span class="label large"><strong>Barajas</strong></span>
          </td>
          <td>257</td>
          <td>0,96%</td>
          <td>0.55%</td>
        </tr>
        <tr id="carabanchel">
          <td>
            <span class="label large"><strong>Carabanchel</strong></span>
          </td>
          <td>1287</td>
          <td>4,79%</td>
          <td>0.5296%</td>
        </tr>
        <tr id="centro">
          <td>
            <span class="label large"><strong>Centro</strong></span>
          </td>
          <td>4535</td>
          <td>16,88%</td>
          <td>3.4179%</td>
        </tr>
        <tr id="chamartin">
          <td>
            <span class="label large"><strong>Chamartin</strong></span>
          </td>
          <td>1410</td>
          <td>5,25%</td>
          <td>0.986%</td>
        </tr>
        <tr id="chamberi">
          <td>
            <span class="label large"><strong>Chamberí</strong></span>
          </td>
          <td>1740</td>
          <td>6,48%</td>
          <td>1.2623%</td>
        </tr>
        <tr id="ciudad-lineal">
          <td>
            <span class="label large"><strong>Ciudad Lineal</strong></span>
          </td>
          <td>1181</td>
          <td>4,40%</td>
          <td>0.5547%</td>
        </tr>
        <tr id="fuencarral-el-pardo">
          <td>
            <span class="label large"><strong>Fuencarral - El Pardo</strong></span>
          </td>
          <td>1617</td>
          <td>6,02%</td>
          <td>0.6843%</td>
        </tr>
        <tr id="hortaleza">
          <td>
            <span class="label large"><strong>Hortaleza</strong></span>
          </td>
          <td>1100</td>
          <td>4,10%</td>
          <td>0.62%</td>
        </tr>
        <tr id="latina">
          <td>
            <span class="label large"><strong>Latina</strong></span>
          </td>
          <td>1677</td>
          <td>6,24%</td>
          <td>0.7152%</td>
        </tr>
        <tr id="moncloa-aravaca">
          <td>
            <span class="label large"><strong>Moncloa - Aravaca</strong></span>
          </td>
          <td>1610</td>
          <td>5,99%</td>
          <td>1.3774%</td>
        </tr>
        <tr id="moratalaz">
          <td>
            <span class="label large"><strong>Moratalaz</strong></span>
          </td>
          <td>548</td>
          <td>2,04%</td>
          <td>0.5787%</td>
        </tr>
        <tr id="puente-de-vallecas">
          <td>
            <span class="label large"><strong>Puente de Vallecas</strong></span>
          </td>
          <td>1028</td>
          <td>3,83%</td>
          <td>0.4515%</td>
        </tr>
        <tr id="retiro">
          <td>
            <span class="label large"><strong>Retiro</strong></span>
          </td>
          <td>1283</td>
          <td>4,78%</td>
          <td>1.0791%</td>
        </tr>
        <tr id="san-blas-canillejas">
          <td>
            <span class="label large"><strong>San Blas - Canillejas</strong></span>
          </td>
          <td>746</td>
          <td>2,78%</td>
          <td>0.4849%</td>
        </tr>
        <tr id="salamanca">
          <td>
            <span class="label large"><strong>Salamanca</strong></span>
          </td>
          <td>1212</td>
          <td>4,51%</td>
          <td>0.8433%</td>
        </tr>
        <tr id="tetuan">
          <td>
            <span class="label large"><strong>Tetuán</strong></td></span>
            <td>1288</td>
            <td>4,80%</td>
            <td>0.8412%</td>
          </td>
        </tr>
        <tr id="usera">
          <td>
            <span class="label large"><strong>Usera</strong></span>
          </td>
          <td>584</td>
          <td>2,17%</td>
          <td>0.43%</td>
        </tr>
        <tr id="vicalvaro">
          <td>
            <span class="label large"><strong>Vicálvaro</strong></span>
          </td>
          <td>310</td>
          <td>1,15%</td>
          <td>0.44%</td>
        </tr>
        <tr id="villaverde">
          <td>
            <span class="label large"><strong>Villaverde</strong></span>
          </td>
          <td>594</td>
          <td>2,21%</td>
          <td>0.4187%</td>
        </tr>
        <tr id="villa-de-vallecas">
          <td>
            <span class="label large"><strong>Villa de Vallecas</strong></span>
          </td>
          <td>654</td>
          <td>2,43%</td>
          <td>0.64%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="double">

  <%= render 'processes_plaza_espana_results_answers' %>
</div>