<% provide :title, "Remodelación de Plaza España | Resultados" %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_plaza_espana" %>
<% end %>

<%= javascript_include_tag "chart", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "survey-charts", 'data-turbolinks-track' => true %>

<div class="expanded jumbo-survey no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <%= link_to "/processes_plaza_espana", class: "back" do %>
        <i class="icon-angle-left"></i>
        <%= t("pages.processes.back") %>
      <% end %>
      <br>
      <h1 class="margin-top">Remodelación de Plaza España</h1>
      <div class="float-right">
        <%= image_tag "processes_plaza_espana_debates.png", size: "480x270", alt: "#decideplazaespaña"%>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">
    <ul class="tabs" id="stats-tabs" data-tabs>
      <li class="tabs-title is-active">
        <a href="#stats_1" aria-selected="true">
          Fase de preselección
        </a>
      </li>
      <li class="tabs-title">
        <a href="#stats_2">
          Encuesta inicial
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="tabs-content" data-tabs-content="stats-tabs">

  <div class="tabs-panel is-active" id="stats_1">
    <%= render "processes_plaza_espana_preselection" %>
  </div>

  <div class="tabs-panel" id="stats_2">
    <%= render "processes_plaza_espana_survey" %>
  </div>
</div>