<% provide :title, "Remodelaci칩n de Plaza Espa침a | Resultados" %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_plaza_espana" %>
<% end %>
<%= javascript_include_tag "chart", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "survey-charts", 'data-turbolinks-track' => true %>

<%= render "shared/plaza_espana_header" %>

<div class="row">
  <div class="small-12 column">
    <h1 class="section-title">Participaci칩n total</h1>
  </div>
</div>

<%= render "processes_plaza_espana_stats" %>

<div class="row">
  <div class="small-12 column">
    <h1 class="section-title">Preselecci칩n</h1>
  </div>
</div>

<%= render "processes_plaza_espana_preselection" %>

<div class="row">
  <div class="small-12 column">
    <h1 class="section-title">Encuesta</h1>
  </div>
</div>

<%= render "processes_plaza_espana_survey" %>
