<div class="row margin-top">
  <div class="small-12 column">
    <h1>Votación de Presupuestos Participativos 2017</h1>
  </div>


  <div class="small-12 medium-12 column">
    <div class="margin" data-equalizer-watch="">

      <div class="row">
        <div class="small-12 medium-4 column">
          <h3>Plazo y lugar</h3>
          <p>
            Desde el próximo lunes 19 a las 9.00h hasta el 25 de junio <strong>telemáticamente a través de <a href="/">Participa Getafe</a></strong> y en
            <strong>Centros Cívicos de Getafe</strong> del lunes 19 al viernes 23, en horario de mañana de 11:00 a 14:00 horas y de tarde de 18:00 a 20:00 horas, para lo que contará con asistencia de personal municipal.

          </p>
        </div>
        <div class="small-12 medium-4 column">
          <h3>¿Qué propuestas que puedo votar?</h3>
          <p>
            Puedes votar cualquier propuesta que hayan sido evaluadas y aprobada de las presentadas en el proceso de Presupuestos Participativos 2017.
            <%= link_to budgets_path do %>
                Ver propuestas presentadas
            <% end %>.



          </p>
        </div>
        <div class="small-12 medium-4 column">
          <h3>¿Cómo accedo a la votación?</h3>
          <p>
            Puedes acceder desde el banner amarillo y rojo en el votón "VOTAR". Es necesario estar <strong>entrar con tu usuario</strong> y tener una <strong>cuenta validada con el padrón</strong>.

            <br><br>(*)Actualización: El botón de votación <u>deja de estar disponible tras la finalización de la fase de votaciones (a partir del 26 de junio a las 00.00h)</u>.


          </p>
        </div>
      </div>
      <br>

      <h2>¿Cómo realizar la votación?</h2>
      <p>
        La votación se realiza en seis sencillos pasos: Seleccionar barrio, seleccionar <i>propuestas de inversión</i>, seleccionar <i>propuestas de programas socio comunitarios</i>, presentar la votación a través del botón "VOTAR" y validar un código que se enviará  a tu teléfono por SMS. Una vez validado el código la votación quedará confirmada.
      </p>
      <br>
      <div class="row">
        <div class="small-12 medium-6 column">
          <h4>Paso 1: Selecciona el barrio el barrio en el que votar</h4>
          <br>
          <%= image_tag('elegir_barrio.png', class: 'panel-image') %>
        </div>
        <div class="small-12 medium-6 column">
          <h4>Paso 2: Selecciona las propuestas de inversión que quieres votar</h4>
          <%= image_tag('elegir_propuestas_de_inversion.png', class: 'panel-image') %>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="small-12 medium-6 column">
          <h4>Paso 3: Selecciona las propuestas de programas socio comunitarios que quieres votar</h4>
          <%= image_tag('elegir_propuestas_de_programas.png', class: 'panel-image') %>
        </div>
        <div class="small-12 medium-6 column">
          <h4>Paso 4: Confirma tu votación haciendo click en el botón 'VOTAR'</h4>
          <br>
          <%= image_tag('votar.png', class: 'panel-image') %>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="small-12 medium-6 column">
          <h4>Paso 5: Verifica el código de seguridad que te será enviado por SMS</h4>
          <%= image_tag('verifica_codigo.png', class: 'panel-image') %>
        </div>
        <div class="small-12 medium-6 column">
          <h4>Paso 6: Tu votación ha sido confirmada correctamente</h4>
          <br>
          <%= image_tag('papeleta_confirmada.png', class: 'panel-image') %>
        </div>
      </div>

    </div>

    <h2>¿Puedo cambiar mi votación?</h2>
    <p>
      Puedes cambiar tu votación en cualquier momento incluso tras haberla presentado hasta el cierre de la fase. Para ello puedes quitar todas las propuestas seleccionadas (si aún no has confirmado tu votación) o hacer click en el botón "cambiar mi votación".
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= image_tag('quitar_votos.png', class: 'panel-image') %>
        </div>
        <div class="small-12 medium-6 column">
        <%= image_tag('cambiar_votos.png', class: 'panel-image') %>
        </div>
      </div>
    </p>
  </div>


  <div class="smal-12 medium-4 column">
    <div class="margin panel-image" data-equalizer-watch="">
    </div>
    <small class="text-muted"></small>
  </div>



</div>