<div class="page row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>
      <ul class="clear">
          <li>
            <a href="#i">I. <%= t('pages.more_information.how_it_works.i') %></a>
            <ul>
              <li><a href="#i1">I.1. <%= t('pages.more_information.how_it_works.i1') %></a></li>
              <li><a href="#i2">I.2. <%= t('pages.more_information.how_it_works.i2') %></a></li>
            </ul>
          </li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">

  <h1><%= t('pages.more_information.titles.how_it_works') %></h1>

    <%= markdown t('pages.more_information.how_it_works.text') %>
  </div>
  </div>
</div>
