<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
        <li>
          <a href="#i"><strong>I. <%= t('pages.more_information.how_it_works.i') %></strong></a>
          <ul class="nested vertical menu">
            <li><a href="#i1"><strong>I.1. <%= t('pages.more_information.how_it_works.i1') %></strong></a></li>
            <li><a href="#i2"><strong>I.2. <%= t('pages.more_information.how_it_works.i2') %></strong></a></li>
          </ul>
        </li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1><%= t('pages.more_information.titles.how_it_works') %></h1>
    <%= markdown t('pages.more_information.how_it_works.text') %>
  </div>
</div>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top list-group">
      <li><a href="#1" class="list-group-item"><strong>1. L’essentiel du budget participatif de la RIVP</strong></a></li>
      <li><a href="#2" class="list-group-item"><strong>1.1. Un Budget participatif, c’est quoi ?</strong></a></li>
      <li><a href="#3" class="list-group-item"><strong>1.2. Pourquoi la RIVP a décidé de lancer son budget participatif et quel est le but ?</strong></a></li>
      <li><a href="#4" class="list-group-item"><strong>1.3. Pour qui et avec qui ? : les locataires, acteurs du Budget participatif</strong></a></li>
      <li><a href="#5" class="list-group-item"><strong>1.4. Où ? Les sites et résidences concernées en 2017</strong></a></li>
      <li><a href="#6" class="list-group-item"><strong>1.5. Quoi ? Les types de projets recevables</strong></a></li>
      <li><a href="#7" class="list-group-item"><strong>1.6. Des thématiques liées à l’amélioration de la qualité de vie dans les résidences</strong></a></li>
      <li><a href="#8" class="list-group-item"><strong>1.7. Combien ? L’enveloppe dédiée en 2017 pour le Budget participatif de la RIVP</strong></a></li>
      <li><a href="#9" class="list-group-item"><strong>2. Zoom sur les étapes clés </strong></a></li>
      <li><a href="#10" class="list-group-item"><strong>A quoi sert le bouton « soutenir »</strong></a></li>
      <li><a href="#11" class="list-group-item"><strong>Qui va voter ? Qui décide au final ?</strong></a></li>
      <li><a href="#12" class="list-group-item"><strong>Comment voter ?</strong></a></li>
      <li><a href="#13" class="list-group-item"><strong>Quand voter ?</strong></a></li>
      <li><a href="#14" class="list-group-item"><strong>Quand connaitrons-nous les résultats du vote ?</strong></a></li>
      <li><a href="#15" class="list-group-item"><strong>Quand les projets lauréats seront mis en oeuvre ?</strong></a></li>
      <li><a href="#16" class="list-group-item"><strong>Je suis à l’origine du projet et mon projet a été sélectionné, puis-je participer à sa mise en oeuvre ?</strong></a></li>
      <li><a href="#17" class="list-group-item"><strong>Est-ce qu’il sera possible de suivre les projets qui auront été soutenus ?</strong></a></li>
      <li><a href="#18" class="list-group-item"><strong>Contacts</strong></a></li>
      <li><a href="#19" class="list-group-item"><strong>Comment me connecter ?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Mode d'emploi</h1>
    <h2 id="1">1. L’essentiel du budget participatif de la RIVP</h2>
    <h3 id="2">1.1. Un Budget participatif, c’est quoi ?</h3>
    <ul>
      <li>Un dispositif pour décider</li>
        <p>C’est un dispositif qui permet de rassembler des citoyens (qu’ils soient habitants d’une ville ou comme vous locataires de la RIVP) autour d’un budget et d’en décider d’une partie.
      <br>Les premiers budgets participatifs ont été mis en place en Amérique du Sud, en Espagne… A Paris, le budget participatif existe depuis 2014 et chaque année les Parisiens sont invités à proposer des projets, à les commenter et à voter en utilisant une plateforme internet spécifique ou des bulletins papier.
      <br>En France, les budgets participatifs sont généralement constitués à hauteur de 5% des budgets d’investissement. On alloue donc en général 5% d’un budget à la décision directe des habitants.</p>
      <li>Dans tout budget participatif, on retrouve 5 dimensions incontournables
        <ul>
          <li>Tout budget participatif permet de discuter directement d’un budget et choisir (voter) à quels types de projets affecter le budget alloué. Pour le budget participatif de la RIVP, 200 000 € sont mobilisés pour 2017.</li>
          <li>L’échelle du budget participatif (« son territoire ») correspond toujours aux compétences de l’organisme ou de la collectivité qui le met en place.</li>
          Pour une ville comme Paris, le budget participatif permet de proposer des projets qui touchent à l’aménagement de l’espace public et le développement local, l’organisation des services publics de proximité ou encore les bibliothèques, musées, écoles de musique ou équipements sportifs.
          Pour un bailleur comme la RIVP le budget participatif permet de proposer des projets qui participent à l’amélioration de la qualité de vie et de services et de vie des locataires sur entre la porte de l’appartement du locataire et la rue.
          <li>Tout Budget participatif repose sur une dimension répétitive. Chaque année comme à Paris depuis 2014 on relance le budget participatif.</li>
          La RIVP expérimente en 2017 son budget participatif (c’est l’un des premiers bailleur à s’y engager). L’évaluation de cette « première » permettra de savoir si le budget participatif sera reconduit.
          <li>Tout budget participatif repose sur une délibération citoyenne, c’est à dire un vote direct des habitants ou pour la RIVP des seuls locataires. Ce vote (dont les résultats sont publics) correspond donc au choix de financer des projets soutenus et retenus par les habitants eux mêmes.</li>

          <li>Tout budget participatif n’est valide que si l’on est en capacité de rendre compte : des résultats des votes, de l’avancement des projets financés dans le cadre du budget participatif… c’est une démarche transparente et démocratique.</li>
        </li>
      </ul>
    </ul>


    <h3 id="3">1.2. Pourquoi la RIVP a décidé de lancer son budget participatif et quel est le but ?</h3>
    <ul>
      <li>Plusieurs raisons ont conduit la RIVP a lancer son budget participatif :
        <ul>
          <li>Pour renforcer la participation des habitants en complémentarité avec la ville de Paris qui a lancé son budget participatif depuis 2014 et qui incite tous les bailleurs à mettre en place leur propre budget participatif.</li>
          <li>Pour répondre aux attentes des locataires qui dans un avis citoyen rendu le 5 février 2016 (lien) demandaient à être plus associés à la vie et aux décisions des bailleurs. C’est ainsi une façon de reconnaître que les locataires sont les mieux placés pour connaître les besoins de leurs résidences.</li>
          <li>Pour continuer et compléter les actions que mène déjà la RIVP (soutien aux initiatives locales par le financement d’actions d’associations, avis des locataires pour certains travaux de réhabilitation…)</li>
        </ul>
      </li>
      <li>Un double objectif
        <ul>
          <li>initier de nouvelles façons « d’aller vers » les locataires en les associant encore davantage et  en s’adaptant aux besoins locaux.</li>
          <li>Solliciter les habitants pour recueillir leurs idées, les partager entre locataires, soumettre les projets au vote des seuls locataires et leur permettre de les mettre en œuvre eux mêmes.</li>
        </ul>
      </li>
    </ul>
    <p>C’est donc permettre aux locataires d’être acteurs à part entière et d’agir directement pour leur cadre de vie avec le soutien de la RIVP.</p>

    <h3 id="4">1.3. Pour qui et avec qui ? : les locataires, acteurs du Budget participatif</h3>
      <p>Le budget participatif de la RIVP concerne ses locataires.
      <br>Et pour cette année 2017, les locataires de 10 sites représentant plus de 4000 logements (cf. ci-dessous)
      <br>Les locataires de ces résidences pourront ainsi :</p>
      <ul>
        <li>Proposer leurs idées pour rendre plus agréable la vie dans leurs immeubles</li>
        <li>Echanger sur les idées des autres locataires pour donner leurs avis, conseils ou demander à rejoindre les personnes qui auront proposé une action qui leur parle</li>
        <li>Se regrouper s’ils le souhaitent pour créer des collectifs de locataires autour d’une idée</li>
        <li>Participer à différentes rencontres jusqu’en juin pour échanger, préciser leurs idées, être accompagnés</li>
        <li>Soutenir les idées qu’ils jugent intéressantes et utiles</li>
        <li>Voter directement pour les projets dans la limite du budget</li>
        <li>Prendre connaissance des résultats du vote et des projets qui auront récolté le plus de suffrages</li>
        <li>Suivre en 2018 la réalisation des projets votés par les locataires</li>
      </ul>
      <p>Seuls les locataires des 10 sites 2017 pourront commenter, soutenir, voter pour les projets.
      <br>Mais tous les locataires et toute autre personne intéressée pourront voir accès au site internet du budget participatif pour s’informer et suivre son actualité.</p>

    <h3 id="5">1.4. Où ? Les sites et résidences concernées en 2017</h3>
      <p>Pour cette année 2017, année d’expérimentation, 10 sites représentant plus de 4000 logements sont concernés par le budget participatif de la RIVP.
      <br>Ce sont donc ces locataires qui pourront activement participer au budget participatif.</p>

      La Grange aux Belles
  45 rue Louis Blanc  10ème   17
  2 rue Albert Camus et 20-22 rue Boy Zelenski    83
  59 à 65 rue de la Grange aux Belles   135
  11 à 17 rue Louis Blanc et 180 QUAI de Jemmapes et 10 rue James Franck    142

La Chapelle Evangile
  1 à 7 rue de la Croix Moreau    18ème   121
  30 à 34 rue Jean Cottin
  28 à 34 rue Tristan Tzara
  1 à 9 rue Tristan Tzara    76
  18 à 26 rue Tchaïkovski   138
  10 à 14 rue Tristan Tzara
  18 à 223 rue des Fillettes    41


Porte de Vanves
  9-11 et 17-19 et 4-6-10-12 Avenue de la porte de Vanves 14ème 497
  1 à11 square de la porte de Vanves
  2 et 4 avenue Marc Sangnier

Les cardeurs – Mouraud
  41 à 49 rue St Blaise 20ème   281
  43 rue du Clos
  8-10 square des Cardeurs
  6-12 allée des Mauves   104
  39-43 rue Mouraud

Bisson Ramponneau
  17 rue Bisson 20ème 12
  3 à 13 rue Bisson   51
  23 rue Bisson   19
  21 bis rue Bisson   10
  19 rue Bisson   8
  27-29 rue Bisson    29
  100 bd de Belleville    44
  90-92 bd de Belleville    18
  60-62 rue Julien Lacroix    25
  77-83 rue Julien Lacroix    28
  19 rue Jouye Rouve    8
  13 à 17 rue Jouye Rouve   15
  8 -12 rue Ramponneau    23
  30 rue Ramponneau   16
  20-24 rue Ramponneau    58
  100 bd de Belleville    6
  1-3 rue Ramponneau
  108 bd de Belleville    14
  47 rue Piat   16
  43 rue Piat   33
  35 rue Piat   46
  7 rue Denoyer   8
  16-18 passage de Pékin    13

Bd Macdonald
  150-152 bd Macdonald  19ème   142
  115-119 bd Macdonald    89
  14 à 20 quai de la Charente
  194 à 222 bd Macdonald    464
  59 à 91 rue Emile Bollaert
  5-9 rue Jacques Duchenne
  177-215 bd Macdonald    104
  90 rue Césaria Evora

Elie Faure /Cdt l’Herminier
  21-23 av. de la porte de Vincennes  12ème et 20ème  397
  1 à 9 rue Elie Faure
  1 à 13 rue du Cdt L’Herminier
  22-24 av.de la porte de Vincennes

Jean Bouton
  6 place Henri Frenay  12ème   202
  4 à 16  rue Jean Bouton
  3 à 9 rue Paul Henri Grauwin

Zac Vaugirard 25-29 rue A. Gide 15ème 340
  99 et 123-129 rue Falguière
  2 à 12 rue Aristide Maillol

Nationale
  119 à129 rue Nationale  13ème   251
  135 à 149 rue Nationale   335
  133 rue Nationale   8
  119-121 rue Nationale   11


    <h3 id="6">1.5.  Quoi ? Les types de projets recevables</h3>
    <ul>
      <li>Des critères transparents</li>
    </ul>
    <p>Les projets des locataires doivent répondre à plusieurs critères qui seront vérifiés en juillet par un jury indépendant composé de locataires, d’agents de la RIVP, d’associations locales, etc. avant que les projets soient soumis au seul vote des locataires.</p>

    <ul>
      <li>Le projet doit être utile et concerner l’environnement immédiat des locataires
        <ul>
          <li>Il doit viser « l’amélioration de la qualité de vie dans les résidences et permette à ce que les locataires se sentent bien dans leur immeuble » (ce qui correspond aux missions de la RIVP)</li>
          <li>Il doit répondre à des besoins qui ne sont pas couverts et que les locataires ont repérés.</li>
          <li>Il doit être proposé et mis en œuvre par un locataire ou groupe de locataires (des résidences concernées par l’expérimentation 2017) avec l’appui de la RIVP</li>
          <li>Il concerne « l’environnement immédiat du locataire » : entre la porte de l’appartement et la rue et non pas son logement (donc pas le quartier, la rue, les commerces…)</li>
          <li>Il doit viser un nombre d’habitants qui ne peut être trop limité</li>
        </ul>
      </li>
      <li>Le projet doit être réalisable et réalisé avec les locataires
        <ul>
          <li>Le but du projet (les objectifs) présenté par le(s) locataire(s) doit être clair et jugé atteignable</li>
          <li>Les conditions de réussite et de réalisation du projet (les moyens, le calendrier, la manière de faire…) doivent être présentées</li>
          <li>Les éventuels besoins d’aide et d’accompagnement sont indiqués</li>
          <li>Le projet doit pouvoir favoriser la participation d’autres personnes que celles engagées dans la réalisation du projet</li>
          <li>Le budget sollicité doit être cohérent et prendre en compte les coûts éventuels d’entretien à terme.</li>
        </ul>
      </li>
    </ul>

    <h3 id="7">1.6.  Des thématiques liées à l’amélioration de la qualité de vie dans les résidences</h3>
    <p>Pour faciliter les propositions, quatre thématiques ont été retenues pour le budget participatif de la RIVP. Chacune est cohérente avec les missions de la RIVP.</p>
    <ul>
      <li>Le cadre de vie.
        <br>Cette thématique recouvre des actions qui participent à améliorer la qualité de la vie des locataires en intervenant sur différents domaines comme la propreté, l’embellissement ou l’environnement (végétalisation, compostage collectif, jardins partagés…) ou la lutte contre les incivilités.</li>
      <li>La solidarité
        <br>Cette thématique recouvre des actions qui permettent entre locataires et avec au besoin la participation d’associations locales de créer des services utiles, à répondre à des besoins dans différents domaines (l’aide aux devoirs, l’accompagnement des enfants à l’école, l’entraide entre locataires, le prêt de vélos, le troc ou la réparation de petit matériel électroménager…) pour lesquels une réponse nouvelle pourrait être apportée.</li>
      <li>Le lien social
        <br>Cette thématique recouvre les actions qui favorisent les liens, les rencontres, les échanges, la convivialité entre les locataires. Ces actions (fêtes ou repas des voisins, sorties culturelles,  ateliers d’échanges culinaires…) participent ainsi à créer de la cohésion entre des voisins et plus largement à lutter contre le repli sur soi et l’indifférence.</li>
      <li>Les micro aménagements
        <br>Il s’agit ici non pas de gros travaux de réhabilitation, mais d’aménagements plus modestes et plus rapidement réalisables. Ces micro aménagements peuvent répondre à différents besoins : un abri vélo, des équipements mobiles pour faciliter l’échanges et/ou le prêt de livres, CD, magazines, outils, la création de jardinières, etc.</li>
    </ul>

    <h3 id="8">1.7.  Combien ? L’enveloppe dédiée en 2017 pour le Budget participatif de la RIVP</h3>
    <p>La RIVP a consacré un budget de 200 000 euros au budget participatif pour 2017.</p>
    <p>Les locataires des 10 sites concernés pourront donc voter pour des projets dans la limite de ce budget.</p>


    <h2 id="9">2. Zoom sur les étapes clés</h2>
    <p>Techniquement et concrètement un budget participatif est généralement organisé en un cycle qui se déroule tout au long de l’année !
    <br>Après avoir défini l’organisation, les « règles du jeu », la communication de cette première expérimentation du budget participatif et construit le site internet dédié (janvier – fin mars), le lancement est prévu fin mars : mise en ligne du site internet et premières rencontres sur sites avec les locataires.</p>

    <h3 id="10">2.1.  De fin mars au 15 juin 2017 : le déposer, enrichir et soutenir les idées</h3>
    <p>Les locataires sont invités pendant ces deux mois et demi à :</p>
    <ul>
      <li>S’informer et faire connaître leurs premières idées.</li>
    <p>Pour cela 10 réunions d’information, de mobilisation et d’émergence d’idées sont prévues. Elles permettront aux locataires qui y participeront de :</p>
      <ul>
        <li>Se présenter et se connaître : 20 minutes</li>
        <li>S’informer et comprendre ce qu’est le budget participatif</li>
        <li>Echanger et faire des premières propositions</li>
        <li>Présenter et prendre en main le site internet et les outils qui permettent de proposer son idée</li>
      </ul>
    <p>Elles se déroulement directement sur les sites, de 17h00 à 19h00 selon le calendrier suivant</p>
    <ul><li>10 réunions d’information, de mobilisation et d’émergence d’idées</li>
      <li>20 mars (site XX / lieu)</li>
      <li>23 mars (site XX / lieu)</li>
      <li>3 avril (site XX / lieu)</li>
      <li>5 avril (site XX / lieu)</li>
      <li>18 avril (site XX / lieu)</li>
      <li>19 avril (site XX / lieu)</li>
      <li>20 avril (site XX / lieu)</li>
      <li>21 avril (site XX / lieu)</li>
    </ul>

      <li>Déposer leurs idées</li>
    <p>Il s’agira de décrire leur l’idée, d’indiquer le choix de la thématique, la localisation et de présenter une première estimation du cout, soit directement via le site internet du budget participatif, soit pendant ou à l’issue des différentes rencontres organisées sur site avec la COPAS en charge de l’accompagnement.
    <br>Toutes les idées proposées seront ainsi visibles sur le site internet du budget participatif, ce qui permettra à tous les locataires concernés par l’expérimentation d’en prendre connaissance.
    <br>Les locataires peuvent déposer plusieurs idées.</p>
      <li>Echanger et enrichir les propositions</li>
    <p>Sur le site internet du budget participatif, les locataires peuvent dialoguer avec celles et ceux qui ont partagé leurs propositions. Ainsi, il est possible d’apporter des commentaires, de poser des questions, ou demander d’être associés à tel ou tel projet.
    <br>Pour enrichir les idées et les transformer progressivement en projets, 4 ateliers de co-construction sont également prévus.
    <br>Organisés les mercredis ou samedis toute la journée, ils se dérouleront en 2 temps. Un temps de permanence pour recevoir individuellement les locataires, répondre à leurs questions, les conseiller et les aider à consolider leurs idées. Un temps collectif avec tous les locataires participant à l’atelier pour un temps de formation.
    <br>4 ateliers de co-construction :</p>
    <ul>« Des idées aux projets »
      <li>Mercredi 19 avril (site XX)</li>
      <li>Samedi 29 avril (site XX)</li>
      <li>Samedi 13 mai (site XX)</li>
      <li>Mercredi 17 mai (site XX)</li>
    </ul>
    <p>Il est également possible aux locataires d’appeler directement le COPAS, organisme indépendant pour que les locataires puissent trouver des réponses ou conseils au sujet de leurs propositions. Cette « hot line » est accessible du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30 au 03.61.50.71.34 ou par mail : contact@copas.coop
    <br>Au fur et à mesure des commentaires ou des « ateliers de co-construction », les locataires peuvent revenir sur le site internet du budget participatif et faire évoluer leurs propositions.
    <br>Au fur et à mesure, les locataires peuvent soutenir les propositions qui leur plaisent (il ne s’agit pas à cette étape du vote, mais d’indiquer simplement que telle ou telle proposition est soutenue par d’autres locataires)<p>
    </ul>

    <h3 id="11">2.2.  Juillet 2017 : l’étude des projet</h3>
    <p>Le 15 juin, il ne sera plus possible aux locataires de faire de nouvelles propositions.
    <br>Le site internet du budget participatif permettra de consulter la liste de toutes les propositions qui seront examinées par une commission mixte (locataires, personnels de la RIVP, associations…).
    <br>La réunion de cette commission sera animée par le COPAS, organisme indépendant.
    <br>La commission est chargée d’examiner si les propositions respectent les critères de recevabilité (cf. rubrique l’essentiel du budget participatif de la RIVP / Quoi ? Les types de projets recevables). Les membres de la commission s’assurent ainsi que tous les critères sont respectés, analysent la faisabilité des propositions et en précisent le coût.
    <br>A l’issue de cette commission, les propositions recevables seront mises en ligne et rendues publiques sur le site internet du budget participatif ainsi qu’a travers un affichage dans les résidences. Chacun pourra ainsi prendre connaissance des projets, de leur contenu et de leur coût définitif.
    <br>C’est donc à cette étape que les propositions initiales des locataires deviennent des projets qui seront soumis au vote des locataires.
    <br>Les propositions qui ne seraient pas retenues par la commission feront l’objet d’une information spécifique aux locataires concernés.</p>

    <h3 id="12">2.3.  Septembre – octobre 2017 : le vote des locataires</h3>
    <p>Cette étape cruciale permet aux locataires de voter directement pour les projets qu’ils préfèrent.<p>
    <ul>
      <li>Chaque famille (chaque logement) a la possibilité de voter pour un ou plusieurs projets tant que le total de leur vote ne dépasse pas le budget possible (la limite des 200 000 €)</li>
      <li>Deux manières de voter sont possibles</li>
      <ul>
        <li>Directement sur le site internet du budget participatif</li>
        <li>Par vote papier en remettant un bulletin qui sera remis aux locataires et qu’il faudra déposer dans des urnes prévues à cet effet.</li>
      </ul>
      <li>L’organisme indépendant COPAS sera chargé de dépouiller les bulletins de vote et de les inscrire dans le site internet du budget participatif pour que le comptage et les résultats définitifs du vote soient publics et connus de tous</li>
      <li>Le vote est anonyme</li>
      <li>Les projets qui auront obtenu le plus de voix seront retenus dans la limite de l’enveloppe du budget participatif.</li>
    </ul>
    <h3 id="13">2.4.  Novembre 2017 : l’annonce des résultats</h3>
    A l’issue du vote et du dépouillement, les résultats seront communiqués à tous.
    <h3 id="14">2.5.  A partir de janvier 2018 : la mise en œuvre des projets lauréats</h3>
    Les projets retenus seront mis en œuvre par les locataires lauréats à partir de janvier 2018.

    <h2 id="15">3.  Le site internet dédié au budget participatif de la RIVP</h2>
    <ul>
      <li>L’origine de cette plateforme et l’open source</li>
    <p>Consul est la plateforme dédiée à la participation citoyenne développée depuis deux ans par la Mairie de Madrid. Consul est notamment une référence pour l'organisation de budgets participatifs en ligne. Libre et open source, elle a pu être réutilisée et adaptée par trente collectivités en Espagne et en Argentine, dont Barcelone, Valence et Buenos Aires. Désormais traduite en français, la plateforme est utilisée pour la première fois en France à l'occasion du budget participatif de la RIVP.
    <br>En sélectionnant Consul, la RIVP a fait le choix d'une plateforme open source dont le code est accessible publiquement pour garantir participation, collaboration et transparence. L'équipe d'Open Source Politics travaille en collaboration étroite avec les équipes de Madrid pour adapter l'outil à vos besoins.</p>
      <li>Qui administre la plateforme ?</li>
    <p>Renvoi vers les mentions légales et CGU de l'extranet RIVP</p>
      <li>Charte de confidentialité</li>
    <p>Renvoi vers les mentions légales et CGU de l'extranet RIVP</p>
    </ul>
    <h2 id="16">4.  Ressources et contacts utiles</h2>

    <h3 id="17">4.1.  Les documents téléchargeables</h3>
    <p>L’avis citoyen du 5 février 2016
    <br>L’affiche du budget participatif de la RIVP
    <br>Le dépliant de présentation du budget participatif de la RIVP
    <br>Le document « mode d’emploi » complet
    <br>Le calendrier des rencontres</p>

    <h3 id="18">4.2. Vos contacts</h3>
    <ul>
      <li>Concernant le mode d’emploi du budget participatif ou vos idées…</li>
    <p>Pour toute question ou demande concernant vos idées et propositions et le budget participatif, vous pouvez contacter le COPAS, organisme indépendant</p>
      <li>au 03.61.50.71.34 / 06.65.56.69.57 du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30</li>
      <li>ou par mail : contact@copas.coop</li>
      <li>Concernant le site internet du budget participatif de la RIVP</li>
    <p>Pour remonter tout problème sur le site internet du budget participatif, envoyer un message à Open Source Politics qui l’a développé :  contact@opensourcepolitics.eu</p>
      <li>Une question concernant plus largement  la RIVP et son budget participatif</li>
    <p>La personne chargée du budget participatif à la RIVP est Fabienne Boutier : 01 77 75 11 25 Fabienne.Boutier@rivp.fr</p>
    </ul>
  </div>
</div>











