<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= link_to page_path('more_information'), class: "back" do %>
        <i class="icon-angle-left"></i>
        <%= t("spending_proposals.new.back_link") %>
      <% end %>

      <h1><%= t('pages.more_information.titles.meetings') %></h1>

      <p>Puedes participar presentando tus propuestas o apoyándolas y votándolas cuando se abran esas fases tanto directamente en esta web, como en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes en todos los distritos.</p>

      <p>Además ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

      <h2>Convocatorias por distrito</h2>

      <div class="small-12 medium-6 column">
        <ul>
          <li>Arganzuela</li>
          <li>Barajas</li>
          <li>Carabanchel</li>
          <li>Centro</li>
          <li>Chamartín</li>
          <li>Chamberí</li>
          <li>Ciudad Lineal</li>
          <li>Fuencarral-El Pardo</li>
          <li>Hortaleza</li>
          <li>Latina</li>
          <li>Moncloa-Aravaca</li>
          <li>Moratalaz</li>
          <li>Puente de Vallecas</li>
          <li>Retiro</li>
          <li>Salamanca</li>
          <li>San Blas-Canillejas</li>
          <li>Tetuán</li>
          <li>Usera</li>
          <li>Vicálvaro</li>
          <li>Villa de Vallecas</li>
          <li>Villaverde</li>
        </ul>
      </div>

      <h2>Documentos</h2>

      <p>Los espacios presenciales de debate y propuesta de cada distrito se autorreglamentarán. A continuación añadimos autorreglamentos realizados en proyectos de presupuestos participativos de diferentes distritos por si sirvieran de inspiración para otros espacios:</p>

      <ul>
        <li>
          <%= link_to "Autorreglamento Arganzuela <small>(PDF | 163Kb)</small>".html_safe,
                    "/docs/autorreglamento_arganzuela.pdf",
                    title: "Autorreglamento Arganzuela (PDF | 163Kb)", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Autorreglamento Latina <small>(DOCX | 14Kb)</small>".html_safe,
                    "/docs/autorreglamento_latina.docx",
                    title: "Autorreglamento Latina (DOCX | 14Kb)", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Autorreglamento Tetuán <small>(PDF | 246Kb)</small>".html_safe,
                    "/docs/autorreglamento_tetuan.pdf",
                    title: "Autorreglamento Tetuán (PDF | 246Kb)", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Autorreglamento Usera <small>(PDF | 42Kb)</small>".html_safe,
                    "/docs/autorreglamento_usera.pdf",
                    title: "Autorreglamento Usera (PDF | 42Kb)", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
</div>
