<% provide :title do %><%= t('pages.titles.more_information') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 column">
      <h1><%= t('pages.titles.more_information') %></h1>
      <ul>
        <li>
          <%= link_to page_path('how_it_works') do %>
            <%= t('pages.more_information.titles.how_it_works') %>
            <span><%= t('pages.more_information.description.how_it_works') %></span>
          <% end %>
        </li>
        <li>
        <%= link_to page_path('how_to_use') do %>
            <%= t('pages.more_information.titles.how_to_use') %>
            <span><%= t('pages.more_information.description.how_to_use') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('participation') do %>
            <%= t('pages.more_information.titles.participation') %>
            <span><%= t('pages.more_information.description.participation') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('proposals_info') do %>
            <%= t('pages.more_information.titles.proposals_info') %>
            <span><%= t('pages.more_information.description.proposals_info') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('spending_proposals_info') do %>
            <%= t('pages.more_information.titles.spending_proposals_info') %>
            <span><%= t('pages.more_information.description.spending_proposals_info') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('participation_world') do %>
            <%= t('pages.more_information.titles.participation_world') %>
            <span><%= t('pages.more_information.description.participation_world') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('participation_facts') do %>
            <%= t('pages.more_information.titles.participation_facts') %>
            <span><%= t('pages.more_information.description.participation_facts') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('faq') do %>
            <%= t('pages.more_information.titles.faq') %>
            <span><%= t('pages.more_information.description.faq') %></span>
        <% end %>
        </li>
        <li>
        <%= link_to page_path('proposals_info', :anchor => "iii") do %>
            <%= t('pages.more_information.titles.signature_sheet') %>
            <span><%= t('pages.more_information.description.signature_sheet') %></span>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
