<% provide :title do %><%= t('pages.titles.more_information') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 column">
      <h1>Más información</h1>
      <ul>
        <li>
          <%= link_to how_it_works_path do %>
            ¿Cómo funciona este Portal de Gobierno Abierto?
            <span>Descubre todo lo que puedes hacer en esta web</span>
          <% end %>
        </li>
        <li>
        <%= link_to how_to_use_path do %>
            Utilízalo en tu municipio
            <span>Utilízalo libremente o ayúdanos a mejorarlo, es software libre</span>
        <% end %>
        </li>
        <li>
        <%= link_to participation_path do %>
            Participación y Transparencia en Madrid - Próximas novedades
            <span>Participación Ciudadana, Transparencia y Gobierno Abierto</span>
        <% end %>
        </li>
        <li>
        <%= link_to proposals_info_path do %>
            ¿Cómo funcionan las propuestas ciudadanas?
            <span>Crea tus propias propuestas</span>
        <% end %>
        </li>
        <li>
        <%= link_to participation_world_path do %>
            Participación ciudadana directa en el mundo
            <span>Sistemas de participación ciudadana que ya existen en el mundo</span>
        <% end %>
        </li>
        <li>
        <%= link_to participation_facts_path do %>
            Hechos sobre participación ciudadana y democracia directa
            <span>Para perderle el miedo</span>
        <% end %>
        </li>
        <li>
        <%= link_to faq_path do %>
            Soluciones a problemas técnicos (FAQ)
            <span>Preguntas frecuentes sobre problemas técnicos</span>
        <% end %>
        </li>
        <li>
        <%= link_to proposals_info_path(:anchor => "iii") do %>
            Hojas de firmas
            <span>Hojas de firmas para recoger apoyos</span>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
