<% provide :title do %><%= t('more_information.participa_getafe.title_page') %><% end %>
<div class="expanded page-background-row spending-proposal-bg">
  <div class="row no-margin-top">
    <div class="small-12 column padding text-center">
      <h1><%= t('more_information.participa_getafe.title_html') %></h1>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="menu small-12 medium-3 column">

    <%= link_to :back, class: "back" do %>
        <i class="icon-angle-left"></i>
        <%= t("shared.back") %>
    <% end %>

    <ul class="vertical menu clear">
      <li>
        <p>
          <a href="#0"><strong>Más información</strong></a>
          <ul class="vertical menu clear">
            <li><a href="#0-1">¿Qué es <%= setting['org_name'] %>?</a></li>
            <li><a href="#0-2">¿Qué puedo hacer con <%= setting['org_name'] %>?</a></li>
          </ul>
        </p>
      </li>
      <li>
        <p>
          <a href="#1"><strong>Explicación detallada del proceso</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#2"><strong>¿Qué puedo proponer?</strong></a>
        </p>
        <ul class="vertical menu clear">
          <li><a href="#2-1">Son propuestas</a></li>
          <li><a href="#2-2">No son propuestas</a></li>
        </ul>
      </li>
      <li>
        <p>
          <a href="#4"><strong>Información sobre presupuestos participativos</strong></a>
          <ul class="vertical menu clear">
            <li><a href="#4-1">¿Qué son los Presupuestos Participativos?</a></li>
            <li><a href="#4-2">¿Qué aportan los Presupuestos Participativos?</a></li>
          </ul>
        </p>
      </li>
      <li>
        <p>
          <a href="#5"><strong>Normativa de funcionamiento de presupuestos participativos</strong></a>
          <ul class="vertical menu clear">
            <li><a href="#5-1">Introducción</a></li>
            <li><a href="#5-2">Comisiones de barrio de presupuestos participativos</a></li>
            <li><a href="#5-3">Fases de la ejecución del proyecto</a></li>
            <li><a href="#5-4">Cronograma de presupuestos participativos</a></li>
            <li><a href="#5-5">Las propuestas</a></li>
            <li><a href="#5-6">Herramienta web</a></li>
            <li><a href="#5-7">Disposición final</a></li>
          </ul>
        </p>
      </li>
      <li><p><a href="#3"><strong>Preguntas Frecuentes (F.A.Q)</strong></a></p>
        <ul class="vertical menu clear">
          <li><a href="#3-1">¿Quién puede votar?</a></li>
          <li><a href="#3-2">¿Qué propuestas puedo votar?</a></li>
          <li><a href="#3-3">¿Qué tipo de propuestas hay?</a></li>
          <li><a href="#3-4">¿Pueden proponer asociaciones o colectivos?</a></li>
          <li><a href="#3-5">¿Cuándo se ejecutarán las propuestas?</a></li>
          <li><a href="#3-6">¿Cuándo puedo formar parte de una comisión de barrio?</a></li>
          <li><a href="#3-7">¿Qué requisitos tiene que cumplir una propuesta para que sea votada?</a></li>
          <li><a href="#3-8">Si hay varias propuestas parecidas, ¿cuál será aceptada?</a></li>
          <li><a href="#3-9">¿Puede un proponente ejecutar su propuesta?</a></li>
          <li><a href="#3-10">Si no tengo acceso a internet, ¿cómo puedo proponer y votar?</a></li>
          <li><a href="#3-11">¿Cómo va a controlarse que cada persona vote una única vez por propuesta?</a></li>
          <li><a href="#3-12">No me funciona la verificación de residencia</a></li>
          <li><a href="#3-13">No recuerdo mi contraseña, ¿qué puedo hacer?</a></li>
          <li><a href="#3-14">¿Cómo me registro en Participa Getafe?</a></li>
          <li><a href="#3-15">¿Cómo registro mi asociación o colectivo?</a></li>
          <li><a href="#3-16">¿Cómo puedo cambiar mi dirección electrónica, mi nombre de usuario, la contraseña, darme de baja o activar o desactivar las notificaciones que me llegan al correo electrónico?</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h2 id="0">Más información sobre <%=  setting['org_name']%></h2>
    <p>
      Regístrate para entrar en los distintos procesos participativos. Con “<%=  link_to setting['org_name'], root_path %>” podrás crear propuestas para tu municipio, interaccionar con otras y votar las propuestas del barrio que elijas, podrás dar tu opinión y votar en distintas consultas ciudadanas.
    </p>
    <h3 id="0-1">¿Qué es <%= setting['org_name'] %>?</h3>
    <p>
      <strong>Una plataforma para decidir el Getafe que queremos</strong>
    </p>
    <p>
      Es una herramienta de participación on-line que se pone a disposición de los vecinos y vecinas de Getafe, que complementa el trabajo presencial de los barrios. Con ella se quiere fomentar un espacio de construcción colectiva de nuestra ciudad.
    </p>

    <h3 id="0-2">¿Qué puedo hacer en <%= setting['org_name'] %>?</h3>

    <h4>Informarme</h4>
    <ul>
      <li>Consultar los procesos participativos.</li>
      <li>Navegar por las propuestas más recientes, las más valoradas.</li>
      <li>Filtrar los contenidos que te interesen en función de variables como Barrio, temas o etiquetas.</li>
    </ul>

    <h4>Participar</h4>
    <ul>
      <li>Hacer propuestas nuevas</li>
      <li>Interaccionar con las propuestas existentes, tanto las del Ayuntamiento como las ciudadanas.</li>
      <li>Opinar en las consultas ciudadanas.</li>
    </ul>

    <h4>Apoyar las propuestas</h4>
    <ul>
      <li>Comparte las propuestas en las redes sociales.</li>
      <li>Haz seguimiento de las propuestas.</li>
      <li>Conoce las fechas de las distintas <%= link_to 'Comisiones de barrio', page_path('about_neighborhood_commissions') %>.</li>
      <li>Marca una propuesta y sigue toda la evolución.</li>
    </ul>

    <hr>

    <h2 id="1">Explicación detallada del proceso</h2>
    <!-- GET-22 -->
    <p>El <%= link_to 'Ayuntamiento de Getafe', 'http://getafe.es', target: '_blank' %> ha dotado con <strong>3.432.00 euros</strong> a los presupuestos participativos para que la ciudadanía decida su destino.
La cantidad se dividirá en dos partes: 3.300.000 euros que se destinarán a propuestas de inversiones, y 132.000 euros destinados a propuestas de programas.  
	Cada 1 de los once barrios tendrá la misma cantidad para los dos tipos de propuestas: 300.000 euros para inversiones y 12.000 euros para programas.</p>

    <p>El procedimiento <strong>se iniciará el 16 de enero</strong>, y estará <strong>divido en cuatro etapas</strong>:</p>

    <ul>
      <li>
        <p><strong>Recogida de propuestas (23 enero - 28 febrero)</strong>. Cualquier persona empadronada en Getafe podrá elaborar propuestas de inversiones o de programas, para cualquier barrio. Estas propuestas podrán ser hechas a través de <%= link_to setting['org_name'], root_path %> o a través de los centros cívicos.<p>
        <p><strong><u>ACTUALIZACIÓN</u></strong> sobre el proceso: <strong>ampliación de plazo desde el 28 de febrero al 12 de marzo</strong>.</p>
	      <p>Para que facilitar su evaluación, las propuestas debe ser lo más concretas posibles.</p>
      </li>
      <li>
        <p><strong>Evaluación de propuestas (1 marzo - 12 mayo)</strong>. Una vez terminada la fase de recogida, los distintos servicios técnicos del Ayuntamiento de Getafe evaluarán las propuestas. Cada propuesta debe de superar los tres criterios de viabilidad:</p>

        <p><strong><u>ACTUALIZACIÓN</u></strong> sobre el proceso: <strong>debido a la ampliación del plazo de presentación de propuestas la evaluación empezará el 13 de marzo</strong>.</p>
        <p>
          <ol>
              <li>
                <strong>Viabilidad Jurídica</strong>: Las propuestas deben de enmarcarse dentro de las competencias municipales y no contravenir ninguna norma. También deben de respetar el principio de libre concurrencia de contratación del ayuntamiento. En “¿qué puedo proponer?” (hipertexto), puedes consultar un  listado de ejemplos de propuestas que son viables jurídicamente y cuáles no.
              </li>
              <li>
                <strong>Viabilidad económica</strong>: Las propuestas no pueden superar los 300.000 euros si es una inversión o los 12.000 euros si es un programa.
              </li>
              <li>
                <strong>Viabilidad técnica</strong>: Las propuestas deben de ser posibles técnicamente.
              </li>
            </ol>
        </p>
        <p>
          En el caso de que existieran propuestas idénticas o parecidas, las comisiones serán las encargadas de comunicarse con los proponentes, con la intención de unirlas de cara a las votaciones.
        </p>
      </li>
      <li>
        <p><strong>Exposición de las propuestas (abril – mayo)</strong>. Toda propuesta debe ser defendida para poder llegar a la votación, por regla general se hará en la Asamblea de barrios previa al periodo de votación.</p>
        <p>En el caso de que el proponente no pueda asistir ese día, deberá exponerla en la comisión de barrio delegando así, en este “órgano”, la explicación de la misma el día de celebración de la Asamblea de Barrio.</p>
        <p>En la Asamblea se permitirá un turno de exposición para cada propuesta, el proponente puede aportar toda la información o material que necesite.</p>
      </li>
      <li>

        <p><strong>Votación de la propuesta (19 – 25 junio)</strong>. Durante este periodo se habilitará en <%= link_to setting['org_name'], root_path %> la votación de las distintas propuestas. Podrán hacerlo todas aquellas personas que estando empadronadas en Getafe, se hayan inscrito en los presupuestos participativos a través del registro existente en esta misma página.</p>
        <p>Las votaciones serán simultáneas para todos los barrios. Podrás votar en uno de los once barrios, independientemente de donde estés empadronado.  El método de votación será solidario por lo que tendrás que votar tres propuestas con 3, 2 y 1 punto.</p>
        <p>Las votaciones serán posibles desde cualquier dispositivo que tenga acceso de internet. Para todas aquellos vecinos y vecinas que no puedan acceder se habilitarán en dependencias municipales, con horario de mañana y tarde, terminales para que puedan votar.</p>
        <p>El resultado final del proceso se obtendrá, una vez finalizada la votación, ordenando todas las propuestas en cada lista (inversiones y programas) por votos, y seleccionando las propuestas de la más votada hasta la última. Siguiendo este orden de prelación se irán dotando de presupuesto hasta que el mismo se agote.</p>
      </li>
    </ul>

    <hr>
    <!-- -->
    <h2 id="2">¿Qué puedo proponer?</h2>
    <h3 id="2-1">Son propuestas:</h3>
    <ul>
      <li><u>Nuevas infraestructuras</u>: Urbanización, viales, alumbrado, parques, zonas ajardinadas, árboles y jardineras, fuentes e hidrantes, alcantarillado, implementación de superficies de esparcimiento, superficies deportivas de uso libre o regulado, etc.</li>
      <li><u>Reposición de infraestructuras</u>: Adecuación de solares, remodelación de viales y de su señalización, reforma de alumbrado, remodelación de parques, zonas verdes, reforma de fuentes y estanques, etc.</li>
      <li><u>Obras de reforma, rehabilitación o mejora de edificios municipales</u>: Reforma de centros Cívicos, mejora de centros polideportivos, locales sociales, locales de entidades, escuela de música, etc</li>
    </ul>
      <h3 id="2-2">No son propuestas:</h3>
      <ul>

        <li>
          Construcción de institutos y colegios públicos (la competencia sobre su construcción es de la Comunidad de Madrid)
        </li>
        <li>
        Construcción de centros de salud (sólo es posible en el caso de centros de salud municipales)
        </li>
        <li>
        Infraestructuras de carreteras de acceso a Getafe  y de ferrocarril
        </li>
        <li>
          Propuestas de inversión sobre terrenos o solares no municipales
        </li>
        <li>
          Gastos de contratación de personal
        </li>
        <li>
          Alquileres de edificios, vehículos, mobiliario, maquinaria
        </li>
        <li>
          Suministros: vestuario, combustibles, energía eléctrica, gas, alimentos
        </li>
        <li>
          Subvenciones y ayudas a familias, instituciones sin ánimo de lucro, fundaciones, empresas privadas
        </li>
        <li>
          Concesión de becas, premios, asistencia benéfica o asistencial
        </li>
        <li>
          Concesión de becas, premios, asistencia benéfica o asistencial
        </li>
        <li>
          Comisarías
        </li>
        <li>
          Marquesinas</li>
        </li>
        <li>
          El servicio de limpieza
        </li>
        <li>
          Contratación de personal para limpieza
        </li>
        <li>
          La ampliación del horario del servicio de autobuses o la modificación de rutas
        </li>
        <li>
          Nuevas edificaciones
        </li>
      </ul>

      <hr>
      <h2 id="4">Información de los presupuestos participativos</h2>
      <h3 id="4-1">
        ¿Qué son los presupuestos participativos?
      </h3>
      <p>
        Los presupuestos participativos son una herramienta de participación y gestión gracias a la cual los vecinos y vecinas de Getafe pueden decidir en que invertir parte del presupuesto municipal.
      </p>
      <p>
        Estos procesos se iniciaron en América latina en la ciudad de Porto Alegre (Brasil) en 1989. Desde ese momento los Presupuestos Participativos han ganado protagonismo en distintas partes del mundo.
      </p>
      <p>
        Los Presupuestos Participativos en Getafe, ya se desarrollaron durante los años 1995- 2005 con una elevada aceptación ciudadana. El presente gobierno municipal ha decidido retomar esta herramienta para dotar a los vecinos y vecinas de Getafe de la posibilidad de elegir aquellas inversiones y programas que necesite su barrio.
      </p>
      <h3 id="4-2">¿Qué aportan los Presupuestos Participativos?</h3>
      <p>
          Los Presupuestos Participativos dotan a los vecinos y vecinas de una herramienta de participación directa en los presupuestos anuales municipales. Con ello podrán elegir aquellas inversiones o programas que satisfagan sus demandas o preocupaciones, incluyendo, además, el seguimiento de la ejecución de las mismas.
      </p>
      <p>
        Aportan mayor transparencia y eficacia a la gestión municipal, ya que establece un debate sobre los elementos en los que se gasta el presupuesto municipal.
      </p>
      <p>
        Permite que el proceso se autorregule ya que, con una periodicidad anual , se evaluará el proceso pudiendo agregar aquellas normas que los vecinos y vecinas vean necesarias en vista de aumentar la efectividad de los Presupuestos Participativos.
      </p>
      <p>
        Genera un espacio de reflexión activa y de solidaridad entre los vecinos y vecinas, ya que se abren debates donde conocer las problemáticas y demandas del propio barrio y del resto.
      </p>
      <p>
        Aumenta y mejora la comunicación entre la ciudadanía y la administración, debido a los espacios de interlocución entre políticos y vecinos y vecinas que se generan.
      </p>

      <hr>
      <h2 id="5">Normativa de funcionamiento de presupuestos participativos 2017</h2>
      <h3 id="5-1">Introducción</h3>
      <p>
        Los Presupuestos Participativos, contemplados en el Título V del Proyecto de Reglamento Orgánico de Participación Ciudadana*, son una forma de participación de la  ciudadanía en la gestión de nuestra ciudad, mediante la cual entre todos los vecinos y vecinas podemos participar en la planificación de los recursos públicos. Tienen como objetivo principal generar un espacio ciudadano de debate y decisión, donde el órgano base es la Asamblea de Barrio. Se trata de un proceso vinculante, en virtud del cual se garantiza la corresponsabilidad ciudadana, técnica y política en la creación de un proceso transparente sometido a evaluación continua.
      </p>
      <p>
        La existencia de esta normativa de funcionamiento viene recogida en el artículo 27 del Reglamento Orgánico de Participación Ciudadana. Su contenido ha sido fruto de la deliberación de las Comisiones de Barrio celebradas en los meses de septiembre, octubre y noviembre de 2016 así como del análisis específico realizado en la “Jornada de Evaluación” celebrada el 26 de noviembre de 2016.
      </p>
      <p>
        Se establecen 11 territorios para dinamizar la participación vertebrada desde los Centros Cívicos de Barrio o en su defecto los Centros Sociales: La Alhóndiga, El Bercial, Centro, San Isidro, Getafe Norte, Juan de la Cierva, Las Margaritas, Perales del Río, Sector III, Los Molinos y Cerro Buenavista.
      </p>
      <p>
        En cada uno de estos territorios se desarrollará el proceso de elaboración, priorización, ejecución y seguimiento de propuestas, contando cada territorio con un presupuesto  autónomo que se determinará cada año.
      </p>
      <p>
        <small><i>*El proyecto de Reglamento fue aprobado en Junta de Gobierno de 5 de octubre, aprobado inicialmente en Pleno de 19 de octubre de 2016.</i></small>
      </p>

      <h3 id="5-2">Comisiones de barrio de presupuestos participativos</h3>
      <p>
        <strong>(*) Nota:</strong> Ver toda la información en la <%= link_to 'página de información sobre comisiones de barrio', page_path('about_neighborhood_commissions') %>
      </p>
      <p>
        Con atribuciones durante todas las fases del proceso, se formalizará en cada uno de los 11 barrios citados. La Comisión será debidamente convocada a sus sesiones a través del panel informativo del Centro, además se habilitarán otros medios subsidiarios de convocatoria como  correo electrónico y publicación web. Sus sesiones son públicas y abiertas.
      </p>
      <p>

          Son FUNCIONES de dicha Comisión:
          <ul>
            <li>
              Promover la participación de la ciudadanía y de las entidades y colectivos del barrio en el proceso, poniendo en marcha las estrategias que se vean necesarias para ello.
            </li>
            <li>
              Preparar las Asambleas de Barrio en materia de presupuestos participativos, tanto las que tengan un carácter informativo, como aquellas en las que se presentan propuestas ciudadanas.
            </li>
            <li>
              Solicitar, si lo estima oportuno, las aclaraciones pertinentes sobre las propuestas presentadas tanto por entidades cómo por personas físicas. En aras, entre otros, a conciliar aquellas propuestas  que tengan una naturaleza análoga con acuerdo entre los proponentes.
            </li>
            <li>
              Elegirá, si fuera necesario, delegado o delegada con mandato puntual y específico para dar a conocer a la Asamblea de Barrio toda la información que emane de la Comisión de Barrio de Presupuestos Participativos.
            </li>
            <li>
              Realizará el seguimiento de actuaciones y programas electos.
            </li>
            <li>
              Levantará acta de los acuerdos alcanzados en las sesiones. Para ello una

              persona de la Comisión realizará labores de secretaría.
            </li>
            <li>
              Los componentes de la Comisión, si fuera necesario, recibirán  formación

              básica sobre aspectos genéricos del proceso tales como: presupuestos

              municipales, áreas municipales implicadas, técnicas de dinamización y

              comunicación, resolución de conflictos, bases de contratación pública y sus

              plazos…
            </li>
            <li>
              Podrá solicitar la asistencia o en su defecto remisión de Informe de los técnicos

              que ostenten competencia para informar sobre asuntos de contenidos

              específicos que deban someterse a discusión o votación.
            </li>
            <li>
              Podrá solicitar la asistencia a los vecinos, vecinas o entidades para la aclaración

              de la propuesta realizada.
            </li>
          </ul>
      </p>

      <h3 id="5-3">Fases de la ejecución del proyecto</h3>
      <ol>
        <li>
          <p><strong>Primera Fase: Información sobre el proceso e inscripciones.</strong></p>
          <p>
            El Ayuntamiento de Getafe, a través de su Servicio de Comunicación, será el órgano encargado de dar difusión al proceso, centralizando esencialmente  la información a través de la web municipal, empleando también los paneles de información en Centros Cívicos, Sociales y Municipales.
          </p>
          <p>
            El Programa de Presupuestos Participativos se vertebra a través de la Asamblea de Barrio y con carácter más continuo y permanente a través de la Comisión de Barrio de Presupuestos Participativos. Dicha Comisión tiene carácter abierto y tanto vecinos, vecinas y entidades pueden pertenecer  a dicha Comisión con el único requisito de rellenar la “Ficha de Inscripción en la Comisión de Presupuestos Participativos” de Entidades y Colectivos o de Vecinos y Vecinas que podrá estar alojada, entre otros, en la herramienta web.
          </p>
        </li>
        <li>
          <p>
            <strong>Segunda Fase: Registro y Tramitación de Propuestas.</strong>
          </p>
          <p>
            Durante esta fase los Presupuestos Participativos se dirigen a propiciar que los

ciudadanos propongan las cuestiones que son consideradas prioritarias con relación a las

inversiones  y programas de intervención o dinamización social para su barrio. Para ello, los

vecinos, vecinas y entidades podrán rellenar una “Ficha de Presentación de Propuestas al

Programa de Presupuestos Participativos” con especificación de: datos personales de la

entidad o vecino o vecina que realiza la proposición, teléfono, mail, breve descripción de la

actuación, barrio de actuación así cómo posibilidad de adjuntar documentación al respecto.
          </p>
          <p>
            La presentación de propuestas cuenta con un plazo limitado en el tiempo, que se

especificará ampliamente en los tablones de información y en la web municipal. Dichas

propuestas deberán ser consignadas en la herramienta web o  en aquellas dependencias

municipales que dispongan de este servicio. Una vez concluido el plazo, la Comisión deberá

reunirse para conocer todas las propuestas.
          </p>
          <p>
            Las propuestas no podrán coincidir con inversiones, gastos de mantenimiento o

programas previstos por las distintas áreas municipales, salvo que puedan significar un

complemento o mejora cualitativa para los mismos.
          </p>
          <p>
            La Comisión podrá recabar información adicional o aclaración de las propuestas

realizadas por personas físicas o entidades. La Comisión igualmente podrá unificar aquellas

propuestas que por su naturaleza sean análogas, pudiendo citar a aquellos proponentes para

que de manera solidaria unifiquen las propuestas en aquellos puntos que pudieran parecer

discordantes.
          </p>
          <p>
            El proponente asume la obligatoriedad de asistir a la Comisión cuando esta le requiera

que proporcione información adicional o aclaraciones. El no cumplimento de esta obligación

podría, a juicio de la Comisión, suponer la exclusión de la propuesta.
          </p>
          <p>
            La Comisión elevará a la Asamblea de Barrio todas las propuestas que hayan sido

admitidas. Igualmente dará cuenta de las no admitidas. Para ello tendrá conocimiento de los

informes técnicos que sustentan tal decisión.
          </p>
          <p>
            Las propuestas que vayan a someterse a debate y votación se publicarán

anteriormente a la celebración de la Asamblea  en el tablón de anuncios de cada Centro y en la

herramienta web. A la propuesta se adjuntará breve descripción de lo que se pretende

realizar.
          </p>
        </li>
        <li>
          <p>
            <strong>Tercera Fase: La Asamblea de Barrio.</strong>
          </p>
          <p>
            Tras esta segunda fase se elevarán las propuestas aprobadas a la Asamblea de Barrio. Vecinos, vecinas, entidades y colectivos tendrán la obligación de exponer  la propuesta realizada, con implementación de material digital si lo desea, a no ser que esta función haya sido delegada en otra persona o en la propia Comisión, promocionando y defendiendo la misma.
          </p>
          <p>
            En esta ocasión, la Mesa de la Asamblea regulará:
          </p>
          <p>
            La Exposición
          </p>
          <p>
            <ul>
              <li>Deberá contar con el apoyo de un miembro de la Comisión de Presupuestos Participativos.</li>
              <li>La “Mesa de la Asamblea” establecerá la duración de la exposición y los tiempos asignados a los diferentes turnos de palabras.</li>
              <li>Se habilitará un máximo de un turno de intervención para la defensa de una propuesta.</li>
            </ul>
          </p>
          <p>
            Igualmente la Mesa de la Asamblea dará información sobre el calendario de votación.
          </p>
        </li>
        <li>
          <p>
            <strong>Cuarta Fase: Votación</strong>
          </p>
          <p>
            La votación será simultánea en todos los barrios y podrá realizarse de dos formas distintas:
          </p>
          <p>
            <ul>
              <li>
                Votación telemática
              </li>
              <li>
                Votación telemática asistida. En centros municipales, en horario de mañana y tarde, los vecinos y vecinas podrán emitir su voto en un terminal destinado al efecto con asistencia, si así lo desea, de personal municipal.
              </li>
            </ul>
          </p>
          <p>
            ¿Quién puede votar?
          </p>
          <p>
            <ul>
              <li>Todas las personas con domicilio en el barrio y que hayan cumplido 16 años.</li>
            </ul>
          </p>
          <p>
            ¿Qué propuestas puedo votar?
          </p>
          <p>
            <ul>
              <li>
                Exclusivamente se podrá votar las propuestas de 1 de los 11 barrios, independientemente de la ubicación de su domicilio de empadronamiento.
              </li>
            </ul>
          </p>
          <p>
            El sistema de votación atenderá a los criterios de solidaridad, votando tres propuestas

con 3, 2 y 1 punto; dotando proporcionalmente de más puntos a aquellas propuestas que

entienda más adecuadas.
          </p>
          <p>
            Hay dos categorías susceptibles a ser votadas: programas e inversiones.
          </p>
          <p>
            Una vez concluido el plazo de votación se expondrá públicamente los resultados en la web municipal y en los centros municipales territoriales de referencia (cívicos y sociales).
          </p>
        </li>
        <li>
          <p>
            <strong>Quinta Fase: Inicio de los trabajos</strong>
          </p>
          <p>
            Los Servicios Técnicos comenzarán en este momento los anteproyectos de las propuestas elegidas, que serán precursores de la contratación. Dichos trabajos previos se darán a conocer en las Asambleas de Barrio en la que los vecinos y vecinas podrán realizar aportaciones específicas.
          </p>
          <p>
            Las actuaciones que queden fuera de ejecución por falta de dinero serán eliminadas. Los vecinos, vecinas y entidades que deseen volver a concurrir con una propuesta, no ejecutada por falta de crédito, deberán volver a presentarla en el ejercicio siguiente.
          </p>
        </li>

        <li>
          <p>
            <strong>
              Sexta Fase: Seguimiento de la actuación.
            </strong>
          </p>
          <p>
            Durante este periodo la Comisión se encargará de conocer el estado de tramitación de

la licitación, la contratación y la ejecución de las obras o servicios. La información genérica de

este particular se hará igualmente pública en los Tablones Informativos de los centros y en la

web municipal.
          </p>
          <p>
            ¿Cuándo se ejecutarán las propuestas ganadoras?
          </p>
          <p>
            Debido a la concatenación de las seis fases, anteriormente descritas, las propuestas acordadas tendrán la mayor parte de su ejecución en el ejercicio siguiente a su aprobación.
          </p>
        </li>
      </ol>

      <h3 id="5-4">Cronograma de presupuestos participativos</h3>
      <table>
        <tr>
          <th>
            I FASE
          </th>
          <th>
            II FASE
          </th>
          <th>
            III FASE
          </th>
          <th>
            IV FASE
          </th>
          <th>
            V FASE
          </th>
          <th>
            VI FASE
          </th>
        </tr>
        <tr class="small">
          <td>
            <p>
              Difusión del Programa
            </p>
            <p>
              Formación de las
              Comisiones de
              Presupuestos
              Participativos
            </p>
          </td>
          <td>
            <p>
              Registro y tramitación de propuestas
            </p>
            <p>
              Inscripción de
              propuestas
            </p>
            <p>
              Evaluación

              técnica y

              económica
            </p>
            <p>
              Trabajos de la

              comisión
            </p>
          </td>
          <td>
            <p>
              Celebración de la Asamblea Vecinal en la que se hará la exposición de las propuestas.
            </p>
          </td>
          <td>
            <p>
              Votación
            </p>
            <p>
              Exposición pública de resultados.
            </p>
          </td>
          <td>
            <p>
              Realización de trabajos previos por técnicos municipales.
            </p>
            <p>
              Celebración de Asamblea, conocimiento de trabajos técnicos.
            </p>
            <p>
              Comienzo de proceso de contratación pública.
            </p>
          </td>
          <td>
            <p>
              Seguimiento de la actuación.
            </p>
            <p>
              Información permanente.
            </p>
          </td>
        </tr>
      </table>

      <h3 id="5-5">Las propuestas</h3>
      <p>
        Para poder presentar una propuesta, los vecinos, vecinas y asociaciones podrán

rellenar una “Ficha de Presentación de Propuestas al Programa de Presupuestos Participativos”

con especificación de: datos personales de la entidad o vecino o vecina que realiza la

proposición, teléfono, mail, breve descripción de la actuación, así cómo posibilidad de adjuntar

documentación al respecto. La descripción debe ser suficiente para que sean susceptibles de

ser evaluables económicamente. La propuesta se puede presentar vía telemática o telemática

asistida.
      </p>
      <p>
        Las <strong>propuestas de Inversiones</strong> tienen el formato de ejecución de obra, obra menor o adquisición de equipamiento.
      </p>
      <p>
        Las <strong>propuestas de Programas</strong> tiene el formato de servicios.
      </p>
      <p>
        <strong>¿Quién puede proponer?</strong>
      </p>
      <p>
        Podrán realizar propuestas los vecinos y vecinas empadronados en Getafe a partir de

        los 16 años de edad, igualmente las entidades y colectivos cuyo domicilio social o ámbito de

        actuación esté igualmente ubicado en Getafe.
      </p>
      <p>
        La participación en el programa de Presupuestos Participativos de los menores se
        llevarán a cabo a través de la Comisión de Participación de la Infancia y Adolescencia.
      </p>
      <p>
        <strong>Criterios de viabilidad</strong>
      </p>
      <p>
        Las propuestas para ser admitidas y pasar a la fase de votación deben ser expuestas y cumplir los  tres criterios de viabilidad.
      </p>
      <p>
        <ul>
          <li>Viabilidad Jurídica: Las propuestas deben de enmarcarse dentro de las

competencias municipales. No se incluirán aquellas que entren en el ámbito de

las competencias de otras administraciones. También se estudiará si las

propuestas contravienen alguna normativa. Por último, las propuestas, deben

respetar el principio de libre concurrencia de contratación pública. El

proponente, en ningún caso, puede ser objeto de contratación.
          </li>
          <li>
            Viabilidad Económica: Las propuestas no pueden exceder el presupuesto

acordado para cada proceso en cada barrio. No podrán coincidir con

inversiones, gastos de mantenimiento o programas previstos por las distintas

áreas municipales, salvo que puedan significar un complemento o mejora

cualitativa de las mismas con sustantividad propia.
          </li>
          <li>
            Viabilidad Técnica. Las propuestas deben ser posibles técnicamente.
          </li>
        </ul>
      </p>

      <h3 id="5-6">Herramienta web</h3>
      <p>
        Se pondrá en marcha una herramienta web que permitirá:
      </p>
      <p>
        <ul>
          <li>Inscripción en los Presupuestos Participativos</li>
          <li>Presentación de propuestas</li>
          <li>Inscripción en las <%= link_to 'Comisiones de Barrios', page_path('about_neighborhood_commissions') %> de los Presupuestos Participativos</li>
          <li>Votar las propuestas</li>
          <li>Dar toda la información necesaria del proceso</li>
        </ul>
      </p>

      <h3 id="5-7">Disposición final</h3>
      <p>
        Esta normativa de funcionamiento tendrá vigencia en el proceso de Presupuestos Participativos de 2017. Al finalizar cada proceso, en la sesión de evaluación, el documento podrá verse modificado, enmendado o completado.
      </p>

      <hr>
      <h2 id="3">Preguntas Frecuentes (F.A.Q)</h2>
      <h3 id="3-1">¿Quién puede votar?</h3>
      <p>
        Todas las personas con domicilio en Getafe y que hayan cumplido 16 años.
      </p>

      <h3 id="3-2">¿Qué propuestas puedo votar?</h3>
      <p>
        Exclusivamente se podrá votar las propuestas de 1 de los 11 barrios, independientemente de la ubicación de su domicilio de empadronamiento.
      </p>

      <h3 id="3-3">¿Qué tipo de propuestas hay?</h3>
      <p>
        <ul>
          <li>
            Las propuestas de Inversiones tienen el formato de ejecución de obra, obra menor o adquisición de equipamiento.
          </li>
          <li>
            Las propuestas de Programas tiene el formato de servicios.
          </li>
        </ul>
      </p>

      <h3 id="3-4">¿Pueden proponer asociaciones o colectivos?</h3>
      <p>
        Sí. La proposición será, en todo caso, de una persona física en representación de asociaciones, entidades o colectivos cuyo domicilio social o ámbito de actuación esté ubicado en Getafe.
      </p>

      <h3 id="3-5">¿Cuándo se ejecutarán las propuestas?</h3>
      <p>
        Como regla general las propuestas ganadoras se ejecutarán el año siguiente a su aprobación.
      </p>

      <h3 id="3-6">¿Cuándo puedo formar parte de una comisión de barrio?</h3>
      <p>
        Los vecinos y vecinas de Getafe pueden inscribirse en la comisión de su barrio de residencia en cualquier momento del proceso
      </p>

      <h3 id="3-7">¿Qué requisitos tiene que cumplir una propuesta para que sea votada?</h3>
      <p>
        Toda propuesta debe de superar tres criterios de viabilidad:
        <ul>
          <li>
            <strong>Viabilidad Jurídica</strong>: Las propuestas deben de enmarcarse dentro de las competencias municipales. No se incluirán aquellas que entren en el ámbito de las competencias de otras administraciones. También se estudiará si las propuestas contravienen alguna normativa. Por último, las propuestas, deben respetar el principio de libre concurrencia de contratación pública. El proponente, en ningún caso, puede ser objeto de contratación.
          </li>
          <li>
            <strong>Viabilidad Económica</strong>: Las propuestas no pueden exceder el presupuesto acordado para cada proceso en cada barrio. No podrán coincidir con inversiones, gastos de mantenimiento o programas previstos por las distintas áreas municipales, salvo que puedan significar un complemento o mejora cualitativa de las mismas con sustantividad propia.
          </li>
          <li>
            <strong>Viabilidad Técnica</strong>: Las propuestas deben ser posibles técnicamente.
          </li>
        </ul>
        Además de pasar estos criterios deberá ser presentada en la Asamblea por el proponente o por la Comisión.
      </p>

      <h3 id="3-8">Si hay varias propuestas parecidas, ¿cuál será aceptada?</h3>
      <p>
        En el caso de que varias propuestas sean iguales o parecidas, la comisión llamará a los proponentes para ver la posibilidad de unirlas de cara a la votación.
      </p>

      <h3 id="3-9">¿Puede un proponente ejecutar su propuesta?</h3>
      <p>
        Todas las propuestas aprobadas deben respetar el principio de libre concurrencia de contratación pública. En ningún caso, el proponente puede ser objeto de contratación.
      </p>

      <h3 id="3-10">Si no tengo acceso a internet, ¿cómo puedo proponer y votar?</h3>
      <p>
        Previendo que algunos vecinos y vecinas no tengan facilidad para acceder a la herramienta web, en los centros cívicos se habilitará un procedimiento de acceso asistido al proceso.
      </p>

      <h3 id="3-11">¿Cómo va a controlarse que cada persona vote una única vez por propuesta?</h3>
      <p>
        Las votaciones presenciales en las dependencias municipales están controladas porque la persona tiene que presentar su DNI. Para la votación a través de Internet se verifica que la cuenta de usuario corresponde a un único ciudadano/a. Para ello se le facilita un código personal seguro de verificación de la cuenta que se comunica a través de canales de comunicación privados, como son teléfonos móviles que constan en el Ayuntamiento que pertenecen a la persona adecuada, o por correo a través del buzón que figura en la dirección de empadronamiento. De esta forma nos aseguramos de que sólo esa persona ha recibido el código. En caso de que dichos medios de comunicación no estén disponibles se solicitará a la persona que acuda presencialmente a alguna de las Oficinas de Atención al Ciudadano, para obtener su código.
      </p>

      <h3 id="3-12">No me funciona la verificación de residencia</h3>
      <p>
        Comprueba las siguientes posibilidades:
        <ul>

          <li>¿Has puesto el DNI o documento con todos los caracteres juntos, incluyendo la letra al final?</li>
          <li>¿Estás seguro que estás empadronado en Getafe? Quizás hay algún problema con tus datos en el registro de empadronamiento. Consulta en tu oficina de atención al vecino más cercana y confirma que tu información del Padrón es correcta.</li>
          <li>Si todos los pasos anteriores no solucionan el problema, puedes enviarnos un correo electrónico a <%= link_to setting['support_email'], "emailto:#{setting['support_email']}" %> (o la dirección que sea).</li>
        </ul>

      </p>

      <h3 id="3-13">No recuerdo mi contraseña, ¿qué puedo hacer?</h3>
      <p>
        Se puede solicitar una nueva contraseña siguiendo los pasos que se enviarán a tu correo electrónico al hacer clic en <i>"<%= link_to '¿Has olvidado tu contraseña?',  new_user_password_path %>"</i>.
      </p>

      <h3 id="3-14">¿Cómo me registro en <%= setting['org_name']%>?</h3>
      <p>
          Es tan sencillo como rellenar los datos que se piden en la sección <i><%=  link_to 'Registrarse', new_user_registration_path %></i>. Posteriormente deberás validar la cuenta con el código que se te enviará a tu teléfono móvil o email. Ten en cuenta que si estos datos no están actualizados en tu padrón, no te llegarán correctamente.
      </p>

      <h3 id="3-15">¿Cómo registro mi asociación o colectivo?</h3>

        Como se explica en <i>“<a href="#3-4">¿Pueden proponer asociaciones o colectivos?”</a></i> para que las asociaciones o colectivos puedan proponer, una persona física lo tiene que hacer en su nombre.
      </p>

      <h3 id="3-16">¿Cómo puedo cambiar mi dirección electrónica, mi nombre de usuario, la contraseña, darme de baja o activar o desactivar las notificaciones que me llegan al correo electrónico?</h3>
      <p>
        Haz clic en el enlace <i>"<%= link_to 'Entrar', new_user_session_path %>"</i>, introduce tu dirección electrónica y la contraseña, y pulsa el botón "Entra". Una vez hecho esto, haz clic en el enlace <i>"<%= link_to 'Mi cuenta', account_path %>"</i>, donde encontrarás todas las opciones que te permitirán cambiar tu dirección electrónica, nombre de usuario, contraseña, darte de baja o activar o desactivar las notificaciones. Una vez hecho el cambio adecuado, asegúrate de hacer clic al botón "guardar los cambios".
      </p>
  </div>
</div>
