<div class="row">
  <div class="text small-12 column">

    <%= link_to :back, class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1><%= t('pages.more_information.titles.meetings') %></h1>

    <p>Puedes participar presentando tus propuestas o apoyándolas y votándolas cuando se abran esas fases tanto directamente en esta web, como en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" title="(se abre en ventana nueva)" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes en todos los distritos.</p>

    <p>Además ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatorias por distrito</h2>

    <table>
      <thead>
        <th>Distrito</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lugar</th>
      </thead>
      <tbody>
        <tr>
          <td>Arganzuela</td>
          <td class="text-center">18/5/2016<br>1/6/2016</td>
          <td class="text-center">19:00</td>
          <td>Casa del reloj, nuevas dependencias (Paseo Chopera, 6)</td>
        </tr>
        <tr>
          <td>Barajas</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Carabanchel</td>
          <td class="text-center">10/6/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro cultural Fernando Lázaro Carreter (C/ de la Verdad, 29)</td>
        </tr>
        <tr>
          <td>Centro</td>
          <td class="text-center">11/6/2016</td>
          <td class="text-center">11:30</td>
          <td>Plaza de la Cebada</td>
        </tr>
        <tr>
          <td>Chamartín</td>
          <td class="text-center">24/5/2016<br>13/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Junta Municipal Distrito de Chamartín (C/ Príncipe de Vergara, 142)</td>
        </tr>
        <tr>
          <td>Chamberí</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Ciudad Lineal</td>
          <td class="text-center">1/6/2016<br>15/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Centro Cultural Principe de Asturias (C/ Hermanos García Noblejas, 14)</td>
        </tr>
        <tr>
          <td>Fuencarral – El Pardo</td>
          <td class="text-center">31/5/2016</td>
          <td class="text-center">18:30</td>
          <td>Junta Municipal Distrito de Fuencarral – El Pardo (Avda. de Monforte de Lemos, 40)</td>
        </tr>
        <tr>
          <td>Hortaleza</td>
          <td class="text-center">9/6/2016<br>18/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Por determinar</td>
        </tr>
        <tr>
          <td>Latina</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Moncloa - Aravaca</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Moratalaz</td>
          <td class="text-center">27/5/2016<br>3/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Centro de Mayores Nicanor Barroso (C/ Encomienda de Palacios, 190)</td>
        </tr>
        <tr>
          <td>Puente de Vallecas</td>
          <td class="text-center">24/5/2016<br>7/6/2016</td>
          <td class="text-center">19:00<br>19:00</td>
          <td>Centro Sociocultural Alberto Sánchez (C/ Risco de Peloche, 14)</td>
        </tr>
        <tr>
          <td>Retiro</td>
          <td class="text-center">30/5/2016<br>6/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Nave Daóiz y Velarde (Plaza Daóiz y Velarde, s/n)</td>
        </tr>
        <tr>
          <td>Salamanca</td>
          <td class="text-center">26/5/2016<br>14/6/2016</td>
          <td class="text-center">18:00<br>18:00</td>
          <td>Centro Cultural Buenavista (Avda. Los Toreros, 5)</td>
        </tr>
        <tr>
          <td>San Blas - Canillejas</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Tetuán</td>
          <td class="text-center">31/5/2016<br>21/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Junta Municipal distrito de Tetuan (C/ Bravo Murillo, 357)</td>
        </tr>
        <tr>
          <td>Usera</td>
          <td class="text-center">25/5/2016<br>8/6/2016</td>
          <td class="text-center">19:00<br>19:00</td>
          <td>Junta Municipal distrito de Usera (Avda. Rafael Ybarra, 41)</td>
        </tr>
        <tr>
          <td>Vicálvaro</td>
          <td class="text-center">23/5/2016<br>16/6/2016</td>
          <td class="text-center">18:00<br>18:00</td>
          <td>Centro Social Polivalente de Vicálvaro (Avda. Real, 4)</td>
        </tr>
        <tr>
          <td>Villa de Vallecas</td>
          <td class="text-center">25/5/2016<br>8/6/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Biblioteca Gerardo Diego (C/ Monte Aya, 12)</td>
        </tr>
        <tr>
          <td>Villaverde</td>
          <td class="text-center">31/5/2016<br>31/5/2016<br>16/6/2016</td>
          <td class="text-center">18:30<br>18:30<br>18:30</td>
          <td>Junta municipal distrito de Villaverde (C/ del Arroyo Bueno, 53)</td>
        </tr>
      </tbody>
    </table>

    <h2>Documentos</h2>

    <p>Los espacios presenciales de debate y propuesta de cada distrito se autorreglamentarán. A continuación añadimos autorreglamentos realizados en proyectos de presupuestos participativos de diferentes distritos por si sirvieran de inspiración para otros espacios:</p>

    <ul>
      <li>
        <%= link_to "Autorreglamento Arganzuela <small>(PDF | 163Kb)</small>".html_safe,
                  "/docs/autorreglamento_arganzuela.pdf",
                  title: "Autorreglamento Arganzuela (PDF | 163Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Latina <small>(DOCX | 20Kb)</small>".html_safe,
                  "/docs/autorreglamento_latina.docx",
                  title: "Autorreglamento Latina (DOCX | 20Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Tetuán <small>(PDF | 246Kb)</small>".html_safe,
                  "/docs/autorreglamento_tetuan.pdf",
                  title: "Autorreglamento Tetuán (PDF | 246Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Usera <small>(PDF | 42Kb)</small>".html_safe,
                  "/docs/autorreglamento_usera.pdf",
                  title: "Autorreglamento Usera (PDF | 42Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>

    <h2>Difusión</h2>

    <ul>
      <li>
        <%= link_to "Presupuestos participativos guía <small>(PDF | 1,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_guia.pdf",
                  title: "Presupuestos participativos guía (PDF | 1,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(PDF | 211Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.pdf",
                  title: "Presupuestos participativos cartel (PDF | 211Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(JPEG | 86Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.jpg",
                  title: "Presupuestos participativos cartel (JPEG | 86Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos infografía <small>(JPEG | 3,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_infografia.jpg",
                  title: "Presupuestos participativos infografía (JPEG | 3,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Otra forma de difundir y contar los presupuestos participativos <small>(JPEG | 61Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_enrique_flores.jpg",
                  title: "Otra forma de difundir y contar los presupuestos participativos (JPEG | 61Kb) (se abre en ventana nueva)", target: "_blank" %>
        (por <%= link_to "Enrique Flores - 4ojos", "http://www.4ojos.com/blog/", title: "(se abre en ventana nueva)", target: "_blank" %>)
      </li>
    </ul>

    <h3>Cartel de convocatoria de distrito Moratalaz</h3>
    <ul>
      <li>
        <%= link_to "Cartel de convocatoria <small>(AI | 1,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.ai",
                  title: "Cartel de convocatoria (AI | 1,3Mb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Cartel de convocatoria <small>(PDF | 241Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.pdf",
                  title: "Cartel de convocatoria (PDF | 241Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Cartel de convocatoria <small>(JPEG | 113Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_moratalaz.jpg",
                  title: "Cartel de convocatoria (JPEG | 113Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>
    <h3>Cartel de convocatoria de distrito Vicálvaro</h3>
    <ul>
      <li>
        <%= link_to "Cartel de convocatoria <small>(JPEG | 81Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel_vicalvaro.jpg",
                  title: "Cartel de convocatoria (JPEG | 81Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>
  </div>
</div>
