<div class="row">
  <div class="text small-12 column">

    <%= link_to page_path('more_information'), class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1><%= t('pages.more_information.titles.meetings') %></h1>

    <p>Puedes participar presentando tus propuestas o apoyándolas y votándolas cuando se abran esas fases tanto directamente en esta web, como en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes en todos los distritos.</p>

    <p>Además ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatorias por distrito</h2>

    <table>
      <thead>
        <th>Distrito</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lugar</th>
      </thead>
      <tbody>
        <tr>
          <td>Carabanchel</td>
          <td class="text-center">4/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural Fernando Lázaro Carreter (C/ de la Verdad, 29)</td>
        </tr>
        <tr>
          <td>Centro</td>
          <td class="text-center">7/3/20116</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural Puerta de Toledo (C/ Gran Vía de San Francisco, 2)</td>
        </tr>
        <tr>
          <td>Chamartín</td>
          <td class="text-center">16/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Junta municipal del distrito</td>
        </tr>
        <tr>
          <td>Chamberí</td>
          <td class="text-center">1/3/2016</td>
          <td class="text-center">18:00</td>
          <td>Centro cultural Galileo (C/ fernando el Católico, 35)</td>
        </tr>
        <tr>
          <td>Ciudad Lineal</td>
          <td class="text-center">18/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Por determinar</td>
        </tr>
        <tr>
          <td>Fuencarral – El Pardo</td>
          <td class="text-center">
            11/3/2016<br>
            15/3/2016<br>
            22/3/2016<br>
            29/3/2016
          </td>
          <td class="text-center">18:30</td>
          <td>Junta municipal del Distrito de Fuencarral – El Pardo, Avda. de Monforte de Lemos, 40</td>
        </tr>
        <tr>
          <td>Latina</td>
          <td class="text-center">5/3/2016</td>
          <td class="text-center">10:30</td>
          <td>Centro Cultural Paco de Lucía (Avda. General Fanjul, 2A)</td>
        </tr>
        <tr>
          <td>Moncloa-Aravaca</td>
          <td class="text-center">14/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro Cultural Moncloa, Plaza Moncloa 1</td>
        </tr>
        <tr>
          <td>Moratalaz</td>
          <td class="text-center">11/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Centro de Mayores Nicanor Barroso. C/ Encomienda de Palacios, 190</td>
        </tr>
        <tr>
          <td>Salamanca</td>
          <td class="text-center">9/3/2015</td>
          <td class="text-center">19:30</td>
          <td>Centro Cultural Buenavista (Avda. Los Toreros, 5)</td>
        </tr>
        <tr>
          <td>Villa de Vallecas</td>
          <td class="text-center">9/3/2016<br>29/3/2016</td>
          <td class="text-center">18:00</td>
          <td>Centro Juvenil El sitio de mi recreo, C/ Sierra del Torcal, 12</td>
        </tr>
      </tbody>
    </table>

    <h2>Documentos</h2>

    <p>Los espacios presenciales de debate y propuesta de cada distrito se autorreglamentarán. A continuación añadimos autorreglamentos realizados en proyectos de presupuestos participativos de diferentes distritos por si sirvieran de inspiración para otros espacios:</p>

    <ul>
      <li>
        <%= link_to "Autorreglamento Arganzuela <small>(PDF | 163Kb)</small>".html_safe,
                  "/docs/autorreglamento_arganzuela.pdf",
                  title: "Autorreglamento Arganzuela (PDF | 163Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Latina <small>(DOCX | 20Kb)</small>".html_safe,
                  "/docs/autorreglamento_latina.docx",
                  title: "Autorreglamento Latina (DOCX | 20Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Tetuán <small>(PDF | 246Kb)</small>".html_safe,
                  "/docs/autorreglamento_tetuan.pdf",
                  title: "Autorreglamento Tetuán (PDF | 246Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Usera <small>(PDF | 42Kb)</small>".html_safe,
                  "/docs/autorreglamento_usera.pdf",
                  title: "Autorreglamento Usera (PDF | 42Kb)", target: "_blank" %>
      </li>
    </ul>

    <h2>Difusión</h2>

    <ul>
      <li>
        <%= link_to "Presupuestos participativos guía <small>(PDF | 1,3Mb)</small>".html_safe,
                  "/docs/presupuestos_participativos_guia.pdf",
                  title: "Presupuestos participativos guía (PDF | 1,3Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(PDF | 211Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.pdf",
                  title: "Presupuestos participativos cartel (PDF | 211Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Presupuestos participativos cartel <small>(JPEG | 86Kb)</small>".html_safe,
                  "/docs/presupuestos_participativos_cartel.jpg",
                  title: "Presupuestos participativos cartel (JPEG | 86Kb)", target: "_blank" %>
      </li>
    </ul>

  </div>
</div>
