<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <h1><%= t(".title") %></h1>
    <h2><%= t('.subtitle') %></h2>

    <ol>
      <% t('.info_items').each do |item| %>
        <% if item.key? :text %>
          <li><%= item[:text] %></li>
        <% else %>
          <ul>
            <% item[:subitems].each do |subitem| %>
              <li>
                <strong> <%= subitem[:field] %></strong>
                <%= subitem[:description] %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ol>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

