<div class="row-full jumbo-survey">
  <div class="row">
    <div class="small-12 medium-7 column">
      <%= link_to "/processes", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>

      <h1><%= t("pages.processes.process_2.title") %></h1>
      <%= markdown t("pages.processes.process_2.text") %>

      <p><strong>Lo que se decida mayoritariamente a continuación será asumido como vinculante para construir una nueva plaza, en caso de que así se decida.</strong></p>

      <%= link_to t("pages.processes.process_2.button"), encuesta_plaza_espana_path, class: "button radius" %>

    </div>
    <div class="show-for-medium-up medium-5 column">
      <br>
      <%= image_tag "processes_plaza_espana.png" %>
    </div>
  </div>
</div>

<div class="process row margin">
  <div class="small-12 column">
    <h3>A continuación tienes información detallada para tomar la mejor decisión<h3>
    <h4>Preguntas frecuentes</h4>
    <ul>
      <li>
        <%= link_to "Dudas en el proceso participativo sobre la posible intervención en Plaza de España", "/processes_plaza_espana_faq" %>
      </li>
    </ul>

    <h4>Estudios</h4>
    <ul>
      <li>
        <%= link_to "Memoria síntesis <small>(PDF | 3,6Mb)</small>".html_safe,
                    "/docs/00_memoria_sintesis.pdf",
                    title: "Memoria síntesis (PDF | 3,6Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio de la evolución histórica <small>(PDF | 7,2Mb)</small>".html_safe,
                    "/docs/01_estudio_de_la_evolucion_historica.pdf",
                    title: "Estudio de la evolución histórica (PDF | 7,2Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio de otras miradas <small>(PDF | 1,2Mb)</small>".html_safe,
                    "/docs/02_estudio_de_otras_miradas.pdf",
                    title: "Estudio de otras miradas (PDF | 1,2Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio perceptivo del uso y utilización peatonal <small>(PDF | 2,6Mb)</small>".html_safe,
                    "/docs/03_estudio_perceptivo_del_uso_y_utilizacion_peatonal.pdf",
                    title: "Estudio perceptivo del uso y utilización peatonal (PDF | 2,6Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio ambiental y estado de la urbanización <small>(PDF | 2,6Mb)</small>".html_safe,
                    "/docs/04_estudio_ambiental_y_estado_de_la_urbanizacion.pdf",
                    title: "Estudio ambiental y estado de la urbanización (PDF | 2,6Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio sociodemográfico y dotacional <small>(PDF | 6,3Mb)</small>".html_safe,
                    "/docs/05_estudio_sociodemografico_y_dotacional.pdf",
                    title: "Estudio sociodemográfico y dotacional (PDF | 6,3Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio de densidad, uso y protección de la edificación <small>(PDF | 3,1Mb)</small>".html_safe,
                    "/docs/06_estudio_de_densidad_uso_y_proteccion_de_la_edificacion.pdf",
                    title: "Estudio de densidad, uso y protección de la edificación (PDF | 3,1Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio de las autorizaciones de uso <small>(PDF | 289Kb)</small>".html_safe,
                    "/docs/07_estudio_de_las_autorizaciones_de_uso.pdf",
                    title: "Estudio de las autorizaciones de uso (PDF | 289Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Estudio de la movilidad <small>(PDF | 8,6Mb)</small>".html_safe,
                    "/docs/08_estudio_de_la_movilidad.pdf",
                    title: "Estudio de la movilidad (PDF | 8,6Mb)", target: "_blank" %>
      </li>
    </ul>

    <h4>Documentos del grupo de trabajo</h4>
    <ul>
      <li>
        <%= link_to "Informe grupo de trabajo Plaza de España <small>(PDF | 1,5Mb)</small>".html_safe,
                    "/docs/informe_grupo_de_trabajo_plaza_de_espana.pdf",
                    title: "Informe grupo de trabajo Plaza de España (PDF | 1,5Mb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Acta reunión 21/01/2016 <small>(DOC | 169Kb)</small>".html_safe,
                    "/docs/acta_reunion_pza_espana_11_enero_2016.pdf",
                    title: "Acta reunión 21/01/2016 (DOC | 169Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Acta reunión 11/01/2016 <small>(PDF | 68Kb)</small>".html_safe,
                    "/docs/acta_reunion_pza_espana_11_enero_2016.pdf",
                    title: "Acta reunión 11/01/2016 (PDF | 68Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Acta reunión 14/12/2015 <small>(PDF | 54Kb)</small>".html_safe,
                    "/docs/acta_reunion_pza_espana_14_diciembre_2015.pdf",
                    title: "Acta reunión 14/12/2015 (PDF | 54Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Acta reunión 3/12/2015 <small>(PDF | 55Kb)</small>".html_safe,
                    "/docs/acta_reunion_pza_espana_3_diciembre_2015.pdf",
                    title: "Acta reunión 3/12/2015 (PDF | 55Kb)", target: "_blank" %>
      </li>
    </ul>

  </div>
</div>
