<div class="row">

  <div class="small-12 medium-6 column margin-top">
    <%= image_tag "processes_plaza_espana.png" %>
    <div class="panel">
      <h2><%= t("pages.processes.index.process_2_title") %></h2>
      <p><%= t("pages.processes.index.process_2_description") %></p>
      <%= link_to t("pages.processes.index.process_2_button"), "/processes_plaza_espana", class: "button radius" %>
    </div>
  </div>

  <div class="small-12 medium-6 column margin-top">
    <%= image_tag "processes_ordinance.png" %>
    <div class="panel">
      <h2><%= t("pages.processes.index.process_1_title") %></h2>
      <p><%= t("pages.processes.index.process_1_description") %></p>
      <%= link_to t("pages.processes.index.process_1_button"), "/processes_ordinance", class: "button radius" %>
    </div>
  </div>

</div>
