<% provide :title, "Plenario Abierto" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_open_plenary"),
          social_title: t("pages.processes.index.process_3_title") ,
          social_description: t("pages.processes.index.process_3_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-7 column">

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_3_title") %></h1>
      <p><%= t("pages.processes.index.process_3_description") %></p>
      <p>El próximo <strong>24 de abril</strong> será día de <strong>puertas abiertas en el Salón de Plenos de Madrid</strong> y los portavoces de los grupos parlamentarios dedicarán su comparecencia a responder a las propuestas y preguntas que le formule la ciudadanía.</p>

      <p>Puedes mandarnos <strong>tu pregunta o propuesta</strong> para los grupos parlamentarios <strong>hasta el jueves 21</strong> y apoyar las que más te gusten. Las más votadas serán respondidas el próximo domingo en el Pleno e invitaremos a sus autores a asistir para formularlas directamente.</p>

      <div class="row">
        <div class="small-12 medium-5 column">
          <%= link_to t("pages.processes.process_3.send_proposal"),
                      new_proposal_path(tag: "plenoabierto"),
                      class: "button expanded" %>
        </div>

        <div class="small-12 medium-5 column end">
        <% open_plenary_debate = Debate.where(comment_kind: 'question').first %>
        <%= link_to t("pages.processes.process_3.send_question"),
                    debate_path(open_plenary_debate, anchor: 'comments'),
                    class: "button expanded" %>
        </div>
      </div>
    </div>

    <div class="show-for-medium medium-5 column relative">
      <%= image_tag "pleno_abierto_cartel.gif" %>
    </div>
  </div>
</div>
<div class="row process margin">
  <div class="small-12 column">
    <h2>Apoyar propuestas y preguntas</h2>
    <ul>
      <li>
        <%= link_to t("pages.processes.process_3.view_proposals"),
                    proposals_path(search: "plenoabierto") %>
      </li>
      <li>
        <%= link_to "Ver todas las preguntas enviadas", "#" %>
      </li>
    </ul>
    <div class="show-for-small-only">
      <%= image_tag "pleno_abierto_cartel.jpg" %>
    </div>
  </div>
</div>