<div class="expanded processes show no-margin-top">
  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom"><%= t("pages.processes.index.process_6_title") %></h1>

      <div id="service-letters" class="small-12 medium-7 margin-bottom">
        <p><%= t("pages.processes.index.process_6_description") %></p>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom services-letters" data-equalizer>

  <div class="small-12 medium-6 column margin-top">
    <div class="panel" data-equalizer-watch>
      <h3>Carta de Servicios del Servicio de Ayuda a Domicilio</h3>
      <p>Esta Carta de Servicios hace referencia al servicio de Ayuda a Domicilio que tiene como objetivo proporcionar a las personas mayores y a las personas con discapacidad la posibilidad de permanecer en su medio habitual de convivencia, contribuyendo así a la mejora de su calidad de vida.</p>
      <%= link_to "Comentar carta de servicios", page_path("carta-servicios-ayuda-a-domicilio"), class: "button hollow" %>
    </div>
  </div>

  <div class="small-12 medium-6 column margin-top">
    <div class="panel" data-equalizer-watch>
      <h3>Carta de Servicios de los Centros de Día</h3>
      <p>Esta Carta de Servicios hace referencia a los Centros de Día que son servicios dirigidos a proporcionar una atención integral, en régimen diurno, a las personas mayores de 65 años con deterioro físico y relacional, y sin límite de edad, a las personas con enfermedad de Alzheimer u otras demencias.</p>
      <%= link_to "Comentar carta de servicios", page_path("carta-servicios-centros-de-dia"), class: "button hollow" %>
    </div>
  </div>

  <div class="small-12 medium-6 column margin-top">
    <div class="panel" data-equalizer-watch>
      <h3>Carta de Servicios de Centros Municipales de Mayores</h3>
      <p>Esta Carta de Servicios hace referencia a los Centros Municipales de Mayores. Diseñados como equipamientos de servicios sociales no residenciales, estos centros tienen como objetivo promover la convivencia de las personas mayores, mejorar su calidad de vida y propiciar su participación activa.</p>
      <%= link_to "Comentar carta de servicios", page_path("carta-servicios-centros-de-mayores"), class: "button hollow" %>
    </div>
  </div>

  <div class="small-12 medium-6 column margin-top">
    <div class="panel" data-equalizer-watch>
      <h3>Carta de Servicios del Servicio de Teleasistencia Domiciliaria</h3>
      <p>Esta Carta de Servicios hace referencia al Servicio de Teleasistencia Domiciliaria que permite a las personas mayores (65 y más años) ponerse en comunicación con un Centro de Atención de llamadas.</p>
      <%= link_to "Comentar carta de servicios", page_path("carta-servicios-teleasistencia"), class: "button hollow" %>
    </div>
  </div>

</div>
