<div class="row-full jumbo">
  <div class="row">
    <div class="small-12 medium-7 column">
      <%= link_to "/processes", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>

      <h1><%= t("pages.processes.process_2.title") %></h1>
    </div>
    <div class="show-for-medium-up medium-5 column">
      <div class="panel absolute">
        <%= image_tag "processes_plaza_espana.jpg" %>
      </div>
    </div>
  </div>
</div>

<div class="process row margin-bottom">
  <div class="small-12 medium-6 column">
    <%= markdown t("pages.processes.process_2.text") %>
    <%= link_to t("pages.processes.process_2.button"), "/processes_plaza_espana_survey", class: "button radius" %>
  </div>
</div>
