<% if @proposal_successfull_exists %>
  <div class="expanded jumbo-proposal-ballots-small no-margin-top">
    <div class="row">
      <div class="small-12 column">
        <div class="banner-text inline-block">
          <h2 class="inline-block"><%= t("proposal_ballots.featured_title") %></h2>&nbsp;
          <p class="inline-block"><%= t("proposal_ballots.info") %></p>
          <%= link_to t("proposal_ballots.button"), proposal_ballots_index_path %>
        </div>
        <%= image_tag ("ballot_tiny.gif"), class: "float-right" %>
      </div>
    </div>
  </div>
<% end %>

<div class="expanded processes no-margin-top">
  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        <%= t("pages.processes.index.title") %>
      </h1>

      <div id="spain-square" class="small-12 medium-7 margin-bottom">
        <span class="label"><%= t("pages.processes.index.featured") %></span>
        <h2><%= t("pages.processes.index.process_2_title") %></h2>
        <!-- IF PLAZA ESPAÑA ACTIVA -->
          <p><%= t("pages.processes.index.process_2_description") %></p>
          <div class="small-12 medium-6">
            <%= link_to t("pages.processes.index.process_2_button_vote"),
                        plaza_path, class: "button expanded" %>
          </div>
        <!-- ELSE -->
          <p><%= t("pages.processes.index.process_2_description_close") %></p>
          <div class="small-12 medium-6">
            <%= link_to t("pages.processes.index.process_2_button"),
                        page_path("processes_plaza_espana"), class: "button expanded" %>
          </div>
        <!-- END -->
      </div>
    </div>
  </div>
</div>

<div class="row margin" data-equalizer>
  <div id="town-planning" class="small-12 medium-6 large-4 column">
    <div class="panel category subcategory" data-equalizer-watch>
      <h3><%= t("pages.processes.index.process_7_title") %></h3>
      <p><%= t("pages.processes.index.process_7_description") %></p>
      <%= link_to t("pages.processes.index.process_7_button"), town_planning_path, class: "button hollow" %>
    </div>
  </div>

  <div id="human-rights" class="small-12 medium-6 large-4 column">
    <div class="panel category subcategory" data-equalizer-watch>
      <h3><%= t("pages.processes.index.process_5_title") %></h3>
      <p><%= t("pages.processes.index.process_5_description") %></p>
      <%= link_to t("pages.processes.index.process_5_button"), "derechos-humanos", class: "button hollow" %>
    </div>
  </div>

  <div id="service-letters" class="small-12 medium-6 large-4 column">
    <div class="panel category subcategory" data-equalizer-watch>
      <h3><%= t("pages.processes.index.process_6_title") %></h3>
      <p><%= t("pages.processes.index.process_6_description") %></p>
      <%= link_to t("pages.processes.index.process_6_button"), page_path("processes_services_letters"), class: "button hollow" %>
    </div>
  </div>

  <div id="open-plenary" class="small-12 medium-6 large-4 column">
    <div class="panel category subcategory" data-equalizer-watch>
      <h3><%= t("pages.processes.index.process_3_title") %></h3>
      <p><%= t("pages.processes.index.process_3_description") %></p>
      <%= link_to t("pages.processes.index.process_3_button"), page_path("processes_open_plenary"), class: "button hollow" %>
    </div>
  </div>

  <div id="transparency-law" class="small-12 medium-6 large-4 column end">
    <div class="panel category subcategory" data-equalizer-watch>
      <h3><%= t("pages.processes.index.process_1_title") %></h3>
      <p><%= t("pages.processes.index.process_1_description") %></p>
      <%= link_to t("pages.processes.index.process_1_button"), page_path("processes_ordinance"), class: "button hollow" %>
    </div>
  </div>
</div>
