<div class="row verify">
  <div class="small-12 medium-8 small-centered column">
    <div class="text-center">
      <h1>
        <i class="icon-check"></i>
        <%= t("pages.verify.title") %>
      </h1>

      <p><%= t("pages.verify.info") %></p>
    </div>

    <div class="medium-6 small-centered column">
      <form>
        <label><%= t("pages.verify.email") %></label>
        <input type="text" placeholder="<%= t("pages.verify.email") %>">

        <label><%= t("pages.verify.password") %></label>
        <input type="password" placeholder="<%= t("pages.verify.password") %>">

        <label><%= t("pages.verify.code") %></label>
        <input type="text" placeholder="<%= t("pages.verify.code") %>">

        <input type="submit" value="<%= t("pages.verify.submit") %>" class="button radius success expand">
      </form>
    </div>
  </div>
</div>
