<div class="nested-fields">
  <div class="panel radius">

    <div class="row">
      <div class="small-8 column">

      </div>
      <div class="small-4 column text-right">
        <%= link_to_remove_association f do %>
          &times;
        <% end %>
      </div>
    </div>

    <div class="row">


      <div class="small-8 column">
        <%= f.text_field :title, label: false, size: 80, maxlength: 80, placeholder: t('.about_previous_meeting') %>
      </div>

      <div class="small-4 column text-center">
        <% if f.object.attachment? %>
          <%= f.hidden_field :attachment_cache %>
          <%= link_to 'Ver adjunto de borrador de acta propuesto', f.object.attachment.url, target: '_blank' %>
        <% else %>
          <%= f.file_field :attachment, accept: ".pdf", label: false  %>
        <% end %>
      </div>



      <br>
      <%= f.hidden_field :is_previous_meeting_acceptance, value: 1, default: 1,  label: false, size: 80, maxlength: 80 %>
    </div>
  </div>
</div>

