<div class="not-print">
  <a id="print_act_link" href="javascript:window.print();" class="button warning not-p">
     Imprimir borrador
  </a>
</div>
<%= image_tag "banners/bannerpdf.jpg" %>
<h1>Documento de trabajo:<strong><%= @meeting.title %></strong></h1>
<h4>Reunión planificada: <%= I18n.l @meeting.scheduled_at, format: :short %> <%= t('.at', about_venue: @meeting.about_venue)  %></h4>
<br>
<h2>Descripción de la reunión</h2>
<p><%= safe_html_with_links(@meeting.description) %></p>
<hr>
<h2>Índice</h2>
<blockquote>
  <%= render 'printable_index' %>
</blockquote>
<hr>

<h2>Puntos del orden del día</h2>

<% @meeting.proposals.order('position').to_approve.each do |proposal, index| %>
  <%= render 'proposal_inline_table', proposal: proposal %>
<% end %>
<% @meeting.proposals.order('position').accepted.each do |proposal, index| %>
  <%= render 'proposal_inline_table', proposal: proposal %>
<% end %>


<% unless @meeting.attendants_text.blank? %>
  <hr>
  <h2>Asistentes</h2>
  <p>
    <%= safe_html_with_links(@meeting.attendants_text.html_safe) %>
  </p>
<% end %>

<div class="text-right">
  <small class="discreet-color"><%= t('.act_draft') %></small>
</div>

