<ul id="admin_menu" data-accordion-menu data-multi-open="true">
  <% if feature?(:proposals) %>
    <li>
      <%= link_to t("admin.menu.proposals"), admin_proposals_path, class: "proposals-link" %>
    </li>
  <% end %>

  <% if feature?(:debates) %>
    <li class="<%= "is-active" if controller_name == "debates" %>">
      <%= link_to t("admin.menu.debates"), admin_debates_path, class: "debates-link" %>
    </li>
  <% end %>

  <li class="<%= "is-active" if controller_name == "comments" %>">
    <%= link_to t("admin.menu.comments"), admin_comments_path, class: "comments-link" %>
  </li>

  <% if feature?(:polls) %>
    <li class="<%= "is-active" if polls? %>">
      <%= link_to t("admin.menu.polls"), admin_polls_path, class: "polls-link" %>
    </li>
  <% end %>

  <% if feature?(:legislation) %>
    <li class="<%= "is-active" if controller.class.parent == Admin::Legislation %>">
      <%= link_to t("admin.menu.legislation"), admin_legislation_processes_path, class: "legislation-link" %>
    </li>
  <% end %>

  <% if feature?(:budgets) %>
    <li class="<%= "is-active" if budgets? %>">
      <%= link_to t("admin.menu.budgets"), admin_budgets_path, class: "budgets-link" %>
    </li>
  <% end %>

  <li>
    <a href="#" class="booths-link"><%= t("admin.menu.title_booths") %></a>
    <%= link_list(
      [
        t("admin.menu.poll_officers"),
        admin_officers_path,
        %w[officers officer_assignments].include?(controller_name)
      ],
      [
        t("admin.menu.poll_booths"),
        admin_booths_path,
        controller_name == "booths" && action_name != "available"
      ],
      [
        t("admin.menu.poll_booth_assignments"),
        booth_assignments_admin_polls_path,
        controller_name == "polls" && action_name == "booth_assignments" || controller_name == "booth_assignments" && action_name == "manage"
      ],
      [
        t("admin.menu.poll_shifts"),
        available_admin_booths_path,
        %w[shifts booths].include?(controller_name) && %w[available new].include?(action_name)
      ],
      id: "booths_menu", class: ("is-active" if booths?)
    ) %>
  </li>

  <% if feature?(:signature_sheets) %>
    <li class="<%= "is-active" if controller_name == "signature_sheets" %>">
      <%= link_to t("admin.menu.signature_sheets"), admin_signature_sheets_path, class: "signature-sheets-link" %>
    </li>
  <% end %>

  <li>
    <a href="#" class="messages-link"><%= t("admin.menu.messaging_users") %></a>
    <%= link_list(
      [
        t("admin.menu.newsletters"),
        admin_newsletters_path,
        controller_name == "newsletters"
      ],
      [
        t("admin.menu.admin_notifications"),
        admin_admin_notifications_path,
        controller_name == "admin_notifications"
      ],
      [
        t("admin.menu.system_emails"),
        admin_system_emails_path,
        controller_name == "system_emails"
      ],
      [
        t("admin.menu.emails_download"),
        admin_emails_download_index_path,
        controller_name == "emails_download"
      ],
      id: "messaging_users_menu", class: ("is-active" if messages_menu_active?)
    ) %>
  </li>

  <li>
    <a href="#" class="site-customization-link"><%= t("admin.menu.title_site_customization") %></a>
    <%= link_list(
      [
        t("admin.menu.site_customization.homepage"),
        admin_homepage_path,
        homepage?
      ],
      [
        t("admin.menu.site_customization.pages"),
        admin_site_customization_pages_path,
        pages? || controller_name == "pages"
      ],
      [
        t("admin.menu.banner"),
        admin_banners_path,
        controller_name == "banners"
      ],
      [
        t("admin.menu.site_customization.information_texts"),
        admin_site_customization_information_texts_path,
        controller_name == "information_texts"
      ],
      [
        t("admin.menu.site_customization.documents"),
        admin_site_customization_documents_path,
        controller_name == "documents"
      ],
      class: ("is-active" if customization? && controller.class.parent != Admin::Poll::Questions::Answers)
    ) %>
  </li>

  <li>
    <a href="#" class="moderated-content-link"><%= t("admin.menu.title_moderated_content") %></a>
    <%= link_list(
      (
        [
          t("admin.menu.hidden_proposals"),
          admin_hidden_proposals_path,
          controller_name == "hidden_proposals"
        ] if feature?(:proposals)
      ),
      (
        [
          t("admin.menu.hidden_debates"),
          admin_hidden_debates_path,
          controller_name == "hidden_debates"
        ] if feature?(:debates)
      ),
      (
        [
          t("admin.menu.hidden_budget_investments"),
          admin_hidden_budget_investments_path,
          controller_name == "hidden_budget_investments"
        ] if feature?(:budgets)
      ),
      [
        t("admin.menu.hidden_comments"),
        admin_hidden_comments_path,
        controller_name == "hidden_comments"
      ],
      [
        t("admin.menu.hidden_proposal_notifications"),
        admin_hidden_proposal_notifications_path,
        controller_name == "hidden_proposal_notifications"
      ],
      [
        t("admin.menu.hidden_users"),
        admin_hidden_users_path,
        controller_name == "hidden_users"
      ],
      [
        t("admin.menu.activity"),
        admin_activity_path,
        controller_name == "activity"
      ],
      class: ("is-active" if moderated_content?)
    ) %>
  </li>

  <li>
    <a href="#" class="profiles-link"><%= t("admin.menu.title_profiles") %></a>
    <%= link_list(
      [
        t("admin.menu.administrators"),
        admin_administrators_path,
        controller_name == "administrators"
      ],
      [
        t("admin.menu.organizations"),
        admin_organizations_path,
        controller_name == "organizations"
      ],
      [
        t("admin.menu.officials"),
        admin_officials_path,
        controller_name == "officials"
      ],
      [
        t("admin.menu.moderators"),
        admin_moderators_path,
        controller_name == "moderators"
      ],
      [
        t("admin.menu.valuators"),
        admin_valuators_path,
        controller_name == "valuators"
      ],
      [
        t("admin.menu.managers"),
        admin_managers_path,
        controller_name == "managers"
      ],
      [
        t("admin.menu.users"),
        admin_users_path,
        controller_name == "users"
      ],
      class: ("is-active" if profiles?)
    ) %>
  </li>

  <li class="<%= "is-active" if controller_name == "stats" %>">
    <%= link_to t("admin.menu.stats"), admin_stats_path, class: "stats-link" %>
  </li>

  <li>
    <a href="#" class="settings-link"><%= t("admin.menu.title_settings") %></a>
    <%= link_list(
      [
        t("admin.menu.settings"),
        admin_settings_path,
        controller_name == "settings"
      ],
      [
        t("admin.menu.proposals_topics"),
        admin_tags_path,
        controller_name == "tags"
      ],
      [
        t("admin.menu.geozones"),
        admin_geozones_path,
        controller_name == "geozones"
      ],
      [
        t("admin.menu.site_customization.images"),
        admin_site_customization_images_path,
        controller_name == "images" && controller.class.parent != Admin::Poll::Questions::Answers
      ],
      [
        t("admin.menu.site_customization.content_blocks"),
        admin_site_customization_content_blocks_path,
        controller_name == "content_blocks"
      ],
      [
        t("admin.menu.local_census_records"),
        admin_local_census_records_path,
        local_census_records?
      ],
      class: ("is-active" if settings?)
    ) %>
  </li>
  <li>
    <a href="#" class="dashboard-link"><%= t("admin.menu.dashboard") %></a>
    <%= link_list(
      [
        t("admin.menu.dashboard_actions"),
        admin_dashboard_actions_path,
        controller_name == "actions"
      ],
      [
        t("admin.menu.administrator_tasks"),
        admin_dashboard_administrator_tasks_path,
        controller_name == "administrator_tasks"
      ],
      class: ("is-active" if dashboard?)
    ) %>
  </li>
</ul>
