<div id="<%= document_nested_field_wrapper_id(index) %>" class="document direct-upload">
  <%= hidden_field_tag :id,
                       document.id,
                       name: document_nested_field_name(document, index, :id),
                       id: document_nested_field_id(document, index, :id) if document.persisted? %>
  <%= hidden_field_tag :user_id,
                       current_user.id,
                       name: document_nested_field_name(document, index, :user_id),
                       id: document_nested_field_id(document, index, :user_id) %>
  <%= hidden_field_tag :cached_attachment,
                       document.cached_attachment,
                       name: document_nested_field_name(document, index, :cached_attachment),
                       id: document_nested_field_id(document, index, :cached_attachment) %>

  <div class="small-12 column">
    <%= label_tag :title, t("activerecord.attributes.document.title") %>

    <%= text_field_tag :title,
                       document.errors.has_key?(:attachment) ? "" : document.title,
                       name: document_nested_field_name(document, index, :title),
                       id: document_nested_field_id(document, index, :title),
                       class: "document-title" %>
    <% if document.errors[:title].any? %>
      <small class="error"><%= document.errors[:title].join(", ") %></small>
    <% end %>
  </div>

  <div class="small-12 column attachment-actions">
    <div class="small-6 column action-add attachment-errors">
      <%= render_attachment(document, index) %>
    </div>
    <div class="small-6 column action-remove text-right">
      <%= render_destroy_document_link(document, index) %>
    </div>
  </div>

  <div class="small-12 column">
    <p class="file-name">
      <%= document_attachment_file_name(document) %>
    </p>
  </div>

  <div class="small-12 column">
    <div class="progress-bar-placeholder"><div class="loading-bar"></div></div>
  </div>

  <hr>
</div>
