<div id="plain_document_fields" class="document">

  <div class="small-12 column">
    <%= label_tag :document_title, t("activerecord.attributes.document.title") %>
    <%= text_field_tag :document_title,
                       document.errors.has_key?(:attachment) ? "" : document.title, 
                       name: "document[title]",
                       class: "document-title" %>
    <% if document.errors.has_key?(:title) %>
      <small class="error"><%= document.errors[:title].join(", ") %></small>
    <% end %>
  </div>

  <div class="small-12 column">
    <%= hidden_field_tag :cached_attachment, document.cached_attachment, name: "document[cached_attachment]" %>
    <%= file_field_tag :attachment,
                     accept: accepted_content_types_extensions(document.documentable.class),
                     label: false,
                     class: 'js-document-attachment',
                     data: {
                       url: upload_documents_url(documentable_type: document.documentable_type, documentable_id: document.documentable_id),
                       cached_attachment_input_field: "document_cached_attachment",
                       multiple: false,
                       nested_document: false
                     },
                     id: "document_attachment",
                     name: "document[attachment]" %>

    <% if document.cached_attachment.blank? %>
      <%= label_tag :document_attachment, t("documents.form.attachment_label"), class: 'button hollow' %>
    <% else %>
      <%= link_to t('documents.form.delete_button'),
                  destroy_upload_documents_path(path: document.cached_attachment,
                                                nested_document: false,
                                                documentable_type: document.documentable_type,
                                                documentable_id: document.documentable_id),
                  method: :delete,
                  remote: true,
                  class: "delete float-right" %>
    <% end %>

    <% if document.errors.has_key?(:attachment) %>
      <div class="small-12 column source-option-file">
        <div class="attachment-errors">
          <small class="error"><%= document_errors_on_attachment(document) %></small>
        </div>
      </div>
    <% end %>
    <p class="file-name"><%= document_attachment_file_name(document) %></p>
    <div class="progress-bar-placeholder"><div class="loading-bar"></div></div>
  </div>

</div>
