<%= render "admin/shared/globalize_locales", resource: @answer %>

<%= form_for(@answer, url: form_url) do |f| %>

  <%= render 'shared/errors', resource: @answer %>

  <% @answer.globalize_locales.each do |locale| %>
    <%= hidden_field_tag "delete_translations[#{locale}]", 0 %>
	<% end %>

  <%= f.hidden_field :question_id, value: @answer.question_id || @question.id %>

  <%= f.label :title, t("admin.shared.title") %>
  <% @answer.globalize_locales.each do |locale| %>
    <% globalize(locale) do %>
      <%= f.text_field "title_#{locale}",
                       class: "js-globalize-attribute",
                       data: { locale: locale },
                       style: display_translation?(locale),
                       label: false %>
    <% end %>
  <% end %>

  <div class="ckeditor">
    <%= f.label :description, t("admin.shared.description") %>
    <% @answer.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= content_tag :span, class: "js-globalize-attribute",
                               data: { locale: locale },
                               style: display_translation?(locale) do %>

          <%= f.cktext_area "description_#{locale}",
                            maxlength: Poll::Question.description_max_length,
                            ckeditor: { language: locale },
                            class: "js-globalize-attribute",
                            data: { locale: locale },
                            label: false %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="small-12 medium-6 large-4 margin-top">
    <%= f.submit(class: "button expanded", value: t("shared.save")) %>
  </div>

<% end %>
