<%= form_for(@answer, url: form_url) do |f| %>

  <%= render 'shared/errors', resource: @answer %>

  <%= f.hidden_field :question_id, value: @question.id %>

  <%= f.label :title, t('admin.questions.new.form.title') %>
  <%= f.text_field :title, label: false %>

  <div class="ckeditor">
    <%= f.label :description, t('admin.questions.new.form.description') %>
    <%= f.cktext_area :description,
                      maxlength: Poll::Question.description_max_length,
                      ckeditor: { language: I18n.locale },
                      label: false %>
  </div>

  <div class="small-12 medium-6 large-4">
    <%= f.submit(class: "button expanded", value: t("shared.save")) %>
  </div>

<% end %>
