<div class="verification account row">
  <div class="small-12 column" id="codigos-section">

    <h2><%= t("consultation.codes.form.title") %></h2>

    <%= form_for @residence, url: check_consultation_codes_path(@residence), as: "residence", id: "js-form-codigos" do |f| %>

      <div class="row">
        <div class="small-12 medium-12">
          <div class="small-12 medium-3 column">
          <%= f.label t("verification.residence.new.document_type_label") %>
          <%= f.select :document_type, document_types, prompt: "", label: false, selected: params[:document_type] %>
          </div>
          <div class="small-12 medium-5 column end">

          <div class="inline-block">
            <%= f.label t("verification.residence.new.document_number") %>
          </div>

          <div class="inline-block" data-toggle="info-document-number">
            <span class="icon-help"></span>
            <span class="sr-only"><%= t("verification.residence.new.document_number_help_title") %></span>
          </div>

          <div class="dropdown-pane" id="info-document-number" data-dropdown
               data-hover="true" data-hover-pane="true">
            <%= t("verification.residence.new.document_number_help_text_html") %>
          </div>

          <%= f.text_field :document_number, label: false, value: params[:document_number] %>
          </div>
        </div>
      </div>

      <div class="date-of-birth small-12 medium-6 clear">
      <%= f.label t("verification.residence.new.date_of_birth") %>
      <%= f.date_select :date_of_birth,
                        prompt: true,
                        start_year: 1900, end_year: 16.years.ago.year,
                        label: false, selected: (Date.new(params['date_of_birth(1i)'].to_i, params['date_of_birth(2i)'].to_i, params['date_of_birth(3i)'].to_i) rescue nil) %>
      </div>

      <div class="small-12 medium-5 clear">
        <%= f.label t("verification.residence.new.postal_code") %>
        <div class="medium-6">
          <%= f.text_field :postal_code, label: false, value: params[:postal_code] %>
        </div>
      </div>

      <div class="small-12">
        <%= f.label :terms_of_service do %>
          <%= f.check_box :terms_of_service, title: t('verification.residence.new.accept_terms_text_title'), label: false, checked: ( (params[:terms_of_service] == "1") ? true : false ) %>
          <span class="checkbox">
            <%= t("consultation.codes.form.accept_terms_text",
                terms_url: link_to(t("verification.residence.new.terms"), page_path("census_terms"),
                title: t('shared.target_blank_html'),
                target: "_blank"),
                terms: link_to(t("devise_views.users.registrations.new.terms_link"), page_path("conditions"),
                title: t('shared.target_blank_html'),
                target: "_blank"),
                privacy: link_to(t("verification.residence.new.privacy"), page_path("privacy"),
                title: t('shared.target_blank_html'),
                target: "_blank")).html_safe
            %>
          </span>
        <% end %>
      </div>
      
      <div class="small-12 medium-3 clear">
        <%= f.submit "Enviar", class: "button success expanded" %>
      </div>
    <% end %>
  </div>
</div>
