<% poll_group.each do |poll| %>
  <div class="poll">
    <% if poll.answerable_by?(current_user) && poll.votable_by?(current_user) %>
      <%= link_to poll,
              class: "icon-poll-answer can-answer",
              title: t("polls.index.can_answer") do %>
          <span class="sr-only">
            <%= t("polls.index.can_answer") %>
          </span>
      <% end %>
    <% elsif current_user.nil? %>
      <%= link_to new_user_session_path,
              class: "icon-poll-answer not-logged-in",
              title: t("polls.index.cant_answer_not_logged_in") do %>
          <span class="sr-only">
            <%= t("polls.index.cant_answer_not_logged_in") %>
          </span>
      <% end %>
    <% elsif current_user.unverified? %>
      <%= link_to verification_path,
                  class: "icon-poll-answer unverified",
                  title: t("polls.index.cant_answer_verify") do %>
          <span class="sr-only">
            <%= t("polls.index.cant_answer_verify") %>
          </span>
      <% end %>
    <% elsif !poll.votable_by?(current_user) %>
      <div class="icon-poll-answer already-answer" title="<%= t("polls.index.already_answer") %>">
        <span class="sr-only"><%= t("polls.index.already_answer") %></span>
      </div>
    <% else %>
      <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.cant_answer") %>">
        <span class="sr-only"><%= t("polls.index.cant_answer") %></span>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 medium-2 column">
        <h3> <%= distance_of_time_in_days(poll.ends_at, Date.today) %> </h3>
        <p> dias para votar </p>
      </div>
      <div class="small-12 medium-10 column">
        <h3> <%= poll.name %> </h3>
        <p class="proposal-info">
          <% poll.geozones.each do |g| %>
            <span><%= g.name %> | </span>
          <% end %>
        </p>
        <p> <%= poll.description %> </p>
      </div>

    </div>
    <div class="row end-poll">
      <div class="small-12 medium-6 large-4 column end float-right">
        <%= link_to poll, class: "button" do %>
          <% if poll.expired? %>
            <%= t("polls.index.participate_button_expired") %>
          <% elsif poll.incoming? %>
            <%=  t("polls.index.participate_button_incoming") %>
          <% else %>
            <%= t("polls.index.participate_button") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
