<div class="row margin-top">
  <div class="small-12 column">
    <ul class="menu simple clear">
      <% if controller_name == "polls" && action_name == "results" %>
        <li class="active">
          <h2><%= t("polls.show.results_menu") %></h2>
        </li>
      <% else %>
        <li><%= link_to t("polls.show.results_menu"), poll_results_path(@poll) %></li>
      <% end %>

      <% if controller_name == "polls" && action_name == "stats" %>
        <li class="active">
          <h2><%= t("polls.show.stats_menu") %></h2>
        </li>
      <% else %>
        <li><%= link_to t("polls.show.stats_menu"), poll_stats_path(@poll) %></li>
      <% end %>

      <% if controller_name == "polls" && action_name == "show" %>
        <li class="active">
          <h2><%= t("polls.show.info_menu") %></h2>
        </li>
      <% else %>
        <li><%= link_to t("polls.show.info_menu"), poll_path(@poll) %></li>
      <% end %>
    </ul>
  </div>
</div>
