<% poll_group.each do |poll| %>
  <div class="poll">
    <div class="row">
      <div class="small-12 column">
        <div class="dates"><%= poll_dates(poll) %></div>
        <% if poll.questions.count == 1 %>
          <% poll.questions.each do |question| %>
            <h4 class="inline-block"><%= link_to question.title, question_path(question) %></h4>
          <% end %>
        <% else %>
          <h4 class="inline-block"><%= link_to poll.name, poll %></h4>
          <ul>
            <% poll.questions.each do |question| %>
              <li><%= link_to question.title, question_path(question) %></li>
            <% end %>
          </ul>
        <% end %>
        <% if poll.geozones.any? %>
          <span>
            <small><%= t("polls.index.geozone_info") %></small>
          </span>
        <% end %>
        <ul class="no-bullet tags">
          <% poll.geozones.each do |g| %>
            <li class="inline-block"><span><%= g.name %></span></li>
          <% end %>
        </ul>
      </div>
      <div class="small-12 column">
        <%= link_to t("polls.index.participate_button"), poll, class: "button" %>
      </div>
    </div>
  </div>
<% end %>
