<%= form_tag("/polls/" + @poll.id.to_s + "", method: "post") do %>
	<% @questions.each do |question| %>
		<div id="<%= dom_id(question) %>" class="poll-question">
		  <h3>
		    <%= question.title %>
		  </h3>
		  <div id="<%= dom_id(question) %>_answers" class="padding">
			<div class="poll-question-answers require-answer button-group-poll round toggle">
			  <% if can?(:answer, question) && !question.poll.voted_in_booth?(current_user) %>
			    <% question.question_answers.each do |answer| %>
					<%= radio_button_tag("answer_question_" + question.id.to_s, answer.id, (@answers_by_question_id[question.id] == answer.title), class: 'button secondary hollow js-question-answer pseudo-radio js-question-answer', :id => "answer_question_" + question.id.to_s + "__" + answer.id.to_s) %>
					<%= label_tag("answer_question_" + question.id.to_s + "__" + answer.id.to_s, answer.title, :class =>  (@answers_by_question_id[question.id] == answer.title ? 'button answered' : 'button secondary hollow js-question-answer'), :for => "answer_question_" + question.id.to_s + "__" + answer.id.to_s) %>			        
			    <% end %>
			  <% if (@found_error && !@answers_by_question_id[question.id])
			   %>
			  	<br>
		      	<font color='red'><%= t("polls.show.choose_answer") %></font>
		      <% end %>			    
			  <% else %>
			    <% question.question_answers.each do |answer| %>
			      <span class="button secondary hollow disabled"><%= answer.title %></span>
			    <% end %>
			  <% end %>
			</div>    
		  </div>
		</div>
	<% end %>
	<% unless @poll.expired? %>
    <%= submit_tag(t("polls.show.send"), class: "button success") %>	
    <% end %>
<% end %>