<% if poll.incoming? %>
  <div class="callout primary">
    <%= t('poll_questions.show.cant_answer_incoming') %>
  </div>
<% elsif poll.expired? %>
  <div class="callout alert">
    <%= t('poll_questions.show.cant_answer_expired') %>
  </div>
<% elsif current_user.nil? %>
  <div class="callout primary">
    <%= t("poll_questions.show.not_logged_in",
        signin: link_to(t("poll_questions.show.signin"), new_user_session_path, class: "probe-message"),
        signup: link_to(t("poll_questions.show.signup"), new_user_registration_path, class: "probe-message")).html_safe %>
  </div>
<% elsif current_user.unverified? %>
  <div class="callout warning">
    <%= t('poll_questions.show.cant_answer_verify_html',
           verify_link: link_to(t('poll_questions.show.verify_link'), verification_path)) %>
  </div>
<% else %>
  <div class="callout warning">
    <%= t('poll_questions.show.cant_answer_wrong_geozone') %>
  </div>
<% end %>
