<%- poll.questions.each do |question| %>
  <% most_voted_answer_id = question.most_voted_answer_id %>
  <table id="question_<%= question.id %>_results_table">
    <h4 id="<%= question.title.parameterize %>"><%= question.title %></h4>
    <thead>
      <tr>
        <%- question.question_answers.each do |answer| %>
          <th scope="col" class="<%="win" if answer.id == most_voted_answer_id %>">
            <% if answer.id == most_voted_answer_id %>
              <span class="show-for-sr"><%= t("polls.show.results.most_voted_answer") %></span>
            <% end %>
            <%= answer.title %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%- question.question_answers.each do |answer| %>
          <td id="answer_<%= answer.id %>_result" class="<%="win" if answer.id == most_voted_answer_id %>">
            <%= answer.total_votes %>
            (<%= answer.total_votes_percentage.round(2) %>%)
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
