<% provide :title do %><%= t("polls.index.title") %><% end %>
<% content_for :wrapper_class, "light" %>

<div class="expanded no-margin-top dark-heading">
  <div class="row">
    <div class="small-12 medium-6 column padding">
      <h1><%= t("polls.index.title") %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-3 column">
    <%= render 'shared/filter_subnav_vertical', i18n_namespace: "polls.index" %>
  </div>

  <div class="small-12 medium-9 column margin-top">
    <% @polls.each do |poll| %>
      <div class="poll">
        <div class="row">
          <div class="small-12 medium-6 column">
            <h3><%= link_to poll.name, poll %></h3>
            <p class="dates"><%= poll_dates(poll) %></p>
            <ul class="no-bullet margin-top tags">
              <% poll.geozones.each do |g| %>
                <li class="inline-block"><span><%= g.name %></span></li>
              <% end %>
            </ul>
          </div>
          <div class="small-12 medium-6 column text-right">
            <% if can? :answer, poll %>
              <%= link_to t("polls.index.participate_button"), poll, class: "button" %>
            <% else %>
              <%= link_to t("polls.index.view_button"), poll %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= paginate @polls %>
  </div>
</div>
