<%= provide :title, t("once_plazas.results.title") %>
<%= provide :meta_description, t("once_plazas.results.description") %>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@decidemadrid" />
<meta name="twitter:title" content="<%= t("once_plazas.results.title") %>" />
<meta name="twitter:description" content="<%= t("once_plazas.results.social") %>" />
<meta name="twitter:image" content="<%= root_url %>social_media_resultados_once_plazas_twitter.jpg" />
<!-- Facebook OG -->
<meta id="ogtitle" property="og:title" content="<%= t("once_plazas.results.title") %>"/>
<% if setting['url'] %>
  <meta property="article:publisher" content=<%= setting['url'] %>/>
<% end %>
<% if setting['facebook_handle'] %>
  <meta property="article:author" content="https://www.facebook.com/<%= setting['facebook_handle'] %>"/>
<% end %>
<meta property="og:type" content="article"/>
<meta id="ogurl" property="og:url" content="<%= once_plazas_results_url %>"/>
<meta id="ogimage" property="og:image" content="<%= root_url %>social_media_resultados_once_plazas.jpg"/>
<meta property="og:site_name" content="<%= setting['org_name'] %>"/>
<meta id="ogdescription" property="og:description" content="<%= t("once_plazas.results.social") %>"/>
<meta property="fb:app_id" content="<%= Rails.application.secrets.facebook_key %>"/>

<div class="expanded no-margin-top polls-show-header once-plazas">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <h2 class="uppercase">
        <%= t("once_plazas.title_results") %>
        <span><%= t("once_plazas.title") %></span>
        <span><%= t("once_plazas.date") %></span>
      </h2>
      <p><%= t("once_plazas.results.description") %></p>
    </div>

    <div class="small-12 medium-3 column text-right margin">
      <%= link_to t("once_plazas.more_info"), more_info_polls_october_path, class: "small" %>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">
    <ul class="menu simple clear">
      <li class="active">
        <h2><%= t("polls.show.results.tab") %></h2>
      </li>
      <li>
        <%= link_to t("polls.show.stats.tab"), once_plazas_stats_path %>
      </li>
    </ul>
  </div>
</div>

<div class="polls-results-stats">
  <div class="row margin-top" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-3 column sidebar" data-equalizer-watch>
      <p><strong><%= t("polls.show.stats.polls") %></strong></p>
      <ul class="menu vertical margin-top">
        <% @polls.each do |poll| %>
          <li><a href="#poll_<%= poll.id %>"><%= poll.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="small-12 medium-9 column" data-equalizer-watch>
      <% @polls.each do |poll| %>
        <div class="margin-bottom">
          <h3 id="poll_<%= poll.id %>"><%= poll.name %></h3>
          <br>
          <%= link_to t("polls.show.results.more_info", poll: poll.name), poll_path(poll.slug) %>
        </div>

  	   <%= render "results_2018", poll: poll %>
      <% end %>
    </div>
  </div>
</div>
