<%= provide :title, t("once_plazas.results.title") %>
<%= provide :meta_description, t("once_plazas.results.description") %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: once_plazas_results_url,
              social_title: t("once_plazas.results.title"),
              social_description: t("once_plazas.results.social") %>
<% end %>
<%= provide :social_media_meta_tags do %>
  <meta name="twitter:image" content="<%= root_url %>social_media_resultados_once_plazas_twitter.jpg" />
  <meta id="ogimage" property="og:image" content="<%= root_url %>social_media_resultados_once_plazas.jpg"/>
<% end %>

<div class="expanded no-margin-top polls-show-header">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <h2><%= t("once_plazas.results.title") %></h2>
      <p><%= t("once_plazas.results.description") %></p>
    </div>

    <aside class="small-12 medium-3 column margin-top">
      <%= render partial: 'shared/social_share', locals: {
        share_title: t("shared.share"),
        title: t("once_plazas.results.title"),
        url: once_plazas_results_url
      } %>
    </aside>
  </div>
</div>

<div class="polls-results-stats">
  <% @polls.each do |poll| %>
    <div class="row margin-top">
      <div class="small-12 medium-9 column">
        <h3><%= poll.name %></h3>
      </div>
    </div>

  	<%= render "results_2018", poll: poll %>
    <hr>
  <% end %>
</div>
