<% provide :title do %><%= @poll.name %><% end %>
<% content_for :wrapper_class, "light" %>

<div class="expanded no-margin-top dark-heading poll-show">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <%= render "shared/back_link" %>

      <h2><%= @poll.name %></h2>
      <p>
        <%= t("polls.show.question_count_html",
            count: @poll.questions.count) %>
      </p>
      <ul class="no-bullet margin-top tags">
        <% @poll.geozones.each do |g| %>
          <li class="inline-block"><span><%= g.name %></span></li>
        <% end %>
      </ul>

      <%= render "callout" %>
    </div>
    <div class="small-12 medium-3 column">
      <div class="info">
        <p>
          <span class="title">
            <strong><%= t("polls.show.dates_title") %></strong>
          </span>
          <br>
          <%= poll_dates(@poll) %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <% if can?(:answer, @poll) %>
    <!-- Temporarily using the test Poll in Nvotes.
         Use @poll when we have all Polls setup in Nvotes -->
    <% poll = Poll.first %>
    <%= link_to "Votar con Nvotes",
                new_poll_nvote_path(poll),
                data: { no_turbolink: true } %>
  <% end %>
</div>

<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <% @questions.each do |question| %>
      <%= render 'polls/questions/question', question: question %>
    <% end %>
  </div>
</div>
