<%= provide :title,            t("social_share.polls_show.title_#{@poll.id}") %>
<%= provide :meta_description, t("social_share.polls_show.description_#{@poll.id}") %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: poll_url,
              social_title: t("social_share.polls_show.title_#{@poll.id}"),
              social_description: t("social_share.polls_show.facebook_#{@poll.id}") %>
<% end %>
<%= provide :social_media_meta_tags do %>
  <meta name="twitter:image" content="<%= root_url %>social_media_polls_<%= @poll.id %>_twitter.jpg" />
  <meta id="ogimage" property="og:image" content="<%= root_url %>social_media_polls_<%= @poll.id %>.jpg"/>
<% end %>

<div class="polls-show">
  <div id="polls-show-header" class="expanded no-margin-top polls-show-header">
    <div class="row">
      <div class="small-12 medium-9 column padding">
        <%= back_link_to polls_path, t("polls.show.back") %>

        <h2><%= @poll.name %></h2>

        <%= safe_html_with_links simple_format(@poll.summary) %>

        <% if @poll.geozones.any? %>
          <ul class="no-bullet margin-top tags">
            <% @poll.geozones.each do |g| %>
              <li class="inline-block"><span><%= g.name %></span></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <aside class="small-12 medium-3 column margin-top">
        <%= render partial: 'shared/social_share', locals: {
          share_title: t("shared.share"),
          title: @poll.name,
          url: poll_url
        } %>
      </aside>
    </div>
  </div>

  <div class="tabs-content" data-tabs-content="polls-tabs" role="tablist">
    <%= render "results_subnavigation" %>

    <div id="tab-stats" class="tabs-panel">
      <%= render "polls/stats/show" %>
    </div>

    <div id="tab-information" class="tabs-panel is-active">
      <%= render "show" %>
    </div>
  </div>
</div>

