<% provide :title do %><%= @poll.name %><% end %>

<div class="participation-stats polls-results-stats">
  <%= render "poll_header" %>

  <%= render "poll_subnav" %>

  <div class="row margin">
    <div class="small-12 medium-3 column sidebar">
      <%= render "shared/stats/links", stats: @stats %>
      <%= render "advanced_stats_links" if @stats.advanced? %>
    </div>

    <div class="small-12 medium-9 column stats-content">
      <%= render "shared/stats/participation", stats: @stats %>
      <%= render "advanced_stats", stats: @stats if @stats.advanced? %>

      <div id="total_no_demographic_data">
        <% if @stats.total_no_demographic_data > 0 %>
          <p class="help-text">
            <%= t("stats.no_demographic_data", count: @stats.total_no_demographic_data) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

</div>
