<%= provide :title, t("once_plazas.stats.title") %>
<%= provide :meta_description, t("once_plazas.stats.description") %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: once_plazas_stats_url,
              social_title: t("once_plazas.stats.title"),
              social_description: t("once_plazas.stats.social") %>
<% end %>
<%= provide :social_media_meta_tags do %>
  <meta name="twitter:image" content="<%= root_url %>social_media_estadisticas_once_plazas_twitter.jpg" />
  <meta id="ogimage" property="og:image" content="<%= root_url %>social_media_estadisticas_once_plazas.jpg"/>
<% end %>

<div class="expanded no-margin-top polls-show-header once-plazas">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <h2 class="uppercase">
        <%= t("once_plazas.title_stats") %>
        <span><%= t("once_plazas.title") %></span>
        <span><%= t("once_plazas.date") %></span>
      </h2>
      <p><%= t("once_plazas.stats.description") %></p>
    </div>

    <div class="small-12 medium-3 column text-right margin">
      <%= link_to t("once_plazas.more_info"), more_info_polls_october_path, class: "small" %>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">
    <ul class="menu simple clear">
      <li>
        <%= link_to t("polls.show.results.tab"), once_plazas_results_path %>
      </li>
      <li class="active">
        <h2><%= t("polls.show.stats.tab") %></h2>
      </li>
    </ul>
  </div>
</div>

<div class="polls-results-stats">
  <div class="row margin-top" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-3 column sidebar" data-equalizer-watch>
      <p><strong><%= t("polls.show.stats.data") %></strong></p>
      <ul class="menu vertical margin-top">
        <li><a href="#total"><%= t("polls.show.stats.total") %></a></li>
        <li><a href="#gender"><%= t("polls.show.stats.gender") %></a></li>
        <li><a href="#age"><%= t("polls.show.stats.age") %></a></li>
        <li><a href="#districts"><%= t("polls.show.stats.district") %></a></li>
      </ul>

      <p><strong><%= t("polls.show.stats.polls") %></strong></p>
      <ul class="menu vertical margin-top">
        <% @polls.each do |poll| %>
          <li><a href="#poll_<%= poll.id %>"><%= poll.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="small-12 medium-9 column" data-equalizer-watch>

      <%= render "stats_2018_demographics" %>

      <% @polls.each do |poll| %>
        <div class="margin-bottom">
          <h3 id="poll_<%= poll.id %>"><%= poll.name %></h3>

          <p class="margin-top uppercase">
            <%= t("polls.show.stats.total_votes") %><br>
            <span class="number"><%# @stats[:total_participants] %></span>
          </p>

      		<%= render "stats_2018", poll: poll %>
        </div>
      <% end %>

      <p>
        <em>* No se dispone de todos los datos demográficos de todos los participantes.</em><br>
        <em>** En el canal web no se presenta el número de papeletas en blanco ya que por anonimización de los votantes no se dispone de esta información.</em><br>
        <em>*** Cada persona ha podido participar en distintas votaciones a través de varios canales, por lo que en los datos demográficos la suma de los canales web y urna no debe coincidir con el total.</em>
      </p>
    </div>
  </div>
</div>
