<% provide :title do %>Proyectos de gasto recomendados por <%= @user.name %><% end %>
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@abriendomadrid" />
<meta name="twitter:title" content="Presupuestos Participativos en Madrid" />
<meta name="twitter:description" content="Proyectos de gasto recomendados por <%= @user.name %>" />
<meta name="twitter:image" content="<%= image_url 'social_media_budgets_twitter.png' %>" />
<!-- Facebook OG -->
<meta id="ogtitle" property="og:title" content="Presupuestos Participativos en Madrid"/>
<% if setting['url'] %>
  <meta property="article:publisher" content=<%= setting['url'] %>/>
<% end %>
<% if setting['facebook_handle'] %>
  <meta property="article:author" content="https://www.facebook.com/<%= setting['facebook_handle'] %>"/>
<% end %>
<meta property="og:type" content="article"/>
<% og_url = current_budget.present? ? budget_recommendations_url(budget_id: current_budget.slug, user_id: @user.id) : budgets_url %>
<meta id="ogurl" property="og:url" content="<%= og_url %>"/>
<meta id="ogimage" property="og:image" content="<%= image_url 'social_media_budgets.png' %>"/>
<meta property="og:site_name" content="Decide Madrid"/>
<meta id="ogdescription" property="og:description" content="Proyectos de gasto recomendados por <%= @user.name %>"/>
<meta property="fb:app_id" content="1662598980652932"/>

<div class="expanded jumbo-budget padding no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column">
      <%= link_to @budget.name, budget_path(@budget) %>

      <h1 class="margin-top">
        <%= t("delegation.list_title") %>&nbsp;<%= link_to @user.name, user_path(@user.id) %>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <% @investments.each do |investment| %>
      <%= render partial: '/budgets/investments/investment', locals: {
        investment: investment,
        investment_ids: @investment_ids,
        investment_votes: @investment_votes,
        ballot: @ballot
      } %>
    <% end %>
  </div>
</div>
