<div class="expanded jumbo-budget padding no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column">
      <%= back_link_to budget_path(@budget) %>

      <h1 class="margin-top">
        <%= t("delegation.list_title") %>&nbsp;<%= link_to @user.name, user_path(@user.id) %>
      </h1>

      <%= link_to(t("delegation.header_button"), new_budget_recommendation_path(budget_id: Budget.current.last.slug), class: "button margin-top") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <% @investments.each do |investment| %>
      <%= render partial: '/budgets/investments/investment', locals: {
        investment: investment,
        investment_ids: @investment_ids,
        investment_votes: @investment_votes,
        ballot: @ballot
      } %>
    <% end %>
  </div>
</div>
