<div class="row">
  <div class="small-12 column">
    <h1><%= t("delegation.title") %></h1>
    <p>
      <%= t("delegation.text") %><br>
      <%= t("delegation.help_html") %>
    </p>
  </div>

  <div class="small-12 medium-6 column">
    <%= form_tag(budget_recommendations_path, {id: "new_budget_recommendation_form"}) do %>
      <label>ID de proyecto de gasto</label>

      <%= text_field_tag "recommendation[investment_id]" %>
      <input type="submit" value="<%= t('delegation.form_submit') %>" class="button">
    <% end %>
  </div>
  <div class="small-12 column">
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <%= t("delegation.table_head") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @recommendations.each do |recommendation| %>
          <tr>
            <td>
              <%= link_to recommendation.investment.title, budget_investment_path(recommendation.budget, recommendation.investment) %>
            </td>
            <td class="text-right">
              <%= link_to "Eliminar de mi lista",
                          budget_recommendation_path(budget_id: recommendation.budget, id: recommendation.id),
                          method: :delete,
                          class: "delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
