<%= form_with(model: @project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, :title => "Título" %>
  </div>

  <div class="field">
    <%= form.file_field :imagen %>
    <p> <%= t("custom.imagen.title") %></p>
  </div>

  <div class="field">
    <span onclick="toggleSelect()">
      <%= form.check_box :public, class: "small", id: "click" %>
    </span>
    <div id="hidden-select"
      <% if project.public %>
        style="display: block;"
      <%else%>
        style="display: none;"
      <%end%>
    >
      <%= form.collection_select :geozone_id, Geozone.all.order(id: :asc), :id, :name %>
    </div>
  </div>

  <%# ---------- Páginas ---------- %>
  <div class="project-form-field">
    <% if !@project_pages.empty? %>
      <br/>
      <%= form.label t("project.component.actual_delete", item:"Páginas") %>
      <p><%= t("project.component.delete", item:"páginas") %></p>

      <div id="participant_tags" class="tags">
        <% @project_pages.each do |page| %>
          <%# <a class="select-participants"><%= page.id%>
          <span>
            <input type="checkbox" name="delete_page_ids[]" value=<%= page.id %> />
            <%= page.title %>
          </span>
        <% end %>
      </div>
    <% end %>


    <% if !@pages.empty? %>
      <br/>
      <%= form.label t("project.component.actual_add", item:"Páginas") %>
      <p><%= t("project.component.add", item:"páginas") %></p>

      <%# Para buscar Páginas %>
      <%# <%= form_tag(new_project_path, method: :get) do %>
      <%#   <%= text_field_tag :page_search, params[:page_search], placeholder: "Search Pages", class: "form-control", id: "page-search-form", onkeyup: "SearchFunction()" %>
      <%#   <%= submit_tag 'Search', name: nil %>
      <%# <% end %>

      <div id="participant_tags" class="tags">
        <% @pages.each do |page| %>
          <%# <a class="select-participants"><%= page.id%>
          <span>
            <input type="checkbox" name="page_ids[]" value=<%= page.id %> />
            <%= page.title %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ---------- Fin Páginas ---------- %>

  <%# ---------- Debates ---------- %>
  <div class="project-form-field">
    <% if !@project_debates.empty? %>
      <br/>
      <%= form.label t("project.component.actual_delete", item:"Debates") %>
      <p><%= t("project.component.delete", item:"debates") %></p>

      <div id="participant_tags" class="tags">
        <% @project_debates.each do |debate| %>
          <%# <a class="select-participants"><%= page.id%>
          <span>
            <input type="checkbox" name="delete_debate_ids[]" value=<%= debate.id %> />
            <%= debate.title %>
          </span>
        <% end %>
      </div>
    <% end %>

    <% if !@debates.empty? %>
      <br/>
      <%= form.label t("project.component.actual_add", item:"Debates") %>
      <p><%= t("project.component.add", item:"debates") %></p>
      <%# Para buscar Debates %>
      <%# <%= form_tag(new_project_path, method: :get) do %>
      <%#   <%= text_field_tag :debate_search, params[:debate_search], placeholder: "Search Debates", class: "form-control", id: "page-search-form", onkeyup: "SearchFunction()" %>
      <%#   <%= submit_tag 'Search', name: nil %>
      <%# <% end %>

      <div id="participant_tags" class="tags">
        <% @debates.each do |debate| %>
          <span>
            <input type="checkbox" name="debate_ids[]" value=<%= debate.id %> />
            <%= debate.title %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ---------- Fin Debates ---------- %>

  <%# ---------- Proposals ---------- %>
  <div class="project-form-field">
    <% if !@project_proposals.empty? %>
      <br/>
      <%= form.label t("project.component.actual_delete", item:"Propuestas") %>
      <p><%= t("project.component.delete", item:"propuestas") %></p>
      <div id="participant_tags" class="tags">
        <% @project_proposals.each do |item| %>
          <span>
            <input type="checkbox" name="delete_proposal_ids[]" value=<%= item.id %> />
            <%= item.title %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if !@proposals.empty? %>
      <br/>
      <%= form.label t("project.component.actual_add", item:"Propuestas") %>
      <p><%= t("project.component.add", item:"propuestas") %></p>
      <div id="participant_tags" class="tags">
        <% @proposals.each do |item| %>
          <span>
            <input type="checkbox" name="proposal_ids[]" value=<%= item.id %> />
            <%= item.title %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ---------- Fin Proposals ---------- %>

    <%# ---------- Polls ---------- %>
  <div class="project-form-field">
    <% if !@project_polls.empty? %>
      <br/>
      <%= form.label t("project.component.actual_delete", item:"Votaciones") %>
      <p><%= t("project.component.delete", item:"votaciones") %></p>
      <div id="participant_tags" class="tags">
        <% @project_polls.each do |item| %>
          <span>
            <input type="checkbox" name="delete_poll_ids[]" value=<%= item.id %> />
            <%= item.title %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if !@polls.empty? %>
      <br/>
      <%= form.label t("project.component.actual_add", item:"Votaciones") %>
      <p><%= t("project.component.add", item:"votaciones") %></p>
      <div id="participant_tags" class="tags">
        <% @polls.each do |item| %>
          <span>
            <input type="checkbox" name="poll_ids[]" value=<%= item.id %> />
            <%= item.title %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ---------- Fin Polls ---------- %>

  <%# ---------- Users ---------- %>
  <div class="project-form-field">
    <%# Para buscar Debates %>
    <%= text_field_tag '', nil, placeholder: "Search Users", class: "form-control", style: "border-radius:10px", id: "users-search-form", onkeyup: "SearchFunction()" %>
    <% if !@project_users.empty? %>
      <%= form.label t("project.component.actual_delete", item:"Usuarios") %>
      <p><%= t("project.component.delete", item:"usuarios") %></p>
      <div id="participant_tags" class="tags scroll">
        <% @project_users.each do |user| %>
          <%# <a class="select-participants"><%= page.id%>
          <span id="span_tags">
            <input type="checkbox" name="delete_user_ids[]" value=<%= user.id %> />
            <%= user.username %>(<%= user.email %>)
          </span>
        <% end %>
      </div>
    <% end %>

    <% if !@users.empty? %>
      <br/>
      <%= form.label t("project.component.actual_add", item:"Usuarios") %>
      <p><%= t("project.component.add", item:"usuarios") %></p>

      <%= render "shared/filter_subnav", i18n_namespace: "admin.users.index" %>
      <div id="participant_tags" class="tags scroll">
        <% @users.each do |user| %>
          <%# <a class="select-participants"><%= page.id%>
          <span id="span_tags">
            <input type="checkbox" name="user_ids[]" value=<%= user.id %> />
            <%= user.username %>(<%= user.email %>)
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ---------- Fin Users ---------- %>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>
