<%= form_with(model: @project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title %>
  </div>

  <div id="participant_tags" class="tags">
    <% @pages.each do |page| %>
       <%# <a class="select-participants"><%= page.id%>
       <input type="checkbox" name="page_ids[]" value=<%= page.id %> /> <label> <%= page.title %> </label>
    <% end %>
  </div>

  <div class="field">
    <%= form.text_field :page_elements, :label => t("project.page.label"), placeholder: t("proposals.form.participant_placeholder")%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
