<div class="row">
<% if current_administrator? %>
  <div class="small-12 medium-9 medium-centered column">
  <%# <%= form_tag(projects_path, method: :get) do %>
  <%#   <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
  <%#   <%= submit_tag 'Search', name: nil %>
  <%# <% end %>
    <h1>Projects</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% if @projects %>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Project', new_project_path %>
  </div>
<% else %>
  <p class="text-center"><%= t("not_authorized.title") %></p>
  <%= back_link_to root_url %>
<% end %>
</div>