<div class="row">

  <% show = false
    if current_administrator?
      show = true
    else
     @project_users.each do |index|
        if index.id == current_user.id
          show = true
        end
      end
    end
  %>

  <% if show == true %>
    <div class="small-12 medium-9 medium-centered column">
        <p>
          <strong>Título:</strong>
          <%= @project.title %>
        </p>

        <%# -- Propuestas -- %>
        <% if !@project_proposals.empty? %>
          <table class="margin-top">
            <thead>
              <tr>
                <th scope="col"><%= t("users.show.proposals") %></th>
              </tr>
            </thead>
            <tbody>
              <% @project_proposals.each do |item| %>
                <tr id="proposals_<%= item.id %>">
                  <td>
                    <%= link_to item.title, proposal_path(item) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <strong>Propuesta:</strong>
          <p><%= t("project.show_component", item:"propuestas") %></p>
        <% end %>

        <%# -- Votaciones -- %>
        <% if !@project_polls.empty? %>
          <table class="margin-top">
            <thead>
              <tr>
                <th scope="col"><%= t("users.show.polls") %></th>
              </tr>
            </thead>
            <tbody>
              <% @project_polls.each do |item| %>
                <tr id="polls_<%= item.id %>">
                  <td>
                    <%= link_to item.title, poll_path(item) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <strong>Votaciones:</strong>
          <p><%= t("project.show_component", item:"votaciones") %></p>
        <% end %>

        <%# -- Debates -- %>
        <% if !@project_debates.empty? %>
          <table class="margin-top">
            <thead>
              <tr>
                <th scope="col"><%= t("users.show.debates") %></th>
              </tr>
            </thead>
            <tbody>
              <% @project_debates.each do |debate| %>
                <tr id="debate_<%= debate.id %>">
                  <td>
                    <%= link_to debate.title, debate %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <strong>Debate:</strong>
          <p><%= t("project.show_component", item:"debates") %></p>
        <% end %>

        <%# -- Páginas -- %>
        <strong>Páginas:</strong>
        <% if @project_pages.empty? %>
          <p><%= t("project.show_page.empty") %></p>
        <% else %>
          <div id="participant_tags" class="tags">
              <% @project_pages.each do |actual| %>
                <%= link_to actual.title,
                                actual.url,
                                target: "_blank",
                                class: "show-link" %>
              <% end %>
          </div>
        <% end %>

      <% if current_administrator? %>
        <%= link_to 'Editar', edit_project_path(@project) %> |
      <% end %>
        <%= link_to 'Volver', projects_path %>
    </div>
  <% else %>
    <p class="text-center"><%= t("not_authorized.title") %></p>
    <%= back_link_to root_url %>
  <% end %>
</div>