<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="small-12 medium-9 medium-centered column">
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <strong>Debates:</strong>
    <% if @project_debates.empty? %>
      <p>No hay debates</p>
    <% else %>
      <div id="participant_tags" class="tags">
           <% @project_debates.each do |actual| %>
            <a class="select-participants"><%= actual.title%></a>
           <% end %>
      </div>
    <% end %>

    <strong>Páginas:</strong>
    <% if @project_pages.empty? %>
      <p>No hay páginas</p>
    <% else %>
      <div id="participant_tags" class="tags">
           <% @project_pages.each do |actual| %>
            <a class="select-participants"><%= actual.title%></a>
           <% end %>
      </div>
    <% end %>


    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>