<div class="admin-sidebar">
  <ul id="admin_menu">
    <li>
      <%= link_to t("management.menu.title"), management_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "document_verifications" ||
                              controller_name == "email_verifications" ||
                              controller_name == "users" %>>
      <%= link_to management_document_verifications_path do %>
        <i class="icon-user"></i>
        <%= t("management.menu.users") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" and action_name == "new" %>>
      <%= link_to new_management_proposal_path do %>
        <i class="icon-proposals"></i>
        <%= t("management.menu.create_proposal") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" and action_name == "index"  %>>
      <%= link_to management_proposals_path do %>
        <i class="icon-like"></i>
        <%= t("management.menu.support_proposals") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "proposals" and action_name == "print" %>>
      <%= link_to print_management_proposals_path do %>
        <i class="icon-print"></i>
        <%= t("management.menu.print_proposals") %>
      <% end %>
    </li>
  </ul>
</div>
