<div class="container-xl">
  <%= back_link_to debates_path, t("debates.index.section_header.title") %>

  <div class="row">

  <div class="col-12 col-md-4 order-1 order-md-2">
    <%= header do %>
      <%= link_to help_path(anchor: "debates"), title: t("shared.target_blank"), target: "_blank" do %>
        <%= t("debates.new.more_info") %>
      <% end %>
    <% end %>
    <h2><%= t("debates.new.recommendations_title") %></h2>

    <ul class="recommendations">
      <li><%= t("debates.new.recommendation_one") %></li>
      <li><%= t("debates.new.recommendation_two") %></li>
      <li><%= t("debates.new.recommendation_three") %></li>
      <li><%= t("debates.new.recommendation_four") %></li>
    </ul>
  </div>
  <div class="col-12 col-md-8 order-2 order-md-1">

  <%= render Debates::FormComponent.new(debate) %>
</div>
</div>
</div>
