<% provide(:title) { goal.title } %>
  <section class="section pb-3 pt-3 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="me-auto">
            <%= back_link_to sdg_goals_path %>
          </div>
          <div class="h1 me-auto">
            <%= heading %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section py-3 py-md-6">
    <div class="container-xxl">
      <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
          <div class="card shadow">
         <div class="card-body">
          <%= long_description %>
        </div>
      </div>
    </div>
  </div>
</div>

  </section>

  <%= render ::Widget::Feeds::ParticipationComponent.new(feeds) %>

  <% if processes_feed %>
    <div class="feeds-list">
      <%= render ::Widget::Feeds::FeedComponent.new(processes_feed) %>
    </div>
  <% end %>

  <section class="section py-3 py-md-6">
    <div class="container-xxl">
      <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <%= render SDG::Goals::TargetsComponent.new(goal) %>
    </div>
  </div>
</div>
