<%= render "shared/globalize_locales", resource: @group %>

<%= translatable_form_for [:admin, @budget, @group], url: path do |f| %>

  <%= render "shared/errors", resource: @group %>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column end">
        <%= translations_form.text_field :name, maxlength: 50 %>
      </div>
    <% end %>
  </div>

  <% if @group.persisted? %>
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :max_votable_headings,
                     (1..@group.headings.count),
                     hint: t("admin.budget_groups.form.max_votable_headings_info") %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.submit t("admin.budget_groups.form.#{action}"), class: "button success" %>
    </div>
  </div>
<% end %>
