<%= render "shared/globalize_locales", resource: @group %>

<%= translatable_form_for [:admin, @budget, @group], url: path do |f| %>

  <%= render "shared/errors", resource: @group %>

  <%= hidden_field :heading, :mode, value: @mode %>

  <%= f.translatable_fields do |translations_form| %>
    <div class="small-12 medium-6 column end">
      <%= translations_form.text_field :name, maxlength: 50 %>
    </div>
  <% end %>

  <% if @group.persisted? %>
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :max_votable_headings, (1..@group.headings.count) %>
      </div>
    </div>
  <% end %>

  <div class="small-12 medium-6 large-3">
    <% if @mode == "single" %>
      <%= f.submit t("admin.budget_groups.create.button.continue"), class: "button success expanded" %>
    <% else %>
      <%= f.submit t("admin.budget_groups.form.#{action}"), class: "button success expanded" %>
    <% end %>
  </div>
<% end %>
