<% if @groups.any? %>
  <h3><%= t("admin.budget_groups.amount", count: @groups.count) %></h3>
  <table>
    <thead>
      <tr id="<%= dom_id(@budget) %>">
        <th><%= t("admin.budget_groups.name") %></th>
        <% unless @mode.present? %>
          <th class="text-center"><%= t("admin.budget_groups.max_votable_headings") %></th>
          <th class="text-center"><%= t("admin.budget_groups.headings_name") %></th>
          <th><%= t("admin.budget_groups.headings_edit") %></th>
          <th class="text-right"><%= t("admin.actions.actions") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr id="<%= dom_id(group) %>">
          <td><%= group.name %></td>
          <% unless @mode.present? %>
            <td class="text-center"><%= group.max_votable_headings %></td>
            <td class="text-center"><%= group.headings.count %></td>
            <td>
              <%= link_to t("admin.budget_groups.headings_manage"),
                            admin_budget_group_headings_path(@budget, group) %>
            </td>
            <td class="text-right">
              <%= render "groups_actions", group: group %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary clear">
    <%= t("admin.budget_groups.no_groups") %>
  </div>
<% end %>
