<% if @groups.any? %>
  <h3><%= t("admin.budget_groups.amount", count: @groups.count) %></h3>
  <table>
    <thead>
      <tr id="<%= dom_id(@budget) %>">
        <th><%= t("admin.budget_groups.name") %></th>
        <th><%= Budget::Group.human_attribute_name(:max_votable_headings) %></th>
        <th><%= t("admin.budget_groups.headings_name") %></th>
        <th><%= t("admin.budget_groups.headings_edit") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr id="<%= dom_id(group) %>">
          <td><%= link_to group.name, edit_admin_budget_group_path(@budget, group) %></td>
          <td><%= group.max_votable_headings %></td>
          <td><%= group.headings.count %></td>
          <td><%= link_to t("admin.budget_groups.headings_manage"),
                          admin_budget_group_headings_path(@budget, group) %></td>
          <td>
            <%= link_to t("admin.actions.edit"),
                        edit_admin_budget_group_path(@budget, group),
                        class: "button hollow" %>
            <%= link_to t("admin.actions.delete"),
                        admin_budget_group_path(@budget, group),
                        method: :delete,
                        class: "button hollow alert" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary clear">
    <%= t("admin.budget_groups.no_groups") %>
  </div>
<% end %>
