<%= back_link_to admin_budgets_path, t("admin.budget_groups.index.back") %>

<div class="clear"></div>

<h2 class="inline-block"><%= @budget.name %></h2>

<%= link_to t("admin.budget_groups.form.create"),
            new_admin_budget_group_path,
            class: "button float-right" %>

<% if @groups.any? %>
  <h3><%= t("admin.budget_groups.amount", count: @groups.count) %></h3>
  <table>
    <thead>
      <tr id="<%= dom_id(@budget) %>">
        <th><%= t("admin.budget_groups.name") %></th>
        <th><%= Budget::Group.human_attribute_name(:max_votable_headings) %></th>
        <th><%= t("admin.budget_groups.headings_name") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr id="<%= dom_id(group) %>">
          <td><%= group.name %></td>
          <td><%= group.max_votable_headings %></td>
          <td><%= group.headings.count %></td>
          <td>
            <%= render Admin::TableActionsComponent.new(group) do |actions| %>
              <%= actions.link_to t("admin.budget_groups.headings_manage"),
                                  admin_budget_group_headings_path(@budget, group),
                                  class: "headings-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary clear">
    <%= t("admin.budget_groups.no_groups") %>
  </div>
<% end %>
