<%= back_link_to admin_budgets_path, t("admin.budget_groups.index.back") %>

<div class="clear"></div>

<header>
  <h2><%= @budget.name %></h2>
  <%= link_to t("admin.budget_groups.form.create"), new_admin_budget_group_path %>
</header>

<%= render Admin::Budgets::HelpComponent.new("groups") %>
<%= render Admin::BudgetGroups::GroupsComponent.new(@groups) %>
