<div class="budget-header">
  <div class="row">
    <div class="small-12 column">
      <h1><%= budget.name %></h1>
      <div class="description">
        <%= auto_link_already_sanitized_html wysiwyg(budget.description) %>
      </div>

      <p>
        <%= link_to t("budgets.index.section_header.help"), "#section_help" %>
      </p>
    </div>
  </div>
</div>

<%= render Budgets::SubheaderComponent.new(budget) %>
<%= render Budgets::PhasesComponent.new(budget) %>

<div id="budget_info" class="budget-info">
  <div class="row margin-top">
    <div class="small-12 column">
      <%= render Budgets::GroupsAndHeadingsComponent.new(budget) %>

      <% unless budget.informing? %>
        <div class="map inline">
          <h2><%= t("budgets.index.map") %></h2>
          <%= render_map(nil, "budgets", false, nil, coordinates) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
