<div id="groups_and_headings" class="groups-and-headings">
  <% budget.groups.each do |group| %>
    <h2 id="<%= group.name.parameterize %>"><%= group.name %></h2>
    <ul class="headings-list">
      <% group.headings.sort_by_name.each do |heading| %>
        <li class="heading">
          <% unless budget.informing? || budget.finished? %>
            <%= link_to budget_investments_path(budget.id,
                                                heading_id: heading.id) do %>
              <%= heading_name_and_price_html(heading) %>
            <% end %>
          <% else %>
            <div class="heading-name">
              <%= heading_name_and_price_html(heading) %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
