<div class="js-follow">
  <span class="followable-content">
    <% if follow.followable.followed_by?(current_user) %>
      <span class="followable-text"><%= t("shared.following") %></span>
      <%= link_to follow_path(follow),
                  method: :delete, remote: true,
                  title: unfollow_text(follow.followable),
                  class: "follow-switch" do %>
        <span class="show-for-sr"><%= t("shared.following") %></span>
        <span class="fas fa-toggle-on"></span>
      <% end %>
    <% else %>
      <span class="followable-text"><%= follow_text(follow.followable) %></span>
      <%= link_to follows_path(followable_id: follow.followable.id,
                               followable_type: follow.followable.class.name),
                  method: :post, remote: true,
                  title: follow_text(follow.followable),
                  class: "follow-switch" do %>
        <span class="show-for-sr"><%= follow_text(follow.followable) %></span>
        <span class="fas fa-toggle-off"></span>
      <% end %>
    <% end %>
  </span>
</div>
