<div class="row account">
  <div class="small-12 column">

    <h1 class="inline-block"><%= t('verification.residence.new.title') %></h1>

    <%= form_for @residence, as: "residence", url: residence_path do |f| %>
      <%= render 'errors' %>

      <%= f.select :document_type, document_types, prompt: "" %>
      <%= f.text_field :document_number %>
      <%= f.date_select :date_of_birth,
                        prompt: true,
                        start_year: 1900, end_year: 16.years.ago.year %>
      <%= f.text_field :postal_code %>

      <div class="small-12 column">
        <span class="left">
          <%= f.check_box :terms_of_service, label: t("verification.residence.new.accept_terms_text") %>
        </span>
        <span class="left" style="padding-left: 20px">
          <%= link_to t("verification.residence.new.accept_terms_link"), '/census_terms', target: "_blank" %>
        </span>
      </div>

      <%= f.submit "Verify" %>
    <% end %>
  </div>
</div>