<tr id="booth_<%= booth.id %>" class="booth">
  <td>
    <%= booth.name %>
  </td>
  <td>
    <%= booth.location %>
  </td>
  <td class="text-right">
    <% if controller_name == "shifts" || controller_name == "booths" && action_name == "available" %>
      <%= link_to t("admin.booths.booth.shifts"),
                  new_admin_booth_shift_path(booth),
                  class: "button hollow" %>
    <% else %>
      <%= link_to t("admin.booths.booth.edit"),
                  edit_admin_booth_path(booth),
                  class: "button hollow" %>
    <% end %>
  </td>
</tr>
