<tr id="booth_<%= booth.id %>" class="booth">
  <td>
    <%= booth.name %>
  </td>
  <td>
    <%= booth.location %>
  </td>
  <td>
    <% if controller_name == "shifts" || controller_name == "booths" && action_name == "available" %>
      <%= render Admin::TableActionsComponent.new(actions: []) do |actions| %>
        <%= actions.link_to t("admin.booths.booth.shifts"),
                            new_admin_booth_shift_path(booth),
                            class: "shifts-link" %>
      <% end %>
    <% else %>
      <%= render Admin::TableActionsComponent.new(booth,
        actions: [:edit],
        edit_text: t("admin.booths.booth.edit")
      ) %>
    <% end %>
  </td>
</tr>
