<%= render 'shared/back_link' %>

<h2><%= t("admin.booths.new.title", poll: @poll.name) %>: <%= t("admin.booths.new.subtitle") %></h2>

<%= form_for @booth, url: admin_poll_booths_path(@poll) do |f| %>
  <%= render "form", f: f %>
<% end %>