<%= render 'shared/back_link' %>
<div class="clear"></div>

<h2 class="inline-block">Urna Moncloa (REFNUM)</h2>
<%= link_to t("admin.actions.edit"), "1/edit", class: "button hollow float-right" %>

<p><strong><%= t("admin.booths.show.location") %></strong>: C/ Isaac Peral, 25. 28003, Madrid</p>

<h3><%= t("admin.booths.show.officers_list") %></h3>

<!-- If officers in this booth == 0 -->
<div class="callout primary">
  <%= t("admin.booths.show.no_officers") %>
</div>
<!-- end -->

<%= link_to t("admin.booths.show.assign_officer"), "#", class: "button success" %>

<div class="small-12 column">
  <!-- List of officers, something like:
       "/admin/spending_proposals/_assigned_valuators.html.erb" -->
  <%# f.label :valuator_ids, t("admin.spending_proposals.edit.assigned_valuators") %>

  <%# f.collection_check_boxes :valuator_ids, @valuators, :id, :email do |b| %>
      <%# b.label(title: valuator_label(b.object)) { b.check_box + truncate(b.object.description_or_email, length: 60) } %>
  <%# end %>
</div>

<table>
  <%# @officers.each do |officer| %>
    <tr>
      <td>
        <%# officer.name %>
        Admin
      </td>
      <td>
        admin@consul.dev
        <%# officer.email %>
      </td>
      <td class="text-right">
        <%= link_to t('admin.poll_officers.officer.delete'), "#", class: "button hollow alert" %>
        <%# link_to t('admin.poll_officers.officer.delete'),
                      admin_poll_officer_path(Poll.last, officer),
                      method: :delete,
                      class: "button hollow alert"
        %>
      </td>
    </tr>
  <%# end %>
</table>