<% provide :title, "Alianza para el Gobierno Abierto" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_open_government"),
          social_title: t("pages.processes.index.process_9_title"),
          social_description: t("pages.processes.index.process_9_description") %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: open_government_url %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 column">
      <%= back_link_to %>
      <h1>Alianza para el Gobierno Abierto</h1>
    </div>
  </div>
</div>

<div class="urbanistic-licenses">
  <div class="row margin-top">
    <div class="small-12 medium-6 large-8 column">
      <h2>Introducción</h2>

      <p>El pasado mes de abril la Ciudad de Madrid fue seleccionada para formar parte del <a href="http://www.opengovpartnership.org/how-it-works/subnational-government-pilot-program" target="_blank" title="<%= t('shared.target_blank_html')%>">Programa piloto para gobiernos subnacionales de la Alianza para el Gobierno Abierto</a>. Esta organización compuesta por gobiernos y sociedad civil, ayuda a que los gobiernos desarrollen medidas relevantes y específicas para avanzar en la participación y la transparencia, y certifica el cumplimiento de las mismas por medio de evaluadores independientes. En el contexto de este programa <strong>la Ciudad de Madrid debe plantear 5 compromisos para desarrollar el Gobierno Abierto</strong> durante el próximo año. Estos compromisos y su nivel de cumplimiento serán evaluados por la Alianza en 2018.</p>

      <p>A través de este espacio (o enviando un correo a <a href="mailto:ag.gobiernoabierto@madrid.es">ag.gobiernoabierto@madrid.es</a>) hasta el 20 de noviembre cualquier persona interesada pudo enviar comentarios y propuestas de cambios a estos compromisos. También puedes ver el <a href="<%= request.url %>debates/4863-alianza-para-el-gobierno-abierto">debate sobre la Alianza para el Gobierno abierto</a>.</p>

      <p>A continuación presentamos los cinco compromisos que desde el Área de Participación Ciudadana, Transparencia y Gobierno Abierto proponemos desarrollar.</p>

      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= link_to "Ver borrador", open_government_doc_path, class: "button expanded" %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 large-4 column">
      <h3>Información adicional</h3>
      <div class="download">
        <p>Desde el Área de Participación Ciudadana, Transparencia y Gobierno Abierto nos comprometemos a estudiar todas las propuestas que recibimos y a contestar a las mismas con la mayor brevedad posible.</p>

        <p>Para posibilitar el seguimiento de la evolución de estos compromisos, el Ayuntamiento de Madrid convocará reuniones semestrales abiertas a toda persona interesada en las que dará cuenta del grado de implementación en el que se encuentran los compromisos adquiridos.</p>
      </div>
    </div>
  </div>
</div>
