<h2><%= t("admin.hidden_budget_investments.index.title") %></h2>
<p><%= t("admin.shared.moderated_content") %></p>

<%= render "shared/filter_subnav", i18n_namespace: "admin.hidden_budget_investments.index" %>

<% if @investments.any? %>
  <h3 class="margin"><%= page_entries_info @investments %></h3>

  <table>
    <thead>
      <th scope="col"><%= t("admin.shared.title") %></th>
      <th scope="col" class="small-6"><%= t("admin.shared.description") %></th>
      <th scope="col" class="small-4"><%= t("admin.shared.actions") %></th>
    </thead>
    <tbody>
    <% @investments.each do |investment| %>
      <tr id="<%= dom_id(investment) %>">
        <td class="align-top">
          <strong><%= investment.title %></strong>
        </td>
        <td>
          <div class="moderation-description">
            <%= wysiwyg(investment.description) %>
          </div>
        </td>
        <td class="align-top">
          <%= render Admin::HiddenTableActionsComponent.new(investment) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @investments %>
<% else %>
  <div class="callout primary margin">
    <%= t("admin.hidden_budget_investments.index.no_hidden_budget_investments") %>
  </div>
<% end %>
