<%= paginator.render do -%>
  <div class="pagination-centered show-for-large-only">
    <ul class="pagination text-center margin-top" aria-label="Pagination">
      <%= first_page_tag unless current_page.first? %>
      <%= prev_page_tag unless current_page.first? %>

      <% each_page do |page| -%>
        <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>

      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    </ul>
  </div>
  <div class="pagination-centered hide-for-large-only">
    <ul class="pagination text-center margin-top" aria-label="Pagination">
      <%= prev_page_tag unless current_page.first? %>
      <%= page_tag current_page %>
      <%= next_page_tag unless current_page.last? %>
    </ul>
  </div>
<% end -%>
