<%= form_for(@enquiry, url: form_url) do |f| %>

  <%= render 'shared/errors', resource: @enquiry %>

  <%= f.hidden_field :proposal_id %>

  <div class="row">

    <div class="small-12 medium-6 column">
      <%= f.date_field(:open_at) %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.date_field(:closed_at) %>
    </div>

    <div class="small-12 column">
      <%= f.text_field :title, maxlength: Enquiry.title_max_length %>

      <%= f.text_field :question, maxlength: Enquiry.question_max_length %>

      <%= f.text_field :valid_answers %>

      <%= f.text_area :summary, rows: 4, maxlength: 200 %>

      <div class="ckeditor">
        <%= f.cktext_area :description, maxlength: Enquiry.description_max_length, ckeditor: { language: I18n.locale } %>
      </div>

      <%= f.text_field :external_url %>

      <div class="row">
        <%= f.collection_check_boxes(:geozone_ids, @geozones, :id, :name) do |b| %>
          <div class="small-6 medium-3 column">
            <%= b.label do %>
              <%= b.check_box + b.text %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%# TODO include all link %>

      <div class="row">
        <div class="actions small-12 medium-4 column margin-top">
          <%= f.submit(class: "button expanded", value: t("shared.save")) %>
        </div>
      </div>
    </div>
  </div>

<% end %>
