<div class="votes">
  <%= render Shared::InFavorAgainstComponent.new(debate) %>

  <span class="total-votes">
    <%= t("debates.debate.votes", count: debate.votes_score) %>
  </span>

  <% if !current_user %>
    <div tabindex="0">
      <%= render "shared/login_to_vote" %>
    </div>
  <% elsif organization? %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= t("votes.organizations") %>
      </p>
    </div>
  <% elsif !can_vote? %>
    <div class="participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <%= sanitize(t("votes.anonymous", verify_account: link_to_verify_account)) %>
      </p>
    </div>
  <% end %>
</div>
