<div class="row">
  <div class="small-12 column">
    <% if @poll.booths.empty? %>
      <div class="callout primary text-center">
        <%= t("admin.polls.show.no_booths") %>
      </div>
    <% else %>

      <h2><%= t("admin.polls.show.booths_title") %></h2>

      <table>
        <thead>
          <th><%= t("admin.polls.show.name") %></th>
          <th><%= t("admin.polls.show.location") %></th>
          <th><%= t("admin.polls.show.officers") %></th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% @poll.booths.each do |booth| %>
            <%= render partial: "admin/poll/booths/booth", locals: { booth: booth } %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>