<h3><%= t("admin.polls.show.booths_title") %></h3>

<% if @poll.booths.empty? %>
  <div class="callout primary margin-top">
    <%= t("admin.polls.show.no_booths") %>
  </div>
<% else %>
  <table class="margin">
    <thead>
      <th><%= t("admin.polls.show.table_name") %></th>
      <th><%= t("admin.polls.show.table_location") %></th>
      <th class="text-center"><%= t("admin.polls.show.table_assignment") %></th>
    </thead>
    <tbody>
      <% @poll.booths.each do |booth| %>
        <tr id="booth_<%= booth.id %>" class="booth">
          <td>
            <strong>
              <%= link_to booth.name, admin_booth_path(booth) %>
            </strong>
          </td>
          <td>
            <%= booth.location %>
          </td>
          <td class="text-center">
            <%= link_to t("admin.polls.show.remove_booth"),
                        admin_booth_assignment_path(poll: @poll, booth: booth),
                        method: :delete,
                        class: "button hollow alert" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
