<ul class="menu simple clear" id="assigned-resources-tabs">
  <li>
    <%= link_to admin_poll_path(@poll) do %>
      <%= t("admin.polls.show.questions_tab") %>
      (<%= @poll.questions.count %>)
    <% end %>
  </li>
  <li>
    <%= link_to admin_poll_booth_assignments_path(@poll) do %>
      <%= t("admin.polls.show.booths_tab") %>
      (<%= @poll.booth_assignments.select(:booth_id).distinct.count %>)
    <% end %>
  </li>
  <li>
    <%= link_to "#tab-officers" do %>
      <%= t("admin.polls.show.officers_tab") %>
      (<%= @poll.officer_assignments.select(:officer_id).distinct.count %>)
    <% end %>
  </li>
  <li>
    <%= link_to "#tab-recounts" do %>
      <%= t("admin.polls.show.recounts_tab") %>
    <% end %>
  </li>
  <li>
    <%= link_to "#tab-results" do %>
      <%= t("admin.polls.show.results_tab") %>
    <% end %>
  </li>
</ul>
