<%= render "admin/shared/globalize_locales", resource: @poll %>

<%= form_for [:admin, @poll] do |f| %>

  <% @poll.globalize_locales.each do |locale| %>
    <%= hidden_field_tag "delete_translations[#{locale}]", 0 %>
  <% end %>

<<<<<<< HEAD
  <div class="small-12 medium-6 column">
    <%= f.label :name, t("admin.shared.name") %>
    <% @poll.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= f.text_field "name_#{locale}",
                          class: "js-globalize-attribute",
                          data: { locale: locale },
                          style: display_translation?(locale),
                          label: false %>
=======
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.label :name, t("admin.shared.name") %>
      <% @poll.globalize_locales.each do |locale| %>
        <% globalize(locale) do %>
          <%= f.text_field "name_#{locale}",
                           class: "js-globalize-attribute",
                           data: { locale: locale },
                           style: display_translation?(locale),
                           label: false %>
        <% end %>
>>>>>>> fix identation
      <% end %>
    <% end %>
  </div>

  <div class="clear">
    <div class="small-12 medium-6 column">
      <%= f.text_field :starts_at,
                        value: @poll.starts_at.present? ? l(@poll.starts_at.to_date) : nil,
                        class: "js-calendar-full" %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.text_field :ends_at,
                        value: @poll.ends_at.present? ? l(@poll.ends_at.to_date) : nil,
                        class: "js-calendar-full" %>
    </div>
  </div>

<<<<<<< HEAD
  <div class="small-12 column">
    <%= f.label :summary, t("admin.shared.summary") %>
    <% @poll.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= f.text_area "summary_#{locale}",
                         rows: 4,
                         class: "js-globalize-attribute",
                         data: { locale: locale },
                         style: display_translation?(locale),
                         label: false %>
=======
  <div class="row">
    <div class="small-12 column">
      <%= f.label :summary, t("admin.shared.summary") %>
      <% @poll.globalize_locales.each do |locale| %>
        <% globalize(locale) do %>
          <%= f.text_area "summary_#{locale}",
                           rows: 4,
                           class: "js-globalize-attribute",
                           data: { locale: locale },
                           style: display_translation?(locale),
                           label: false %>
        <% end %>
>>>>>>> fix identation
      <% end %>
    <% end %>
  </div>

<<<<<<< HEAD
  <div class="small-12 column">
    <%= f.label :description, t("admin.shared.description") %>
    <% @poll.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= f.text_area "description_#{locale}",
                         rows: 8,
                         class: "js-globalize-attribute",
                         data: { locale: locale },
                         style: display_translation?(locale),
                         label: false %>
=======
  <div class="row">
    <div class="small-12 column">
      <%= f.label :description, t("admin.shared.description") %>
      <% @poll.globalize_locales.each do |locale| %>
        <% globalize(locale) do %>
          <%= f.text_area "description_#{locale}",
                           rows: 8,
                           class: "js-globalize-attribute",
                           data: { locale: locale },
                           style: display_translation?(locale),
                           label: false %>
        <% end %>
>>>>>>> fix identation
      <% end %>
    <% end %>
  </div>

  <div class="small-12 column">
    <%= render 'images/admin_image', imageable: @poll, f: f %>
  </div>

  <div class="clear">
    <div class="small-6 medium-6 column">
      <%= f.check_box :geozone_restricted, data: { checkbox_toggle: "#geozones" } %>
    </div>
  </div>

  <div id="geozones" style="<%= @poll.geozone_restricted? ? '' : 'display:none' %>">
    <div class="row">
      <%= f.collection_check_boxes(:geozone_ids, @geozones, :id, :name) do |b| %>
        <div class="small-6 medium-3 column">
          <%= b.label do %>
            <%= b.check_box + b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="clear">
    <div class="small-12 medium-4 large-2 column">
      <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                   class: "button success expanded margin-top" %>
    </div>
  </div>
<% end %>
