<%= render "shared/globalize_locales", resource: @poll %>

<%= translatable_form_for [:admin, @poll] do |f| %>
  <%= render "shared/errors", resource: @poll %>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-6 column">
        <%= f.date_field :starts_at %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.date_field :ends_at %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column">
        <%= translations_form.text_field :name %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :summary, rows: 4 %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :description, rows: 8 %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= render "images/admin_image", imageable: @poll, f: f %>
    </div>

    <div class="clear">
      <div class="small-6 medium-6 column">
        <%= f.check_box :geozone_restricted, data: { checkbox_toggle: "#geozones" } %>
      </div>
    </div>
  </div>

  <div id="geozones" style="<%= @poll.geozone_restricted? ? "" : "display:none" %>">
    <div class="row">
      <%= f.collection_check_boxes(:geozone_ids, @geozones, :id, :name) do |b| %>
        <div class="small-6 medium-3 column">
          <%= b.label do %>
            <%= b.check_box + b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= render SDG::RelatedListSelectorComponent.new(f) %>
  </div>

  <div class="row">
    <%# ---------- Users ---------- %>
    <div class="project-form-field">
      <%# Para buscar Debates %>
      <%= text_field_tag '', nil, placeholder: "Search Users", class: "form-control", style: "border-radius:10px", id: "users-search-form", onkeyup: "SearchFunction()" %>
      <% if !@project_users.empty? %>
        <%= f.label t("project.component.actual_delete", item:"Usuarios") %>
        <p><%= t("project.component.delete", item:"usuarios") %></p>
        <div id="participant_tags" class="tags scroll">
          <% @project_users.each do |user| %>
            <%# <a class="select-participants"><%= page.id%>
            <span id="span_tags">
              <input type="checkbox" name="delete_user_ids[]" value=<%= user.id %> />
              <%= user.username %>(<%= user.email %>)
            </span>
          <% end %>
        </div>
      <% end %>
      <% if !@users.empty? %>
        <br/>
        <%= f.label t("project.component.actual_add", item:"Usuarios") %>
        <p><%= t("project.component.add", item:"usuarios") %></p>
        <%= render "shared/filter_subnav", i18n_namespace: "admin.users.index" %>
        <div id="participant_tags" class="tags scroll">
          <% @users.each do |user| %>
            <%# <a class="select-participants"><%= page.id%>
            <span id="span_tags">
              <input type="checkbox" name="user_ids[]" value=<%= user.id %> />
              <%= user.username %>(<%= user.email %>)
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# ---------- Fin Users ---------- %>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>

<% end %>
