<h3><%= t("admin.polls.show.officers_title") %></h3>

<% if @poll.officers.empty? %>
  <div class="callout primary margin-top">
    <%= t("admin.polls.show.no_officers") %>
  </div>
<% else %>
  <table class="fixed margin">
    <thead>
      <th><%= t("admin.polls.show.table_name") %></th>
      <th><%= t("admin.polls.show.table_email") %></th>
      <th class="text-right"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @poll.officers.each do |officer| %>
        <tr id="officer_<%= officer.id %>" class="officer">
          <td>
            <strong>
              <%= link_to officer.name, admin_officer_assignments_path(officer: officer, poll: @poll) %>
            </strong>
          </td>
          <td>
            <%= officer.email %>
          </td>
          <td class="text-right">
            <%= link_to t("admin.polls.show.edit_officer_assignments"),
                        admin_officer_assignments_path(officer: officer, poll: @poll),
                        class: "button hollow" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>