<div class="row">
  <div class="small-12 column">
    <% if @poll.officers.empty? %>
      <div class="callout primary text-center">
        <%= t("admin.polls.show.no_booths") %>
      </div>
    <% else %>

      <h2><%= t("admin.polls.show.booths_title") %></h2>

      <table>
        <thead>
          <th><%= t("admin.polls.show.name") %></th>
          <th><%= t("admin.polls.show.location") %></th>
          <th><%= t("admin.polls.show.officers") %></th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% @poll.officers.each do |officer| %>
            <tr id="officer_<%= officer.id %>" class="officer">
              <td>
                <strong>
                  <%= link_to officer.name, admin_poll_officer_path(@poll, booth) %>
                </strong>
              </td>
              <td>
                <%= officer.name %>
              </td>
              <td>
                N <%= t("admin.booths.index.officers") %>
              </td>
              <td class="text-right">
                <%= link_to t("admin.actions.edit"),
                            edit_admin_poll_officer_path(@poll, officer),
                            class: "button hollow" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>