<% if @questions.blank? %>
  <div class="callout alert margin-bottom">
    <%= t('admin.shared.no_search_results') %>
  </div>
<% else %>
  <h3><%= t('admin.shared.search_results') %></h3>
<% end %>

<% if @questions.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("admin.polls.show.table_name") %></th>
        <th class="text-center"><%= t("admin.polls.show.table_assignment") %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <td>
          <%= question.title %>
        </td>
        <td class="text-center">
          <%= link_to t("admin.polls.show.add_question"),
                        add_question_admin_poll_path(poll_id: @poll.id, question_id: question.id),
                        method: :patch,
                        class: "button hollow" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
