<table>
  <thead>
    <tr>
      <th colspan="3"><%= @booths.blank? ? t('admin.polls.show.no_search_results') : t('admin.polls.show.search_results') %></th>
    </tr>
  </thead>
  <tbody>
    <% @booths.each do |booth| %>
    <tr>
      <td>
        <%= booth.name %>
      </td>
      <td>
        <%= booth.location %>
      </td>
      <td class="text-right">
        <% if @poll.booth_ids.include?(booth.id) %>
          <%= link_to t("admin.polls.show.remove_booth"),
                        admin_booth_assignment_path(poll: @poll, booth: booth),
                        method: :delete,
                        class: "button hollow alert" %>
        <% else %>
          <%= link_to t("admin.polls.show.add_booth"),
                        admin_booth_assignments_path(poll: @poll, booth: booth),
                        method: :post,
                        class: "button hollow" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>