<%= render 'shared/back_link' %>

<h2><%= t("admin.polls.edit.title") %></h2>
<%= render "form" %>

<!-- <form>
  <div class="row">
    <div class="small-12 medium-6 column">
      <label><%= t("admin.polls.edit.name") %></label>
      <input type="text" placeholder="<%= t('admin.polls.edit.name') %>">
    </div>

    <div class="small-12 medium-6 column">
      <label><%= t("admin.polls.edit.reference") %></label>
      <input type="text" placeholder="<%= t('admin.polls.edit.reference') %>">
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <label><%= t("admin.polls.edit.open_date") %></label>
      <input type="date">
    </div>

    <div class="small-12 medium-6 column">
      <label><%= t("admin.polls.edit.close_date") %></label>
      <input type="date">
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 column">
      <input type="submit" value="<%= t('admin.polls.edit.submit_button') %>" class="button success expanded">
    </div>
  </div> -->

</form>