<%= render "poll_header" %>

<div id="poll-resources">
  <%= render "filter_subnav" %>

  <div class="tabs-panel" id="tab-questions">
    <%= render "search_questions" %>
    <%= render "questions" %>
  </div>

  <div class="tabs-panel" id="tab-recounts">
    <%= render 'recounting' %>
  </div>

  <div class="tabs-panel" id="tab-results">
    <%= render 'results' %>
  </div>
</div>
