<%= render "shared/back_link" %>
<div class="clear"></div>

<h2 class="inline-block">
  <%= @poll.name %>
</h2>

<%= link_to t("admin.actions.edit"),
            edit_admin_poll_path(@poll),
            class: "button hollow float-right" %>

<div class="tabs-content" data-tabs-content="example-tabs">
  <%= render "filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-questions">
    <%= render "questions" %>
  </div>

  <div class="tabs-panel" id="tab-booths">
    <%= render "booths" %>
  </div>

  <div class="tabs-panel" id="tab-officers">
    <%= render 'officers' %>
  </div>
</div>