<%= render "poll_header" %>

<div id="poll-resources">
  <%= render "filter_subnav" %>

  <%= render "search_questions" %>
  <%= render "questions" %>

  <div class="tabs-panel" id="tab-results">
    <%= render 'results' %>
  </div>
</div>
