<%= back_link_to admin_booths_path %>

<h2><%= @booth.name %></h2>

<% if @officer.blank? %>
  <%= t("admin.poll_shifts.new.search_officer_text") %>
  <%= render "search_officers" %>
<% else %>
  <%= render "form" %>
<% end %> 

<div id="shifts">
  <% if @shifts.empty? %>
    <div class="callout primary margin-top">
      <%= t("admin.poll_shifts.new.no_shifts") %>
    </div>
  <% else %>
    <%= render "shifts" %>
  <% end %>
</div>