<%= render Moderation::Shared::IndexComponent.new(@proposals) do %>
  <table class="clear">
    <thead>
      <tr>
        <th><%= t("moderation.proposals.index.headers.proposal") %></th>
        <th><%= t("moderation.proposals.index.headers.moderate") %></th>
      </tr>
    </thead>

    <tbody>
      <% @proposals.each do |proposal| %>
        <tr id="proposal_<%= proposal.id %>">
          <td>
            <%= link_to proposal.title, proposal, target: "_blank" %>
            <br>
            <span class="date"><%= l proposal.updated_at.to_date %></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= proposal.flags_count %><span class="icon-flag flag-disable"></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= proposal.author.username %>
            <br>
            <div class="moderation-description">
              <%= wysiwyg(proposal.description) %>
            </div>
          </td>
          <td class="text-center">
            <%= check_box_tag "proposal_ids[]", proposal.id, nil, id: "#{dom_id(proposal)}_check" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
