<main>
  <span class="not-print">
    <%= render "admin/shared/budget_investment_search", url: management_budget_investments_path(@budget) %>
  </span>

  <div class="wrap row">
    <div id="budget-investments" class="budget-investments-list small-12 column">

      <div class="small-12 search-results">
        <%= tag.h2 t("management.budget_investments.filters.unfeasible") if params[:unfeasible].present? %>
        <%= tag.h2 t("management.budget_investments.filters.heading", heading: @heading.name) if @heading.present? %>
        <% if params[:search].present? %>
          <h2>
            <%= page_entries_info @investments %>
            <%= t("management.budget_investments.search_results", count: @investments.size, search_term: params[:search]) %>
          </h2>
        <% end %>
      </div>

      <% @investments.each do |investment| %>
        <%= render "/budgets/investments/investment",
          investment: investment,
          investment_ids: @investment_ids,
          ballot: @ballot %>
      <% end %>

      <%= paginate @investments %>
    </div>
  </div>
</main>
