<h2><%= t("admin.organizations.index.title") %></h2>

<!-- Search organizations -->
<%= form_for(Organization.new, url: search_admin_organizations_path, method: :get) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :term, "", placeholder: t("admin.organizations.index.search_placeholder") %>
    </div>
    <div class="form-inline small-12 medium-6 column">
      <%= f.submit t("admin.organizations.index.search"), class: "button radius success" %>
    </div>
  </div>
<% end %>
<!-- /. Search organizations -->

<%= render 'shared/filter_subnav', i18n_namespace: "admin.organizations.index" %>

<h3><%= page_entries_info @organizations %></h3>

<table>
  <% @organizations.each do |organization| %>
    <tr id="<%= dom_id(organization) %>">
    <td><%= organization.name %></td>
    <td><%= organization.email %></td>
    <td><%= organization.phone_number %></td>
    <% if organization.verified? %>
      <td class="verified">
        <i class="icon-check"></i>
        <%= t("admin.organizations.index.verified") %>
      </td>
    <% end %>
    <% if can? :verify, organization %>
      <td>
        <%= link_to t("admin.organizations.index.verify"),
                verify_admin_organization_path(organization, request.query_parameters),
                method: :put, class: "button radius tiny success"
        %>
      </td>
    <% end %>
    <% if organization.rejected? %>
      <td class="rejected">
        <i class="icon-x"></i>
        <%= t("admin.organizations.index.rejected") %>
      </td>
    <% end %>
    <% if can? :reject, organization %>
      <td><%= link_to t("admin.organizations.index.reject"),
                reject_admin_organization_path(organization, request.query_parameters),
                method: :put, class: "button radius tiny alert"
          %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @organizations %>
