<h2><%= t("admin.organizations.index.title") %></h2>

<!-- Search organizations -->
<%= form_for(User.new, url: search_admin_officials_path, as: :user, method: :get) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :email, "", placeholder: t("admin.officials.index.search_email_placeholder") %>
    </div>
    <div class="form-inline small-12 medium-6 column">
      <%= f.submit t("admin.officials.index.search"), class: "button radius success" %>
    </div>
  </div>
<% end %>
<!-- /. Search organizations -->

<dl class="sub-nav">
  <dt><%= t("admin.organizations.index.filter") %>:</dt>

  <% @valid_filters.each do |filter| %>
    <% if @filter == filter %>
      <dd class="active"><%= t("admin.organizations.index.filters.#{filter}") %></dd>
    <% else %>
      <dd><%= link_to t("admin.organizations.index.filters.#{filter}"),
        current_path_with_query_params(filter: filter) %></dd>
    <% end %>
  <% end %>
</dl>

<h3><%= page_entries_info @organizations %></h3>

<table>
  <% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.email %></td>
    <td><%= organization.phone_number %></td>
    <!-- Badge collective name, "collective" by default -->
    <td>Colectivo</td>
    <!-- /. Badge collective name, "collective" by default -->
    <td>
    <!-- Edit collective bagde, "collective" by default -->
      <%= link_to t("admin.organizations.index.edit"), "", class: "button radius tiny" %>
    <!-- /. Edit collective bagde, "collective" by default -->
    </td>
    <% if organization.verified? %>
      <td class="verified">
        <i class="icon-check"></i>
        <%= t("admin.organizations.index.verified") %>
      </td>
    <% end %>
    <% if can? :verify, organization %>
      <td>
        <%= link_to t("admin.organizations.index.verify"),
                verify_admin_organization_path(organization, request.query_parameters),
                method: :put, class: "button radius tiny success"
        %>
      </td>
    <% end %>
    <% if organization.rejected? %>
      <td class="rejected">
        <i class="icon-x"></i>
        <%= t("admin.organizations.index.rejected") %>
      </td>
    <% end %>
    <% if can? :reject, organization %>
      <td><%= link_to t("admin.organizations.index.reject"),
                reject_admin_organization_path(organization, request.query_parameters),
                method: :put, class: "button radius tiny alert"
          %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @organizations %>
