<h2><%= t("admin.debates.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.debates.index" %>

<h3><%= page_entries_info @debates %></h3>

<table>
  <% @debates.each do |debate| %>
    <tr id="<%= dom_id(debate) %>">
      <td>
        <strong><%= debate.title %></strong>
        <br>
        <div class="moderation-description">
          <%= debate.description %>
        </div>
      </td>
      <td>
        <%= link_to t("admin.actions.restore"),
              restore_admin_debate_path(debate, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button radius tiny success no-margin" %>
      </td>
      <td>
        <% unless debate.confirmed_hide? %>
          <%= link_to t("admin.actions.confirm_hide"),
                confirm_hide_admin_debate_path(debate, request.query_parameters),
                method: :put,
                class: "button radius tiny warning right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @debates %>
