<h2><%= t("admin.debates.index.title") %></h2>

<!-- Search debate --> 
 <%= form_tag admin_debates_path, method: :get do %> 
     <div class="row"> 
       <div class="small-12 medium-6 column">  
         <%= text_field_tag "search", params[:search], 
                          placeholder: t("admin.debates.index.search_placeholder") %> 
       </div> 
       <div class="form-inline small-12 medium-6 column"> 
         <%= submit_tag t("admin.debates.index.search"), class: 'button radius success' %> 
       </div> 
     </div> 
 <% end %> 
 <!-- /. Search debate -->
 
<%= render 'shared/filter_subnav', i18n_namespace: "admin.debates.index" %>

<h3><%= page_entries_info @debates %></h3>

<table>
  <% @debates.each do |debate| %>
    <tr id="<%= dom_id(debate) %>">
      <td>
        <strong><%= debate.title %></strong>
        <br>
        <div class="moderation-description">
          <%= debate.description %>
        </div>
      </td>
      <td>
        <%= link_to t("admin.actions.restore"),
              restore_admin_debate_path(debate, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button small success no-margin" %>
      </td>
      <td>
        <% unless debate.confirmed_hide? %>
          <%= link_to t("admin.actions.confirm_hide"),
                confirm_hide_admin_debate_path(debate, request.query_parameters),
                method: :put,
                class: "button small warning float-right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @debates %>
