<h2><%= t("admin.debates.search.title") %></h2>

<!-- Search debates -->
<%= form_for(Debate.new, url: search_admin_debates_path, method: :get) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :term,  params[:term], placeholder: t("admin.debates.index.search_placeholder") %>
    </div>
    <div class="form-inline small-12 medium-6 column">
      <%= f.submit t("admin.debates.index.search"), class: "button radius success" %>
    </div>
  </div>
<% end %>
<!-- /. Search debates -->

<h3><%= page_entries_info @debates %></h3>

<table>
  <% @debates.each do |debate| %>
    <tr id="<%= dom_id(debate) %>">
      <td>
        <strong><%= debate.title %></strong>
        <br>
        <div class="moderation-description">
          <%= debate.description %>
        </div>
      </td>
      <td>
        <%= link_to t("admin.actions.restore"),
              restore_admin_debate_path(debate, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button radius tiny success no-margin" %>
      </td>
      <td>
        <% unless debate.confirmed_hide? %>
          <%= link_to t("admin.actions.confirm_hide"),
                confirm_hide_admin_debate_path(debate, request.query_parameters),
                method: :put,
                class: "button radius tiny warning right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @debates %>