<h2><%= t("admin.debates.index.title") %></h2>

<h3><%= @debate.title %></h3>

<div><%= @debate.description %></div>

<%= link_to t("admin.debates.show.back"), admin_debates_path,
            class: "button radius small secondary" %>

<%= link_to t("admin.actions.restore"), restore_admin_debate_path(@debate),
            method: :put, data: { confirm: t("admin.actions.confirm") },
            class: "button radius small success" %>
