<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.debates") %> - <%= @debate.title %>
<% end %>

<div id="<%= dom_id(@debate) %>" class="debate-show">
  <h2><%= @debate.title %></h2>

  <% if @debate.conflictive? %>
    <div data-alert class="callout alert margin-top">
      <strong><%= t("debates.show.flag") %></strong>
    </div>
  <% end %>

  <%= render Shared::DetailedInfoComponent.new(@debate, comments_path: debate_path(@debate, anchor: "comments")) %>

  <%= auto_link_already_sanitized_html wysiwyg(@debate.description) %>

  <%= render Admin::Debates::VotesComponent.new(@debate) %>
</div>

<%= render "shared/tags", taggable: @debate %>
