<%= render "admin/shared/globalize_locales", resource: @sub_area %>

<%= translatable_form_for [:admin, @area, @sub_area] do |f| %>
  <% if @sub_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_area.errors.count, "error") %> prohibited this sub_area from being saved:</h2>

      <ul>
      <% @sub_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="small-12">
    <%= f.fields_for @area, index: @area.id do |area_f| %>
      <%= area_f.text_field :name, disabled: true, label: t('admin.sub_areas.area') %>
    <% end %>
    <%= f.hidden_field :area_id, value: @area.id %>
    <%= f.translatable_fields do |translations_form| %>
      <%= translations_form.text_area :name, label: t('admin.sub_areas.name') %>
    <% end %>
    <div class="actions">
      <%= f.submit t("admin.actions.#{action}"), class: "button success" %>
    </div>
  </div>
<% end %>
