<div class="auth row">
  <div class="small-12 medium-8 column small-centered">
    <div class="panel">
      <h2><%= t("devise_views.organizations.registrations.success.title") %></h2>
      <p><%= t("devise_views.organizations.registrations.success.thank_you_html") %></p>
      <p><%= t("devise_views.organizations.registrations.success.instructions_1_html") %></p>
      <p><%= t("devise_views.organizations.registrations.success.instructions_2_html") %></p>
      <p><%= t("devise_views.organizations.registrations.success.instructions_3_html") %></p>
      <p>
        <%= link_to t("devise_views.organizations.registrations.success.back_to_index"),
            root_path, class: "button radius small margin-top" %>
      </p>
    </div>
  </div>
</div>
