<%= render "admin/shared/globalize_tabs",
           resource: @process,
           display_style: lambda { |locale| enable_translation_style(@process, locale) } %>

<%= translatable_form_for [:admin, @process], url: url, html: {data: {watch_changes: true}} do |f| %>

  <%= render "shared/errors", resource: @process %>

  <div class="small-12 column margin-top">
    <%= f.check_box :homepage_enabled, label: t("admin.legislation.processes.form.homepage_enabled") %>
  </div>

  <%= f.translatable_fields do |translations_form| %>
    <div class="small-12 column end">
      <div class="ckeditor">
        <%= translations_form.cktext_area :homepage,
                                          language: I18n.locale,
                                          label: t("admin.legislation.processes.form.homepage"),
                                          ckeditor: { height: 500, toolbar: 'admin' },
                                          hint: t("admin.legislation.processes.form.homepage_description") %>
      </div>
    </div>
  <% end %>

  <div class="small-12 medium-3 column clear end">
    <%= f.submit(class: "button success expanded", value: t("admin.legislation.processes.#{admin_submit_action(@process)}.submit_button")) %>
  </div>
<% end %>
