<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.hi") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.thanks") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.sincerely") %>
  </p>
</td>
