<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.budget_investment_unfeasible.hi") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px; padding-left: 12px; border-left: 2px solid #ccc;">
    <%= @investment.unfeasibility_explanation %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
  <%= t("mailers.budget_investment_unfeasible.new_html",
      url: link_to(t("mailers.budget_investment_unfeasible.new_href"),
      new_budget_investment_url(@investment.budget), style: "color: #2895F1; text-decoration: underline;")) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.budget_investment_unfeasible.sorry") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.budget_investment_unfeasible.sincerely") %>
  </p>
</td>