<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.budget_investment_unselected.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.hi") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.thanks") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unselected.sincerely") %>
  </p>
</td>
