<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.direct_message_for_sender.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(t("mailers.direct_message_for_sender.text", receiver: @direct_message.receiver.name)) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= @direct_message.title %>
  </p>

  <div style="<%= css_for_mailer_text %>">
    <%= mailer_simple_format(@direct_message.body) %>
  </div>
</td>
