<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="<%= css_for_mailer_heading %>">
    <%= @direct_message.title %>
  </h1>

  <div style="<%= css_for_mailer_text %>">
    <%= simple_format sanitize_and_auto_link(@direct_message.body), {}, sanitize: false %>
  </div>

  <table style="width: 100%; border-top: 1px solid #DEE0E3; margin-top: 60px;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; padding-top: 24px; text-align: center;">
          <%= link_to user_url(@direct_message.sender), style: css_for_mailer_button, target: "_blank" do %>
            <%= t("mailers.direct_message_for_receiver.reply",
                sender: @direct_message.sender.name) %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-left: 10px;">
          <p style="<%= css_for_mailer_text %>">
            <%= sanitize(t("mailers.direct_message_for_receiver.unsubscribe",
                account: link_to(t("mailers.direct_message_for_receiver.unsubscribe_account"),
                                account_url, style: css_for_mailer_link))) %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</td>
