<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.email_verification.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.email_verification.text") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.email_verification.instructions",
        verification_link: link_to(
          t("mailers.email_verification.click_here_to_verify"),
          email_url(email_verification_token: @token),
          style: css_for_mailer_link)
      ),
      attributes: %w[href style]
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.email_verification.instructions_2",
        document_type: humanize_document_type(@document_type),
        document_number: @document_number)
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.email_verification.thanks") %>
  </p>
</td>
