<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= auto_link_already_sanitized_html wysiwyg(@newsletter.body) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.config.unsubscribe_text",
        notifications: link_to(
          t("mailers.config.notifications_link"),
          edit_subscriptions_url(token: @token),
          style: css_for_mailer_link
        ),
        notification: User.human_attribute_name(:newsletter)
      ),
      attributes: %w[href style]
    ) %>
  </p>
</td>
