<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.proposal_published.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.proposal_published.intro", author: @proposal.author.name)
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.proposal_published.text",
        proposal: @proposal.title)
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t(
        "mailers.budget_investment_created.follow",
        link: link_to(t("mailers.proposal_published.follow_link"),
                      proposal_url,
                      style: css_for_mailer_link)
      ),
      attributes: %w[href style]
    ) %>
  </p>

  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; text-align: center;">
          <%= link_to proposal_url(@proposal, anchor: "social-share"), style: css_for_mailer_button do %>
            <%= t("mailers.proposal_published.share") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.proposal_published.sincerely") %>
  </p>
</td>