<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= @notification.proposal.title %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= @notification.body %>
  </p>

  <table style="width: 100%; border-top: 1px solid #DEE0E3; margin-top: 60px;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; padding-top: 24px; text-align: right; padding-right: 12px; width: 50%;">
          <%= link_to "#comments", style: "font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; background: #f7f5f2; border-radius: 6px; color: #3d3d66!important; font-weight: bold; margin: 0px; padding: 10px 15px; text-align: center; text-decoration: none; min-width: 200px; display: inline-block;" do %>
            <%= image_tag('icon_mailer_share.png',  style: "border: 0; display: inline-block; width: 100%; max-width: 16px", alt: "") %>
            <%= t('mailers.proposal_notification.share') %>
          <% end %>
        </td>

        <td style="padding-bottom: 12px; padding-top: 24px; text-align: left; padding-left: 12px; width: 50%;">
          <%= link_to "#social-share", style: "font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; background: #f7f5f2; border-radius: 6px; color: #3d3d66!important; font-weight: bold; margin: 0px; padding: 10px 15px; text-align: center; text-decoration: none; min-width: 200px; display: inline-block;" do %>
            <%= image_tag('icon_mailer_comment.png',  style: "border: 0; display: inline-block; width: 100%; max-width: 16px; vertical-align: middle;", alt: "") %>
            <%= t('mailers.proposal_notification.comment') %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</td>
