<td>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-left: 10px;">
          <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin-bottom: 0;">
            <%= t('mailers.proposal_notification_digest.title',
                  org_name: Setting['org_name']) %>
          </h1>
          <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
            <%= t('mailers.proposal_notification_digest.info',
                  org_name: Setting['org_name']) %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <% @notifications.each do |notification| %>
    <table style="width: 100%; border-top: 1px solid #DEE0E3; padding-top: 12px;">
      <tbody>
        <tr>
          <td style="padding-bottom: 20px; padding-left: 10px;">
            <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 20px;font-weight: bold;line-height: 24px; margin: 0;">
              <%= link_to notification.notifiable.title, proposal_url(notification.notifiable.proposal, anchor: "tab-notifications"), style: "color: #2895F1; text-decoration: none;" %>
            </p>
            <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px; margin-top: 0; color: #cccccc;">
              <%= notification.notifiable.proposal.title %>&nbsp;&bull;&nbsp;
              <%= notification.notifiable.proposal.created_at.to_date %>&nbsp;&bull;&nbsp;
              <%= notification.notifiable.proposal.author.name %>
            </p>
            <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
              <%= notification.notifiable.body %>
            </p>

            <table style="width: 100%;">
              <tbody>
                <tr>
                  <td style="padding-bottom: 12px;">
                    <%= link_to proposal_url(notification.notifiable.proposal, anchor: "social-share"), style: "font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; background: #f7f5f2; border-radius: 6px; color: #3d3d66!important; font-weight: bold; margin: 0px; padding: 10px 15px; text-align: center; text-decoration: none; min-width: 160px; display: inline-block;" do %>
                      <%= image_tag('icon_mailer_share.png',  style: "border: 0; display: inline-block; width: 100%; max-width: 16px", alt: "") %>
                      <%= t('mailers.proposal_notification_digest.share') %>
                    <% end %>

                    <%= link_to proposal_url(notification.notifiable.proposal, anchor: "comments"), style: "font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; background: #f7f5f2; border-radius: 6px; color: #3d3d66!important; font-weight: bold; margin: 0px; padding: 10px 15px; text-align: center; text-decoration: none; min-width: 160px; display: inline-block; margin-left: 12px;" do %>
                      <%= image_tag('icon_mailer_comment.png',  style: "border: 0; display: inline-block; width: 100%; max-width: 16px; vertical-align: middle;", alt: "") %>
                      <%= t('mailers.proposal_notification_digest.comment') %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-left: 10px;">
          <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px; margin: 0; font-style: italic; padding-bottom: 20px;">
            <%= t('mailers.proposal_notification_digest.unsubscribe',
                account: link_to(t('mailers.proposal_notification_digest.unsubscribe_account'),
                                account_url, style: "color: #2895F1; text-decoration: none;")).html_safe %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</td>
