<h2>
  <%= t("mailers.reply.title") %>
</h2>

<p>
  <%= t("mailers.reply.hi") %> <strong><%= @recipient.name %></strong>,
</p>

<p>
  <%= t("mailers.reply.new_reply_by_html", commenter: @reply.author.name) %> <%= link_to @commentable.title, commentable_url(@commentable), style: "color: #2895F1; text-decoration:none;" %>
</p>

<p>
  <%= text_with_links @reply.body %>
</p>

<p>
  <%= t("mailers.config.manage_email_subscriptions") %> <%= link_to t("account.show.title"), account_url %>
</p>
