<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.reply.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.reply.hi") %> <strong><%= @email.recipient.name %></strong>,
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(t("mailers.reply.new_reply_by", commenter: @email.reply.author.name)) %>
    <%= link_to @email.commentable.title, comment_url(@email.reply.id), style: css_for_mailer_link %>
  </p>

  <div style="<%= css_for_mailer_text + css_for_mailer_quote %>">
    <%= simple_format sanitize_and_auto_link(@email.reply.body), {}, sanitize: false %>
  </div>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.config.manage_email_subscriptions") %>
    <%= link_to t("account.show.title"), account_url, style: css_for_mailer_link %>
  </p>
</td>
