<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.meeting.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.meeting.hi") %> <strong><%= @follower.name %></strong>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.meeting.notification", meeting: @meeting.title) %> <%= link_to @meeting.title, assemblies.meeting_url(@meeting), style: "color: #2895F1; text-decoration:none;" %>
  </p>

</td>
