<p><%= t("mailers.unfeasible_spending_proposal.hi") %></p>

<p><%= t("mailers.unfeasible_spending_proposal.unfeasible",
         title: @spending_proposal.title) %></p>

<p><%= @spending_proposal.feasible_explanation %></p>

<p><%= t("mailers.unfeasible_spending_proposal.new_html",
         url: link_to(t("mailers.unfeasible_spending_proposal.new_href"),
                      new_spending_proposal_url)) %></p>

<p><%= t("mailers.unfeasible_spending_proposal.reconsider") %></p>

<p><%= t("mailers.unfeasible_spending_proposal.sorry") %></p>

<p><%= t("mailers.unfeasible_spending_proposal.sincerely") %></p>
<p><%= t("mailers.unfeasible_spending_proposal.signatory") %></p>