<td style="<%= css_for_mailer_content %>">
  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.user_invite.title",
        org: Setting["org_name"]) %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.user_invite.text",
        org: Setting["org_name"]) %>
  </p>

  <p style="text-align: center;">
    <%= link_to t("mailers.user_invite.button"), new_user_registration_url, style: css_for_mailer_button %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.user_invite.ignore") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.user_invite.thanks") %>
  </p>
</td>
