<% cache [locale_and_user_status, commentable_cache_key(@proposal), @all_visible_comments, @all_visible_comments.map(&:author), @proposal.comments_count, @comment_flags] do %>
  <section class="row-full comments">
    <div class="row">
      <div id="comments" class="small-12 column">
        <h2>
          <%= t("proposals.show.comments_title") %>
          <span>(<%= @proposal.comments_count %>)</span>
        </h2>

        <% if user_signed_in? %>
          <%= render 'comments/form', {commentable: @proposal, parent_id: nil, toggeable: false} %>
        <% else %>
        <br>

        <div class="alert-box radius info">
          <%= t("proposals.show.login_to_comment",
              signin: link_to(t("votes.signin"), user_omniauth_authorize_path(:openid))).html_safe %>
          </div>
        <% end %>

        <% @root_comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment  %>
        <% end %>
        <%= paginate @root_comments %>
      </div>
    </div>
  </section>
<% end %>
