<div id="<%= dom_id(proposal) %>" class="proposal-featured small-12 column">
  <div class="panel">
    <div class="content small-12 medium-9 left">
      <h3><%= link_to proposal.title, proposal %></h3>
      <div class="info">
        <span class="author">
          <% if proposal.author.hidden? || proposal.author.erased? %>
            <%= t("proposals.show.author_deleted") %>
          <% else %>
            <%= proposal.author.name %>
          <% end %>
        </span>
        <span>&nbsp;&bull;&nbsp;</span>
        <%= t("proposals.proposal.supports", count: proposal.total_votes) %>
      </div>
    </div>

    <div id="<%= dom_id(proposal) %>_votes" class="small-12 medium-3 left">
      <%= render 'featured_votes', proposal: proposal %>
    </div>
  </div>
</div>
