<ul class="tabs"
    id="proposals_tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>
  <li class="tabs-title is-active">
    <%= link_to "#tab-comments" do %>
      <h3>
        <%= t("proposals.show.comments_tab") %>
        <span class="js-comments-count">(<%= @proposal.comments_count %>)</span>
      </h3>
    <% end %>
  </li>
  <li class="tabs-title">
    <%= link_to "#tab-notifications" do %>
      <h3>
        <%= t("proposals.show.notifications_tab") %>
        (<%= @notifications.count %>)
      </h3>
    <% end %>
  </li>
</ul>
