<%= form_for(@proposal, url: form_url) do |f| %>
  <%= render 'shared/errors', resource: @proposal %>

  <div class="row">

<!-- TODO: Por ahora solo se mostrará un problema/desafío -->

    <!-- <div id="select-problem" class="small-12 medium-6 column" >
      <%= f.label :problem_id,  t("proposals.form.proposal_problem") %>
      <%= f.select :problem_id, valid_problems.collect {|p| [ p.title, p.id ] }, {include_blank: t("problems.form.blank"), label: false},  {:onchange=> "jsProblemChanged()"} %>
    </div> -->
<!--
    <div class="small-12 column" id="problem-hidden">
      <div class="panel callout radius">
        <h5>Definir el problema</h5>
        <%= f.fields_for :problem do |prob| %>
        <div class="row">
          <div class="small-12 medium-12 column">
            <%= prob.text_field :title, label: "Problema que afecta a tu comunidad y crees que se debería solucionar"%>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-12 column">
            <%= prob.text_area :cause, label: t("proposals.create.form.label_problem_cause") %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-12 column">
            <%= prob.text_area :consequence,  label: t("proposals.create.form.label_problem_consequence") %>
          </div>
        </div>
          <%= prob.hidden_field :user_id, :value => @current_user.id %>
         <% end %>
      </div>
    </div> -->

    <div  id="problem-display">
      <div class="small-12 column problem-display">
          <!-- TODO: Acá se debe mostrar el problema elegido -->
          <div class="summary-problem float-left">
            <%= link_to problem_path(challenge) do %>
              <h3 class="title-challenge white"><%= challenge.title%> </h3>
              <%= f.hidden_field :problem_id, :value => challenge.id %>
              <p class="white"> <%= challenge.summary%> </p>
              <p> <%= challenge.call_to_action %> </p>
              <% if challenge.budget? %>
                <p class="white"> <%= t("proposals.form.problem.budget") %> <%= challenge.budget%> </p> </br>
              <% end %>
              <p> <%= t("proposals.form.problem.community") %> <%= challenge.geozones_name %>
              </p>
            <% end %>
          </div>
          <div class="deadline-problem float-right">
            <span> Quedan</span> <strong class="mark-days">
            <%=distance_of_time_in_days(challenge.ends_at, Date.today)%></strong><span> días para crear propuestas </span>
          </div>
      </div>
  </div>

    <!-- TODO: Por ahora las gezones serán las mismas que del desafío por defceto  -->
    <% challenge.geozones.map(&:id).each do |id| %>
      <%= hidden_field_tag "proposal[geozone_ids][]", id %>
    <% end %>

    <%= f.hidden_field :for_challenge, :value => true %>

    <div class="text-width">
      <div class="small-12 column">
        <%= f.label :title, t("proposals.form.proposal_title") %>
        <%= f.text_field :title, maxlength: Proposal.title_max_length, placeholder: t("proposals.form.proposal_title"), label: false, data: {js_suggest_result: "js_suggest_result", js_suggest: "#js-suggest", js_url: suggest_proposals_path}%>
      </div>

      <div class="small-12 column">
        <%= f.label :summary, t("proposals.form.proposal_summary") %>
        <p class="note"><%= t("proposals.form.proposal_summary_note") %></p>
        <%= f.text_area :summary, rows: 3, maxlength: 200, label: false %>
      </div>

      <div class="small-12 column">
        <%= f.label :description, t("proposals.form.proposal_text") %>
        <p class="note"><%= t("proposals.form.proposal_description_note") %></p>
        <%= f.text_area :description, rows: 5, label: false %>
      </div>
      <!--
      <div class="small-12 column column-with-margin">
        <%= f.label :what, t("proposals.form.proposal_what") %>
        <%= f.text_area :what, rows: 2, label: false,
                        placeholder: "" %>
      </div> -->

      <div class="small-12 column column-with-margin">
        <%= f.label :why, t("proposals.form.proposal_why") %>
        <p class="note"><%= t("proposals.form.proposal_why_note") %></p>
        <%= f.text_area :why, rows: 2, label: false,
                        placeholder: "" %>
      </div>

      <div id="js-suggest"></div>

      <!-- <div class="small-12 column">
        <%= f.label :question, t("proposals.form.proposal_question") %>
        <span class="note-marked">
          <%= t("proposals.form.proposal_question_example_html") %>
        </span>
        <%= f.text_field :question, maxlength: Proposal.question_max_length, placeholder: t("proposals.form.proposal_question"), label: false %>
      </div> -->



      <div class="small-12 column">
        <%= f.label :video_url, t("proposals.form.proposal_video_url") %>
        <p class="note"><%= t("proposals.form.proposal_video_url_note") %></p>
        <%= f.text_field :video_url, placeholder: t("proposals.form.proposal_video_url"), label: false %>
      </div>

      <div class="small-12 column">
        <%= f.label :external_url, t("proposals.form.proposal_external_url") %>
        <p class="note"><%= t("proposals.form.proposal_document_note") %></p>
        <%= f.text_field :external_url, placeholder: t("proposals.form.proposal_external_url"), label: false %>
      </div>



      <div class="small-12 column">
        <%= f.label :tag_list, t("proposals.form.tags_label") %>
        <p class="note"><%= t("proposals.form.tags_instructions") %></p>

        <div id="category_tags" class="tags">
          <% @categories.each do |tag| %>
            <a class="js-add-tag-link"><%= tag.name %></a>
          <% end %>
        </div>

        <br>
        <%= f.text_field :tag_list, value: @proposal.tag_list.to_s,
                          label: false,
                          placeholder: t("proposals.form.tags_placeholder"),
                          class: 'js-tag-list' %>
      </div>

      <% if current_user.unverified? %>
        <div class="small-12 column">
          <%= f.label :responsible_name, t("proposals.form.proposal_responsible_name") %>
          <p class="note"><%= t("proposals.form.proposal_responsible_name_note") %></p>
          <%= f.text_field :responsible_name, placeholder: t("proposals.form.proposal_responsible_name"), label: false %>
        </div>
      <% end %>

      <div class="small-12 column">
        <% if @proposal.new_record? %>
          <%= f.label :terms_of_service do %>
            <%= f.check_box :terms_of_service, title: t('form.accept_terms_title'), label: false %>
            <span class="checkbox">
              <%= t("form.accept_terms",
                  conditions: link_to(t("form.conditions"), "/conditions", target: "blank")).html_safe %>
            </span>
          <% end %>
        <% end %>
      </div>



      <div class="actions small-12 column">
        <%= f.submit(class: "button float-center", value: t("proposals.#{action_name}.form.submit_button")) %>
      </div>
    </div>
  </div>
<% end %>
