<div id="<%= dom_id(proposal) %>"
     class="proposal clear <%= ("successful" if proposal.successful?) %>"
     data-type="proposal">
  <div class="panel <%= "with-image" if proposal.image.present? %>">
    <% if proposal.successful? %>
      <div class="icon-successful"></div>
    <% end %>

    <% if proposal.image.present? %>
      <div class="panel-image">
        <%= image_tag proposal.image.variant(:thumb),
                      alt: proposal.image.title.unicode_normalize %>
      </div>
    <% end %>

    <%= render Shared::BasicContentComponent.new(proposal) do %>
      <%= render Shared::BasicInfoComponent.new(proposal) do %>
        <% if Geozone.any? %>
          <span class="geozone">
            <%= link_to geozone_name(proposal), proposals_path(search: geozone_name(proposal)) %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <% if show_proposal_votes? %>
      <div id="<%= dom_id(proposal) %>_votes" class="supports-container">
        <% if proposal.successful? %>
          <div class="padding">
            <div class="supports">
              <%= render Proposals::SupportsComponent.new(proposal) %>
            </div>
          </div>
        <% elsif proposal.archived? %>
          <div class="padding">
            <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
            <p><%= t("proposals.proposal.archived") %></p>
          </div>
        <% else %>
          <%= render "votes", proposal: proposal %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
