<div id="<%= dom_id(proposal) %>" class="proposal clear">
  <div class="panel">
    <div class="row">

      <div class="small-12 medium-9 column">
        <div class="proposal-content">
          <span class="label left"><%= t("proposals.proposal.proposal") %></span>
          <i class="icon-proposals"></i>
          <h3><%= link_to proposal.title, proposal %></h3>
          <p class="proposal-info">
            <i class="icon-comments"></i>&nbsp;
            <%= link_to t("proposals.proposal.comments", count: proposal.comments_count), proposal_path(proposal, anchor: "comments") %>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= l proposal.created_at.to_date %>
          </p>
          <div class="proposal-description">
            <%= link_to proposal.summary, proposal %>
            <div class="truncate"></div>
          </div>
          <%= render "shared/tags", proposal: proposal, limit: 5 %>
        </div>
      </div>

      <div id="<%= dom_id(proposal) %>_votes" class="small-12 medium-3 column text-center">
          <%= render 'proposals/votes', proposal: proposal %>
      </div>

    </div>
  </div>
</div>
