<div id="<%= dom_id(proposal) %>" class="proposal clear">
  <div class="panel">
    <div class="row">

      <div class="small-12 medium-9 column">
        <div class="proposal-content">
          <span class="label-proposal left"><%= t("proposals.proposal.proposal") %></span>
          <i class="icon-proposals"></i>
          <h3><%= link_to proposal.title, namespaced_proposal_path(proposal) %></h3>
          <p class="proposal-info">
            <i class="icon-comments"></i>&nbsp;
            <%= link_to t("proposals.proposal.comments", count: proposal.comments_count), namespaced_proposal_path(proposal, anchor: "comments") %>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= l proposal.created_at.to_date %>

            <% if proposal.author.hidden? || proposal.author.erased? %>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <span class="author">
                <%= t("proposals.show.author_deleted") %>
              </span>
            <% else %>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <span class="author">
                <%= proposal.author.name %>
              </span>
              <% if proposal.author.official? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="label round level-<%= proposal.author.official_level %>">
                  <%= proposal.author.official_position %>
                </span>
              <% end %>
            <% end %>

            <% if proposal.author.verified_organization? %>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <span class="label round is-association">
                <%= t("shared.collective") %>
              </span>
            <% end %>
          </p>
          <div class="proposal-description">
            <p><%= link_to proposal.summary, namespaced_proposal_path(proposal) %></p>
            <div class="truncate"></div>
          </div>
          <%= render "shared/tags", taggable: proposal, limit: 5 %>
        </div>
      </div>

      <div id="<%= dom_id(proposal) %>_votes" class="small-12 medium-3 column text-center">
          <%= render 'votes',
                    { proposal: proposal, vote_url: vote_proposal_path(proposal, value: 'yes') } %>
      </div>

    </div>
  </div>
</div>
