<section role="main">

  <div class="wrap row">
    <div id="proposals" class="Proposals-list small-12 medium-9 column js-order-<%= @current_order.dasherize %>">
      <div class="filters">
        <div class="small-12 medium-7 column">
          <% if @search_terms %>
              <h2 class="margin-top">
                <%= page_entries_info @proposals %>
                <%= t("proposals.index.search_results", count: @proposals.size, search_term: @search_terms) %>
              </h2>
          <% elsif @tag_filter %>
              <h2 class="margin-top">
                <%= page_entries_info @proposals %>
                <%= t("proposals.index.filter_topic", count: @proposals.size, topic: @tag_filter) %>
              </h2>
          <% end %>
        </div>
        <% if @tag_filter || @search_terms %>
          <div class="small-12 medium-5 margin-top inline-block proposals-order">
            <h6 class="inline-block">
              <%= t("proposals.index.select_order") %>
            </h6>
        <% else %>
          <div class="small-12 column margin-top inline-block">
          <h2 class="inline-block">
            <%= t("proposals.index.select_order_long") %>
          </h2>
        <% end %>
        <%= render 'shared/order_select', i18n_namespace: "proposals.index" %>
      </div>
      <div class="show-for-small-only">
        <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'button radius expand' %>
      </div>
      <%= render @proposals %>
      <%= paginate @proposals %>
    </div>
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'button radius expand' %>
        <%= render "shared/tag_cloud" %>
      </aside>
    </div>
  </div>
</section>
