<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>

<section role="main">
  <div class="wrap row">
    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'button radius expand' %>
        <%= proposal_filters filter: @filter %>
      </aside>
    </div>

    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <%= render "proposals" %>
    </div>
  </div>
</section>
