<% provide :tracking_page_number, "30" %>

<div class="proposal-form row">

  <div class="small-12 medium-9 column">
    <% if @proposal.proceeding? %>
      <%= back_link_to "/derechos-humanos" %>
    <% else %>
      <%= back_link_to %>
    <% end %>

    <% if feature?(:budgets) && Budget.accepting.any? %>
      <%= render "custom/shared/type_selection_proposal" %>
    <% end %>

    <h1><%= t("proposals.new.start_new") %></h1>

    <% unless @proposal.proceeding? %>
      <div data-alert class="callout primary">
        <%= link_to more_info_proposals_path, title: t('shared.target_blank_html'), target: "_blank" do %>
          <%= t("proposals.new.more_info")%>
        <% end %>
      </div>
    <% end %>

    <%= render "proposals/form", form_url: proposals_url %>
  </div>

  <% unless @proposal.proceeding? %>
    <div class="small-12 medium-3 column">
      <span class="icon-proposals float-right"></span>
      <h2><%= t("proposals.new.recommendations_title") %></h2>
      <ul class="recommendations">
        <li><%= t("proposals.new.recommendation_one") %></li>
        <li><%= t("proposals.new.recommendation_two") %></li>
        <li><%= t("proposals.new.recommendation_three") %></li>
      </ul>
    </div>
  <% end %>
</div>
