<div class="proposal-new row">

  <div class="small-12 medium-9 column">
    <%= link_to proposals_path, class: "back" do %>
      <span class="icon-angle-left"></span>
      <%= t("proposals.new.back_link") %>
    <% end %>
    <h1><%= t("proposals.new.start_new") %></h1>

    <div class="callout featured">
      <%= link_to participatory_budget_path do %>
        <h3><%= t("proposals.new.participatory_budget") %></h3>
        <p><%= t("proposals.new.participatory_budget_info_html") %></p>
      <% end %>
    </div>

    <div data-alert class="callout primary">
      <%= link_to "/proposals_info", title: t('shared.target_blank_html'), target: "_blank" do %>
        <%= t("proposals.new.more_info")%>
      <% end %>
    </div>
    <%= render "proposals/form", form_url: proposals_url %>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-proposals float-right"></span>
    <h2><%= t("proposals.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </div>
</div>
