<div class="proposal-new row">

  <div class="small-12 medium-9 column">
    <%= link_to proposals_path, class: "left back" do %>
      <i class="icon-angle-left left"></i>
      <%= t("proposals.new.back_link") %>
    <% end %>
    <h1><%= t("proposals.new.start_new") %></h1>
    <div class="alert-box info radius">
      <%= link_to "/proposals_info", target: "_blank" do %>
        <%= t("proposals.new.more_info")%>
      <% end %>
    </div>
    <%= render "proposals/form", form_url: proposals_url %>
  </div>

  <div class="small-12 medium-3 column">
    <i class="icon-proposals right"></i>
    <h2><%= t("proposals.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </div>
</div>
