<div class="proposal-edit row">

  <div class="small-12 column">

    <h1 class="inline-block"><%= t("proposals.retire_form.title") %></h1>

    <h3><%= link_to @proposal.title, @proposal %></h3>

    <div data-alert class="callout warning">
     <%= t("proposals.retire_form.warning") %>
    </div>

    <%= render "shared/globalize_locales", resource: @proposal, manage_languages: false %>

    <%= translatable_form_for(@proposal, url: retire_proposal_path(@proposal)) do |f| %>
      <%= render "shared/errors", resource: @proposal %>
      <div class="row column">
        <div class="small-12 medium-6 large-4 column">
          <%= f.select :retired_reason, retire_proposals_options,
            include_blank: t("proposals.retire_form.retired_reason_blank") %>
        </div>
      </div>

      <div class="row column">
        <%= f.translatable_fields do |translations_form| %>
          <div class="small-12 medium-9 column float-left">
            <%= translations_form.text_area :retired_explanation,
                  rows: 4, maxlength: 500,
                  placeholder: t("proposals.retire_form.retired_explanation_placeholder") %>
          </div>
        <% end %>
      </div>

      <div class="row column">
        <div class="actions small-12 medium-3 column">
          <%= f.submit(class: "button expanded", value: t("proposals.retire_form.submit_button")) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
