<% provide :title do %><%= @proposal.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: proposal_url(@proposal),
            social_title: @proposal.title,
            social_description: @proposal.summary %>
<% end %>
<% cache [locale_and_user_status(@proposal), @proposal, @proposal.author, Flag.flagged?(current_user, @proposal), @proposal_votes] do %>
  <div class="proposal-show text-width">
    <div id="<%= dom_id(@proposal) %>" class="">
      <div class="">
        <%= render "shared/back_link" %>

        <% if author_of?(@proposal, current_user) %>
          <%= link_to t("proposals.show.send_notification"), new_proposal_notification_path(proposal_id: @proposal.id),
                      class: 'button hollow float-right' %>
        <% end %>

        <% if current_user && @proposal.editable_by?(current_user) %>
          <%= link_to edit_proposal_path(@proposal), class: 'edit-proposal button hollow float-right' do %>
            <%= t("proposals.show.edit_proposal_link") %>
          <% end %>
        <% end %>

        <div class="small gray page-title">propuesta</div>
        <h2 class="page-title"><%= @proposal.title %></h2>
        <p>
          <i class="fa fa-map-marker"></i> <%= @proposal.geozones_name %> <span class="line-text">|</span>
          <i class="fa fa-calendar"> </i> <%= l @proposal.created_at.to_date %>
          <% if @proposal.author.hidden? || @proposal.author.erased? %>
            <span class="line-text">|</span> <i class="fa fa-user-o"> </i>
            <span><%= t("proposals.show.author_deleted") %></span>
          <% else %>
          <span class="line-text">|</span> <i class="fa fa-user-o"> </i>
            <span class> <%= @proposal.author.name %> </span>
          <% end %>
            <% if @proposal.problem.present? %>
            <span class="line-text">|</span> Desafío: <%= link_to @proposal.problem.title, problem_path(@proposal.problem) %></strong>
            <% end %>
        </p>
        <% if @proposal.retired? %>
          <div data-alert class="callout alert margin-top proposal-retired">
            <strong>
              <%= t("proposals.show.retired_warning") %><br>
              <%= link_to t("proposals.show.retired_warning_link_to_explanation"), "#retired_explanation" %>
            </strong>
          </div>
        <% elsif @proposal.conflictive? %>
          <div data-alert class="callout alert margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>
        <h5><%= @proposal.summary %></h5>
        <!-- Tags -->
        <%= render 'shared/tags', taggable: @proposal %>

        <!-- Apoyos -->
        <% if @proposal.cached_votes_up.present? %>
          <div class="bg-blue white padding text-center">
            <div class="counter">
              <%= @proposal.cached_votes_up %> vecinos apoyan esta propuesta
              <% if @proposal.successful? && !@proposal.for_challenge %>
                <p>
                  <%= t("proposals.proposal.successful",
                      voting: link_to(t("proposals.proposal.voting"), polls_path)).html_safe %>
                </p>
                <% if can? :create, Poll::Question %>
                  <p class="text-center">
                    <%= link_to t('poll_questions.create_question'),
                                new_admin_question_path(proposal_id: @proposal.id),
                                class: "button hollow primary" %>
                  </p>
                <% end %>
              <% elsif @proposal.archived? %>
                <div class="padding text-center">
                  <p>
                    <strong><%= t("proposals.proposal.supports", count: @proposal.total_votes) %></strong>
                  </p>
                  <p><%= t("proposals.proposal.archived") %></p>
                </div>
              <% elsif @proposal.successful? && @proposal.for_challenge && @proposal.problem.ends_at < Date.today %>
              <% else %>
                <%= render 'votes',
                          { proposal: @proposal, vote_url: vote_proposal_path(@proposal, value: 'yes') } %>
              <% end %>
            </div>
          </div>
        <% end %>


        <!-- Video -->
        <% if @proposal.video_url.present? %>
          <div class="small-12 medium-7 small-centered">
            <div class="flex-video">
              <div id="js-embedded-video" data-video-code="<%= embedded_video_code %>"></div>
            </div>
          </div>
        <% end %>

        <!-- Descripción de la propuesta -->
        <%= safe_html_with_links @proposal.description %>

        <!-- Enlace a documentos -->
        <% if @proposal.external_url.present? %>
          <p>Más información:
            <i class="fa fa-external-link" aria-hidden="true"></i> <%= text_with_links @proposal.external_url %>
          </p>
        <% end %>

        <!-- Si la propuesta esta vencida -->
        <% if @proposal.retired? %>
          <div id="retired_explanation" class="callout">
            <h2><%= t('proposals.show.retired') %>: <%= t("proposals.retire_options.#{@proposal.retired_reason}") unless @proposal.retired_reason == 'other' %></h2>
            <%= simple_format text_with_links(@proposal.retired_explanation), {}, sanitize: false %>
          </div>
        <% end %>

        <!-- Espacio de edición pal admin -->
        <div class="js-moderator-proposal-actions margin">
          <%= render 'proposals/actions', proposal: @proposal %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<div class="tabs-content" data-tabs-content="proposals-tabs" role="tablist">
  <%= render "proposals/filter_subnav" %>
  <%= render "proposals/notifications" %>

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "proposals/comments" %>
  </div>
</div>
