<% if @banner_styles.present? %>
  <h2><%= t("admin.settings.index.banners") %></h2>

  <table>
    <tbody>
      <% @banner_styles.each do |setting| %>
        <tr>
          <td>
            <strong><%= t("settings.#{setting.key}") %></strong>
          </td>

          <td>
            <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
              <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
              <%= f.submit(t('admin.settings.index.update_setting'), class: "button hollow") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3><%= t("admin.settings.index.no_banners_styles") %></h3>
<% end %>
