<ul class="tabs" data-tabs id="settings-tabs">
  <li class="tabs-title is-active">
    <%= link_to "#tab-configuration" do %>
      <%= t("admin.settings.index.title") %>
    <% end %>
  </li>

  <li class="tabs-title">
    <%= link_to "#tab-feature-flags" do %>
      <%= t("admin.settings.index.feature_flags") %>
    <% end %>
  </li>

  <li class="tabs-title">
    <%= link_to "#tab-banner-styles" do %>
      <%= t("admin.settings.index.banners") %>
    <% end %>
  </li>

  <li class="tabs-title">
    <%= link_to "#tab-banner-images" do %>
      <%= t("admin.settings.index.banner_imgs") %>
    <% end %>
  </li>

  <li class="tabs-title">
    <%= link_to "#tab-map-configuration" do %>
      <%= t("admin.settings.index.map.title") %>
    <% end %>
  </li>
</ul>
