<h2><%= t("admin.settings.index.dashboard.title") %></h2>

<table>
  <tbody>
    <tr>
      <td class="small-12 medium-4">
        <strong><%= t("settings.#{successful_proposal_setting.key}") %></strong>
        <br>
        <span class="small">
          <%= t("settings.#{successful_proposal_setting.key}_description") %>
        </span>
      </td>
      <td class="small-12 medium-8">
        <%= form_for(successful_proposal_setting,
                     url: admin_setting_path(successful_proposal_setting),
                     html: { id: "edit_#{dom_id(successful_proposal_setting)}"}) do |f| %>

          <div class="small-12 medium-6 large-9 column">
            <%= f.select :value, successful_proposals.collect { |p| [p.title, p.id] },
                                 { include_blank: true, label: false },
                                 label: false, id: dom_id(successful_proposal_setting) %>
          </div>

          <div class="small-12 medium-6 large-3 column">
            <%= f.submit(t("admin.settings.index.update_setting"),
                         class: "button hollow expanded") %>
          </div>
        <% end %>
      </td>
    </tr>

    <%= render 'setting_text_field',     setting: poll_feature_short_title_setting %>
    <%= render 'setting_textarea_field', setting: poll_feature_description_setting %>
    <%= render 'setting_text_field',     setting: poll_feature_link_setting %>

    <%= render 'setting_text_field',     setting: email_feature_short_title_setting %>
    <%= render 'setting_textarea_field', setting: email_feature_description_setting %>

    <%= render 'setting_text_field',     setting: poster_feature_short_title_setting %>
    <%= render 'setting_textarea_field', setting: poster_feature_description_setting %>
  </tbody>
</table>
