<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting_name") %></th>
      <th><%= t("admin.settings.setting_value") %></th>
    </tr>
  </thead>
  <tbody>
    <% settings.each do |setting| %>
      <tr>
        <td class="small-6">
          <strong><%= t("settings.#{setting.key}") %></strong>
          <br>
          <span class="small">
            <%= t("settings.#{setting.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>
        <td class="small-6">
          <% if setting.content_type? %>
            <%= render "admin/settings/content_types_settings_form", setting: setting %>
          <% else %>
            <%= render "admin/settings/settings_form", setting: setting %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
