<h2><%= t("admin.settings.index.title") %></h2>

<ul class="admin-list">
  <% @settings.each do |setting| %>
    <li>
      <strong><%= t("settings.#{setting.key}") %></strong>

      <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
        <%= f.text_field :value, label: false, id: dom_id(setting) %>
        <%= f.submit(t('admin.settings.index.update_setting'), class: "button radius tiny success") %>
      <% end %>
    </li>
  <% end %>
</ul>
