<h2><%= t("admin.settings.index.title") %></h2>

<ul class="admin-list">
  <% @settings.each do |setting| %>
    <li>
      <strong><%= t("settings.#{setting.key}") %></strong>

      <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
        <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
        <%= f.submit(t('admin.settings.index.update_setting'), class: "button small success") %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2><%= t("admin.settings.index.feature_flags") %></h2>

<ul class="admin-list">
  <% @feature_flags.each do |feature_flag| %>
    <li>
      <strong><%= t("settings.#{feature_flag.key}") %></strong>

      <div>
        <%= feature_flag.enabled? ? t("admin.settings.index.features.enabled") : t("admin.settings.index.features.disabled") %>
      <div>

      <%= form_for(feature_flag, url: admin_setting_path(feature_flag), html: { id: "edit_#{dom_id(feature_flag)}"}) do |f| %>

        <%= f.hidden_field :value, id: dom_id(feature_flag), value: (feature_flag.enabled? ? "" : "active") %>
        <%= f.submit(t("admin.settings.index.features.#{feature_flag.enabled? ? 'disable' : 'enable'}"), class: "button small #{feature_flag.enabled? ? 'warning' : 'success'}", data: {confirm: t("admin.actions.confirm")}) %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @banner_styles.present? %>
  <h2><%= t("admin.settings.index.banners") %></h2>

  <ul class="admin-list">
      <% @banner_styles.each do |setting| %>
        <li>
          <strong><%= t("settings.#{setting.key}") %></strong>

          <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
            <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
            <%= f.submit(t('admin.settings.index.update_setting'), class: "button small success") %>
          <% end %>
        </li>
      <% end %>
  </ul>
<% end %>  

<% if @banner_imgs.present?%>
  <h2><%= t("admin.settings.index.banner_imgs") %></h2>

  <ul class="admin-list">
       <% @banner_imgs.each do |setting| %>
        <li>
          <strong><%= t("settings.#{setting.key}") %></strong>

          <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
            <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
            <%= f.submit(t('admin.settings.index.update_setting'), class: "button small success") %>
          <% end %>
        </li>
      <% end %>
  </ul>
<% end %>
