<h1>Settings</h1>
<div class="tabs-content" data-tabs-content="settings-tabs">
  <%= render "filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-configuration">
    <%= render "configuration" %>
  </div>

  <div class="tabs-panel" id="tab-feature-flags">
    <%= render "feature_flags" %>
  </div>

  <div class="tabs-panel" id="tab-banner-styles">
    <%= render "banner_styles" %>
  </div>

  <div class="tabs-panel" id="tab-banner-images">
    <%= render "banner_images" %>
  </div>

  <div class="tabs-panel" id="tab-map-configuration">
    <%= render "map_configuration" %>
  </div>
</div>
