<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_budgets_url %>
<% end %>

<div class="row">
  <div class="menu small-12 medium-3 column">

    <%= back_link_to help_path %>

    <ul class="vertical menu clear">
      <li><a href="#1"><strong>¿Qué son los presupuestos participativos?</strong></a></li>
      <li><a href="#2"><strong>¿Qué cantidad destina el Ayuntamiento a los presupuestos participativos y cómo se reparten en la ciudad?</strong></a></li>
      <li><a href="#3"><strong>¿Qué diferencia hay entre la sección de propuestas de la web y los proyectos que se plantean en los presupuestos participativos?</strong></a></li>
      <li><a href="#4"><strong>¿Cuándo se lleva a cabo el proceso de presupuestos participativos en 2018?</strong></a></li>
      <li><a href="#5"><strong>¿En qué consiste la presentación de proyectos?</strong></a></li>
      <li><a href="#6"><strong>¿En qué consiste el apoyo de proyectos?</strong></a></li>
      <li><a href="#7"><strong>¿En qué consiste la evaluación de proyectos?</strong></a></li>
      <li><a href="#8"><strong>¿En qué consiste la votación final de proyectos?</strong></a></li>
      <li><a href="#9"><strong>¿Cuáles son los requisitos para proponer, apoyar o votar proyectos?</strong></a></li>
      <li><a href="#10"><strong>¿Cuál es el resultado final tras la votación de los presupuestos participativos?</strong></a></li>
      <li><a href="#11"><strong>¿Puedo acudir a mi Junta de Distrito a presentar proyectos?</strong></a></li>
      <li><a href="#12"><strong>¿Pueden participar asociaciones, fundaciones y ONG? ¿Y empresas?</strong></a></li>
      <li><a href="#13"><strong>¿Qué proyectos puedo plantear?</strong></a></li>
      <li><a href="#14"><strong>¿En qué se diferencia un proyecto para toda la ciudad de un proyecto para un distrito? ¿Se puede cambiar la categoría?</strong></a></li>
      <li><a href="#15"><strong>¿Pueden plantearse proyectos que tarden más de un año en hacerse realidad?</strong></a></li>
      <li><a href="#16"><strong>¿Qué ocurre si hay proyectos repetidos o muy similares?</strong></a></li>
      <li><a href="#17"><strong>¿Cómo se analizan los proyectos durante la fase de evaluación? ¿Qué proyectos pasan a la fase de votación final?</strong></a></li>
      <li><a href="#18"><strong>¿Existen mecanismos presenciales para participar? ¿Se ha planteado llegar a los ciudadanos y ciudadanas con dificultades de acceso a Internet o en situación de exclusión?</strong></a></li>
      <li><a href="#19"><strong>¿Qué son las hojas de firmas para recoger apoyos?</strong></a></li>
      <li><a href="#20"><strong>¿Qué características evalúa el personal técnico del Ayuntamiento para marcar el proyecto como válido?</strong></a></li>
      <li><a href="#21"><strong>¿Mi proyecto puede considerarse inviable?</strong></a></li>
      <li><a href="#22"><strong>¿Qué diferencia la fase de apoyos de la votación final?</strong></a></li>
      <li><a href="#23"><strong>¿Puedo votar proyectos de cualquier distrito?</strong></a></li>
      <li><a href="#24"><strong>¿Cómo se asegura que cada persona vota una única vez?</strong></a></li>
      <li><a href="#25"><strong>¿Qué pasa después de votar?</strong></a></li>
      <li><a href="#26"><strong>¿Qué ocurre en caso de incompatibilidad entre proyectos?</strong></a></li>
      <li><a href="#27"><strong>¿Puede ocurrir que un proyecto seleccionado en la votación final no llegue a ser realizado?</strong></a></li>
      <li><a href="#28"><strong>¿Cómo puedo seguir la evolución de los proyectos?</strong></a></li>
      <li><a href="#29"><strong>¿Existe alguna experiencia de presupuestos participativos parecida en algún otro lugar?</strong></a></li>
      <li><a href="#30"><strong>Manual de funcionamiento de las mesas de participación presencial para la selección de los proyectos de presupuestos participativos 2018</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1>Preguntas frecuentes sobre los presupuestos participativos</h1>

    <h2 id="1">¿Qué son los presupuestos participativos?</h2>
    <p>Los presupuestos participativos son unos procesos democráticos en los que la ciudadanía decide de manera directa a qué se destina una parte del presupuesto municipal. Las personas que participan a través de Decide Madrid plantean proyectos de gasto, pasan varias fases de apoyos, evaluación y votación, y el Ayuntamiento lleva a cabo los proyectos más votados por la ciudadanía a partir del año siguiente.</p>

    <h3 id="2">¿Qué cantidad destina el Ayuntamiento a los presupuestos participativos y cómo se reparten en la ciudad?</h3>
    <p>Los presupuestos participativos que se deciden en 2018 y se ejecutarán a partir de 2019 están dotados con 100 millones de euros. Esta cantidad se dividirá en dos partes: 70 millones de euros que se destinarán a proyectos localizados en los distritos, y 30 millones de euros destinados a proyectos para toda la ciudad de Madrid.</p>

    <p>El presupuesto de cada distrito es directamente proporcional a su número de habitantes e inversamente proporcional a su renta per cápita.</p>

    <h3 id="3">¿Qué diferencia hay entre la sección de propuestas de la web y los proyectos que se plantean en los presupuestos participativos?</h3>

    <p>Las propuestas ciudadanas no tienen los límites de los presupuestos participativos. Así, mientras que en la sección de <%= link_to "propuestas ciudadanas", proposals_path %> de Decide Madrid se puede proponer cualquier cosa que el Ayuntamiento de Madrid pueda hacer, los presupuestos participativos consisten en plantear directamente proyectos de gasto de una parte del presupuesto municipal del año siguiente.</p>

    <p>Por otro lado, las propuestas ciudadanas están siempre abiertas a lo largo de todo el año y se llevan a votación en el momento que alcancen un número determinado de apoyos (1% de los empadronados mayores de 16 años, que suponen <%= setting["votes_for_proposal_success"] %> apoyos), mientras que los presupuestos participativos solo ocurren en un periodo concreto cada año y, se realizan siempre los proyectos más votados hasta agotar el presupuesto designado cada año.</p>

    <h3 id="4">¿Cuándo se lleva a cabo el proceso de presupuestos participativos en 2018?</h3>
    <p>Las fases del proceso son las siguientes:</p>

    <ul>
      <li><strong>Presentación de proyectos</strong>: 23 enero – 25 febrero.</li>
      <li><strong>Apoyo de proyectos</strong>: 5 marzo – 19 marzo.</li>
      <li><strong>Evaluación de proyectos</strong>: 20 marzo – 7 mayo.</li>
      <li><strong>Votación final</strong>: 15 mayo - 30 junio.</li>
      <li><strong>Difusión de los proyectos más votados</strong>: mediados de julio.</li>
    </ul>

    <h3 id="5">¿En qué consiste la presentación de proyectos?</h3>
    <p>En la fase de presentación de proyectos, cualquier persona empadronada en Madrid puede presentar proyectos de gasto, tanto para toda la ciudad como para algún distrito. Los proyectos se presentan a través de la <%= link_to "página de presupuestos", budgets_path %> de Decide Madrid o en las Oficinas de Atención a la Ciudadanía. Pueden verse en la web cuando se presentan. Si hay proyectos similares entre sí, el Ayuntamiento notificará a sus autores ofreciéndoles la posibilidad de presentar proyectos conjuntos.</p>

    <p>En la fase de presentación de proyectos, cualquier persona empadronada en Madrid puede presentar proyectos de gasto, tanto para toda la ciudad como para algún distrito. Los proyectos se presentan a través de la web de <a href="https://decide.madrid.es/">Decide Madrid</a>, en las 26 <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">Oficinas de Atención a la Ciudadanía</a> o en los <a href="https://foroslocales.madrid.es/" target="_blank">Foros Locales</a>.</p>

    <p>Todo el mundo puede ver los proyectos en la web de Decide Madrid en cuanto se presentan. Además, se contacta con los autores o autoras de proyectos similares para ofrecerles la posibilidad de presentar sus proyectos de manera conjunta.</p>

    <h3 id="6">¿En qué consiste el apoyo de proyectos?</h3>
    <p>La fase de apoyo de proyectos, una fase intermedia, sirve para priorizar los proyectos que revisará el personal técnico municipal. Los más apoyados pasan a la fase final de votación tras su evaluación.</p>
    <p>Puede apoyar cualquier persona empadronada en Madrid a partir de 16 años a través de la web Decide Madrid y en cualquiera de las 26 Oficinas de Atención a la Ciudadanía repartidas por todos los distritos de Madrid. Además, el proceso de recogida de apoyos de una propuesta puede realizarse también a través de hojas de firmas, cuyo modelo puede descargarse en <a href="https://decide.madrid.es/docs/formulario_propuestas_ciudadanas.pdf" target="_blank">este documento PDF</a>.</p>

    <h3 id="7">¿En qué consiste la evaluación de proyectos?</h3>
    <p>En la fase de evaluación de proyectos, el Ayuntamiento evalúa los proyectos más apoyados bajo la coordinación del Área de Participación Ciudadana, Transparencia y Gobierno Abierto en colaboración con el Área o Distrito correspondiente.</p>

    <p>La evaluación confirma que los proyectos son válidos, viables y legales (se asegura que son competencia del Ayuntamiento y realizables) y pueden incluirse en el presupuesto municipal. Asimismo, se realiza un presupuesto estimativo del coste económico de cada proyecto.</p>

    <p>Los proyectos cuyo coste supere el presupuesto previsto, no entren en el ámbito competencial del Ayuntamiento, sean contrarios a la normativa de aplicación o inviables técnicamente, serán excluidos del resto del proceso.</p>

    <p>Al finalizar el periodo se publican todos los proyectos, tanto aprobados como rechazados, con sus informes y valoraciones correspondientes.</p>

    <h3 id="8">¿En qué consiste la votación final de proyectos?</h3>
    <p>En la fase de votación final, todas las personas empadronadas en Madrid a partir de 16 años pueden votar proyectos para toda la ciudad y para un distrito concreto a su elección. Se puede votar aunque no se haya participado anteriormente y no es necesario ser residente en un distrito para poder apoyar o votar los proyectos de ese distrito.</p>

    <p>Tanto en la votación de proyectos para toda la ciudad como para los distritos, se publica el presupuesto disponible y los proyectos con su coste estimado. Se pueden votar proyectos uno a uno hasta agotar el presupuesto, aunque no es necesario agotarlo completamente. Se puede votar un único proyecto si así lo decide la persona participante. Los proyectos votados se visualizan en una barra superior, donde se pueden modificar los votos en cualquier momento hasta el final de la fase de votación, incluso cancelar los votos del distrito elegido y votar en otro, ya que no hace falta confirmar la votación en ningún momento.</p>

    <h3 id="9">¿Cuáles son los requisitos para proponer, apoyar o votar proyectos?</h3>
    <p>Cualquier persona empadronada en la ciudad de Madrid puede proponer un proyecto de presupuestos participativos. Para apoyar y votar un proyecto, además de estar empadronada, debes ser mayor de 16 años.</p>
    <p>Para que el Ayuntamiento de Madrid compruebe que estás empadronado debes verificar tu cuenta a través de la web Decide Madrid. En las <%= link_to "preguntas frecuentes", faq_path(anchor: "5") %> te explicamos cómo crear y verificar una cuenta en Decide Madrid.</p>

    <h3 id="10">¿Cuál es el resultado final tras la votación de los presupuestos participativos?</h3>
    <p>El resultado final del proceso se obtiene tras la votación con todos los proyectos ordenados por número de votos para la ciudad y para cada distrito. En cada lista se van seleccionando los proyectos desde el más votado hasta al menos votado, teniendo en cuenta que cada proyecto incluido no supere el presupuesto restante destinado a dicha lista. Si un proyecto supera este límite, se ignora y se pasa a la siguiente.</p>

    <p>La selección final se integra en el proyecto inicial del Presupuesto General del Ayuntamiento de Madrid que apruebe la Junta de Gobierno. Una vez aprobados los presupuestos por el Pleno, se publica cada uno de los proyectos seleccionados con la descripción de las actuaciones.</p>

    <p>El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto coordina todo el proceso, siendo la garante de su neutralidad y efectividad.</p>

    <h3 id="11">¿Puedo acudir a mi Junta de Distrito a presentar proyectos?</h3>
    <p>Los <a href="https://foroslocales.madrid.es/" target="_blank">Foros Locales</a> de las Juntas de Distrito llevan a cabo encuentros sobre presupuestos participativos donde puedes debatir y plantear proyectos, para que todas las personas que quieran participar presencialmente puedan hacerlo con facilidad. En estos espacios se promueve el diagnóstico, debate y diseño colectivo de proyectos.</p>

    <h3 id="12">¿Pueden participar asociaciones, fundaciones y ONG? ¿Y empresas?</h3>
    <p>Los proyectos tienen que presentarse individualmente, aunque las organizaciones pueden estar representadas por una persona. Así, al registrar un proyecto en la web de Decide Madrid existe la posibilidad de señalar, en su caso, que se trata de un proyecto respaldado por una asociación, un colectivo o un Foro Local.</p>

    <h3 id="13">¿Qué proyectos puedo plantear?</h3>
    <p>Puedes proponer proyectos de competencia municipal en materia de gasto corriente en bienes y servicios, ayudas o subvenciones e inversiones públicas.</p>

    <p>Inversiones públicas son básicamente todo aquello que el Ayuntamiento puede construir o adquirir y que su duración prevista es superior a un año.</p>

    <p>Quedarán excluidos de este conjunto los siguientes proyectos:</p>

    <ul>
      <li>Proyectos que afecten a contratos ya vigentes.</li>
      <li>Proyectos que vayan destinados a beneficiar a una persona o entidad concreta, y no al interés público.</li>
      <li>Proyectos de gasto en bienes corrientes y servicios cuyo gasto se extienda más allá de dos años.</li>
    </ul>

    <p>Describe el proyecto con tus propias palabras, no hace falta que sea una descripción técnica compleja. Aunque cuanto mejor lo expliques, será más fácil para el Ayuntamiento evaluarlo y para la gente apoyarlo y votarlo.</p>

    <p>Algunos ejemplos de proyectos posibles:</p>
    <p>Servicios o trabajos a crear o realizar que puedan ponerse en marcha por los servicios municipales o por terceros (capítulo de gasto II):</p>
    <ul>
      <li>Creación de talleres y cursos.</li>
      <li>Alquilar un tipo de infraestructura o material.</li>
      <li>Realización de estudios.</li>
      <li>Suministros de material que no se incluya en un inventario (para consumir en el año), repartir material escolar por ejemplo, o abrigos, o instrumentos musicales.</li>
      <li>Servicios nuevos que no estén incluidos en los ya contratados por los servicios municipales (por ejemplo, un servicio de gestoría gratuito para la ciudadanía, o la creación de un servicio de educación ambiental para la participación en la conservación de los parques, etc.).</li>
      <li>Cualquier actuación que no esté ya contemplada en los presupuestos de los distintos servicios municipales.</li>
      <li>Materiales y útiles de administración; alimentos y utensilios; productos químicos, farmacéuticos y de laboratorio; arrendamientos de locales para desarrollo de actividades; servicio de mantenimiento y conservación de instalaciones; servicios de difusión e información.</li>
    </ul>
    <p>Todo aquello que el Ayuntamiento pueda construir o adquirir y su duración prevista sea superior a un año (capítulo de gasto VI):</p>
    <ul>
      <li>Creación de nuevas infraestructuras: urbanización, viales, pasos a distinto nivel, señalización vial, mobiliario urbano, alumbrado, parques, zonas ajardinadas, árboles y jardineras, fuentes e hidrantes, alcantarillado, etc.</li>
      <li>Reposición de infraestructuras: adecuación de solares, remodelación de viales y de su señalización, reforma de alumbrado, remodelación de parques, zonas verdes, reforma de fuentes y estanques, etc.</li>
      <li>Construcción o reforma de edificios: centros de día, centros de mayores, centros atención personas sin hogar, centros de servicios sociales bibliotecas, centros culturales, instalaciones deportivas, polideportivos, centros de enseñanza, escuelas de música, promoción y gestión de vivienda de protección pública, etc.</li>
      <li>Adquisición o reposición de elementos de transporte: autobuses, vehículos para bomberos, policía, agentes de movilidad, etc.</li>
      <li>Aplicaciones informáticas, propiedad intelectual: desarrollo de aplicaciones, web etc.</li>
    </ul>
    <p>Becas, ayudas, concursos, convenios (capítulos de gasto IV y VII):</p>
    <ul>
      <li>Otorgar becas para realizar cursos.</li>
      <li>Convocar concursos y premios para realizar actuaciones de interés.</li>
      <li>Convenios con el Ayuntamiento para poder ofrecer servicios que actualmente no están disponibles (convenio con una Universidad para hacer un taller, convenio con ONGs para un fin concreto, sin que se vulnere los criterios de concurrencia que exige la Ley, nunca a una determinada entidad).</li>
      <li>Ayudas que actualmente no se estén dando o se quieran aumentar: ayudas para instalaciones de accesibilidad, de insonorización, de embellecimiento del paisaje urbano. Cualquier subvención debe estar sujeta a Derecho y permitir la libre concurrencia, nunca a alguien o una entidad determinada.</li>
    </ul>

    <p><strong>NO es un proyecto viable</strong></p>

    <ul class="no-bullet">
      <li><span class="icon-x delete"></span>Construcción de institutos y colegios públicos (la competencia sobre su construcción es de la Comunidad de Madrid).</li>
      <li><span class="icon-x delete"></span>Construcción de Centros de Salud (solo es posible en el caso de Centros de ssalud municipales).</li>
      <li><span class="icon-x delete"></span>Infraestructuras de carreteras de acceso a Madrid y de ferrocarril.</li>
      <li><span class="icon-x delete"></span>Proyectos de inversión sobre terrenos o solares no municipales.</li>
      <li><span class="icon-x delete"></span>Gastos de contratación de personal.</li>
      <li><span class="icon-x delete"></span>Subvenciones y ayudas a familias, instituciones sin ánimo de lucro, fundaciones, empresas privadas cuando se detalla una determinada persona física o jurídica.</li>
      <li><span class="icon-x delete"></span>Crear nuevas Comisarías, o actuaciones sobre ellas al no ser competencia municipal</li>
      <li><span class="icon-x delete"></span>Red de Metro.</li>
      <li><span class="icon-x delete"></span>Servicios de limpieza, mantenimiento o seguridad que ya se realicen con contratos en vigor.</li>
      <li><span class="icon-x delete"></span>Contratación de "servicios/inversiones/ayudas" que ya existen o están previstas por los Servicios de la Administración Municipal.</li>
      <li><span class="icon-x delete"></span>La ampliación del horario del servicio de autobuses o la modificación de rutas, si afectan a decisiones que deba tomar el Consorcio de Transportes.</li>
      <li><span class="icon-x delete"></span>Costes de inversión y ejemplos de "servicios/inversiones/ayudas" del Ayuntamiento</li>
    </ul>

    <p>Incluimos a continuación algunos baremos generales aproximativos basados en ejercicios anteriores para algunos proyectos que se repiten con frecuencia:</p>
    <ul>
      <li><strong>Escuelas Infantiles</strong>: Entre 2.000.000 y 2.200.000 de euros, para una escuela de entre 2.300 y 3.000 m2.</li>
      <li><strong>Escuelas de Música</strong>: Entre 2.100.000/2.300.000 de euros, para una escuela de entre 1.500 y 1.800 m2.</li>
      <li><strong>Centros de Mayores</strong>: Entre 2.400.000 y 2.800.000 de euros, para un edificio de entre 1.300 y 1.600 m2.</li>
      <li><strong>Centros Deportivos Municipales</strong>: el coste de la construcción de un polideportivo que incluya pabellón y piscina cubierta y pistas exteriores descubiertas (tenis, pádel, polivalentes, etc.) estaría comprendido entre 6.500.000 y 7.500.000 de euros.</li>
      <li><strong>Carril bici</strong>: De una sola dirección entre 150 y 240 euros/metro. De doble dirección entre 200 y 320 euros/metro. En el caso de señalizar un carril en una calle 20 euros/metro.</li>
      <li><strong>Coste de farola nueva</strong>: de 3.500 a 4.500 euros por unidad en una urbanización de nueva construcción. Entre 1.000 y 1.500 euros por unidad cuando se trata de añadir farolas adicionales en una calle en la que ya hay alumbrado.</li>
    </ul>
    <p>Para qué fines podemos proponer actuaciones</p>
    <p>Podemos proponer actuaciones en materia de urbanismo, medio ambiente urbano (parques, jardines públicos, etc.), infraestructura viaria, actuaciones en situaciones de riesgo o exclusión social, transporte colectivo urbano, actuaciones de protección de la salud pública, actuaciones que fomenten la práctica del deporte y la promoción de la cultura, tal y como recoge en los artículos 25 y 26 de la Ley 27/2013, de 27 de diciembre, de racionalización y sostenibilidad de la Administración Local.</p>

    <h3 id="14">¿En qué se diferencia un proyecto para toda la ciudad de un proyecto para un distrito? ¿Se puede cambiar la categoría?</h3>
    <p>Los proyectos para toda la ciudad son proyectos que cumplen algunas de las siguientes condiciones:</p>
    <ul>
      <li>No están localizadas en un distrito específico (por ejemplo, mejorar algún elemento que existe por toda la ciudad, como farolas, papeleras, bancos, etc.).</li>
      <li>Afectan a varios distritos de manera equivalente (por ejemplo, un carril bici que atraviese toda la ciudad de norte a sur).</li>
      <li>Afectan a elementos que se consideran de relevancia para la mayoría de habitantes (por ejemplo, un proyecto relacionado con el Parque del Retiro, o la M30), o al menos para muchos más que los pertenecientes a un distrito concreto.</li>
    </ul>
    <p>Los proyectos de distrito están ubicados en un distrito concreto y no cumplen las anteriores condiciones.</p>
    <p>Sin embargo, el personal técnico del Ayuntamiento de Madrid puede cambiar la categoría de un proyecto calificado bien como de ciudad o bien como de distrito durante su evaluación, porque sus características apunten a ese cambio. También pueden cambiarse de categoría los proyectos de distrito a proyectos de ciudad cuando su coste sea superior a la cantidad de dinero asignada al distrito. De esta manera, estos proyectos no se eliminan por superar esta cantidad.</p>

    <h3 id="15">¿Pueden plantearse proyectos que tarden más de un año en hacerse realidad?</h3>
    <p>Sí. El único requisito es que el total del proyecto pueda pagarse con el presupuesto disponible. Es decir, se valora el precio total del proyecto y no sólo el coste del primer año.</p>

    <h3 id="16">¿Qué ocurre si hay proyectos repetidos o muy similares?</h3>
    <p>Durante la primera fase de presentación de proyectos, el personal técnico del Ayuntamiento de Madrid detecta proyectos repetidos o muy similares y los recopilan. A través de un correo electrónico dirigido a los autores o autoras del mismo se les informa de la existencia de un proyecto similar al planteado y de la posibilidad de debatir con el resto de personas autoras sobre planteamientos similares y plantear, en su caso, un nuevo proyecto conjunto. Si algún autor o autora quiere mantener su proyecto a pesar de ser similar a otros, el Ayuntamiento respeta su decisión.</p>

    <p>Durante la fase de apoyos todavía pueden retirarse proyectos en caso de considerarse similares o por cualquier otra razón, mientras éstos no hayan recibido apoyos.</p>

    <h3 id="17">¿Cómo se analizan los proyectos durante la fase de evaluación? ¿Qué proyectos pasan a la fase de votación final?</h3>
    <p>En la fase de evaluación se lleva a cabo un estudio detallado de la viabilidad y coste de los proyectos. La complejidad de este estudio en comparación con el que se realiza en las primeras fases implica que solo es posible realizarlo para una parte de los proyectos presentados. Por tanto, durante el plazo de evaluación se estudian los proyectos en orden descendente de los más apoyados a los menos apoyados. El Ayuntamiento procura que haya un número de proyectos viable similar en cada distrito. Los proyectos que entran en las notas de corte y que se marcan como viables pasan a la fase de votación final.</p>
    <p>Técnicos del Ayuntamiento realizan los estudios de viabilidad y coste de manera independiente y neutral, atendiendo únicamente a los criterios de evaluación que se han marcado públicamente para el proceso. La gente puede solicitar una revisión de los informes en caso de no estar conformes, aunque la decisión final sobre la viabilidad del proyecto recae en el personal técnico.</p>

    <h3 id="18">¿Existen mecanismos presenciales para participar? ¿Se ha planteado llegar a los ciudadanos y ciudadanas con dificultades de acceso a Internet o en situación de exclusión?</h3>
    <p>Las acciones relacionadas con el proceso de presupuestos participativos pueden realizarse presencialmente en cualquiera de las 26 Oficinas de Atención a la Ciudadanía repartidas por todos los distritos de Madrid. Además, el proceso de recogida de apoyos de una propuesta puede realizarse también a través de hojas de firmas, cuyo modelo puede descargarse en <a href="https://decide.madrid.es/docs/formulario_propuestas_ciudadanas.pdf" target="_blank">este documento PDF</a>.</p>

    <p>Adicionalmente se ha creado en el Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto el Servicio de Inclusión, Neutralidad y Privacidad que ha puesto en marcha una mesa de inclusión con personal del Ayuntamiento y asociaciones que trabajan con colectivos en situación de exclusión, para diseñar mecanismos especiales para que puedan participar.</p>

    <h3 id="19">¿Qué son las hojas de firmas para recoger apoyos?</h3>
    <p>Las hojas de firmas sirven para el proceso general de presupuestos participativos. El proceso de recogida de apoyos de un proyecto, además de en la web, puede realizarse a través de hojas de firmas, cuyo modelo puede ser descargado en [este documento PDF https://decide.madrid.es/docs/formulario_propuestas_ciudadanas.pdf].</p>

    <p>La hoja debe contener en las casillas superiores el código del proyecto y su título, según figura en la página web específica de la propuesta, dentro de Decide Madrid.</p>

    <p>Los apoyos recogidos de esta manera se suman a los apoyos ya existentes en la web de Decide Madrid. Las hojas se pueden entregar en cualquiera de los Registros del Ayuntamiento, presentes en cada una de las Juntas de Distrito. Ver la lista completa de <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/Ayuntamiento/Oposiciones-y-Empleo/Direcciones-y-telefonos/Oficinas-de-Registro-del-Ayuntamiento-de-Madrid?vgnextfmt=default&vgnextoid=adedb88db777f010VgnVCM2000000c205a0aRCRD&vgnextchannel=ddc3ca1c5a057010VgnVCM100000dc0ca8c0RCRD" target="_blank">Oficinas de Registro</a>.</p>

    <h3 id="20">¿Qué características evalúa el personal técnico del Ayuntamiento para marcar el proyecto como válido?</h3>
    <p><strong>Coste</strong>: se hace una estimación del coste de los proyectos planteados. Se excluyen todos aquellos que tengan un coste superior al dinero correspondiente. En los proyectos para toda la ciudad o para un distrito u otro, hay un tope máximo de coste diferente (puedes ver aquí la distribución de presupuesto entre distritos). Los proyectos de distrito que superen el tope del distrito pero no el de ciudad, serán recategorizados como proyectos de ciudad en lugar de excluirse.</p>

    <p><strong>Legalidad</strong>: el proyecto debe ser competencia del Ayuntamiento, quien puede hacer una serie de gastos, pero existen otros que dependen de la Comunidad de Madrid o del Estado. También se estudia, durante todo el proceso, si existe alguna normativa que sea contraria a llevar a cabo el proyecto, si ya existe un contrato en vigor que cubre lo propuesto en el proyecto planteado o alguna otra limitación adicional.</p>
    <p><strong>Viabilidad</strong>: durante todo el proceso se estudia si el proyecto es viable técnicamente y no se prevé algún impedimento para llevarlo a cabo.</p>

    <h3 id="21">¿Mi proyecto puede considerarse inviable?</h3>
    <p>Los proyectos pueden declararse inviables durante todo el proceso. Esto puede ocurrir de diferentes maneras según las fases:</p>
    <p>Durante la primera fase de presentación de proyectos, el personal técnico del Ayuntamiento de Madrid realiza un primer estudio para detectar los proyectos que son claramente inviables como, por ejemplo, aquellos que no son competencia municipal. En estos casos se informa a las personas autoras mediante un correo electrónico de las causas de la inviabilidad de su proyecto y se les invita a formular uno nuevo. En el mismo contacto se les ofrece la posibilidad de reclamar en caso de que consideren que el informe de inviabilidad de su proyecto no es correcto.</p>
    <p>Durante la fase de evaluación se lleva a cabo un estudio más detallado de la viabilidad de los proyectos que superen la fase de apoyos. En este caso se pueden detectar por el personal técnico del Ayuntamiento de Madrid como inviables proyectos que no se hubieran detectado como tales en la primera fase de presentación de proyectos. También se pueden detectar varios proyectos viables que en el caso de ser aprobados impliquen exactamente la misma actuación por parte del Ayuntamiento. En este caso son marcados como inviables todos ellos a excepción del que cuente con mayor número de apoyos en la anterior fase, señalándolo así en el informe de inviabilidad.</p>
    <p>Una vez finalizada la fase de votación final, dos proyectos seleccionados pueden marcarse como incompatibles entre sí (porque la actuación a llevar a cabo sea incompatible, o porque empaten en número de votos y no quede presupuesto para realizar ambos). En ese caso se lleva a cabo el que tiene más apoyos en la fase de apoyos. En caso de que coincidan los apoyos, se lleva a cabo el que se haya registrado primero en la web de Decide Madrid.</p>

    <h3 id="22">¿Qué diferencia la fase de apoyos de la votación final?</h3>
    <p>La fase de apoyos simplemente reduce el número de proyectos que van a la votación final, para que esta sea manejable y para que el Ayuntamiento sea capaz de realizar todas los evaluaciones posibles de los proyectos más apoyados. La votación final es la decisión sobre los proyectos evaluados que deben llevarse a cabo.</p>

    <h3 id="23">¿Puedo votar proyectos de cualquier distrito?</h3>
    <p>Cualquier persona empadronada en Madrid, mayor de 16 años, que esté registrada en la web de Decide Madrid y tenga verificada su cuenta, puede votar los proyectos de gasto de presupuestos participativos a nivel ciudad, y en un distrito de su elección (pero sólo en uno).</p>
    <p>Así se amplía la posibilidad de elegir en qué distrito quiere implicarse cada persona en función de sus intereses y no exclusivamente en el distrito donde se está empadronado, como por ejemplo, donde uno se trabaja, donde reside su pareja, etc.</p>

    <h3 id="24">¿Cómo se asegura que cada persona vota una única vez?</h3>
    <p>Para votar de forma presencial en las Oficinas de Atención a la Ciudadanía es necesario presentar el DNI, pasaporte o tarjeta de residencia. En la votación a través de la web de Decide Madrid se verifica que la cuenta de usuario corresponde a una única persona. Para ello, además de comprobar los datos de padrón, se facilita un código personal seguro de verificación de la cuenta que se comunica a través de un SMS al teléfono móvil. De esta forma nos aseguramos de que solo esa persona ha recibido el código.</p>
    <p>En caso de que no se disponga de móvil, se solicita a la persona que acuda presencialmente a alguna de las Oficinas de Atención a la Ciudadanía, donde se puede registrar sin necesidad de facilitar un correo electrónico o un número de teléfono móvil.</p>

    <h3 id="25">¿Qué pasa después de votar?</h3>
    <p>Una vez finalizada la votación final, la lista de proyectos resultantes de los presupuestos participativos se incluye en los presupuestos del Ayuntamiento. Las cuentas municipales empiezan a confeccionarse a finales de verano para que se puedan aprobar antes de acabar el año. El compromiso del Gobierno municipal es asumir de manera vinculante lo decidido, es decir, que el resultado del proceso se incluya en los presupuestos como si hubiera sido decidido por el propio Gobierno.</p>
    <p>Una vez aprobados los presupuestos, se publican en la web en la sección de Presupuestos Participativos, y se hace un seguimiento de cada uno de los proyectos donde se va detallando qué pasa con ellos de ahí en adelante. La información es completa y transparente para que puedas hacer un seguimiento de cómo evoluciona cada proyecto de gasto.</p>

    <h3 id="26">¿Qué ocurre en caso de incompatibilidad entre proyectos?</h3>
    <p>Si salen elegidos dos proyectos que son incompatibles entre sí (por la actuación a llevar a cabo, o porque empatan en número de votos y no queda presupuesto para realizar ambos), se lleva a cabo el que tiene más apoyos en la fase de preselección. En caso de que coincidan, se lleva a cabo el que se haya registrado primero en la web.</p>

    <h3 id="27">¿Puede ocurrir que un proyecto seleccionado en la votación final no llegue a ser realizado?</h3>
    <p>Tras finalizar el proceso de presupuestos participativos, los proyectos se incluyen en el Proyecto Inicial del Presupuesto General del Ayuntamiento de Madrid para que los apruebe el Pleno municipal. Esto implica que los proyectos planteados por la ciudadanía pasan los mismos controles y estudios adicionales que los proyectos del propio Ayuntamiento.</p>
    <p>Aunque se haya realizado por parte de personal técnico municipal un estudio previo de viabilidad y legalidad, así como del coste de dichos proyectos antes de la votación final, en este trámite final de aprobación por el Pleno municipal aún podrían presentarse nuevos estudios adicionales que encontraran obstáculos que no fueron posibles detectar anteriormente. En caso de ser así, los estudios se publican en la web de Decide Madrid, y al no ser posible realizarlo en la convocatoria en curso se invitará al autor o autora de dicho proyecto a reformularlo para que pueda presentarlo en el siguiente proceso de presupuestos participativos.</p>

    <h3 id="28">¿Cómo puedo seguir la evolución de los proyectos?</h3>
    <p>A través de la funcionalidad de seguimiento, a la que se llega a través del botón de "Seguir" que se encuentra en la página de cada proyecto. Se pueden seguir proyectos tanto si los has apoyado como si no. Al pulsar este botón, si el autor envía un mensaje a través de Decide Madrid o si se produce algún cambio, llega un aviso.</p>
    <p>Para ver la notificación tienes que acceder a "Mi actividad", en la parte superior de la página, seleccionar la opción "Siguiendo", pulsar el símbolo del "+" y te aparecerá la lista de propuestas y proyectos que sigues.</p>
    <p>También puedes ver la evolución de cada proyecto entrando en su página. Debajo del texto del proyecto y del informe de coste, en la pestaña "Seguimiento" encontrarás hitos y fotos del proyecto.</p>

    <h3 id="29">¿Existe alguna experiencia de presupuestos participativos parecida en algún otro lugar?</h3>
    <p>Sí. Los presupuestos participativos nacieron en Porto Alegre (Brasil) en la década de los 80. Desde entonces se han extendido de manera progresiva, y esa experiencia local se ha convertido en una tendencia global, con miles de procesos de presupuestos participativos en marcha en los cinco continentes.</p>
    <p>Encontramos ejemplos como París, donde los residentes decidirán hasta el 2020 cómo se gastan 426 millones de euros (lo que corresponde al 5% del presupuesto municipal de París) o Nueva York, donde en 2016 dedicaron 36 millones de euros a presupuestos participativos.</p>
    <p>Islandia es uno de los países de referencia al respecto, a través de su plataforma <a href="https://betrireykjavik.is/domain/1" target="_blank" rel="nofollow">Betri Reykjavík-Betri Hverfi (Better District)</a> cerca de la mitad de la población ha participado en el proceso. Cada año se gastan 1,8 millones de euros en proyectos propuestos por la población para los distintos barrios de Reikiavik. La ciudadanía pueden participar y seguir el proyecto a través de la plataforma digital Betri Reykjavik o a través de centros en sus distritos o comités de distrito.</p>

    <h3 id="30">Manual de funcionamiento de las mesas de participación presencial para la selección de los proyectos de presupuestos participativos 2018</h3>
    <a href="/system/budgets/2018/manual_mesas_participacion_2018.pdf" target="_blank" title="(se abre en ventana nueva)">Descargar manual de funcionamiento de las mesas de participación <small>(PDF | 17,3Mb)</small></a>
  </div>
</div>
