<div class="row">
  <div class="menu small-12 medium-3 column">

    <%= back_link_to :back, t("spending_proposals.new.back_link") %>

    <ul class="vertical menu clear">
      <li>
        <p>
          <a href="#27"><strong>¿Qué propuestas pasan de la fase de preselección a la votación final?</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#28"><strong>Reclasificación de propuestas</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#31"><strong>¿Qué ocurre en caso de incompatibilidad?</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#29"><strong>¿Cómo ha funcionado el proceso para marcar como inviables las propuestas?</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#30"><strong>¿Qué ha ocurrido con las propuestas repetidas?</strong></a>
        </p>
      </li>
      <li>
        <p><a href="#20"><strong>¿Qué puedo proponer? ¿Cómo lo hago?</strong></a></p>
        <ul class="vertical menu clear">
          <li><a href="#21">¿Qué es una inversión para un ayuntamiento?</a></li>
          <li><a href="#22">Algunos ejemplos de inversiones</a></li>
          <li><a href="#23">NO es inversión</a></li>
          <li><a href="#23b">Costes de inversión y ejemplos de inversiones del Ayuntamiento</a></li>
          <li><a href="#24">Para qué fines podemos invertir</a></li>
          <li><a href="#25">Características de las inversiones</a></li>
        </ul>
      </li>
      <li><p><a href="#1"><strong>Preguntas Frecuentes</strong></a></p>
        <ul class="vertical menu clear">
          <li><a href="#1">¿Qué son los Presupuestos Participativos?</a></li>
          <li><a href="#2">¿Cuáles son los requisitos que se solicitan para poder proponer o votar propuestas?</a></li>
          <li><a href="#3">¿Cuáles son las fases del proceso? </a></li>
          <li><a href="#4">¿Cómo va a controlarse que cada persona vote una única vez? </a></li>
          <li><a href="#5">¿Qué requisitos tiene que cumplir una propuesta? </a></li>
          <li><a href="#6">¿Existe alguna experiencia parecida en algún otro lugar?</a></li>
          <li><a href="#7">¿Pueden hacerse propuestas que lleven más de un año en hacerse realidad?</a></li>
          <li><a href="#8">Aunque se hable de propuestas de inversión, ¿puede la propuesta suponer gastos de otras partidas presupuestarias?</a></li>
          <li><a href="#9">¿Qué diferencia existe entre la sección de propuestas de la web y las propuestas que se hacen en los presupuestos participativos? </a></li>
          <li><a href="#10">¿Sobre cuánto dinero vamos a decidir y cómo se reparte en la ciudad? </a></li>
          <li><a href="#11">¿Puedo votar propuestas de cualquier distrito?</a></li>
          <li><a href="#12">¿Y si se presentan varias propuestas iguales? ¿Se plantea la posibilidad de unificarlas para evitar que se diversifiquen los apoyos y/o votos?</a></li>
          <li><a href="#13">¿Qué diferencia la fase de apoyos de la votación final? </a></li>
          <li><a href="#14">¿Puede ocurrir que un proyecto seleccionado en la votación final no llegue a ser realizado?</a></li>
          <li><a href="#15">¿En qué se diferencia una propuesta para toda la ciudad de una propuesta para un distrito? ¿se puede cambiar la categoría?</a></li>
          <li><a href="#16">¿Pueden participar asociaciones, fundaciones y ONG´s? ¿Y empresas? </a></li>
          <li><a href="#17">¿Qué pasará después de votar? ¿cómo sabemos si las propuestas se llevan a cabo?</a></li>
          <li><a href="#18">¿Existen, además de la web, mecanismos presenciales para participar? ¿Se ha planteado llegar a los ciudadanos y ciudadanas con dificultades de acceso a Internet o en situación de exclusión?</a></li>
        </ul>
      </li>
      <li><a href="#19"><strong>Explicación detallada del proceso</strong></a></li>
      <li><a href="#26"><strong>¿Qué es la delegación de voto?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h2 id="27">¿Qué propuestas pasan de la fase de preselección a la votación final?</h2>
    <p>Después de la fase de preselección se estudiaron las propuestas recibidas para asegurar su viabilidad y calcular su coste. Pasaron a la votación final tantas propuestas viables como fue posible evaluar en el tiempo disponible, realizándose los estudios en el orden de apoyos decidido por la gente en la fase de preselección, intentando que hubiera un número de propuestas viable similar en cada distrito. Teniendo en cuenta que esto implica un número diferente de apoyos, estos han sido los valores de corte de número de apoyo para cada ámbito:</p>

    <table>
      <thead>
        <tr>
          <th>ÁMBITO</th>
          <th class="text-center">APOYOS DEL CORTE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Toda la ciudad</td>
          <td class="text-center">52</td>
        </tr>
        <tr>
          <td>Arganzuela</td>
          <td class="text-center">40</td>
        </tr>
        <tr>
          <td>Barajas</td>
          <td class="text-center">10</td>
        </tr>
        <tr>
          <td>Carabanchel</td>
          <td class="text-center">37</td>
        </tr>
        <tr>
          <td>Centro</td>
          <td class="text-center">49</td>
        </tr>
        <tr>
          <td>Chamartín</td>
          <td class="text-center">31</td>
        </tr>
        <tr>
          <td>Chamberí</td>
          <td class="text-center">28</td>
        </tr>
        <tr>
          <td>Ciudad Lineal</td>
          <td class="text-center">43</td>
        </tr>
        <tr>
          <td>Fuencarral-El Pardo</td>
          <td class="text-center">56</td>
        </tr>
        <tr>
          <td>Hortaleza</td>
          <td class="text-center">39</td>
        </tr>
        <tr>
          <td>Latina</td>
          <td class="text-center">49</td>
        </tr>
        <tr>
          <td>Moncloa-Aravaca</td>
          <td class="text-center">57</td>
        </tr>
        <tr>
          <td>Moratalaz</td>
          <td class="text-center">16</td>
        </tr>
        <tr>
          <td>Puente de Vallecas</td>
          <td class="text-center">39</td>
        </tr>
        <tr>
          <td>Retiro</td>
          <td class="text-center">34</td>
        </tr>
        <tr>
          <td>Salamanca</td>
          <td class="text-center">26</td>
        </tr>
        <tr>
          <td>San Blas-Canillejas</td>
          <td class="text-center">24</td>
        </tr>
        <tr>
          <td>Tetuán</td>
          <td class="text-center">31</td>
        </tr>
        <tr>
          <td>Usera</td>
          <td class="text-center">34</td>
        </tr>
        <tr>
          <td>Vicálvaro</td>
          <td class="text-center">20</td>
        </tr>
        <tr>
          <td>Villa de Vallecas</td>
          <td class="text-center">24</td>
        </tr>
        <tr>
          <td>Villaverde</td>
          <td class="text-center">27</td>
        </tr>
      </tbody>
    </table>

    <h2 id="28">Reclasificación de propuestas</h2>
    <p>Durante el estudio de las propuestas se han reclasificado propuestas que correspondían a otro ámbito (por ejemplo una propuesta etiquetada en un distrito que correspondía realmente a otra zona, o una de un distrito que implicaba a toda la ciudad y no sólo a ese distrito), por lo que en la fase final de votación aparecerán en la nueva sección que se haya considerado. Además las propuestas de distrito cuyo coste era superior a la cantidad de dinero asignada a ese distrito se han reclasificado como propuestas relativas a toda la ciudad. De esta manera no son eliminadas de la fase de votación por exceso de coste, y tienen la posibilidad de que los vecinos de toda la ciudad la hagan suya y la aprueben en esa sección.</p>

    <h2 id="31">¿Qué ocurre en caso de incompatibilidad?</h2>
    <p>Si salen elegidas dos propuestas que sean incompatibles entre sí (por la actuación a llevar a cabo, o porque empaten en número de votos no quedando presupuesto para realizar las dos), se llevará a cabo la que tenga mayor número de votos. En caso de empate, se llevará a cabo la que tuviera más apoyos en la fase de preselección. En caso de que coincidan, se llevará a cabo la que se haya registrado primero en la web. Puedes <%= link_to "consultar el decreto", "/docs/presupuestos_participativos_incompatibilidades.docx", title: "Presupuestos participativos incompatibilidades (DOCX | 11Kb)", target: "_blank" %> que regula esta cuestión.

    <h2 id="29">¿Cómo ha funcionado el proceso para marcar como inviables las propuestas?</h2>

    <p>Durante la primera fase de propuesta, según se recibían las propuestas los técnicos del Ayuntamiento realizaban un primer estudio para detectar las que fueran claramente inviables. Las causas más frecuentes fueron el no ser competencia del Ayuntamiento, o el no ser una propuesta de inversión. Esto permitió detectar rápidamente una importante cantidad de propuestas inviables, a cuyos autores se les mandó un correo electrónico explicando las causas de la inviabilidad e invitándoles a formular una nueva propuesta. En el mismo contacto se le ofrecía a los autores la posibilidad de reclamar en caso de que consideraran que el informe de inviabilidad no era correcto.</p>

    <p>Todas las propuestas no marcadas como inviables en este primer estudio llegaron a la fase de preselección. Durante esta fase se efectuó una revisión de todas las propuestas, llegando a detectar alguna propuesta inviable que salió de dicha fase, y alguna propuesta viable que anteriormente no lo era que entró en la fase de preselección en el momento en el que fue detectada.</p>

    <p>Acabada la fase de preselección se pasó a la fase de evaluación. Se realizó un nuevo estudio de viabilidad mucho más detallado y de coste de las propuestas. La complejidad de dichos estudios en comparación con los realizados en las primeras fases implicó que sólo fue posible realizarlo para una parte de todas las propuestas presentadas. Como se explica en la <a href="#27">(anterior sección)</a> los estudios se realizaron en el orden de apoyos decidido por la gente en la fase de preselección, desde las propuestas más apoyadas a las menos apoyadas, intentando que hubiera un número de propuestas viable similar en cada distrito. Las propuestas que entraron dentro de las notas de corte y que fueron marcadas como viables pasaron a la fase de votación final.</p>

    <p>Todos los estudios de viabilidad y de coste fueron realizados por técnicos del Ayuntamiento de manera independiente y neutral, atendiendo únicamente a los criterios de evaluación que se han marcado públicamente para el proceso. La revisión de los informes ha sido solicitada en los casos en que algún vecino o vecina no estuviera conforme, dejando en manos de los técnicos la decisión final sobre el resultado final del mismo.</p>

    <h2 id="30">¿Qué ha ocurrido con las propuestas repetidas?</h2>

    <p>Durante la primera fase de propuesta, los técnicos del Ayuntamiento detectaron propuestas repetidas o muy similares. En cada uno de los casos se recopilaron todas las propuestas repetidas y el conjunto se envió a cada uno de sus autores. En dicho contacto se daba la posibilidad a cualquier autor de retirar su propuesta, se sugería alguna propuesta que por su amplia formulación se consideraba podía representar correctamente a las demás, y se incluía además la dirección de un espacio de debate abierto para que los autores se pudieran poner en contacto para debatir sobre el tema, e incluso plantear una nueva propuesta conjunta que las incluyera a todas. En el caso de que algún autor quisiera mantener su propuesta a pesar de ser similar a otras, el Ayuntamiento respetó su decisión.</p>

    <p>Durante la fase de preselección, se mantuvo abierta la posibilidad de retirar propuestas para aquellas que todavía no hubieran recibido apoyos.</p>

    <p>En la fase de evaluación los técnicos del Ayuntamiento detectaron algunas propuestas que en el caso de ser aprobadas implicarían exactamente la misma actuación por parte del Ayuntamiento. En dicho caso fueron marcadas como inviables todas las propuestas a excepción de la que contaba con mayor número de apoyos en la anterior fase, señalándolo así en el informe de invabilidad.</p>

    <p>En la realización de los presupuestos participativos del año 2017 las propuestas serán públicas en la primera fase para facilitar la detección de propuestas duplicadas, y se contará con un sistema que facilite a los proponentes la unificación y retirada de propuestas, siendo estos los que realicen dicha acción para garantizar la neutralidad del proceso.</p>

    <h2 id="20">¿Qué puedo proponer? ¿Cómo lo hago?</h2>

    <p>Una inversión es básicamente todo aquello que el Ayuntamiento puede construir o adquirir y que su duración prevista es superior a un año. <a href="#21">Sigue leyendo para entender la definición en detalle</a>.</p>

    <p>Para hacer una propuesta el único requisito es que estés <strong>empadronado en el municipio de Madrid</strong>. Puedes hacer la propuesta acudiendo a los espacios presenciales de participación que se pondrán en marcha en todos los distritos; o directamente en esta web, en la sección de <%= link_to "Presupuestos Participativos", spending_proposals_path %>; o acercarte a cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes por todo Madrid.</p>
    <p>Puedes hacer cualquier propuesta de inversión que quieras que el Ayuntamiento lleve a cabo; y puedes hacerlo describiéndolo con tus propias palabras, no hace falta que sea una descripción técnica compleja. Aunque cuanto mejor lo expliques, más fácil será para el Ayuntamiento evaluarla y para la gente el decidir apoyarla.</p>

    <p>Esto es lo que evaluarán los técnicos del Ayuntamiento para marcar la propuesta como válida:</p>
    <ul>
      <li><strong>¿Cuánto vale?</strong> Se intentará estimar el coste de la propuesta y serán excluidas todas las propuestas con un coste superior a la bolsa de dinero correspondiente (te recordamos que según sea una propuesta para toda la ciudad o para un distrito u otro, habrá un tope máximo de coste diferente).</li>
      <li><strong>¿Es legal?</strong> La propuesta debe ser competencia del Ayuntamiento. Este puede hacer una serie de gastos, pero otros dependen de la Comunidad de Madrid o del Estado. También se estudiará si hay alguna normativa que sea contraria a llevar a cabo la propuesta, o si atenta contra el bien común.</li>
      <li><strong>¿Es una propuesta de inversión?</strong> El presupuesto del Ayuntamiento se divide en diferentes capítulos, siendo uno de ellos el de inversión. En este caso los presupuestos participativos estarán limitados a esta partida, por lo que la propuesta tiene que encajar como gasto de inversión.</li>
      <li><strong>¿Es viable?</strong> Se estudiará si la propuesta es viable técnicamente y no se prevé algún impedimento para llevarla a cabo.</li>
    </ul>

    <h3 id="21">¿Qué es una inversión para un ayuntamiento?</h3>

    <p>Una inversión es básicamente todo aquello que el Ayuntamiento puede construir o adquirir y que su duración prevista es superior a un año.</p>

    <h3 id="22">Algunos ejemplos de inversiones</h3>

    <ul class="no-bullet">
      <li><i class="icon-check check"></i>&nbsp;<strong>Creación de nuevas infraestructuras:</strong>
      Urbanización, viales, pasos a distinto nivel, señalización vial, mobiliario urbano, alumbrado, parques, zonas ajardinadas, árboles y jardineras, fuentes e hidrantes, alcantarillado, etc.</li>

      <li><i class="icon-check check"></i>&nbsp;<strong>Reposición de infraestructuras: </strong>
      Adecuación de solares, remodelación de viales y de su señalización,  reforma de alumbrado, remodelación de parques, zonas verdes, reforma de fuentes  y estanques, etc.</li>

      <li><i class="icon-check check"></i>&nbsp;<strong>Construcción  o reforma de edificios:</strong>
      Centros de día, centros de mayores, centros atención personas sin hogar, centros de servicios sociales bibliotecas, centros culturales, instalaciones deportivas, polideportivos, centros de enseñanza, escuelas de música, promoción y gestión de vivienda de protección pública, etc.</li>

      <li><i class="icon-check check"></i>&nbsp;<strong>Adquisición o reposición de elementos de transporte:</strong>
      Autobuses, vehículos para bomberos, policía, agentes de movilidad, etc.</li>

      <li><i class="icon-check check"></i>&nbsp;<strong>Aplicaciones informáticas, propiedad intelectual:</strong>
      Desarrollo de aplicaciones, web etc.</li>
    </ul>

    <h3 id="23">NO es inversión</h3>

    <ul class="no-bullet">
      <li><i class="icon-x delete"></i>&nbsp;Construcción de institutos y colegios públicos (la competencia sobre su construcción es de la Comunidad de Madrid)</li>
      <li><i class="icon-x delete"></i>&nbsp;Construcción de centros de salud (sólo es posible en el caso de centros de salud municipales)</li>
      <li><i class="icon-x delete"></i>&nbsp;Infraestructuras de carreteras de acceso a Madrid y de ferrocarril</li>
      <li><i class="icon-x delete"></i>&nbsp;Propuestas de inversión sobre terrenos o solares no municipales</li>
      <li><i class="icon-x delete"></i>&nbsp;Ampliación del servicio de bicis a los barrios periféricos de Madrid</li>
      <li><i class="icon-x delete"></i>&nbsp;Gastos de contratación de personal</li>
      <li><i class="icon-x delete"></i>&nbsp;Mantenimiento y conservación de edificios, vehículos, mobiliario</li>
      <li><i class="icon-x delete"></i>&nbsp;Contratación de empresas o autónomos para la realización de trabajos y servicios</li>
      <li><i class="icon-x delete"></i>&nbsp;Alquileres de edificios, vehículos, mobiliario, maquinaria</li>
      <li><i class="icon-x delete"></i>&nbsp;Suministros: vestuario, combustibles, energía eléctrica, gas, alimentos</li>
      <li><i class="icon-x delete"></i>&nbsp;Subvenciones y ayudas a familias, instituciones sin ánimo de lucro, fundaciones, empresas privadas</li>
      <li><i class="icon-x delete"></i>&nbsp;Concesión de becas, premios, asistencia benéfica o asistencial</li>
      <li><i class="icon-x delete"></i>&nbsp;Comisarías</li>
      <li><i class="icon-x delete"></i>&nbsp;Red de Metro</li>
      <li><i class="icon-x delete"></i>&nbsp;El servicio de limpieza</li>
      <li><i class="icon-x delete"></i>&nbsp;Contratación de personal para limpieza</li>
      <li><i class="icon-x delete"></i>&nbsp;El mantenimiento, conservación o limpieza de edificios y parques</li>
      <li><i class="icon-x delete"></i>&nbsp;La ampliación del horario del servicio de autobuses o la modificación de rutas</li>
    </ul>

    <h3 id="23b">Costes de inversión y ejemplos de inversiones del Ayuntamiento</h3>

    <p>En los siguientes documentos puedes encontrar ejemplos de inversión planeados o realizados por el Ayuntamiento con su coste:</p>

    <ul>
      <li>
        <%= link_to "Listado de inversiones <small>(XLS | 79Kb)</small>".html_safe,
                  "/docs/inversiones_2016.xls",
                  title: "Listado de inversiones (XLS | 79Kb)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Inversiones sostenibles <small>(PDF | 88Kb)</small>".html_safe,
                  "/docs/inveriones_sostenibles.pdf",
                  title: "Inversiones sostenibles (PDF | 88Kb)", target: "_blank" %>
      </li>
    </ul>

    <p>Además incluímos a continuación algunos baremos generales aproximativos basados en ejercicios anteriores para algunas propuestas que se repiten con frecuencia:</p>

    <ul>
      <li><strong>Escuelas Infantiles</strong>: Entre 2.000.000 y 2.200.000 €, para una escuela de entre 2.300 y 3.000m<sup>2</sup>.</li>
      <li><strong>Escuelas de Música</strong>: Entre 2.100.000/2.300.000 €, para una escuela de entre 1.500 y 1.800 m<sup>2</sup>.</li>
      <li><strong>Centros de Mayores</strong>: Entre 2.400.000 y 2.800.000 €, para un edificio de entre 1.300 y 1.600 m<sup>2</sup>.</li>
      <li><strong>Centros Deportivos Municipales</strong>: El coste de la construcción de un polideportivo que incluya pabellón y piscina cubierta y pistas exteriores descubiertas (tenis, pádel, polivalentes...) estaría comprendido entre 6.500.000 y 7.500.000 €.</li>
      <li><strong>Carril bici</strong>: De una sola dirección entre 150 y 240 €/metro; De doble dirección entre 200 y 320 €/metro. En el caso de señalizar un carril en una calle 20€/metro.</li>
      <li><strong>Coste de farola nueva</strong>: Entre 3.500 € a 4. 500 € por unidad en una urbanización de nueva construcción. Entre 1.000 € y  1.500 € por unidad cuando se trata de añadir farolas adicionales en una calle en la que ya hay alumbrado.</li>
    </ul>

    <h3 id="24">Para qué fines podemos invertir</h3>

    <p>movilidad, tráfico y transporte; urbanismo y vivienda; medio ambiente; servicios sociales y empleo;
    salud y consumo; educación, cultura y deportes; innovación y promoción económica.</p>

    <h3 id="25">Características de las inversiones</h3>

    <p>Las inversiones tienen que reunir las siguientes características: a) Que <strong>no sean bienes fungibles</strong>, es decir, que no se consuman con el uso; b) Que tengan una <strong>duración superior</strong> al ejercicio presupuestario, <strong>12 meses</strong>; c) Que sean <strong>susceptibles de inclusión en inventario</strong>, siendo éste una relación detallada, ordenada y valorada de los elementos que componen el patrimonio.</p>

    <p>Si tienes alguna duda puedes consultar las <a href="#1">Preguntas Frecuentes</a>.</p>
    <h2 id="1">¿Qué son los Presupuestos Participativos?</h2>

    <p>Los Presupuestos Participativos son unos procesos democráticos mediante los que los vecinos y vecinas pueden decidir de manera directa en qué emplear una parte del presupuesto municipal. Este año se votarán propuestas de inversión para llevar a cabo en 2017.</p>

    <h3 id="2">¿Cuáles son los requisitos que se solicitan para poder proponer o votar propuestas?</h3>
    <p>Estar empadronado en Madrid, y en el caso de la votación además ser mayor de 16 años. En caso de que se haga a través de Internet se requerirá que se haya verificado la cuenta de usuario de la web (encontramos el botón de verificación en el apartado <strong>"Mi cuenta"</strong> en la esquina superior derecha), proporcionando la información del padrón, y un medio de comunicación para obtener un código seguro de participación que introduciremos en la web para validar nuestra cuenta. También podemos validar la cuenta presencialmente en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que tienes por todo Madrid, hay una en cada distrito.</p>

    <h3 id="3">¿Cuáles son las fases del proceso?</h3>
    <ol>
      <li><strong>Recogida de propuestas</strong>: 22 febrero – 31 marzo.</li>
      <li><strong>Apoyos a propuestas</strong>: 1 abril – 15 abril.</li>
      <li><strong>Informes de viabilidad</strong>: 16 abril – 14 mayo.</li>
      <li><strong>Votación final</strong>: 15 mayo-30 junio.</li>
    </ol>

    <p>Más abajo puedes ver una <a href="#19">explicación detallada del proceso</a>.</p>

    <h3 id="4">¿Cómo va a controlarse que cada persona vote una única vez? </h3>
    <p>Las votaciones presenciales en las Oficinas de Atención a la Ciudadanía están controladas porque la persona tiene que presentar su DNI. Para la votación a través de Internet se verifica que la cuenta de usuario corresponde a un único ciudadano/a. Para ello se le facilita un código personal seguro de verificación de la cuenta que se comunica a través de canales de comunicación privados, como son teléfonos móviles que constan en el Ayuntamiento que pertenecen a la persona adecuada, o por correo a través del buzón que figura en la dirección de empadronamiento. De esta forma nos aseguramos de que sólo esa persona ha recibido el código. En caso de que dichos medios de comunicación no estén disponibles se solicitará a la persona que acuda presencialmente a alguna de las Oficinas de Atención a la Ciudadanía, para obtener su código.</p>

    <h3 id="5">¿Qué requisitos tiene que cumplir una propuesta? </h3>
    <p>Básicamente que sea competencia del Ayuntamiento, que sea viable, legal y cueste menos que el presupuesto correspondiente ya sea de un distrito o de toda la ciudad. <a href="#20">Ver los criterios de viabilidad</a>.</p>

    <h3 id="6">¿Existe alguna experiencia parecida en algún otro lugar?</h3>
    <p>Sí. Los Presupuestos Participativos nacieron en Porto Alegre (Brasil) en la década de los 80. Desde entonces se han extendido de manera progresiva, y esa experiencia local se ha convertido en una tendencia global, con miles de procesos de presupuestos participativos en marcha en los cinco continentes.</p>
    <p>Encontramos ejemplos como <a href="https://budgetparticipatif.paris.fr" target="_blank">París</a> donde los residentes decidirán hasta el 2020 cómo se gastan 426 millones de euros (lo que corresponde al 5% del presupuesto municipal de París); <a href="http://council.nyc.gov/html/pb/home.shtml" target="_blank">Nueva York</a> donde el año pasado dedicaron 32 millones de euros a presupuestos participativos.</p>
    <p>Islandia es uno de los países de referencia al respecto, a través de su plataforma <a href="https://www.betrireykjavik.is" target="_blank">Betri Reykjavík-Betri Hverfi</a> (Better District) cerca de la mitad de la población ha participado en el proceso. Cada año se gastan 1.8 millones de euros en proyectos propuestos por la población para los distintos barrios de Reikiavik. Las ciudadanas y ciudadanos pueden participar y seguir el proyecto a través de la plataforma digital betrireykjavik o a través de centros en sus distritos o comités distritales.</p>

    <h3 id="7">¿Pueden hacerse propuestas que lleven más de un año en hacerse realidad?</h3>
    <p>Sí. Lo único que se exigirá es que el total de la propuesta pueda ser costeado con el presupuesto disponible. Es decir, la propuesta se tasará con el precio de ella en su conjunto, y no con el coste del primer año.</p>

    <h3 id="8">Aunque se hable de propuestas de inversión, ¿puede la propuesta suponer gastos de otras partidas presupuestarias?</h3>
    <p>Sí. El Ayuntamiento se compromete a destinar el dinero adecuado de otras partidas para que lo propuesto se lleve a cabo.</p>

    <h3 id="9">¿Qué diferencia existe entre la sección de propuestas de la web y las propuestas que se hacen en los presupuestos participativos? </h3>
    <p>La sección general de propuestas no tiene todos los límites que los presupuestos participativos imponen. En la sección de Propuestas Ciudadanas, se puede proponer cualquier cosa que el Ayuntamiento pueda hacer, mientras que en los Presupuestos Participativos se trata de propuestas sobre cómo gastar una parte del presupuesto de inversiones. Además las propuestas generales están siempre abiertas a recibir nuevas propuestas, que se llevarán a votación en el momento que alcancen el 1% de apoyos, mientras que los presupuestos participativos ocurren en un periodo concreto del año, previo a la aprobación de los presupuestos.</p>

    <h3 id="10">¿Sobre cuánto dinero vamos a decidir y cómo se reparte en la ciudad? </h3>
    <p>El Presupuesto Participativo de este año asciende a <strong>60 millones de euros</strong>. Esta cantidad se dividirá en dos partes: <strong>36 millones de euros (60%)</strong> que se destinarán a propuestas localizadas en los distritos, y <strong>24 millones de euros (40%)</strong> destinados a propuestas para todo Madrid.</p>

    <h3 id="11">¿Puedo votar propuestas de cualquier distrito?</h3>
    <p>Cualquier persona puede votar respecto a las propuestas a nivel ciudad, y en un distrito de su elección (¡pero sólo en uno!). Esta última libertad la hemos activado para que cada uno decida en qué distrito quiere implicarse más; puede ser el distrito donde esa persona está empadronada, pero podría ser también donde trabaja, donde tiene a su pareja, etc.</p>

    <h3 id="12">¿Y si se presentan varias propuestas iguales? ¿Se plantea la posibilidad de unificarlas para evitar que se diversifiquen los apoyos y/o votos?</h3>
    <p> Tanto los espacios presenciales de participación en su ámbito, como los técnicos del Ayuntamiento en el suyo detectarán las propuestas repetidas y propondrán a sus respectivos autores que las unifiquen. Esto quedará a su decisión, ya que podrían entender que aunque parezcan similares haya matices suficientemente distintos para que no se unifiquen.</p>

    <h3 id="13">¿Qué diferencia la fase de apoyos de la votación final? </h3>
    <p>La fase de apoyos simplemente reduce el número de propuestas que van a la votación final, para que esta sea manejable y para que el Ayuntamiento sea capaz de realizar todos los informes correspondientes. La votación final ya es la decisión sobre lo que debe llevarse a cabo, con todas las propuestas evaluadas.</p>

    <h3 id="14">¿Puede ocurrir que un proyecto seleccionado en la votación final no llegue a ser realizado?</h3>
    <p>Tras finalizar el proceso de Presupuestos Participativos las propuestas se incluirán en el Proyecto Inicial del Presupuesto General del Ayuntamiento de Madrid para su aprobación por el Pleno. Esto implica que las propuestas pasarán todos los controles y estudios adicionales que pasan todas las propuestas que van a los presupuestos del Ayuntamiento. Aunque se haya hecho un estudio previo antes de la votación de los Presupuestos Participativos, en este trámite final podrían aparecer estudios adicionales que encontraran obstáculos no detectados anteriormente. En caso de que sea así, se publicarán dichos estudios en la web, y se invitará al autor a reformular la propuesta para incluirla en el siguiente proceso de presupuestos.</p>

    <h3 id="15">¿En qué se diferencia una propuesta para toda la ciudad de una propuesta para un distrito? ¿se puede cambiar la categoría?</h3>
    <p>Las <strong>propuestas para toda la ciudad</strong> son propuestas que cumplen algunas de las siguientes condiciones:</p>
    <ul>
      <li><strong>No están localizadas en un distrito específico</strong> <em>(ej: mejorar algún elemento que existe por toda la ciudad, como farolas, papeleras, bancos...)</em></li>
      <li><strong>Afectan a varios distritos de manera equivalente</strong> <em>(ej: un carril bici que atraviese toda la ciudad de norte a sur)</em></li>
      <li><strong>Afectan a elementos que se consideran de relevancia para la mayoría de habitantes</strong> <em>(ej: una propuesta relacionada con el Parque del Retiro, o la M30)</em>, o al menos para muchos más que los pertenecientes a un distrito concreto.</li>
    </ul>
    <p>Las propuestas de distrito estarán ubicadas en un distrito concreto y no cumplirán las anteriores condiciones.</p>
    <p>Una propuesta categorizada como de ciudad o de distrito puede ser recategorizada por los técnicos del Ayuntamiento durante su evaluación si se considera que se ha hecho erróneamente.</p>

    <h3 id="16">¿Pueden participar asociaciones, fundaciones y ONG´s? ¿Y empresas? </h3>
    <p>Las propuestas tienen que ser presentadas individualmente, sin problema de que la persona que la presenta represente a una organización. Al registrar una propuesta en la web existe la posibilidad de señalar este caso como propuesta de asociaciones/colectivos.</p>

    <h3 id="17">¿Qué pasará después de votar? ¿cómo sabemos si las propuestas se llevan a cabo?</h3>
    <p>Una vez finalizada la votación final, ya con la lista de propuestas que cubren el presupuesto total, se incluirá esta lista en el proyecto inicial de presupuestos. Estos se empiezan a trabajar a finales de verano para aprobarlos justo antes de acabar el año. El compromiso del Gobierno es asumir de manera vinculante lo decidido, es decir, que el resultado del proceso será incluido en los presupuestos como si hubiera sido decidido por el propio Gobierno. Una vez aprobados los presupuestos, estos se publicarán en la web en la sección de Presupuestos Participativos, y se hará un seguimiento de cada una de las propuestas donde se irá detallando qué pasa con ellas de ahí en adelante. La información es completa y transparente para que puedas hacer un seguimiento de cómo evoluciona cada propuesta de gasto.</p>

    <h3 id="18">¿Existen, además de la web, mecanismos presenciales para participar? ¿Se ha planteado llegar a los ciudadanos y ciudadanas con dificultades de acceso a Internet o en situación de exclusión?</h3>
    <p>Las Juntas de Distrito pondrán en marcha espacios presenciales de participación para desarrollar todo el proceso. En estos espacios se promoverá el diagnóstico, debate y diseño colectivo de propuestas, así como su votación en las distintas fases, y su posterior seguimiento y evaluación. Además, todas las acciones relacionadas con el proceso pueden realizarse presencialmente en cualquiera de las 26 Oficinas de Atención a la Ciudadanía repartidas por todos los distritos de Madrid. También se ha creado en el Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto el Servicio de Inclusión, Neutralidad y Privacidad que ha puesto en marcha una mesa de inclusión con personal del Ayuntamiento y asociaciones que trabajan con colectivos en situación de exclusión, para diseñar mecanismos especiales para que puedan participar dichos colectivos.</p>

    <h2 id="19">Explicación detallada del proceso</h2>
    <p>El Ayuntamiento de Madrid reservará 60 millones de euros del proyecto de presupuestos que se apruebe en el segundo semestre de 2016 (correspondiente al ejercicio de 2017) para que la ciudadanía decida su destino.</p>

    <p>La cantidad se dividirá en dos partes: <strong>36 millones de euros (60%)</strong> que se destinarán a propuestas localizadas en los distritos, y <strong>24 millones de euros (40%)</strong> destinados a propuestas para todo Madrid.</p>

    <p>El procedimiento se iniciará el <strong>22 de febrero, y estará divido en tres etapas</strong>:</p>
    <ul>
      <li>
        <p><strong>Recogida de propuestas (22 febrero – 31 marzo)</strong>. En este primer periodo cualquier persona empadronada en Madrid podrá presentar <a href="#20">propuestas de inversión</a>, tanto para toda la ciudad como para algún distrito. Las propuestas podrán ser hechas a través de Decide Madrid, a través de los canales que pongan a disposición desde las Juntas de Distrito o en las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" target="_blank">Oficinas de Atención a la Ciudadanía</a>.</p>

        <p>Las Juntas de Distrito pondrán en marcha espacios presenciales de participación, para debatir y hacer propuestas, que tendrán autonomía en cada distrito y podrán autorreglamentarse de forma transparente, para que todas las personas que quieran participar presencialmente puedan hacerlo con facilidad. En estos espacios se promoverá el diagnóstico, debate y diseño colectivo de propuestas durante esta fase.</p>
      </li>
      <li>
        <p><strong>Apoyos y Evaluación (1 abril – 14 mayo)</strong>. <strong>Del 1 al 15 de abril</strong> empezará una fase de apoyos, donde cualquier persona empadronada en Madrid mayor de 16 años podrá apoyar las propuestas que más le gusten, tanto de la lista de propuestas para toda la ciudad, como de la lista de un distrito concreto a su elección. Durante esta quincena, tanto en la web Decide Madrid como en los espacios presenciales, se promoverá el debate y el apoyo a propuestas de inversión. Las propuestas más apoyadas pasarán a la fase de votación final.</p>

        <p>Estas propuestas seleccionadas serán evaluadas por el Ayuntamiento. El Área de Participación Ciudadana, Transparencia y Gobierno Abierto coordinará el proceso, en colaboración con el Área o Distrito correspondiente para que cada propuesta sea evaluada. Esta evaluación confirmará que son <a href="#20">propuestas válidas</a>, lo que implica que pueden ser incluidas en la partida de inversión del presupuesto del Ayuntamiento (el presupuesto tiene diferentes partidas que pueden ser usadas para diferentes fines) y que son viables y legales (incluyendo el que sean competencia del Ayuntamiento y no contrarias al interés general), además de realizar un presupuesto estimativo del coste económico de cada propuesta. Las propuestas que no encajen en el capítulo de inversiones, cuyo coste supere el presupuesto previsto, no entren en el ámbito competencial del Ayuntamiento, sean contrarias a la normativa de aplicación o inviables técnicamente serán excluidas del resto del proceso. Las propuestas que sean similares entre sí serán notificadas mutuamente a sus autores ofreciéndoles la posibilidad de unificarlas.</p>

        <p>Al finalizar el periodo se publicarán todas las propuestas, tanto aprobadas como rechazadas, con sus informes y valoraciones correspondientes.</p>
      </li>
      <li>
        <p><strong>Votación final (15 mayo – 30 junio)</strong>. Todas las personas empadronadas en Madrid mayores de 16 años podrán votar en la fase final. Cada persona podrá participar en la votación de las propuestas para toda la ciudad y en la votación de un distrito concreto a su elección. Ambos ámbitos de votación funcionarán de la misma manera: se publicará el presupuesto disponible en cada votación y todas las propuestas con su coste estimado; y se podrá seleccionar propuestas hasta agotar el presupuesto (aunque no habrá necesidad de que se agote completamente), otorgándole un voto a cada una.</p>
        <p>Según votemos propuestas la barra de presupuesto disponible en la parte superior se irá reduciendo. Podremos votar todas las propuestas que queramos mientras tengamos presupuesto disponible (aunque no hará falta consumirlo todo, podemos votar incluso una única propuesta). Las propuestas votadas se visualizarán en la barra lateral. Ahí podremos cancelar nuestros votos en cualquier momento hasta el final de la fase de votación. Si cancelamos todos los votos del distrito elegido podremos votar en otro distrito. No hace falta confirmar la votación en ningún momento.</p>
        <p>El resultado final del proceso se obtendrá, una vez finalizada la votación, ordenando todas las propuestas en cada lista (para toda la ciudad y para de cada distrito) por votos, y seleccionando las propuestas de la más votada hasta la última, teniendo en cuenta que cada propuesta incluida no supere el presupuesto restante destinado a dicha lista. Si una propuesta supera este límite, se ignorará y se pasará a la siguiente.</p>
        <p>La selección final se integrará en el proyecto inicial del Presupuesto General del Ayuntamiento de Madrid que apruebe la Junta de Gobierno. Aprobados los presupuestos por el Pleno, se publicará cada uno de los proyectos seleccionados con descripción de las actuaciones y de las fases en que se encuentren, de forma que se permita entender de manera sencilla la evolución de cada proyecto. Los espacios presenciales de participación en los distritos podrán realizar el seguimiento y evaluación de la ejecución.</p>
        <p>El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto coordinará todo el proceso, siendo la garante de su neutralidad y efectividad. Finalizado el mismo, a partir de las evaluaciones de sus resultados se promoverán las modificaciones en el proceso del año siguiente necesarias, y se aumentará la cantidad presupuestaria sometida a este proceso en función del éxito del mismo.</p>
      </li>
    </ul>

    <p>Puedes consultar el <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Boletin-Oficial-del-Ayuntamiento/Ultimo-Boletin/373-2016-02-22-directrices-presupuestos-participativos?vgnextfmt=default&vgnextoid=de7bcba7ac803510VgnVCM1000000b205a0aRCRD&vgnextchannel=8d4eb351fd18d010VgnVCM1000009b25680aRCRD" target="_blank">acuerdo del por el que se aprueban las directrices para el desarrollo de los presupuestos participativos a través de la web de Gobierno Abierto</a>, el <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Boletin-Oficial-del-Ayuntamiento/Ultimo-Boletin/372-2016-02-22-cuantia-presupuestos-participativos?vgnextfmt=default&vgnextoid=4b651478dc803510VgnVCM2000000c205a0aRCRD&vgnextchannel=8d4eb351fd18d010VgnVCM1000009b25680aRCRD" target="_blank">acuerdo por el que se determina la cuantía que se destinará en el proyecto del Presupuesto General del Ayuntamiento de Madrid para 2017 a los presupuestos participativos y se establece su fórmula de distribución</a> y el <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Boletin-Oficial-del-Ayuntamiento/Ultimo-Boletin/369-2016-02-22-DA-Audiencia-publica-sobre-Presupuestos-participativos-?vgnextfmt=default&vgnextoid=81c9844b99803510VgnVCM1000000b205a0aRCRD&vgnextchannel=8d4eb351fd18d010VgnVCM1000009b25680aRCRD" target="_blank">decreto de la Alcaldesa por el que se inicia la audiencia pública sobre presupuestos participativos</a></p>

    <p>Si tienes alguna duda puedes consultar las <a href="#1">Preguntas Frecuentes</a>.</p>

    <h2 id="26">¿Qué es la delegación de voto?</h2>
    <p>Si activas la <%= link_to "delegación", "/delegacion" %> en cualquiera de los <%= link_to "espacios presenciales de debate", budgets_meetings_2016_path %> señalados, tus apoyos y votos se realizarán automáticamente sobre las propuestas que haya decidido el espacio correspondiente. Mientras dure la fase de apoyos o de votación puedes activar o desactivar la delegación de votos cuando quieras.</p>

  </div>
</div>
