<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_meetings_2017_url %>
<% end %>

<div class="row">
  <div class="text small-12 column">

    <%= back_link_to :back, t("spending_proposals.new.back_link") %>

    <h1>Espacios presenciales de debate y propuesta</h1>

    <p>Participa en las distintas fases del proceso de presupuestos participativos 2017, presentación, apoyo y votación de proyectos de gasto, en la web de Decide Madrid y en cualquiera de las <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Atencion-al-ciudadano/Oficinas-de-Atencion-al-Ciudadano?vgnextfmt=default&vgnextchannel=5b99cde2e09a4310VgnVCM1000000b205a0aRCRD" title="(se abre en ventana nueva)" target="_blank">26 Oficinas de Atención a la Ciudadanía</a> que existen en todos los distritos. </p>

    <p>Además habrá espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir conjuntamente. En esta página se publican las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatorias por distrito</h2>

    <table class="table-fixed">
      <thead>
        <th scope="col">Distrito</th>
        <th scope="col" class="text-center">Día</th>
        <th scope="col" class="text-center">Hora</th>
        <th scope="col">Lugar</th>
      </thead>
      <tbody>
        <tr>
          <td>Arganzuela</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Barajas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Carabanchel</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Centro</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Chamartín</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Chamberí</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Ciudad Lineal</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Fuencarral – El Pardo</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Hortaleza</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Latina</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Moncloa - Aravaca</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Moratalaz</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Puente de Vallecas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Retiro</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Salamanca</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>San Blas - Canillejas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Tetuán</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Usera</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Vicálvaro</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Villa de Vallecas</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Villaverde</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>

    <h2>Documentos</h2>

    <p>Los espacios presenciales de debate y propuesta de cada distrito se autorreglamentarán.</p>
    <p>A continuación añadimos autorreglamentos realizados en proyectos de presupuestos participativos de diferentes distritos por si sirvieran de inspiración para otros espacios:</p>

    <ul>
      <li>
        <%= link_to "Autorreglamento Arganzuela <small>(PDF | 163Kb)</small>".html_safe,
                  "/docs/autorreglamento_arganzuela.pdf",
                  title: "Autorreglamento Arganzuela (PDF | 163Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Latina <small>(DOCX | 20Kb)</small>".html_safe,
                  "/docs/autorreglamento_latina.docx",
                  title: "Autorreglamento Latina (DOCX | 20Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Tetuán <small>(PDF | 246Kb)</small>".html_safe,
                  "/docs/autorreglamento_tetuan.pdf",
                  title: "Autorreglamento Tetuán (PDF | 246Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Autorreglamento Usera <small>(PDF | 42Kb)</small>".html_safe,
                  "/docs/autorreglamento_usera.pdf",
                  title: "Autorreglamento Usera (PDF | 42Kb) (se abre en ventana nueva)", target: "_blank" %>
      </li>
    </ul>

    <h2>Difusión</h2>

    <div class="callout primary">
      <strong>Próximamente facilitaremos los materiales para difundir los presupuestos participativos.</strong>
    </div>

  </div>
</div>
