<% provide :title do %><%= t('pages.titles.concurso_cartel_magdalena') %><% end %>

<% votacion = Poll.first %>

<div class="expanded cartel_magdalena_2018 no-margin-top">
  <div class="row">
    <div class="small-12 medium-12 column padding">
      <h1>
        <%= t('pages.cartel_magdalena_2018.title') %>
        <br>
        <small>
          <%= link_to t('pages.cartel_magdalena_2018.bases_link'), "/system/concurso_cartel_magdalena/Cartel_Magdalena_2018_Bases_#{I18n.locale}.pdf", target: '_blank' %>
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <%= render 'pages/concurso_cartel_magdalena/concurso_tabs' %>
    <h2>Estadísticas</h2>
  </div>
  <aside class="small-12 medium-3 column">
    <%= render partial: 'shared/social_share', locals: {
      share_title: t("proposals.show.share"),
      title: votacion.name,
      url: poll_url
    } %>
  </aside>
</div>
