<% provide :title do %><%= t('pages.titles.concurso_cartel_magdalena') %><% end %>

<% votacion = Poll.first %>

<div class="expanded cartel_magdalena_2018 no-margin-top">
  <div class="row">
    <div class="small-12 medium-12 column padding">
      <h1>
        <%= t('pages.cartel_magdalena_2018.title') %>
        <br>
        <small>
          <%= link_to t('pages.cartel_magdalena_2018.bases_link'), "/system/concurso_cartel_magdalena/Cartel_Magdalena_2018_Bases_#{I18n.locale}.pdf", target: '_blank' %>
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <%= render 'pages/concurso_cartel_magdalena/concurso_tabs' %>
    <h2>Estadísticas</h2>
    <%= javascript_include_tag "chart", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "participatory-budget-charts", 'data-turbolinks-track' => true %>
    <% @stats = calcula_resultados_cartel(votacion) %>
    <div class="survey-results">

      <!-- Votos -->
      <div class="row">
        <div class="small-12 column">
          <div class="panel purple text-center">
            <p><%= t('pages.cartel_magdalena_2018.total_vots') %></p>
            <p id="total_participants" class="big-number-stat">
              <%= @stats[:total_vots] %>
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row" data-equalizer>
        <!-- Resultados generales -->
        <div class="small-12 medium-6 column text-right">
          <div class="panel light-green" data-equalizer-watch>
            <p><%= t('pages.cartel_magdalena_2018.cartells_seleccionats') %></p>
            <p id="total_spending_proposals" class="big-number-stat">
              <%= @stats[:cartells_seleccionats] %>
            </p>
          </div>
        </div>
      </div>


      <hr>
      <div class="clear"></div>
      <div class="row" data-equalizer>

        <!-- Participación por sexo -->
        <div class="small-12 column">
          <h2 class="subtitle"><%= t('pages.cartel_magdalena_2018.sex_participation') %></h2>
        </div>

        <hr>

        <div class="small-12 medium-6 column show-for-medium"  data-equalizer-watch>
          <div class="panel text-center">
            <%= image_tag ('participatory_budget_stats/sex.png') %>
            <br>
            <div class="large-offset-3 large-5 padding">
              <canvas id="sps-chart-sex" width="300" height="300"
                      data-maleslabel='<%= t('stats.males')%>'
                      data-femaleslabel='<%= t('stats.females')%>'
                      data-malescount='<%= @stats[:total_male_participants] %>'
                      data-femalescount='<%= @stats[:total_female_participants] %>'
                      >
              </canvas>
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 column" data-equalizer-watch>
          <div class="small-12 medium-6 column">
            <div class="panel text-right chart-legend">
              <p id="male_percentage" >
                <span class="label" style="background: #FF6600"></span>
                &nbsp;<%= t('stats.males') %>
                (<%= number_to_percentage(@stats[:male_percentage],
                                          strip_insignificant_zeros: true,
                                          precision: 2) %>)
              </p>
              <p id="total_male_participants" class="big-number-stat">
                <%= @stats[:total_male_participants] %>
              </p>
            </div>
          </div>

          <div class="small-12 medium-6 column">
            <div class="panel text-left chart-legend">
              <p id="female_percentage">
                <span class="label" style="background: #FF9E01"></span>
                &nbsp;<%= t('stats.females') %>
                (<%= number_to_percentage(@stats[:female_percentage],
                                          strip_insignificant_zeros: true,
                                          precision: 2) %>)
              </p>
              <p id="total_female_participants" class="big-number-stat">
                <%= @stats[:total_female_participants] %>
              </p>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <!-- Participación por grupos de edad -->
      <div class="small-12 column margin-top">
        <h2 class="subtitle"><%= t('pages.cartel_magdalena_2018.age_participation') %></h2>
      </div>
      <%= render 'pages/concurso_cartel_magdalena/results_age' %>
    </div>

    </div>

  </div>
  <aside class="small-12 medium-3 column">
    <%= render partial: 'shared/social_share', locals: {
      share_title: t("proposals.show.share"),
      title: votacion.name,
      url: poll_url
    } %>
  </aside>
</div>
