<% provide :title do %><%= t('pages.titles.more_information') %><% end %>

<div class="row">
  <div class="small-1 large-4 columns">
    <%= image_tag('auth_bg.png', class: 'float-left', alt: t("layouts.header.logo")) %>
  </div>
  <div class="small-11 large-8 columns">

    <% (1..9).each do |i| %>
      <div class="row">
        <div class="small-3 large-3 columns"></div>
        <div class="small-9 large-9 columns">
          <h1 class="custom_item_<%= i %>_title"><%= t("pages.more_information.item_#{i}.title") %></h1>
        </div>
      </div>
      <div class="row">
        <div class="small-3 large-3 columns">
          <p class="custom_item_<%= i %>_subtitle"><%= t("pages.more_information.item_#{i}.subt") %></p>
        </div>
        <div class="small-9 large-9 columns">
          <span><%= markdown t("pages.more_information.item_#{i}.text") %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
