<% provide :title do %><%= t('pages.titles.more_information') %><% end %>

<div class="row">
  <div class="small-12 large-12 columns">
    <%= link_to t('pages.cartel_magdalena_2018.bases_link'), "/system/concurso_cartel_magdalena/Cartel_Magdalena_2018_Bases_#{I18n.locale}.pdf", target: '_blank' %>
  </div>
</div>

<hr />
<div class="row">
  <div class="small-12 large-3 columns">
    <ul class="menu vertical margin-top">
      <% (1..9).each do |i| %>
        <li><a href="#item_<%= i %>"><strong><%= t("pages.more_information.item_#{i}.title") %></strong></a></li>
      <% end %>
    </ul>
  </div>
  <div class="small-12 large-9 columns">
    <% (1..9).each do |i| %>
      <div class="row">
        <div class="small-12 large-12 columns">
          <h1 id="item_<%= i %>" class="more_information_item custom_item_<%= i %>_title"><%= t("pages.more_information.item_#{i}.title") %></h1>
          <span><%= markdown t("pages.more_information.item_#{i}.text") %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
