<% provide :title do %><%= t("custom.titles.about") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("o-participativnem-proracunu") %>
<% end %>


<div class="row conditions">

  <div class=" bggray">
    <div class="main-indented-content">
      <div class="row">
        <!-- SKRIJ VIDEO
            <div class="small-12 medium-10 column medium-centered pad-tb-45 text-center" style="position:relative;">
              <div class="big-video" data-v-e7f13626 data-v-42aaeb66>
                <div class="embed-responsive embed-responsive-16by9" data-v-e7f13626>
                  <iframe src="https://www.youtube.com/embed/_0Cs0t-zDyo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" class="embed-responsive-item" data-v-e7f13626></iframe>
                </div>
              </div>
              <%= image_tag(image_path_for('arrow-down.svg'), class: 'arrow-down') %>
            </div>
            -->

        <div class="small-12 medium-10 column medium-centered pad-tb-45 text-center">
          <p class="intro">
            <%= t("custom.about.intro").html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pad-2rem">
    <div class="main-indented-content ">
      <div class="text-center">
        <h2><%= t("custom.about.main_title") %></h2>
      </div>
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                1
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                <%= t("custom.about.heading_1").upcase %>
                <span class="datum">
                  <%= t("custom.about.date_1") %>
                </span>
              </h3>
              <p>
                <%= t("custom.about.description_1").html_safe %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bggray">
    <div class="main-indented-content ">

      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                2
              </div>
            </div>
            <div class="medium-9 column js-padt">
              <h3>
                <%= t("custom.about.heading_2").upcase %>
                <span class="datum">
                  <%= t("custom.about.date_2") %>
                </span>
              </h3>
              <p>
                <%= t("custom.about.description_2").html_safe %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pad-2rem">
    <div class="main-indented-content ">
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                3
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                <%= t("custom.about.heading_3").upcase %>
                <span class="datum">
                  <%= t("custom.about.date_3") %>
                </span>
              </h3>
              <p>
                <%= t("custom.about.description_3").html_safe %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bggray">
    <div class="main-indented-content ">

      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                4
              </div>
            </div>
            <div class="medium-9 column js-padt">
              <h3>
                <%= t("custom.about.heading_4").upcase %>
                <span class="datum">
                  <%= t("custom.about.date_4") %>
                </span>
              </h3>
              <p><%= t("custom.about.description_4").html_safe %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="pad-2rem">
    <div class="main-indented-content ">
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                5
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                <%= t("custom.about.heading_5").upcase %>
              </h3>
              <p>
                <%= t("custom.about.description_5").html_safe %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
