<% provide :title do %><%= t("pages.titles.conditions") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("pogoji-uporabe") %>
<% end %>

<div class="row privacy">
  <div class="main-indented-content">
    <div class="small-12 medium-10 column medium-centered">

      <h3 dir="ltr"><span>Pogoji uporabe</span></h3>

      <p dir="ltr">
        <span>Aktivna uporaba spletnega orodja se ureja s spodnjimi pogoji za uporabo, zato se morajo vsi, ki želijo
          aktivno sodelovati, registrirati, za kar se bo zahtevalo sprejetje teh pogojev uporabe.</span>
      </p>

      <p dir="ltr"><span><%= t("custom.meta.place_name") %></span> si pridržuje pravico, da te pogoje uporabe spremeni,
        najnovejša različica pa bo objavljena na tej spletni strani.</p>

      <h3 dir="ltr"><span>Varstvo osebnih podatkov</span></h3>
      <p dir="ltr"><span>Uporabnik z registracijo potrjuje, da je dopolnil/a 15 let in je seznanjen/a s svojimi
          pravicami in obveznostmi, ki so določeni v obvestilu o obdelavi osebnih podatkov v skladu s Splošno uredbo o
          varstvu osebnih podatkov (GDPR), ter pooblašča Mestno občino Maribor, da preveri verodostojnosti osebnih
          podatkov (ime in priimek, stalni naslov in rojstni datum) za potrebe projekta Čuj, glasuj! iz uradnih evidenc
          in zbirk osebnih podatkov pri upravljavcih zbirk osebnih podatkov.</span></p>
      <p dir="ltr"><span>Osebne podatke, pridobljene z registracijskim formularjem na tej spletni platformi, bomo
          uporabljali izključno v namene izvedbe participativnega proračuna v Mestni občini Maribor in ga ne bomo
          posredovali v uporabo tretjim osebam, razen če bi od nas to zahteval zakon. Pri upravljanju spletnega orodja
          sodelujemo z Danes je nov dan, Inštitutom za druga vprašanja, ki nastopa v vlogi t. i. »pogodbenega
          obdelovalca« oziroma »obdelovalca« teh podatkov. Pogodbeno je zavezan, da vaše osebne podatke uporablja
          izključno v imenu Mestne občine Maribor in da zagotavlja njegovo varstvo v skladu z vsakokratnimi veljavnimi
          predpisi in našimi navodili.</span></p>
      <p dir="ltr"><span>Svoje podatke, vnesene ob registraciji, lahko preverite, spreminjate oziroma dopolnite v svojem
          profilu, v katerega lahko vstopite po uspešno izvedeni prijavi. V svojem profilu lahko tudi izberete, ali
          želite na svoj elektronski naslov prejemati različna obvestila.</span></p>

      <h3 dir="ltr"><span>Obvestilo o obdelavi osebnih podatkov</span></h3>
      <p dir="ltr"><span>Upravljavec osebnih podatkov (ime in priimek, stalno prebivališče, e-naslov in tel. št.) je
          Mestna občina Maribor, Ulica heroja Staneta 1, Maribor. Pooblaščena oseba za varstvo osebnih podatkov je
          dosegljiva na kontaktnem naslovu mestna.obcina@maribor.si. Pravna podlaga za obdelavo vaših osebnih podatkov
          je vaša privolitev. Osebni podatki se bodo obdelovali le za namen/e, za katerega/katere ste se strinjali.
          Podatki se bodo obdelovali do izpolnitve namena (izvedba projekta) oziroma do vašega preklica, podatki na
          spletni strani (če ste se strinjali) bodo na spletni strani objavljeni za čas izvajanja projekta. Vaše osebne
          podatke bodo obdelovali le zaposleni na občini in pogodbeni obdelovalci Mestne občine Maribor. Imate pravico
          do preklica privolitve in pravico do dostopa do osebnih podatkov, popravka, ugovora, izbrisa ali
          prenosljivosti, pravice uveljavljate prek kontaktnega naslova mestna.obcina@maribor.si. Če menite, da je
          Mestna občina Maribor kršila vašo pravico do zasebnosti, se lahko pritožite na naslov: Informacijski
          pooblaščenec, Dunajska 22, 1000 Ljubljana.</span></p>

      <h3 dir="ltr"><span>O orodju</span></h3>

      <p dir="ltr">
        <span>Spletno orodje spodbuja državljansko participacijo in omogoča odprto, transparentno in demokratično
          vodenje na občinski in državni ravni. Aplikacija gradi na osnovi odprtokodne platforme Consul, ki je nastala
          pod okriljem občine Madrid, za potrebe slovenskih občin pa so jo prilagodili na inštitutu Danes je nov
          dan.</span>
      </p>

      <h3 dir="ltr"><span>Registracija</span></h3>

      <p dir="ltr">
        <span>Le registrirani uporabniki lahko oddajo predloge projektov in glasujejo za oddane projekte neposredno v
          namenski aplikaciji. Neregistrirani uporabniki lahko prosto spremljajo objavljene vsebine, ne morejo pa
          oddajati predlogov projektov ali o njih glasovati.</p>

      <p dir="ltr"><span>Uporabnik/-ca mora ob registraciji navesti:</span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>ime in priimek</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>elektronski naslov</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>naslov stalnega prebivališča</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>telefonsko številko</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>EM&Scaron;O</span></p>
        </li>
      </ul>

      <p dir="ltr">
        <span>Ob potrditvi aktivacijskega elektronskega sporočila, ki ga uporabnik prejme na svoj elektronski naslov, se
          aktivira uporabniški račun. Kreiranje več uporabniških računov s strani enega uporabnika je
          prepovedano.</span>
      </p>

      <p dir="ltr">
        <span>Če uporabnik/-ca katerega izmed navedenih podatkov ne posreduje, mu je onemogočeno uspešno dokončanje
          registracije in posledično ne more uporabljati namenske aplikacije. Uporabnik/-ca lahko kadar koli prekliče
          svojo registracijo, in sicer tako, da moderatorju orodja na e-poštni naslov consul@djnd.si pošlje zahtevo za
          izbris profila iz evidence uporabnikov. Po potrditvi preklica registracije bo upravljavec orodja Danes je nov
          dan iz evidence uporabnikov izbrisal vse osebne podatke. Kljub izbrisu osebnih podatkov uporabnika se predlogi
          in podatki o glasovanjih hranijo, a so pripisani izbrisanemu uporabniku.</span>
      </p>

      <p dir="ltr">
        <span>Uporabnik/-ca lahko kadarkoli prekliče svojo registracijo tako, da moderatorju orodja na e-poštni naslov
          consul@djnd.si pošlje zahtevo za izbris profila iz evidence uporabnikov. Po potrditvi preklica registracije bo
          upravljalec orodja Danes je nov dan iz evidence uporabnikov izbrisal vse osebne podatke. Kljub izbrisu osebnih
          podatkov uporabnika se predlogi, komentarji in podatki o glasovanjih hranijo, a so pripisani "izbrisanemu
          uporabniku".</span>
      </p>

      <h3 dir="ltr"><span>Sprejem pravil</span></h3>

      <p dir="ltr">
        <span>Ob registraciji mora uporabnik/-ca sprejeti pravila sodelovanja in uporabe spletnega orodja.</span></p>

      <p dir="ltr">
        <span>S sprejemom pravil se uporabnik/-ca najprej zaveže, da bo ob podajanju predlogov spoštoval/-a ustavo in
          zakone Republike Slovenije, kar zlasti pomeni, da:</span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span>ne bo objavljal/-a vsebin, ki bi spodbujale k spolni, rasni, narodnostni ali verski nestrpnosti ali h
              kakršni koli obliki diskriminacije na podlagi osebnih okoliščin posameznikov;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>ne bo objavljal/-a vsebin, ki bi kršile ali posegale v osebnostne pravice tretjih oseb;</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>ne bo objavljal/-a slik ali fotografij, ki so v lasti tretjih oseb ali uporabljajo podatke tretjih
              oseb, ne da bi pri tem dobil/-a ustrezno soglasje lastnikov in tretjih oseb;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>ne bo objavljal/-a groženj, ne bo se izražal/-a slabšalno, prostaško, poniževalno ali žaljivo;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>ne bo objavljal/-a avtorskih del, za katere nima avtorskih pravic, in orodja ne bo
              uporabil/-a za distribuiranje avtorsko zaščitenih vsebin ali vsebin, ki so v lasti druge pravne ali
              fizične osebe.</span>
          </p>
        </li>
      </ul>

      <p dir="ltr">
        <span>Kršitev omenjenih pravil se kaznuje z začasno omejitvijo delovanja uporabnika/-ce, prekinitvijo
          uporabniškega računa in/ali izbrisom vsebine.</span>
      </p>

      <h3 dir="ltr"><span>Raba portala</span></h3>

      <p dir="ltr">
        <span>Aplikacija omogoča direktno soodločanje o delu občinskega proračuna. Uporabniki in uporabnice lahko
          oddajajo, podpirajo in glasujejo o predlogih za projekte in spremljajo njihov razvoj. Sodeluje lahko vsaka
          občanka ali občan Mestne občine Maribor, ki je star/-a vsaj 15 let in se je registriral/-a na spletnem orodju,
          za aktivnosti mladoletnikov so odgovorni starši ali skrbniki.</span>
      </p>

      <p dir="ltr"><span>Uporabniku/-ci portal omogoča:</span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Oddajo predlogov</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span>Za oddajo predloga mora uporabnik/-ca obvezno določiti naslov predloga projekta, opis, doda lahko še sliko
          predloga, lokacijo predloga, druge dokumente. Po oddaji predloga projekta je ta samodejno sprejet in se
          prikaže na portalu. Uporabnik/-ca lahko predlog deli z drugimi na socialnih omrežjih, prek e-maila ali s
          skrajšano povezavo.</span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Glasovanje za predloge</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span>Uporabnik/-ca lahko glasuje za predloge projektov drugih uporabnikov. Za en predlog lahko glasuje le
          enkrat. Za glasovanje ima na voljo 40.000 eurov za območje, za katero glasuje, z vsakim glasom pa se znesek
          manjša. Na vsakem območju bodo izvedeni izglasovani projekti v skupni višini 120.000 eurov. Uporabnik/-ca
          lahko posameznemu predlogu v fazi zbiranja glasov tudi odvzame glas.</span>
      </p>


      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Spremljanje izbranih predlogov</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;"><span>V zadnji fazi orodje omogoča spremljanje rezultatov izvedbe. </span>
      </p>

      <h3 dir="ltr"><span>Pi&scaron;kotki</span></h3>


      <p dir="ltr"><span>Uporabljamo samo pi&scaron;kotke, ki so nujni za delovanje spletnega mesta. </span></p>

      <h3 dir="ltr">Intelektualna lastnina</h3>


      <p dir="ltr">
        <span>Vsa koda potrebna za delovanje spletne strani <%= setting["url"] %> je odprta in dostopna vsakomur. Kodo
          lahko vsakdo uporablja brezplačno pod pogoji licence <a
            href="https://github.com/danesjenovdan/consul/blob/master/LICENSE-AGPLv3.txt">AGPLv3</a>.</span>
      </p>


      <h3 dir="ltr"><span>Omejitev odgovornosti</span></h3>

      <p dir="ltr">
        <span>Uporabniki/-ce spletnega orodja uporabljajo spletno orodje, njene dele in vsebine izključno na lastno
          odgovornost.</span>
      </p>


      <p dir="ltr"><span><%= t("custom.meta.place_name") %></span> ne prevzema odgovornosti za kakršno koli direktno ali
        indirektno vrsto polemike, spora in/ali pravdnega postopka, ki bi lahko nastal zaradi objave ali razširjanja
        vsebine, za katero s strani zakonitih lastnikov ni bilo pridobljeno dovoljenje. Prav tako ne odgovarja za škodo,
        ki bi nastala zaradi uporabe spletnega orodja, in ne jamči za uspešnost uporabe spletnega orodja. V nobenem
        primeru ne odgovarja za kakršno koli škodo, ki bi izvirala iz uporabe oziroma nezmožnosti uporabe spletnega
        orodja, vključno s škodo zaradi izgubljenega prihodka ali pričakovanega dobička, izgube ali okrnitve dobrega
        imena, izgube poslov ali izgube podatkov.</p>


      <p dir="ltr">
        <span>Vsaka kr&scaron;itev pravic intelektualne ali industrijske lastnine je odgovornost osebe, ki je zagotovila
          vsebino. </span>
        <%= t("custom.meta.place_name") %> prav tako ni odgovorna za vsebine:</p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span>ki spodbujajo k spolni, rasni, narodnostni ali verski nestrpnosti ali h kakr&scaron;nikoli obliki
              diskriminacije na podlagi osebnih okoli&scaron;čin posameznikov; </span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>ki kr&scaron;ijo ali posegajo v osebnostne pravice tretjih oseb, so v lasti tretjih oseb ali
              uporabljajo podatke tretjih oseb, ne da bi pri tem obstajalo ustrezno soglasje lastnikov in tretjih oseb;
            </span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>ki so grožnje, slab&scaron;alne, prosta&scaron;ke, poniževalne ali žaljive; </span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>ki so avtorska dela, za katere uporabnik/-ca nima avtorskih pravic. Vsaka kr&scaron;itev pravic
              intelektualne ali industrijske lastnine je odgovornost osebe, ki zagotavlja vsebino. </span>
          </p>
        </li>
      </ul>


      <p dir="ltr"><span><%= t("custom.meta.place_name") %></span> se bo trudila, da bi tovrstne vsebine kar najhitreje
        umaknila s
        spletnega orodja in proti uporabnikom uvedla ustrezne sankcije.</p>


      <p dir="ltr">
        <span>V primeru kakr&scaron;nega koli spora med uporabniki spletnega orodja in / ali tretjo osebo je </span>
        <%= t("custom.meta.place_name") %> izvzeta iz kakr&scaron;nekoli odgovornosti za pravdne zahtevke, zahtevke za
        od&scaron;kodnine ali
        od&scaron;kodnine kakr&scaron;ne koli narave, povezane z vsebinami na spletnem orodju in / ali nastalimi v
        sodnem postopku.</p>


    </div>
  </div>
</div>
