<% provide :title do %><%= t("custom.privacy.title") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("pogoji-uporabe") %>
<% end %>

<main>
  <div class="row privacy">
    <div class="main-indented-content">
      <div class="small-12 medium-10 column medium-centered">

        <h3 dir="ltr"><%= t("custom.terms.main_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.active_use") %>
        </p>
        <p dir="ltr">
          <%= t("custom.meta.place_name") %><%= t("custom.terms.changes") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.data_protection_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_first") %>
        </p>
        <p dir="ltr">
          <%= raw t("custom.terms.data_protection_second") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_third") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.data_use_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_use_first") %>
        </p>

        <h3 dir="ltr">
          <%= t("custom.terms.about_title") %>
        </h3>
        <p dir="ltr">
          <%= t("custom.terms.about_first") %>
        </p>

        <h3 dir="ltr">
          <%= t("custom.terms.registration_title") %>
        </h3>
        <p dir="ltr">
          <%= t("custom.terms.registration_intro") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.registration_requirements") %>
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.name") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.email") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.address") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.phone") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.emso") %>
            </p>
          </li>
        </ul>
        <p dir="ltr">
          <%= t("custom.terms.registration_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.registration_second") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.registration_third") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.rules_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.rules_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.rules_promise") %>
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.rules_promise_first") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.rules_promise_second") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.rules_promise_third") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.rules_promise_fourth") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.rules_promise_fifth") %>
            </p>
          </li>
        </ul>
        <p dir="ltr">
          <%= t("custom.terms.rules_second") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.use_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.use_intro") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.use_list") %>
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr"><%= t("custom.terms.use_list_first") %></p>
          </li>
        </ul>
        <p dir="ltr" style="margin-left:36pt;">
          <%= t("custom.terms.use_list_first_desc") %>
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.use_list_second") %>
            </p>
          </li>
        </ul>
        <p dir="ltr" style="margin-left:36pt;">
          <%= t("custom.terms.use_list_second_desc") %>
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.use_list_third") %>
            </p>
          </li>
        </ul>
        <p dir="ltr" style="margin-left:36pt;">
          <%= t("custom.terms.use_list_third_desc") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.cookies_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.cookies_intro") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.ip_title") %></h3>
        <p dir="ltr">
          <%= raw t("custom.terms.ip_intro") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.responsibilities_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.meta.place_name") %><%= t("custom.terms.responsibilities_second") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_third") %>
          <%= t("custom.meta.place_name") %> prav tako ni odgovorna za vsebine:
        </p>
        <ul style="list-style-type:disc;">
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.responsibilities_list_first") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.responsibilities_list_second") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.responsibilities_list_third") %>
            </p>
          </li>
          <li dir="ltr">
            <p dir="ltr">
              <%= t("custom.terms.responsibilities_list_fourth") %>
            </p>
          </li>
        </ul>
        <p dir="ltr">
          <%= t("custom.meta.place_name") %><%= t("custom.terms.responsibilities_fourth") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_fifth") %>
        </p>
      </div>
    </div>
  </div>
</main>
