<% provide :title do %><%= t("custom.privacy.title") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("pogoji-uporabe") %>
<% end %>

<div class="row privacy">
  <div class="main-indented-content">
    <div class="small-12 medium-10 column medium-centered">

      <h3 dir="ltr"><span><%= t("custom.terms.main_title") %></span></h3>

      <p dir="ltr">
        <span><%= t("custom.terms.active_use") %></span>
      </p>

      <p dir="ltr">
        <span>
          <%= t("custom.meta.place_name") %>
        </span>
        
        <%= t("custom.terms.changes") %></p>

      <h3 dir="ltr"><span><%= t("custom.terms.data_protection_title") %></span></h3>
      <p dir="ltr">
        <span>
          <%= t("custom.terms.data_protection_first") %>
        </span>
      </p>
      <p dir="ltr">
        <span>
          <%= t("custom.terms.data_protection_second") %>
        </span>
      </p>
      <p dir="ltr">
        <span>
          <%= t("custom.terms.data_protection_third") %>
        </span>
      </p>

      <h3 dir="ltr">
        <span>
          <%= t("custom.terms.data_use_title") %>
        </span>
      </h3>
      <p dir="ltr">
        <span>
          <%= t("custom.terms.data_use_first") %>
        </span>
      </p>

      <h3 dir="ltr">
        <span>
          <%= t("custom.terms.about_title") %>
        </span>
      </h3>

      <p dir="ltr">
        <span>
          <%= t("custom.terms.about_first") %>
        </span>
      </p>

      <h3 dir="ltr">
        <span><%= t("custom.terms.registration_title") %></span>
      </h3>

      <p dir="ltr">
        <%= t("custom.terms.registration_intro") %>
      </p>

      <p dir="ltr"><span><%= t("custom.terms.registration_requirements") %></span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.name") %></span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.email") %></span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.address") %></span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.phone") %></span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.emso") %></span></p>
        </li>
      </ul>

      <p dir="ltr">
        <span>
          <%= t("custom.terms.registration_first") %>
        </span>
      </p>

      <p dir="ltr">
        <span>
        <%= t("custom.terms.registration_second") %>
        </span>
      </p>

      <p dir="ltr">
        <span>
        <%= t("custom.terms.registration_third") %>
        </span>
      </p>

      <h3 dir="ltr"><span><%= t("custom.terms.rules_title") %></span></h3>

      <p dir="ltr">
        <span><%= t("custom.terms.rules_first") %></span>
      </p>

      <p dir="ltr">
        <span><%= t("custom.terms.rules_promise") %></span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.rules_promise_first") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.rules_promise_second") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.rules_promise_third") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.rules_promise_fourth") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.rules_promise_fifth") %></span>
          </p>
        </li>
      </ul>

      <p dir="ltr">
        <span><%= t("custom.terms.rules_second") %></span>
      </p>

      <h3 dir="ltr"><span><%= t("custom.terms.use_title") %></span></h3>

      <p dir="ltr">
        <span><%= t("custom.terms.use_intro") %></span>
      </p>

      <p dir="ltr"><span><%= t("custom.terms.use_list") %></span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.use_list_first") %></span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span><%= t("custom.terms.use_list_first_desc") %></span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.use_list_second") %></span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span><%= t("custom.terms.use_list_second_desc") %></span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span><%= t("custom.terms.use_list_third") %></span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;"><span><%= t("custom.terms.use_list_third_desc") %></span>
      </p>
      

      <h3 dir="ltr"><span><%= t("custom.terms.cookies_title") %></span></h3>

      <p dir="ltr"><span><%= t("custom.terms.cookies_intro") %></span></p>


      <h3 dir="ltr"><%= t("custom.terms.ip_title") %></h3>

      <p dir="ltr">
        <span>
        <%= t("custom.terms.ip_intro") %>
        </span>
      </p>


      <h3 dir="ltr"><span><%= t("custom.terms.responsibilities_title") %></span></h3>

      <p dir="ltr">
        <span><%= t("custom.terms.responsibilities_first") %></span>
      </p>

      <p dir="ltr"><span><%= t("custom.meta.place_name") %></span> <%= t("custom.terms.responsibilities_second") %></p>


      <p dir="ltr">
        <span><%= t("custom.terms.responsibilities_third") %></span>
        <%= t("custom.meta.place_name") %> prav tako ni odgovorna za vsebine:</p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.responsibilities_list_first") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.responsibilities_list_second") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.responsibilities_list_third") %></span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span><%= t("custom.terms.responsibilities_list_fourth") %></span>
          </p>
        </li>
      </ul>


      <p dir="ltr"><span><%= t("custom.meta.place_name") %></span><%= t("custom.terms.responsibilities_fourth") %></p>


      <p dir="ltr">
        <span><%= t("custom.meta.place_name") %></span><%= t("custom.terms.responsibilities_fifth") %></span>
        <%= t("custom.meta.place_name") %> izvzeta iz kakr&scaron;nekoli odgovornosti za pravdne zahtevke, zahtevke za
        od&scaron;kodnine ali
        od&scaron;kodnine kakr&scaron;ne koli narave, povezane z vsebinami na spletnem orodju in / ali nastalimi v
        sodnem postopku.</p>


    </div>
  </div>
</div>
