<div class="budget-creation-step">
  <% if single_heading? %>
    <%= content %>
  <% else %>
    <button type="button" class="add" aria-expanded="<%= show_form? %>">
      <%= t("admin.#{i18n_namespace_with_budget}.index.new_button") %>
    </button>

    <%= content %>

    <button type="button" class="cancel delete"><%= t("links.form.cancel_button") %></button>

    <% if next_step_path %>
      <%= link_to t("admin.budgets_wizard.#{i18n_namespace}.continue"),
                  next_step_path,
                  class: "next-step" %>
    <% else %>
      <p class="next-step">
        <%= t("admin.budgets_wizard.#{i18n_namespace}.continue") %>
      </p>
    <% end %>
  <% end %>
</div>
