<div class="votes">
  <%= t("comments.comment.votes", count: comment.total_votes) %>
  &nbsp;|&nbsp;

  <span class="in-favor">
    <%= button_to vote_comment_path(comment, value: "yes"),
        method: "post",
        remote: can?(:vote, comment),
        title: t("votes.agree") do %>
      <span class="show-for-sr"><%= t("votes.agree") %></span>
    <% end %>
    <%= comment.total_likes %>
  </span>

  <span class="against">
    <%= button_to vote_comment_path(comment, value: "no"),
        method: "post",
        remote: can?(:vote, comment),
        title: t("votes.disagree") do %>
      <span class="show-for-sr"><%= t("votes.disagree") %></span>
    <% end %>
    <%= comment.total_dislikes %>
  </span>
</div>
