<%# app/components/comments/votes_component.html.erb %>

<div class="votes">
  <strong><%= t("comments.comment.votes", count: comment.total_votes) %></strong>
  &nbsp;|&nbsp;

  <div class="in-favor">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: 1,
                                               title: t("votes.agree"),
                                               "aria-label": t("votes.agree_label", title: votable_title_for_aria_label)) %>
    <%= yes_votes_count %>
  </div>

  <div class="neutral">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: 0,
                                               title: t("votes.dont_know"),
                                               "aria-label": t("votes.neutral_label", title: votable_title_for_aria_label)) %>
    <%= not_sure_votes_count %> 
  </div>

  <div class="against">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: -1,
                                               title: t("votes.disagree"),
                                               "aria-label": t("votes.disagree_label", title: votable_title_for_aria_label)) %>
    <%= no_votes_count %>
  </div>
</div>