<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_human_rights_url %>
<% end %>

<div class="row">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to more_info_path %>

    <ul class="vertical menu clear">
      <li>
        <p>
          <a href="#1"><strong>Carta Europea de Salvaguarda de los Derechos Humanos de la Ciudad</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#2"><strong>¿Cómo lo está haciendo el Ayuntamiento en materia de Derechos Humanos?</strong></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#3"><strong>¿Qué significa trabajar con enfoque de derechos humanos?</strong></a>
        </p>
        <ul class="vertical menu clear">
          <li><a href="#3a">Alineación con los estándares de derechos humanos</a></li>
          <li><a href="#3b">No discriminación</a></li>
          <li><a href="#3c">Participación</a></li>
          <li><a href="#3d">Rendición de cuentas</a></li>
          <li><a href="#3e">Empoderamiento</a></li>
        </ul>
      </li>
      <li>
        <p>
          <a href="#4"><strong>Fase final del Plan de Derechos Humanos</strong></a>
        </p>
        <ul class="vertical menu clear">
          <li><a href="#4a">Comentarios sobre el borrador del texto</a></li>
          <li><a href="#4b">Priorización de medidas</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h2 id="1">Carta Europea de Salvaguarda de los Derechos Humanos de la Ciudad</h2>
    <p>En el año 2000 se firmó la <a href="http://www.uclg-cisdp.org/es/el-derecho-la-ciudad/carta-europea" target="_blank" title="<%= t('shared.target_blank_html') %>">Carta Europea de Salvaguarda de los Derechos Humanos de la Ciudad</a> a la que se adhirió Madrid. Un documento que promueve el compromiso de los gobiernos municipales en la defensa y promoción de los derechos humanos, no como una tarea concreta, sino como una acción transversal que afecte a todos los servicios y a todas las instancias municipales.</p>

    <p>Pero no es sólo esa Carta la que obliga a este Ayuntamiento a tener un enfoque integral de Derechos Humanos en todas sus políticas, sino que existe un gran número de tratados internacionales de derechos humanos ratificados por España que tienen que ser tenidos en cuenta a la hora de desarrollar cualquier política municipal: el <a href="http://www.ohchr.org/SP/ProfessionalInterest/Pages/CESCR.aspx" target="_blank" title="<%= t('shared.target_blank_html') %>">Pacto Internacional de Derechos Económicos, Sociales y Culturales</a>, el <a href="http://www.ohchr.org/SP/ProfessionalInterest/Pages/CCPR.aspx"  target="_blank" title="<%= t('shared.target_blank_html') %>">Pacto Internacional de Derechos Civiles y Políticos</a>, la <a href="http://www.ohchr.org/SP/ProfessionalInterest/Pages/CAT.aspx" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención contra la tortura</a>, la <a href="http://www.unicef.es/infancia/derechos-del-nino/convencion-derechos-nino" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención de Derechos del Niño</a>, la <a href="http://www.ohchr.org/SP/ProfessionalInterest/Pages/ConventionCED.aspx" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención para la protección de todas las personas contra las desapariciones forzadas</a>, y las tres convenciones contra la discriminación (<a href="http://www.un.org/womenwatch/daw/cedaw/text/sconvention.htm" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención contra la discriminación contra las mujeres</a>, <a href="http://www.ohchr.org/SP/ProfessionalInterest/Pages/CERD.aspx" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención contra la discriminación racial</a>, y <a href="http://www.un.org/esa/socdev/enable/documents/tccconvs.pdf" target="_blank" title="<%= t('shared.target_blank_html') %>">Convención sobre diversidad funcional</a>).</p>

    <p>Sin embargo, <strong>desconocemos el grado de cumplimiento</strong> de las obligaciones del Ayuntamiento de Madrid con la legislación internacional de Derechos Humanos.</p>

    <ul>
      <li>¿Está contribuyendo el Ayuntamiento de Madrid a animar a los ciudadanos a reclamar y ejercer sus derechos?</li>
      <li>¿Están los servicios municipales discriminando (directa o indirectamente) de algún modo por razón de sexo, edad, etnia, condición migratoria, orientación sexual o identidad de género?</li>
      <li>¿Está garantizando este ayuntamiento la participación de los ciudadanos en el diseño, ejecución y valoración de las políticas públicas?</li>
    </ul>

    <p>El Ayuntamiento de Madrid no tiene una respuesta clara a estas y muchas otras preguntas relacionadas directamente con los compromisos adquiridos en materia de Derechos Humanos.</p>

    <h2 id="2">¿Cómo lo está haciendo el Ayuntamiento en materia de Derechos Humanos?</h2>

    <p>Por esta razón este equipo de gobierno quiere poner en marcha un <strong>Plan Municipal de Derechos Humanos</strong> que, por un lado, ponga de relieve los logros y buenas prácticas existentes en las políticas municipales, así como los obstáculos y retos a los que se enfrentan los servicios municipales y su personal, y por otro, que dicte las líneas de acción para garantizar el cumplimiento de todas las obligaciones municipales desde el marco de DDHH.</p>

    <p>A la hora de desarrollar este Plan el Ayuntamiento considera absolutamente necesario que su elaboración sea el fruto de un amplio <strong>proceso de aportaciones colectivas</strong>, en el que se cuente con la participación de quienes trabajan en el Ayuntamiento de Madrid, así como de la sociedad civil madrileña, su tejido asociativo y de las personas "titulares de derechos" a quienes se dirigen las políticas públicas.</p>

    <p>El proceso de elaboración del Plan ya se ha puesto en marcha: el pasado mes de enero se comenzó a realizar un <strong>diagnóstico común de la situación</strong> que nos permita tener una radiografía del grado real de cumplimiento de las obligaciones municipales en materia de Derechos Humanos.</p>

    <p>La primera fase de este diagnóstico consiste en <strong>preguntar a los trabajadores municipales su opinión al respecto</strong>. Ya que, tal y como ha afirmado Manuela Carmena: <em>La proximidad a la ciudadanía nos confiere, a la vez, la capacidad de hacer visibles las situaciones de vulneración de los derechos humanos y la legitimidad y la obligación de actuar en consecuencia.</em></p>

    <p>A través de una serie de reuniones y talleres y de un <a href="http://www.madrid.es/UnidadesDescentralizadas/UDCMedios/noticias/2016/05Mayo/20Viernes/Notasprensa/DDHH/ficheros/Plan%20Derechos%20Humanos%20-%20Cuestionario%20Interno.pdf"  target="_blank" title="<%= t('shared.target_blank_html') %>">cuestionario en la intranet municipal</a> estamos conociendo cuál es la percepción de todos los trabajadores del Ayuntamiento de Madrid, y si tienen propuestas o recomendaciones para incorporar un enfoque de Derechos Humanos en los servicios y la gestión municipal.</p>

    <p>A su vez es indispensable hacer ese <strong>diagnóstico entre la sociedad civil</strong>. El Ayuntamiento quiere y tiene que saber qué opina la población madrileña, las organizaciones ciudadanas y las asociaciones vecinales. Para ello hemos puesto en marcha esta consulta abierta que nos permitirá conocer cuál es la percepción real por parte de la ciudadanía con respecto a la acción, la gestión y los servicios municipales y el enfoque que este Ayuntamiento tiene de los Derechos Humanos.</p>

    <h2 id="3">¿Qué significa trabajar con enfoque de derechos humanos?</h2>
    <h3 id="3a">Alineación con los estándares de derechos humanos</h3>
    <p>El Gobierno del Ayuntamiento de Madrid se compromete a alinear, en el marco de sus competencias, los objetivos de las políticas públicas, planes, programas y servicios municipales, a las obligaciones del marco normativo de derechos humanos ratificados por el Estado. Y se compromete a trabajar para asegurar que los servicios municipales respondan a los estándares de: disponibilidad, accesibilidad, calidad y adaptabilidad.</p>

    <h3 id="3b">No discriminación</h3>
    <p>El Ayuntamiento reconoce la prohibición de discriminación (directa e indirecta) como un eje central de sus políticas. Para ello, identifica los obstáculos para el ejercicio de los derechos que afectan específicamente a determinados sectores de la población, por razón de sexo, edad, etnia, condición migratoria, orientación sexual o identidad de género, ente otros.</p>

    <h3 id="3c">Participación</h3>
    <p>El Ayuntamiento garantiza el derecho a la participación activa, libre y significativa de la ciudadanía madrileña en políticas públicas, planes, programas, proyectos y actividades.</p>

    <h3 id="3d">Rendición de cuentas</h3>
    <p>El Ayuntamiento analiza el impacto sus actuaciones e informa y rinde cuentas ante la ciudadanía sobre los resultados de la gestión.</p>

    <h3 id="3e">Empoderamiento</h3>
    <p>El Ayuntamiento contribuye a fortalecer las capacidades de la ciudadanía madrileña para reclamar y ejercer sus derechos.</p>

    <h2 id="4">Fase final del Plan de Derechos Humanos</h2>

    <h3 id="4a">Comentarios sobre el borrador del texto</h3>

    <p>Habiéndose recogido las propuestas y aportaciones a través de los distintos canales de participación, se trata de comprobar que efectivamente se hallan reflejadas dichas aportaciones, con los comentarios y observaciones que consideres de relevantes.</p>

    <p>Como puede comprobarse, el Plan se estructura de modo fundamental en torno a las secciones, metas, objetivos estratégicos y líneas de actuación descritas. En los sub-apartados "Ficha" se incluyen solo ciertos elementos y acciones de carácter operativo consideradas clave para la posterior implementación del Plan, sin menoscabo de otras tantas especificaciones que deberán ser desarrolladas a través de planes operativos anuales.</p>

    <p>Accede al <%= link_to "borrador completo del Plan de Derechos Humanos", human_rights_plan_path %> y deja tus comentarios a lo largo del mismo.</p>

    <h3 id="4b">Priorización de medidas</h3>

    <h4>¿Cuáles son las líneas de acción prioritarias por las que el Ayuntamiento debería comenzar la implementación del Plan?</h4>

    <p>Con esta priorización no se pretende desechar líneas de acción, puesto que todas las identificadas se consideran necesarias para dar cumplimiento al conjunto de compromisos del Ayuntamiento de Madrid en materia de Derechos Humanos.</p>

    <p>Se trata de contribuir a su priorización para identificar por dónde cree la ciudadanía y distintas partes implicadas que el Ayuntamiento debe empezar a llevar a cabo e implementar el Plan.</p>
  </div>
</div>