<% provide :title do %><%= @article.title %><% end %>

<section class="article-show">
  <div id="<%= dom_id(@article) %>" class="row">
    <div class="small-12 medium-9 column">

      <h1><%= @article.title %></h1>

      <% if @article.subtitle.present? %>
        <h2><%= @article.subtitle%></h2>
      <% end %>

      <div class="article-info">
        <%= render '/shared/author_info', resource: @article %>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <%= l @article.created_at.to_date %>
      </div>

      <% if @article.image.present? %>
        <%= image_tag @article.image_url(:large), alt: @article.image.title, class: 'article-image' %>
      <% end %>

      <%= safe_html_with_links @article.content.html_safe %>

    </div>

    <aside class="small-12 medium-3 column">
      <%= render partial: 'shared/social_share', locals: {
        share_title: t("articles.show.share"),
        title: @article.title,
        url: article_url(@article)
      } %>
    </aside>

  </div>
</section>
