<%= render Moderation::Shared::IndexComponent.new(@comments) do %>
  <table class="clear">
    <thead>
      <tr>
        <th><%= t("moderation.comments.index.headers.comment") %></th>
        <th><%= t("moderation.comments.index.headers.moderate") %></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr id="comment_<%= comment.id %>">
          <td>
            <%= comment.commentable_type.constantize.model_name.human %> -
            <%= link_to comment.commentable.title, commentable_path(comment), target: "_blank" %>
            <br>
            <span class="date"><%= l comment.updated_at.to_date %></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= comment.flags_count %><span class="icon-flag flag-disable"></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= comment.author.username %>
            <br>
            <div class="moderation-description">
              <%= comment.body %>
            </div>
          </td>
          <td class="text-center">
            <%= check_box_tag "comment_ids[]", comment.id, nil, id: "#{dom_id(comment)}_check" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
