<ul id="admin_menu" data-accordion-menu>
  <li class="section-title">
    <%= user_links %>
  </li>

  <% if Setting["process.budgets"] %>
    <li <%= "class=is-active" if print_investments? %>>
      <%= link_to t("management.menu.print_budget_investments"), print_investments_management_budgets_path, class: "print-investments-link" %>
    </li>
  <% end %>

  <li <%= "class=is-active" if print_proposals? %>>
    <%= link_to t("management.menu.print_proposals"), print_management_proposals_path, class: "print-proposals-link" %>
  </li>

  <li <%= "class=is-active" if user_invites? %>>
    <%= link_to t("management.menu.user_invites"), new_management_user_invite_path, class: "invitations-link" %>
  </li>
</ul>
