<div class="row">
  <div class="small-12 column">
    <%= back_link_to %>

    <h1><%= t("proposal_notifications.new.title") %></h1>

    <div class="callout primary">
      <p>
        <%= t("proposal_notifications.new.info_about_receivers_html",
              count: @proposal.users_to_notify.count,
              proposal_page: link_to(t("proposal_notifications.new.proposal_page"),
                                     proposal_path(@proposal, anchor: "comments"))).html_safe %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <%= form_for @notification do |f| %>
      <%= render "shared/errors", resource: @notification %>

      <%= f.label :title, t("proposal_notifications.new.title_label") %>
      <%= f.text_field :title, label: false %>

      <%= f.label :body, t("proposal_notifications.new.body_label") %>
      <%= f.text_area :body, label: false, rows: "3" %>

      <%= f.hidden_field :proposal_id, value: @proposal.id %>

      <div class="small-12 medium-4">
        <%= f.submit t("proposal_notifications.new.submit_button"), class: "button expanded" %>
      </div>
    <% end %>
  </div>
</div>
