<h3 id="districts">Participación por distritos</h3>

<div class="show-for-medium medium-6 column small-centered margin">
  <%= image_tag("map.jpg", usemap: "#html_map", alt: "Mapa de distritos de Madrid") %>
</div>

<map name="html_map" id="html_map">
  <% Geozone.find_each do |geozone| %>
    <area shape="poly"
          coords="<%= geozone.html_map_coordinates %>"
          href="#<%= geozone.name.parameterize %>"
          title="<%= geozone.name %>"
          alt="<%= geozone.name %>">
  <% end %>
</map>

<table class="polls-participation-district">
  <thead>
    <tr>
      <th scope="col" class="border-right district">DISTRITO</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
      <th scope="col">% PARTICIPACIÓN POBLACIÓN DEL DISTRITO</th>
    </tr>
  </thead>
  <tbody>
    <% Geozone.all.order(name: :asc).each do |geozone| %>
      <tr id="<%= geozone.name.parameterize %>">
        <td class="border-right">
          <strong><%= geozone.name %></strong>
        </td>
        <td><%= @district_stats[geozone.id.to_s]['web'] %>
          <small><em>(<%= percent_stat(@district_stats[geozone.id.to_s]['web'], @district_stats[geozone.id.to_s]['total'])%>%)</em></small></td>
        <td><%= @district_stats[geozone.id.to_s]['booth'] %>
          <small><em>(<%= percent_stat(@district_stats[geozone.id.to_s]['booth'], @district_stats[geozone.id.to_s]['total'])%>%)</em></small></td>
        <td class="border-left"><%= @district_stats[geozone.id.to_s]['total'] %>
          <small><em>(<%= percent_stat(@district_stats[geozone.id.to_s]['total'], @district_stats['all']['total'])%>%)</em></small></td>
        <td><%= percent_stat(@district_stats[geozone.id.to_s]['total'], population_by_geozone(geozone.name))%>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
