<h3 id="9">Participación total</h3>

<p class="stat-number margin-top">
  Nº total de votos emitidos<br>
  <span><%= @totals['votos_totales'] %></span>
</p>

<h4>Canales de participación (Votos emitidos)</h4>

<table class="polls-total-stats">
  <thead>
    <tr>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @totals['votos_total_web'] %> <small><em>(<%= percent_stat(@totals['votos_total_web'], @totals['votos_totales']) %>%)</em></small></td>
      <td><%= @totals['votos_total_booth'] %> <small><em>(<%= percent_stat(@totals['votos_total_booth'], @totals['votos_totales']) %>%)</em></small></td>
      <td><%= @totals['votos_total_letter'] %> <small><em>(<%= percent_stat(@totals['votos_total_letter'], @totals['votos_totales']) %>%)</em></small></td>
    </tr>
  </tbody>
</table>

<p class="stat-number margin-top">
  Nº total de participantes<br>
  <span><%= @totals['participantes_totales'] %></span>
</p>

<h4>Canales de participación (Participantes)</h4>

<table class="polls-total-stats">
  <thead>
    <tr>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @totals['participantes_total_web'] %> <small><em>(<%= percent_stat(@totals['participantes_total_web'], @totals['participantes_totales']) %>%)</em></small></td>
      <td><%= @totals['participantes_total_booth'] %> <small><em>(<%= percent_stat(@totals['participantes_total_booth'], @totals['participantes_totales']) %>%)</em></small></td>
      <td><%= @totals['participantes_total_letter'] %> <small><em>(<%= percent_stat(@totals['participantes_total_letter'], @totals['participantes_totales']) %>%)</em></small></td>
    </tr>
  </tbody>
</table>