<% provide :title do %><%= t('medidas.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form_header",
search_path: medidas_path(page: 1),
i18n_namespace: "medidas.index.search_form" %>
<% end %>

<section role="main">
  <div class="wrap row">
    <div id="medidas" class="medidas-list small-12 medium-9 column">

      <div class="filters">
        <div class="small-12 medium-7 left">
          <% if @search_terms %>
            <h2 class="margin-top">
              <%= page_entries_info @medidas %>
              <%= t("medidas.index.search_results", count: @medidas.size, search_term: @search_terms) %>
            </h2>
          <% elsif @tag_filter %>
            <h2 class="margin-top">
              <%= page_entries_info @medidas %>
              <%= t("medidas.index.filter_topic", count: @medidas.size, topic: @tag_filter) %>
            </h2>
          <% end %>
        </div>

        <!--
        <% if @tag_filter || @search_terms %>
          <div class="small-12 medium-5 margin-top inline-block medidas-order">
            <h6 class="inline-block">
              <%= t("medidas.index.select_order") %>
            </h6>
            <%= render 'shared/order_selector', i18n_namespace: "medidas.index" %>
          </div>
        <% else %>
          <div class="small-12 inline-block">
            <h2 class="inline-block">
              <%= t("medidas.index.select_order_long") %>
            </h2>
            <%= render 'shared/order_selector', i18n_namespace: "medidas.index" %>
          </div>
        <% end %>
        -->

        <div id="header" class="small-12 medium-12 menu-programa">
          <%= link_to taggable_path('medida', 'BLOQUE I. LA ECONOMÍA DEL CAMBIO.'), class: 'm', :data =>{:dropdown =>'epi-bloque1'} do %>
                BLOQUE I. LA ECONOMÍA DEL CAMBIO.
          <% end %>
          <ul id='epi-bloque1' class='medium f-dropdown m-menu' data-dropdown-content>
  						<li><%= link_to taggable_path('medida', '1 Las políticas macroeconómicas en el marco europeo: terminar con la austeridad fiscal y salarial.'), class: 'm' do %>
                1 Las políticas macroeconómicas en el marco europeo: terminar con la austeridad fiscal y salarial.
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '2 Empleo digno para todos. Una política para la mejora de las condiciones de trabajo'), class: 'm' do %>
                2 Empleo digno para todos. Una política para la mejora de las condiciones de trabajo
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '3 Políticas sociales: Plan de Garantía de Rentas, Estado de Bienestar y Reorganización del Sistema de Cuidados.'), class: 'm' do %>
                3 Políticas sociales: Plan de Garantía de Rentas, Estado de Bienestar y Reorganización del Sistema de Cuidados.
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '4 Garantizar un sistema de pensiones de calidad'), class: 'm' do %>
                4 Garantizar un sistema de pensiones de calidad
            <% end %></li>
            <li><%= link_to taggable_path('medida', '5 Una reforma fiscal para la suficiencia, la equidad y la cohesión social'), class: 'm' do %>
                5 Una reforma fiscal para la suficiencia, la equidad y la cohesión social
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '6 Un nuevo modelo productivo'), class: 'm' do %>
                6 Un nuevo modelo productivo
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '7 Hacia la transición energética'), class: 'm' do %>
                7 Hacia la transición energética
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '8 Banca pública y regulación financiera'), class: 'm' do %>
                8 Banca pública y regulación financiera
            <% end %></li>
            <li><%= link_to taggable_path('medida', '9 La reestructuración de la deuda española '), class: 'm' do %>
                9 La reestructuración de la deuda española
            <% end %></li>
  						<li><%= link_to taggable_path('medida', '10 PYMES, autónomos y Economía Social'), class: 'm' do %>
                10 PYMES, autónomos y Economía Social
            <% end %></li>
          </ul>
          <%= link_to taggable_path('medida', 'BLOQUE II. DEMOCRACIA.'), class: 'm has-dropdown', :data =>{:dropdown =>'epi-bloque2'} do %>
            BLOQUE II. DEMOCRACIA.
          <% end %>
          <ul id='epi-bloque2' class='medium f-dropdown' data-dropdown-content>
            <li><%= link_to taggable_path('medida', 'Administraciones accesibles, seguras, libres y eficientes'), class: 'm', :data =>{:dropdown =>'subepi1-bloque2'} do %>
                  Administraciones accesibles, seguras, libres y eficientes
              <% end %>
              <ul id='subepi1-bloque2' class='medium f-dropdown' data-dropdown-content>
                <li><%= link_to taggable_path('medida', 'Formas de gestión'), class: 'm' do %>
                  Formas de gestión
                <% end %></li>
                <li><%= link_to taggable_path('medida', 'Herramientas para la gestión'), class: 'm' do %>
                  Herramientas para la gestión
                <% end %></li>
                <li><%= link_to taggable_path('medida', 'Participación Ciudadana'), class: 'm' do %>
                  Participación Ciudadana
                <% end %></li>
                <li><%= link_to taggable_path('medida', 'Transparencia'), class: 'm' do %>
                  Transparencia
                <% end %></li>
              </ul>
            </li>
						<li><%= link_to taggable_path('medida', 'Libertades y derechos humanos'), class: 'm', :data =>{:dropdown =>'subepi2-bloque2'} do %>
              Libertades y derechos humanos
              <% end %>
              <ul id='subepi2-bloque2' class='medium f-dropdown' data-dropdown-content>
  							<li><%= link_to taggable_path('medida', 'Consumo'), class: 'm' do %>
                  Consumo
                  <% end %></li>
  							<li><%= link_to taggable_path('medida', 'Laicidad y Libertad de Conciencia'), class: 'm' do %>
                Laicidad y Libertad de Conciencia
                <% end %></li>
  							<li><%= link_to taggable_path('medida', 'Memoria Histórica'), class: 'm' do %>
                Memoria Histórica
                <% end %></li>
							</ul>
            </li>
						<li><%= link_to taggable_path('medida', 'Lucha contra la corrupción'), class: 'm' do %>
              Lucha contra la corrupción
              <% end %></li>
						<li><%= link_to taggable_path('medida', 'Modelo Territorial'), class: 'm' do %>
              Modelo Territorial
              <% end %></li>
            <li><%= link_to taggable_path('medida', 'Poderes Públicos'), class: 'm' do %>
                Poderes Públicos
            <% end %></li>
						<li><%= link_to taggable_path('medida', 'Recuperar las instituciones para la gente'), class: 'm', :data =>{:dropdown =>'subepi6-bloque2'} do %>
              Recuperar las instituciones para la gente
              <% end %>
              <ul id='subepi6-bloque2' class='medium f-dropdown' data-dropdown-content>
                <li><%= link_to taggable_path('medida', 'Despolitizar las administraciones públicas'), class: 'm' do %>
              Despolitizar las administraciones públicas
          <% end %></li>
                <li><%= link_to taggable_path('medida', 'Evaluación y Rendición de cuentas'), class: 'm' do %>
              Evaluación y Rendición de cuentas
          <% end %></li>
              </ul>
            </li>
            <li><%= link_to taggable_path('medida', 'Sistema Electoral'), class: 'm' do %>
                Sistema Electoral
              <% end %></li>
						<li><%= link_to taggable_path('medida', 'Seguridad  y Defensa.'), class: 'm', :data =>{:dropdown =>'subepi8-bloque2'} do %>
              Seguridad  y Defensa.
              <% end %>
            <ul id='subepi8-bloque2' class='medium f-dropdown' data-dropdown-content>
							<li><%= link_to taggable_path('medida', 'Seguridad'), class: 'm' do %>
              Seguridad
              <% end %></li>
							<li><%= link_to taggable_path('medida', 'Defensa'), class: 'm' do %>
              Defensa
              <% end %></li>
						</ul>
            </li>
          </ul>
          <%= link_to taggable_path('medida', 'BLOQUE III. JUSTICIA Y BIENESTAR SOCIAL.'), class: 'm', :data =>{:dropdown =>'epi-bloque3'} do %>
              BLOQUE III. JUSTICIA Y BIENESTAR SOCIAL.
          <% end %>
        <ul id='epi-bloque3' class='medium f-dropdown' data-dropdown-content>
						<li><%= link_to taggable_path('medida', 'Sanidad.'), class: 'm' do %>
              Sanidad.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Educación.'), class: 'm' do %>
              Educación.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Investigación.'), class: 'm' do %>
              Investigación.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Dependencia.'), class: 'm' do %>
              Dependencia.
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Pensiones.'), class: 'm' do %>
              Pensiones.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Vivienda y Suministros.'), class: 'm' do %>
              Vivienda y Suministros.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Igualdad.'), class: 'm' do %>
              Igualdad.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Infancia.'), class: 'm' do %>
              Infancia.
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Deporte.'), class: 'm' do %>
              Deporte.
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Migraciones.'), class: 'm' do %>
              Migraciones.
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Emigración.'), class: 'm' do %>
            Emigración.
        <% end %></li>
          <li><%= link_to taggable_path('medida', 'Mundo rural.'), class: 'm' do %>
            Mundo rural.
        <% end %></li>
          <li><%= link_to taggable_path('medida', 'Transporte e Infraestructuras.'), class: 'm' do %>
            Transporte e Infraestructuras.
        <% end %></li>
          <li><%= link_to taggable_path('medida', 'Medio ambiente.'), class: 'm' do %>
            Medio ambiente.
        <% end %></li>
        <li><%= link_to taggable_path('medida', 'Servicios Sociales.'), class: 'm' do %>
            Servicios Sociales.
        <% end %></li>
      </ul>
          <%= link_to taggable_path('medida', 'BLOQUE IV. CULTURA. Y COMUNICACIÓN'), class: 'm', :data =>{:dropdown =>'epi-bloque4'} do %>
              BLOQUE IV. CULTURA. Y COMUNICACIÓN
          <% end %>
        <ul id='epi-bloque4' class='medium f-dropdown' data-dropdown-content>
						<li><%= link_to taggable_path('medida', '1. Cultura y Comunicación como enfoque estratégico'), class: 'm' do %>
              1. Cultura y Comunicación como enfoque estratégico
          <% end %></li>
						<li><%= link_to taggable_path('medida', '2. Democracia y mejora de las instituciones públicas culturales y de la comunicación'), class: 'm' do %>
              2. Democracia y mejora de las instituciones públicas culturales y de la comunicación
          <% end %></li>
						<li><%= link_to taggable_path('medida', '3. Sostenibilidad del sector cultural'), class: 'm' do %>
              3. Sostenibilidad del sector cultural
          <% end %></li>
						<li><%= link_to taggable_path('medida', '4. Acceso, conocimiento y difusión'), class: 'm' do %>
              4. Acceso, conocimiento y difusión
          <% end %></li>
          <li><%= link_to taggable_path('medida', '5. Diversidad e igualdad en la cultura y la comunicación'), class: 'm' do %>
              5. Diversidad e igualdad en la cultura y la comunicación
          <% end %></li>
          </ul>

          <%= link_to taggable_path('medida', 'BLOQUE V. INTERNACIONAL.'), class: 'm', :data =>{:dropdown =>'epi-bloque5'} do %>
              BLOQUE V. INTERNACIONAL.
          <% end %>
        <ul id='epi-bloque5' class='medium f-dropdown' data-dropdown-content>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'XXXXXXXXXXXXXXXXXXXXX'), class: 'm' do %>
              XXXXXXXXXXXXXXXXXXXXX
          <% end %></li>
          </ul>
        <%= link_to taggable_path('medida', 'BLOQUE PROPUESTAS TERRITORIALES'), class: 'm', :data =>{:dropdown =>'epi-bloque6'} do %>
              BLOQUE PROPUESTAS TERRITORIALES
          <% end %>
        <ul id='epi-bloque6' class='medium f-dropdown' data-dropdown-content>
						<li><%= link_to taggable_path('medida', 'Andalucía'), class: 'm' do %>
              Andalucía
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Aragón'), class: 'm' do %>
              Aragón
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Asturias'), class: 'm' do %>
              Asturias
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Canarias'), class: 'm' do %>
              Canarias
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Cantabria'), class: 'm' do %>
              Cantabria
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Castilla y León'), class: 'm' do %>
              Castilla y León
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Castilla La Mancha'), class: 'm' do %>
              Castilla La Mancha
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Cataluña'), class: 'm' do %>
              Cataluña
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Comunidad de Madrid'), class: 'm' do %>
              Comunidad de Madrid
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Comunidad Foral de Navarra'), class: 'm' do %>
              Comunidad Foral de Navarra
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Comunidad Valenciana'), class: 'm' do %>
              Comunidad Valenciana
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Extremadura'), class: 'm' do %>
              Extremadura
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Galicia'), class: 'm' do %>
              Galicia
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'Islas Baleares'), class: 'm' do %>
              Islas Baleares
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'La Rioja'), class: 'm' do %>
              La Rioja
          <% end %></li>
						<li><%= link_to taggable_path('medida', 'País Vasco'), class: 'm' do %>
              País Vasco
          <% end %></li>
          <li><%= link_to taggable_path('medida', 'Región de Murcia'), class: 'm' do %>
              Región de Murcia
          <% end %></li>
					</ul>
		</div>



        <div class="small-12 medium-12 menu-programa">




          <div class="small-12 medium-12 epigrafe">
        Administraciones accesibles, seguras, libres y eficientes

        Libertades y derechos humanos

        </div>

          <div class="small-12 medium-12 subepigrafe">
          Formas de gestión
Herramientas para la gestión
Participación Ciudadana
Transparencia


          </div>





        </div>






        <!--div class="show-for-small-only">
          <%= link_to t("medidas.index.start_medida"), new_medida_path, class: 'button radius expand' %>
        </div-->

        <%= render @medidas %>
        <%= paginate @medidas %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <!--%= link_to t("medidas.index.start_medida"), new_medida_path, class: 'button radius expand' %-->
        <!--%= render "shared/tag_cloud", taggable: 'medida' %-->
        <div class="tag-cloud">
            <div class="sidebar-divider"></div>
            <h3>Eje seleccionado</h3>
            <br>
            <a href="" class="l">Sub-eje 1</a>
            <a href="" class="l">Sub-eje 2</a>
            <a href="" class="l">Sub-eje 3</a>
        </div>
      </aside>
    </div>
  </div>
</section>
