<%= form_for [:communication, @newsletter] do |f| %>
  <%= render 'shared/errors', resource: @newsletter %>

  <%= f.select :segment_recipient, options_for_select(user_segments_options,
                                                      @newsletter[:segment_recipient]) %>
  <%= f.text_field :subject %>
  <%= f.text_field :from %>
  <%= f.cktext_area :body, ckeditor: { language: I18n.locale, toolbar: 'cdj' } %>

  <div class="margin-top">
    <%= f.submit class: "button success" %>
  </div>
<% end %>
