<section class="section py-3 py-md-6">
<div class="container">
  <div class="row pt-5 pt-md-0">
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
      <div class="card border-gray-300 p-2">
        <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
          <span class="h5 my-0 my-lg-3 me-3 me-lg-0"><%= t("account.show.title") %></span>
          <%= link_to destroy_user_session_path, rel: "nofollow", method: :delete, class:"btn btn-gray-300 btn-xs" do %>
          <span class="me-2">
            <span class="fas fa-sign-out-alt"></span></span><%= t("devise_views.menu.login_items.logout") %>
        <% end %>

      </div>
      <div class="card-body p-2 d-none d-lg-block">
        <div class="list-group dashboard-menu list-group-sm">
          <%= link_to "#", class:"d-flex list-group-item border-0 list-group-item-action active", rel: "nofollow", title: t("shared.go_to_page") + t("layouts.header.my_account_link") do %>
          <%= t("layouts.header.my_account_link")%>
          <span class="icon icon-xs ms-auto">
            <span class="fas fa-chevron-right"></span>
          </span>
          <% end %>

          <%= link_to user_path(current_user), class:"d-flex list-group-item border-0 list-group-item-action", rel: "nofollow", title: t("shared.go_to_page") + t("layouts.header.my_activity_link") do %>
          <%= t("layouts.header.my_activity_link")%>
          <span class="icon icon-xs ms-auto">
            <span class="fas fa-chevron-right"></span>
          </span>
        <% end %>

        <%= link_to notifications_path, class: "d-flex list-group-item border-0 list-group-item-action" do %>
        <%= t("notifications.index.title") %>
        <span class="icon icon-xs ms-auto">
          <span class="fas fa-chevron-right"></span>
        </span>
      <% end %>

      <%= link_to edit_user_registration_path, class: "d-flex list-group-item border-0 list-group-item-action" do %>
      <%= t("account.show.change_credentials_link")%>
      <span class="icon icon-xs ms-auto">
        <span class="fas fa-chevron-right"></span>
      </span>
    <% end %>

    <%= link_to users_registrations_delete_form_path, class: "d-flex list-group-item border-0 list-group-item-action" do %>
    <%= t("account.show.erase_account_link")%>
    <span class="icon icon-xs ms-auto">
      <span class="fas fa-chevron-right"></span>
    </span>
  <% end %>

</div>
</div>
</div>
</div>
<div class="col-12 d-lg-none">
<div class="card bg-white border-gray-300 mb-4 mb-lg-5">
<div class="card-body">
<div class="row align-items-center">
  <div class="col-10 d-flex flex-wrap">
    <%= link_to "#", class:"list-group-item list-group-item-action border-0 text-center me-2 active", rel: "nofollow", title: t("shared.go_to_page") + t("layouts.header.my_account_link") do %>
    <%= t("layouts.header.my_account_link")%>
    <% end %>

    <%= link_to user_path(current_user), class:"list-group-item list-group-item-action border-0 text-center me-2", rel: "nofollow", title: t("shared.go_to_page") + t("layouts.header.my_activity_link") do %>
    <%= t("layouts.header.my_activity_link")%>
  <% end %>

  <%= link_to notifications_path, class: "list-group-item list-group-item-action border-0 text-center me-2" do %>
  <%= t("notifications.index.title") %>

<% end %>

<%= link_to edit_user_registration_path, class: "list-group-item list-group-item-action border-0 text-center me-2" do %>
<%= t("account.show.change_credentials_link")%>
<% end %>

<%= link_to users_registrations_delete_form_path, class: "list-group-item list-group-item-action border-0 text-center me-2" do %>
<%= t("account.show.erase_account_link")%>

<% end %>
</div>
</div>
</div>
</div>
</div>
<div class="col-12 col-lg-8">
<div class="row">
<div class="col-lg-12">
<div class="card card-body bg-white border-gray-300 mb-4">
  <h2 class="h5 mb-4"><%= t("account.show.personal") %></h2>

  <%= form_for @account, as: :account, url: account_path do |f| %>
  <%= render "shared/errors", resource: @account %>
  <% if @account.organization? %>
  <%= f.fields_for :organization do |fo| %>
  <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, class:"form-control" %>
  <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, class:"form-control" %>
  <% end %>
  <%= f.text_field :phone_number, class:"form-control" %>

  <% else %>
  <%= f.text_field :username, maxlength: User.username_max_length, class:"form-control" %>
  <% end %>


  <div class="form-check form-switch">
    <%= f.check_box :public_activity, class:"form-check-input" %>
  </div>
  <div class="form-check form-switch">
    <%= f.check_box :public_interests, class:"form-check-input" %>
  </div>


  <% if @account.email.present? %>
  <h2 class="h5 mb-4"><%= t("account.show.notifications") %></h2>

  <div class="form-check form-switch">

  <%= f.check_box :email_on_comment, class:"form-check-input" %>
  </div>

  <div class="form-check form-switch">

  <%= f.check_box :email_on_comment_reply, class:"form-check-input" %>
  </div>

  <div class="form-check form-switch">

  <%= f.check_box :newsletter, class:"form-check-input" %>
  </div>

  <div class="form-check form-switch">

  <%= f.check_box :email_digest, class:"form-check-input" %>
  </div>

  <div class="form-check form-switch">

  <%= f.check_box :email_on_direct_message, class:"form-check-input" %>
  </div>

  <% end %>

  <% if @account.official_level == 1 %>
  <div class="form-check form-switch">

  <%= f.check_box :official_position_badge, class:"form-check-input" %>
  </div>

  <% end %>

  <% if feature?("user.recommendations") %>
  <h2 class="h5 mb-4"><%= t("account.show.recommendations") %></h2>

  <% if feature?("user.recommendations_on_debates") %>
  <div class="form-check form-switch">

  <%= f.check_box :recommended_debates, class:"form-check-input" %>
  </div>

  <% end %>

  <% if feature?("user.recommendations_on_proposals") %>
  <div class="form-check form-switch">

  <%= f.check_box :recommended_proposals, class:"form-check-input" %>
  </div>

  <% end %>
  <% end %>

  <%= f.submit t("account.show.save_changes_submit"), class: "w-100 btn btn-lg btn-primary" %>
</div>
<div class="card card-body bg-white border-gray-300 mb-4">
  <h2 class="h5 mb-4"><%= t("account.show.user_permission_title") %></h2>
  <div class="row align-items-center justify-content-center">
    <%= t("account.show.user_permission_info") %>

    <ul class="list-unstyled">
    <li>
    <span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_debates") %></li>
    <li>
    <span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_proposal") %></li>
    <li>
    <% if current_user.level_two_or_three_verified? %>
    <span class="icon-check"></span>
    <% else %>
    <span class="icon-x"></span>
    <% end %>
    <%= t("account.show.user_permission_support_proposal") %>
    </li>
    <li>
    <% if current_user.level_three_verified? %>
    <span class="icon-check"></span>
    <% else %>
    <span class="icon-x"></span>
    <% end %>
    <%= t("account.show.user_permission_votes") %>
    </li>
    </ul>

    <p>
    <span><%= t("account.show.user_permission_verify_info") %></span>
    </p>
    <p>
    <%= t("account.show.user_permission_verify") %>
    </p>

    <% unless @account.organization? %>
    <div>
    <span class="verify-account">
    <% if current_user.level_three_verified? %>
      <p class="already-verified">
        <span class="icon-check"></span>
        <%= t("account.show.verified_account") %>
      </p>
      <% elsif current_user.level_two_verified? %>
        <%= link_to t("account.show.finish_verification"), verification_path, class: "w-100 btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to t("account.show.verify_my_account"), verification_path, class: "w-100 btn btn-lg btn-primary" %>
      <% end %>
    </span>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
