<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 justify-content-left">


      <div class="h2 fw-bold text-center py-3">
        <%= avatar_image(@account, seed: @account.id, size: 50, class: "float-left") %>
        <%= t("account.show.title") %>
      </div>


      <div class="d-grid gap-2 d-sm-block">
        <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "btn btn-outline-primary" %>
        <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "btn btn-outline-danger" %>
      </div>

        <%= form_for @account, as: :account, url: account_path do |f| %>
        <%= render "shared/errors", resource: @account %>

        <div class="h3 fw-bold text-center"><%= t("account.show.personal") %></div>

        <% if @account.organization? %>
          <%= f.fields_for :organization do |fo| %>
          <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length %>
          <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length %>
        <% end %>
        <%= f.text_field :phone_number %>

      <% else %>
        <%= f.text_field :username, maxlength: User.username_max_length, class:"form-control" %>
      <% end %>

      <%= f.check_box :public_activity %>

      <%= f.check_box :public_interests %>

      <% if @account.email.present? %>
        <div class="h3 fw-bold text-center"><%= t("account.show.notifications") %></div>

        <%= f.check_box :email_on_comment %>

        <%= f.check_box :email_on_comment_reply %>

        <%= f.check_box :newsletter %>

        <%= f.check_box :email_digest %>

        <%= f.check_box :email_on_direct_message %>
      <% end %>

      <% if @account.official_level == 1 %>
        <%= f.check_box :official_position_badge %>
      <% end %>

      <% if feature?("user.recommendations") %>
        <div class="h3 fw-bold text-center"><%= t("account.show.recommendations") %></div>

        <% if feature?("user.recommendations_on_debates") %>
          <%= f.check_box :recommended_debates %>
        <% end %>

        <% if feature?("user.recommendations_on_proposals") %>
          <%= f.check_box :recommended_proposals %>
        <% end %>
      <% end %>

      <%= f.submit t("account.show.save_changes_submit"), class: "w-100 btn btn-lg btn-primary" %>

      <div class="h3 fw-bold text-center"><%= t("account.show.user_permission_title") %></div>

      <%= t("account.show.user_permission_info") %>

      <ul>
        <li>
          <span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_debates") %></li>
        <li>
          <span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_proposal") %></li>
        <li>
          <% if current_user.level_two_or_three_verified? %>
            <span class="icon-check"></span>
          <% else %>
            <span class="icon-x"></span>
          <% end %>
          <%= t("account.show.user_permission_support_proposal") %>
        </li>
        <li>
          <% if current_user.level_three_verified? %>
            <span class="icon-check"></span>
          <% else %>
            <span class="icon-x"></span>
          <% end %>
          <%= t("account.show.user_permission_votes") %>
        </li>
      </ul>

      <p>
        <span><%= t("account.show.user_permission_verify_info") %></span>
      </p>
      <p>
        <%= t("account.show.user_permission_verify") %>
      </p>

      <% unless @account.organization? %>
        <div>
          <span class="verify-account">
            <% if current_user.level_three_verified? %>
              <p class="already-verified">
                <span class="icon-check"></span>
                <%= t("account.show.verified_account") %>
              </p>
              <% elsif current_user.level_two_verified? %>
                <%= link_to t("account.show.finish_verification"), verification_path, class: "w-100 btn btn-lg btn-primary" %>
              <% else %>
                <%= link_to t("account.show.verify_my_account"), verification_path, class: "w-100 btn btn-lg btn-primary" %>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
