<h2 class="not-print"><%= t("management.account.menu.reset_password_manually") %></h2>

<%= form_for managed_user, url: change_password_management_account_path do |f| %>
  <%= f.label :password %>
  <p class="help-text"><%= t("management.account.edit.password.print_help") %></p>
  <div class="small-12 medium-6">

    <div class="input-group">
      <%= f.password_field :password, class: "input-group-field no-margin-bottom", label: false, value: nil %>
      <span class="input-group-label">
        <a href="#" class="show-password"><span class="icon-eye"></span></a>
      </span>
    </div>

    <%= link_to t("management.account.edit.password.random"), '#', class: 'generate-random-value float-right' %>
  </div>

  <%= f.submit t("management.account.edit.password.save"), class: "button success" %>
<% end %>
