<h2 class="not-print"><%= t("management.account.edit.title") %></h2>

<div class="for-print-only">
  <%= t("management.account.edit.password.password") %>:
  <strong><%= session[:new_password] %></strong>
</div>

<div class="row">
  <div class="columns small-4">
    <p class="callout success not-print"><%= t("management.account.edit.password.reseted") %></p>
  </div>
</div>

<div class="row">
  <div class="columns small-4">
    <%= link_to t("management.account.edit.back"), edit_password_manually_management_account_path(managed_user.id), class: "button hollow" %>
    <a id="print_link" href="javascript:window.print();" class="button warning">
      <%= t("management.account.edit.password.print") %>
    </a>
  </div>
</div>
