<main>
  <%= render 'admin/shared/proposal_search', url: management_proposals_path %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <div class="filters">
        <div class="small-12 medium-7 float-left">
          <% if @search_terms %>
            <h2>
              <%= page_entries_info @proposals %>
              <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_terms) %>
            </h2>
          <% end %>
        </div>

        <%= render @proposals %>
        <%= paginate @proposals %>
      </div>
    </div>
  </div>
</main>