<main>
  <h2><%= t("management.proposals.index.title") %></h2>

  <%= render 'admin/shared/proposal_search', url: management_proposals_path %>

  <div class="management-list">
    <div class="proposals-list">

      <div class="filters">
        <% if @search_terms %>
          <h3>
            <%= page_entries_info @proposals %>
            <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_terms) %>
          </h3>
        <% end %>

        <%= render @proposals %>
        <%= paginate @proposals %>
      </div>
    </div>
  </div>
</main>
