<section id="printme" role="main">
  <a id="print_link" onclick="print();" class="button warning radius">
    <%= t('management.proposals.print.print_button') %>
  </a>
  <div class="wrap row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <div class="filters">
        <div class="small-12 medium-7 left">
          <div class="small-12 inline-block">
            <h2 class="inline-block">
              <%= t("proposals.index.select_order_long") %>
            </h2>
            <%= render 'shared/order_selector', i18n_namespace: "proposals.index" %>
          </div>
        </div>
      </div>

      <%= render @proposals %>
      <%= paginate @proposals %>
    </div>
  </div>
</section>


<script type="text/javascript">
  function print(){
    var object=document.getElementById('printme');
    var browser=window.open('','_blank');
    browser.document.write(object.innerHTML);
    browser.document.close();
    browser.print();
    browser.close();
  }
</script>