<section role="main">
  <div class="row">
    <div id="proposals" class="proposals-list small-12 column">
      <a id="print_link" href="javascript:window.print();" class="button warning radius right">
        <%= t('management.proposals.print.print_button') %>
      </a>

      <%= image_tag "header_print_proposals.jpg", class: "for-print-only" %>

      <div class="filters">
        <span class="for-print-only date-for-print"><%= l Date.today, format: :long %></span>

        <h2 class="inline-block">
          <span class="not-print"><%= t("proposals.index.select_order_long") %></span>
          <span class="for-print-only"><%= t("management.print.proposals_title") %></span>
        </h2>
        <%= render 'shared/order_selector', i18n_namespace: "proposals.index" %>
      </div>

      <%= render @proposals %>

      <div class="for-print-only">
        <p><strong><%= t("management.print.info") %></strong><br>
        <%= t("management.print.note") %></p>
      </div>
    </div>
  </div>
</section>
