<div id="feed_debates" class="small-12 column margin-top
                              <%= "medium-4" if feed_debates_and_proposals_enabled? %>">
  <div class="feed-content" data-equalizer-watch>
    <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

    <% feed.items.each do |item| %>
      <div class="<%= item.class.to_s.parameterize(separator: "_") %>">
        <strong><%= link_to item.title, url_for(item) %></strong>
      </div>
    <% end %>
  </div>

  <%= link_to t("welcome.feed.see_all_debates"), debates_path, class: "see-all" %>
</div>
