<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
      <br>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <%= avatar_image(@account, seed: @account.id, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal") %></h2>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length %>
                <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length %>
              <% end %>
              <%= f.phone_field :phone_number %>

            <% else %>
              <%= f.text_field :username, maxlength: User.username_max_length %>
            <% end %>
          </div>

          <div>
            <%= f.check_box :public_activity %>
          </div>

          <div>
            <%= f.check_box :public_interests %>
          </div>

          <% if @account.email.present? %>
            <h2><%= t("account.show.notifications") %></h2>

            <div>
              <%= f.check_box :email_on_comment %>
            </div>

            <div>
              <%= f.check_box :email_on_comment_reply %>
            </div>

            <div>
              <%= f.check_box :newsletter %>
            </div>

            <div>
              <%= f.check_box :email_digest %>
            </div>

            <div>
              <%= f.check_box :email_on_direct_message %>
            </div>
          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.check_box :official_position_badge %>
            </div>
          <% end %>

          <% if feature?("user.recommendations") %>
            <h2><%= t("account.show.recommendations") %></h2>

            <% if feature?("user.recommendations_on_debates") %>
              <div>
                <%= f.check_box :recommended_debates %>
              </div>
            <% end %>

            <% if feature?("user.recommendations_on_proposals") %>
              <div>
                <%= f.check_box :recommended_proposals %>
              </div>
            <% end %>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>

        <div class="user-permissions small-12 medium-5 column">
          <h2><%= t("account.show.user_permission_title") %></h2>

          <p><%= t("account.show.user_permission_info") %></p>

          <%= render Account::PermissionsListComponent.new(current_user) %>

          <p>
            <%= t("account.show.user_permission_verify") %>
          </p>

          <% unless @account.organization? %>
            <div>
              <span class="verify-account">
                <% if current_user.level_three_verified? %>
                  <p class="already-verified">
                    <span class="icon-check"></span>
                    <%= t("account.show.verified_account") %>
                  </p>
                <% elsif current_user.level_two_verified? %>
                  <%= link_to t("account.show.finish_verification"), verification_path, class: "button success" %>
                <% else %>
                  <%= link_to t("account.show.verify_my_account"), verification_path, class: "button success" %>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
