<h1><%= t("account.show.title") %></h1>

<%= form_for @account, as: :account, url: account_path do |f| %>

  <%= f.label :first_name, t("account.show.first_name_label") %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, t("account.show.last_name_label") %>
  <%= f.text_field :last_name %>

  <div>
  <%= f.check_box :use_nickname %>
  <%= t("account.show.use_nickname_label") %>
  </div>

  <%= f.label :nickname, t("account.show.nickname_label") %>
  <%= f.text_field :nickname %>

  <%= f.submit t("account.show.save_changes_submit"), class: "button radius" %>
<% end %>

<%= link_to t("account.show.change_credentials_link"), edit_user_registration_path %>

