<div class="row account">
  <div class="small-12 column">
    <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: 'button radius small secondary right' %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>

      <% if @account.errors.any? %>
        <div id="error_explanation" class="alert-box alert radius">
          <p><strong><%= pluralize(@account.errors.count, t("debates.form.error"), t("debates.form.errors")) %> <%= t("debates.form.not_saved") %></strong></p>
          <ul>
              <% @account.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="small-12 medium-6 column">
          <h2><%= t("account.show.personal")%></h2>
          <%= f.label :first_name, t("account.show.first_name_label") %>
          <%= f.text_field :first_name, placeholder: t("account.show.first_name_label") %>

          <%= f.label :last_name, t("account.show.last_name_label") %>
          <%= f.text_field :last_name, placeholder:  t("account.show.last_name_label") %>

          <%= f.label :nickname, t("account.show.nickname_label") %>
          <%= f.text_field :nickname, placeholder: t("account.show.nickname_label") %>
          <%= f.label :use_nickname do %>
            <%= f.check_box :use_nickname %>
            <span class="checkbox"><%= t("account.show.use_nickname_label") %></span>
          <% end %>
        </div>

        <div class="small-12 medium-6 column">
          <h2><%= t("account.show.avatar")%></h2>
          <%= image_tag('user_default_big.jpg', class: "avatar", size: "100x100") %>

          <h2><%= t("account.show.notifications")%></h2>
          <%= f.label :email_on_debate_comment do %>
            <%= f.check_box :email_on_debate_comment %>
            <span class="checkbox"><%= t("account.show.email_on_debate_comment_label") %></span>
          <% end %>
          <%= f.label :email_on_comment_reply do %>
            <%= f.check_box :email_on_comment_reply %>
            <span class="checkbox"><%= t("account.show.email_on_comment_reply_label") %></span>
          <% end %>
        </div>

        <div class="small-12 column">
          <%= f.submit t("account.show.save_changes_submit"), class: "button radius" %>
        </div>
      </div>
    <% end %>
  </div>
</div>