<h2><%= t("officing.results.new.title") %></h2>

<form>
  <!-- Maybe this fields pre filled and disabled? -->
  <div class="row">
    <div class="small-12 medium-6 column">
      <label><%= t("officing.shared.booth") %></label>
      <input type="text" value="Booth Name (N)">
    </div>

    <div class="small-12 medium-6 column">
      <label><%= t("officing.shared.date") %></label>
      <input type="datetime" value="<%= Date.today %>">
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <label><%= t("officing.shared.officer") %></label>
      <input type="text" value="Officer Name (officer@email.com)" disabled>
    </div>
  </div>
  <!-- /. Maybe this fields pre fill and disabled? -->
  <hr>

  <div class="row">
    <div class="small-12 medium-6 large-4 column">
      <label><%= t("officing.shared.votes_number") %></label>
      <input type="text" placeholder="<%= t("officing.shared.votes_number") %>">
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 large-4 column">
      <input type="submit" value="<%= t("officing.results.new.submit") %>" class="button expanded">
    </div>
  </div>
</form>
