<%= render 'shared/back_link' %>

<h2><%= t("officing.results.show.title", booth: "Booth Name (1)") %></h2>

<div class="row margin">
  <div class="small-12 medium-4 column">
    <select>
      <option><%= t("officing.shared.filter_date") %></option>
    </select>
  </div>

  <div class="small-12 medium-4 column end">
    <select>
      <option><%= t("officing.shared.filter_officer") %></option>
    </select>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= t("officing.shared.date") %></th>
      <th><%= t("officing.shared.officer") %></th>
      <th class="text-center"><%= t("officing.shared.votes_number") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>14/10/2016</td>
      <td>Officer Name (officer@email.com)</td>
      <td class="text-center">124</td>
    </tr>
    <tr>
      <td>17/10/2016</td>
      <td>Other Officer (otherofficer@email.com)</td>
      <td class="text-center">350</td>
    </tr>
    <tr>
      <td>18/10/2016</td>
      <td>Officer number 3 (officer3@email.com)</td>
      <td class="text-center">100</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><%= t("officing.results.index.total_votes") %></td>
      <td class="text-center">574</td>
    </tr>
  </tfoot>
</table>
