<div class="users-following">
  <div class="followables">
    <ul class="menu simple clear">
      <% follows.each do |followable_type, follows| %>
        <li><%= link_to followable_type_title(followable_type), "##{followable_type_title(followable_type).parameterize.underscore}" %></li>
      <% end %>
    </ul>

    <% follows.each do |followable_type, follows| %>

      <h3 id="<%= followable_type_title(followable_type).parameterize.underscore %>">
        <span class="icon-<%= followable_icon(followable_type) %>"></span>
        <%= followable_type_title(followable_type) %>
      </h3>

      <ul class="follow-list">
        <% follows.each do |follow| %>
          <%= render_follow(follow) %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="interests">
    <%= render "interests", user: user %>
  </div>
</div>
