<div class="machine-learning-comments-summary">
  <p>
    <%= render MachineLearning::InfoComponent.new %>
    <strong><%= t("machine_learning.comments_summary") %></strong>
  </p>

  <% if sentiment_present? %>
    <div class="sentiment-dashboard">
      <div class="sentiment-bar">
        <div class="bar-segment positive" style="width: <%= sentiment["positive"] %>%;"></div>
        <div class="bar-segment neutral" style="width: <%= sentiment["neutral"] %>%;"></div>
        <div class="bar-segment negative" style="width: <%= sentiment["negative"] %>%;"></div>
      </div>

      <div class="sentiment-legend">
        <span class="legend-item positive">
          <span class="dot"></span> <%= sentiment["positive"] %>% <%= t("machine_learning.sentiment.positive") %>
        </span>
        <span class="legend-item neutral">
          <span class="dot"></span> <%= sentiment["neutral"] %>% <%= t("machine_learning.sentiment.neutral") %>
        </span>
        <span class="legend-item negative">
          <span class="dot"></span> <%= sentiment["negative"] %>% <%= t("machine_learning.sentiment.negative") %>
        </span>
      </div>
    </div>
  <% end %>

  <div class="markdown-body">
    <%= helpers.markdown(body) %>
  </div>
</div>
