<h2><%= t("management.budgets.support_investments") %></h2>

<% if @budgets.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("management.budgets.table_name") %></th>
        <th><%= t("management.budgets.table_phase") %></th>
        <th><%= t("management.budgets.table_actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
        <tr id="<%= dom_id(budget) %>">
          <td><%= budget.name %></td>
          <td><%= budget.translated_phase %></td>
          <td align="right">
            <%= link_to t("management.budgets.support_investments"),
                        management_budget_investments_path(budget),
                        class: "button hollow" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary">
    <%= t("management.budgets.no_budgets") %>
  </div>
<% end %>
