<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("devise_views.mailer.reset_password_instructions.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.reset_password_instructions.hello") %> <strong><%= @resource.email %></strong>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.reset_password_instructions.text") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= link_to t("devise_views.mailer.reset_password_instructions.change_link"),
                edit_password_url(@resource, reset_password_token: @token),
                style: css_for_mailer_link %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.reset_password_instructions.ignore_text") %> <%= t("devise_views.mailer.reset_password_instructions.info_text") %>
  </p>
</td>
