<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("devise_views.mailer.unlock_instructions.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.unlock_instructions.hello") %> <strong><%= @resource.email %></strong>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.unlock_instructions.info_text") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("devise_views.mailer.unlock_instructions.instructions_text") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= link_to t("devise_views.mailer.unlock_instructions.unlock_link"),
                unlock_url(@resource, unlock_token: @token),
                style: css_for_mailer_link %>
  </p>
</td>
