<% provide :title, "Cómo votar los presupuestos participativos de Madrid" %>
<% provide :meta_description, "Vota en los presupuestos participativos de Madrid 2018. En esta página te explicamos cómo votar en decidemadrid.es y presencialmente." %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_voting_2018_url %>
<% end %>
<% provide :social_media_meta_tags do %>
<!-- Facebook OG -->
<meta property="og:url"           content="<%= budgets_voting_2018_url %>" />
<meta property="og:title"         content="Cómo votar los presupuestos participativos de Madrid" />
<meta property="og:image"         content="<%= image_url 'social_media_budgets_materials_2018.png' %>" />
<meta property="og:description"   content="Vota en los presupuestos participativos de Madrid 2018. En esta página te explicamos cómo votar en decidemadrid.es y presencialmente." />
<!-- Twitter -->
<meta name="twitter:card"          content="summary" />
<meta name="twitter:site"          content="@decideMadrid" />
<meta name="twitter:title"         content="Cómo votar los presupuestos participativos de Madrid" />
<meta name="twitter:image"         content="<%= image_url 'social_media_budgets_materials_2018.png' %>" />
<meta name="twitter:description"   content="Vota en los presupuestos participativos de Madrid 2018. En esta página te explicamos cómo votar en decidemadrid.es y presencialmente." />
<% end %>

<div class="budgets-materials-2018">
  <div class="expanded no-margin-top padding header">
    <div class="row">
      <div class="small-12 medium-9 column">
        <%= back_link_to budgets_welcome_path %>
        <br>
        <div class="district-box">
          <h1>Cómo votar en los<br> presupuestos participativos 2018</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin">
    <div class="small-12 medium-9 column">
      <p>La votación final de los <strong>presupuestos participativos 2018</strong> se lleva a cabo entre el 15 de mayo y el 30 de junio en <%= link_to "Decide Madrid", root_path %>. Es la fase decisiva del proceso por el que la ciudadanía propone y decide el destino de 100 millones de euros del presupuesto municipal.</p>

      <p>Es ahora cuando los vecinos y vecinas de Madrid deciden qué proyectos deberá realizar el ayuntamiento a partir de 2019. En la primera fase de los presupuestos participativos 2018, personas y colectivos presentaron 3.332 proyectos, de los cuales alrededor de 700 han llegado a la final tras la fase de evaluación técnica y tasación.</p>

      <p>En esta página te explicamos cómo participar en la votación final:</p>

      <ul>
        <li><strong>Entra en Decide Madrid</strong>: las personas empadronadas en Madrid mayores de 16 años pueden inscribirse en Decide Madrid y votar proyectos en el apartado de <%= link_to "Presupuestos Participativos", budgets_path %>.
        <br>
        Cada persona puede seleccionar proyectos para toda la ciudad, hasta cubrir los 30 millones destinados a esta categoría, y para un distrito de su elección, en el que no es necesario estar empadronado. Hasta el final de la votación se puede modificar la selección de proyectos.
        </li>
        <li><strong>Acude a cualquiera de las 26 Oficinas de Atención a la Ciudadanía</strong> con tu DNI, donde el personal de Línea Madrid te puede ayudar a votar en Decide Madrid.</li>
        <li><strong>Acude a la votación presencial el fin de semana del 23 y 24 de junio</strong>, en horario de 11 a 19 horas, a alguna de las urnas que se colocarán en puntos clave de los 21 distritos. Es necesario presentar el DNI.</li>
      </ul>

      <p><strong>¿No puedes entrar en Decide Madrid?</strong></p>

      <ul>
        <li>Si no te funciona la verificación de tu cuenta, consulta <%= link_to "estas instrucciones de ayuda", faq_path(anchor: "1"), target: "_blank" %>.</li>
        <li>Si se te ha olvidado tu contraseña para entrar en Decide Madrid, <%= link_to "comprueba estos pasos", faq_path(anchor: "8"), target: "_blank" %>.</li>
        <li>Si te sale un mensaje de que tu DNI ya está en uso, también tenemos unas <%= link_to "instrucciones de ayuda", faq_path(anchor: "11"), target: "_blank" %>.</li>
        <li>Si te ocurre otra incidencia que no está entre las anteriores, busca en la página de <%= link_to "soluciones a problemas técnicos", faq_path, target: "_blank" %> de Decide Madrid.</li>
      </ul>

      <p><strong>Recuerda</strong>: tú decides que proyectos ciudadanos llevará a cabo el Ayuntamiento de Madrid a partir del próximo año con 100 millones de euros. Si quieres ayudar a difundir proyectos, puedes acceder a los <%= link_to "materiales de la campaña de presupuestos participativos 2018", budgets_materials_2018_path %>.</p>
    </div>

    <div class="small-12 medium-3 column">
      <div class="float-right">
        <%= render '/shared/print' %>
      </div>
    </div>
  </div>
</div>
