<% provide :title, "I Votación Ciudadana" %>
<% provide :tracking_page_number, "31" %>

<div class="landing-voting">
  <div class="expanded header no-margin-top padding">
    <div class="row">
      <div class="small-12 column text-center margin-top">
        <h1 class="uppercase">Primera Votación Ciudadana</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-10 column small-centered text-center">
        <p class="lead">Del 13 al 19 de febrero, tú decides si quieres o no billete único para el transporte público, un Madrid 100% sostenible, la remodelación de Plaza España y mejorar el espacio peatonal de la Gran Vía</p>
        <% if !user_signed_in? %>
          <div class="small-12 medium-6 large-4 small-centered">
            <%= link_to "Regístrate", new_user_registration_path, class: "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="expanded block">
    <div class="row relative" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-6 column" data-equalizer-watch>
        <%= image_tag "landings/first_voting_transport.jpg", alt: "" %>
      </div>
      <div class="small-12 medium-6 column">
        <div class="block-yellow-vota">
          <div class="block-content" data-equalizer-watch>
            <h2 class="text-center uppercase">
              <%= link_to "Uno para todos", "https://decide.madrid.es/proposals/9-billete-unico-para-el-transporte-publico" %>
            </h2>
            <h3 class="text-center">Un billete: todo el transporte</h3>
          </div>
          <% if !user_signed_in? %>
            <div class="small-12 medium-8">
              <%= link_to "Regístrate", new_user_registration_path, class: "button expanded margin-top" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded block">
    <div class="row relative" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-6 column">
        <div class="block-blue">
          <div class="block-content" data-equalizer-watch>
            <h2 class="text-center uppercase">
              <%= link_to "Madrid 100% sostenible", "https://decide.madrid.es/proposals/199-madrid-100-sostenible" %>
            </h2>
            <h3 class="text-center">Ahorro de energía, Eficiente y Renovable<br> Movilidad y Urbanismo Sostenibles</h3>
          </div>
          <% if !user_signed_in? %>
            <div class="small-12 medium-8">
              <%= link_to "Regístrate", new_user_registration_path, class: "button expanded margin-top" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="small-12 medium-6 column" data-equalizer-watch>
        <%= image_tag "landings/first_voting_sustainable.jpg", alt: "" %>
      </div>
    </div>
  </div>

  <div class="expanded plaza-espana-projects">
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-6 column">
        <div class="block-red" data-equalizer-watch>
          <h2 class="text-center uppercase">
            <%= link_to "Remodelación de plaza España", plaza_path %>
          </h2>
          <h3 class="text-center uppercase">¿Proyecto X o Proyecto Y?</h3>

          <% if !user_signed_in? %>
            <div class="small-12 medium-6">
              <%= link_to "Regístrate", new_user_registration_path, class: "button expanded margin-top" %>
            </div>
          <% end %>

          <div class="block-projects">
            <h4 class="text-center">
              <span class="uppercase">Proyecto X</span>:<br> Welcome mother Nature,<br> good bye Mr Ford
            </h4>
            <h4 class="text-center">
             <span class="uppercase">Proyecto Y</span>:<br> UN PASEO POR LA CORNISA
            </h4>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 column" data-equalizer-watch>
        <div class="row">
          <div class="small-12 column project-x">
            <figure>
              <%= image_tag "landings/first_voting_project_x.jpg", alt: "Project X" %>
              <figcaption>
                <%= link_to "Proyecto X", plaza_probe_option_path(38) %>
              </figcaption>
            </figure>
          </div>

          <div class="small-12 column project-y">
            <figure>
              <%= image_tag "landings/first_voting_project_y.jpg", alt: "Project Y" %>
              <figcaption>
                <%= link_to "Proyecto Y", plaza_probe_option_path(22) %>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded">
    <div class="row relative" data-equalizer data-equalize-on="medium">
      <div class="small-12 column">
        <div class="block-grey">
          <h2 class="inline-block uppercase">Gran vía</h2>
          <div class="block-content" data-equalizer-watch>
            <div class="row">
              <div class="small-12 medium-6 column">
                <div class="question">
                  <h3>¿Estás de acuerdo con mejorar el espacio peatonal de la Gran Vía mediante la ampliación de sus aceras?</h3>
                  <h4>¿Sí o No?</h4>
                </div>
              </div>
              <div class="small-12 medium-6 column">
                <div class="question">
                  <h3>¿Consideras que sería necesario incrementar el número de pasos peatonales de la Gran Vía para mejorar la comunicación peatonal?</h3>
                  <h4>¿Sí o No?</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 medium-6 column">
                <div class="question">
                  <h3>¿Consideras necesario mejorar las condiciones de las plazas traseras vinculadas a Gran Vía para que puedan ser utilizadas como espacio de descanso y/o de estancia?</h3>
                  <h4>¿Sí o No?</h4>
                </div>
              </div>
              <div class="small-12 medium-6 column">
                <div class="question">
                  <h3>¿Estás de acuerdo en que el transporte público colectivo debe mantener su prioridad en la circulación rodada en la Gran Vía?</h3>
                  <h4>¿Sí o No?</h4>
                </div>
              </div>
            </div>
          </div>
          <% if !user_signed_in? %>
            <div class="small-12 medium-6 large-4 small-centered text-center">
              <%= link_to "Regístrate", new_user_registration_path, class: "button expanded margin-top" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 small-centered text-center">
      <h2 class="big uppercase">Votaciones de distrito</h2>
      <p class="lead">Los habitantes de varios distritos también decidirán sobre diferentes preguntas.<br> Próximamente publicaremos las preguntas de distrito.</p>
    </div>
  </div>

  <div class="block">
    <div class="expanded how-voting">
      <div class="row">
        <div class="small-12 medium-10 column">
          <h2 class="uppercase">Cómo votar</h2>
          <ul>
            <li>En esta web después de <%= link_to "registrarte", new_user_registration_path %>.</li>
            <li>En urnas que encontrarás repartidas por los 21 distritos de Madrid (próximamente mapa de localización)</li>
            <li>Por carta. Te llegará próximamente una carta a casa con tu papeleta para votar por correo. Puedes hacerlo hasta el día 12 de febrero.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>