<% provide :title, "Si te sientes gato" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: sitesientesgato_url %>
<% end %>

<div class="si-te-sientes-gato">
  <div class="expanded header no-margin-top">
    <div class="row header-gato">
      <%= image_tag('sitesientesgato/header.jpg') %>
    </div>
  </div>

  <div class="row margin-top section">
    <div class="small-12 medium-6 column">
      <h1>#decidemadrid</h1>
    </div>
    <div class="small-12 medium-6 column">
      <h2>Si eres de Madrid o de León, sueco/a o peruano/a, de Alcobendas o de Villaverde... si te sientes gato/a ¡participa!, porque esta también es tu ciudad</h2>
    </div>
  </div>

  <div class="row margin">
    <div class="small-12 medium-4 column">
      <%= image_tag('sitesientesgato/animation_1.gif', alt: "") %>
    </div>
    <div class="small-12 medium-4 column">
      <%= image_tag('sitesientesgato/animation_2.gif', alt: "") %>
    </div>
    <div class="small-12 medium-4 column">
      <%= image_tag('sitesientesgato/animation_3.gif', alt: "") %>
    </div>
  </div>

  <div class="row margin section">
    <div class="small-12 medium-6 column">
      <h1>¿QUÉ?</h1>
    </div>
    <div class="small-12 medium-6 column">
      <p class="info">El Ayuntamiento de Madrid lanza "Si te sientes gato", una iniciativa centrada en involucrar a los/las <strong>jóvenes</strong> en "Decide Madrid", el mecanismo de proposición pública a través del cual los/las ciudadanos/as escogen <strong>en qué invertir 100 millones</strong> de presupuesto destinados a mejorar la ciudad.</p>

      <%= link_to "decide.madrid.es", "https://decide.madrid.es", class: "green-link" %>
    </div>
  </div>

  <div class="expanded section-1">
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= image_tag('sitesientesgato/leon.jpg', alt: "") %>
      </div>
      <div class="small-12 medium-6 column text-right">
        <p class="lead">"Las ideas de los/las ciudadanos/as pueden constituir valiosas aportaciones y ayudar a la clase política a salir del bloqueo"
        <br>
        <span>G1000</span></p>
      </div>
    </div>
  </div>

  <div class="row margin section">
    <div class="small-12 medium-6 column">
      <h1>¿QUIÉN?</h1>
    </div>
    <div class="small-12 medium-6 column">
      <p class="info">Es posible la inscripción de los/las jóvenes de manera <strong>independiente o colectiva</strong>, así como la participación de un adulto/a responsable de un grupo, centro escolar, familia o entidad social.</p>
    </div>
  </div>

  <div class="expanded section-2">
    <div class="row">
      <div class="small-12 medium-6 column">
        <p class="lead">
          "En todos los ámbitos se fomenta la innovación, excepto en el de la democracia"<br>
          <span>G1000</span>
        </p>
      </div>
      <div class="small-12 medium-6 column text-center">
        <%= image_tag('sitesientesgato/cibeles.jpg', alt: "") %>
      </div>
    </div>
  </div>

  <div class="row margin section">
    <div class="small-12 medium-6 column">
      <h1>¿CÓMO?</h1>
    </div>
    <div class="small-12 medium-6 column">
      <p class="info">Si eres responsable de un grupo de jóvenes, podrás contar con todo el <strong>material</strong> que hemos preparado para que sea sencillo involucrarte: café-presentación, material didáctico, evento de participación, mediación...</p>
    </div>
  </div>

  <div class="expanded section-3">
    <div class="row">
      <div class="small-12 medium-6 column">
        <p class="lead">
          "¿Y si escuchamos lo que todos los/las ciudadanos/as de a pie tienen que decir sobre el país?"<br>
          <span>G1000</span>
        </p>
      </div>
      <div class="small-12 medium-6 column text-center">
        <%= image_tag('sitesientesgato/gato.jpg', alt: "") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-9 column small-centered text-center big-lead">
      <h1>100 millones de presupuesto destinados a mejorar la ciudad.</h1>
      <p>— Presupuestos participativos</p>
    </div>
  </div>

  <div class="row margin">
    <div class="small-12 medium-6 column">
      <h1>¿CUÁNDO?</h1>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column margin-bottom" data-equalizer-watch>
      <%= image_tag('sitesientesgato/diciembre.jpg', alt: "Diciembre") %>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h2 class="margin-top">CONVOCATORIA PÚBLICA</h2>
      <ul>
        <li>Se abre el periodo de inscripción al proyecto.</li>
        <li>1 de diciembre: <strong>Café-presentación en <a href="http://medialab-prado.es/" target="_blank" class="green-link" title="(se abre en ventana nueva)">Medialab-Prado</a></strong>, evento informativo inicial para participantes o responsables de grupos. (Solicitar asistencia a través del formulario)</li>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column margin-bottom" data-equalizer-watch>
      <%= image_tag('sitesientesgato/enero.jpg', alt: "Enero - febrero") %>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h2 class="margin-top">TRABAJO EN EL AULA</h2>
      <ul>
        <li>Realización, por parte de los docentes o responsables de grupos, de <strong>2 sesiones de trabajo con los/las jóvenes a partir del material didáctico</strong> de "Si te sientes gato", que incluye información y dinámicas centradas en nuevas formas de democracia deliberativa, y que dispone de versiones adaptadas a las diferentes edades para involucrar a los/las participantes en la mejora de Madrid de manera colaborativa.</li>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column margin-bottom" data-equalizer-watch>
      <%= image_tag('sitesientesgato/marzo.jpg', alt: "Marzo - abril - mayo") %>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h2 class="margin-top">DIFUSIÓN DE PROPUESTAS</h2>
      <ul>
        <li>Creación de una <strong>campaña de comunicación</strong> por parte de los/las jóvenes, con apoyo de sus responsables, a través de la que dar a conocer sus propuestas; contando con los <strong>recursos, apoyo y seguimiento</strong> necesario por parte de "Si te sientes gato".</li>
        <li><strong>Publicación de las propuestas</strong> para ser valoradas. Votación abierta a todos/as los/las ciudadanos/as empadronados/as en Madrid. Las ideas más votadas serán seleccionadas e incluidas en el Proyecto Inicial del Presupuesto General del Ayuntamiento de Madrid del próximo curso.</li>
        <li><strong>Evaluación y valoración económica</strong> de las propuestas, por parte de un equipo de expertos/as del Ayuntamiento de Madrid.</li>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 column margin-bottom" data-equalizer-watch>
      <%= image_tag('sitesientesgato/junio.jpg', alt: "Junio") %>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h2 class="margin-top">FIESTA</h2>
      <ul>
        <li>Realización de la <strong>Fiesta de la participación</strong> en la que todos/as los/las participantes, con propuestas seleccionadas, serán invitados/as a defenderlas en el entorno público.</li>
      </ul>
    </div>
  </div>

  <div class="row margin">
    <div class="small-12 medium-6 column margin-bottom">
      <%= image_tag('sitesientesgato/sitesientesgato.gif', alt: "") %>
    </div>
    <div class="small-12 medium-6 column margin-bottom">
      <%= image_tag('sitesientesgato/sitesientesgato_2.gif', alt: "") %>
    </div>
  </div>

  <div class="row margin social">
    <div class="small-12 medium-6 column small-centered text-center">

      <%= link_to "https://twitter.com/sitesientesgato", target: "_blank", title: "Twitter (se abre en ventana nueva)" do %>
        <%= image_tag("sitesientesgato/social_twitter.png") %>
      <% end %>

      <%= link_to "http://instagram.com/sitesientesgato", target: "_blank", title: "Instagram (se abre en ventana nueva)" do %>
        <%= image_tag("sitesientesgato/social_instagram.png") %>
      <% end %>

      <%= link_to "https://www.facebook.com/Si-te-sientes-gato-1153491084742459/", target: "_blank", title: "Facebook (se abre en ventana nueva)" do %>
        <%= image_tag("sitesientesgato/social_facebook.png") %>
      <% end %>
    </div>
  </div>
</div>
