<h3><%= page_entries_info @investments %></h3>

<table>
  <thead>
    <tr>
      <th><%= t("admin.budget_investments.index.table_id") %></th>
      <th><%= t("admin.budget_investments.index.table_title") %></th>
      <th><%= t("admin.budget_investments.index.table_supports") %></th>
      <th><%= t("admin.budget_investments.index.table_admin") %></th>
      <th><%= t("admin.budget_investments.index.table_valuator") %></th>
      <th><%= t("admin.budget_investments.index.table_geozone") %></th>
      <th><%= t("admin.budget_investments.index.table_feasibility") %></th>
      <th class="text-center"><%= t("admin.budget_investments.index.table_unified") %></th>
      <th class="text-center"><%= t("admin.budget_investments.index.table_valuation_finished") %></th>
      <th class="text-center"><%= t("admin.budget_investments.index.table_selection") %></th>
      <th class="text-center"><%= t("admin.budget_investments.index.valuation_finished_by") %></th>
    </tr>
  </thead>

  <% @investments.each do |investment| %>
    <tr id="<%= dom_id(investment) %>" class="budget_investment">
      <td class="text-right">
        <strong><%= investment.id %></strong>
      </td>
      <td>
        <%= link_to investment.title, admin_budget_budget_investment_path(budget_id: @budget.id, id: investment.id, params: Budget::Investment.filter_params(params)) %>
      </td>
      <td class="text-center">
        <%= investment.total_votes %>
      </td>
      <td class="small">
        <% if investment.administrator.present? %>
          <span title="<%= t('admin.budget_investments.index.assigned_admin') %>"><%= investment.administrator.name %></span>
        <% else %>
          <%= t("admin.budget_investments.index.no_admin_assigned") %>
        <% end %>
      </td>
      <td class="small">
        <% if investment.valuators.size == 0 %>
          <%= t("admin.budget_investments.index.no_valuators_assigned") %>
        <% else %>
          <%= investment.valuators.collect(&:description_or_name).join(', ') %>
        <% end %>
      </td>
      <td class="small">
        <%= investment.heading.name %>
      </td>
      <td class="small">
        <%= t("admin.budget_investments.index.feasibility.#{investment.feasibility}",
              price: investment.formatted_price)
        %>
      </td>
      <td class="small text-center">
        <% if investment.is_unified? %>
            <span class="label warning"><%= t("admin.budget_investments.index.unified") %></span><br>
            <%= link_to investment.unified_with.id, admin_budget_budget_investment_path(budget_id: @budget.id, id: investment.unified_with.id, params: Budget::Investment.filter_params(params)) %>
        <% elsif investment.has_unifications? %>
            <span class="label success"><%= t("admin.budget_investments.index.has_unified_investments") %></span><br>
            <% investment.investments_unified_to_me.each do |unfied_investment| %>
                  <%= link_to unfied_investment.id, admin_budget_budget_investment_path(budget_id: @budget.id, id: unfied_investment.id, params: Budget::Investment.filter_params(params)) %>
            <% end %>
        <% else %>
            <span class="label secondary"><%= t("admin.budget_investments.index.no_unifications") %></span><br>
        <% end %>
      </td>
      <td class="small text-center">
        <%= investment.valuation_finished? ? t('shared.yes'): t('shared.no') %>
      </td>
      <td class="small">

        <% if investment.selected? %>
          <%= link_to toggle_selection_admin_budget_budget_investment_path(@budget,
                                                                           investment,
                                                                           filter: params[:filter],
                                                                           page: params[:page]),
                      method: :patch,
                      remote: true,
                      class: "button small expanded" do %>
            <%= t("admin.budget_investments.index.selected") %>
          <% end %>
        <% elsif investment.feasible? && investment.valuation_finished? && (!investment.is_unified?) %>
          <%= link_to toggle_selection_admin_budget_budget_investment_path(@budget,
                                                                           investment,
                                                                           filter: params[:filter],
                                                                           page: params[:page]),
                      method: :patch,
                      remote: true,
                      class: "button small hollow expanded" do %>
            <%= t("admin.budget_investments.index.select") %>
          <% end %>
        <% end %>
      </td>
      <td class="text-center">
        <% if investment.valuator_assignments_count == 0 %>
          <span class="radius secondary label" title="<%= t("admin.budget_investments.index.no_valuators_assigned") %>">
                  <%= investment.valuator_assignments_finished_count %> / <%= investment.valuator_assignments_count %>
          </span>
        <% else %>
          <% if investment.is_mark_as_finished_for_every_valuator? %>
              <span class="radius success label" title="<%= t("admin.budget_investments.index.all_valuators_completed") %>">
                <%= investment.valuator_assignments_finished_count %> / <%= investment.valuator_assignments_count %>
              </span>
          <% else %>
            <% if investment.is_mark_as_finished_for_any_valuator? %>
                  <span class="radius warning label" title="<%= t("admin.budget_investments.index.not_all_valuators_finished") %>">
                    <%= investment.valuator_assignments_finished_count %> / <%= investment.valuator_assignments_count %>
                  </span>
            <% else %>
                  <span class="radius danger label" title="<%= t("admin.budget_investments.index.not_any_valuators_finished") %>">
                    <%= investment.valuator_assignments_finished_count %> / <%= investment.valuator_assignments_count %>

                  </span>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


