<% i18n_namespace = "admin.budget_investments.index" %>

<%= form_tag(admin_budget_budget_investments_path(budget: @budget), method: :get, enforce_utf8: false) do %>
  <div class="row">
    <div class="small-12 medium-8 large-12 column">
      <%= link_to "#advanced_filters_content",
                  data: {toggle: "advanced_filters"},
                  class: "advanced-filters float-right clear" do %>
        <%= t("#{i18n_namespace}.advanced_filters") %>
      <% end %>
    </div>
  </div>
  <div id="advanced_filters" class="row advanced-filters-content hide" data-toggler=".hide">
    <% ["feasible", "selected", "undecided", "unfeasible"].each do |option| %>
      <div class="small-2 medium-2 large-2 column">
        <div class="input-group">
          <%= check_box_tag "advanced_filters[]", option, false, id: "advanced_filters_#{option}" %>
          <%= t("#{i18n_namespace}.filters.#{option}") %>
        </div>
      </div>
    <% end %>
    <div class="small-4 medium-4 large-4 column">
      <div class="input-group">
        <%= text_field_tag :max_per_heading, "", placeholder: t("#{i18n_namespace}.filters.max_per_heading") %>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="small-12 medium-3 column">
      <%= select_tag :administrator_id,
                     options_for_select(admin_select_options, params[:administrator_id]),
                     { prompt: t("#{i18n_namespace}.administrator_filter_all"),
                       label: false} %>
    </div>
    <div class="small-12 medium-3 column">
      <%= select_tag :valuator_or_group_id,
                     options_for_select(valuator_or_group_select_options, params[:valuator_or_group_id]),
                     { prompt: t("#{i18n_namespace}.valuator_filter_all"),
                       label: false} %>
    </div>
    <div class="small-12 medium-3 column">
      <%= select_tag :heading_id,
                     options_for_select(budget_heading_select_options(@budget), params[:heading_id]),
                     { prompt: t("#{i18n_namespace}.heading_filter_all"),
                       label: false} %>
    </div>
    <div class="small-12 medium-3 column">
      <%= select_tag :tag_name,
                     options_for_select(investment_tags_select_options(@budget), params[:tag_name]),
                     { prompt: t("#{i18n_namespace}.tags_filter_all"),
                       label: false} %>
    </div>
  </div>
  <div class="row" >
    <div class="small-12 medium-6 column">
      <div class="input-group">
        <%= text_field_tag :title_or_id, "", placeholder: t("#{i18n_namespace}.placeholder") %>
      </div>
    </div>
    <div class="small-12 medium-6 column">
      <%= submit_tag t("#{i18n_namespace}.buttons.filter"), class: "button expanded" %>
    </div>
  </div>
<% end %>
