<h2><%= t("admin.users.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.users.index" %>

<h3><%= page_entries_info @users %></h3>

<ul class="admin-list">
<% @users.each do |user| %>
  <li id="<%= dom_id(user) %>">
    <%= link_to user.name, admin_user_path(user) %>

    <%= link_to t("admin.actions.restore"),
          restore_admin_user_path(user, request.query_parameters),
          method: :put,
          data: { confirm: t("admin.actions.confirm") },
          class: "button radius tiny success right" %>
    <% unless user.confirmed_hide? %>
      <%= link_to t("admin.actions.confirm_hide"),
          confirm_hide_admin_user_path(user, request.query_parameters),
          method: :put,
          class: "button radius tiny warning right" %>
    <% end %>
  </li>
<% end %>
</ul>

<%= paginate @users %>


