<% provide :main_class, "officing-ballot-sheets-show" %>

<h2 class="inline-block"><%= t("officing.poll_budgets.index.ballot_sheet", id: ballot_sheet.id) %></h2>

<dl class="callout secondary float-right">
  <dt><%= t("officing.poll_budgets.show.created_at") %></dt>
  <dd><%= l(ballot_sheet.created_at, format: :long) %></dd>
  <dt><%= t("officing.poll_budgets.show.author") %></dt>
  <dd><%= ballot_sheet.author %></dd>
</dl>

<div class="callout margin-top">
  <p><strong><%= t("officing.poll_budgets.show.data") %></strong></p>
  <%= simple_format ballot_sheet.data %>
</div>
