<td class="text-center">
  <p id="can_vote_callout" class="callout success">
    <strong><%= t("officing.voters.show.can_vote") %></strong>
  </p>
</td>
<td id="actions" class="text-center">
  <%= form_for @user, as: :voter, url: officing_voters_path,
            method: :post, remote: true,
            html: { id: "new_officing_voter" } do |f| %>
      <%= f.hidden_field :poll_id, value: poll.id %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit t("officing.voters.show.submit"),
                   class: "button success",
                   data: { disable_with: t("officing.voters.can_vote.submit_disable_with") } %>
  <% end %>
</td>
