<%= back_link_to new_officing_residence_path %>

<h2><%= t("officing.voters.new.title") %></h2>

<% if @polls.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("officing.voters.new.table_poll") %></th>
        <th><%= t("officing.voters.new.table_status") %></th>
        <th class="text-center"><%= t("officing.voters.new.table_actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @polls.each do |poll| %>
      <tr id="<%= dom_id(poll) %>">
        <td>
          <%= poll.name %>
        </td>
        <% if poll.votable_by?(@user) %>
          <td class="text-center">
            <p class="callout success">
              <strong><%= t("officing.voters.show.can_vote") %></strong>
            </p>
          </td>
          <td id="actions" class="text-center">
            <%= form_for @user, as: :voter, url: officing_voters_path,
                      method: :post, remote: true,
                      html: { id: "new_officing_voter" } do |f| %>
                <%= f.hidden_field :poll_id, value: poll.id %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.submit t("officing.voters.show.submit"),
                             class: "button success",
                             data: { disable_with: t("officing.voters.can_vote.submit_disable_with") } %>
            <% end %>
          </td>
        <% else %>
          <td>
            <p class="callout alert text-center">
              <strong><%= t("officing.voters.show.error_already_voted") %></strong>
            </p>
          </td>
          <td class="text-center">
            <small><%= t("officing.voters.show.no_actions") %></small>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
