<h2><%= t("officing.voters.new.title") %></h2>

<% @polls.each do |poll| %>
  <div id="<%= dom_id(poll) %>">
    <div><%= poll.name %></div>

    <div id="actions">
      <% if poll.votable_by?(@user) %>
        <%= render "can_vote", poll: poll %>
      <% else %>
        <%= render "already_voted" %>
      <% end %>
    </div>
  </div>
<% end %>