<h2><%= t("officing.voters.show.title") %></h2>

<!-- IF CAN'T VOTE -->

<div class="callout alert">
  <%= t("officing.voters.show.error_verifying_census") %>
</div>

<!-- IF ALREADY VOTED -->

<div class="callout warning">
  <%= t("officing.voters.show.error_already_voted") %>
</div>

<!-- IF CAN VOTE -->

<div class="callout success">
  <%= t("officing.voters.show.can_participate") %>
</div>

<div class="small-12 medium-6 large-4">
  <form>
    <input type="submit" value="<%= t("officing.voters.show.submit") %>" class="button success expanded">
  </form>
</div>


<div class="callout success">
  <%= t("officing.voters.show.success") %>
</div>