<% reason = investment.reason_for_not_being_ballotable_by(current_user, investment_ballot) %>
<div class="supports ballot">
  <% if investment_ballot.has_investment?(investment) %>

    <div class="remove supported inline-block">
      <span class="icon-check-circle bounceIn animated"
            title="<%= t("budget.investments.investment.already_added") %>">
      </span>
      <p class="investment-project-amount">
        <%= investment.formatted_price %>
      </p>
      <% if investment.should_show_ballots? %>
        <%= link_to t('budgets.ballots.show.remove'),
                    budget_ballot_line_path(id: investment.id,
                                            budget_id: investment.budget_id,
                                            investments_ids: investment_ids),
                    class: "delete small expanded",
                    method: :delete,
                    remote: true %>
      <% end %>
    </div>

  <% else %>

    <div class="add in-favor">
      <p class="investment-project-amount">
        <%= investment.formatted_price %>
      </p>
      <% if investment.should_show_ballots? %>
        <%= link_to t("budget.investments.investment.add"),
                    budget_ballot_lines_url(investment_id: investment.id,
                                            budget_id: investment.budget_id,
                                            investments_ids: investment_ids),
                    class: "button button-support small expanded",
                    title: t('budget.investments.investment.support_title'),
                    method: :post,
                    remote: true %>
      <% end %>
    </div>

  <% end %>

  <% if reason.present? && !investment_ballot.has_investment?(investment) %>

    <div class="no-supports-allowed" style='display:none'>
      <p>
        <%= t("votes.budget_investments.#{reason}",
              verify_account: link_to(t("votes.verify_account"), verification_path),
              signin: link_to(t("votes.signin"), new_user_session_path),
              signup: link_to(t("votes.signup"), new_user_registration_path),
              my_heading: link_to(investment.heading.name,
                                  budget_investments_path(budget_id: investment.budget_id,
                                                          heading_id: investment.heading_id))
         ).html_safe %>
      </p>
    </div>

  <% end %>
</div>
