




<div class="container home">
<h1>Les étapes du budget participatif</h1>
  <div class="row">
    <% t("budgets.home_rivp.steps_cards").each do |card| %>
      <div class="small-12 medium-4 column text-center">
        <div class="card">
          <div class="card-img" style="">
          <%= image_tag(card[1][:img], size: 32, class: "") %>
          </div>

          <div class="card-description">
            <h3><%= card[1][:title] %></h2>
            <p><%= card[1][:dates] %><p>
            <p><%= card[1][:description] %><p>
          </div>
        </div>

      </div>
    <% end%>
  </div>
<h1>les thèmes</h1>
  <div class="row">
    <% t("budgets.home_rivp.theme_cards").each do |card| %>
      <div class="small-12 medium-6 column text-center theme-cards">
        <div class="card ">
          <div class="card-img" style="">
          <%= image_tag(card[1][:img], size: 32, class: "") %>
          </div>

          <div class="card-description">
            <h3><%= card[1][:title] %></h2>
            <p><%= card[1][:description] %><p>
          </div>
        </div>

      </div>
    <% end%>
  </div>
</div>
