<div class="expanded budget no-margin-top">
  <% @budget = Budget.find(1)%>
  <div class="row" data-equalizer data-equalizer-on="medium">
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <h1>Donnez vie à vos idées !</h1>
      <p class="text-right">Vous avez un projet en tête pour rendre plus agréable la vie dans votre immeuble ? <br> Participez ! <br> Présentez votre projet seul ou avec vos voisins <br> Votez <br> Les idées que vous aurez choisies seront financées par la RIVP et réalisées avec vous.</p>
    </div>
    <div class="small-12 medium-3 column info padding" data-equalizer-watch>
      <p>
        <strong><%= t('budgets.show.phase') %></strong>
      </p>
      <% if @budget.phase == ("accepting" or "reviewing" or "selecting") %>
        <h2>dépôt, échange et soutien des idées</h2>
      <% else %>
        <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>
      <% end %>

      <% if @budget.accepting? or @budget.selecting? or @budget.reviewing? %>
        <% if current_user %>
          <% if current_user.level_two_or_three_verified? %>
            <%= link_to t("budgets.investments.index.sidebar.create"), new_budget_investment_path(@budget), class: "button margin-top expanded" %>
          <% else %>
            <div class="callout warning margin-top">
              <%= t("budgets.investments.index.sidebar.verified_only",
                  verify: link_to(t("budgets.investments.index.sidebar.verify_account"), verification_path)).html_safe %>
            </div>
          <% end %>
        <% else %>
          <div class="callout primary margin-top">
            <%= t("budgets.investments.index.sidebar.not_logged_in",
                  sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"), new_user_session_path),
                  sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"), new_user_registration_path)).html_safe %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="container home">
<h1>Les étapes du budget participatif</h1>
  <div class="row ">
    <% i=1%>
    <% t("budgets.home_rivp.steps_cards").each do |card| %>
      <div class="small-12 medium-6 large-4 column text-center">

        <% if @budget.phase == card[1][:name] %>
          <% active = "active" %>
        <% else %>
          <% if (card[1][:name] == "accepting") or (card[1][:name] == "reviewing") or (card[1][:name] == "selecting") %>
            <% if (@budget.phase == "accepting") or (@budget.phase == "reviewing") or (@budget.phase == "selecting") %>
              <% active = "active" %>
            <% else %>
              <% active = "" %>
            <% end %>
          <% else %>
            <% active = "" %>
          <% end %>
        <% end %>

        <div class="card card1 <%= active %>">
          <div class="item-1" style="color-1">
          <%= image_tag(card[1][:img], size: 32, class: "color-1 svg-inject iconic-1") %>
          </div>
          <div class="item-2">
            <h3 class="color-<%=i%>"><%= card[1][:title] %></h2>
          </div>
          <div class="item-3">
            <strong><%= card[1][:dates] %></strong>
          </div>
          <div class="item-4">
            <p><%= card[1][:description] %><p>
          </div>
          <div class="item-5">
            <p><%= link_to card[1][:more_info], "/more_information", class: "" %></p>
          </div>
          <div class="item-6 background-<%=i%>">
          </div>
        </div>

      </div>
      <% i+=1 %>
    <% end%>
  </div>
<h1>Proposez vos idées sur les thèmes suivants</h1>
  <div class="row center">
    <% i=3%>
    <% t("budgets.home_rivp.theme_cards").each do |card| %>
      <div class="small-12 medium-3 column text-center theme-cards">
        <div class="card card2">
          <div class="item-1" style="color-1">
          <%= image_tag(card[1][:img], size: 32, class: "") %>
          </div>
          <div class="item-2">
            <h3 class="color-<%=i%>"><%= card[1][:title] %></h2>
          </div>
          <div class="item-3">
            <p><%= card[1][:description] %><p>
          </div>
          <div class="item-6 background-<%=i%>">
          </div>
        </div>

      </div>
      <% i+=1 %>
    <% end%>
  </div>



<h1>Consultez les propositions des différents sites</h1>
<div class="row margin-top">
  <div id="select-district" class="small-12 medium-6 column select-district list-group">
    <div class="row">
      <% Budget.find(1).headings.each_slice(12) do |slice| %>
        <div class="small-12 medium-offset-3 medium-6 column end ">
          <% slice.each do |heading| %>
            <span id="<%= dom_id(heading) %>"
                  class="<%= css_for_ballot_heading(heading) %> list-group-item">
              <%= link_to heading.name,
                          budget_investments_path(heading_id: heading.id,
                                                  unfeasible: params[:unfeasible],
                                                  budget_id: 1),
                          data: { no_turbolink: true } %><br>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="medium-6 column show-for-medium text-left">
    <%= image_tag "custom/citymap.png" %>
  </div>
</div>

</div>
