<div class="home">
<% @budget = Budget.find(1)%>
<% case @budget.phase %>
<% when "accepting" %>
  <% banner_color = "background-1" %>
<% when "reviewing" %>
  <% banner_color = "background-2" %>
<% when "selecting" %>
  <% banner_color = "background-3" %>
<% when "valuating" %>
  <% banner_color = "background-4" %>
<% when "balloting" %>
  <% banner_color = "background-5" %>
<% when "finished" %>
  <% banner_color = "background-6" %>
<% end %>

<div class="expanded budget no-margin-top">

  <div class="row" data-equalizer data-equalizer-on="medium">
    <div class="small-12 medium-2 column padding picto_ampoule" data-equalizer-watch>
      <%= image_tag "custom/ampoule2.png" %>
    </div>
    <div class="small-12 medium-7 column padding" data-equalizer-watch>
      <h1 style="text-align: center">Donnez vie à vos idées !</h1>
      <p class="text-center">Vous avez un projet en tête pour rendre plus agréable la vie dans votre immeuble ?<br> </p>
      <h3><strong>PARTICIPEZ !</strong></h3>
      <p class="text-center">Présentez votre projet seul ou avec vos voisins.</p>
      <h3><strong>VOTEZ !</strong></h3>
      <p class="text-center">Les idées que vous aurez choisies seront financées par la RIVP et réalisées avec vous.</p>
    </div>
    <div class="small-12 medium-3 column padding <%= banner_color %>" data-equalizer-watch>
      <p>
        <strong><%= t('budgets.show.phase') %></strong>
      </p>
      <% if @budget.accepting? or @budget.selecting? or @budget.reviewing? %>
        <h2>Dépôt, échange et soutien des idées</h2>
      <% else %>
        <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>
      <% end %>


        <% if @budget.accepting? or @budget.selecting? or @budget.reviewing? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>
              <%= link_to t("budgets.investments.index.sidebar.create"), new_budget_investment_path(@budget), class: "button margin-top expanded" %>
            <% else %>
              <div class="callout warning margin-top">
                <%= t("budgets.investments.index.sidebar.verified_only",
                    verify: link_to(t("budgets.investments.index.sidebar.verify_account"), verification_path)).html_safe %>
              </div>
            <% end %>
          <% else %>
            <div class="callout primary margin-top">
              <%= t("budgets.investments.index.sidebar.not_logged_in",
                    sign_in: link_to('extranet RIVP', 'https://extranet-rivp.fr/'),
                    sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"), new_user_registration_path)).html_safe %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actu">
     <div class="row">
     <p><strong>ACTU !</strong> 8 réunions d'information (17h à 19h) : lundi 20 et mercredi 23 mars / lundi 3, mercredi 5, mardi 18, mercredi 19, jeudi 20 etvendredi 21 avril</p>
     </div>
   </div>
</div>

<div class="container home">
  <h1>Les étapes du budget participatif</h1>
  <p style="padding-bottom: 15px; font-style: italic"><%= link_to "Consultez le mode d'emploi pour plus de détails", "/more_information", class: "" %></p>
  <div class="row">
    <% i=1%>
    <% t("budgets.home_rivp.steps_cards").each do |card| %>
      <div class="small-12 medium-6 large-2 column text-center">
        <!-- card color if active phase -->
        <% if @budget.phase == card[1][:name] %>
          <% active = "active" %>
        <% else %>
          <% if (card[1][:name] == "accepting") or (card[1][:name] == "reviewing") or (card[1][:name] == "selecting") %>
            <% if (@budget.phase == "accepting") or (@budget.phase == "reviewing") or (@budget.phase == "selecting") %>
              <% active = "active" %>
            <% else %>
              <% active = "" %>
            <% end %>
          <% else %>
            <% active = "" %>
          <% end %>
        <% end %>

        <div class="card card1 <%= active %>">
          <div class="item-1" style="color-1">
            <%= image_tag(card[1][:img], size: 32, class: "color-1 svg-inject iconic-1") %>
          </div>
          <div class="item-2">
            <h3 class="color-<%=i%>"><%= card[1][:title] %></h2>
          </div>
          <div class="item-3">
            <strong><%= card[1][:dates] %></strong>
          </div>
          <div class="item-4">
            <p><%= card[1][:description] %><p>
          </div>
          <div class="item-5 <%= if active == "active" then p "active" else "inactive" end %> ">
              <p>en cours<p>
          </div>
        </div>

      </div>
      <% i+=1 %>
    <% end %>
  </div>
</div>
<br>
<div class="blue-body">
  <h1 class="text-center" style="padding-top: 25px">Proposez vos idées sur les thèmes suivants</h1>
  <div class="row center blue-body">
    <% i=3%>
    <% t("budgets.home_rivp.theme_cards").each do |card| %>
      <div class="small-12 medium-3 column text-center theme-cards">
        <div class="card card2">
          <div class="item-1" style="color-1">
            <%= image_tag(card[1][:img], size: 32, class: "") %>
          </div>
          <div class="item-2">
            <h3 class="color-<%=i%>"><%= card[1][:title] %></h2>
          </div>
          <div class="item-3">
            <p><%= card[1][:description] %><p>
          </div>
          <div class="item-6 background-<%=i%>">
          </div>
        </div>
      </div>
      <% i+=1 %>
    <% end %>
  </div>
</div>


<div class="container home">
  <h1>Consultez les propositions des différents sites</h1>
  <div class="row margin-top show-for-medium ">
    <div class="medium-12 column show-for-medium text-left point-relatif" style="padding-bottom: 60px">
      <%= image_tag "custom/citymap2.png" %>
    </div>
    <div id="select-district" class="large-3 medium-6 column select-district list-group point-absolu">
      <div class="row">
        <% Budget.find(1).headings.each_slice(12) do |slice| %>
          <div class="small-12 medium-12 column end ">
            <% slice.each do |heading| %>
              <span id="<%= dom_id(heading) %>"
                    class="<%= css_for_ballot_heading(heading) %> list-group-item">
                <%= link_to heading.name,
                            budget_investments_path(heading_id: heading.id,
                                                    unfeasible: params[:unfeasible],
                                                    budget_id: 1),
                            data: { no_turbolink: true } %><br>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  </div>

  <div class="show-for-small-only">
    <div id="select-district" class="small-12 medium-3 column select-district list-group">
      <div class="row">
        <% Budget.find(1).headings.each_slice(12) do |slice| %>
          <div class="small-12 medium-12 column end ">
            <% slice.each do |heading| %>
              <span id="<%= dom_id(heading) %>"
                    class="<%= css_for_ballot_heading(heading) %> list-group-item">
                <%= link_to heading.name,
                            budget_investments_path(heading_id: heading.id,
                                                    unfeasible: params[:unfeasible],
                                                    budget_id: 1),
                            data: { no_turbolink: true } %><br>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-12 column">
      <%= image_tag "custom/citymap.png" %>
    </div>
  </div>

</div>


