<div id="<%= dom_id(investment) %>" class="budget-investment clear">
  <div class="panel <%= ("with-image" if feature?(:allow_images) && investment.image.present?) %>">

    <% if feature?(:allow_images) && investment.image.present? %>
    <div class="row">

      <div class="small-12 medium-3 large-2 column text-center">
        <%= image_tag investment.image.variant(:thumb), alt: investment.image.title.unicode_normalize %>
      </div>

      <div class="small-12 medium-6 large-7 column">
    <% else %>
      <div class="row">
        <div class="small-12 medium-9 column">
    <% end %>
        <div class="budget-investment-content">

          <% cache [locale_and_user_status(investment), "index", investment, investment.author] do %>
            <h3><%= link_to investment.title, namespaced_budget_investment_path(investment) %></h3>

            <%= render Budgets::Investments::InfoComponent.new(investment) %>

            <div class="investment-project-description">
              <%= wysiwyg(investment.description) %>
              <div class="truncate"></div>
            </div>
            <%= render "shared/tags", taggable: investment, limit: 5 %>
          <% end %>
        </div>
      </div>

      <% unless investment.unfeasible? %>

        <% if investment.should_show_votes? %>
          <div id="<%= dom_id(investment) %>_votes"
               class="small-12 medium-3 column text-center">
               <%= render Budgets::Investments::VotesComponent.new(investment) %>
          </div>
        <% elsif investment.should_show_vote_count? %>
          <div id="<%= dom_id(investment) %>_votes"
               class="small-12 medium-3 column text-center">
            <div class="supports">
              <span class="total-supports no-button">
                <%= t("budgets.investments.investment.supports",
                      count: investment.total_votes) %>
              </span>
            </div>
          </div>
        <% elsif investment.should_show_ballots? && !management_controller? %>
          <div id="<%= dom_id(investment) %>_ballot"
               class="small-12 medium-3 column text-center">
                <%= render "/budgets/investments/ballot",
                           investment: investment,
                           investment_ids: investment_ids,
                           ballot: ballot %>
          </div>
        <% elsif investment.should_show_price? %>
          <div id="<%= dom_id(investment) %>_price"
               class="supports small-12 medium-3 column text-center">
            <div class="supports">
              <span class="total-supports no-button">
                <%= investment.formatted_price %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
