<p class="investment-project-info">
  <% if investment.author.hidden? || investment.author.erased? %>
    <span class="author">
      <%= t("budgets.investments.show.author_deleted") %>
    </span>
    <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <% else %>
    <span class="author">
      <%= investment.author.name %>
    </span>
    <span class="bullet">&nbsp;&bull;&nbsp;</span>
    <% if investment.author.official? %>
      <span class="label round level-<%= investment.author.official_level %>">
        <%= investment.author.official_position %>
      </span>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
    <% end %>
  <% end %>

  <%= l investment.created_at.to_date %>

  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= investment.heading.name %>
</p>
