<%= link_to @budget, class: "back" do %>
  <i class="icon-angle-left"></i>
  <%= t("spending_proposals.index.sidebar.back") %>
<% end %>

<div class="clear"></div>

<div class="sidebar-divider"></div>
<h3 class="sidebar-title"><%= t("spending_proposals.index.sidebar.my_ballot") %></h3>

<% if @heading && @ballot.investments.by_heading(@heading.id).count > 0 %>
  <p>
    <em>
      <%= t("budget.investments.index.sidebar.voted_html",
          count: @ballot.investments.by_heading(@heading.id).count,
          amount_spent: @ballot.formatted_amount_spent(@heading)) %>
    </em>
  </p>
<% else %>
  <p><strong><%= t("budget.investments.index.sidebar.zero") %></strong></p>
<% end %>

<ul class="ballot-list">
  <% if @heading %>
    <% @ballot.investments.by_heading(@heading.id).each do |investment| %>
      <%= render 'budgets/ballot/investment_for_sidebar',
                  investment: investment,
                  investment_ids: @investment_ids %>
    <% end %>
  <% end %>
</ul>

<p class="callout primary"><%= t("budget.investments.index.sidebar.voted_info") %></p>
