<% provide :title do %><%= t('budget.investments.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: budget_investments_path(budget_id: @budget.id, page: 1),
             i18n_namespace: "budget.investments.index.search_form" %>
<% end %>

<main id="budget-investments-main">

  <% unless params[:search].present? %>
    <%= render 'header' %>
  <% end %>

  <div class="wrap row">
    <div id="budget-investments" class="budget-investments-list small-12 medium-9 column">

      <div class="small-12 search-results margin-bottom">

        <% if params[:unfeasible].present? %>
          <h2><%= t("budget.investments.index.unfeasible") %></h2>
          <p>
              <%= t("budget.investments.index.unfeasible_text",
              definitions: link_to(t("budget.investments.index.unfeasible_text_definitions"), "https://decide.madrid.es/participatory_budget_info#20")).html_safe %>
          </p>
        <% end %>

        <%= content_tag(:h2, t("budget.investments.index.by_heading", heading: @heading.name)) if @heading.present? %>
        <% if params[:search].present? %>
          <h2>
            <%= page_entries_info @investments %>
            <%= t("budget.investments.index.search_results", count: @investments.size, search_term: params[:search]) %>
          </h2>
        <% end %>
      </div>

      <%= render('shared/order_links', i18n_namespace: "budget.investments.index") unless params[:unfeasible].present? %>

      <% @investments.each do |investment| %>
        <%= render partial: '/budgets/investments/investment', locals: {
          investment: investment,
          investment_ids: @investment_ids,
          investment_votes: @investment_votes,
          investment_ballots: @investment_ballots
        } %>
      <% end %>

      <%= paginate @investments %>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div id="sidebar">
          <%= render 'sidebar' %>
        </div>
      </aside>
    </div>

  </div>
</main>
