<% provide :title do %><%= @investment.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_investment_url %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <%= back_link_to results_budget_path(@investment.budget, group_id: @investment.group_id) %>
    <h1> <%= t("admin.budget_investments.show.project_title") %></h1>
    <h2><%= @investment.title %></h2>
    <h3><%= @investment.project_phase%></h3>
    <br>
    <%= raw @investment.project_content %>
  </div>
</div>

<div class="row marging-top">
  <div class="small-12 medium-9 column">
    <br>
    <br>
    <h3>
      <%= t("admin.budget_investments.show.project_gallery") %>
    </h3>
    <div class="row small-up-2 medium-up-4">
      <%- @investment.attachments.each do |attachment| %>

        <div class="columns small-12 medium-6 large-4">
          <div class="card column">
            <%= link_to attachment.file_url, target: 'blank', title: attachment.title do %>
                <% if attachment.document? %>
                    <div class="card-section gallery-item text-center" style="height: 200px; padding-top: 80px; background-color: #e9e9e9;">
                      <i class="icon-document icon" style="font-size: 200%;"></i><br>PDF
                    </div>
                <% else %>
                    <div class="card-section gallery-item" style="background-image: url(<%= attachment.file.url(:thumb) %>); height: 200px;">

                    </div>
                <% end %>
            <% end %>
            <div class="card-section">
              <p class="text-muted">
                <small>
                  <%= attachment.title %>
                </small>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="columns small-12"></div>
    </div>
  </div>
</div>