<% provide :title do %><%= @investment.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_investment_url %>
<% end %>

<%= render partial: '/budgets/investments/investment_show', locals: {
  investment: @investment,
  investment_ids: @investment_ids,
  investment_votes: @investment_votes,
  ballot: @ballot
} %>

<div class="tabs-content" data-tabs-content="investments-tabs" role="tablist">
  <%= render "budgets/investments/filter_subnav" %>
  <%= render "budgets/investments/milestones" %>

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render partial: '/comments/comment_tree', locals: { comment_tree: @comment_tree,
                                                            comment_flags: @comment_flags,
                                                            display_comments_count: false } %>
  </div>

  <div class="tabs-panel" id="tab-documents">
    <%= render 'documents/documents',
                documents: @investment.documents,
                max_documents_allowed: Budget::Investment.max_documents_allowed %>
  </div>

</div>
