<h3><%= t('admin.valuators.valuator.user_found') %></h3>

<table>
  <thead>
    <th scope="col"><%= t("admin.valuators.index.name") %></th>
    <th scope="col"><%= t("admin.valuators.index.email") %></th>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= valuator.name %>
      </td>
      <td>
        <%= valuator.email %>
      </td>
    </tr>
  </tbody>
</table>

<% unless @valuator.persisted? %>
  <%= form_for @valuator, url: admin_valuators_path do |f| %>
    <div class="small-12 medium-8">
      <div class="input-group">
        <%= f.text_field :description, label: false, placeholder: t('admin.valuators.valuator.description_placeholder') %>

        <div class="input-group-button">
          <%= f.hidden_field :user_id %>
          <%= f.submit t('admin.valuators.valuator.add'), class: "button success" %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
