<tr>
  <td><%= link_to valuator.name, admin_valuator_path(valuator) %></td>
  <td><%= valuator.email %></td>
  <td>
    <% if valuator.description.present? %>
      <%= valuator.description %>
    <% else %>
      <%= t("admin.valuators.index.no_description") %>
    <% end %>
  </td>
  <td>
    <% if valuator.valuator_group.present? %>
      <%= valuator.valuator_group.try(:name) %>
    <% else %>
      <%= t("admin.valuators.index.no_group") %>
    <% end %>
  </td>
  <td>
    <%= valuator_abilities(valuator) %>
  </td>
  <td>
    <%= render "shared/table_actions", record: valuator, actions: [:edit, :destroy] %>
  </td>
</tr>
