<h3><%= t('admin.valuators.valuator.user_found') %>:</h3>
<div class="row">
  <div class="small-12 medium-12 column">
    <h4>
      <%= valuator.name %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <%= valuator.email %>
    </h4>
  </div>

  <% unless @valuator.persisted? %>
    <%= form_for @valuator, url: admin_valuators_path do |f| %>
      <div class="row">
        <div class="small-12 medium-4 column ">
          <%= f.text_field :description, label: false, placeholder: "descripción (opcional)" %>
          <%= f.hidden_field :user_id %>
        </div>
        <div class="small-12 medium-2 column end" style="border:ddotted 10px red;">
          <%= f.submit t('admin.valuators.valuator.add'), class: "button success float-left" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>