<tr>
  <td><%= valuator.name %></td>
  <td><%= valuator.email %></td>
  <td>
    <% if valuator.description.present? %>
      <%= valuator.description %>
    <% else %>
      <%= t("admin.valuators.index.no_description") %>
    <% end %>
  </td>
  <td>
    <% if valuator.valuator_group.present? %>
      <%= valuator.valuator_group.try(:name) %>
    <% else %>
      <%= t("admin.valuators.index.no_group") %>
    <% end %>
  </td>
  <td>
    <%= valuator_abilities(valuator) %>
  </td>
  <td>
    <%= render Admin::TableActionsComponent.new(valuator) do |actions| %>
      <%= actions.link_to t("admin.shared.view"),
        admin_valuator_path(valuator),
        class: "show-link" %>
    <% end %>
  </td>
</tr>
