<div class="small-12 column">
  <h3><%= t('admin.valuators.valuator.user_found') %></h3>

  <table>
    <tr>
      <td>
        <%= valuator.name %>
      </td>
      <td>
        <%= valuator.email %>
      </td>
    </tr>
  </table>

  <% unless @valuator.persisted? %>
    <%= form_for @valuator, url: admin_valuators_path do |f| %>
      <div class="row">
        <div class="small-12 medium-4 column ">
          <%= f.text_field :description, label: false, placeholder: t('admin.valuators.valuator.description_placeholder') %>
          <%= f.hidden_field :user_id %>
        </div>
        <div class="small-12 medium-2 column end" style="border:ddotted 10px red;">
          <%= f.submit t('admin.valuators.valuator.add'), class: "button success float-left" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
