<h2><%= t("admin.valuators.index.title") %></h2>
<div class="row">
  <div class="column">
    <%= form_tag search_admin_valuators_path, method: :get, remote: true  do %>
      <div class="small-12 medium-6 column">
        <%= text_field_tag :email, '', placeholder: t('admin.valuators.search.email_placeholder') %>
      </div>
      <div class="small-12 medium-6 column">
        <%= submit_tag t('admin.valuators.search.search'), class: 'button radius' %>
      </div>
    <% end %>
  </div>
</div>
<div id="search-result" class="row small"></div>
<h3><%= page_entries_info @valuators %></h3>
<ul id="valuators" class="admin-list">
  <% @valuators.each do |valuator| %>
    <li>
      <span><%= valuator.name %></span>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <span><%= valuator.email %></span>
      <% if valuator.description.present? %>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <span><%= valuator.description %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @valuators %>
