<h2><%= t("admin.valuators.index.title") %></h2>

<%= render 'admin/shared/user_search', url: search_admin_valuators_path %>

<h3><%= page_entries_info @valuators %></h3>

<table id="valuators">
  <% @valuators.each do |valuator| %>
    <tr>
      <td><%= valuator.name %></td>
      <td><%= valuator.email %></td>
      <td><%= valuator.description if valuator.description.present? %></td>
    </tr>
  <% end %>
</table>

<%= paginate @valuators %>
