<h3 id="12">Participación por distritos</h4>

<div class="show-for-medium medium-6 column small-centered margin">
  <%= image_tag("map.jpg", usemap: "#map", alt: "Mapa de distritos de Madrid") %>
</div>

<map name="map" id="html_map">
  <% Geozone.all.each do |geozone| %>
    <area shape="poly"
          coords="<%= geozone.html_map_coordinates %>"
          href="#<%= geozone.name.parameterize %>"
          title="<%= geozone.name %>"
          alt="<%= geozone.name %>">
  <% end %>
</map>

<table class="polls-participation-district">
  <thead>
    <tr>
      <th class="border-right district">DISTRITO</th>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
      <th>% PARTICIPACIÓN POBLACIÓN DEL DISTRITO</th>
    </tr>
  </thead>
  <tbody>
  <tr id="arganzuela">
    <td class="border-right">
      <span class="label large"><strong>Arganzuela</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="barajas">
    <td class="border-right">
      <span class="label large"><strong>Barajas</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="carabanchel">
    <td class="border-right">
      <span class="label large"><strong>Carabanchel</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="centro">
    <td class="border-right">
      <span class="label large"><strong>Centro</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="chamartin">
    <td class="border-right">
      <span class="label large"><strong>Chamartín</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="chamberi">
    <td class="border-right">
      <span class="label large"><strong>Chamberí</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="ciudad-lineal">
    <td class="border-right">
      <span class="label large"><strong>Ciudad Lineal</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="fuencarral-el-pardo">
    <td class="border-right">
      <span class="label large"><strong>Fuencarral - El Pardo</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="hortaleza">
    <td class="border-right">
      <span class="label large"><strong>Hortaleza</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="latina">
    <td class="border-right">
      <span class="label large"><strong>Latina</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="moncloa-aravaca">
    <td class="border-right">
      <span class="label large"><strong>Moncloa - Aravaca</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="moratalaz">
    <td class="border-right">
      <span class="label large"><strong>Moratalaz</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="puente-de-vallecas">
    <td class="border-right">
      <span class="label large"><strong>Puente de Vallecas</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="retiro">
    <td class="border-right">
      <span class="label large"><strong>Retiro</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="san-blas-canillejas">
    <td class="border-right">
      <span class="label large"><strong>San Blas - Canillejas</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="salamanca">
    <td class="border-right">
      <span class="label large"><strong>Salamanca</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="tetuan">
    <td class="border-right">
      <span class="label large"><strong>Tetuán</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="usera">
    <td class="border-right">
      <span class="label large"><strong>Usera</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="vicalvaro">
    <td class="border-right">
      <span class="label large"><strong>Vicálvaro</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="villaverde">
    <td class="border-right">
      <span class="label large"><strong>Villaverde</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  <tr id="villa-de-vallecas">
    <td class="border-right">
      <span class="label large"><strong>Villa de Vallecas</strong></span>
    </td>
    <td>2200 <small><em>(3,14%)</em></small></td>
    <td>200 <small><em>(8,25%)</em></small></td>
    <td>400 <small><em>(16,46%)</em></small></td>
    <td class="border-left">2800 <small><em>(5,31%)</em></small></td>
    <td>1,44%</td>
  </tr>
  </tbody>
</table>
<p>
  <em>* No se dispone de los datos demográficos de 100 participantes.</em>
</p>
