<h2><%= t("restriction.locked_users.index.title") %></h2>

<%= form_for([:restriction, @locked_user], url: preview_restriction_locked_users_path) do |f| %>
  <%= render 'shared/errors',
              resource: @locked_user,
              message: t("restriction.locked_users.error_form") %>

  <div class="small-12 medium-6 large-4">
    <%= f.collection_select :budget_id, Budget.order(id: :desc), :id, :name, label: t("restriction.locked_users.budget") %>
  </div>

  <div class="small-12 medium-6 large-4">
    <%= f.select(:document_type,
                 [[humanize_document_type("1"), 1],
                  [humanize_document_type("2"), 2],
                  [humanize_document_type("3"), 3]],
                 label: t("management.document_type_label")) %>
  </div>

  <div class="small-12 medium-6 large-4">
    <%= f.text_field :document_number,
                     placeholder: t('management.document_number'),
                     label: t("management.document_number")
    %>
  </div>

  <%= f.submit(class: "button", value: t("restriction.locked_users.index.submit")) %>
<% end %>