<fieldset class="sdg-related-list-selector">
  <legend><%= t("sdg.related_list_selector.title") %></legend>

  <div class="input-section">
    <fieldset class="goals">
      <legend><%= t("sdg.related_list_selector.goal_list", record: relatable_name) %></legend>
      <%= f.collection_check_boxes(:sdg_goal_ids, goals, :id, :code) do |checkbox_form| %>
        <%= goal_field(checkbox_form) %>
      <% end %>
    </fieldset>

    <%= f.text_field :related_sdg_list,
                      class: "input",
                      placeholder: t("sdg.related_list_selector.placeholder"),
                      label: t("sdg.related_list_selector.hint"),
                      data: { "suggestions-list": sdg_related_suggestions,
                              "remove-tag-text": t("sdg.related_list_selector.remove_tag") } %>
  </div>

  <div class="help-section callout primary hide">
    <h3><%= t("sdg.related_list_selector.help.title", record: relatable_name) %></h3>
    <ul class="selected-info"></ul>
  </div>
</fieldset>
