<%= form.label :map_location, label %>
<p class="help-text" id="tag-list-help-text"><%= help %></p>

<%= form.fields_for :map_location, map_location do |m_l_fields| %>
  <%= render_map(map_location, form: m_l_fields) %>

  <%= m_l_fields.hidden_field :latitude %>
  <%= m_l_fields.hidden_field :longitude %>
  <%= m_l_fields.hidden_field :zoom %>
<% end %>
