<div class="row column communities-participant">

  <ul class="tabs" data-tabs id="communities-show-tabs">

    <li class="tabs-title is-active">
      <%= link_to "#tab-participants" do %>
        <h3>
          <%= t("community.show.tab.participants") %>
          <span class="js-comments-count">(<%= @participants.count %>)</span>
        </h3>
      <% end %>
    </li>

  </ul>

  <% @participants.each do |participant| %>
    <div class="comment-body">
      <div class="comment-info">

        <%= avatar_image( participant, seed: participant.id, size: 32, class: 'author-photo') %>

        <div class="comment-info">

          <span class="user-name">
            <%= link_to participant.name, user_path(participant)%>
          </span>

          <% if is_author?(@community, participant) %>
            &nbsp;&bull;&nbsp;
            <span class="label round is-author">
                <%= t("comments.comment.author") %>
            </span>
          <% end %>

        </div>

      </div>
    </div>
  <% end %>

</div>
