<div class="jumbo light">
  <div class="row">
    <div class="small-12 column">
      <h2><%= t("community.show.title") %></h2>
      <p class="lead"> <%= @community.proposal.title %> </p>
      <p><%= t("community.show.description") %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <div id="topics">
      <%= render "topics/topics", topics: @community.topics %>
    </div>
  </div>

  <div class="small-12 medium-3 column">
    Participa
    <%= link_to t("topic.new"), new_community_topic_path(@community.id), class: 'button expanded' %>
  </div>
</div>

<div class="">
  Participantes
  <% User.community_participants(@community).each do |participant| %>
    <%= link_to participant.name, user_path(participant)%>
  <% end %>
</div>
