<div class="communities-show">
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <h2><%= t("community.show.title") %></h2>
        <p class="lead"> <%= @community.proposal.title %> </p>
        <p><%= t("community.show.description") %></p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="btn-new-theme-small show-for-small-only small-12 column">
      <div class="sidebar-divider"></div>
      <h2><%= t("community.sidebar.topic.title") %></h2>
      <%= link_to t("community.sidebar.topic.new_topic"), new_community_topic_path(@community.id), class: 'button expanded' %>
    </div>

    <div class="small-12 medium-9 column">
      <div id="topics" class="topics-list">
        <%= render "topics/topics", topics: @topics %>
      </div>
      <%= paginate @topics %>
    </div>

    <aside class="small-12 medium-3 hide-for-small-only column">
      <div class="sidebar-divider"></div>
      <h2><%= t("community.sidebar.topic.title") %></h2>
      <%= link_to t("community.sidebar.topic.new_topic"), new_community_topic_path(@community.id), class: 'button expanded' %>
    </aside>
  </div>
</div>

<div class="row column communities-participant">
  <ul class="tabs" data-tabs id="communities-show-tabs">
    <li class="tabs-title is-active">
      <%= link_to "#tab-participantes" do %>
        <h3>
          <%= t("community.tab.participant") %>
          <span class="js-comments-count">(<%= @participants.count %>)</span>
        </h3>
      <% end %>
    </li>
  </ul>
  <% @participants.each do |participant| %>

    <div class="comment-body">
      <div class="comment-info">
        <%= image_tag("avatar_admin.png", size: 32, class: "admin-avatar float-left") %>
        <div class="comment-info">
          <span class="user-name">
            <%= link_to participant.name, user_path(participant)%>
          </span>
          &nbsp;&bull;&nbsp;
          <span class="label round is-author">
              <%= t("comments.comment.author") %>
          </span>
        </div>
      </div>
    </div>

    <%#= link_to participant.name, user_path(participant)%>
  <% end %>
</div>
