<%= form_for [:admin, @content_block], html: { class: "edit_page" } do |f| %>

  <%= render "shared/errors", resource: @content_block %>

  <div class="small-12 medium-6 column">
    <%= f.select :name, options_for_select(valid_blocks, @selected_content_block) %>
  </div>
  <div class="small-12 medium-6 column">
    <%= f.select :locale, I18n.available_locales %>
  </div>

  <div class="small-12 column">
    <%= f.text_area :body, rows: 10 %>
    <div class="small-12 medium-6 large-3">
      <%= f.submit class: "button success expanded" %>
    </div>
  </div>

<% end %>
