<tr>
  <td>
    <div class="thumbnail">
      <%= link_to bench.original_image_url, target: '_blank' do %>
        <%= image_tag bench.thumb_image_url, alt: bench.name %>
      <% end %>
    </div>
  </td>

  <td>
    <strong><%= bench.name %></strong>
    <br>
    <%= link_to "Ver detalle", bench.original_image_url,
                  title: t("shared.target_blank_html"), target: "_blank" %>
  </td>

  <td>
    <%= link_to "Descargar dossier <small>(PDF | #{bench.pdf_size})</small>".html_safe,
                  bench.pdf_url,
                  title: bench.pdf_title,
                  target: "_blank" %>
  </td>

  <td class="text-center">
    <%= number_with_delimiter(bench.votes_for.count) %>
  </td>
</tr>
