<% provide :title, "Plan de Urbanismo: nuevos bancos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_town_planning"),
          social_title: t("pages.processes.index.process_7_title"),
          social_description: t("pages.processes.index.process_7_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_7_title") %></h1>
      <h2>Participa hasta el <u>27 de julio</u>. Selecciona el diseño de banco que más te guste.</h2>
    </div>
  </div>
</div>

<% if @bench.present? %>
  <div class="row margin-top">
    <div class="small-12 column">
      <div class="callout success">
        Has votado el proyecto <strong><%= @bench.name %></strong>. Puedes cambiarlo en cualquier momento hasta el día <u>27 de julio</u>.
      </div>
    </div>
  </div>
<% end %>

<div class="row" data-equalizer>
  <%= render @benches %>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="margin-bottom">Selecciona el proyecto que quieres votar</h3>

    <%= form_tag vote_benches_path do %>
      <% @benches.in_groups_of(4).each do |benches| %>
        <div class="small-12 medium-4 column">
          <% benches.compact.each do |bench| %>
            <label>
              <%= radio_button_tag("id", bench.id, @bench.try(:id) == bench.id) %>
              <span><%= bench.name %></span>
            </label>
          <% end %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.level_two_or_three_verified? %>
          <div class="row">
            <div class="small-12 medium-4 column end text-center">
              <input type="submit" value="Enviar voto" class="button expanded margin-top">
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="small-12 column">
              <div class="callout warning">
                <%= t("benches.index.verified_only",
                    verify_account: link_to(t("benches.index.verify_account"), verification_path )).html_safe %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="small-12 column">
            <div class="callout primary">
              <%= t("benches.index.not_logged_in",
                  signin: link_to(t("benches.index.signin"), new_user_session_path),
                  signup: link_to(t("benches.index.signup"), new_user_registration_path)).html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>