<% provide :title, "Plan de Urbanismo: nuevos bancos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_town_planning"),
          social_title: t("pages.processes.index.process_7_title"),
          social_description: t("pages.processes.index.process_7_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_7_title") %></h1>
      <h2>Participa hasta el 20 de agosto. Selecciona el diseño de banco que más te guste.</h2>
    </div>
  </div>
</div>

<div class="row margin-top" data-equalizer>
  <%= render @benches %>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="margin-bottom">Selecciona el proyecto que quieres votar</h3>
    <%= form_tag vote_benches_path do %>
      <div class="small-12 medium-4 column">
        <% @benches.each do |bench| %>
          <label>
            <input type="radio" name="id" value="<%= bench.id %>">
            <span><%= bench.name %></span>
          </label>
        <% end %>

      <div class="small-12 medium-4 column end text-center">
        <input type="submit" value="Enviar voto" class="button expanded margin-top">
      </div>
    <% end %>
  </div>
</div>