<% provide :title, "Plan de Urbanismo: nuevos bancos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_town_planning"),
          social_title: t("pages.processes.index.process_7_title"),
          social_description: t("pages.processes.index.process_7_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_7_title") %></h1>
      <h2>Participa hasta el 20 de agosto. Selecciona el diseño de banco que más te guste.</h2>
    </div>
  </div>
</div>

<div class="row margin-top" data-equalizer>
  <%= render @benches %>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="margin-bottom">Selecciona el proyecto que quieres votar</h3>

    <!-- IF USER ALREADY HAS VOTED -->
    <div class="row margin-top">
      <div class="small-12 column">
        <div class="callout success">
          Has votado el proyecto <strong>SIENTAMADRID!</strong>. Puedes cambiarlo en cualquier momento hasta el día <u>20 de agosto</u>.
        </div>
      </div>
    </div>
    <!-- END -->

    <%= form_tag vote_benches_path do %>
      <div class="small-12 medium-4 column">
        <% @benches.each do |bench| %>
          <label>
            <input type="radio" name="id" value="<%= bench.id %>">
            <span><%= bench.name %></span>
          </label>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <% if current_user.level_two_or_three_verified? %>
          <div class="small-12 medium-4 column end text-center">
            <input type="submit" value="Enviar voto" class="button expanded margin-top">
          </div>
        <% else %>
          <div class="small-12 column">
            <div class="callout primary">
              <%= t("benches.index.verified_only",
                  verify_account: link_to(t("benches.index.verify_account"), verification_path )).html_safe %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="small-12 column">
          <div class="callout primary">
            <%= t("benches.index.not_logged_in",
                signin: link_to(t("benches.index.signin"), new_user_session_path),
                signup: link_to(t("benches.index.signup"), new_user_registration_path)).html_safe %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>