<h2><%= t("admin.signature_sheet_officers.index.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_signature_sheet_officers_path %>

<div id="signature_sheet_officers">
  <% if @signature_sheet_officers.any? %>
    <h3 class="margin"><%= page_entries_info @signature_sheet_officers %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.signature_sheet_officers.index.name") %></th>
        <th scope="col"><%= t("admin.signature_sheet_officers.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @signature_sheet_officers.each do |signature_sheet_officer| %>
          <tr>
            <td>
              <%= signature_sheet_officer.name %>
            </td>
            <td>
              <%= signature_sheet_officer.email %>
            </td>
            <td>
              <% if signature_sheet_officer.persisted? %>
                <%= link_to t("admin.signature_sheet_officers.signature_sheet_officer.delete"),
                  admin_signature_sheet_officer_path(signature_sheet_officer),
                  method: :delete,
                  class: "button hollow alert expanded"
                %>
              <% else %>
                <%= link_to t("admin.signature_sheet_officers.signature_sheet_officer.add"),
                             { controller: "admin/signature_sheet_officers",
                               action: :create,
                               user_id: signature_sheet_officer.user_id },
                               method: :post,
                               class: "button success expanded" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @signature_sheet_officers %>
  <% else %>
    <div class="callout primary">
      <%= t("admin.signature_sheet_officers.index.no_signature_sheet_officers") %>
    </div>
  <% end %>
</div>
