<h2><%= t("admin.signature_sheet_officers.search.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_signature_sheet_officers_path %>

<div id="signature_sheet_officers">
  <% if @users.any? %>
    <h3><%= page_entries_info @users %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.signature_sheet_officers.index.name") %></th>
        <th scope="col"><%= t("admin.signature_sheet_officers.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.signature_sheet_officer? && user.signature_sheet_officer.persisted? %>
              <%= link_to t("admin.signature_sheet_officers.signature_sheet_officer.delete"),
                          admin_signature_sheet_officer_path(user),
                          method: :delete,
                          class: "button hollow alert expanded" %>
            <% else %>
              <%= link_to t("admin.signature_sheet_officers.signature_sheet_officer.add"),
                          { controller: "admin/signature_sheet_officers",
                            action: :create,
                            user_id: user },
                          method: :post,
                          class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
