<div class="small-12 column">
  <p class="total-votes right">
    <%= pluralize(@debate.total_votes, t("debates.debate.vote"), t("debates.debate.votes")) %>
  </p>

  <h3><%= t("votes.supports") %></h3>

  <div class="text-center">
    <div id="in_favor" class="inline-block">
      <%= link_to debate_votes_path(@debate, value: 'yes'), class: "like", title: t('votes.agree'), method: "post", remote: true do %>
        <i class="icon-like"></i>
        <span><%= percentage('likes', @debate) %></span>
      <% end %>
    </div>

    <span class="divider"></span>

    <div id="against" class="inline-block">
      <%= link_to debate_votes_path(@debate, value: 'no'), class: "unlike", title: t('votes.disagree'), method: "post", remote: true do %>
        <i class="icon-unlike"></i>
        <span><%= percentage('dislikes', @debate) %></span>
      <% end %>
    </div>
  </div>
</div>