<%= link_to valuation_budget_budget_investment_path(@budget, @investment), class: 'back' do %>
  <span class="icon-angle-left"></span>
  <%= "#{t('valuation.budget_investments.show.title')} #{@investment.id}"%>
<% end %>

<h2><%= t("valuation.budget_investments.edit.dossier") %></h2>
<% if can?(:valuate, @investment) %>
  <%= form_for(@investment, url: valuate_valuation_budget_budget_investment_path(@budget, @investment), html: {id: "valuation_budget_investment_edit_form"}) do |f| %>
    <%= render 'shared/errors', resource: @investment %>
    <div class="row">
      <div class="small-12 column">
        <fieldset class="fieldset">
          <legend><%= t('valuation.budget_investments.edit.feasibility') %></legend>
          <div class="small-4 column">
              <span class="radio">
                <%= f.radio_button :feasibility, 'undecided', label: false %>
                <%= f.label :feasibility_undecided, t('valuation.budget_investments.edit.undefined_feasible') %>
              </span>
          </div>

          <div class="small-4 column">
              <span class="radio">
                <%= f.radio_button :feasibility, 'feasible', label: false %>
                <%= f.label :feasibility_feasible, t('valuation.budget_investments.edit.feasible') %>
              </span>
          </div>

          <div class="small-4 column">
              <span class="radio">
                <%= f.radio_button :feasibility, 'unfeasible', label: false %>
                <%= f.label :feasibility_unfeasible, t('valuation.budget_investments.edit.unfeasible') %>
              </span>
          </div>
        </fieldset>
      </div>
    </div>

    <div id="unfeasible_fields" >

      <div class="row">
        <div class="small-12 column">
          <%= f.label :unfeasibility_explanation, t("valuation.budget_investments.edit.feasible_explanation_html") %>
          <%= f.text_area :unfeasibility_explanation, label: false, rows: 3 %>
        </div>
      </div>

    </div>

    <div id="feasible_fields">

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.label :price, "#{t('valuation.budget_investments.edit.price_html', currency: @budget.currency_symbol)}" %>
          <%= f.number_field :price, label: false, max: 1000000000000000 %>
        </div>

        <div class="small-12 medium-6 column end">
          <%= f.label :price_first_year, "#{t('valuation.budget_investments.edit.price_first_year_html', currency:  @budget.currency_symbol)}" %>
          <%= f.number_field :price_first_year, label: false, max: 1000000000000000 %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <%= f.label :price_explanation, t("valuation.budget_investments.edit.price_explanation_html") %>
          <%= f.text_area :price_explanation, label: false, rows: 3 %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.label :duration, t("valuation.budget_investments.edit.duration_html") %>
          <%= f.text_field :duration, label: false %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="small-12 medium-8 column">
        <%= f.label :valuation_finished do %>
          <%= f.check_box :valuation_finished,
              title: t('valuation.budget_investments.edit.valuation_finished'),
              label: false, id: 'js-investment-report-alert',
              "data-alert": t("valuation.budget_investments.edit.valuation_finished_alert"),
              "data-not-feasible-alert": t("valuation.budget_investments.edit.not_feasible_alert") %>
          <span class="checkbox"><%= t("valuation.budget_investments.edit.valuation_finished") %></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="actions small-12 medium-4 column">
        <%= f.submit(class: "button expanded large", value: t("valuation.budget_investments.edit.save")) %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>
    <h3><%= t('valuation.budget_investments.edit.valuation_finished') %></h3>
  </p>
  <p>
    <strong><%= t('valuation.budget_investments.edit.feasibility') %>:</strong>
    <%= t("admin.budget_investments.index.feasibility.#{@investment.feasibility}") %>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.feasible_explanation_html") %>:</strong>
    <%= @investment.unfeasibility_explanation.presence || '-' %>
  </p>
  <p>
    <strong><%= t('valuation.budget_investments.edit.price_html', currency: @budget.currency_symbol) %>:</strong>
    <%= @investment.price.presence || '-' %>
  </p>
  <p>
    <strong><%= t('valuation.budget_investments.show.price_first_year', currency: @budget.currency_symbol) %>:</strong>
    <%= @investment.price_first_year.presence || '-' %>
  </p>
  <p>
    <strong><%= t('valuation.budget_investments.edit.price_explanation_html') %>:</strong>
    <%= @investment.price_explanation.presence || '-'%>
  </p>
  <p>
    <strong><%= t('valuation.budget_investments.edit.duration_html') %>:</strong>
    <%= @investment.duration.presence || '-' %>
  </p>
<% end %>

<%= render 'valuation/budget_investments/valuation_comments' %>

<h1><%= @investment.title %></h1>

<%= safe_html_with_links @investment.description %>

<h2><%= t("valuation.budget_investments.show.info") %></h2>

<p><strong><%= t("valuation.budget_investments.show.by") %>:</strong>
  <%= link_to @investment.author.name, user_path(@investment.author) %>
</p>

<p><strong><%= t("valuation.budget_investments.show.heading") %>:</strong>
  <%= @investment.heading.name %>
</p>

<p><strong><%= t("valuation.budget_investments.show.sent") %>:</strong>
  <%= l @investment.created_at, format: :datetime %>
</p>

<h2><%= t("valuation.budget_investments.show.responsibles") %></h2>

<p><strong><%= t("valuation.budget_investments.show.assigned_admin") %>:</strong>
  <% if @investment.administrator.present? %>
    <%= @investment.administrator.name %> (<%= @investment.administrator.email %>)
  <% else %>
    <%= t("valuation.budget_investments.show.undefined") %>
  <% end %>
</p>

<p><strong><%= t("valuation.budget_investments.show.assigned_valuators") %>:</strong></p>
<div id="assigned_valuators">
  <ul>
    <% @investment.valuators.each do |valuator| %>
      <li><%= valuator.name %> (<%= valuator.email %>)</li>
    <% end %>

    <% if @investment.valuators.empty? %>
      <li><%= t("valuation.budget_investments.show.undefined") %></li>
    <% end %>
  </ul>
</div>
