<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @geography.name %>
</p>

<p>
  <strong>Outline points:</strong>
  <%= @geography.outline_points %>
</p>

<%= link_to 'Edit', edit_admin_geography_path(@geography) %> |
<%= link_to 'Back', admin_geographies_path %>
