<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-9 small-centered column text-center">

      <h1><%= t("layouts.header.presupuestos_provinciales_title") %></h1>

      <p class="lead">
        <%= t("layouts.header.presupuestos_provinciales_description") %>
      </p>

      <div class="small-12 medium-6 large-4 small-centered">

        <% if current_budget.accepting? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>
              <%= link_to t("budgets.investments.index.sidebar.create"),
                          new_budget_investment_guide,
                          class: "button margin-top expanded" %>
            <% else %>
              <div class="callout warning margin-top">
                <%= t("budgets.investments.index.sidebar.verified_only",
                    verify: link_to(t("budgets.investments.index.sidebar.verify_account"),
                                    verification_path)).html_safe %>
              </div>
            <% end %>
          <% else %>
            <div class="callout primary margin-top">
              <%= t("budgets.investments.index.sidebar.not_logged_in",
                    sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"),
                    new_user_session_path),
                    sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"),
                    new_user_registration_path)).html_safe %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
