<% if header.present? %>
  <div class="jumbo highlight">
    <div class="row">
      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <span><%= header.label %></span>
        <h2><%= header.title %></h2>
        <%= header.description.html_safe %>
        <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present? %>">
          <%= link_to header.link_text, header.link_url, class: "button expanded large" %>
        </div>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column text-center hide-for-small-only">
          <%= image_tag(header.image_url(:large),
                        class: "welcome-image",
                        alt: header.image.title) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="background-header"></div>
<% end %>
