<div class="questions">
  <div class="small-12 medium-8 column small-centered">
    <p>
      <%= t('pages.home.questions.question1_html') %>
      <%= t('pages.home.questions.question2_html') %>
    </p>
    <p>
    <%= t('pages.home.questions.question3_html') %>
    <%= t('pages.home.questions.question4_html') %>
    </p>
    <hr />
    <p>
      <%= t('pages.home.questions.answer') %>
    </p>
    <%= link_to t('pages.home.questions.read_more'), page_path(t('pages.slugs.about')), class: "small" %>
  </div>
</div>
