<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>


  <%= render "feeds" %>

<% if @cards.any? %>
<section class="section py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">

          <h2 class="h1 mb-4">
              <%= t("welcome.cards.title") %>
            </h2>
          </div>
      </div>
              <%= render "shared/cards", cards: @cards %>
            </div>


  </section>
  <% end %>
