<% content_for :body_class, "home-page" %>

<% if false %>
  <% provide :title, t("meta_tags.welcome_index.#{current_budget.phase}.title") %>
  <% provide :meta_description, t("meta_tags.welcome_index.#{current_budget.phase}.description") %>
<% else %>
  <% provide :title, t("meta_tags.welcome_index.title") %>
  <% provide :meta_description, t("meta_tags.welcome_index.description") %>
<% end %>

<% provide :tracking_page_number, "23" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if false %>
  <% provide :social_media_meta_tags do %>
    <%= render "shared/social_media_meta_tags",
                social_url: root_url,
                twitter_image_url: "social_media_budgets_2018_balloting_twitter.png",
                og_image_url: "social_media_budgets_2018_balloting.png" %>
  <% end %>
<% else %>
  <% provide :social_media_meta_tags do %>
    <%= render "shared/social_media_meta_tags",
                social_url: root_url,
                social_title: t("landings.signup.title"),
                social_description: t("landings.signup.description"),
                twitter_image_url: "social_media_twitter.jpg",
                og_image_url: "social_media.jpg" %>
  <% end %>
<% end %>

<%= render "header", header: @header %>

<main class="welcome">

  <h1 class="show-for-sr"><%= t("welcome.title") %></h1>

  <%= render "feeds" %>

  <div class="row">
    <div class="small-12 column <%= 'large-8' if feed_processes_enabled? %>">
      <%= render "cards" %>
    </div>

    <div class="small-12 large-4 column">
      <%= render "processes" %>
    </div>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
