<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :title do %><%= t("budgets.investments.index.title") %><% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags", social_url: root_url %>
<% end %>

<main>
  <article class="main-indented-content">
    <div class="row">
      <div class="column">
        <div class="landing">
          <div class="introduction-text">
            <h1><%= t("custom.landing.title") %></h1>
            <p><%= t("custom.landing.introduction_text") %></p>
            <!-- TODO: can we get current budget - current phase url directly? -->
            <% if current_budget.present? %>
              <% current_budget.custom_phases(current_user, method(:budget_investments_url)).each do |_, phase| %>
                <% if phase.enabled && phase.active %>
                  <a class="action-button large" href="<%= phase.url %>">
                    <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <hr />
          <div class="welcome-columns">
          <% if current_budget.present? %>
            <% current_budget.custom_phases(current_user, create_url = method(:budget_investments_url)).each do |phase_name, phase| %>
              <% if phase.enabled %>
                <section class="welcome-column">
                  <div class="phase-enrichment-holder">
                    <div class="phase-enrichment <%= phase.kind %>"></div>
                  </div>
                  <div class="column-content">
                    <h2><%= t("custom.headings.#{phase.kind}") %></h2>
                    <h4><%= strip_tags(phase.summary) %></h4>
                    <% unless phase.active %>
                    <!-- <div>
                        TEGA JE DAL FILIP NOT IN POTEM UMAKNIL, KER JE MB TAKO HOTEL, NASLEDNJA DVA STA BILA ZAKOMENTIRANA<div class="large-description"><%= sanitize_and_auto_link phase["presentation_summary_#{phase_name}"] %></div>
                        <div class="large-description"><%= sanitize_and_auto_link phase.summary %></div>
                        <% if phase.description %>
                          <div class="large-description"><%= sanitize_and_auto_link phase.description %></div>
                        <% end %>
                      </div> -->
                    <% end %>
                    <% if phase.active %>
                      <a class="action-button large" href="<%= phase.url %>">
                        <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                      </a>
                    <% end %>
                  </div>
                </section>
              <% end %>
            <% end %>
          <% else %>
            <section class="welcome-column">
              <div class="no-budget">
                <%= image_tag(image_path_for("vote.png")) %>
              </div>
              <div class="column-content">
                <h2><%= t("custom.headings.#{phase.kind}") %></h2>
                <h4><%= strip_tags(phase.summary) %></h4>
                <% unless phase.active %>
                  <div>
                    <% if phase.description %>
                      <div class="large-description"><%= sanitize_and_auto_link phase.description %></div>
                    <% end %>
                  </div>
                <% end %>
                <% if phase.active %>
                  <a class="action-button large" href="<%= phase.url %>">
                    <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                  </a>
                <% end %>
              </div>
            </section>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
<% if @past_budgets.present? %>
<div class="main-indented-content">
  <div class="landing">
    <div class="list">
      <h2><%= t("custom.landing.title_past") %></h2>
      <% @past_budgets.each do |budget| %>
        <a class="list-element" href="budgets/<%= budget.id %>/investments">
          <div>
            <h3><%= budget.name %></h3>
            <p><%= t("custom.landing.past_list_description") %></p>
          </div>
          <div class="more">
            <span><%= t("custom.landing.past_list_more") %></span> <i class="custom-icon arrow-small-right"></i>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
