<h2><%= t("welcome.welcome.title") %></h2>

<div class="user-permissions">

  <p>
    <%= t("welcome.welcome.terms_censed") %>.
    <%= t("welcome.welcome.verify_account") %>
  </p>

  <%= link_to(t("welcome.welcome.user_permission_verify_my_account"), verification_path, class: "button success radius expand") %>

  <p class="text-center">
    <%= link_to t("welcome.welcome.go_to_index"), root_path %>
  </p>
</div>
