<table class="fixed">
  <thead>
    <tr>
      <th class="small-9"><%= t("admin.questions.index.table_proposal") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr id="<%= dom_id(proposal) %>">
        <td>
          <%= link_to proposal.title, proposal_path(proposal) %>
          <p>
            <%= proposal.summary %><br>
            <strong><%= proposal.question %></strong>
          </p>
        </td>
        <td>
          <%= link_to t("admin.questions.index.create_question"),
                new_admin_question_path(proposal_id: proposal.id),
                class: "button hollow" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
