<table>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr id="<%= dom_id(proposal) %>">
        <td>
          <%= link_to proposal.title, proposal_path(proposal) %>
          <p>
            <%= proposal.summary %><br>
            <strong><%= proposal.question %></strong>
          </p>
        </td>
        <td class="text-right">
          <%= link_to t("admin.questions.index.create_question"),
                new_admin_question_path(proposal_id: proposal.id),
                class: "button hollow" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
