<table>
  <thead>
    <tr>
      <th class="small-9"><%= t("admin.questions.index.table_proposal") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr id="<%= dom_id(proposal) %>">
        <td>
          <%= proposal.title %>
          <p>
            <%= proposal.summary %><br>
          </p>
        </td>
        <td>
          <%= render Admin::TableActionsComponent.new(actions: []) do |actions| %>
            <%= actions.link_to t("admin.shared.view"), proposal_path(proposal), class: "show-link" %>
            <%= actions.link_to t("admin.questions.index.create_question"),
                  new_admin_question_path(proposal_id: proposal.id),
                  class: "new-link" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
