<h2 class="inline-block"><%= t("admin.questions.index.title") %></h2>

<%= link_to t("admin.questions.index.create"), new_admin_question_path,
            class: "button float-right" %>

<div class="small-12 medium-6">
  <%= render 'search' %>
</div>

<div class="tabs-content" data-tabs-content="questions-tabs">
  <%= render "filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-questions">
    <%= render "questions" %>
  </div>

  <div class="tabs-panel" id="tab-successful-proposals">
    <%= render "successful_proposals" %>
  </div>
</div>
