<%= back_link_to %>

<%= link_to t('shared.edit'), edit_admin_question_path(@question),
            class: "button hollow float-right" %>

<div class="clear"></div>

<div class="row">
  <div>
    <strong><%= t("admin.questions.show.title") %></strong>
    <h2><%= @question.title %></h2>

    <% if @question.proposal.present? %>
      <p>
        <strong><%= t("admin.questions.show.proposal") %></strong>
        <br>
        <%= link_to @question.proposal.title, proposal_path(@question.proposal) %>
      </p>
    <% end %>

    <p>
      <strong><%= t("admin.questions.show.author") %></strong>
      <br>
      <%= link_to @question.author.name, user_path(@question.author) %>
    </p>

    <table class='fixed'>
      <tr>
        <th colspan="2" scope="colgroup">
          <%= t('admin.questions.show.valid_answers') %>
        </th>
        <th colspan="1" scope="colgroup">
          <%= link_to t("admin.questions.show.add_answer"),
                      new_admin_question_answer_path(@question),
                      class: "button hollow float-right" %>
        </th>
      </tr>

      <tr>
        <th scope="col"><%= t("admin.questions.show.answers.title") %></th>
        <th scope="col"><%= t("admin.questions.show.answers.description") %></th>
        <th scope="col" class="text-center"><%= t("admin.questions.show.answers.documents") %></th>
      </tr>

      <% @question.question_answers.each do |answer| %>
        <tr id="<%= dom_id(answer) %>" class="poll_question_answer">
          <td scope="col"><%= answer.title %></td>
          <td scope="col"><%= answer.description %></td>
          <td scope="col" class="text-center">
            (<%= answer.documents.count rescue 0 %>)
            <br>
            <%= link_to t("admin.questions.show.answers.documents_list"), admin_question_answer_documents_path(@question, answer) %>
          </td>
        </tr>
      <% end %>
    </table>

    <% if @question.video_url.present? %>
      <p>
        <strong><%= t("admin.questions.show.video_url") %></strong>
        <br>
        <a href="<%= @question.video_url %>"><%= @question.video_url %></a>
      </p>
    <% end %>

    <% if @question.documents.any? %>
      <p>
        <strong><%= t("admin.questions.show.documents") %></strong>
        <br>
        <a href="<%= @question.documents.first.attachment.url %>"><%= @question.documents.first.title %></a>
      </p>
    <% end %>
  </div>
</div>
