<%= back_link_to admin_poll_path(@question.poll) %>

<%= link_to t("admin.questions.show.edit_question"), edit_admin_question_path(@question),
            class: "button hollow float-right" %>

<div class="clear"></div>

<div class="small-12 medium-6">
  <div class="callout highlight">
    <p>
      <strong><%= t("admin.questions.show.question") %></strong>
      <br>
      <%= @question.title %>
    </p>

    <p>
      <strong><%= t("admin.questions.show.author") %></strong>
      <br>
      <%= link_to @question.author.name, user_path(@question.author) %>
    </p>

    <% if @question.proposal.present? %>
      <p>
        <strong><%= t("admin.questions.show.proposal") %></strong>
        <br>
        <%= link_to @question.proposal.title, proposal_path(@question.proposal) %>
      </p>
    <% end %>

    <% if @question.votation_type.present? %>
      <p>
        <strong><%= t("admin.polls.votation_type.title") %></strong>
        <br>
        <%= t("admin.polls.votation_type.#{@question.votation_type.enum_type}") %>
      </p>
      <% if @question.votation_type.max_votes.present? %>
        <p>
          <strong><%= t("admin.polls.max_votes") %></strong>
          <br>
          <%= @question.votation_type.max_votes %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clear">
  <%= link_to t("admin.questions.show.add_answer"), new_admin_question_answer_path(@question),
              class: "button float-right" %>
</div>

<table class="margin-top">
  <tr>
    <th><%= t("admin.questions.show.answers.title") %></th>
    <th scope="col" class="medium-7"><%= t("admin.questions.show.answers.description") %></th>
    <th scope="col" class="text-center"><%= t("admin.questions.show.answers.images") %></th>
    <th scope="col" class="text-center"><%= t("admin.questions.show.answers.documents") %></th>
    <th scope="col" class="text-center"><%= t("admin.questions.show.answers.videos") %></th>
    <th><%= t("admin.actions.actions") %></th>
  </tr>

  <tbody class="sortable" data-js-url="<%= admin_question_answers_order_answers_path(@question.id) %>">
    <% @question.question_answers.each do |answer| %>
      <tr id="<%= dom_id(answer) %>" class="poll_question_answer" data-answer-id="<%= answer.id %>">
        <td class="align-top"><%= answer.title %></td>
        <td class="align-top break"><%= wysiwyg(answer.description) %></td>
        <td class="align-top text-center">
          (<%= answer.images.count %>)
          <br>
          <%= link_to t("admin.questions.show.answers.images_list"),
                      admin_answer_images_path(answer) %>
        </td>
        <td class="align-top text-center">
          (<%= answer.documents.count rescue 0 %>)
          <br>
          <%= link_to t("admin.questions.show.answers.documents_list"),
                      admin_answer_documents_path(answer) %>
        </td>
        <td class="align-top text-center">
          (<%= answer.videos.count %>)
          <br>
          <%= link_to t("admin.questions.show.answers.video_list"),
                      admin_answer_videos_path(answer) %>
        </td>
        <td>
          <%= render Admin::TableActionsComponent.new(answer, actions: [:edit, :destroy],
                                                              edit_path: edit_admin_answer_path(answer),
                                                              destroy_path: admin_answer_path(answer)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @question.video_url.present? %>
  <p>
    <strong><%= t("admin.questions.show.video_url") %></strong>
    <br>
    <a href="<%= @question.video_url %>"><%= @question.video_url %></a>
  </p>
<% end %>
