<div class="small-12 column">
  <% if @question.proposal.present? %>
    <div>
      <%= I18n.t("admin.questions.show.proposal") %>:
      <%= link_to @question.proposal.title, proposal_path(@question.proposal) %>
    </div>
  <% end %>

  <div>
    <%= I18n.t("admin.questions.show.title") %>:
    <%= @question.title %>
  </div>

  <div>
    <%= I18n.t("admin.questions.show.author") %>:
    <%= link_to @question.author.name, user_path(@question.author) %>
  </div>

  <div>
    <%= I18n.t("admin.questions.show.valid_answers") %>:
    <%= @question.valid_answers.join(", ") %>
  </div>

  <div>
    <%= I18n.t("admin.questions.show.summary") %>:
    <%= @question.summary %>
  </div>

  <div>
    <%= I18n.t("admin.questions.show.description") %>:
    <%= @question.description %>
  </div>

  <div>
    <%= I18n.t("admin.questions.show.geozones") %>:
    <% @question.geozones.each do |geozone| %>
      <div>
        <%= geozone.name %>
      </div>
    <% end %>
  </div>
</div>