<section class="section py-3 py-md-6">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4 justify-content-center">

      <div class="h2 fw-bold text-center"><%= t("devise_views.passwords.edit.title") %></div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/errors", resource: resource %>

      <%= f.hidden_field :reset_password_token %>

      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", label: t("devise_views.passwords.edit.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", label: t("devise_views.passwords.edit.password_confirmation_label") %>

      <%= f.submit t("devise_views.passwords.edit.change_submit"), class: "bw-100 btn btn-lg btn-primary" %>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</section>
