<table>
  <thead>
    <tr>
      <th><%= t("admin.poll_officers.officer.name") %></th>
      <th><%= t("admin.poll_officers.officer.email") %></th>
      <th class="small-3"><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= officer.name %>
      </td>
      <td>
        <%= officer.email %>
      </td>
      <td>
        <% if officer.persisted? %>
          <%= link_to t("admin.poll_officers.officer.delete"),
                      admin_officer_path(officer),
                      method: :delete,
                      class: "button hollow alert expanded" %>
        <% else %>
          <%= link_to t("admin.poll_officers.officer.add"),{ controller: "admin/poll/officers", action: :create, user_id: officer.user_id },
                      method: :post,
                      class: "button success expanded" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
