<table>
  <thead>
    <tr>
      <th><%= t("admin.poll_officers.officer.name") %></th>
      <th><%= t("admin.poll_officers.officer.email") %></th>
      <th class="small-3"><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= officer.name %>
      </td>
      <td>
        <%= officer.email %>
      </td>
      <td>
        <% if officer.persisted? %>
          <%= render Admin::TableActionsComponent.new(officer,
            actions: [:destroy],
            destroy_text: t("admin.poll_officers.officer.delete")
          ) %>
        <% else %>
          <%= render Admin::TableActionsComponent.new(actions: []) do |actions| %>
            <%= actions.link_to t("admin.poll_officers.officer.add"), { controller: "admin/poll/officers", action: :create, user_id: officer.user_id },
                                method: :post,
                                class: "button success expanded" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
