<div class="site-customization-images-table-actions">
  <%= form_for([:admin, image], html: { id: "edit_#{dom_id(image)}" }) do |f| %>
    <div class="small-12 medium-6 large-6 column">
      <%= image_tag image.image if image.persisted_attachment? %>
      <%= f.file_field :image, label: false %>
    </div>
    <div class="small-12 medium-6 large-6 column">
      <%= f.submit(t("admin.site_customization.images.index.update"), class: "button hollow") %>
      <%= link_to t("admin.site_customization.images.index.delete"), admin_site_customization_image_path(image), method: :delete, class: "button hollow alert" if image.persisted_attachment? %>
    </div>
  <% end %>
</div>
