<% if show_admin_menu?(current_user) %>
  <li class="has-submenu">
    <%= link_to t("layouts.header.administration_menu"), "#", rel: "nofollow", class: "hide-for-small-only" %>
    <ul class="submenu menu vertical" data-submenu>
      <% if current_user.administrator? %>
        <li>
          <%= link_to t("layouts.header.administration"), admin_root_path %>
        </li>
      <% end %>

      <% if current_user.administrator? || current_user.moderator? %>
        <li>
          <%= link_to t("layouts.header.moderation"), moderation_root_path %>
        </li>
      <% end %>

      <% if feature?(:budgets) &&
            (current_user.administrator? || current_user.valuator?) %>
        <li>
          <%= link_to t("layouts.header.valuation"), valuation_root_path %>
        </li>
      <% end %>

      <% if current_user.administrator? || current_user.manager? %>
        <li>
          <%= link_to t("layouts.header.management"), management_sign_in_path %>
        </li>
      <% end %>

      <% if current_user.poll_officer? && Poll.current.any? %>
        <li>
          <%= link_to t("layouts.header.officing"), officing_root_path %>
        </li>
      <% end %>

      <% if current_user.administrator? || current_user.consultant? %>
        <li>
          <%= link_to t("layouts.header.consultation"), consultation_root_path %>
        </li>
      <% end %>

      <% if current_user.administrator? || current_user.signature_sheet_officer? %>
        <li>
          <%= link_to t("layouts.header.signature_sheet_officer"), restriction_root_path %>
        </li>
      <% end %>
    </ul>
  </li>
<% elsif %>
	  <% if current_user.administrator? || current_user.consultant? %>
		<li class="has-submenu">
		<%= link_to t("layouts.header.administration_menu"), "#", rel: "nofollow", class: "hide-for-small-only" %>
		<ul class="submenu menu vertical" data-submenu>
        <li>
          <%= link_to t("layouts.header.consultation"), consultation_root_path %>
        </li>
		</ul>
		</li>
      <% end %>

      <% if current_user.administrator? || current_user.signature_sheet_officer? %>
		<li class="has-submenu">
		<%= link_to t("layouts.header.administration_menu"), "#", rel: "nofollow", class: "hide-for-small-only" %>
		<ul class="submenu menu vertical" data-submenu>
        <li>
          <%= link_to t("layouts.header.signature_sheet_officer"), restriction_root_path %>
        </li>
		</ul>
		</li>
      <% end %>
<% end %>
