<% if header.present? %>

<% if header.image.present? %>
        <div class="budget-header with-background-image"
	style="background-image: url(<%= polymorphic_path(header.image.variant(:large)) %>);">
<% else %>
  <div class="budget-header">
<!--  <div class="header-card jumbo highlight">  -->
<% end %>
    <div class="row">
      <div class="small-12 medium-6 column text-center>
        <span class="budget-title"><%= header.label %></span>
        <h1><%= header.title %></h1>

        <p class="lead"><%= header.description %></p>

        <% if header.link_text.present? && header.link_url.present? %>
       
            <%= link_to header.link_text, header.link_url, class: "main-link" %>
        
        <% end %>
      </div>

      
   </div>
</div>

<% end %>
