<section class="section pb-10 pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="h1 text-center">
          <%= t("#{i18n_namespace}.title") %>
        </div>
        <div class="px-3 inline-block">
            <div class="fas fa-info-circle"> </div>
            <%= link_to t("#{i18n_namespace}.help"), "#collapseHelp", 'data-bs-toggle' => "collapse", class:"link-primary" %>
        </div>
      </div>
      <div class="collapse mx-auto" id="collapseHelp" data-magellan-target="section_help">
        <div class="card card-body">
          <strong><%= t("debates.index.section_footer.title") %></strong>
          <%= t("debates.index.section_footer.description") %>
          <%= t("debates.index.section_footer.help_text_1") %>
          <%= sanitize(t("debates.index.section_footer.help_text_2", org: link_to(setting["org_name"], new_user_registration_path))) %>
        </div>
      </div>
    </div>
  </div>
</section>
