<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.debates") %>
      </li>
    <% end %>
    <% if feature?(:proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.proposals"),
                                  proposals_path,
                                  controller_name == 'proposals',
                                  accesskey: "2",
                                  title: t("shared.go_to_page") + t("layouts.header.proposals") %>
      </li>
    <% end %>


    <% if feature?(:polls) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  controller_name == "polls",
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
      </li>
    <% end %>
    <% if feature?(:legislation) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "l" %>
      </li>
    <% end %>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  spending_proposals_path,
                                  controller_name == 'spending_proposals',
                                  accesskey: "s" %>
      </li>
    <% end %>
    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_welcome_path,
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "4",
                                  title: t("shared.go_to_page") + t("layouts.header.budgets") %>
      </li>
    <% end %>
    <% if feature?(:concurso_cartel_magdalena) && exists_polls_of_kind?('cartel')%>
      <li>
        <%= layout_menu_link_to t("pages.cartel_magdalena_2018.tab_link"),
                                  page_path('concurso_cartel_magdalena'),
                                  controller_name == 'pages' && params[:id] == 'concurso_cartel_magdalena',
                                  accesskey: "2",
                                  title: t("shared.go_to_page") + t("pages.cartel_magdalena_2018.tab_link") %>
      </li>
    <% end %>
    <li>
      <%= layout_menu_link_to t("layouts.footer.more_info"),
                                page_path('more_information'),
                                controller_name == "pages" && params[:id] == 'more_information',
                                accesskey: "b" %>
    </li>

    <li class="float_right">
      <%= layout_menu_link_to t("layouts.subnavigation.query_districte"),
                                "https://www.castello.es/geoportal",
                                false,
                                target: '_blank',
                                accesskey: "b" %>
    </li>

  </ul>
</div>
