<div class="locale" id="js-locale" data-current-local="<%= I18n.locale %>">
  <form class="locale-form">
    <select class="js-location-changer locale-switcher inline-block" name="locale-switcher" id="year-switcher">
      <optgroup label="ProraÄun za leto:">
      <option value="<%= href %>"><%= t("custom.switcher.select") %></option>
      <% budgets.each do |budget| %>
        <option value="<%= href %>budgets/<%= budget.id %>/investments"><%= budget.name %></option>
      <% end %>
      </optgroup>
    </select>
  </form>
</div>
