<fieldset aria-describedby="results_and_stats_reminder">
  <legend><%= t("admin.shared.show_results_and_stats") %></legend>

  <p class="help-text" id="results_and_stats_reminder">
    <%= t("admin.shared.results_and_stats_reminder") %>
  </p>

  <%= form.check_box :results_enabled %>
  <%= form.check_box :stats_enabled %>
  <%= form.check_box :advanced_stats_enabled %>
</fieldset>
