<h2><%= t("admin.hidden_users.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.hidden_users.index" %>

<h3><%= page_entries_info @users %></h3>

<table>
<% @users.each do |user| %>
  <tr id="<%= dom_id(user) %>">
    <td>
      <p><%= link_to user.name, admin_hidden_user_path(user) %></p>
    </td>

    <td class="text-right">
      <%= link_to t("admin.actions.restore"),
            restore_admin_hidden_user_path(user, request.query_parameters),
            method: :put,
            data: { confirm: t("admin.actions.confirm") },
            class: "button hollow on-hover" %>
      <% unless user.confirmed_hide? %>
        <%= link_to t("admin.actions.confirm_hide"),
            confirm_hide_admin_hidden_user_path(user, request.query_parameters),
            method: :put,
            class: "button hollow warning on-hover" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @users %>


