
    <div class="container" id="feed_<%= kind %>">
<div class="row">

      <h2 class="h1 mb-3"><%= t("welcome.feed.most_active.#{kind}") %></h2>
</div>
<div class="row">

  <% if feed.items.any? %>
          <% feed.items.each do |item| %>
      <div class="col-12 col-lg-4">

        <%= render item_component_class.new(item) %>
          </div>
      <% end %>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <%= link_to t("welcome.feed.see_all.#{kind}"), see_all_path, class: "btn btn-primary" %>

  </div>
</div>

  <% else %>

    <div class="alert alert-primary" role="alert"><%= t("welcome.feed.no_items.#{kind}") %></div>
  <% end %>
</div>
