<h2 class="inline-block"><%= t("valuation.budgets.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "valuation.budgets.index" %>

<h3><%= page_entries_info @budgets %></h3>

<table>
  <% @budgets.each do |budget| %>
    <tr id="<%= dom_id(budget) %>" class="budget">
      <td>
        <%= link_to budget.name, valuation_budget_budget_investments_path(budget_id: budget.id) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @budgets %>