<h2 class="inline-block"><%= t("valuation.budgets.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "valuation.budgets.index" %>

<h3><%= page_entries_info @budgets %></h3>

<table>
  <thead>
    <tr>
      <th><%= t("valuation.budgets.index.table_name") %></th>
      <th><%= t("valuation.budgets.index.table_phase") %></th>
      <th><%= t("valuation.budgets.index.table_assigned_headings") %></th>
      <th><%= t("valuation.budgets.index.table_actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
      <tr id="<%= dom_id(budget) %>" class="budget">
        <td>
          <%= budget.name %>
        </td>
        <td>
          <%= t("budget.phase.#{budget.phase}") %>
        </td>
        <td>
          3 partidas
        </td>
        <td>
          <%= link_to t("valuation.budgets.index.evaluate"),
                      valuation_budget_budget_investments_path(budget_id: budget.id),
                      class: "button hollow expanded" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @budgets %>
