<div class="row">
  <div class="small-12 column">
    <h2>Inscripción final de colaboradores voluntarios para las mesas presenciales de votación de Decide Madrid</h2>
    <p>Del <strong>lunes 13 al domingo 19 de febrero</strong> tendrá lugar un gran proceso participativo en Madrid (puedes ver las <a href="<%= request.url %>vota">propuestas
    que se votarán</a>).</p>
    <p><strong>¿Quieres formar parte de la primera votación de propuestas ciudadanas de la historia en Madrid?</strong></p>
    <p>Apúntate aquí para ser parte de las <strong>mesas presenciales de votación</strong> que habrá por toda la ciudad. Apuntándote en este formulario confirmas que podrás participar en una mesa en los horarios y distritos que selecciones. ¡Muchas gracias por ayudar a que todo el mundo pueda decidir!</p>
  </div>
</div>

<div class="row">
  <div class="small-12 column">

    <%= form_for @volunteer_poll, url: volunteer_poll_path do |f| %>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.text_field :document_number %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.text_field :phone %>
        </div>
      </div>

      <p>
        <strong>¿En qué horarios podrás participar?</strong><br>
        <em>(marca todos los que estés disponible independientemente de que luego quieras participar en un único turno o en varios)</em>
      </p>

      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= f.check_box :monday_13_morning %>
          <%= f.check_box :monday_13_afternoon %>

          <%= f.check_box :tuesday_14_morning %>
          <%= f.check_box :tuesday_14_afternoon %>

          <%= f.check_box :wednesday_15_morning %>
          <%= f.check_box :wednesday_15_afternoon %>

          <%= f.check_box :thursday_16_morning %>
          <%= f.check_box :thursday_16_afternoon %>

          <%= f.check_box :friday_17_morning %>
          <%= f.check_box :friday_17_afternoon %>

          <%= f.check_box :saturday_18_morning %>
          <%= f.check_box :saturday_18_afternoon %>

          <%= f.check_box :sunday_19_morning %>
          <%= f.check_box :sunday_19_afternoon %>

          <%= f.check_box :monday_20_morning %>
        </div>
      </div>

      <p>
        <strong>¿En cuántos turnos quieres participar?</strong><br>
        <em>(un turno es estar una mañana o una tarde en una mesa de votación)</em>
      </p>

      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= f.collection_select :turns, VolunteerPoll::VALID_TURNS, :to_s, :to_s, include_blank: true, label: false %>
        </div>
      </div>

      <p><strong>¿En qué distritos podrías participar?</strong></p>

      <div class="row">
        <div class="volunteer-poll-districts">
          <% VolunteerPoll::DISTRICTS.each_slice(8) do |slice| %>
            <div class="small-6 medium-4 column end">
              <% slice.each do |district| %>
                <div class="<%= district %>">
                  <%= f.check_box(district) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <p class="margin-top"><strong>La confirmación de la mesa que te toque, en el distrito y horario seleccionado, te llegará por correo electrónico en próximos días.<br> Se desarrollará una sesión de formación presencial a la que deberás asistir, previsiblemente el fin de semana del 4-5 de febrero.</strong></p>

      <div class="small-12 medium-6 large-4 margin-top">
        <%= f.submit "Enviar", class: "button expanded" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><small>La información de contacto recabada en este formulario será tratada con la única finalidad de gestionar la participación en el proceso de votación señalado. El órgano responsable del tratamiento de los datos es la Dirección General de Participación Ciudadana (c/ Alcalá 45, 28014 Madrid), todo lo cual se informa en cumplimiento del artículo 5 de la Ley Orgánica 15/1999 de Protección de datos de Carácter Personal. Si además te interesa inscribirte y participar en los debates y procesos participativos que están abiertos en el Ayuntamiento de Madrid puedes realizarlo a través del portal de gobierno abierto <a href="<%= request.url %>">https://decide.madrid.es</a></small></p>
  </div>
</div>
