<div class="row">
  <div class="small-12 column">
    <h2>Voluntarios para las mesas presenciales de votación de Decide Madrid</h2>
    <p>Del <strong>lunes 13 al domingo 19 de febrero</strong> tendrá lugar un gran proceso participativo en Madrid (puedes ver las <a href="https://decide.madrid.es/vota">propuestas
    que se votarán</a>).</p>
    <p><strong>¿Quieres formar parte de la primera votación de propuestas ciudadanas en todo Madrid de la historia?</strong></p>
    <p>Apúntate aquí para ser parte de las <strong>mesas presenciales de votación</strong> que habrá por toda la ciudad. <strong>En enero escribiremos</strong> a las personas que os inscribáis para confirmar vuestra participación. ¡Muchas gracias por ayudar a que todo el mundo pueda decidir!</p>
    <div class="callout success">
      <p><strong>Puedes apuntarte hasta el próximo martes 13 de diciembre.</strong></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 column">

    <%= form_for @volunteer_poll, url: volunteer_poll_path do |f| %>

      <div class="row">
        <div class="small-12 medium-6 column">
          <%= f.email_field :email %>
        </div>
      </div>

      <p>
        <strong>¿En qué franjas horarias crees que estarás disponible durante la semana de votación?</strong><br>
        <em>(independientemente de si puedes participar un único día o varios)</em>
      </p>

      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= f.collection_select :availability_week, VolunteerPoll::VALID_AVAILABILITY_WEEKS, :to_s, :to_s, include_blank: true %>
        </div>
        <div class="small-12 medium-6 large-4 column end">
          <%= f.collection_select :availability_weekend, VolunteerPoll::VALID_AVAILABILITY_WEEKENDS, :to_s, :to_s, include_blank: true %>
        </div>
      </div>

      <p>
        <strong>¿En cuántos turnos crees que podrías participar?</strong><br>
        <em>(un turno es una mañana o una tarde)</em>
      </p>

      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= f.collection_select :turns, VolunteerPoll::VALID_TURNS, :to_s, :to_s, include_blank: true, label: false %>
        </div>
      </div>

      <p><strong>¿En qué distritos podrías participar?</strong></p>

      <div class="row">
        <% VolunteerPoll::DISTRICTS.each_slice(7) do |slice| %>
          <div class="small-6 medium-4 column end">
            <% slice.each do |district| %>
              <%= f.check_box(district) %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="small-12 medium-6 large-4 margin-top">
        <%= f.submit "Enviar", class: "button expanded" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><small>La información de contacto recabada en este formulario será tratada con la única finalidad de gestionar la inscripción en la jornada de evaluación del proceso de presupuestos participativos. Una vez celebrada la jornada los datos serán cancelados. El órgano responsable del tratamiento de los datos es la Dirección General de Participación Ciudadana (c/ Alcalá 45, 28014 Madrid),  todo lo cual se informa en cumplimiento del artículo 5 de la Ley Orgánica 15/1999 de Protección de datos de Carácter Personal. Si además te interesa inscribirte y participar en los debates y procesos participativos que están abiertos en el Ayuntamiento de Madrid puedes realizarlo a través del portal de gobierno abierto <a href="https://decide.madrid.es/">https://decide.madrid.es</a></small></p>
  </div>
</div>
