<%= render "shared/globalize_locales", resource: @phase %>

<%= translatable_form_for [:admin, @phase.budget, @phase] do |f| %>

  <%= render "shared/errors", resource: @phase %>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.date_field :starts_at, id: "start_date" %>
    </div>
    <div class="small-12 medium-6 column">
      <%= f.date_field :ends_at, id: "end_date" %>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 column">
        <%= translations_form.text_area :description,
                                         maxlength: Budget::Phase::DESCRIPTION_MAX_LENGTH,
                                         class: "html-area",
                                         hint: t("admin.budget_phases.edit.description_help_text") %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :summary,
                                         maxlength: Budget::Phase::SUMMARY_MAX_LENGTH,
                                         class: "html-area",
                                         hint: t("admin.budget_phases.edit.summary_help_text") %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 column margin-top">
      <%= f.check_box :enabled %>

      <span class="help-text" id="phase-summary-help-text">
        <%= t("admin.budget_phases.edit.enabled_help_text") %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 large-3 column end margin-top">
      <%= f.submit t("admin.budget_phases.edit.save_changes"), class: "button success expanded" %>
    </div>
  </div>

<% end %>
