<%= render "shared/globalize_locales", resource: @phase %>

<%= translatable_form_for [:admin, @phase.budget, @phase] do |f| %>

  <%= render "shared/errors", resource: @phase %>

  <%= hidden_field :budget, :mode, value: @mode %>

  <div class="margin-top">
    <div class="small-12 column">
      <p class="form-label"><%= t("admin.budget_phases.edit.duration") %></p>
      <p class="help-text"><%= t("admin.budget_phases.edit.duration_description") %></p>
    </div>

    <div class="small-12 medium-6 large-3 column">
      <div class="input-calendar-icon">
        <%= f.text_field :starts_at,
                          value: format_date_for_calendar_form(@phase.starts_at),
                          class: "js-calendar-full input-calendar",
                          id: "start_date" %>
      </div>
    </div>

    <div class="small-12 medium-6 large-3 column end">
      <div class="input-calendar-icon">
        <%= f.text_field :ends_at,
                          value: format_date_for_calendar_form(@phase.ends_at),
                          class: "js-calendar-full input-calendar",
                          id: "end_date" %>
      </div>
    </div>
  </div>

  <div class="small-12 column margin">
    <%= f.check_box :enabled %>

    <span class="help-text" id="phase-summary-help-text">
      <%= t("admin.budget_phases.edit.enabled_help_text") %>
    </span>
  </div>

  <%= f.translatable_fields do |translations_form| %>
    <div class="small-12 column">
      <%= translations_form.label :name %>
      <p class="help-text"><%= t("admin.budget_phases.edit.phase_name_help_text") %></p>
      <%= translations_form.text_field :name, label: false %>
    </div>

    <div class="small-12 column">
      <%= translations_form.text_area :description,
                                       maxlength: Budget::Phase::DESCRIPTION_MAX_LENGTH,
                                       class: "html-area",
                                       hint: t("admin.budget_phases.edit.description_help_text") %>
    </div>
  <% end %>

  <% if feature?(:allow_images) %>
    <div class="budget-investment-form">
      <div class="images small-12 column">
        <%= render "/images/nested_image", imageable: @phase, f: f %>
        <p class="help-text"><%= t("admin.budget_phases.edit.image_description") %></p>
      </div>
    </div>
  <% end %>

  <div class="small-12 medium-6 column">
    <p class="form-label"><%= t("admin.budget_phases.edit.main_call_to_action") %></p>
    <p class="help-text"> <%= t("admin.budget_phases.edit.main_call_to_action_description") %></p>
    <%= f.text_field :main_button_text %>
    <%= f.text_field :main_button_url, placeholder: t("admin.shared.example_url") %>
  </div>

  <div class="small-12 column">
    <%= f.submit t("admin.budget_phases.edit.save_changes"), class: "button success" %>
  </div>
<% end %>
