<div class="enquiries-answers">
  <div class="small-12 medium-6 large-3 large-offset-3 column">
    <% if can? :answer, enquiry %>
      <% enquiry.valid_answers.each do |answer| %>
        <% if @enquiry_answer.try(:answer) == answer %>
          <span class="button success"><%= answer %></span>
        <% else %>
          <%= link_to answer,
            answer_enquiry_path(enquiry: enquiry, answer: answer),
            method: :post,
            remote: true,
            class: "button expanded" %>
        <% end %>
      <% end %>
    <% else %>
      <% enquiry.valid_answers.each do |answer| %>
        <span class="button disabled"><%= answer %></span>
      <% end %>
      <% if current_user.nil? %>
        <%= t('enquiries.show.cant_answer_login') %>
      <% elsif current_user.unverified? %>
        <%= t('enquiries.show.cant_answer_verify_html',
               verify_link: link_to(t('enquiries.show.verify_link'), verification_path)) %>
      <% elsif enquiry.incoming? %>
        <%= t('enquiries.show.cant_answer_incoming') %>
      <% elsif enquiry.expired? %>
        <%= t('enquiries.show.cant_answer_expired') %>
      <% else %>
        <%= t('enquiries.show.cant_answer_wrong_geozone') %>
      <% end %>
    <% end %>
  </div>
</div>
