<div class="expanded no-margin-top margin-bottom dark-heading enquiries padding">
  <div class="row">
    <div class="small-12 medium-6 column">
      <h2>
        <%= t("enquiries.index.title") %>
      </h2>
      <p>
        <%= t("enquiries.index.description_html").html_safe %>
      </p>
    </div>
  </div>
</div>

<main>
  <div class="row">
    <div class="small-12 column">
      <%= render 'shared/filter_subnav', i18n_namespace: "enquiries.index" %>

      <% if @enquiries.present? %>
        <div class="proposals-ballot-list">
          <% @enquiries.each do |enquiry| %>
            <div class="proposal-sucessfull">
              <h3><%= link_to enquiry.title, enquiry %></h3>
              <div class="info">
                <%= t('enquiries.index.dates',
                    open_at: l(enquiry.open_at.to_date),
                    closed_at: l(enquiry.closed_at.to_date)).html_safe %>
              </div>
            </div>
          <% end %>
        </div>

        <%= paginate @enquiries %>
      <% else %>
        <div class="callout primary">
          <%= t("enquiries.index.no_enquiries_#{@current_filter}") %>
        </div>
      <% end %>
    </div>
  </div>
</main>
