<h1><%= @enquiry.title %></h1>

<h2><%= @enquiry.question %></h2>

<p><%= l(@enquiry.open_at) %> - <%= l(@enquiry.closed_at) %></p>

<p><%= @enquiry.summary %></p>

<p><%= @enquiry.description %></p>
