<div class="expanded no-margin-top dark-heading">
  <div class="row">
    <div class="small-12 medium-9 column padding">
      <%= render "shared/back_link" %>

      <h1><%= @enquiry.title %></h1>

      <% if @enquiry.proposal.present? %>
        <div class="margin-bottom">
          <%= link_to t('enquiries.show.original_proposal'), @enquiry.proposal %>
        </div>
      <% end %>

      <p><%= @enquiry.summary %></p>

      <ul class="tags">
        <% @enquiry.geozones.each do |g| %>
          <li><%= g.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="small-12 medium-3 column info">
      <p>
        <span class="title calendar"><%= t('enquiries.show.dates_title') %></span><br>
        <%= t('enquiries.show.dates',
          open_at: l(@enquiry.open_at.to_date),
          closed_at: l(@enquiry.closed_at.to_date)).html_safe %>
      </p>

      <p>
        <span class="title author"><%= t('enquiries.show.author') %></span><br>
        <%= link_to @enquiry.author.name, @enquiry.author %>
      </p>

      <p>
        <span class="title url"><%= t('enquiries.show.external_url') %></span><br>
        <%= link_to @enquiry.external_url, @enquiry.external_url %>
      </p>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column text-center">
    <h2><%= @enquiry.question %></h2>
  </div>
</div>

<div class="row margin-top text-center">
  <div class="enquiries-buttons">
    <div class="small-12 medium-6 large-3 large-offset-3 column">
      <%= link_to t("enquiries.show.button_yes"), "#", class: "button expanded success" %>
    </div>
    <div class="small-12 medium-6 large-3 end column">
      <%= link_to t("enquiries.show.button_no"), "#", class: "button expanded alert" %>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <h3><%= t('enquiries.show.more_info') %></h3>
    <%= @enquiry.description %>
  </div>
</div>


<%= render "enquiries/comments" %>

