<div class="comment-box">
  <div class="comment-header">
    <span class="icon-comment" aria-hidden="true"></span>
    <div class="comment-number"><%= t('legislation.annotations.comments.comments_count', count: 0) %></div>
  </div>

  <div class="comments-wrapper">
    <div class="comment-input">
      <% if !@process.allegations_phase.open? %>
        <div data-alert class="callout primary">
          <%= t("legislation.annotations.form.phase_not_open") %>
        </div>
      <% elsif user_signed_in? %>
        <%= form_for Legislation::Annotation.new, url: legislation_process_draft_version_annotations_path(@process, @draft_version), remote: true do |f| %>
          <%= f.text_area :text %>

          <div class="comment-actions">
            <a class="cancel-comment" href="#" data-cancel-annotation><%= t('legislation.annotations.comments.cancel') %></a>
            <%= f.submit value: t('legislation.annotations.comments.publish_comment'), class: 'button publish-comment' %>
          </div>

          <%= f.hidden_field :quote %>
          <%= f.hidden_field :ranges %>
        <% end %>
      <% else %>
        <div data-alert class="callout primary">
          <%= t("legislation.annotations.form.login_to_comment",
              signin: link_to(t("legislation.annotations.form.signin"), new_user_session_path),
              signup: link_to(t("legislation.annotations.form.signup"), new_user_registration_path)).html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
