<div class="row section-content">
  <div class="small-12 column">
    <h3><%= t("pages.help.history.title") %></h3>

    <p><%= t("pages.help.history.description") %></p>

    <h4><%= t("pages.help.history.subtitle") %></h4>

    <p><%= t("pages.help.history.text_1_html") %></p>
    <p><%= t("pages.help.history.text_2") %></p>
    <p><%= t("pages.help.history.text_3") %></p>
    <p><%= t("pages.help.history.text_4") %></p>
    <p><%= t("pages.help.history.text_5_html") %></p>
    <p><%= t("pages.help.history.text_6_html") %></p>
  </div>
</div>
