<% provide :title do %><%= t("pages.titles.help", org: setting["org_name"]) %>
    <% end %>
    <% content_for :canonical do %>
      <%= render "shared/canonical", href: help_url %>
    <% end %>

    <div class="help">
      <div class="bggray">
        <div class="main-indented-content ">
          <div class="text-center">
            <h1><%= t("custom.help.main_title") %></h1>
          </div>
          <div class="akkordion row">
            <div class="small-12 large-10 column large-centered pad-tb-45">

              <div class="row">
                <div class="column large-12">
                  <div class="brderundr accordion-collapsed">
                    <div class="title" onclick="toggleAkkordion(this)">
                      <%= t("custom.help.heading_1") %>
                      <i class="custom-icon arrow-small-right">
                      </i>
                    </div>
                    <p>
                      <%= t("custom.help.description_1") %>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column large-12">
                  <div class="brderundr accordion-collapsed">
                    <div class="title" onclick="toggleAkkordion(this)">
                      <%= t("custom.help.heading_2") %>
                      <i class="custom-icon arrow-small-right">
                      </i>
                    </div>
                    <p>
                      <%= t("custom.help.description_2") %>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column large-12">
                  <div class="brderundr accordion-collapsed">
                    <div class="title" onclick="toggleAkkordion(this)">
                      <%= t("custom.help.heading_3") %>
                      <i class="custom-icon arrow-small-right">
                      </i>
                    </div>
                    <p>
                      <%= t("custom.help.description_3") %>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column large-12">
                  <div class="brderundr accordion-collapsed">
                    <div class="title" onclick="toggleAkkordion(this)">
                      <%= t("custom.help.heading_4") %>
                      <i class="custom-icon arrow-small-right">
                      </i>
                    </div>
                    <p>
                      <%= t("custom.help.description_4") %>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column large-12">
                  <div class="brderundr accordion-collapsed">
                    <div class="title" onclick="toggleAkkordion(this)">
                      <%= t("custom.help.heading_5") %>
                      <i class="custom-icon arrow-small-right">
                      </i>
                    </div>
                    <p>
                      <%= t("custom.help.description_5") %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="padded">
        <div class="main-indented-content">
          <div class="text-center">
            <h1><%= t("custom.help.help_title") %></h1>
          </div>
          <div class="row">
            <div class="small-12 large-10 column large-centered">
              <div class="row boxes">

                <div class="large-6 column">
                  <div class="technical-issues">
                    <div class="inner">
                      <h3><%= t("custom.help.technical_issues") %></h3>
                      <p><%= raw(t("custom.help.technical_contact")) %></p>
                    </div>
                  </div>
                </div>

                <div class="large-6 column">
                  <div class="technical-issues">
                    <div class="inner">
                      <h3><%= t("custom.help.other_questions") %></h3>
                      <p><%= raw(t("custom.help.other_contact")) %></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>

function toggleAkkordion(el) {
  el.parentNode.classList.toggle("accordion-collapsed");
}
</script>
