<table>
  <thead>
    <tr>
      <th><%= t("download.edit.fields") %></th>
      <th><%= t("download.edit.description") %></th>
      <th class="small"><%= t("download.edit.downloadable") %></th>
    </tr>
  </thead>

  <tbody>
    <% download_settings.each do |download_setting| %>
      <tr>
        <td><%= download_setting.field %></td>
        <td><%= sanitize(download_setting.field_name) %></td>
        <td class="text-center small">
          <%= check_box_tag "downloadable[]", download_setting.field, download_setting.downloadable,
            class: "js-download-settings-check" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
