<table>
  <thead>
    <tr>
      <th><%= t("download.edit.fields") %></th>
      <th><%= t("download.edit.description") %></th>
      <th class="small"><%= t("download.edit.downloadable") %></th>
    </tr>
  </thead>

  <tbody>
  <% download_settings.each do |attr| %>
    <tr>
      <td><%= attr.name_field %></td>
      <td><%= t("download.fielddescription.#{resource[:name]}.#{attr.name_field}", default: "") %></td>
      <td class="text-center small"><%= check_box_tag "downloadable[]", attr.name_field, attr.downloadable, class: "js-download-settings-check" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
