<% provide(:title) do %>
  <%= "#{t("admin.header.title")} - #{@download_settings.first.model_human_name}" %>
<% end %>

<h2><%= @download_settings.first.model_human_name %></h2>

<%= form_tag admin_download_setting_path(@download_resource), method: :put do %>
  <%= render "form", download_settings: @download_settings %>

  <div class="small-12 medium-3 column clear end">
    <%= submit_tag t("download.edit.submit"), class: "button success expanded" %>
  </div>
<% end %>
