<h2><%= t("admin.stats.benches.title")%></h2>

<table class="investment-projects-summary">
  <th><%= t("admin.stats.benches.name") %></th>
  <th><%= t("admin.stats.benches.votes") %></th>

<% @benches.each do |bench| %>
  <tr id="<%= dom_id(bench) %>">
    <td class="name">
      <%= bench.name %>
    </td>
    <td class="name">
      <%= number_with_delimiter(bench.votes_for.count) %>
    </td>
  </tr>
<% end %>
</table>