<%= render 'shared/back_link' %>

<h2><%= t("admin.stats.direct_messages.title")%></h2>

<div class="stats row-full">
  <div class="row">
    <div class="small-12 column">

      <div class="row stats-numbers">
        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t("admin.stats.direct_messages.total") %><br>
            <span class="number" id="direct_messages_count">
              <%= @direct_messages.count %>
            </span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t("admin.stats.direct_messages.users_who_have_sent_message") %><br>
            <span class="number" id="users_who_have_sent_message_count">
              <%= @users_who_have_sent_message.count %>
            </span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>