<% content_for :head do %>
  <%= javascript_include_tag "stat_graphs", 'data-turbolinks-track' => true %>
<% end %>
<div class="stats row-full">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t "admin.stats.show.stats_title" %></h1>

      <div class="row stats-numbers">
        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.visits" %><br>
            <span class="number"><%= @visits %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.debates" %><br>
            <span class="number"><%= @debates %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.proposals" %><br>
            <span class="number"><%= @proposals %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.medidas" %><br>
            <span class="number"><%= @medidas %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.comments" %><br>
            <span class="number"><%= @comments %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.proposal_votes" %><br>
            <span class="number"><%= @proposal_votes %><br></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.debate_votes" %><br>
            <span class="number"><%= @debate_votes %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.comment_votes" %><br>
            <span class="number"><%= @comment_votes %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.votes" %><br>
            <span class="number"><%= @votes %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.verified_users" %><br>
            <span class="number"><%= @verified_users %></span>
          </p>

          <p class="featured">
            <%= t "admin.stats.show.summary.unverified_users" %><br>
            <span class="number"><%= @unverified_users %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.users" %><br>
            <span class="number"><%= @users %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.user_level_two" %><br>
            <span class="number"><%= @user_level_two %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.user_level_three" %><br>
            <span class="number"><%= @user_level_three %></span>
          </p>
        </div>
      </div>

      <div class="small-12 medium-6 left">
        <h2><%= t "admin.stats.show.visits_title" %></h2>
        <%= visits_chart_tag id: "visits" %>
      </div>

      <div class="small-12 medium-6 left">
        <h2><%= t "admin.stats.show.combined_title" %></h2>
        <%= events_chart_tag @event_types.keys, id: 'combined' %>
      </div>

      <div class="small-12">
        <% @event_types.each do |event, count| %>
          <h2><%= event.titleize %> (<%= count %>)</h2>
          <%= events_chart_tag event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
