<% content_for :head do %>
  <%= javascript_include_tag "stat_graphs", 'data-turbolinks-track' => true %>
<% end %>
<div class="stats row-full">
  <div class="row">
    <div class="small-12 column">
      <h2>Stats</h2>

      <div class="small-12 medium-6 column">
        <h3>Visits</h3>
        <%= visits_chart_tag id: "visits" %>
      </div>

      <div class="small-12 medium-6 column">
        <h3>Combined</h3>
        <%= events_chart_tag @event_types.keys, id: 'combined' %>
      </div>

      <div class="small-12">
        <% @event_types.each do |event, count| %>
          <h3><%= event.titleize %> (<%= count %>)</h3>
          <%= events_chart_tag event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
