<div id="plain_image_fields" class="image">

  <div class="small-12 column">
    <%= label_tag :image_title, t("activerecord.attributes.image.title") %>
    <%= text_field_tag :image_title, image.title, placeholder: t("images.new.form.title_placeholder"), name: "image[title]", class: "image-title" %>
    <% if image.errors.has_key?(:title) %>
      <small class="error"><%= image.errors[:title].join(", ") %></small>
    <% end %>
  </div>

  <div class="small-12 column">
    <%= render_image(image, :thumb, false) if image.attachment.exists? %>
    
    <%= hidden_field_tag :cached_attachment, image.cached_attachment, name: "image[cached_attachment]" %>
    <%= file_field_tag :attachment,
                     accept: imageable_accepted_content_types_extensions,
                     label: false,
                     class: 'image_ajax_attachment',
                     data: {
                       url: upload_images_url(imageable_type: image.imageable_type, imageable_id: image.imageable_id),
                       cached_attachment_input_field: "image_cached_attachment",
                       multiple: false,
                       nested_image: false
                     },
                     id: "image_attachment",
                     name: "image[attachment]" %>

    <% if image.cached_attachment.blank? %>
      <%= label_tag :image_attachment, t("images.form.attachment_label"), class: 'button hollow' %>
    <% else %>
      <%= link_to t('images.form.delete_button'),
                  destroy_upload_images_path(path: image.cached_attachment,
                                                nested_image: false,
                                                imageable_type: image.imageable_type,
                                                imageable_id: image.imageable_id),
                  method: :delete,
                  remote: true,
                  class: "delete float-right" %>
    <% end %>

    <% if image.errors.has_key?(:attachment) %>
      <div class="small-12 column source-option-file">
        <div class="attachment-errors">
          <small class="error"><%= image_errors_on_attachment(image) %></small>
        </div>
      </div>
    <% end %>
    <p class="file-name"><%= image_attachment_file_name(image) %></p>
    <div class="progress-bar-placeholder"><div class="loading-bar"></div></div>
  </div>

</div>
