<header class="header">
  <div class="top-links">
    <div class="expanded row">
      <%= render "shared/locale_switcher" %>

      <%= link_to root_path, class: "float-right" do %>
        <%= t("admin.dashboard.index.back", org: setting['org_name']) %>
      <% end %>
    </div>
  </div>

  <div class="expanded row admin-top-bar">
    <div class="title-bar" data-responsive-toggle="responsive_menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive_menu"></button>
      <div class="title-bar-title"><%= t("application.menu")%></div>
    </div>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <h1>
              <%= link_to namespaced_root_path do %>
                <%= session[:current_tenant]["name"] %>
                <br><small><%= namespaced_header_title %></small>
              <% end %>
            </h1>
          </li>
        </ul>
      </div>

      <div id="responsive_menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <%= render "admin/shared/admin_shortcuts" %>
            <%= render "shared/admin_login_items" %>
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
