<header>
  <section class="top-links">
    <div class="expanded row">
      <%= render 'shared/locale_switcher' %>
    </div>
  </section>

  <div class="expanded row">
    <div class="top-bar">

      <%= link_to setting['org_name'], admin_root_path, class: "logo show-for-small-only" %>

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu")%>
      </span>

      <div id="responsive-menu">
        <div class="top-bar-title">
          <%= link_to admin_root_path, class: "hide-for-small-only" do %>
            <%= image_tag(image_path_for('logo_header.png'), class: 'hide-for-small-only float-left', size: '80x80', alt: t("layouts.header.logo")) %>
            <%= setting['org_name'] %>
            &nbsp;|&nbsp;<%= t("admin.dashboard.index.title") %>
          <% end %>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
