<% flash.each do |flash_key, flash_message| %>
  <div id="<%= flash_key %>" data-alert class="notice-container callout-slide" data-closable>
    <div class="callout notice <%= flash_key %>">
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="notice-text">
  <% if flash_message.is_a?(Array) %>
    <%# If it's an array, it's now safe to join it. %>
    <%= sanitize(flash_message.join("<br>")) %>
  <% else %>
    <%# If it's just a regular string, display it directly. %>
    <%= sanitize(flash_message) %>
  <% end %>
</div>
    </div>
  </div>
<% end %>
