<footer>
	<div class="row-full">
		<div class="row">

      <div class="small-12 medium-4 column">
        <div class="logo">
          <%= link_to t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe %>
        </div>

        <p class="footer-description">
          <%= t("layouts.footer.description",
            more_info: link_to(t("layouts.footer.more_info"), t("layouts.footer.more_info_url")),
            open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank"),
            github:  link_to(t("layouts.footer.github"), t("layouts.footer.github_url"), target: "blank")).html_safe
          %>
          <br>
          <%= t("layouts.footer.contact_us") %>
          <%= mail_to "web.gobiernoabierto@madrid.es" %>
        </p>
      </div>

      <div class="footer-sections small-12 medium-8 column">
        <div class="small-12 medium-4 column">
          <h4><%= t("layouts.footer.participation_title") %></h4>
          <p><%= t("layouts.footer.participation_text") %></p>
        </div>

        <div class="small-12 medium-4 column">
          <h4><%= t("layouts.footer.transparency_title") %></h4>
          <p><%= t("layouts.footer.transparency_text") %></p>
        </div>

        <div class="small-12 medium-4 column">
          <h4><%= t("layouts.footer.open_data_title") %></h4>
          <p><%= t("layouts.footer.open_data_text") %></p>
        </div>
      </div>
    </div>

    <div class="subfooter row">
      <div class="small-12 column">
        <%= t("layouts.footer.copyright", year: Time.now.year) %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.privacy"), "/privacy" %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.conditions"), "/conditions" %>
      </div>
    </div>
  </div>
</footer>
