<footer>
	<div class="row-full">
		<div class="row">

      <div class="small-12 large-12 column">
        <div class="logo">
          <%= link_to t("layouts.header.plaza_podemos", open: "#{t('layouts.header.open')}").html_safe %>
        </div>

        <p>
          <%= t("layouts.footer.description",
            open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank"),
            consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank")).html_safe
          %>
          <!--%= t("layouts.footer.contact_us") %-->
          <!--%= mail_to "web.gobiernoabierto@madrid.es" %-->
        </p>
      </div>

      <!--div class="footer-sections small-12 large-8 column">
        <div class="small-12 medium-4 column">
          <h4>
            <%= link_to t("layouts.footer.participation_title"), root_path %>
          </h4>
          <p><%= t("layouts.footer.participation_text") %></p>
        </div-->

        <!--div class="small-12 medium-6 column">
          <h4>
            <%= link_to t("layouts.footer.transparency_title"), "/transparency" %>
          </h4>
          <p><%= t("layouts.footer.transparency_text") %></p>
        </div-->

        <!--div class="small-12 medium-4 column">
          <h4>
            <%= link_to t("layouts.footer.open_data_title"), "/opendata" %>
          </h4>
          <p><%= t("layouts.footer.open_data_text") %></p>
        </div-->
      </div>
    </div>

    <div class="subfooter row">
      <div class="small-12 column">
        <%= t("layouts.footer.copyright", year: Time.now.year) %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.more_info"), "/more_information" %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.privacy"), "/privacy" %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.conditions"), "/conditions" %>&nbsp;|&nbsp;
        <%= link_to t("layouts.footer.accessibility"), "/accessibility" %>
      </div>
    </div>
  </div>
</footer>
