<footer style="background: #f1f1f1;">
  <div class="hide-for-small-only row">
    <div class="colors float-center">
      <div class="small-3 medium-3 column banner1"></div>
      <div class="small-2 medium-2 column banner2"></div>
      <div class="small-3 medium-3 column banner3"></div>
      <div class="small-2 medium-2 column banner4"></div>
      <div class="small-2 medium-2 column banner5"></div>
    </div>
    <div class="logos">
      <div class="small-3 medium-3 column">
        <%= image_tag("footer_Innovaris horizontal.png", class: "float-center", id: "foot_image_innovaris", alt: "Innovaris Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_Spain_logotype_translation.png", class: "float-center", id: "foot_image", alt: "Pacto Mundial Logo") %>
      </div>
      <div class="small-3 medium-3 column">
        <%= image_tag("footer_S_SDG_logo_without_UN_emblem_horizontal_Transparent_WEB.png", class: "float-center", id: "foot_image3", alt: "Desarrollo Sostenible Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_Red-DTI-Logo-negro.png", class: "float-center", id: "foot_image", alt: "Red DTI Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_asociacion-espanola-para-la-calidad-logo-sin-claim.png", class: "float-center", id: "foot_image2", alt: "AEC Logo") %>
      </div>
    </div>
  </div>
  <div class="show-for-small-only row">
    <div class="colors float-center">
      <div class="small-9 column float-center small-centered" style="margin-bottom:20px;">
        <%= image_tag("footer_Innovaris horizontal.png", class: "float-center", id: "foot_image_innovaris_small", alt: "Innovaris Logo") %>
      </div>
      <div class="small-9 column float-center small-centered" style="margin-bottom:20px;">
        <%= image_tag("footer_Spain_logotype_translation.png", class: "float-center", id: "foot_image_small", alt: "Pacto Mundial Logo") %>
      </div>
      <div class="small-9 column float-center small-centered" style="margin-bottom:20px;">
        <%= image_tag("footer_S_SDG_logo_without_UN_emblem_horizontal_Transparent_WEB.png", class: "float-center", id: "foot_image3_small", alt: "Desarrollo Sostenible Logo") %>
      </div>
      <div class="small-9 column float-center small-centered" style="margin-bottom:20px;">
        <%= image_tag("footer_Red-DTI-Logo-negro.png", class: "float-center", id: "foot_image_small", alt: "Red DTI Logo") %>
      </div>
      <div class="small-9 column float-center small-centered" style="margin-bottom:20px;">
        <%= image_tag("footer_asociacion-espanola-para-la-calidad-logo-sin-claim.png", class: "float-center", id: "foot_image2_small", alt: "AEC Logo") %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to t("layouts.header.open_gov"), root_path %>
      </h1>

      <p class="info">
        <%= sanitize(t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow"))) %>
        <%= t("layouts.footer.contact_us") %>
      </p>
    </div>

    <div class="footer-sections small-12 large-8 column">
      <div class="small-12 medium-4 column">
        <%= link_to t("layouts.footer.participation_title"), root_path, class: "title" %>
        <p><%= t("layouts.footer.participation_text") %></p>
      </div>
      <div class="small-12 medium-4 column contact-custom">
        <h4>Contacta con nosotros</h4>
        <p class="link icon-mail-black">
          <%= link_to "Contacto", send_path %>
        </p>
        <p class="icon-phone-black">(+34) 922 033 300 | (+34) 928 092 900</p>
      </div>
    </div>
  </div>

  <div class="subfooter row " style="max-width:100%;">
    <div class="small-12 medium-12 large-12 column text-center">
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.recognitions"), recognitions_path %>&nbsp;|</li>
        <li class="inline-block"><%= t("layouts.footer.product") %><%= image_tag(image_path_for("innovarisgrey_360.png"), size: "90x30", alt: setting["org_name"]) %></li>
      </ul>
    </div>
  </div>
</footer>
