<footer>
  <div class="row">
    <div class="colors float-center">
      <div class="small-2 medium-2 column banner1"></div>
      <div class="small-2 medium-2 column banner2"></div>
      <div class="small-4 medium-4 column banner3"></div>
      <div class="small-2 medium-2 column banner4"></div>
      <div class="small-2 medium-2 column banner5"></div>
    </div>
    <div class="logos">
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_Innovaris horizontal.png", class: "float-center", id: "foot_image", alt: "Innovaris Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_Spain_logotype_translation.png", class: "float-center", id: "foot_image", alt: "Pacto Mundial Logo") %>
      </div>
      <div class="small-4 medium-4 column">
        <%= image_tag("footer_S_SDG_logo_without_UN_emblem_horizontal_Transparent_WEB.png", class: "float-center", id: "foot_image2", alt: "Desarrollo Sostenible Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_Red-DTI-Logo-negro.png", class: "float-center", id: "foot_image", alt: "Red DTI Logo") %>
      </div>
      <div class="small-2 medium-2 column">
        <%= image_tag("footer_asociacion-espanola-para-la-calidad-logo-sin-claim.png", class: "float-center", id: "foot_image", alt: "AEC Logo") %>
      </div>
    </div>
  </div>

  <div class="row" style="height:2px; width:100%; background-color:white; margin-top:10px; margin-bottom:10px;" ></div>

  <div class="row">
    <div class="small-12 medium-12 large-12 column social">
      <div class="text-center">
        <ul>
          <% if setting["twitter_handle"] %>
            <li>
              <%= link_to "https://twitter.com/#{setting["twitter_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.twitter", org: setting["org_name"]) + t("shared.target_blank") do %>
                              <span class="show-for-sr"><%= t("social.twitter", org: setting["org_name"]) %></span>
                              <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["facebook_handle"] %>
            <li>
              <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
                          title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
                          <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["youtube_handle"] %>
            <li>
              <%= link_to "https://www.youtube.com/#{setting["youtube_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.youtube", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.youtube", org: setting["org_name"]) %></span>
                          <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["linkedin_handle"] %>
            <li>
              <%= link_to "https://www.linkedin.com/company/#{setting["linkedin_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.linkedin", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.linkedin", org: setting["org_name"]) %></span>
                          <span class="icon-linkedin" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["instagram_handle"] %>
            <li>
              <%= link_to "https://www.instagram.com/#{setting["instagram_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.instagram", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.instagram", org: setting["org_name"]) %></span>
                          <span class="icon-instagram" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <%= raw content_block("footer", I18n.locale) %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" style="height:2px; width:50%; background-color:white; margin-bottom:10px;" ></div>

  <div class="row">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to t("layouts.header.open_gov"), root_path %>
      </h1>

      <p class="info">
        <%= sanitize(t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow"))) %>
        <%= t("layouts.footer.contact_us") %>
      </p>
    </div>

    <div class="footer-sections small-12 large-8 column">
      <div class="small-12 medium-4 column">
        <%= link_to t("layouts.footer.participation_title"), root_path, class: "title" %>
        <p><%= t("layouts.footer.participation_text") %></p>
      </div>
    </div>
  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>
  </div>
</footer>
