<header id="header">
  <div class="top-menu">
    <div class="row">
      <div class="small-12 medium-3 columns show-for-medium-up barcelona-link">
        <%= link_to 'www.barcelona.cat', "https://www.barcelona.cat" %>
      </div>

      <div class="small-12 medium-6 columns locale-switcher">
        <%= render "shared/locale_switcher" %>
      </div>

      <div class="medium-3 columns show-for-medium-up barcelona-link barcelona-switcher">
        <%= link_to 'ajuntament.barcelona.cat', "https://ajuntament.barcelona.cat" %>
      </div>
    </div>
  </div>

  <div class="header row">
    <div class="small-12 large-4 columns">
      <%= render 'layouts/title' %>
    </div>

    <div class="small-12 large-8 columns">
      <section class="session-menu">
        <ul>
          <%= render "shared/admin_login_items" %>
          <%= render "devise/menu/login_items" %>
        </ul>
      </section>
    </div>
  </div>

  <%= render partial: 'layouts/menu' %>
</header>
