<header>
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="row padding_top_bottom">
    <div class="top-bar">

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu") %>
      </span>


      <div class="top-bar-title">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for("logoavatopheader.png"), class: "float-left custom-logo-imagen", alt: t("layouts.header.logo")) %>
          <%= image_tag(image_path_for("logoaytowhite.png"), class: "float-left custom-logo-texto", alt: t("layouts.header.logo")) %>
        <% end %>
      </div>
	  
	  <div class="hide-for-small-only small-12 medium-8 menuTitleHeader">
        <%= render "shared/top_links" %>
		
		<div class="small-12 medium-4 column ">
			<div class="text-right">
				<ul>
				   <% if setting["youtube_handle"] %>
					<li class="inline-block padding_top_15">
					  <%= link_to "https://www.youtube.com/#{setting["youtube_handle"]}", target: "_blank",
								  title: t("shared.go_to_page") + t("social.youtube", org: setting["org_name"]) + t("shared.target_blank") do %>
								  <span class="show-for-sr"><%= t("social.youtube", org: setting["org_name"]) %></span>
								  <span class="icon-youtube fa_youtube_blanco" aria-hidden="true"></span>
					  <% end %>
					</li>
				  <% end %>
				  
				  <% if setting["twitter_handle"] %>
					<li class="inline-block padding_top_15">
					  <%= link_to "https://twitter.com/#{setting["twitter_handle"]}", target: "_blank",
								   title: t("shared.go_to_page") + t("social.twitter", org: setting["org_name"]) + t("shared.target_blank") do %>
									  <span class="show-for-sr"><%= t("social.twitter", org: setting["org_name"]) %></span>									  
									  <%= image_tag(image_path_for("twitter_x.png"), class: "custom-logo-twitter", alt: t("social.twitter")) %>
					  <% end %>
					</li>
				  <% end %>
				  
				  <% if setting["facebook_handle"] %>
					<li class="inline-block padding_top_15">
					  <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
								  title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank") do %>
								  <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
								  <span class="icon-facebook fa_facebook_blanco" aria-hidden="true"></span>
					  <% end %>
					</li>
				  <% end %>
				
				</ul>
			</div>
		</div>
      </div>

	  
	  
    </div>
  </div>

  <div id="navigation_bar" class="subnavigation expanded">
    <div class="row padding_top_bottom">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

  
  <div class="top-bar">
    <div id="responsive-menu" class="moverDerecha">
        <div class="top-bar-right">
          <ul class="menu menuTitleHeader2" data-responsive-menu="medium-dropdown">
            <%= render "shared/admin_login_items" %>
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  
</header>
