<header>

  <div class="row all-screen column">
    <div class="top-bar">


      <%= image_tag(image_path_for('logo-header.svg'), class: 'show-for-small-only float-left', alt: t("layouts.header.logo")) %>

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <span class="menu-text"> <%= t("application.menu")%> </span>
      </span>

      <div id="responsive-menu">
        <div class="top-bar-title">
          <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
            <%= image_tag(image_path_for('logo-header.svg'), class: 'hide-for-small-only float-left', alt: t("layouts.header.logo")) %>
          <% end %>
        </div>

        <div class="top-bar-right">
          <div class="top-bar-title">
            <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
              <%= image_tag(image_path_for('logo_pena.svg'), class: 'hide-for-small-only') %>
              <!-- <%= setting['org_name'] %> -->
            <% end %>
          </div>
        </div>

        <div class="top-bar-right">
          <div class="show-for-small-only">
            <div class="subnavigation row">
              <div class="small-12 column">
                <%= render "shared/subnavigation" %>
                <!-- <%= render "shared/top_links" %> -->
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row large-12 medium-12 small-12 columns">
      <div class="hide-for-small-only">
        <div class="small-12 medium-12">
          <ul>
            <%= render "shared/subnavigation" %>
            <div class="top-bar-right">
              <%= render "devise/menu/login_items" %>
              <%= render "shared/admin_login_items" %>
            </div>
          </ul>
        </div>
      </div>



    </div>
  </div>



</header>
