<header class="<%= header_css %>">
	<section class="top-links">
		<div class="row">
			<div class="small-12 column">
				<div class="right">
					<a href="#"><%= t("layouts.header.external_link_transparency") %></a> | <a href="#"><%= t("layouts.header.external_link_opendata") %></a>
				</div>
			</div>
		</div>
	</section>

	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<%= link_to root_path do %>
						<%= image_tag('header-logo-madrid.png', :class => 'left', :size => '96x96') %>
						<%= t("layouts.header.open_gov", open: "<strong>#{t('layouts.header.open')}</strong>").html_safe %> | <span><%= t("layouts.header.participation") %></span>
					<% end %>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span><%= t("layouts.header.menu") %></span></a></li>
			</ul>

			<section class="top-bar-section">
				<%= render 'devise/menu/login_items' %>
			</section>
		</nav>
	</div>

	<% if home_page? %>
		<div class="row">
			<div class="small-12 column text-center">
				<h1><%= t("layouts.header.open_city") %></h1>
				<h2><%= t("layouts.header.open_city_slogan") %></h2>
				<%= link_to t("layouts.header.create_debate"), new_debate_path, :class => 'button radius' %>
			</div>
		</div>
	<% end %>
</header>