<header>
  <section class="top-links show-for-medium-up">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div class="external-links">
        <%= link_to Setting['org_name'], root_path, class: ("selected" unless current_page?("/opendata")) %>&nbsp;|
        <%= link_to t("layouts.header.external_link_transparency"), t("layouts.header.external_link_transparency_url") %>&nbsp;|
        <%= link_to t("layouts.header.external_link_opendata"), "/opendata", class: ("selected" if current_page?("/opendata")) %>
      </div>
    </div>
  </section>

  <div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span><%= t("application.menu")%></span></a></li>
        <li class="name">
          <%= link_to root_path do %>
            <%= image_tag('header_logo_madrid.png', class: 'show-for-medium-up left', size: '80x80', alt: t("layouts.header.logo")) %>
            <% if opendata_page? %>
              <%= t("layouts.header.open_gov", open: "#{t('layouts.header.open')}") %> <span>|</span>
              <span class="logo-site"><%= t("layouts.header.open_data") %></span>
            <% else %>
               <%= Setting['org_name'] %>
            <% end %>
          <% end %>
        </li>
      </ul>

      <section class="top-bar-section">
        <%= render "devise/menu/login_items" %>
        <%= render "shared/admin_login_items" %>
      </section>

      <section class="subnavigation row">

        <div class="small-12 medium-9 column">
          <% if feature?(:debates) %>
            <%= link_to t("layouts.header.debates"), debates_path, class: ("active" if controller_name == "debates") %>
          <% end %>
          <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if  controller_name == "proposals") %>
          <% if feature?(:spending_proposals) %>
            <%= link_to t("layouts.header.spending_proposals"), spending_proposals_path, class: ("active" if controller_name == "spending_proposals") %>
          <% end %>
          <%= link_to t("layouts.header.more_information"), page_path('more_information'), class: ("active" if current_page?("/more_information"))  %>
          <% if Setting['blog_url'] %>
            <%= link_to Setting['blog_url'], target: "_blank" do %>
              <%= t("layouts.header.external_link_blog") %>
              <i class="icon-external"></i>
            <% end %>
          <% end %>
        </div>
        <div class="small-12 medium-3 column">
          <%= yield :header_addon %>
        </div>
      </section>
    </nav>
  </div>

  <div class="row-full subnavigation-background"></div>

  <% if home_page? %>
    <div class="row home-page">
      <div class="small-12 medium-7 column">
        <h1><%= t("layouts.header.open_city_title") %></h1>
        <p>
          <%= t("layouts.header.open_city_slogan_html") %>&nbsp;
          <%= link_to t("layouts.header.more_information"), page_path('more_information') %>
        </p>
        <div class="small-12 medium-6">
          <%= link_to t("layouts.header.see_all"), proposals_path, class: "button radius see-more warning expand" %>
        </div>
      </div>

      <div class="show-for-medium-up small-12 medium-5 column text-center">
        <%= image_tag("icon_home.png", size: "330x240", alt:"", role:"presentation") %>
      </div>
    </div>
  <% end %>

  <% if opendata_page? %>
    <div class="row home-page">
      <div class="small-12 medium-7 column">
        <h1><%= t("pages.opendata.title") %></h1>
        <h2><%= t("pages.opendata.slogan_html") %></h2>
        <%= link_to t("pages.opendata.go_old"), t("layouts.header.external_link_opendata_url"), target: "_blank", class: "button radius" %>
      </div>
      <div class="show-for-medium-up small-12 medium-5 column text-center">
        <%= image_tag("icon_home.png", size: "330x240", alt:"", role:"presentation") %>
      </div>
    </div>
  <% end %>
</header>
