<header>

  <%= render "shared/top_links" %>

  <div class="row">
    <div class="top-bar">

      <%= link_to Setting['org_name'], root_path, class: "logo show-for-small-only" %>

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu")%>
      </span>

      <div id="responsive-menu">
        <div class="top-bar-title">
          <%= link_to root_path, class: "hide-for-small-only" do %>
            <%= image_tag('header_logo_madrid.png', class: 'hide-for-small-only float-left', size: '80x80', alt: t("layouts.header.logo")) %>
            <% if opendata_page? %>
              <%= t("layouts.header.open_gov", open: "#{t('layouts.header.open')}") %> <span>|</span>
              <span class="logo-site"><%= t("layouts.header.open_data") %></span>
            <% else %>
               <%= setting['org_name'] %>
            <% end %>
          <% end %>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation row expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>
