<header id="header">
  <div class="top-menu">
    <div class="row">
      <div class="small-12 medium-3 columns show-for-medium-up barcelona-link">
        <%= link_to 'www.barcelona.cat', "https://www.barcelona.cat" %>
      </div>

      <div class="small-12 medium-6 columns locale-switcher">
        <%= render "shared/locale_switcher" %>
      </div>

      <div class="medium-3 columns show-for-medium-up barcelona-link barcelona-switcher">
        <%= link_to 'ajuntament.barcelona.cat', "https://ajuntament.barcelona.cat" %>
      </div>
    </div>
  </div>

  <div class="header-wrapper">
    <div class="session-menu">
      <div class="row">
        <div class="small-12 large-12 columns">
          <ul>
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>
      </div>
    </div>

    <% if content_for?(:header) %>
      <%= yield(:header) %>
    <% else %>
      <div class="header row">
        <div class="small-12 large-12 columns">
          <%= render 'layouts/title' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="main-menu-wrapper">
    <%= render partial: 'layouts/menu' %>
  </div>

  <% if content_for?(:header_addon) %>
    <div class="row">
      <section class="small-12 medium-4 medium-offset-8 large-3 large-offset-9 columns">
        <%= yield :header_addon %>
      </section>
    </div>
  <% end %>
</header>
