<div class="row">
  <nav class="main-menu small-12 columns">
    <%= link_to root_path, class: "#{'active' if home_page?} home" do %>
      <%= fa_icon 'home' %>
    <% end %>

    <%= link_to t("layouts.header.meetings"), meetings_path, class: ("active" if current_page?(controller: "/meetings")) %>
    <% if feature?(:debates) %>
      <%= link_to t("layouts.header.debates"), debates_path, class: ("active" if controller_name == "debates") %>
    <% end %>
    <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if  controller_name == "proposals") %>
    <% if feature?(:spending_proposals) %>
      <%= link_to t("layouts.header.spending_proposals"), spending_proposals_path, class: ("active" if controller_name == "spending_proposals") %>
    <% end %>
    <%= link_to t("layouts.header.more_information"), page_path('more_information'), class: ("active" if current_page?("/more_information"))  %>
    <%= link_to t("categories.title"), categories_path, class: ("active" if current_page?("/categories"))  %>
    <% if Setting['blog_url'] %>
      <%= link_to Setting['blog_url'], target: "_blank" do %>
        <%= t("layouts.header.external_link_blog") %>
        <i class="icon-external"></i>
      <% end %>
    <% end %>

  </nav>
</div>

<% if content_for?(:header_addon) %>
  <div class="row">
    <section class="small-12 medium-4 medium-offset-8 large-3 large-offset-9 columns">
      <%= yield :header_addon %>
    </section>
  </div>
<% end %>
