<% if current_user %>
  <span id="tracking_data"
        data-track-user-id="<%= current_user.id %>"
        data-track-verification-level="<%= verification_level(current_user) %>"
        data-track-age="<%= age(current_user) %>"
        data-track-gender="<%= gender(current_user) %>"
        data-track-district="<%= geozone(current_user) %>">
  </span>
<% end %>