<!DOCTYPE html>
<html lang="es">

  <head>
    <%= render "layouts/common_head", default_title: "Admin" %>
    <%= content_for :head %>
  </head>

  <body class="admin" data-watch-form-message="<%= I18n.t('layouts.admin.watch_form_message') %>">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

          <div class="show-for-small-only">
            <%= side_menu %>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <%= render 'layouts/admin_header' %>

          <div class="no-margin-top row expanded collapse" data-equalizer>
            <div class="small-12 medium-3 column" data-equalizer-watch>

              <div class="show-for-small-only">
                <button type="button" class="button hollow expanded" data-toggle="offCanvas"><%= t("admin.menu.admin") %></button>
              </div>

              <div id="side_menu" class="hide-for-small-only">
                <%= side_menu %>
              </div>
            </div>

            <div class="admin-content small-12 medium-9 column" data-equalizer-watch>
              <%= render 'layouts/flash' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
