<!DOCTYPE html>
<html <%= common_html_attributes %> data-current-user-id="<%= current_user&.id %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= content_for :canonical %>
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                         rel: "icon apple-touch-icon",
                         sizes: "200x200",
                         type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= raw setting["html.per_page_code_head"] %>
  </head>
  <body id="body" class="<%= yield(:body_class) %> public">
    <%= render Layout::SkipToMainContentComponent.new %>
    <%= raw setting["html.per_page_code_body"] %>
    <%= link_to t("skip_to_content"), "#main_content", class: "skip-to-content-link" %>

    <div class="wrapper <%= yield(:wrapper_class) %>">
      <%= render "layouts/header", with_subnavigation: true %>

      <main id="main" class="public-content <%= yield(:main_class) %>">
        <%= render "layouts/flash" %>
        <%= yield %>

        <% if feature?(:link_to_top) %>
          <%= render "layouts/link_to_top" %>
        <% end %>
      </main>
    </div>

    <div class="footer">
      <%= render Layout::FooterComponent.new %>
    </div>
  </body>
</html>
