<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <%= render "layouts/common_head", default_title: setting['org_name'] %>
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <%= content_for :canonical %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= setting['per_page_code_head'].try(:html_safe) %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= setting['per_page_code_body'].try(:html_safe) %>

    <h1 class="show-for-sr"><%= setting['org_name'] %></h1>

    <div class="wrapper <%= yield (:wrapper_class) %>">
      <%= render 'layouts/header' %>
      <%= render 'layouts/ie_version_too_old' %>
      <%= render 'layouts/flash' %>

      <%= yield %>

      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
    <span id="analytics">
      <%= render "layouts/analytics" %>
    </span>
  </body>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie_lt9" %>
  <![endif]-->
</html>
