<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Participación" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    </head>
  <body class="<%= "bg-white" if current_page?(root_path) %>">
    <div class="wrapper">
      <%= render 'layouts/header' %>

      <% if notice %>
        <div data-alert class="alert-box success alert-layout">
          <a href="#" class="close">&times;</a>
          <div class="row">
            <%= notice %>
          </div>
        </div>
      <% end %>

      <% if alert %>
        <div data-alert class="alert-box alert alert-layout">
          <a href="#" class="close">&times;</a>
          <div class="row">
            <%= alert %>
          </div>
        </div>
      <% end %>

      <%= yield %>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
