<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <%= render "layouts/common_head", default_title: setting['org_name'] %>
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <%= content_for :canonical %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= setting['per_page_code_head'].try(:html_safe) %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= setting['per_page_code_body'].try(:html_safe) %>

    <h1 class="show-for-sr"><%= setting['org_name'] %></h1>

    <div class="wrapper <%= yield (:wrapper_class) %>">
      <%= render 'layouts/header' %>

      <!--[if lt IE 9]>
      <% if browser.ie? && cookies['ie_alert_closed'] != 'true' %>
        <div data-alert class="callout primary ie-callout" data-closable>
          <button class="close-button ie-callout-close-js"
                  aria-label="<%= t("application.close") %>" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <h2><%= t("layouts.application.ie_title") %></h2>
          <p>
            <%= t("layouts.application.ie",
            chrome: link_to(
                    t("layouts.application.chrome"), "https://www.google.com/chrome/browser/desktop/", title: t("shared.target_blank_html"), target: "_blank"),
            firefox: link_to(
                     t("layouts.application.firefox"), "https://www.mozilla.org/firefox", title: t("shared.target_blank_html"), target: "_blank")
            ).html_safe %>
          </p>
        </div>
      <% end %>
      <![endif]-->

      <%= render 'layouts/flash' %>

      <%= yield %>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie_lt9" %>
  <![endif]-->
</html>
