<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= content_for?(:title) ? yield(:title) : "Participación" %></title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "vendor/modernizr" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag "favicon.ico" %>
    </head>
  <body class="<%= "bg-white" if current_page?(root_path) %>">

    <%= render 'layouts/header' %>

    <% if notice %>
        <p class="alert-box success alert-layout"><%= notice %></p>
    <% end %>

    <% if alert %>
        <p class="alert-box alert alert-layout"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
