<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= content_for?(:title) ? yield(:title) : "Gobierno abierto" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body class="auth-page">
    <div class="wrapper margin-top">
      <div class="row">
        <div class="small-12 medium-8 large-5 column small-centered margin-top">
          <h1>
            <%= link_to root_path do %>
              <%= image_tag('header_logo_madrid.png', class: 'show-for-medium-up left', size: '96x96', alt: t("layouts.header.logo")) %>
              <%= t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe %>
            <% end %>
          </h1>
        </div>
      </div>

      <div class="row auth">
        <div class="small-12 medium-8 large-5 column small-centered">
          <div class="panel">
            <% if notice %>
              <div data-alert class="alert-box radius success">
                <a href="#" class="close" title="<%= t("application.close") %>">&times;</a>
                  <%= notice %>
              </div>
            <% end %>

            <% if alert %>
              <div data-alert class="alert-box radius warning">
                <a href="#" class="close" title="<%= t("application.close") %>">&times;</a>
                  <%= alert %>
              </div>
            <% end %>

            <%= yield %>

          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>