<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Participación" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body class="auth-page">

    <% if notice %>
        <p class="alert-box success alert-layout"><%= notice %></p>
    <% end %>

    <% if alert %>
        <p class="alert-box alert alert-layout"><%= alert %></p>
    <% end %>

    <div class="row">
      <div class="small-12 medium-8 large-5 column small-centered">
        <h1>
          <%= link_to root_path do %>
            <%= image_tag('logo_madrid_white.png', class: 'left', size: '96x96') %>
            <%= t("layouts.header.open_gov", open: "<strong>#{t('layouts.header.open')}</strong>").html_safe %> | <span><%= t("layouts.header.participation") %></span>
          <% end %>
        </h1>
      </div>
    </div>

    <%= yield %>

  </body>
</html>