<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Participación" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body class="auth-page">

    <div class="row">
      <div class="small-12 medium-8 large-5 column small-centered">
        <h1>
          <%= link_to root_path do %>
            <%= image_tag("auth_logo.png", class: "left", size: "450x96", alt: t('layouts.header.logo')) %>
          <% end %>
        </h1>
      </div>
    </div>

    <div class="row auth">
    <div class="small-12 medium-8 large-5 column small-centered">
      <div class="panel">
        <% if notice %>
          <div data-alert class="alert-box radius success">
            <a href="#" class="close">&times;</a>
              <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div data-alert class="alert-box radius warning">
            <a href="#" class="close">&times;</a>
              <%= alert %>
          </div>
        <% end %>

        <%= yield %>

      </div>
    </div>
  </div>
  </body>
</html>