<!DOCTYPE html>
<html lang="es">

  <head>
    <%= render "layouts/common_head", default_title: "Management" %>
    <%= stylesheet_link_tag  "print", media: "print" %>
    <%= content_for :head %>
  </head>

  <body class="admin">
    <header class="header">
      <div class="top-links">
        <div class="expanded row">
          <%= render "shared/locale_switcher" %>
        </div>
      </div>

      <div class="expanded row admin-top-bar">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text">
                <h1>
                  <%= link_to management_root_path do %>
                    <%= setting["org_name"] %>
                    <br><small><%= t("management.dashboard.index.title") %></small>
                  <% end %>
                </h1>
              </li>
            </ul>
          </div>
          <% if show_admin_menu?(manager_logged_in) %>
            <div id="responsive_menu">

              <div class="top-bar-right">
                <ul class="menu" data-responsive-menu="medium-dropdown">
                  <%= render "admin/shared/admin_shortcuts", current_user: manager_logged_in %>
                  <%= render "shared/admin_login_items", current_user: manager_logged_in %>
                  <%= render "devise/menu/login_items", current_user: manager_logged_in %>
                </ul>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </header>

    <main class="no-margin-top row expanded collapse">
      <div class="small-12 medium-3 column">
        <%= render "/management/menu" %>
      </div>

      <%= render "management/account_info" %>

      <div class="admin-content small-12 medium-9 column">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </main>

  </body>
</html>
