<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <%= render "layouts/common_head", default_title: "Management" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= content_for :head %>
  </head>

  <body class="admin">
    <header class="header">
      <div class="top-links">
        <div class="expanded row">
          <%= render "shared/locale_switcher" %>
        </div>
      </div>

      <div class="expanded row admin-top-bar">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text">
                <h1>
                  <%= link_to management_root_path do %>
                    <%= setting["org_name"] %>
                    <br><small><%= t("management.dashboard.index.title") %></small>
                  <% end %>
                </h1>
              </li>
            </ul>
          </div>
          <% if show_admin_menu?(manager_logged_in) %>
            <div id="responsive_menu">

              <div class="top-bar-right">
                <ul class="menu" data-responsive-menu="medium-dropdown">
                  <%= render "shared/admin_login_items", current_user: manager_logged_in %>
                  <%= render "devise/menu/login_items", current_user: manager_logged_in %>
                </ul>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </header>

    <div class="menu-and-content">
      <%= check_box_tag :show_menu, nil, false, role: "switch" %>

      <nav class="admin-sidebar">
        <%= render "/management/menu" %>
      </nav>

      <main class="admin-content">
        <%= label_tag :show_menu, t("admin.menu.admin"),
                      "aria-hidden": true, class: "button hollow expanded" %>

        <%= render "management/account_info" %>
        <%= render "layouts/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
