<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>">

  <head>
    <%= render "layouts/common_head", default_title: "Management" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= content_for :head %>
  </head>

  <body class="admin">
    <%= render "layouts/admin_header", current_user: manager_logged_in %>

    <div class="menu-and-content">
      <%= check_box_tag :show_menu, nil, false, role: "switch" %>

      <nav class="admin-sidebar">
        <%= render "/management/menu" %>
      </nav>

      <main class="admin-content">
        <%= label_tag :show_menu, t("admin.menu.admin"),
                      "aria-hidden": true, class: "button hollow expanded" %>

        <%= render "management/account_info" %>
        <%= render "layouts/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
