<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <title><%= content_for?(:title) ? yield(:title) : setting['org_name'] %></title>
    <%= content_for :canonical %>
    <%= stylesheet_link_tag    "application" %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= setting['per_page_code_head'].try(:html_safe) %>
  </head>
  <body class="proposal-dashboard">
    <%= setting['per_page_code_body'].try(:html_safe) %>

    <h1 class="show-for-sr"><%= setting['org_name'] %></h1>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

          <div class="show-for-small-only">
            <div class="dashboard-sidebar" data-equalizer-watch>
              <%= render partial: 'proposals_dashboard/menu' %>
            </div>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <%= render partial: 'layouts/header', locals: {with_subnavigation: false} %>

          <div class="no-margin-top row expanded collapse" data-equalizer>
            <div class="small-12 medium-3 column" data-equalizer-watch>

              <div class="show-for-small-only">
                <button type="button" class="button hollow expanded" data-toggle="offCanvas"><%= t("admin.menu.admin") %></button>
              </div>

              <div id="side_menu" class="hide-for-small-only">
                <div class="dashboard-sidebar" data-equalizer-watch>
                  <%= render partial: 'proposals_dashboard/menu' %>
                </div>
              </div>
            </div>
            <div class="admin-content small-12 medium-9 column" data-equalizer-watch>
              <%= render partial: 'layouts/flash' %>
              <%= render partial: 'layouts/dashboard/proposal_header' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
