<% provide :main_class, "admin-debates-index" %>

<%= header %>

<% if debates.any? %>
  <%= render Admin::SearchComponent.new(label: t("admin.shared.search.label.debates")) %>

  <%= render Shared::DownloadCsvLinkComponent.new(path_helper: :admin_debates_path) %>
  <h3><%= page_entries_info debates %></h3>

  <table>
    <thead>
      <tr>
        <th class="text-center"><%= t("admin.debates.index.id") %></th>
        <th><%= Debate.human_attribute_name(:title) %></th>
        <th><%= t("admin.debates.index.author") %></th>
      </tr>
    </thead>

    <tbody>
      <% debates.each do |debate| %>
        <tr id="<%= dom_id(debate) %>" class="debates">
          <td class="text-center"><%= debate.id %></td>
          <td><%= link_to debate.title, admin_debate_path(debate) %></td>
          <td><%= debate.author.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate debates %>
<% else %>
  <div class="callout primary margin">
    <%= t("admin.debates.index.no_debates") %>
  </div>
<% end %>
