<%= back_link_to %>

<h2><%= t("devise_views.users.registrations.delete_form.title") %></h2>

<%= form_for(resource, as: resource_name,
             url: users_registrations_path,
             html: { method: :delete }) do |f| %>
  <%= devise_error_messages! %>

  <div data-alert class="callout alert">
    <%= t("devise_views.users.registrations.delete_form.info") %>
  </div>
  <p>
    <%= t("devise_views.users.registrations.delete_form.info_reason") %>
  </p>

  <%= f.text_field :erase_reason,
        autofocus: true,
        placeholder: t("devise_views.users.registrations.delete_form.erase_reason_label"),
        label: t("devise_views.users.registrations.delete_form.erase_reason_label") %>

  <%= f.submit t("devise_views.users.registrations.delete_form.submit"), class: "button alert expanded" %>
<% end %>
