<h2><%= t('omniauth.finish_signup.title') %></h2>

<%= form_for current_user, as: :user, url: do_finish_signup_path, html: { role: 'form'} do |f| %>
  <%= render 'shared/errors', resource: current_user %>
  <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label"), value: nil %>
  <%= f.submit t("devise_views.users.registrations.new.submit"), class: 'button radius expand' %>
<% end %>
